:host {
  display: block;
  padding: 2px 10px;
}

:host([hidden]),
:host([hidden-by-filter]) {
  display: none !important;
}

:host:after,
:host:before {
  content: '\2713 ';
  opacity: 0;
}

:host([aria-selected="true"]):before {
  opacity: 1;
}

:host([active-descendant]) {
  background-color: var(--_active-descendant-color, transparent);
}