// ========================================================================
// DEPRECATED COLORS!
//
// Note: If your PFElements is relying on any of these colors, please
//       upgrade it to utilize the $pfe-colors map!
//
// ========================================================================



// ========================================================================
// PatternFly COLORS
// ========================================================================

$pf-color-black-100:             #fafafa !default;
$pf-color-black-150:             #f5f5f5 !default;
$pf-color-black-200:             #ededed !default; // shared color - $pfe-global--color--gray-nimbus
$pf-color-black-300:             #d1d1d1 !default;
$pf-color-black-400:             #bbb !default;
$pf-color-black-500:             #8b8d8f !default;
$pf-color-black-600:             #72767b !default;
$pf-color-black-700:             #4d5258 !default;
$pf-color-black-800:             #393f44 !default;
$pf-color-black-900:             #292e34 !default;
$pf-color-black-1000:            #030303 !default;
$pf-color-blue-50:               #def3ff !default;
$pf-color-blue-100:              #bee1f4 !default;
$pf-color-blue-200:              #7dc3e8 !default;
$pf-color-blue-300:              #39a5dc !default;
$pf-color-blue-400:              #0088ce !default; // shared color - $pfe-global--color--blue-peacock
$pf-color-blue-500:              #00659c !default;
$pf-color-blue-600:              #004368 !default;
$pf-color-blue-700:              #002235 !default;
$pf-color-cyan-100:              #bedee1 !default;
$pf-color-cyan-200:              #7dbdc3 !default;
$pf-color-cyan-300:              #3a9ca6 !default;
$pf-color-cyan-400:              #007a87 !default; // shared color - $pfe-global--color--teal
$pf-color-cyan-500:              #005c66 !default;
$pf-color-cyan-600:              #003d44 !default;
$pf-color-cyan-700:              #001f22 !default;
$pf-color-gold-100:              #fbeabc !default;
$pf-color-gold-200:              #f9d67a !default;
$pf-color-gold-300:              #f5c12e !default;
$pf-color-gold-400:              #f0ab00 !default; // shared color - $pfe-global--color--gold
$pf-color-gold-500:              #b58100 !default;
$pf-color-gold-600:              #795600 !default;
$pf-color-gold-700:              #3d2c00 !default;
$pf-color-green-100:             #cfe7cd !default;
$pf-color-green-200:             #9ecf99 !default;
$pf-color-green-300:             #6ec664 !default;
$pf-color-green-400:             #3f9c35 !default; // shared color - $pfe-global--color--green-verde
$pf-color-green-500:             #2d7623 !default;
$pf-color-green-600:             #1e4f18 !default;
$pf-color-green-700:             #0f280d !default;
$pf-color-light-blue-100:        #beedf9 !default;
$pf-color-light-blue-200:        #7cdbf3 !default;
$pf-color-light-blue-300:        #35caed !default;
$pf-color-light-blue-400:        #00b9e4 !default; // shared color - $pfe-global--color--blue-sky-deep
$pf-color-light-blue-500:        #008bad !default;
$pf-color-light-blue-600:        #005c73 !default;
$pf-color-light-blue-700:        #002d39 !default;
$pf-color-light-green-100:       #e4f5bc !default;
$pf-color-light-green-200:       #c8eb79 !default;
$pf-color-light-green-300:       #ace12e !default;
$pf-color-light-green-400:       #92d400 !default; // shared color - $pfe-global--color--green
$pf-color-light-green-500:       #6ca100 !default;
$pf-color-light-green-600:       #486b00 !default;
$pf-color-light-green-700:       #253600 !default;
$pf-color-orange-100:            #fbdebf !default;
$pf-color-orange-200:            #f7bd7f !default;
$pf-color-orange-300:            #f39d3c !default;
$pf-color-orange-400:            #ec7a08 !default; // shared color - $pfe-global--color--orange
$pf-color-orange-500:            #b35c00 !default;
$pf-color-orange-600:            #773d00 !default;
$pf-color-orange-700:            #3b1f00 !default;
$pf-color-purple-100:            #c7bfff !default;
$pf-color-purple-200:            #a18fff !default;
$pf-color-purple-300:            #8461f7 !default;
$pf-color-purple-400:            #703fec !default;
$pf-color-purple-500:            #582fc0 !default;
$pf-color-purple-600:            #40199a !default;
$pf-color-purple-700:            #1f0066 !default;
$pf-color-red-100:               #c00 !default;    // shared color - $pfe-global--color--red
$pf-color-red-200:               #a30000 !default; // shared color - $pfe-global--color--red-brick
$pf-color-red-300:               #8b0000 !default;
$pf-color-red-400:               #470000 !default;
$pf-color-red-500:               #2c0000 !default;

$pf-color-white:                 #fff !default;    // shared color - $pfe-global--color--white



// ========================================================================
// ALL OF THESE MUST BE RESOLVED.
// ========================================================================
$pfe-global--color--white:             $pf-color-white !default;
$pfe-global--color--black:             #1a1a1a !default; // We don't use true black on the web.
$pfe-global--color--red:               $pf-color-red-100 !default; // Not to be used as a background color (except in site footer) or as an error color.

$pfe-global--color--gray-gainsboro:    #dcdcdc !default;  // Official color name
$pfe-global--color--gray-space:        #4c4c4c !default;  // Official color name Outer Space.

$pfe-global--color--blue-sky:          #a3dbe8 !default;
$pfe-global--color--blue-sky-deep:     $pf-color-light-blue-400 !default;
$pfe-global--color--gold:              $pf-color-gold-400 !default;
$pfe-global--color--green:             $pf-color-light-green-400 !default;
$pfe-global--color--purple:            #7551a6 !default;
$pfe-global--color--teal:              $pf-color-cyan-400 !default;
$pfe-global--color--teal-dark:         #004153 !default;     // Brand as "Dark Blue"

// RH-specific Accents
$pfe-global--color--blue-peacock:      $pf-color-blue-400 !default;
$pfe-global--color--orange:            $pf-color-orange-400 !default; // Near match to "Tangerine"
$pfe-global--color--green-verde:       $pf-color-green-400 !default;
$pfe-global--color--gray-charcoal:     #37424a !default;     // Or Big Stone
$pfe-global--color--gray-nickel:       #7a858b !default;     // Or Regent Gray
$pfe-global--color--black-soft:        #252527 !default;     // Or Jaguar?

// RH Reds
$pfe-global--color--red-brick:         $pf-color-red-200 !default; // Or Bright Blood Red
$pfe-global--color--red-maroon:        #820000 !default;     // Or Burgundy, or Dark Red
$pfe-global--color--red-garnet:        #6e0000 !default;     // Or Rosewood or Blood or Currant
$pfe-global--color--red-morello:       #5a0000 !default;     // Near match to Chocolate Cosmos
$pfe-global--color--red-red-wine:      #460000 !default;
$pfe-global--color--red-daredevil:     #320000 !default;

// RH Grays
$pfe-global--color--gray-moon:         #f0f0f0 !default;      // Made up name.
$pfe-global--color--gray-platinum:     #e7e7e7 !default;      // Personal choice, close to Gainsboro. Was #e6e6e6, but fails contrast ratio w/ link colors.
$pfe-global--color--gray-mercury:      #d2d2d2 !default;      // Official name: Light Gray
$pfe-global--color--gray-fog:          #bebebe !default;
$pfe-global--color--gray-stone:        #aaa !default;
$pfe-global--color--gray-storm:        #969696 !default;      // Near official name: Spanish Gray
$pfe-global--color--gray-battleship:   #828282 !default;      // Near official name: Battleship Gray
$pfe-global--color--gray-batman:       #6e6e6e !default;      // Official name: Dim Gray
$pfe-global--color--gray-umbra:        #5a5a5a !default;      // Near official name: Davy's Gray Or Mortar
$pfe-global--color--gray-iron:         #464646 !default;      // Near Sherwin Williams.
$pfe-global--color--gray-night:        #333 !default;         // Used to be #323232. Simplified to match text-color.
$pfe-global--color--black-nero:        #1e1e1e !default;      // Vader?

// CP Grays
$pfe-global--color--gray-nimbus:       $pf-color-black-200 !default; // Border-color!
$pfe-global--color--gray-silver:       #ccc !default;         // Used to be called $misty

// CP-specific
$pfe-global--color--blue-rain:         #264a60 !default;
$pfe-global--color--blue-denim:        #06c !default;         // Or navy-bright?
$pfe-global--color--blue-navy:         #004080 !default;
$pfe-global--color--blue-azure:        #0076e0 !default;

$pfe-global--color--blue-maya:         #73bcf7 !default;      // Link
$pfe-global--color--blue-dodger:       #2b9af3 !default;      // Hover
$pfe-global--color--purple-amethyst:   #967abd !default;
$pfe-global--color--purple-rain:       #3b0083 !default;      // Old RH purple.


$pfe-global--color--product-lines: (
  default:             $pfe-global--color--black-soft,
  storage:             $pfe-global--color--gold,
  storage--dark:       $pfe-global--color--orange,
  infrastructure:      $pfe-global--color--blue-sky-deep, // Used to be linux-platforms
  infrastructure--dark:$pfe-global--color--blue-peacock,
  app-dev:             $pfe-global--color--green,
  app-dev--dark:       $pfe-global--color--green-verde,
  support:             $pfe-global--color--gray-nickel,
  support--dark:       $pfe-global--color--gray-charcoal
) !default;


// PALETTE REDS
$pfe-global--color--red-dark1:         $pfe-global--color--red-brick !default;
$pfe-global--color--red-dark2:         $pfe-global--color--red-maroon !default;
$pfe-global--color--red-dark3:         $pfe-global--color--red-garnet !default;
$pfe-global--color--red-dark4:         $pfe-global--color--red-morello !default;
$pfe-global--color--red-dark5:         $pfe-global--color--red-red-wine !default;
$pfe-global--color--red-dark6:         $pfe-global--color--red-daredevil !default;

// PALETTE GRAYS: lightest to darkest
$pfe-global--color--gray1:             $pfe-global--color--gray-moon !default;
$pfe-global--color--gray2:             $pfe-global--color--gray-platinum !default;
$pfe-global--color--gray3:             $pfe-global--color--gray-mercury !default;
$pfe-global--color--gray4:             $pfe-global--color--gray-fog !default;
$pfe-global--color--gray5:             $pfe-global--color--gray-stone !default;
$pfe-global--color--gray6:             $pfe-global--color--gray-storm !default;
$pfe-global--color--gray7:             $pfe-global--color--gray-battleship !default;
$pfe-global--color--gray8:             $pfe-global--color--gray-batman !default;
$pfe-global--color--gray9:             $pfe-global--color--gray-umbra !default;
$pfe-global--color--gray10:            $pfe-global--color--gray-iron !default;
$pfe-global--color--gray11:            $pfe-global--color--gray-night !default;
$pfe-global--color--gray12:            $pfe-global--color--black-nero !default;


// ========================================================================
// UI Colors
// Where context switches...
// ========================================================================

$pfe-global--text-color:           $pfe-global--color--gray-night !default; // #333
$pfe-global--text-color--inverted: $pfe-global--color--white !default;

// Text links on _white_ or _light_ backgrounds
$pfe-global--link-color:           $pfe-global--color--blue-denim !default;    // Link
$pfe-global--link-color--hover:    $pfe-global--color--blue-navy !default;     // Hover
$pfe-global--link-color--focus:    $pfe-global--color--blue-navy !default;     // Focus
$pfe-global--link-color--active:   $pfe-global--color--blue-navy !default;     // Active
$pfe-global--link-color--visited:  $pfe-global--color--purple !default;        // :Visited

// Text links on _dark grey_ or _black_ backgrounds
$pfe-global--link-color--inverted:          $pfe-global--color--blue-maya !default; // Link
$pfe-global--link-color--inverted--hover:   $pfe-global--color--blue-dodger !default; // Hover
$pfe-global--link-color--inverted--focus:   $pfe-global--color--blue-dodger !default; // Focus
$pfe-global--link-color--inverted--active:  $pfe-global--color--blue-dodger !default; // Active
$pfe-global--link-color--inverted--visited: $pfe-global--color--purple-amethyst !default;

// UI elements, like buttons
$pfe-global--ui-element-color:           $pfe-global--color--blue-azure !default;   // Smaller elements, like solid buttons
$pfe-global--ui-element-color--hover:    $pfe-global--color--blue-navy !default;
$pfe-global--ui-element-color--focus:    $pfe-global--color--blue-navy !default;
$pfe-global--ui-element-color--active:   $pfe-global--color--blue-navy !default;

// States, e.g. Filter button on search.
// Questions here...
$pfe-global--hover-state--Color:               $pfe-global--color--red !default;
$pfe-global--hover-state--BackgroundColor:     $pfe-global--color--red-maroon !default;
$pfe-global--hover-state--BorderColor:         $pfe-global--color--red-maroon !default;
// Questions here...
$pfe-global--active-state--Color:              $pfe-global--color--blue-navy !default;
$pfe-global--active-state--BackgroundColor:    $pf-color-blue-100 !default;
$pfe-global--active-state--BorderColor:        $pf-color-blue-100 !default;
// Questions here...
$pfe-global--disabled-state--Color:              $pfe-global--color--gray-stone !default;
$pfe-global--disabled-state--BackgroundColor:    $pfe-global--color--gray-mercury !default;
$pfe-global--disabled-state--BorderColor:        $pfe-global--color--gray-mercury !default;


// ========================================================================
// Theme colors
// ========================================================================

// @TODO I think these are misplaced. Should be in the theme instead.
// $pfe-global--primary-color:         $pfe-global--color--red !default;
// $pfe-global--secondary-color:       $pf-color-black-600 !default;
//
// $pfe-global--light-color:         $pf-color-black-100 !default;
// $pfe-global--dark-color:          $pf-color-black-800 !default;

$pfe-global--success-color:         $pf-color-green-100 !default;
$pfe-global--success-color--dark:   $pfe-global--color--green !default;
$pfe-global--info-color:            $pf-color-cyan-100 !default;
$pfe-global--info-color--dark:      $pfe-global--color--teal !default;
$pfe-global--warning-color:         $pf-color-orange-100 !default;
$pfe-global--warning-color--dark:   $pfe-global--color--orange !default;
$pfe-global--danger-color:          $pfe-global--color--red !default;
$pfe-global--danger-color--dark:    $pfe-global--color--red-maroon !default;
