:host {
  display: block;
  max-width: var(--_max-width, initial);
}
[hidden] {
  display: none !important;
}
header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.hasBody header {
  margin-block-end: var(--pf-global--spacer--xs, 4px);
}

footer.hasActions {
  margin-block-start: var(--pf-global--spacer--lg, 16px);
}
footer ::slotted([slot='actions']:not(pf-button[variant='link' i])) {
  margin-inline-end: var(--pf-global--spacer--xl, 24px) !important;
  padding: 0 !important;
  border: none !important;
  background-color: transparent !important;
  color: var(--pf-global--link--Color, #0066cc) !important;
  font-size: var(--pf-global--FontSize--sm, 0.875rem) !important;
  font-family: var(--pf-global--FontFamily--text, "RedHatText", Helvetica, Arial, sans-serif) !important;
}
footer ::slotted([slot='actions']:focus) {
  text-decoration: underline !important;
  color: var(--pf-global--link--Color--hover, #004080) !important;
}

footer ::slotted([slot='actions']:hover) {
  cursor: pointer !important;
  text-decoration: underline !important;
  color: var(--pf-global--link--Color--hover, #004080) !important;
}

footer ::slotted(pf-button[variant='link' i]) {
  display: inline-block;
  translate: calc(-1 * var(--pf-global--spacer--lg, 16px));
}
/* ====== Container ====== */
#container {
  --_background-color: var(--pf-global--BackgroundColor--100, #f0f0f0);
  --_border-color: var(--pf-global--BorderColor--100, #d2d2d2);
  --_icon-color: var(--pf-global--icon--Color--light, #6a6e73);

  border-width: var(--pf-global--BorderWidth--md, 2px);
  border-style: solid;
  border-color: var(--_border-color);
  border-inline-start-color: transparent;
  border-block-end-color: transparent;
  border-inline-end-color: transparent;
  background-color: var(--_background-color);
  box-shadow: var(--_box-shadow, none);
  padding: var(--pf-global--spacer--lg, 16px);
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: var(--pf-global--spacer--xs, 4px);
  font-family: var(--pf-global--FontFamily--text, "RedHatText", Helvetica, Arial, sans-serif);
  font-weight: var(--pf-global--FontWeight--normal, 400);
  font-size: var(--pf-global--FontSize--sm, 0.875rem);
  line-height: var(--pf-global--LineHeight--sm, 1.5);
}
#container.neutral {
  --_border-color: var(--pf-global--palette--black-400, #8a8d90);
  --_icon-color: var(--pf-global--palette--black-700, #3c3f42);
  --_background-color: var(--pf-global--BackgroundColor--100, #f0f0f0);
}

#container.info {
  --_border-color: var(--pf-global--info-color--100, #06c);
  --_icon-color: var(--pf-global--info-color--100, #06c);
  --_background-color: var(--pf-global--palette--blue-50, #e7f1fa);
}

#container.success {
  --_border-color: var(--pf-global--success-color--100, #3e8635);
  --_icon-color: var(--pf-global--success-color--100, #3e8635);
  --_background-color: var(--pf-global--palette--green-50, #f3faf2);
}

#container.caution,
#container.warning {
  --_border-color: var(--pf-global--warning-color--100, #f0ab00);
  --_icon-color: var(--pf-global--warning-color--100, #f0ab00);
  --_background-color: var(--pf-global--palette--gold-50, #fdf7e7);
}

#container.danger {
  --_border-color: var(--pf-global--danger-color--100, #c9190b);
  --_icon-color: var(--pf-global--danger-color--100, #c9190b);
  --_background-color: var(--pf-global--palette--red-50, #faeae8);
}
/* ===== Variants ===== */
#container.toast {
  --_background-color: var(--pf-global--BackgroundColor--light-100, #ffffff);
  --_max-width: 550px;
  --_box-shadow: var(--pf-global--BoxShadow--xl, 0 8px 24px 3px rgba(21, 21, 21, 0.35));
}

#container.alternate {
  border-inline-start-color: var(--_border-color);
  border-block-end-color: var(--_border-color);
  border-inline-end-color: var(--_border-color);
}

#header {
  color: var(--pf-global--Color--100, #151515);
  flex: 1 1 auto;
}

#icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--pf-global--icon--FontSize--md, 24px);
  height: var(--pf-global--icon--FontSize--md, 24px);
  color: var(--_icon-color);
}

#close-button {
  color: var(--pf-global--Color--200, #6a6e73);
  background-color: transparent;
  border: none;
  height: var(--pf-global--spacer--xl, 24px);
  width: var(--pf-global--spacer--xl, 24px);
  cursor: pointer;
}

#close-button:hover {
  color: var(--pf-global--Color--100, #151515);
}