
:host {
  display: block;
  max-width: var(--pf-c-alert--MaxWidth, initial);
}

[hidden] {
  display: none !important;
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.hasBody header {
  margin-block-end: var(--pf-global--spacer--xs, 4px);
}

footer.hasActions {
  margin-block-start: var(--pf-global--spacer--lg, 16px);
}

footer ::slotted([slot='actions']:not(pf-button[variant='link' i])) {
  margin-inline-end: var(--pf-global--spacer--xl, 24px) !important;
  padding: 0 !important;
  border: none !important;
  background-color: transparent !important;
  color: var(--pf-global--palette--blue-400,#06c) !important;
  font-size: var(--pf-global--FontSize--sm, 0.875rem) !important;
  font-family: var(--pf-global--FontFamily--text, "RedHatText", Helvetica, Arial, sans-serif) !important;
}
footer ::slotted([slot='actions']:focus) {
  text-decoration: underline !important;
  color: var(--pf-global--link--Color--hover, #030608) !important;
}

footer ::slotted([slot='actions']:hover) {
  cursor: pointer !important;
  text-decoration: underline !important;
  color: var(--pf-global--link--Color--hover, #030608) !important;
}

footer ::slotted(pf-button[variant='link' i]) {
  display: inline-block;
  translate: calc(-1 * var(--pf-global--spacer--lg, 16px));
}

#container {
  --_background-color: var(--pf-global--BackgroundColor--100, #daf2f2);
  --_border-color: var(--pf-global--BorderColor--100, #37a3a3);
  --_icon-color: var(--pf-global--icon--Color--light, #37a3a3);
/* מסגרת */
  border-width: var(--pf-global--BorderWidth--md, 2px);
  border-style: solid;
  border-color: var(--_border-color);
  border-inline-start-color: transparent;
  border-block-end-color: transparent;
  border-inline-end-color: transparent;
  background-color: var(--_background-color);
  box-shadow: var(--_box-shadow, none);
  padding: var(--pf-global--spacer--lg, 16px);
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: var(--pf-global--spacer--xs, 4px);
  font-family: var(--pf-global--FontFamily--text, RedHatText, 'Red Hat Text', Helvetica, Arial, sans-serif);
  /* font-weight: var(--pf-global--FontWeight--regular, 4000); */
  /* font-size: var(--pf-global--FontSize--sm, 0.875rem); */
  line-height: var(--pf-global--lineHeight--md, 1.5);

  max-width: var(--_max-width, var(--pf-c-alert--MaxWidth, initial));
  box-shadow: var(--_box-shadow, none);
  /* כותרת */
  & header ::slotted(*) {
    font-family: var(--pf-global--FontFamily--text, RedHatText, 'Red Hat Text', Helvetica, Arial, sans-serif) !important;
    /* font-weight: var(--pf-global--FontWeight--semiBold, 500) !important; */
    font-size: var(--pf-global--FontSize--sm, 0.875rem) !important;
    line-height: var(--pf-global--lineHeight--md, 1.5) !important;
    margin: 0 !important;
  }
/* מסדרים מרווח שניהם ביחד בין הכותרת לכיתוב */
  & header ::slotted(:is(h1,h2,h3,h4,h5,h6)) {
    padding-block: 2px var(--pf-global--spacer--xs, 4px) !important; 
  }

  & #description {
    & > ::slotted(*) {
      font-size: var(--pf-global--FontSize--sm, 0.875rem) !important;
      margin-block: 0 !important;
      padding: 0 !important;
    }
  }
}

#container.neutral {
  --_border-color: var(--pf-global--palette--black-800,
#3c3f42);
  --_icon-color: var(--pf-global--palette--black-800,
#3c3f42);
  --_background-color: var(--pf-global--palette--black-200,
#f0f0f0);
}

#container.info {
  --_border-color: var(--pf-global--palette--purple-500,
#6753ac);
  --_icon-color: var(--pf-global--palette--purple-500,
#6753ac);
  --_background-color: var(--pf-global--palette--purple-50,
#f2f0fc);
}

#container.success {
  --_border-color: var(--pf-global--success-color--100,
#3e8635);
  --_icon-color: var(--pf-global--success-color--100,
#3e8635);
  --_background-color: var(--pf-global--palette--green-50,
#f3faf2);
}

#container.warning{
  --_border-color: var(--pf-global--warning-color--100,
#f0ab00);
  --_icon-color: var(--pf-global--warning-color--100,
#f0ab00);
  --_background-color: var(--pf-global--palette--gold-50,
#fdf7e7);
}
#container.caution {
  --_border-color: var(--pf-global--palette--orange-400,
#c46100);
  --_icon-color: var(--pf-global--palette--orange-400,
#c46100);
  --_background-color: var(--pf-global--palette--orange-50,
#fff6ec);
}

#container.danger {
  --_border-color: var(--pf-global--danger-color--200,
#a30000);
  --_icon-color: var(--pf-global--danger-color--200,
#a30000);
  --_background-color: var(--pf-global--palette--red-50,
#faeae8);
}


#container.toast {
  --_background-color: var(--pf-global--BackgroundColor--100,#FFFFFF);
  --_max-width: var(--pf-c-alert--MaxWidth--toast, 550px);
  --_box-shadow: var(--pf-global--BackgroundColor--dark-100
,#151515);
}

#container.alternate {
  border-inline-start-color: var(--pf-c-alert__BorderColor--alternate, var(--_border-color));
  border-block-end-color: var(--pf-c-alert__BorderColor--alternate, var(--_border-color));
  border-inline-end-color: var(--pf-c-alert__BorderColor--alternate, var(--_border-color));
}

#left-column {
  display: inline-block;
  vertical-align: top;
}

#middle-column {
  display: inline-block;
  vertical-align: top;
}

#header-actions {
  margin-inline-end: var(--pf-global--spacer--xs, 4px);
  font-size: larger;
}


#header {
  color: var(--pf-global--BackgroundColor--dark-100
,#151515);
  flex: 1 1 auto;
}

#icon {
  --pf-icon--size:16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--_icon-color);
}

