:host {
  display: block;
  position: relative;
}

[hidden] {
  display: none !important;
}

/* ---------------- */
/* CONTAINER BASE   */
/* ---------------- */
#container {
  background-color: var(--_background-color);
  border-width: var(--pf-alert--BorderTopWidth, 1px);
  border-style: solid;
  border-color: var(--_border-color);
  border-inline-start-color: transparent;
  border-block-end-color: transparent;
  border-inline-end-color: transparent;

  padding-top: 1rem;
  padding-left: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;

  /* ---------------- */
  /* VARIANTS         */
  /* ---------------- */

  &.info {
    --_border-color: var(--pf-v5-c-alert--m-info--BorderTopColor, #2b9af3);
    --_icon-color: var(--pf-v5-c-alert--m-info__icon--Color, #2b9af3);
    --_title-color: var(--pf-v5-c-alert--m-info__title--Color, #002952);
    --_background-color: var(--pf-v5-c-alert--m-inline--m-info--BackgroundColor, #e7f1fa);
  }

  &.success {
    --_border-color: var(--pf-v5-c-alert--m-success--BorderTopColor, #3e8635);
    --_icon-color: var(--pf-v5-c-alert--m-success__icon--Color, #3e8635);
    --_title-color: var(--pf-v5-c-alert--m-success__title--Color, #1e4f18);
    --_background-color: var(--pf-v5-c-alert--m-inline--m-success--BackgroundColor, #f3faf2);
  }

  &.warning {
    --_border-color: var(--pf-v5-c-alert--m-warning--BorderTopColor, #f0ab00);
    --_icon-color: var(--pf-v5-c-alert--m-warning__icon--Color, #f0ab00);
    --_title-color: var(--pf-v5-c-alert--m-warning__title--Color, #795600);
    --_background-color: var(--pf-v5-c-alert--m-inline--m-warning--BackgroundColor, #fdf7e7);
  }

  &.danger {
    --_border-color: var(--pf-v5-c-alert--m-danger--BorderTopColor, #c9190b);
    --_icon-color: var(--pf-v5-c-alert--m-danger__icon--Color, #c9190b);
    --_title-color: var(--pf-v5-c-alert--m-danger__title--Color, #a30000);
    --_background-color: var(--pf-v5-c-alert--m-inline--m-danger--BackgroundColor, #faeae8);
  }

  &.neutral {
    --_background-color: var(--pf-v5-global--BackgroundColor--100, #f2f9f9);
    --_border-color: var(--pf-v5-global--BorderColor--100, #009596);
    --_icon-color: var(--pf-v5-global--icon--Color--light, #009596);
    --_title-color: var(--pf-v5-global--Color--100, #003737);
  }
}

/* ---------------- */
/* TITLE + ICON     */
/* ---------------- */

#icon-container {
  --pf-icon--size: var(--pf-alert__icon--FontSize, 1rem);
  color: var(--_icon-color);
  padding-inline-end: 1rem;
}


#title-area ::slotted(*) {
  font-size: 90%;
  margin: 0 !important;
  color: var(--_title-color);
  font-weight: bold;
}

/* ---------------- */
/* CLOSE BUTTON     */
/* ---------------- */

#close-button {
  position: absolute;
  inset-inline-end: 1%;
  top: 1rem;
}

/* ---------------- */
/* DESCRIPTION      */
/* ---------------- */

#description {
  flex-basis: 100%;
  padding-inline-start: 1rem;
}

/* ---------------- */
/* TOGGLE AREA      */
/* ---------------- */

#toggle-button:not([hidden])~#action-links {
  padding-inline-start: 4rem;
}

#expandable-description {
  flex-basis: 100%;
  padding-inline-start: 5rem;

}

/* ---------------- */
/* ACTION LINKS     */
/* ---------------- */

#action-links {
  padding-inline-start: 2rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;

  & ::slotted(a) {
    text-decoration: none;
    color: #06c;
    margin-inline-end: 1rem;
  }

  & ::slotted(a:hover),
  & ::slotted(a:focus),
  & ::slotted(a:active) {
    color: #004080;
  }
}
