
:host {
  display: block;
  max-width: var(--pf-c-alert--MaxWidth, initial);
}

[hidden] {
  display: none !important;
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.hasBody header {
  margin-block-end: var(--pf-global--spacer--xs, 4px);
}

footer.hasActions {
  margin-block-start: var(--pf-global--spacer--lg, 16px);
}

footer ::slotted([slot='actions']:not(pf-button[variant='link' i])) {
  margin-inline-end: var(--pf-global--spacer--xl, 24px) !important;
  padding: 0 !important;
  border: none !important;
  background-color: transparent !important;
  color: var(--pf-global--link--Color, hsl(278, 75%, 81%)) !important;
  font-size: var(--pf-global--FontSize--sm, 0.875rem) !important;
  font-family: var(--pf-global--FontFamily--text, "RedHatText", Helvetica, Arial, sans-serif) !important;
}
footer ::slotted([slot='actions']:focus) {
  text-decoration: underline !important;
  color: var(--pf-global--link--Color--hover, #030608) !important;
}

footer ::slotted([slot='actions']:hover) {
  cursor: pointer !important;
  text-decoration: underline !important;
  color: var(--pf-global--link--Color--hover, #030608) !important;
}

footer ::slotted(pf-button[variant='link' i]) {
  display: inline-block;
  translate: calc(-1 * var(--pf-global--spacer--lg, 16px));
}

#container {
  --_background-color: var(--pf-global--BackgroundColor--100, #daf2f2);
  --_border-color: var(--pf-global--BorderColor--100, #37a3a3);
  --_icon-color: var(--pf-global--icon--Color--light, #37a3a3);

  border-width: var(--pf-global--BorderWidth--md, 2px);
  border-style: solid;
  border-color: var(--_border-color);
  border-inline-start-color: transparent;
  border-block-end-color: transparent;
  border-inline-end-color: transparent;
  background-color: var(--_background-color);
  box-shadow: var(--_box-shadow, none);
  padding: var(--pf-global--spacer--lg, 16px);
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: var(--pf-global--spacer--xs, 4px);
  font-family: var(--pf-global--FontFamily--text, RedHatText, 'Red Hat Text', Helvetica, Arial, sans-serif);
  font-weight: var(--pf-global--FontWeight--regular, 400);
  font-size: var(--pf-global--FontSize--sm, 0.875rem);
  line-height: var(--pf-global--lineHeight--md, 1.5);

  & header ::slotted(*) {
    font-family: var(--pf-global--FontFamily--text, RedHatText, 'Red Hat Text', Helvetica, Arial, sans-serif) !important;
    font-weight: var(--pf-global--FontWeight--semiBold, 500) !important;
    font-size: var(--pf-global--FontSize--sm, 0.875rem) !important;
    line-height: var(--pf-global--lineHeight--md, 1.5) !important;
    margin: 0 !important;
  }

  & header ::slotted(:is(h1,h2,h3,h4,h5,h6)) {
    padding-block: 2px var(--pf-global--spacer--xs, 4px) !important; /* 2px is a non standard value */
  }

  & #description {
    & > ::slotted(*) {
      font-size: var(--pf-global--FontSize--sm, 0.875rem) !important;
      margin-block: 0 !important;
      padding: 0 !important;
    }
  }
}

#container.neutral {
  --_border-color: var(--pf-c-alert__BorderColor--neutral, #4b4d50);
  --_icon-color: var(--pf-c-alert__IconColor--neutral, #3c3f42);
  --_background-color: var(--pf-c-alert__BackgroundColor--neutral, #f0f0f0);
}

#container.info {
  --_border-color: var(--pf-c-alert__BorderColor--info, #5e40be);
  --_icon-color: var(--pf-c-alert__IconColor--info,#5e40be);
  --_background-color: var(--pf-c-alert__BackgroundColor--info, #e1dbf3);
}

#container.success {

  --_border-color: var(--pf-c-alert__BorderColor--success, #3b7317);
  --_icon-color: var(--pf-c-alert__IconColor--success, #3b7317);
  --_background-color: var(--pf-c-alert__BackgroundColor--success, #e7f9e4);
}

#container.warning{
  --_border-color: var(--pf-c-alert__BorderColor--warning, #f0ab00);
  --_icon-color: var(--pf-c-alert__IconColor--warning, #f0ab00);
  --_background-color: var(--pf-c-alert__BackgroundColor--warning, #fef3d6);
}
#container.caution {
  --_border-color: var(--pf-c-alert__BorderColor--warning, #d75324);
  --_icon-color: var(--pf-c-alert__IconColor--warning,  #d75324);
  --_background-color: var(--pf-c-alert__BackgroundColor--warning, #fadbb5);
}

#container.danger {
  --_border-color: var(--pf-c-alert__BorderColor--danger, #c9190b);
  --_icon-color: var(--pf-c-alert__IconColor--danger, #c9190b);
  --_background-color: var(--pf-c-alert__BackgroundColor--danger, #fddad6);
}


#container.toast {
  --_background-color: var(--pf-c-alert__BackgroundColor--toast, #ffffff);
  --_max-width: var(--pf-c-alert--MaxWidth--toast, 550px);
  --_box-shadow: var(--pf-c-alert__BoxShadow--toast, 0 8px 24px 3px rgba(21,21,21,0.35));
}

#container.alternate {
  border-inline-start-color: var(--pf-c-alert__BorderColor--alternate, var(--_border-color));
  border-block-end-color: var(--pf-c-alert__BorderColor--alternate, var(--_border-color));
  border-inline-end-color: var(--pf-c-alert__BorderColor--alternate, var(--_border-color));
}

#left-column {
  display: inline-block;
  vertical-align: top;
}

#middle-column {
  display: inline-block;
  vertical-align: top;
}

#header-actions {
  margin-inline-end: var(--pf-global--spacer--xs, 4px);
  font-size: larger;
}


#header {
  color: var(--pf-c-alert__TitleColor, #151515);
  flex: 1 1 auto;
}

#icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2400px;
  height: 2400px;
  color: var(--_icon-color);
}

#close-button {
  color: var(--pf-c-alert__CloseColor, #484545); /* צבע האיקס */
 
}

/* hover */
#close-button:hover {
  color: var(--pf-c-alert__CloseHoverColor, #484545); /* צבע האיקס בעת ריחוף */
}

