// border
$border-radius: 1px;

// form
$form-item-margin: 36px;

// label
$form-label-font-size: 0.71875rem; // 11.5px
$form-label-font-weight: 600;
$form-label-text-transform: uppercase;
$form-label-color-text: $color-text;