:host { 
    --pf-c-accordion__toggle--PaddingTop: var(--pf-global--spacer--sm, 0.5rem);
    --pf-c-accordion__toggle--PaddingRight: var(--pf-global--spacer--md, 1rem);
    --pf-c-accordion__toggle--PaddingBottom: var(--pf-global--spacer--sm, 0.5rem);
    --pf-c-accordion__toggle--PaddingLeft: var(--pf-global--spacer--md, 1rem);
    --pf-c-accordion__toggle--before--BackgroundColor: transparent;
    --pf-c-accordion__toggle--hover--BackgroundColor: var(--pf-global--BackgroundColor--200, #f0f0f0);
    --pf-c-accordion__toggle--focus--BackgroundColor: var(--pf-global--BackgroundColor--200, #f0f0f0);
    --pf-c-accordion__toggle--active--BackgroundColor: var(--pf-global--BackgroundColor--200, #f0f0f0);
    --pf-c-accordion__toggle--before--Width: var(--pf-global--BorderWidth--lg, 3px);
    --pf-c-accordion__toggle--m-expanded--before--BackgroundColor: var(--pf-global--primary-color--100, #06c);
    --pf-c-accordion__toggle-text--MaxWidth: calc(100% - var(--pf-global--spacer--lg, 1.5rem));
    --pf-c-accordion__toggle--hover__toggle-text--Color: var(--pf-global--link--Color, #06c);
    --pf-c-accordion__toggle--active__toggle-text--Color: var(--pf-global--link--Color, #06c);
    --pf-c-accordion__toggle--active__toggle-text--FontWeight: var(--pf-global--FontWeight--semi-bold, 700);
    --pf-c-accordion__toggle--focus__toggle-text--Color: var(--pf-global--link--Color, #06c);
    --pf-c-accordion__toggle--focus__toggle-text--FontWeight: var(--pf-global--FontWeight--semi-bold, 700);
    --pf-c-accordion__toggle--m-expanded__toggle-text--Color: var(--pf-global--link--Color, #06c);
    --pf-c-accordion__toggle--m-expanded__toggle-text--FontWeight: var(--pf-global--FontWeight--semi-bold, 700);
    --pf-c-accordion__toggle-icon--Transition: .2s ease-in 0s;
    --pf-c-accordion__toggle--m-expanded__toggle-icon--Rotate: 90deg;
    --pf-c-accordion__toggle--FontSize: var(--pf-global--FontSize--lg, 1rem);
    --pf-c-accordion__toggle--FontFamily: var(--pf-global--FontFamily--redhat-updated--heading--sans-serif,
        "RedHatDisplayUpdated", "Overpass", overpass, helvetica, arial, sans-serif);
    color: var(--pf-global--Color--100, #151515);
    background-color: var(--pf-global--BackgroundColor--100);
    --pfe-icon--size: var(--pf-c-accordion__toggle--IconSize, 10px)
  }
  
  #heading {
    font-size: 100%;
    font-weight: var(--pf-global--FontWeight--normal, 400);
    padding: 0;
    margin: 0;
  }

  button, a {
    cursor: pointer;
  }
  
  .toggle, 
  .toggle::before, 
  .toggle::after {
    padding: 0;
    margin: 0;
    background-color: transparent;
  }
  
  .toggle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: var(--pf-c-accordion__toggle--PaddingTop) var(--pf-c-accordion__toggle--PaddingRight) var(--pf-c-accordion__toggle--PaddingBottom) var(--pf-c-accordion__toggle--PaddingLeft);
    font-family: var(--pf-c-accordion__toggle--FontFamily, inherit);
    font-size: var(--pf-c-accordion__toggle--FontSize, inherit);
    border: 0;
  }
  .toggle[aria-expanded="true"] {
    --pf-c-accordion__toggle--before--BackgroundColor: var(--pf-c-accordion__toggle--m-expanded--before--BackgroundColor);
  }
  .toggle::after {
    position: absolute;
    top: var(--pf-c-accordion__toggle--before--Top, 0);
    bottom: 0;
    left: 0;
    width: var(--pf-c-accordion__toggle--before--Width);
    content: "";
    background-color: var(--pf-c-accordion__toggle--before--BackgroundColor);
  }
  .toggle[aria-expanded="true"] span {
    font-weight: var(--pf-c-accordion__toggle--m-expanded__toggle-text--FontWeight);
    color: var(--pf-c-accordion__toggle--m-expanded__toggle-text--Color);
  }
  .toggle[aria-expanded="true"] .icon {
    transform: rotate(var(--pf-c-accordion__toggle--m-expanded__toggle-icon--Rotate, 90deg));
  }
  .toggle:hover {
    background-color: var(--pf-c-accordion__toggle--hover--BackgroundColor);
  }
  .toggle:hover span {
    color: var(--pf-c-accordion__toggle--hover__toggle-text--Color);
  }
  .toggle:focus {
    background-color: var(--pf-c-accordion__toggle--focus--BackgroundColor);
  }
  .toggle:focus span {
    font-weight: var(--pf-c-accordion__toggle--focus__toggle-text--FontWeight);
    color: var(--pf-c-accordion__toggle--focus__toggle-text--Color);
  }
  .toggle:active {
    background-color: var(--pf-c-accordion__toggle--active--BackgroundColor);
  }
  .toggle:active span {
    font-weight: var(--pf-c-accordion__toggle--active__toggle-text--FontWeight);
    color: var(--pf-c-accordion__toggle--active__toggle-text--Color);
  }
  
  span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: var(--pf-c-accordion__toggle-text--MaxWidth);
  }
  
 .icon {
    transition: var(--pf-c-accordion__toggle-icon--Transition);
  }
  
  :host([on="dark"]) .pf-c-accordion {
    --pf-c-accordion__toggle--hover--BackgroundColor: var(--pf-global--BackgroundColor--300, #26292d);
    --pf-c-accordion__toggle--focus--BackgroundColor: var(--pf-global--BackgroundColor--300, #26292d);
    --pf-c-accordion__toggle--active--BackgroundColor: var(--pf-global--BackgroundColor--300, #26292d);
  }