:host([large]) {
  --pf-c-accordion__toggle--PaddingTop: var(--pf-global--spacer--md, 1rem);
  --pf-c-accordion__toggle--PaddingRight: var(--pf-global--spacer--md, 1rem);
  --pf-c-accordion__toggle--PaddingBottom: var(--pf-global--spacer--md, 1rem);
  --pf-c-accordion__toggle--PaddingLeft: var(--pf-global--spacer--lg, 1.5rem);
  --pf-c-accordion__toggle--FontFamily: var(--pf-global--FontFamily--redhat-updated--heading--sans-serif,
        "RedHatDisplayUpdated", "Overpass", overpass, helvetica, arial, sans-serif)
  --pf-c-accordion__toggle--FontSize: var(--pf-global--FontSize--xl, 1.25rem);
  --pf-c-accordion__toggle--hover__toggle-text--Color: var(--pf-global--Color--100, #151515);
  --pf-c-accordion__toggle--active__toggle-text--Color: var(--pf-global--Color--100, #151515);
  --pf-c-accordion__toggle--active__toggle-text--FontWeight: var(--pf-global--FontWeight--normal, 400);
  --pf-c-accordion__toggle--focus__toggle-text--Color: var(--pf-global--Color--100, #151515);
  --pf-c-accordion__toggle--focus__toggle-text--FontWeight: var(--pf-global--FontWeight--normal, 400);
  --pf-c-accordion__toggle--m-expanded__toggle-text--Color: var(--pf-global--Color--100, #151515);
  --pf-c-accordion__toggle--m-expanded__toggle-text--FontWeight: var(--pf-global--FontWeight--normal, 400);
  --pfe-icon--size: var(--pf-c-accordion__toggle--IconSize, 12px)
}