h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

button { 
  line-height: var(--pf-global--LineHeight--md, 1.5);
  color: var(--pf-global--Color--100, #151515);
  cursor: pointer;
}

:host {
  font-family: var(--pf-global--FontFamily--sans-serif, "RedHatText", "Overpass", overpass, helvetica, arial, sans-serif);
  font-size: var(--pf-global--FontSize--md, 1rem);
  font-weight: var(--pf-global--FontWeight--normal, 400);
  line-height: var(--pf-global--LineHeight--md, 1.5);
  text-align: left;
  background-color: var(--pf-global--BackgroundColor--100, #fff);
  --pf-c-accordion--BackgroundColor: var(--pf-global--BackgroundColor--100, #fff);
  --pf-c-accordion__toggle--PaddingTop: var(--pf-global--spacer--sm, 0.5rem);
  --pf-c-accordion__toggle--PaddingRight: var(--pf-global--spacer--md, 1rem);
  --pf-c-accordion__toggle--PaddingBottom: var(--pf-global--spacer--sm, 0.5rem);
  --pf-c-accordion__toggle--PaddingLeft: var(--pf-global--spacer--md, 1rem);
  --pf-c-accordion__toggle--before--BackgroundColor: transparent;
  --pf-c-accordion__toggle--before--Top: 0;
  --pf-c-accordion__toggle--hover--BackgroundColor: var(--pf-global--BackgroundColor--200, #f0f0f0);
  --pf-c-accordion__toggle--focus--BackgroundColor: var(--pf-global--BackgroundColor--200, #f0f0f0);
  --pf-c-accordion__toggle--active--BackgroundColor: var(--pf-global--BackgroundColor--200, #f0f0f0);
  --pf-c-accordion__toggle--before--Width: var(--pf-global--BorderWidth--lg, 3px);
  --pf-c-accordion__toggle--m-expanded--before--BackgroundColor: var(--pf-global--primary-color--100, #06c);
  --pf-c-accordion__toggle-text--MaxWidth: calc(100% - var(--pf-global--spacer--lg, 1.5em));
  --pf-c-accordion__toggle--hover__toggle-text--Color: var(--pf-global--link--Color, #06c);
  --pf-c-accordion__toggle--active__toggle-text--Color: var(--pf-global--link--Color, #06c);
  --pf-c-accordion__toggle--active__toggle-text--FontWeight: var(--pf-global--FontWeight--semi-bold, 700);
  --pf-c-accordion__toggle--focus__toggle-text--Color: var(--pf-global--link--Color, #06c);
  --pf-c-accordion__toggle--focus__toggle-text--FontWeight: var(--pf-global--FontWeight--semi-bold, 700);
  --pf-c-accordion__toggle--m-expanded__toggle-text--Color: var(--pf-global--link--Color, #06c);
  --pf-c-accordion__toggle--m-expanded__toggle-text--FontWeight: var(--pf-global--FontWeight--semi-bold, 700);
  --pf-c-accordion__toggle-icon--Transition: .2s ease-in 0s;
  --pf-c-accordion__toggle--m-expanded__toggle-icon--Rotate: 90deg;
  --pf-c-accordion__expanded-content--Color: var(--pf-global--Color--200, #6a6e73);
  --pf-c-accordion__expanded-content--FontSize: var(--pf-global--FontSize--sm, 0.875rem);
  --pf-c-accordion__expanded-content--m-expanded__expanded-content-body--before--BackgroundColor: var(--pf-global--primary-color--100, #06c);
  --pf-c-accordion__expanded-content--m-fixed--MaxHeight: 9.375rem;
  --pf-c-accordion__expanded-content-body--PaddingTop: var(--pf-global--spacer--sm, 0.5em);
  --pf-c-accordion__expanded-content-body--PaddingRight: var(--pf-global--spacer--md, 1em);
  --pf-c-accordion__expanded-content-body--PaddingBottom: var(--pf-global--spacer--sm, 0.5em);
  --pf-c-accordion__expanded-content-body--PaddingLeft: var(--pf-global--spacer--md, 1em);
  --pf-c-accordion__expanded-content-body--expanded-content-body--PaddingTop: 0;
  --pf-c-accordion__expanded-content-body--before--BackgroundColor: transparent;
  --pf-c-accordion__expanded-content-body--before--Width: var(--pf-global--BorderWidth--lg, 3px);
  --pf-c-accordion__expanded-content-body--before--Top: 0;
  --pf-c-accordion--m-display-lg__toggle--PaddingTop: var(--pf-global--spacer--md, 1em);
  --pf-c-accordion--m-display-lg__toggle--PaddingRight: var(--pf-global--spacer--md, 1em);
  --pf-c-accordion--m-display-lg__toggle--PaddingBottom: var(--pf-global--spacer--md, 1em);
  --pf-c-accordion--m-display-lg__toggle--PaddingLeft: var(--pf-global--spacer--lg, 1.5em);
  --pf-c-accordion--m-display-lg__toggle--FontFamily: var(--pf-global--FontFamily--heading--sans-serif, "RedHatDisplay", "Overpass", overpass, helvetica, arial, sans-serif);
  --pf-c-accordion--m-display-lg__toggle--FontSize: var(--pf-global--FontSize--xl, 1.25rem);
  --pf-c-accordion--m-display-lg__toggle--hover__toggle-text--Color: var(--pf-global--Color--100, #f0f0f0);
  --pf-c-accordion--m-display-lg__toggle--active__toggle-text--Color: var(--pf-global--Color--100, #f0f0f0);
  --pf-c-accordion--m-display-lg__toggle--active__toggle-text--FontWeight: var(--pf-global--FontWeight--normal, 400);
  --pf-c-accordion--m-display-lg__toggle--focus__toggle-text--Color: var(--pf-global--Color--100, #f0f0f0);
  --pf-c-accordion--m-display-lg__toggle--focus__toggle-text--FontWeight: var(--pf-global--FontWeight--normal, 400);
  --pf-c-accordion--m-display-lg__toggle--m-expanded__toggle-text--Color: var(--pf-global--Color--100, #f0f0f0);
  --pf-c-accordion--m-display-lg__toggle--m-expanded__toggle-text--FontWeight: var(--pf-global--FontWeight--normal, 400);
  --pf-c-accordion--m-display-lg__expanded-content--FontSize: var(--pf-global--FontSize--md, 1rem);
  --pf-c-accordion--m-display-lg__expanded-content--Color: var(--pf-global--Color--100, #f0f0f0);
  --pf-c-accordion--m-display-lg__expanded-content-body--PaddingTop: 0;
  --pf-c-accordion--m-display-lg__expanded-content-body--PaddingRight: var(--pf-global--spacer--md, 1em);
  --pf-c-accordion--m-display-lg__expanded-content-body--PaddingBottom: var(--pf-global--spacer--md, 1em);
  --pf-c-accordion--m-display-lg__expanded-content-body--last-child--PaddingBottom: var(--pf-global--spacer--lg, 1.5em);
  --pf-c-accordion--m-display-lg__expanded-content-body--PaddingLeft: var(--pf-global--spacer--lg, 1.5em);
  --pf-c-accordion--m-bordered--BorderTopWidth: var(--pf-global--BorderWidth--sm, 1px);
  --pf-c-accordion--m-bordered--BorderTopColor: var(--pf-global--BorderColor--100, #d2d2d2);
  --pf-c-accordion--m-bordered__toggle--before--Top: calc(-1 * var(--pf-global--BorderWidth--sm, 1px));
  --pf-c-accordion--m-bordered__toggle--after--BorderColor: var(--pf-global--BorderColor--100, #d2d2d2);
  --pf-c-accordion--m-bordered__toggle--after--BorderTopWidth: 0;
  --pf-c-accordion--m-bordered__toggle--after--BorderBottomWidth: var(--pf-global--BorderWidth--sm, 1px);
  --pf-c-accordion--m-bordered__expanded-content--m-expanded__expanded-content-body--last-child--after--BorderBottomWidth: var(--pf-global--BorderWidth--sm, 1px);
  --pf-c-accordion--m-bordered__expanded-content--m-expanded__expanded-content-body--last-child--after--BorderBottomColor: var(--pf-global--BorderColor--100, #d2d2d2);
  color: var(--pf-global--Color--100, #f0f0f0);
  background-color: var(--pf-c-accordion--BackgroundColor);
  margin: 0;
}

#heading {
  background-color: var(--pf-c-accordion--BackgroundColor);
}

.pf-c-accordion__toggle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: var(--pf-c-accordion__toggle--PaddingTop) var(--pf-c-accordion__toggle--PaddingRight) var(--pf-c-accordion__toggle--PaddingBottom) var(--pf-c-accordion__toggle--PaddingLeft);
  font-family: var(--pf-c-accordion__toggle--FontFamily, "RedHatTextUpdated", "Overpass", overpass, helvetica, arial, sans-serif);
  font-size: var(--pf-c-accordion__toggle--FontSize, 1rem);
  border: 0;
  background-color: transparent;
}

.pf-c-accordion__toggle:hover {
  background-color: var(--pf-c-accordion__toggle--hover--BackgroundColor, #f0f0f0);
}

.pf-c-accordion__toggle[aria-expanded="true"] {
  --pf-c-accordion__toggle--before--BackgroundColor: #06c;
}

.pf-c-accordion__toggle::after {
  position: absolute;
  top: var(--pf-c-accordion__toggle--before--Top);
  bottom: 0;
  left: 0;
  width: var(--pf-c-accordion__toggle--before--Width);
  content: "";
  background-color: var(--pf-c-accordion__toggle--before--BackgroundColor);
}

.pf-c-accordion__toggle-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: var(--pf-c-accordion__toggle-text--MaxWidth);
}

.pf-c-accordion__toggle-icon {
  transition: var(--pf-c-accordion__toggle-icon--Transition);
}

:host:active
.pf-c-accordion__toggle:active {
  background-color: var(--pf-c-accordion__toggle--active--BackgroundColor, #f0f0f0);
}

.pf-c-accordion__toggle:hover .pf-c-accordion__toggle-text {
  color: var(--pf-c-accordion__toggle--hover__toggle-text--Color, #06c)
}

.pf-c-accordion__toggle:active .pf-c-accordion__toggle-text,
.pf-c-accordion__toggle[aria-expanded="true"] .pf-c-accordion__toggle-text {
  font-weight: var(--pf-c-accordion__toggle--active__toggle-text--FontWeight, 700);
  color: var(--pf-c-accordion__toggle--active__toggle-text--Color, #06c);
}

.pf-c-accordion__toggle[aria-expanded="true"] .pf-c-accordion__toggle-icon {
  rotate: (var(--pf-c-accordion__toggle--m-expanded__toggle-icon--Rotate, 90deg));
}