@use "@patternfly/pfe-sass" as *;

// TODO: pass this as a shared stylesheet object
@use "shared-assets" as *;

:host {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;

  width: pfe-local(Width);
}

:host {
  // This is required for the focus state to overflow the container
  overflow: visible;
}

[hidden],
:host([hidden]) {
  display: none !important;
}
