/*
 * Copyright 2018 Red Hat, Inc.
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 */
/* Palette of Border Colors */
/* Palette of Feedback Colors */
:host {
  display: none;
  overflow: hidden;
  will-change: height;
  border-color: transparent;
  opacity: 0;
}

:host([expanded]),
:host(.animating) {
  display: block;
  position: relative;
  opacity: 1;
  border-right: 1px solid transparent;
  border-right: var(--pfe-theme--surface--border-width, 1px) var(--pfe-theme--surface--border-style, solid) transparent;
  border-left: 3px solid transparent;
  border-left: var(--pfe-theme--surface--border-width--heavy, 3px) var(--pfe-theme--surface--border-style, solid) transparent;
  -webkit-box-shadow: 0 5px 3px rgba(140, 140, 140, 0.35);
          box-shadow: 0 5px 3px rgba(140, 140, 140, 0.35);
  -webkit-box-shadow: 0 5px var(--pfe-theme--surface--border-width--heavy, 3px) rgba(140, 140, 140, 0.35);
          box-shadow: 0 5px var(--pfe-theme--surface--border-width--heavy, 3px) rgba(140, 140, 140, 0.35);
  border-left-color: #06c;
  border-left-color: var(--pfe-theme--color--surface--lightest--link, #06c);
  background-color: #fff;
  background-color: var(--pfe-theme--color--surface--lightest, #fff);
  border-right-color: #dfdfdf;
  border-right-color: var(--pfe-theme--color--surface--border, #dfdfdf);
  border-bottom: 1px solid #dfdfdf;
  border-bottom: var(--pfe-theme--surface--border-width, 1px) var(--pfe-theme--surface--border-style, solid) var(--pfe-theme--color--surface--border, #dfdfdf);
}

:host([on="dark"][expanded]),
:host([on="dark"].animating) {
  --pfe-broadcasted--color--text:               var(--pfe-theme--color--text--on-dark, #fff);
  --pfe-broadcasted--color--ui-link:            var(--pfe-theme--color--ui-link--on-dark, #99ccff);
  --pfe-broadcasted--color--ui-link--visited:   var(--pfe-theme--color--ui-link--on-dark--visited, #b38cd9);
  --pfe-broadcasted--color--ui-link--hover:     var(--pfe-theme--color--ui-link--on-dark--hover, #cce6ff);
  --pfe-broadcasted--color--ui-link--focus:     var(--pfe-theme--color--ui-link--on-dark--focus, #cce6ff);
  border-right: 1px solid transparent;
  border-right: var(--pfe-theme--surface--border-width, 1px) var(--pfe-theme--surface--border-style, solid) transparent;
  border-left: 3px solid transparent;
  border-left: var(--pfe-theme--surface--border-width--heavy, 3px) var(--pfe-theme--surface--border-style, solid) transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #464646;
  background-color: var(--pfe-theme--color--surface--darker, #464646);
  border-left-color: #dfdfdf;
  border-left-color: var(--pfe-theme--color--surface--border, #dfdfdf);
  border-right-color: #dfdfdf;
  border-right-color: var(--pfe-theme--color--surface--border, #dfdfdf);
}

:host(.animating) {
  display: block;
  -webkit-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
}

.container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 0 3em 1rem calc(1rem * 1.5);
  padding: 0 3em var(--pfe-theme--container-spacer, 1rem) calc(var(--pfe-theme--container-spacer, 1rem) * 1.5);
}

:host(:last-of-type[expanded]) {
  margin-bottom: 0;
}

/*# sourceMappingURL=pfe-accordion-panel.css.map */
