@import "../../pfe-sass/pfe-sass";
// @include pfe-theme-contexts; // imports on="light" etc support

/// ===========================================================================
/// Component Specific SASS Vars
/// ===========================================================================

$pf-health--width: 10px;
$pf-health--height: $pf-health--width * 2;
$pf-health-mini--width: 22px;
$pf-health-mini--height: $pf-health-mini--width;

$pf-health--color-bg: #fff;

$pf-health--color-a: #3f9c35;
$pf-health--color-b: #92d400;
$pf-health--color-c: #efaa00;
$pf-health--color-d: #ec7a08;
$pf-health--color-e: #cc0000;
$pf-health--color-f: #a30000;

/// ===========================================================================
/// WHATEVER
/// ===========================================================================

:host {
  display: inline-flex;
  align-items: center;
}

:host([hidden]) {
  display: none;
}

:host(:not([size="lg"]):not([size="mini"])) {
  .box-container {
    display: flex;
    border: 1px solid #{pfe-color(surface--border)};
    margin-left: calc(#{pfe-var(container-spacer)} * 0.5);

    .box {
      background: $pf-health--color-bg;
      width: $pf-health--width;
      height: $pf-health--height;
      border-right: 1px solid #{pfe-color(surface--border)};

      &:last-child {
        border-right: 0;
      }

      &.active {

        &.a {
          background-color: $pf-health--color-a;
        }

        &.b {
          background-color: $pf-health--color-b;
        }

        &.c {
          background-color: $pf-health--color-c;
        }

        &.d {
          background-color: $pf-health--color-d;
        }

        &.e {
          background-color: $pf-health--color-e;
        }

        &.f {
          background-color: $pf-health--color-f;
        }
      }
    }
  }
}

:host([size="mini"]) {
  .box-container {
    margin: 0;
    border: none;

    .box {
      display: flex;
      width: $pf-health-mini--width;
      height: $pf-health-mini--height;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 16px;
      border-radius: 1px;

      &.a {
        background-color: $pf-health--color-a;
      }

      &.b {
        background-color: $pf-health--color-b;
      }

      &.c {
        background-color: $pf-health--color-c;
      }

      &.d {
        background-color: $pf-health--color-d;
      }

      &.e {
        background-color: $pf-health--color-e;
      }

      &.f {
        background-color: $pf-health--color-f;
      }
    }
  }
}

:host([size="lg"]) {
    .box-container {
      display: flex;
      border: none;
      margin-left: 0;
    }

    .grade {
      padding: 6px 10px;
    }

    .box {
      background: $pf-health--color-bg;
      color: #777;
      border-top: 2px solid #ececec;

      &:first-child {
        margin-left: 0;
        border-left: 2px solid #ececec;
      }

      &.active:first-child {
        border-left: none;
      }

      &:last-child {
        margin-right: 0;
        border-right: 2px solid #ececec;
      }

      &.active:last-child {
        border-right: none;
      }

      & > .bottom {
        height: 8px;
        margin: 0 0.5px;
      }

      &.active .grade {
        color: #fff;
        margin: -2px 0.5px 0 0.5px;
        padding-top: 8px;
      }

      &.a > .bottom, &.a.active .grade {
        background-color: $pf-health--color-a;
      }

      &.b > .bottom, &.b.active .grade {
        background-color: $pf-health--color-b;
      }

      &.c > .bottom, &.c.active .grade {
        background-color: $pf-health--color-c;
      }

      &.d > .bottom, &.d.active .grade {
        background-color: $pf-health--color-d;
      }

      &.e > .bottom, &.e.active .grade {
        background-color: $pf-health--color-e;
      }

      &.f > .bottom, &.f.active .grade {
        background-color: $pf-health--color-f;
      }
    }
  }
