@use "@patternfly/pfe-sass" as *;

@import "@patternfly/pfe-sass/extends/extends";

@include configure(
  $name: 'autocomplete',
  $variables: (
    BoxShadow: pfe-var(box-shadow--inset),
    BackgroundColor: pfe-var(surface--lightest),
    Border: pfe-var(ui--border-width) pfe-var(ui--border-style) pfe-var(surface--border)
  ),
);

:host {
  display: block;
  position: relative;
  font-family: pfe-var(font-family);
  @include pfe-print-local(get-local-variables());
}

:host([button-text]) {
  display: flex;
  #wrapper {
    flex: 1;
  }

  #input-box-wrapper {
    position: relative;
  }

  button.clear-search {
    width: 40px;
  }
}


// this isn't working, I don't know why
:host([button-text]) ::slotted(input[type="search"]::-webkit-search-cancel-button) {
  -webkit-appearance: none;
}

.sr-only {
  @extend %sr-only;
}

#input-box-wrapper {
  border-color: pfe-var(feedback--info);

  ::slotted(input) {
    width: 100%;
    flex: 1;
    box-shadow: pfe-local(BoxShadow) !important;
    padding-left: 10px;
    padding-right: 0;
    border-radius: pfe-var(ui--border-radius);
    background-color: pfe-local(BackgroundColor);
    border: pfe-local(Border);
    font-size: pfe-var(font-size);
    font-family: pfe-var(font-family);
    height: calc(#{pfe-var(ui--element--size)} * 2);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    opacity: 1;
    outline: 0;
  }

  ::slotted(input:disabled),
  button:disabled {
    cursor: not-allowed;
    // background-color: transparent;
    // @TODO: Replace with a variable
    color: #ccc;
    // opacity: 0.5;
  }

  ::slotted(input:disabled) {
    padding-right: 10px;
  }

  button:focus,
  ::slotted(input:focus) {
    outline: 0;
  }

  ::slotted(input),
  button {
    -webkit-appearance: none;
  }

  ::slotted([type="search"]::-ms-clear) {
    display: none;
  }

  ::slotted(input[type="search"]::-webkit-search-cancel-button),
  ::slotted(input[type="search"]::-webkit-search-decoration) {
    -webkit-appearance: none;
  }
}

button {
  color: pfe-var(ui-base);
  background-color: transparent;
  border: none;
  position: absolute;
  top: 0;
  bottom: 0;
  cursor: pointer;

  &.clear-search {
    right: 30px;
    width: 20px;
    margin: 2px 1px;
    background-color: pfe-var(surface--lightest);
    &:hover {
      color: pfe-var(ui-base);
    }
    svg {
      width: 14px;
      position: relative;
      top: 2px;
      stroke: pfe-var(surface--border);
    }
    &:hover svg,
    &:focus svg {
      opacity: 1;
      stroke: pfe-var(link);
    }
  }

  &[disabled].clear-search:hover svg,
  &[disabled].clear-search:focus svg {
    stroke: pfe-var(surface--border);
  }

  &.search-button {
    margin-top: 1px;
    margin-bottom: 1px;
    right: 1px;
    width: 30px;
    background-color: pfe-var(surface--lightest);
    svg {
      fill: pfe-var(link);
      // width: 16px;
      width: 18px;
      position: relative;
      top: 2px;
      stroke: pfe-var(surface--border);
    }

    &:hover svg,
    &:focus svg {
      fill: pfe-var(link--hover);
    }

    &:disabled svg {
      fill: pfe-var(ui-disabled);
    }
  }
}

pfe-button.search-button--textual {
  margin-left: 16px;
}

.loading {
  position: absolute;
  width: 30px;
  right: 52px;
  top: 0px;
  bottom: 0px;
  svg {
    width: 26px;
    padding-top: 7px;
  }
}
