body {
    font-family: sans-serif;
    font-size: 1.4em;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

table th,
table td {
    padding: 8px;
}

.legend {
    font-weight: bold;
}

.legend *, li * {
    margin: 12px;
}

.sample-markup {
    font-size: 1rem;
}

input[type=number] {
    width: 10vw;
}
