---
layout: layout-basic.njk
---

<header class="band">
  <h1>{{ title }}</h1>
  {% if tagline %}
  <p class="tagline">{{ tagline }}</p>
  {% endif %}
</header>

{%- band -%}
  {{ content | safe }}
{%- endband -%}
