---
layout: layout-base.njk
---
{% include '_nav.njk' %}


<main class="basic">
  {{ content | safe }}

  <div class="posts">
    {% for post in collections.blog | reverse %}
      <pf-card>
        <h2 slot="header">{{ post.data.title }}</h2>
        {% if post.data.tagline %}
          <p class="tagline"><a href="{{ post.data.page.url }}">{{ post.data.tagline }}</a></p>{% endif %}
        {% if post.data.description %}
          {{ post.data.description }}
        {% endif %}
        <a slot="footer" class="cta" href="{{ post.data.page.url }}">Read Post</a>
        <time slot="footer" datetime="{{ post.data.page.date }}">{{ post.data.page.date | prettyDate }}</time>
      </pf-card>
    {% endfor %}
  </div>
</main>


{% include '_foot.njk' %}

<style>
  .posts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    padding: var(--pf-global--spacer--3xl, 4rem);
    gap: 2rem;
  }

  pf-card::part(footer) {
    justify-content: space-between;
    align-items: center;
  }
</style>

