// Please see the pfe-sass README for guidance on using these tools
@import "../../pfe-sass/pfe-sass";
$LOCAL: codeblock;


// Default light styles
:host {
  display: block;
  // Import Light Theme
  @import "../../../node_modules/prism-themes/themes/prism-material-light.css";
  @import "../../../node_modules/prismjs/plugins/line-numbers/prism-line-numbers";
  //set font to overpass-mono
  code[class*="language-"],
  pre[class*="language-"] {
      font-family: unquote(map-get($pfe-vars, font-family--code));
  }
}

//Dark Styles
:host([pfe-c-codeblock-theme="dark"]) {
  // Import Dark Theme
  @import "../../../node_modules/prism-themes/themes/prism-material-dark.css";
  //set font to overpass-mono
  code[class*="language-"],
  pre[class*="language-"] {
      font-family: unquote(map-get($pfe-vars, font-family--code));
  }
}

//Hidden Style
:host([hidden]) {
  display: none;
}

