//Define custom colors
$custom-pink: #B300B3; // h1, p, body
$custom-red: #C9190B; // "javascript", red, #eee
$custom-blue: #06C; // <, </, >, height=""
$custom-purple: #40199A; // const, let, null, main, printf, return
$custom-white: #F5F5F5; // Background
$custom-gray: #6A6E73; // example, text, #include, stdio.h, int
$custom-light-gray: #6A6E73; // Numbers and dividers
$custom-black: #151515; // example html, some paragraph text
$custom-hilight-fg: #263238; // Foreground color :selected
$custom-hilight-bg: #cceae7; // Background color :selected

:host {
	code[class*="language-"],
	pre[class*="language-"] {
		text-align: left;
		white-space: pre;
		word-spacing: normal;
		word-break: normal;
		word-wrap: normal;
		color: $custom-gray;
		background: $custom-white;
		font-family: pfe-var(font-family--code);
		font-size: 1em;
		line-height: 1.5em;
		tab-size: 4;
		hyphens: none;
	}

	code[class*="language-"]::selection,
	pre[class*="language-"]::selection,
	code[class*="language-"] ::selection,
	pre[class*="language-"] ::selection {
		background: $custom-hilight-bg;
		color: $custom-hilight-fg;
	}

	:not(pre) > code[class*="language-"] {
		white-space: normal;
		border-radius: 0.2em;
		padding: 0.1em;
	}

	pre[class*="language-"] {
		overflow: auto;
		position: relative;
		margin: 0.5em 0;
		padding: 1.25em 1em;
	}

	.language-css > code,
	.language-sass > code,
	.language-scss > code {
		color: $custom-pink;
	}

	[class*="language-"] .namespace {
		opacity: 0.7;
	}

	.token {
		&.atrule {
			color: $custom-purple;
		}
	
		&.attr-name {
			color: $custom-blue;
		}
	
		&.attr-value {
			color: $custom-pink;
		}
	
		&.attribute {
			color: $custom-pink;
		}
	
		&.boolean {
			color: $custom-purple;
		}
	
		&.builtin {
			color: $custom-blue;
		}
	
		&.cdata {
			color: $custom-blue;
		}
	
		&.char {
			color: $custom-blue;
		}
	
		&.class {
			color: $custom-blue;
		}
	
		&.class-name {
			color: $custom-blue;
		}
	
		&.comment {
			color: $custom-light-gray;
		}
	
		&.constant {
			color: $custom-purple;
		}
	
		&.deleted {
			color: $custom-red;
		}
	
		&.doctype {
			color: $custom-light-gray;
		}
	
		&.entity {
			color: $custom-red;
		}
	
		&.function {
			color: $custom-purple;
		}
	
		&.hexcode {
			color: $custom-pink;
		}
	
		&.id {
			color:$custom-purple;
			font-weight: bold;
		}
	
		&.important {
			color: $custom-purple;
			font-weight: bold;
		}
	
		&.inserted {
			color: $custom-blue;
		}
	
		&.keyword {
			color: $custom-purple;
		}
	
		&.number {
			color:$custom-pink;
		}
	
		&.operator {
			color:$custom-blue;
		}
	
		&.prolog {
			color: $custom-light-gray;
		}
	
		&.property {
			color: $custom-blue;
		}
	
		&.pseudo-class {
			color: $custom-pink;
		}
	
		&.pseudo-element {
			color: $custom-pink;
		}
	
		&.punctuation {
			color: $custom-blue;
		}
	
		&.regex {
			color: $custom-blue;
		}
	
		&.selector {
			color: $custom-red;
		}
	
		&.string {
			color: $custom-pink;
		}
	
		&.symbol {
			color: $custom-purple;
		}
	
		&.tag {
			color: $custom-red;
		}
	
		&.unit {
			color: $custom-pink;
		}
	
		&.url {
			color: $custom-red;
		}
	
		&.variable {
			color: $custom-red;
		}	
	}
}
