////
// Breakpoint classes
///
:host([breakpoint='mobile']) .hidden-at-mobile {
  &[class][class][class] {
    display: none;
  }
}

:host([breakpoint='tablet']) .hidden-at-tablet {
  &[class][class][class] {
    display: none;
  }
}

:host([breakpoint='desktop']) .hidden-at-desktop {
  &[class][class][class] {
    display: none;
  }
}

///
// Layout classes
///
.tablet-col-span-all {
  column-span: all;
}

@for $i from 2 to 5 {
  .desktop-col-span-#{$i},
  // Support pfe-navigation@1.x styles
  .pfe-navigation--column--#{$i} {
    grid-column-end: span $i;
  }
}
