@use "@patternfly/pfe-sass" as *;

@include configure(
  $name: "avatar",
  $variables: (
    size: 128px,
  ),
);

// Backwards compatibility
// TODO: This will be removed at 1.0 in favor of size
@include merge-local-variables((
  size: pfe-local(width, $fallback: 128px),
));

:host {
  display: block;
  position: relative;

  width: pfe-local(size);
  height: pfe-local(size);
}

// when src attribute is provided, show the img but hide the canvas
:host([src]) {
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

:host([hidden]) {
  display: none;
}
