:host {
  display: inline-block;
}

[hidden] {
  opacity: 0;
  visibility: hidden;
}

svg {
  fill: currentcolor;
}

:host(:disabled),
:host([disabled]) {
  cursor: not-allowed;
  #label {
    cursor: not-allowed;
  }
}

:host(:disabled:focus-within) #label,
:host([disabled]:focus-within) #label {
  outline: none;
}

#label {
  position: relative;
  display: inline-flex;
  align-items: center;
  &::before {
    position: absolute;
    display: block;
    content: "";
  }
}
