:host {
  display: inline-block;
}

svg {
  fill: currentcolor;
}

[hidden] {
  display: none !important;
}

:host(:disabled),
:host([disabled]) {
  pointer-events: none;
  cursor: not-allowed;
  #container {
    cursor: not-allowed;
  }
}

:host(:disabled:focus-within) #container,
:host([disabled]:focus-within) #container {
  outline: none;
}

#container {
  position: relative;
  display: inline-flex;
  align-items: center;
  &::before {
    position: absolute;
    display: block;
    content: "";
  }
}
