// @import "node_modules/@rhelements/cp-sass/cp-sass";
@import "../cp-sass/cp-sass";

// ============================================================================
// Note: There should be no direct HEX or other values in this file.
// Please reference CP-SASS variables.
// ============================================================================
html {
  /* Rhythm, spacing & padding */
  --gutter-size:       $base-gutter;
  --box-padding:       $box-padding;
  --box-padding-sm:    $box-padding-sm;
  --box-padding-xs:    $box-padding-xs;

  /* Breakpoints */
  --breakpoint-xs-min: $breakpoint-xs-min;
  --breakpoint-sm-min: $breakpoint-sm-min;
  --breakpoint-md-min: $breakpoint-md-min;
  --breakpoint-lg-min: $breakpoint-lg-min;

  --breakpoint-xxs-max:$breakpoint-xxs-max;
  --breakpoint-xs-max: $breakpoint-xs-max;
  --breakpoint-sm-max: $breakpoint-sm-max;
  --breakpoint-md-max: $breakpoint-md-max;

  /* Brand "crayola" colors */
  --white:             $white;
  --black:             $black;
  --red:               $red;
  --brand-primary:     $brand-primary;
  // Immediate grays
  --gray-gainsboro:    $gray-gainsboro;
  --gray-space:        $gray-space;
  // Secondary colors
  --blue-sky:          $blue-sky;
  --blue-light:        $blue-sky-deep;
  --gold:              $gold;
  --green:             $green;
  --purple:            $purple;
  --teal:              $teal;
  --teal-dark:         $teal-dark;
  // RH-specific
  --blue-peacock:      $blue-peacock;
  --orange:            $orange;
  --green-verde:       $green-verde;
  --gray-charcoal:     $gray-charcoal;
  --gray-nickel:       $gray-nickel;
  --black-soft:        $black-soft;
  // RH reds
  --red-brick:         $red-brick;
  --red-maroon:        $red-maroon;
  --red-garnet:        $red-garnet;
  --red-morello:       $red-morello;
  --red-red-wine:      $red-red-wine;
  --red-daredevil:     $red-daredevil;
  // RH grays
  --gray-moon:         $gray-moon;
  --gray-platinum:     $gray-platinum;
  --gray-mercury:      $gray-mercury;
  --gray-storm:        $gray-storm;
  --gray-stone:        $gray-stone;
  --gray-fog:          $gray-fog;
  --gray-battleship:   $gray-battleship;
  --gray-batman:       $gray-batman;
  --gray-umbra:        $gray-umbra;
  --gray-iron:         $gray-iron;
  --gray-night:        $gray-night;
  --black-nero:        $black-nero;
  // CP grays
  --gray-nimbus:       $gray-nimbus;
  --gray-silver:       $gray-silver;
  // CP-specific
  --blue-rain:         $blue-rain;
  --blue-denim:        $blue-denim;
  --blue-navy:         $blue-navy;
  --blue-azure:        $blue-azure;
  --blue-maya:         $blue-maya;
  --blue-dodger:       $blue-dodger;
  --purple-amethyst:   $purple-amethyst;
  --purple-rain:       $purple-rain;

  /* Product colors */
  --product-default:   map-get($product-line-colors, default);
  --storage1:          map-get($product-line-colors, storage1);
  --storage2:          map-get($product-line-colors, storage2);
  --infrastructure1:   map-get($product-line-colors, infrastructure1);
  --infrastructure2:   map-get($product-line-colors, infrastructure2);
  --app-dev1:          map-get($product-line-colors, app-dev1);
  --app-dev2:          map-get($product-line-colors, app-dev2);
  --support1:          map-get($product-line-colors, support1);
  --support2:          map-get($product-line-colors, support2);

  /* Color shades */
  // PALETTE REDS
  --red-dark1:         $red-dark1;
  --red-dark2:         $red-dark2;
  --red-dark3:         $red-dark3;
  --red-dark4:         $red-dark4;
  --red-dark5:         $red-dark5;
  --red-dark6:         $red-dark6;
  // PALETTE GRAYS: lightest to darkest
  --gray1:             $gray1;
  --gray2:             $gray2;
  --gray3:             $gray3;
  --gray4:             $gray4;
  --gray5:             $gray5;
  --gray6:             $gray6;
  --gray7:             $gray7;
  --gray8:             $gray8;
  --gray9:             $gray9;
  --gray10:            $gray10;
  --gray11:            $gray11;
  --gray12:            $gray12;

  /* Semantically-named UI colors (referencing Brand "crayola" colors) */
  // Text & base link colors
  --text-color:        $text-color;
  --link-color:        $link-color;
  --link-color-hover:  $link-color-hover;
  --link-color-visited:$link-color-visited;
  // Inverted colors for base text & link
  --inverted-text-color:        $inverted-text-color;
  --inverted-link-color:        $inverted-link-color;
  --inverted-link-color-hover:  $inverted-link-color-hover;
  --inverted-link-color-visited:$inverted-link-color-visited;
  // UI colors
  --ui-element:        $ui-element;
  --ui-element-hover:  $ui-element-hover;

  // Theming BGs
  --bg-color1:         $white;
  --bg-color2:         $gray2;
  --bg-color3:         $gray3;
  --bg-color4:         $gray4;
  --bg-color5:         $gray5;
  --bg-color6:         $gray6;

  /* Other brand styles */
  --border-width:      $border-width;
  --border-style:      $border-style;
  --border-color:      $border-color;

  /* Animations */
  --cubic-bezier:      $cubic-bezier;

}
