[data-demo] {
  display: contents;
}

main {
  padding: 2em;
  background: #eeeeee;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr;
}

@media (min-width: 800px) {
  main {
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
  }
}

form {
  display: grid;
  grid-template-columns: max-content auto;
  grid-auto-rows: max-content;
  gap: 1em;
}

pf-card {
  max-width: 50%;
  margin: 0 auto;
}

.resize {
  padding: 2em;
  resize: vertical;
  overflow: auto;
  min-height: 40vh;
  background: repeating-linear-gradient(
    45deg,
    #fff,
    #fff 10px,
    #eee 10px,
    #eee 20px
  );
}
