@import "../../pfe-sass/pfe-sass";

$LOCAL: dropdown;

$LOCAL-VARIABLES: ( 
  spacing--vertical: calc(#{pfe-var(container-padding)} * .5),
  spacing--horizontal: calc(#{pfe-var(container-padding)} * .5),
);

// TODO: This will be removed at 1.0 in favor of size
$backwards-compatibility: (
  spacing--vertical: pfe-local(SpacingHorizontal, $fallback: calc(#{pfe-var(container-padding)} * .5)),
  spacing--horizontal: pfe-local(SpacingHorizontal, $fallback: calc(#{pfe-var(container-padding)} * .5)),
);

$LOCAL-VARIABLES: map-deep-merge($LOCAL-VARIABLES, $backwards-compatibility);
