@import "../../pfe-sass/pfe-sass";

$LOCAL: dropdown;

$variables: (
  toggle: (
    MinWidth: calc(#{pfe-var(container-spacer)} * 2),
    MaxWidth: 100%,
    PaddingTop: calc(#{pfe-var(container-padding)} * 0.375),
    PaddingRight: calc(#{pfe-var(container-padding)} * 0.5),
    PaddingBottom: calc(#{pfe-var(container-padding)} * 0.375),
    PaddingLeft: calc(#{pfe-var(container-padding)} * 0.5),
    FontSize: #{pfe-var(font-size)},
    FontWeight: 400,
    LineHeight: #{pfe-var(line-height)},
    Color: #{pfe-color(text)},
    BackgroundColor: transparent,
    Border: none,
    BorderBottomColor--before: #8a8d90,
    BorderBottomColor--before--hover: #{pfe-color(link)},
    BorderWidth--before: #{pfe-var(ui--border-width)},
    BorderWidth--before--hover: calc(#{pfe-var(ui--border-width)} * 2),
    BorderTopColor--before: #ededed,
    BorderRightColor--before: #ededed,
    BorderLeftColor--before: #ededed,
    BorderStyle--before: solid
  ),
  menu: (
    PaddingTop: calc(#{pfe-var(container-padding)} * 0.5),
    PaddingBottom: calc(#{pfe-var(container-padding)} * 0.5),
    PaddingRight: 0,
    PaddingLeft: 0,
    Margin: 0,
    Background: #{pfe-color(surface--lightest)},
    BorderWidth: #{pfe-var(ui--border-width)},
    BorderStyle: #{pfe-var(ui--border-style)},
    BorderColor: transparent,
    BoxShadow: #{pfe-var(box-shadow--sm)},
    MinWidth: 100%
  )
);

:host {
  @include pfe-print-variables($variables);
  position: relative;
  display: inline-block;
  max-width: 100%;
}

:host([hidden]) {
  display: none;
}

:host([is_disabled]) {
  .pfe-dropdown {
    &__container {
      pointer-events: none;
    }
    &__toggle {
      --pfe-dropdown__toggle--BackgroundColor: #ededed;
      &::before {
        border: none;
      }
    }
  }
}

.pfe-dropdown {
  &__toggle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: #{pfe-local($cssvar: MinWidth, $region: toggle)};
    max-width: #{pfe-local($cssvar: MaxWidth, $region: toggle)};
    padding-top: #{pfe-local($cssvar: PaddingTop, $region: toggle)};
    padding-right: #{pfe-local($cssvar: PaddingRight, $region: toggle)};
    padding-bottom: #{pfe-local($cssvar: PaddingBottom, $region: toggle)};
    padding-left: #{pfe-local($cssvar: PaddingLeft, $region: toggle)};
    font-size: #{pfe-local($cssvar: FontSize, $region: toggle)};
    font-family: #{pfe-var(font-family, $fallback: inherit)};
    font-weight: #{pfe-local($cssvar: FontWeight, $region: toggle)};
    line-height: #{pfe-var(line-height)};
    color: #{pfe-local($cssvar: Color, $region: toggle)};
    background-color: #{pfe-local($cssvar: BackgroundColor, $region: toggle)};
    border: #{pfe-local($cssvar: Border, $region: toggle)};
    &:hover,
    &:active,
    &:focus {
      &:before {
        border-bottom-color: #{pfe-local(
            $cssvar: BorderBottomColor--before--hover,
            $region: toggle
          )};
      }
    }
    &:active,
    &:focus {
      &:before {
        border-width: #{pfe-local(
            $cssvar: BorderWidth--before--hover,
            $region: toggle
          )};
      }
    }
    &:before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: "";
      border-width: #{pfe-local($cssvar: BorderWidth--before, $region: toggle)};
      border-style: #{pfe-local($cssvar: BorderStyle--before, $region: toggle)};
      border-top-color: #{pfe-local(
          $cssvar: BorderTopColor--before,
          $region: toggle
        )};
      border-right-color: #{pfe-local(
          $cssvar: BorderRightColor--before,
          $region: toggle
        )};
      border-bottom-color: #{pfe-local(
          $cssvar: BorderBottomColor--before,
          $region: toggle
        )};
      border-left-color: #{pfe-local(
          $cssvar: BorderLeftColor--before,
          $region: toggle
        )};
    }
    &-text {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    &-icon {
      vertical-align: calc(#{pfe-var(container-spacer)} * -0.125);
      fill: currentColor;
      height: #{pfe-var(icon-size)};
      width: #{pfe-local($cssvar: Width, $region: toggle-icon)};
      margin-right: calc(#{pfe-var(container-spacer)} * 0.5);
      margin-left: #{pfe-var(container-spacer)};
      line-height: #{pfe-var(line-height)};
    }
  }
  &__menu {
    display: none;
    position: absolute;
    top: calc(100% + 0.25rem);
    z-index: #{pfe-zindex(overlay)};
    padding-top: #{pfe-local($cssvar: PaddingTop, $region: menu)};
    padding-bottom: #{pfe-local($cssvar: PaddingBottom, $region: menu)};
    padding-right: #{pfe-local($cssvar: PaddingRight, $region: menu)};
    padding-left: #{pfe-local($cssvar: PaddingLeft, $region: menu)};
    margin: #{pfe-local($cssvar: Margin, $region: menu)};
    background: #{pfe-local($cssvar: Background, $region: menu)};
    background-clip: padding-box;
    border-width: #{pfe-local($cssvar: BorderWidth, $region: menu)};
    border-style: #{pfe-local($cssvar: BorderStyle, $region: menu)};
    border-color: #{pfe-local($cssvar: BorderColor, $region: menu)};
    box-shadow: #{pfe-local($cssvar: BoxShadow, $region: menu)};
    list-style: none;
    box-sizing: border-box;
    min-width: #{pfe-local($cssvar: MinWidth, $region: menu)};
    &.open {
      display: block;
    }
  }
}
