@import "../../pfe-sass/pfe-sass";

$LOCAL: dropdown-item;

$variables: (
  PaddingTop: calc(#{pfe-var(container-padding)} * 0.5),
  PaddingRight: #{pfe-var(container-padding)},
  PaddingBottom: calc(#{pfe-var(container-padding)} * 0.5),
  PaddingLeft: #{pfe-var(container-padding)},
  FontSize: #{pfe-var(font-size)},
  FontWeight: 400,
  LineHeight: #{pfe-var(line-height)},
  Color: #151515,
  Color--hover: #151515,
  TextAlign: left,
  WhiteSpace: nowrap,
  BackgroundColor: transparent,
  BackgroundColor--hover: #ededed,
  Border: none,
  BoxSizing: border-box,
  TextDecoration: none
);

:host {
  @include pfe-print-variables($variables);
}

::slotted(*) {
  display: block;
  width: 100%;
  padding-top: #{pfe-local(PaddingTop)};
  padding-right: #{pfe-local(PaddingRight)};
  padding-bottom: #{pfe-local(PaddingBottom)};
  padding-left: #{pfe-local(PaddingLeft)};
  font-size: #{pfe-local(FontSize)};
  font-weight: #{pfe-local(FontWeight)};
  line-height: #{pfe-local(LineHeight)};
  color: #{pfe-local(Color)};
  text-align: #{pfe-local(TextAlign)};
  white-space: #{pfe-local(WhiteSpace)};
  background-color: #{pfe-local(BackgroundColor)};
  border: #{pfe-local(Border)};
  box-sizing: #{pfe-local(BoxSizing)};
  text-decoration: #{pfe-local(TextDecoration)};
}

::slotted(*:hover) {
  color: #{pfe-local(Color--hover)};
  background-color: #{pfe-local(BackgroundColor--hover)};
}
