{
  "presets": ["env"],
  "plugins": [
    [
      "transform-es2015-modules-umd",
      {
        "globals": {
          "../rhelement/rhelement.umd.js": "RHElement",
          "rh-dropdown-button": "RHElement.RhDropdownButton"
        },
        "exactGlobals": true
      }
    ]
  ]
}
