!.eleventy.cjs

*.css
*.d.ts
*.ico
*.jpeg
*.jpg
*.map
*.md
*.njk
*.patch
*.png
*.scss
*.sh
*.spec.js
*.svg
*.toml
*.tsbuildinfo
*.txt

custom-elements.json
package-lock.json

_site
docs/_data/todos.json
docs/demo
node_modules

core/**/*.js
elements/**/*.js
tools/**/*.js
tools/create-element/templates/**/*
