!.eleventy.cjs

*.css
*.d.ts
*.ico
*.jpeg
*.jpg
*.map
*.md
*.njk
*.patch
*.png
*.scss
*.sh
*.spec.js
*.svg
*.toml
*.tsbuildinfo
*.txt
*.yml
*.yaml

custom-elements.json
package-lock.json

_site
docs/_data/todos.json
docs/demo.js
docs/bundle.js
docs/core
docs/components
node_modules

core/pfe-sass/docs/index.html
core/**/*.js
elements/**/*.js
tools/**/*.js

!core/*/demo/*.js
!elements/*/demo/*.js

tools/create-element/templates/**/*
