# Development files
node_modules
tmp
.tmp

# Generator config file
project.conf.json

# ignore js, map, and css in element dirs
elements/*/_temp
elements/*/dist
elements/*/__*.scss
elements/*/package-lock.json

# Logs
lerna-debug.log
npm-debug.log*
local.log

# Local files
.env
*.local.umd.js
*.local.js

# Storybook
.storybook_out
storybook/

test/.wct-kludge

# Sass
.sass-cache

# Mac-specific
.DS_Store

# IDEs
.vimrc
.sonarlint
.history

# Temp files
*~
*.swp

# Documentation
/_site
/docs/components/*/

# E2E
/test/vrt-snapshots/
/test/vrt-results/

# Sassdoc compiled assets ignored
elements/pfe-sass/demo/*
elements/pfelement/demo/*
!elements/pfelement/demo/example.html
