package-lock.json merge=npm-merge-driver
npm-shrinkwrap.json merge=npm-merge-driver

elements/*/*.js              -diff -merge
elements/*/*.js.map          -diff -merge
elements/*/gulpfile.js       diff merge
elements/*/rollup.config.js  diff merge
elements/*/*.story.js        diff merge
