package-lock.json            -diff -merge

elements/*/*.js              -diff -merge
elements/*/*.js.map          -diff -merge
elements/*/gulpfile.js       diff merge
elements/*/rollup.config.js  diff merge
elements/*/*.story.js        diff merge
