# Development files
node_modules
tmp
.tmp

# Generator config file
project.conf.json

# ignore js, map, and css in element dirs
elements/*/_temp
elements/*/dist
elements/*/__*.scss
elements/*/package-lock.json

# Demo URL
examples/index.html

# Logs
lerna-debug.log
npm-debug.log*
local.log

# Local files
.env
*.local.umd.js
*.local.js

# Storybook
.storybook_out

test/.wct-kludge

# Sass
.sass-cache

# Mac-specific
.DS_Store

# IDEs
.vimrc
.sonarlint
.history

# Temp files
*~
*.swp

# Documentation
/docs/_site
/docs/components/*/
/docs/node_modules/

# E2E
/test/vrt-snapshots/
/test/vrt-results/

# Storybook
storybook

elements/pfe-sass/demo/*
