# Development files
node_modules
tmp

# Compiled index
doc/index.html

# Logs
lerna-debug.log
npm-debug.log*

# Local files
*.local.umd.js
*.local.js

# Storybook
.storybook_out

test/.wct-kludge

# Sass
.sass-cache

# Mac-specific
.DS_Store

# IDEs
.vimrc
.sonarlint

# Temp files
*~
*.swp
