# Ignore these files and file-types, regardless of where they are in the
# directory tree.

test
package.json
package-lock.json
# @TODO: Find a way to include scss files
*.scss
*.css
*.html
*.md

generators/element/templates/*

# Package JS file ignores, variant 1
#
# These ignore paths are for when prettier runs :ia 'lerna run' which cd's into
# each package's dir, so they are relative to the package dirs.

/dist/**/*
/_temp/**/*

# Package JS file ignores, variant 2
#
# These ignore paths are for repo-wide prettier runs (like pre-commit hooks)
# where the working directory is the repo root.

elements/*/_temp/**/*
elements/*/dist/**/*

# Compiled assets from sassdoc
elements/pfe-sass/demo/assets/*

# This demo page has strict formatting needs that prettier can't handle
elements/pfe-markdown/demo/index.html

# Compiled assets from storybook
storybook/**/*