test
package.json
package-lock.json

# Package JS file ignores, variant 1
#
# These ignore paths are for when prettier via 'lerna run' which cd's into each
# package's dir, so they are relative to the package dirs.

/*.js
!/gulpfile.js
!/rollup.config.js
!/*.story.js

# Package JS file ignores, variant 2
#
# These ignore paths are for repo-wide prettier runs (like pre-commit hooks)
# where the working directory is the repo root.

elements/*/*.js
!elements/*/gulpfile.js
!elements/*/rollup.config.js
!elements/*/*.story.js
themes/*/*.js
!themes/*/gulpfile.js
!themes/*/rollup.config.js
!themes/*/*.story.js
