{% set level = level or 2 %}
{% set header = header or 'Attributes' %}

<section class="band api attributes">
  <h{{level}}>{{ header | innerMD | safe }}</h{{level}}> {% if not content and not attributes.length %}

  <em>None</em> {%- else -%}

  {{ content | innerMD | safe }}
  <dl> {%- for attribute in attributes -%}
    <dt><strong><code>{{ attribute.name }}</code></strong></dt>
    <dd>
      {{- attribute.description | innerMD | safe -}}
      <dl class="member"> {%- if attribute.fieldName -%}
        <dt>DOM Property</dt> <dd><code>{{ attribute.fieldName }}</code></dd> {%- endif -%}
        <dt>Type</dt> <dd class="inline-type"> {{- (attribute.type.text or 'unknown') | type | safe -}} </dd>
        <dt>Default</dt> <dd class="inline-type">{{- (attribute.default or 'unknown') | type | safe -}}</dd>
      </dl>
    </dd> {%- endfor -%}
  </dl> {%- endif -%} {%- if deprecated.length -%}

  <details>
    <summary>
      <h{{level+1}}>{{ ('Deprecated ' + header) | innerMD | safe }}</h{{level+1}}>
    </summary>
    <dl> {%- for attribute in deprecated -%}
      <dt><strong><code>{{ attribute.name }}</code></strong></dt>
      <dd>
        {{- attribute.description | innerMD | safe -}}
        <em>Note: {{ attribute.name }} is deprecated. {{ item.deprecated | innerMD | safe }}</em>
        <dl class="member"> {%- if attribute.fieldName -%}
          <dt>DOM Property</dt> <dd><code>{{ attribute.fieldName }}</code></dd> {%- endif -%}
          <dt>Type</dt> <dd class="inline-type"> {{- (attribute.type.text or 'unknown') | type | safe -}} </dd>
          <dt>Default</dt> <dd class="inline-type"> {{- (attribute.default or 'unknown') | type | safe -}} </dd>
        </dl>
      </dd> {%- endfor -%}
    </dl>
  </details>{%- endif -%}
</section>
