{% set level = level or 2 %}

<section class="band">
  <h{{level}}>{{ header | innerMD | safe }}</h{{level}}>
  <div class="example-preview">
    {{ content | innerMD | safe }}
  </div>
  
</section>
