{% set level = level or 2 %}
{% set header = header or 'CSS Shadow Parts' %}

<section class="api band css-shadow-parts api-properties">
  <h{{level}}>{{ header | innerMD | safe }}</h{{level}}> {% if not content and not parts.length %}

  <em>None</em> {%- else -%}

  {{ content | innerMD | safe }}

  <dl> {% for part in parts -%}
    <dt><strong><code>{{ part.name }}</code></strong></dt>
    <dd>{{- part.description | innerMD | safe -}}</dd> {% endfor %}
  </dl> {%- endif -%} {%- if deprecated.length -%}

  <details>
    <summary>
      <h{{level+1}}>{{ ('Deprecated '+header) | innerMD | safe }}</h{{level+1}}>
    </summary>
    <dl> {% for part in deprecated -%}
      <dt><strong><code>{{ part.name }}</code></strong></dt>
      <dd>
        {{- part.description | innerMD | safe -}}
        <em>Note: {{ part.name }} is deprecated. {{- part.deprecated | innerMD | safe -}}</em>
      </dd> {% endfor %}
    </dl>

  </details> {%- endif -%}
</section>
