{% set level = level or 2 %}
{% set header = header or 'Events' %}

<section class="api band events api-properties">
  <h{{level}}>{{ header | innerMD | safe }}</h{{level}}> {% if not content and not events.length %}

  <em>None</em> {% else %}

  {{ content | innerMD | safe }}
  <dl> {%- for event in events -%}
    <dt><strong><code>{{ event.name }}</code></strong></dt>
    <dd>
      {{- event.description | innerMD | safe -}}
      <span>
        <em>Event Type</em>: <span class="inline-type">{{ (event.type.text or 'unknown') | type | safe }}</span>
      </span>
    </dd> {%- endfor -%}
  </dl> {%- endif -%} {%- if deprecated.length -%}

  <details>
    <summary>
      <h{{level+1}}>{{ ('Deprecated ' + header) | innerMD | safe }}</h{{level+1}}>
    </summary>
    <dl> {%- for event in deprecated -%}
      <dt><strong><code>{{ event.name }}</code></strong></dt>
      <dd>
        {{- event.description | innerMD | safe -}}
        <em>Note: {{ event.name }} is deprecated. {{- event.deprecated | innerMD | safe -}}</em>
        <em>Event Type</em>: <span class="inline-type">{{- (event.type.text or 'unknown') | type | safe -}}</span>
      </dd> {%- endfor -%}
    </dl>

  </details> {%- endif -%}
</section>
