{% set level = level or 2 %}
{% set header = header or 'Installation' %}

<section class="api band slots api-properties">
  {{ header | mdHeading(level) | safe }} {% if not content and not slots.length %}

  <em>None</em> {%- else -%}

Install this component using npm:

```shell
npm install {{ package.name }}
```

  We recommend using an import map to manage your dependencies. For more information on import maps and how to use them, see the [import map reference on MDN Web Docs](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/script/type/importmap/).

  Then import this component into your project by using a [bare module specifier](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Modules):
{{ properties | debugger }}
```js
import '@patternfly/elements/{{ tagName }}/{{ tagName }}.js'
```
</section>
  {%- endif -%}
</section>
