{% set level = level or 2 %}
{% set header = header or 'Methods' %}

{# TODO: inline code highlighting for type and default: render the markdown to html and extract the `<code>` from the `<pre>` #}

<section class="api band methods">
  <h{{level}}>{{ header | innerMD | safe }}</h{{level}}> {% if not content and not methods.length %}

  <em>None</em> {% else %}

  {{ content | innerMD | safe }}
  <dl> {%- for method in methods -%}
    <dt><strong><code>{{ method.name }}({{ method | stringifyParams }})</code></strong></dt>
    <dd>{{- method.description | innerMD | safe -}}</dd> {%- endfor -%}
  </dl> {%- endif -%} {%- if deprecated.length -%}

  <details>
    <summary>
      <h{{level+1}}>{{ ('Deprecated '+header) | innerMD | safe }}</h{{level+1}}>
    </summary>
    <dl> {%- for method in deprecated -%}
      <dt><strong><code>{{ method.name }}({{ method | stringifyParams }})</code></strong></dt>
      <dd>
        {{- method.description | innerMD | safe -}}
        <em>Node: {{ method.name }} is deprecated. {{- method.deprecated | innerMD | safe -}}</em>
      </dd> {%- endfor -%}
    </dl>

  </details> {%- endif -%}
</section>
