<pfe-band class="header" use-grid>
  <h1 slot="header">{{ title }}</h1>
</pfe-band>

<pfe-band size="small" color-palette="lightest" use-grid>
  <h2 slot="header">Overview</h2>

  {{ description | safe }}

  {{ content | safe }}

</pfe-band>

<pfe-band size="small" color-palette="lightest" use-grid>
  <h2 slot="header">Installation</h2>

```shell
npm install {{ package.name }}
```

</pfe-band>
