<section class="band overview">
  <h2>Overview</h2>

  <div class="example-preview">
    {{ content | safe }}
  </div>

</section>

<section class="band">
  <h2>Installation</h2>

```shell
npm install {{ package.name }}
```

</section>
