<section class="band overview">
  <h2>Overview</h2>

  {{ description | safe }}

  {{ content | safe }}

</section>

<section class="band">
  <h2>Installation</h2>

```shell
npm install {{ package.name }}
```

</section>
