{% set level = level or 2 %}
{% set header = header or 'DOM Properties' %}

{# TODO: inline code highlighting for type and default: render the markdown to html and extract the `<code>` from the `<pre>` #}

<section class="api band properties">
  <h{{level}}>{{ header | innerMD | safe }}</h{{level}}> {% if not content and not properties.length %}

  <em>None</em> {% else %}

  {{ content | innerMD | safe }}

  <dl> {%- for property in properties -%}
    <dt><strong><code>{{ property.name }}</code></strong></dt>
    <dd>
      {{- property.description | innerMD | safe -}}
      <dl class="member">
        <dt>Type</dt> <dd class="inline-type"> {{- (property.type.text or 'unknown') | type | safe -}} </dd>
        <dt>Default</dt> <dd class="inline-type"> {{- (property.default or 'unknown') | type | safe -}} </dd>
      </dl>
    </dd> {%- endfor -%}
  </dl> {% endif %} {%- if deprecated.length -%}

  <details>
    <summary>
      <h{{level+1}}>{{ ('Deprecated ' + header) | innerMD | safe }}</h{{level+1}}>
    </summary>
    <dl> {%- for property in deprecated -%}
      <dt><strong><code>{{ property.name }}</code></strong></dt>
      <dd>
        {{- property.description | innerMD | safe -}}
        <em>Note: {{ property.name }} is deprecated. {{- property.deprecated | innerMD | safe -}}</em>
        <dl class="member">
          <dt>Type</dt> <dd class="inline-type"> {{- (property.type.text or 'unknown') | type | safe -}} </dd>
          <dt>Default</dt> <dd class="inline-type"> {{- (property.default or 'unknown') | type | safe -}} </dd>
        </dl>
      </dd> {%- endfor -%}
    </dl>

  </details> {%- endif -%}
</section>
