{% set level = level or 2 %}
{% set header = header or 'Slots' %}

<section class="api band slots">
  <h{{level}}>{{ header | innerMD | safe }}</h{{level}}> {% if not content and not slots.length %}

  <em>None</em> {%- else -%}

  {{ content | innerMD | safe }}

  <dl> {% for slot in slots -%}
    <dt> {%- if slot.name -%}
      <strong><code>{{ slot.name }}</code></strong> {%- else -%}
      <strong>Default Slot</strong> {% endif %}
    </dt>
    <dd>{{- slot.description | innerMD | safe -}}</dd> {% endfor %}
  </dl> {%- endif -%} {%- if deprecated.length -%}

  <details>
    <summary>
      <h{{level+1}}>{{ ('Deprecated ' + header) | innerMD | safe }}</h{{level+1}}>
    </summary>
    <dl> {% for slot in deprecated -%}
      <dt> {%- if slot.name -%}
        <strong><code>{{ slot.name }}</code></strong> {%- else -%}
        <strong>Default Slot</strong> {% endif %}
      </dt>
      <dd>
        {{- slot.description | innerMD | safe -}}
        <em>Note: {{ slot.name }} is deprecated. {{ slot.deprecated | innerMD | safe }}</em>
      </dd> {% endfor %}
    </dl>
  </details> {%- endif -%}
</section>
