@import "../rh-sass/rh-sass";

:host {
  @include rh-box-sizing();

  button {
    padding: $rh-global--spacer--sm $rh-global--spacer;
    border: $rh-global--border--BorderWidth $rh-global--border--BorderStyle $rh-global--border--BorderColor;
    background: transparent;
    font-size: $rh-global--FontSize;
    line-height: $rh-global--LineHeight;
    color: $rh-global--text-color;
    cursor: pointer;

    &::after {
      content: '';
      display: inline-block;
      margin-left: $rh-global--spacer--sm;
      border-top: 5px solid $rh-global--text-color;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      vertical-align: middle;
    }

    &:hover,
    &:focus {
      background: $rh-global--color--gray-platinum;
    }

    &[aria-expanded="true"] {
      color: $rh-global--color--white;
      background: $rh-global--link-color--hover;
      border-color: $rh-global--link-color--hover;

      &::after {
        border-bottom: 5px solid $rh-global--color--white;
        border-top: 0;
      }
    }
  }
}
