@import "../../pfe-sass/pfe-sass";
:host {
  --pfe-status--BackgroundColor: #{pfe-color(feedback--default)};
  --pfe-broadcasted--color--text: #{pfe-color(feedback--default--lightest)};

  display: block;
}

:host([hidden]) {
  display: none;
}

.flag {
  position: fixed;
  right: 0;
  top: 0;
  background-color: var(--pfe-status--BackgroundColor);
  color: var(--pfe-broadcasted--color--text);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 3rem;

  span {
    transform: rotateZ(90deg);
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.875rem;
    line-height: 1em;
    white-space: nowrap;
    // writing-mode: vertical-rl;
    // text-orientation: mixed;
  }
}

:host([pfe-status="warning"]),
:host([pfe-status="moderate"]) {
  --pfe-status--BackgroundColor: #{pfe-color(feedback--moderate)};
  --pfe-broadcasted--color--text: #{pfe-color(feedback--moderate--darkest)};
}

:host([pfe-status="important"]) {
  --pfe-status--BackgroundColor: #{pfe-color(feedback--important)};
  --pfe-broadcasted--color--text: #{pfe-color(feedback--important--lightest)};
}

:host([pfe-status="critical"]) {
  --pfe-status--BackgroundColor: #{pfe-color(feedback--critical)};
  --pfe-broadcasted--color--text: #{pfe-color(feedback--critical--lightest)};
}

:host([pfe-status="success"]) {
  --pfe-status--BackgroundColor: #{pfe-color(feedback--success)};
  --pfe-broadcasted--color--text: #{pfe-color(feedback--success--lightest)};
}

:host([pfe-status="info"]) {
  --pfe-status--BackgroundColor: #{pfe-color(feedback--info)};
  --pfe-broadcasted--color--text: #{pfe-color(feedback--info--lightest)};
}

:host([pfe-status="normal"]) {
  --pfe-status--BackgroundColor: #{pfe-color(ui-base)};
  --pfe-broadcasted--color--text: #{pfe-color(ui-base--text)};
}

:host([pfe-status="complement"]) {
  --pfe-status--BackgroundColor: #{pfe-color(ui-complement)};
  --pfe-broadcasted--color--text: #{pfe-color(ui-complement--text)};
}

:host([pfe-status="accent"]) {
  --pfe-status--BackgroundColor: #{pfe-color(ui-accent)};
  --pfe-broadcasted--color--text: #{pfe-color(ui-accent--text)};
}
