// Please see the pfe-sass README for guidance on using these tools
@import "../../pfe-sass/pfe-sass";

$LOCAL: button;

$variables: (
  BackgroundColor: #{pfe-apply-broadcast(link)}, // #06c,
  BackgroundColor--hover: #{pfe-apply-broadcast(link--hover)}, // should be #004080 but we don't have this in the palette
  Color: #{pfe-color(ui-base--text)},
  FontSize: #{pfe-var(font-size)},
  Border: 0,
  Border--after: 1px solid,
  BorderColor--after: transparent,
  BorderRadius: #{pfe-var(surface--border-radius)},
  Padding: calc(#{pfe-var(container-padding)} / 2) #{pfe-var(container-padding)},
  LineHeight: 1.5,
);

:host {
  @include pfe-print-variables($variables);
  display: inline-block;
}

:host([hidden]) {
  display: none;
}

:host([pfe-variant="primary"]) button,
button {
  background-color: #{pfe-local(BackgroundColor)};
  color: #{pfe-local(Color)};
  font-size: #{pfe-local(FontSize)};
  font-family: #{pfe-var(font-family, $fallback: inherit)};
  padding: #{pfe-local(Padding)};
  cursor: pointer;
  border-radius: #{pfe-local(BorderRadius)};
  border: #{pfe-local(Border)};
  position: relative;
  line-height: #{pfe-local(LineHeight)};

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    border: #{pfe-local(Border--after)};
    border-color: #{pfe-local(BorderColor--after)};
    border-radius: #{pfe-local(BorderRadius)};
  }

  &:hover,
  &:focus {
    --pfe-button--BackgroundColor: #{pfe-local(BackgroundColor--hover)};
  }
}

:host([pfe-variant="secondary"]) {
  button {
    --pfe-button--BackgroundColor: transparent;
    --pfe-button--BackgroundColor--hover: transparent;
    --pfe-button--Color: #{pfe-apply-broadcast(link)};

    &:after {
      --pfe-button--BorderColor--after: #{pfe-apply-broadcast(link)};
    }

    &:hover,
    &:focus {
      &:after {
        --pfe-button--Border--after: 2px solid;
        --pfe-button--BorderColor--after: #{pfe-apply-broadcast(link)};
      }
    }
  }
}

:host([pfe-variant="tertiary"]) {
  button {
    --pfe-button--BackgroundColor: transparent;
    --pfe-button--BackgroundColor--hover: transparent;
    --pfe-button--Color: #{pfe-apply-broadcast(text)};

    &:after {
      --pfe-button--BorderColor--after: #{pfe-apply-broadcast(text)};
    }

    &:hover,
    &:focus {
      &:after {
        --pfe-button--Border--after: 2px solid;
        --pfe-button--BorderColor--after: #{pfe-apply-broadcast(text)};
      }
    }
  }
}

:host([pfe-variant="danger"]) {
  button {
    --pfe-button--BackgroundColor: #c9190b;
    --pfe-button--Color: #fff;

    &:hover,
    &:focus {
      --pfe-button--BackgroundColor--hover: #a30000;
    }
  }
}

:host([pfe-variant="control"]) {
  button {
    --pfe-button--BackgroundColor: transparent;
    --pfe-button--Color: #{pfe-apply-broadcast(text)};
    --pfe-button--BorderRadius: 0;

    &:after {
      --pfe-button--BorderColor--after: #ededed;
      border-bottom-color: #8a8d90;
    }

    &:hover,
    &:focus {
      &:after {
        border-bottom-width: 2px;
        border-bottom-color: #{pfe-apply-broadcast(link)};
      }
    }
  }
}

:host([pfe-variant="control"][disabled]) {
  button {
    --pfe-button--BackgroundColor: #{pfe-color(surface--lighter)};
  }
}

:host([disabled]) {
  button {
    --pfe-button--BackgroundColor: #d2d2d2;
    --pfe-button--Color: #737679;
    pointer-events: none;

    &:hover,
    &:focus {
      --pfe-button--BackgroundColor--hover: #d2d2d2;

      &:after {
        --pfe-button--Border--after: 0;
      }
    }

    &:after {
      --pfe-button--Border--after: 0;
    }
  }
}
