@import "node_modules/@rhelements/cp-sass/cp-sass";
:host {
  position: relative;
  overflow: hidden;
  margin: 0;
}

/* .accordion section:nth-child(even) [aria-expanded] {
  background: #fff;
}
 */
.accordion-basic {
  border: 2px solid #000;
  padding: 20px;
}

.accordion-label {
  margin: 0;
  padding: 0;
  border: 1px solid transparent;
}

.accordion-label button {
  margin: 0;
  border: none;
  font-size: 16px;
  line-height: 3;
  font-weight: normal;
  cursor: pointer;
}

.accordion-label button:focus {
  outline: 1px solid blue;
}

button {
  width: 100%;
  text-align: left;
  padding: 0;
  background: none;
}

[aria-expanded] {
  position: relative;
  display: block;
  background: #ededed;
  margin-bottom: 0;
  line-height: 3;
  font-weight: normal;
  /*   border: 1px solid transparent; */
  padding-left: 2.125em;
}

[aria-expanded="false"]::before {
  content: "";
  position: absolute;
  left: 0;
  top: 40%;
  display: block;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #000;
  margin-left: 1em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all 0.125s;
  -o-transition: all 0.125s;
  transition: all 0.125s;
}

[aria-expanded="true"]::before {
  content: "";
  position: absolute;
  left: 0;
  top: 40%;
  display: block;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #000;
  margin-left: 1em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all 0.125s;
  -o-transition: all 0.125s;
  transition: all 0.125s;
  transform: rotate(90deg);
}

.collapsed ~ .accordion-content {
  display: none;
}

.accordion-content {
  overflow: hidden;
  padding: 20px;
  padding-top: 5px;
  border: 2px solid #f7f7f7;
  border-top: none;
  animation: slideout 0.75s;
}

.accordion-content:focus {
  outline: 1px solid blue;
}

@keyframes slideout {
  0% {
    opacity: 0;
    max-height: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    max-height: 40em;
  }
}

.accordion-basic + .accordion-basic {
  margin-top: 15px;
}
