@import "node_modules/@rhelements/cp-sass/cp-sass";
:host {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
}

:host([data-theme="striped"]) ::slotted(cp-accordion-heading:nth-of-type(even)) {
  background-color: #fff;
}
