// @todo Change to mixins; no efficiency gain with placeholders in web components

@use "../mixins/mixins";

/// Clear box element styles
%reset-box {
  margin: 0;
  padding: 0;
}

/// Clear list styles
%reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/// Clear button styles
%reset-button {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

/// Screen-reader only content
%sr-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
