////
/// @group typography
////

@use "../maps/typography" as *;
@use "../mixins/copy-mixins" as *;
@use "../functions/custom-properties" as *;

/// Base typography typically set on a body or html tag to cascade down to all typographical elements.
/// @requires {function} pfe-var
%pfe-content-base {
    font-family: pfe-var(font-family);
    line-height: pfe-var(line-height);
    font-weight: pfe-var(font-weight--light);
}

/// List items
/// @requires {function} pfe-var
%pfe-content--list {
    padding-left: calc(#{pfe-var(ui--indent)} * 2);
    &:not(:last-child):not(:empty) {
      margin-bottom: pfe-var(content-spacer--body--md); // 16px
    }
}

/// @requires {function} pfe-var
%pfe-content--list-item {
  &:not(:last-child):not(:empty) {
      margin-bottom: pfe-var(content-spacer--body--sm); // 8px
  }
}

/// Adds extra space above nested ordered or unordered lists, within other lists. `UL + UL` or `OL + OL`
/// @requires {function} pfe-var
%pfe-content--nested-list {
      margin-top: pfe-var(content-spacer--body--sm); // 8px
}

// TITLE MODIFERS
@each $size in (6xl, 5xl, 4xl, 3xl, 2xl, xl, lg, md, sm, xs) {
  %pfe-title--#{$size}  {
    // Capture the values of properties to use directly or wrapped in the pfe-local function below
    // Initialize variables at the $pf-title-set--tiny size
    // $size == "lg" or "md" or "sm" or "xs"

    $line-height: pfe-var(line-height);
    $font-weight: pfe-var(font-weight--normal);
    $margin-bottom: pfe-var(content-spacer--heading--sm);

    @if index($pf-title-set--mega, "#{$size}") != null {
        $line-height: pfe-var(line-height--heading-mega);
        $font-weight: pfe-var(font-weight--light);
        $margin-bottom: pfe-var(content-spacer--heading--md);
    }

    // $size == "4xl" or "3xl" or "2xl"
    @else if index($pf-title-set--regular, "#{$size}") != null {
        $line-height: pfe-var(line-height--heading);
        $font-weight: pfe-var(font-weight--normal);
        $margin-bottom: pfe-var(content-spacer--heading--sm);
    }

    // If this value was not found in the tiny set, it's likely not supported
    @else if index($pf-title-set--tiny, "#{$size}") == null {
        @warn "#{$size} was not found in $pf-title-set--mega, $pf-title-set--regular, or $pf-title-set--tiny.";
    }

    // include title var and global var in stack
    font-family: pfe-var(font-family--heading);
    font-size: pfe-var(title--m-#{$size}--FontSize);
    line-height: $line-height;
    font-weight: $font-weight;
    &:not(:last-child) {
        margin-bottom: $margin-bottom;
    }
  }
}

// TEXT MODIFERS
@each $size in (lg, md, sm, xs) {
  %pfe-text--#{$size}  {
    font-size:   pfe-var(text--m-#{$size}--FontSize);
    font-family: pfe-var(font-family);
    line-height: pfe-var(line-height);
    font-weight: pfe-var(font-weight--normal);
    &:not(:last-child):not(:empty) {
        margin-bottom: pfe-var(content-spacer--body--sm); //16px
    }
  }
}
