section {
  padding: 0 2rem;
}

#no-padding pfe-popover::part(content) {
  --pf-c-popover__content--PaddingTop: 0px;
  --pf-c-popover__content--PaddingRight: 0px;
  --pf-c-popover__content--PaddingBottom: 0px;
  --pf-c-popover__content--PaddingLeft: 0px;
}

#auto-width pfe-popover::part(content) {
  --pf-c-popover--MaxWidth: none;
  --pf-c-popover--MinWidth: auto;
}