:host {
  display: none;
  overflow: hidden;
  will-change: height;
}

:host([pfe-expanded]) {
  display: block;
  position: relative;
}

:host(.animating) {
  display: block;
  -webkit-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
}
