:host {
  display: inline-flex;
  border: 1px solid var(--pf-global--BorderColor--100, #d2d2d2);
  --_active-descendant-color: var(--pf-theme--color--surface--lighter, #f0f0f0) !important
}

:host([hidden]),
*[hidden] {
  display: none !important;
}

slot {
  display: flex;
  flex-direction: column;
  width: 100%;
}

slot.disabled {
  color: var(--pf-c-list__item-icon--Color, #6a6e73) !important;
  background-color: var(--pf-theme--color--surface--lighter, #f0f0f0) !important;
  border-color: var(--pf-theme--color--surface--lighter, #f0f0f0) !important;
  pointer-events: none;
  cursor: not-allowed;;
  --_active-descendant-color: transparent;
  --_svg-color: var(--pf-c-list__item-icon--Color, #6a6e73) !important;
}
