:host {
  display: inline-flex;
  border: 1px solid var(--pf-global--BorderColor--100, #d2d2d2);
  --_active-descendant-color: transparent;
}

:host([hidden]),
*[hidden] {
  display: none !important;
}

:host([disabled]) {
  color: var(--pf-theme--color--ui-base, #6a6e73) !important;
  background-color: var(--pf-theme--color--surface--lighter, #f0f0f0) !important;
  border-color: var(--pf-theme--color--surface--lighter, #f0f0f0) !important;
  pointer-events: none;
  --_pf-select-option-active-descendant-color: var(--pf-theme--color--surface--lighter, #f0f0f0) !important;
  --_pf-select-option-svg-color: var(--pf-theme--color--ui-base, #6a6e73) !important;
}

:host([orientation="horizontal"]) {
  overflow: scroll;
}

slot {
  display: flex;
  flex-direction: column;
  width: 100%;
}

:host([orientation="horizontal"]) slot {
  flex-direction: row;
}