:host {
  position: relative;
  display:  inline-block;
  min-height: var(--pf-icon--size);
  min-width: var(--pf-icon--size);
  line-height:  0;
}

:host([size=sm]) { --pf-icon--size: var(--pf-global--icon--FontSize--sm, 10px); }
:host([size=md]) { --pf-icon--size: var(--pf-global--icon--FontSize--md, 18px); }
:host([size=lg]) { --pf-icon--size: var(--pf-global--icon--FontSize--lg, 24px); }
:host([size=xl]) { --pf-icon--size: var(--pf-global--icon--FontSize--xl, 54px); }

svg {
  fill: currentcolor;
  width: var(--pf-icon--size);
  height: var(--pf-icon--size);
}

