%reset-box {
  margin: 0;
  padding: 0;
}

%reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

%reset-button {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

%container {
  position: relative;
  display: block;
  width: 100%;
  padding: #{pfe-var(container-spacer)};
}

%sr-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

%fallback-surface {
  @include browser-query(ie11) {
    background-color: pfe-fetch(surface--lightest) !important;
    color: pfe-fetch(text) !important;
  }
}

%fallback-text {
  @include browser-query(ie11) {
    color: pfe-fetch(text) !important;
  }
}
