// @todo Change to mixins; no efficiency gain with placeholders in web components

/// Clear box element styles
%reset-box {
  margin: 0;
  padding: 0;
}

/// Clear list styles
%reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/// Clear button styles
%reset-button {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

/// Set up a container element
%container {
  position: relative;
  display: block;
  width: 100%;
  padding: pfe-var(container-spacer);
}

/// Screen-reader only content
%sr-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

/// Fallback surface styles for IE11 only
%fallback-surface {
  @include browser-query(ie11) {
    background-color: pfe-fetch(surface--lightest) !important;
    color: pfe-fetch(text) !important;
  }
}

/// Fallback text styles for IE11 only
%fallback-text {
  @include browser-query(ie11) {
    color: pfe-fetch(text) !important;
  }
}
