////
/// @group typography
////

@mixin pfe-content-base($prefix: $repo) {
  /// Base typography typically set on a body or html tag to cascade down to all typographical elements.
  /// @see {mixin} pfe-typography 
  /// @requires {function} pfe-var
  %#{$prefix}-content-base {
    font-family: pfe-var(font-family, $prefix: $prefix);
    line-height: pfe-var(line-height, $prefix: $prefix);
    font-weight: pfe-var(font-weight--light, $prefix: $prefix);
  }
}

@mixin pfe-content--list($prefix: $repo) {
  /// List items
  /// @see {mixin} pfe-typography 
  /// @requires {function} pfe-var
  %#{$prefix}-content--list {
      padding-left: calc(#{pfe-var(ui--indent, $prefix: $prefix)} * 2);
      &:not(:last-child):not(:empty) {
        margin-bottom: pfe-var(content-spacer--body--md, $prefix: $prefix); // 16px
      }
  }
}

@mixin pfe-content--list-item($prefix: $repo) {
  /// @see {mixin} pfe-typography 
  /// @requires {function} pfe-var
  %#{$prefix}-content--list-item {
    &:not(:last-child):not(:empty) {
        margin-bottom: pfe-var(content-spacer--body--sm, $prefix: $prefix); // 8px
    }
  }
}

@mixin pfe-content--nested-list($prefix: $repo) {
  /// Adds extra space above nested ordered or unordered lists, within other lists. `UL + UL` or `OL + OL`
  /// @see {mixin} pfe-typography 
  /// @requires {function} pfe-var
  %#{$prefix}-content--nested-list {
        margin-top: pfe-var(content-spacer--body--sm, $prefix: $prefix); // 8px
  }
}

// TITLE MODIFERS
@mixin pfe-title--sizes($prefix: $repo) {
  @each $size in (6xl, 5xl, 4xl, 3xl, 2xl, xl, lg, md, sm, xs) {
    %#{$prefix}-title--#{$size}  {
        @include pfe-typography($size, $prefix: $prefix); 
    }
  }
}

// TEXT MODIFERS
@mixin pfe-text--sizes($prefix: $repo) {
  @each $size in (lg, md, sm, xs) {
    %#{$prefix}-text--#{$size}  {
        @include pfe-typography($size, $type: "text", $prefix: $prefix); 
    }
  }
}

@include pfe-content-base;
@include pfe-content--list;
@include pfe-content--list-item;
@include pfe-content--nested-list;
@include pfe-title--sizes;
@include pfe-text--sizes;
