
// TEXT
%pfe-content--text--spacing-block {
    &:not(:last-child):not(:empty) {
        margin-bottom: pfe-var(content-spacer--body--md); //16px
    }
}

// These are not included in the content placeholders below because they come 
// standard with the body tag. Use this extend if you need extra specificity.
%pfe-content--text--extras {
    font-family: pfe-var(font-family);
    font-weight: pfe-var(font-weight--light);
    line-height: pfe-var(line-height);
}

/// List items
%list {
    padding-left: pfe-var(ui--indent);
    &:not(:last-child):not(:empty) {
      margin-bottom: pfe-var(content-spacer--body--md); //16px
    }
}
%list-item {
  &:not(:last-child):not(:empty) {
      margin-bottom: pfe-var(content-spacer--body--sm); //8px
  }
}
%nested-list-item {
      margin-top: pfe-var(content-spacer--body--sm); //16px
}
