%pfe-title--3xl {
    font-family: pfe-var(font-family--heading);
    font-size:   pfe-var(title--m-3xl--FontSize);
    line-height: pfe-var(line-height);
    font-weight: pfe-var(font-weight--light);
}
%pfe-title--2xl {
    font-family: pfe-var(font-family--heading);
    font-size:   pfe-var(title--m-2xl--FontSize);
    line-height: pfe-var(line-height);
    font-weight: pfe-var(font-weight--light);
}
%pfe-title--xl {
    font-family: pfe-var(font-family--heading);
    font-size:   pfe-var(title--m-xl--FontSize);
    line-height: pfe-var(line-height);
    font-weight: pfe-var(font-weight--light);
}
%pfe-title--lg {
    font-family: pfe-var(font-family--heading);
    font-size:   pfe-var(title--m-lg--FontSize);
    line-height: pfe-var(line-height);
    font-weight: pfe-var(font-weight--normal);
}
%pfe-title--md {
    font-family: pfe-var(font-family--heading);
    font-size:   pfe-var(title--m-md--FontSize);
    line-height: pfe-var(line-height);
    font-weight: pfe-var(font-weight--normal);
}
%pfe-title--sm {
    font-family: pfe-var(font-family--heading);
    font-size:   pfe-var(title--m-sm--FontSize);
    line-height: pfe-var(line-height);
    font-weight: pfe-var(font-weight--normal);
} 
%pfe-title--xs {
    font-family: pfe-var(font-family--heading);
    font-size:   pfe-var(title--m-xs--FontSize);
    line-height: pfe-var(line-height);
    font-weight: pfe-var(font-weight--normal);
} 

// h tags
%pfe-heading--h1 {
    font-family: pfe-var(font-family--heading);
    font-size:   pfe-var(content--h1--FontSize);
    line-height: pfe-var(line-height);
    font-weight: pfe-var(font-weight--normal);
}
%pfe-heading--h2 {
    font-family: pfe-var(font-family--heading);
    font-size:   pfe-var(content--h2--FontSize);
    line-height: pfe-var(line-height);
    font-weight: pfe-var(font-weight--normal);
}
%pfe-heading--h3 {
    font-family: pfe-var(font-family--heading);
    font-size:   pfe-var(content--h3--FontSize);
    line-height: pfe-var(line-height);
    font-weight: pfe-var(font-weight--normal);
} 
%pfe-heading--h4 {
    font-family: pfe-var(font-family--heading);
    font-size:   pfe-var(content--h4--FontSize);
    line-height: pfe-var(line-height);
    font-weight: pfe-var(font-weight--normal);
} 
%pfe-heading--h5 {
    font-family: pfe-var(font-family--heading);
    font-size:   pfe-var(content--h5--FontSize);
    line-height: pfe-var(line-height);
    font-weight: pfe-var(font-weight--normal);
} 
%pfe-heading--h6 {
    font-family: pfe-var(font-family--heading);
    font-size:   pfe-var(content--h6--FontSize);
    line-height: pfe-var(line-height);
    font-weight: pfe-var(font-weight--normal);
} 

%pfe-content-p {
    font-family: pfe-var(font-family);
    font-size:   pfe-var(content--FontSize);
    line-height: pfe-var(line-height);
    font-weight: pfe-var(font-weight--light);
}

// TEXT
%pfe-text--lg {
    font-family: var(--#{$repo}-theme--font-family,  #{pfe-var(font-family)} );
    font-size:   var(--#{$repo}-theme--font-size--default-lg, #{pfe-var(font-size--default-lg)} );
    line-height: pfe-var(line-height);
    font-weight: pfe-var(font-weight--light);
}

%pfe-text--md {
    font-family: var(--#{$repo}-theme--font-family, #{pfe-var(font-family)} );
    font-size:   var(--#{$repo}-theme--font-size--default-md, #{pfe-var(font-size--default-md)} );
    line-height: pfe-var(line-height);
    font-weight: pfe-var(font-weight--light);
}

%pfe-text--sm {
    font-family: var(--#{$repo}-theme--font-family, #{pfe-var(font-family)} );
    font-size:   var(--#{$repo}-theme--font-size--default-sm, #{pfe-var(font-size--default-sm)} );
    line-height: pfe-var(line-height);
    font-weight: pfe-var(font-weight--light);
}

%pfe-text--xs {
    font-family: var(--#{$repo}-theme--font-family, #{pfe-var(font-family)} );
    font-size:   var(--#{$repo}-theme--font-size--default-xs, #{pfe-var(font-size--default-xs)} );
    line-height: pfe-var(line-height);
    font-weight: pfe-var(font-weight--light);
}
