
/// HTML TYPOGRAPHY
/// The variable stack includes a hook just for headings when they appear in the 
/// light DOM within components: --pf-c--FontSize
///
/// Components can't control the font size of block level elements like HTML headings 
/// when they are in the light DOM.  A component _could_ redefine the variables for 
/// standard headings by using the variable hooks such as: `--pf-c--content--h4--FontSize` 
/// but it can't know if the light DOM might contain an H1, H2, H3, etc. it shouldn't
/// redefine the variables for all possible headings. Instead, there is one dedicated
/// variable for this purpose. 

%h1 {
    font-family: pfe-var(font-family--heading);
    font-size:   var( --pf-c--FontSize, pfe-var(content--h1--FontSize));
    line-height: pfe-var(line-height--heading);
    font-weight: pfe-var(font-weight--normal);
}
%h2 {
    font-family: pfe-var(font-family--heading);
    font-size:   var( --pf-c--FontSize, pfe-var(content--h2--FontSize));
    line-height: pfe-var(line-height--heading);
    font-weight: pfe-var(font-weight--normal);
}
%h3 {
    font-family: pfe-var(font-family--heading);
    font-size:   var( --pf-c--FontSize, pfe-var(content--h3--FontSize));
    line-height: pfe-var(line-height--heading);
    font-weight: pfe-var(font-weight--normal);
} 
%h4 {
    font-family: pfe-var(font-family--heading);
    font-size:   var( --pf-c--FontSize, pfe-var(content--h4--FontSize));
    line-height: pfe-var(line-height--heading);
    font-weight: pfe-var(font-weight--normal);
} 
%h5 {
    font-family: pfe-var(font-family--heading);
    font-size:   var( --pf-c--FontSize, pfe-var(content--h5--FontSize));
    line-height: pfe-var(line-height--heading);
    font-weight: pfe-var(font-weight--normal);
} 
%h6 {
    font-family: pfe-var(font-family--heading);
    font-size:   var( --pf-c--FontSize, pfe-var(content--h6--FontSize));
    line-height: pfe-var(line-height--heading);
    font-weight: pfe-var(font-weight--normal);
}
%h1, %h2, %h3, %h4, %h5, %h6 {
    &:not(:last-child):not(:empty) {
        margin-bottom: pfe-var(content-spacer--heading--sm); //16px
    }
}


// TITLES
// NOTE: These do not make use of the pfe-typography mixin because it 
// does not include the title modifier CSS variables in the stack, such as
// --pf-c--title--m-6xl--FontSize

%pfe-title--6xl {
    font-family: #{pfe-var(font-family--heading)};
    font-size:   #{pfe-var(title--m-6xl--FontSize)};
    line-height: #{pfe-var(line-height--heading-mega)};
    font-weight: #{pfe-var(font-weight--light)};
    &:not(:last-child) {
        margin-bottom: pfe-var(content-spacer--heading--md);
    }
}
//%pfe-headline-xl  
%pfe-title--5xl {
    font-family: #{pfe-var(font-family--heading)};
    font-size:   #{pfe-var(title--m-5xl--FontSize)};
    line-height: #{pfe-var(line-height--heading-mega)};
    font-weight: #{pfe-var(font-weight--light)};
    &:not(:last-child) {
        margin-bottom: pfe-var(content-spacer--heading--md);
    }
}
//%pfe-headline-alpha  
%pfe-title--4xl {
    font-family: #{pfe-var(font-family--heading)};
    font-size:   #{pfe-var(title--m-4xl--FontSize)};
    line-height: #{pfe-var(line-height--heading)};
    font-weight: #{pfe-var(font-weight--normal)};
    &:not(:last-child) {
        margin-bottom: pfe-var(content-spacer--heading--sm);
    }
}
%pfe-title--3xl {
    font-family: #{pfe-var(font-family--heading)};
    font-size:   #{pfe-var(title--m-3xl--FontSize)};
    line-height: #{pfe-var(line-height--heading)};
    font-weight: #{pfe-var(font-weight--normal)};
    &:not(:last-child) {
        margin-bottom: pfe-var(content-spacer--heading--sm);
    }
} 
%pfe-title--2xl {
    font-family: #{pfe-var(font-family--heading)};
    font-size:   #{pfe-var(title--m-2xl--FontSize)};
    line-height: #{pfe-var(line-height--heading)};
    font-weight: #{pfe-var(font-weight--normal)};
    &:not(:last-child) {
        margin-bottom: pfe-var(content-spacer--heading--sm);
    }
}
%pfe-title--xl {
    font-family: #{pfe-var(font-family--heading)};
    font-size:   #{pfe-var(title--m-xl--FontSize)};
    line-height: #{pfe-var(line-height--heading)};
    font-weight: #{pfe-var(font-weight--normal)};
    &:not(:last-child) {
        margin-bottom: pfe-var(content-spacer--heading--sm);
    }
}
%pfe-title--lg {
    font-family: #{pfe-var(font-family--heading)};
    font-size:   #{pfe-var(title--m-lg--FontSize)};
    line-height: #{pfe-var(line-height)};
    font-weight: #{pfe-var(font-weight--normal)};
    &:not(:last-child) {
        margin-bottom: pfe-var(content-spacer--heading--sm);
    }
}
%pfe-title--md {
    font-family: #{pfe-var(font-family--heading)};
    font-size:   #{pfe-var(title--m-md--FontSize)};
    line-height: #{pfe-var(line-height)};
    font-weight: #{pfe-var(font-weight--normal)};
    &:not(:last-child) {
        margin-bottom: pfe-var(content-spacer--heading--sm);
    }
}
%pfe-title--sm {
    font-family: #{pfe-var(font-family--heading)};
    font-size:   #{pfe-var(title--m-sm--FontSize)};
    line-height: #{pfe-var(line-height)};
    font-weight: #{pfe-var(font-weight--normal)};
    &:not(:last-child) {
        margin-bottom: pfe-var(content-spacer--heading--sm);
    }
} 
%pfe-title--xs {
    font-family: #{pfe-var(font-family--heading)};
    font-size:   #{pfe-var(title--m-xs--FontSize)};
    line-height: #{pfe-var(line-height)};
    font-weight: #{pfe-var(font-weight--normal)};
    &:not(:last-child) {
        margin-bottom: pfe-var(content-spacer--heading--sm);
    }
} 

// HEADINGS
%pfe-content--h1 {
    font-family: pfe-var(font-family--heading);
    font-size:   var( --pf-c--FontSize, pfe-var(content--h1--FontSize));
    line-height: pfe-var(line-height--heading);
    font-weight: pfe-var(font-weight--normal);
}
%pfe-content--h2 {
    font-family: pfe-var(font-family--heading);
    font-size:   var( --pf-c--FontSize, pfe-var(content--h2--FontSize));
    line-height: pfe-var(line-height--heading);
    font-weight: pfe-var(font-weight--normal);
}
%pfe-content--h3 {
    font-family: pfe-var(font-family--heading);
    font-size:   var( --pf-c--FontSize, pfe-var(content--h3--FontSize));
    line-height: pfe-var(line-height--heading);
    font-weight: pfe-var(font-weight--normal);
} 
%pfe-content--h4 {
    font-family: pfe-var(font-family--heading);
    font-size:   var( --pf-c--FontSize, pfe-var(content--h4--FontSize));
    line-height: pfe-var(line-height);
    font-weight: pfe-var(font-weight--normal);
} 
%pfe-content--h5 {
    font-family: pfe-var(font-family--heading);
    font-size:   var( --pf-c--FontSize, pfe-var(content--h5--FontSize));
    line-height: pfe-var(line-height);
    font-weight: pfe-var(font-weight--normal);
} 
%pfe-content--h6 {
    font-family: pfe-var(font-family--heading);
    font-size:   var( --pf-c--FontSize, pfe-var(content--h6--FontSize));
    line-height: pfe-var(line-height);
    font-weight: pfe-var(font-weight--normal);
} 

// TEXT
%pfe-content--text--spacing-block {
    &:not(:last-child):not(:empty) {
        margin-bottom: pfe-var(content-spacer--body--md); //16px
    }
}

%pfe-content--text-xl {
    font-size: pfe-var(content--xl--FontSize);
    @extend %pfe-content--text--spacing-block;
}
%pfe-content--text-lg {
    font-size: pfe-var(content--lg--FontSize);
    @extend %pfe-content--text--spacing-block;
}
%pfe-content--text-md,
%pfe-content--text {
    font-size: pfe-var(content--FontSize);
    @extend %pfe-content--text--spacing-block;
}
%pfe-content--text-sm {
    font-size: pfe-var(content--small--FontSize);
    @extend %pfe-content--text--spacing-block;
}
%pfe-content--text-xs {
    font-size: pfe-var(content--xs--FontSize);
    @extend %pfe-content--text--spacing-block;
}

// These are not included in the content placeholders below because they come 
// standard with the body tag. Use this extend if you need extra specificity.
%pfe-content--text--extras {
    font-family: pfe-var(font-family);
    font-weight: pfe-var(font-weight--light);
    line-height: pfe-var(line-height);
}

/// List items
%list {
    padding-left: pfe-var(ui--indent);
    &:not(:last-child):not(:empty) {
      margin-bottom: pfe-var(content-spacer--body--md); //16px
    }
}
%list-item {
  &:not(:last-child):not(:empty) {
      margin-bottom: pfe-var(content-spacer--body--sm); //8px
  }
}
%nested-list-item {
      margin-top: pfe-var(content-spacer--body--sm); //16px
}
