////
/// @group typography
////

/// Base typography typically set on a body or html tag to cascade down to all typographical elements.
/// @see {mixin} pfe-typography 
/// @requires {function} pfe-var
%pfe-content-base {
    font-family: pfe-var(font-family);
    line-height: pfe-var(line-height);
    font-weight: pfe-var(font-weight--light);
}

/// List items
/// @see {mixin} pfe-typography 
/// @requires {function} pfe-var
%pfe-content--list {
    padding-left: calc(#{pfe-var(ui--indent)} * 2);
    &:not(:last-child):not(:empty) {
      margin-bottom: pfe-var(content-spacer--body--md); // 16px
    }
}

/// @see {mixin} pfe-typography 
/// @requires {function} pfe-var
%pfe-content--list-item {
  &:not(:last-child):not(:empty) {
      margin-bottom: pfe-var(content-spacer--body--sm); // 8px
  }
}

/// Adds extra space above nested ordered or unordered lists, within other lists. `UL + UL` or `OL + OL`
/// @see {mixin} pfe-typography 
/// @requires {function} pfe-var
%pfe-content--nested-list {
      margin-top: pfe-var(content-spacer--body--sm); // 8px
}

// TITLE MODIFERS
@each $size in (6xl, 5xl, 4xl, 3xl, 2xl, xl, lg, md, sm, xs) {
  %pfe-title--#{$size}  {
      @include pfe-typography($size, $base: true, $spacing: true); 
  }
}

// TEXT MODIFERS
@each $size in (lg, md, sm, xs) {
  %pfe-text--#{$size}  {
      @include pfe-typography($size, $type: "text"); 
  }
}
