// ============================================================================
// Note: There should be no direct HEX or other values in this file.
// Please reference RH-SASS variables.
// ============================================================================
//
// Global vars are named:
// `$rh-global--concept--PropertyTitleCase--modifier--state`
// For example:
// * $rh-global--color--primary
// * $rh-global--FontSize
// * --rh-theme--FontSize--heading--xs

// Component/Element vars are named:
// `$rh-c-block__element--modifier--state--PropertyTitleCase`
// For example:
// * --rh-dropdown--heading--FontSize
// * --cp-accordion--heading--FontSize

.rh-l-bullseye {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: var(--rh-l-bullseye--Padding, $rh-global--spacer);
  margin: 0;
}
