:host {
  display: flex;
  flex-direction: row;
  position: relative;
  gap: 0.5rem;
}

pf-button {
  --pf-c-button--FontSize: var(--pf-c-label__c-button--FontSize, var(--pf-global--FontSize--xs, 0.75rem));
  --pf-c-button--PaddingTop: var(--pf-c-label__c-button--PaddingTop, var(--pf-global--spacer--xs, 0.25rem));
  --pf-c-button--PaddingRight: var(--pf-c-label__c-button--PaddingRight, var(--pf-global--spacer--sm, 0.5rem));
  --pf-c-button--PaddingBottom: var(--pf-c-label__c-button--PaddingBottom, var(--pf-global--spacer--xs, 0.25rem));
  --pf-c-button--PaddingLeft: var(--pf-c-label__c-button--PaddingLeft, var(--pf-global--spacer--sm, 0.5rem));
  margin: var(--pf-c-label__c-button--MarginTop, -0.5rem)
          var(--pf-c-label__c-button--MarginRight, -0.5rem)
          var(--pf-c-label__c-button--MarginBottom, -0.5rem)
          var(--pf-c-label__c-button--MarginLeft, 0.25rem);
}

#outer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  align-items: center;
  padding: 0.5rem;
  border: 1px solid #d2d2d2;
  border-radius: 6px;
  background-color: #fff;
}

:host([orientation="horizontal"]) #outer {
  flex-direction: row;
}

:host([orientation="vertical"]) #outer {
  flex-direction: column;
  align-items: flex-start;
}

::slotted([slot="category"]) {
  display: inline-block;
  max-width: 16ch; 
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
}

.add-label {
  cursor: pointer;
  align-items: center;
  gap: 4px;
  transition: border 0.2s ease;
  border-radius: 0.99rem;
}

.add-label:hover {
  box-shadow: 0 0 0 1px #ccc;
}

