@import "node_modules/@rhelements/cp-sass/cp-sass";
:host {
  display: none;
  overflow: hidden;
  padding: 20px;
  padding-top: 5px;
  border: 2px solid #f7f7f7;
  border-top: none;
  background: white;
}

:host([expanded]) {
  display: block;
}

:host(.animating) {
  transition: transform 0.3s ease-in-out;
}
