:host {
  display: none;
  overflow: hidden;
  padding: 20px;
  padding-top: 5px;
  border: 2px solid #f7f7f7;
  border-top: none;
  animation: slideout 0.75s; }

:host([expanded]) {
  display: block; }

@keyframes slideout {
  0% {
    opacity: 0;
    max-height: 0; }
  1% {
    opacity: 1; }
  100% {
    max-height: 40em; } }