// @import "node_modules/@rhelements/cp-sass/cp-sass";
@import "../cp-sass/cp-sass";

:root {
  /* Typography */
  --font-size:         $base-font-size;
  --line-height:       $base-line-height;
  --font-family:       $base-font-family;
  --code-font-family:  $code-font-family;
  --font-weight:       $base-font-weight;
  --heading-font-weight: $heading-font-weight;
  // Heading sizes
  --h1-font-size:			 $h1-font-size;
  --h2-font-size:			 $h2-font-size;
  --h3-font-size:			 $h3-font-size;
  --h4-font-size:			 $h4-font-size;
  --h5-font-size:		   $h5-font-size;
  --h6-font-size:			 $h6-font-size;
  --alt-h1-font-size:  $alt-h1-font-size;
  --alt-h2-font-size:	 $alt-h2-font-size;
  --alt-h3-font-size:	 $alt-h3-font-size;
  --alt-h4-font-size:	 $alt-h4-font-size;
  --alt-h5-font-size:	 $alt-h5-font-size;
  --alt-h6-font-size:	 $alt-h6-font-size;
  // Margins
  --paragraph-margin-bottom: var(--font-size, $base-font-size);
  --heading-margin-top: $heading-margin-top;
  --heading-margin-bottom: $heading-margin-bottom;
}

body {
  font-family: var(--font-family, $base-font-family);
  font-size: var(--font-size, $base-font-size);
  line-height: var(--line-height, $base-line-height);
  font-weight: var(--font-weight, $base-font-weight);
  color: var(--text-color, $text-color);

  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

p {
  margin-top: 1em;
  margin-bottom: var(--paragraph-margin-bottom, 1em);
}

h1, h2, h3, h4, h5, h6 {
  margin-top: var(--heading-margin-top, $heading-margin-top);
  margin-bottom: var(--heading-margin-bottom, $heading-margin-bottom);
  font-weight: var(--heading-font-weight, $heading-font-weight);
  line-height: var(--line-height, $base-line-height);
  text-rendering: auto;
}

h1 {
  font-size: var(--h1-font-size, $h1-font-size);
}

h2 {
  font-size: var(--h2-font-size, $h2-font-size);
}

h3 {
  font-size: var(--h3-font-size, $h3-font-size);
}

h4 {
  font-size: var(--h4-font-size, $h4-font-size);
}

h5 {
  font-size: var(--h5-font-size, $h5-font-size);
}

h6 {
  font-size: var(--h6-font-size, $h6-font-size);
}
