@import "../../rh-sass/rh-sass";
:host {
  display: block;
}

::slotted(*) {
  display: none;
}

nav {
  @include rh-box-sizing();

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;

    li {
      margin: 1px;

      a {
        display: block;
        padding: 4px 8px;
      }

    }
  }
}

:host([hidden]) {
  display: none;
}
