// $boxSize = any box-sizing property, default is border-box
@mixin pfe-box-sizing($boxSize: border-box) {
  *,
  *::before,
  *::after {
    box-sizing: $boxSize;
  }
}

@mixin pfe-clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

@mixin pfe-container {
  @extend %container;

  padding: calc(#{pfe-local(Padding--vertical)} / 2) #{pfe-local(Padding--horizontal)};

  @media (min-width: pfe-breakpoint(sm)) {
    padding: pfe-local(Padding);
  }
}

@mixin pfe-collapsible($state: closed) {
  @if $state != closed {
    display: block;
    position: relative;
    opacity: 1;
  } @else {
    display: none;
    overflow: hidden;
    height: auto;
    will-change: height;
    border-color: transparent;
    opacity: 0;
    transition: height pfe-var(animation-speed) pfe-var(animation-timing);
  }
}

/// Custom focus ring
@mixin focus-ring() {
  outline: none;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: calc(100% - #{pfe-var(surface--border-width--heavy)});
    height: calc(100% - #{pfe-var(surface--border-width--heavy)});
    border-radius: pfe-var(surface--border-radius);
    border: 2px pfe-var(surface--border-style) pfe-var(link);
  }
}

/// Accent bar styles
@mixin accent-bar($direction: horizontal) {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  @if $direction != horizontal {
    width: pfe-var(surface--border-width--heavy);
    height: 100%;
  } else {
    height: pfe-var(surface--border-width--heavy);
    width: 100%;
  }
}
