// $boxSize = any box-sizing property, default is border-box
@mixin pfe-box-sizing($boxSize: border-box) {
  *,
  *::before,
  *::after {
    box-sizing: $boxSize;
  }
}

@mixin pfe-clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

@mixin pfe-container {
  @extend %container;

  padding: calc(#{pfe-local(Padding--vertical)} / 2) #{pfe-local(Padding--horizontal)};

  @media (min-width: pfe-breakpoint(sm)) {
    padding: pfe-local(Padding);
  }
}

// Note: This works best with the padding set on the container and the container nested
// below the application of the collapsible mixin
@mixin pfe-collapsible($state: closed) {

  @if $state != closed {
    opacity: 1;
    height: auto;
  } @else {
    display: block;
    position: relative;
    transition: height pfe-var(animation-speed) pfe-var(animation-timing);
    will-change: height;
    overflow-y: clip;
    height: 0;
  }
}

/// Custom focus ring
@mixin focus-ring(
  $offset: 0,
  $pseudo: after,
  $color: pfe-var(link)
) {
  outline: none;
  position: relative;

  // Focus uses a pseudo-element because it needs to overflow the container, outline also does not support border-radius settings
  &::#{$pseudo} {
    position: absolute;
    content: "";
    top: $offset;
    left: $offset;
    width: calc(100% + #{pfe-var(ui--border-width--active)});
    height: calc(100% + #{pfe-var(ui--border-width--active)});
    border-radius: pfe-var(ui--border-radius);
    border: pfe-var(ui--border-width--md) pfe-var(ui--border-style) transparent;
    @include browser-query(ie11) {
      height: 100%;
    }
  }

  &:focus::#{$pseudo} {
    border-color: $color;
  }
  
  // Remove the focus indicator on mouse-focus for browsers
  // that do support :focus-visible
  &:focus:not(:focus-visible)::#{$pseudo} {
    border: unset;
  }
}

/// Accent bar styles
@mixin accent-bar(
  $direction: horizontal,
  $offset: (
    top: 0px,
    left: 0px
  ),
  $thickness: pfe-var(surface--border-width--heavy),
  $color: transparent
) {
  $vertical: "";
  $horizontal: "";

  position: absolute;
  content: "";
  @each $direction, $size in $offset {
    #{$direction}: $size;
    @if $direction == "top" or $direction == "bottom" {
      @if $vertical != "" {
        $vertical: "#{$vertical} - #{$size}";
      } @else {
        $vertical: "#{$size}";
      }
    } @else {
      @if $horizontal != "" {
        $horizontal: "#{$horizontal} - #{$size)}";
      } @else {
        $horizontal: "#{$size}";
      }
    }
  }
  background-color: $color;
  @if $direction != horizontal {
    width: calc(#{$thickness} - #{$horizontal});
    height: calc(100% - #{$vertical});
  } @else {
    width: calc(100% - #{$vertical});
    height: calc(#{$thickness} - #{$horizontal});
  }
}
