// $boxSize = any box-sizing property, default is border-box
@mixin pfe-box-sizing($boxSize: border-box) {
  *,
  *::before,
  *::after {
    box-sizing: $boxSize;
  }
}

@mixin pfe-clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

@mixin pfe-container {
  @extend %container;

  padding: calc(#{pfe-local(Padding--vertical)} / 2) #{pfe-local(Padding--horizontal)};

  @media (min-width: pfe-breakpoint(sm)) {
    padding: pfe-local(Padding);
  }
}

// Note: This works best with the padding set on the container and the container nested
// below the application of the collapsible mixin
@mixin pfe-collapsible($state: closed) {
  display: block;

  @if $state != closed {
    position: relative;
    opacity: 1;
    height: auto;
  } @else {
    transition: height pfe-var(animation-speed) pfe-var(animation-timing);
    overflow-y: hidden;
    height: 0;
    will-change: height;
    opacity: 0;
  }
}

/// Custom focus ring
@mixin focus-ring() {
  outline: none;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: calc(100% - #{pfe-var(surface--border-width--heavy)});
    height: calc(100% - #{pfe-var(surface--border-width--heavy)});
    border-radius: pfe-var(surface--border-radius);
    border: 2px pfe-var(surface--border-style) pfe-var(link);
  }
}

/// Accent bar styles
@mixin accent-bar(
  $direction: horizontal,
  $offset: (
    top: 0,
    left: 0
  ),
  $thickness: pfe-var(surface--border-width--heavy),
  $color: transparent
) {
  $vertical: "";
  $horizontal: "";

  position: absolute;
  content: "";
  @each $direction, $size in $offset {
    #{$direction}: $size;
    @if $direction == "top" or $direction == "bottom" {
      @if $vertical != "" {
        $vertical: "#{$vertical} - #{$size}";
      } @else {
        $vertical: "#{$size}";
      }
    } @else {
      @if $horizontal != "" {
        $horizontal: "#{$horizontal} - #{$size)}";
      } @else {
        $horizontal: "#{$size}";
      }
    }
  }
  background-color: $color;
  @if $direction != horizontal {
    width: calc(#{$thickness} - #{$horizontal});
    height: calc(100% - #{$vertical});
  } @else {
    width: calc(100% - #{$vertical});
    height: calc(#{$thickness} - #{$horizontal});
  }
}
