@import "../maps/_typography";

/// Mixin for creating an accessible focus state
/// @param {Color} $color [$pfe-color--link]
/// @see {variable} $pfe-color--link
/// @example - scss
///   @include pfe-accessibility-focus($pfe-color--link--on-dark);
@mixin pfe-accessibility-focus($color: $pfe-color--link) {
  outline-offset: 1px;
  outline-style: dotted;
  outline-width: 1px;
  text-decoration: none !important;

  @if type-of($color) ==color {
    outline-color: $color;
  }
}

@mixin pfe-underline($color: default-link-hover-line, $opacity: 1) {
  text-decoration: underline;
  text-decoration-skip: ink;
}

/// Mixin for authors outside of PFE to control spacing between content
/// @group typography
/// @param {*} $sizing [lg, md, sm] 
/// @param {*} $type [heading, body] 
/// @example - scss
///   @include pfe-content--text--spacing-block(sm);
@mixin pfe-content--text--spacing-block($sizing: md, $type: body) {
    &:not(:last-child):not(:empty) {
        margin-bottom: pfe-var(content-spacer--#{$type}--#{$sizing}); //16px
    }
} 

/// Mixin for authors outside of PFE to customize block level elements
/// The variable stack includes a hook just for headings when they appear in the 
/// light DOM within components: --pf-c--FontSize
///
/// Components can't control the font size of block level elements like HTML headings 
/// when they are in the light DOM.  A component _could_ redefine the variables for 
/// standard headings by using the variable hooks such as: `--pf-c--content--h4--FontSize` 
/// but it can't know if the light DOM might contain an H1, H2, H3, etc. it shouldn't
/// redefine the variables for all possible headings. Instead, there is one dedicated
/// variable for this purpose. 
/// @group typography
/// @param {*} $sizing [h1, h2, h3, h4, h5, h6, p, small] 
/// @example - scss
///  .project-wrapper h3  {
///      @include pfe-title(xl); 
///  }
/// @example - css
///  .project-wrapper  h3 {
///    font-family: "Red Hat Display", "RedHatDisplay", "Overpass", Overpass, Arial, sans-serif;
///    font-family: var(--pfe-theme--font-family--heading, "Red Hat Display", "RedHatDisplay", "Overpass", Overpass, Arial, sans-serif);
///    line-height: 1.3;
///    line-height: var(--pfe-theme--line-height--heading, 1.3);
///    font-weight: 500;
///    font-weight: var(--pfe-theme--font-weight--normal, 500);
///    font-size: 1.25rem;
///    font-size: var(--pf-c--FontSize, var(--pf-c--content--h3--FontSize, var(--pf-global--FontSize--xl, 1.25rem)));
///  }
@mixin pfe-content ($element: "p", $base: false){
    // TEXT
    @if $element == "p" or $element == "small" {
        // Extend includes: line height, weight, font family
        @extend %pfe-content-base;

        // Accomodate for irregular variable naming
        @if $element == "p" {
            font-size: var(--pf-c--FontSize, pfe-var(content--FontSize));
        }
        @else {
            font-size: var(--pf-c--FontSize, pfe-var(content--#{$element}--FontSize));
        }
        @if $base {
            font-family: pfe-var(font-family);
            line-height: pfe-var(line-height);
            font-weight: pfe-var(font-weight--normal);
        }
        // spacing
        @include pfe-content--text--spacing-block(sm);
    } 
    @else { // HEADINGS
        font-family: pfe-var(font-family--heading);
        line-height: pfe-var(line-height--heading);
        font-weight: pfe-var(font-weight--normal);

        font-size: var(--pf-c--FontSize, #{pfe-var(content--#{$element}--FontSize)});
        // spacing
        @include pfe-content--text--spacing-block(sm, heading);
    }
}



/// Mixin to generate a typography stack - font-family, font-size, line-height, font-weight
/// and spacing between elements. It accepts a few inputs and determines what variable stack
/// and CSS properties to output.
/// @group typography
/// @param {String} $sizing [xl] - Human-readable description for the font-size of the stack you are building.
/// @param {String} $type [title] - Describes the type of element being created and determines which variable stack to pull from. Also accepts "text".
/// @param {Bool} $base [false] - Do you want to include base typography properties such as font-family, font-weight, and line-height? Currently only used by $type: text.
/// @param {Bool} $important [false] - Boolean value for if properties need to be postfixed with `!important`. Use of `!important` is only recommended for utility classes.
/// @param {Boolean} $use-local [true] - This will print a local variable at the beginning of the variable stacks.
/// @param {String} $region [null] - For use with local variables only. For more about the regional designation, see pfe-var().
/// @param {Boolean} $light-dom-heading: [false] - Print the --pf-c--FontSize variable with a value of the font-size variable stack. For more information about --pf-c--FontSize, see the HTML HEADINGS section in pfe-base.scss.
/// @requires {function} pfe-var
/// @requires {function} pfe-local
/// @requires {variable} $pf-title-set--mega
/// @requires {variable} $pf-title-set--regular
/// @requires {variable} $pf-title-set--tiny
/// @example - scss - Basic example for xs text typography set
/// $LOCAL: jump-links;
/// .small-text {
///   @include pfe-typography(
///     $sizing: "xs",
///     $type: "text",
///     $base: true,
///     $important: true,
///     $use-local: true,
///     $region: header,
///     $light-dom-heading: true
///   )
/// }
/// @example - css - Rendered result
///
///.small-text {
///  --pf-c--FontSize: var(--pfe-jump-links--FontSize);
///  font-size: 0.75rem !important;
///  font-size: var(--pfe-jump-links__header--FontSize, var(--pf-c-text--m-xs--FontSize, var(--pf-global--FontSize--xs, 0.75rem))///) !important;
///  font-family: "Red Hat Text", "RedHatText", "Overpass", Overpass, Arial, sans-serif !important;
///  font-family: var(--pfe-jump-links__header--LineHeight, var(--pfe-theme--font-family, "Red Hat Text", "RedHatText", ///"Overpass", Overpass, Arial, sans-serif)) !important;
///  line-height: 1.5 !important;
///  line-height: var(--pfe-jump-links__header--LineHeight, var(--pfe-theme--line-height, 1.5)) !important;
///  font-weight: 500 !important;
///  font-weight: var(--pfe-jump-links__header--FontWeight, var(--pfe-theme--font-weight--normal, 500)) !important;
///}
///
///.small-text:not(:last-child) {
///  margin-bottom: 0.5rem !important;
///  margin-bottom: var(--pfe-jump-links__header--MarginBottom, var(--pfe-theme--content-spacer--body--sm, 0.5rem)) !important;
///}
/// @example - scss - Basic example for 5xl title typography set
/// .large-heading {
///   @include pfe-typography(
///     $sizing: "5xl",
///     $type: "title",
///     $important: true,
///     $use-local: true,
///     $region: header,
///     $light-dom-heading: true
///   )
/// }
/// @example - css - Rendered result
///.large-heading {
///  --pf-c--FontSize: var(--pfe-jump-links--FontSize);
///  font-family: "Red Hat Display", "RedHatDisplay", "Overpass", Overpass, Arial, sans-serif !important;
///  font-family: var(--pfe-theme--font-family--heading, "Red Hat Display", "RedHatDisplay", "Overpass", Overpass, Arial, ///sans-serif) !important;
///  font-size: 2.5rem !important;
///  font-size: var(--pfe-jump-links__header--FontSize, var(--pf-c-title--m-5xl--FontSize, var(--pf-global--FontSize--5xl, 2.///5rem))) !important;
///  line-height: 1.2 !important;
///  line-height: var(--pfe-jump-links__header--LineHeight, var(--pfe-theme--line-height--heading-mega, 1.2)) !important;
///  font-weight: 400 !important;
///  font-weight: var(--pfe-jump-links__header--FontWeight, var(--pfe-theme--font-weight--light, 400)) !important;
///}
///
///.large-heading:not(:last-child) {
///  margin-bottom: 1.5rem !important;
///  margin-bottom: var(--pfe-jump-links__header--MarginBottom, var(--pfe-theme--content-spacer--heading--md, 1.5rem)) ///!important;
///}
@mixin pfe-typography (
        $sizing: "xl", 
        $type: "title", 
        $base: false, 
        $important: false,
        $use-local: false,
        $region: null,
        $light-dom-heading: false
    ){

    // Ensure that even numerical entries are treated like strings, "6xl" vs. 6xl
    $sizing: "#{$sizing}";

    // Adds !important to the end of the property; useful for utility classes only. Use with caution.
    $local-region: null;
    @if $region {
        $local-region: $region;
    }   
    $rules: "";
    @if $important {
        $rules: " !important";
    }
    // Text / body copy typography!
    @if $type == "text" {  
        // Capture the values of properties to use directly or wrapped in the pfe-local function below
        $font-family: pfe-var(font-family);
        $font-size: pfe-var(text--m-#{$sizing}--FontSize);
        $line-height: pfe-var(line-height);
        $font-weight: pfe-var(font-weight--normal);
        $margin-bottom: pfe-var(content-spacer--body--sm);
        @if $use-local and $light-dom-heading {
            --pf-c--FontSize: #{pfe-local(FontSize)};
        }
        @if $use-local {
            font-size: pfe-local(FontSize, $fallback: $font-size, $region: $local-region)#{$rules};
            @if $base { 
                font-family: pfe-local(LineHeight, $fallback: $font-family, $region: $local-region)#{$rules};
                line-height: pfe-local(LineHeight, $fallback: $line-height, $region: $local-region)#{$rules};
                font-weight: pfe-local(FontWeight, $fallback: $font-weight, $region: $local-region)#{$rules};
            }
            &:not(:last-child) {
                margin-bottom: pfe-local(MarginBottom, $fallback: $margin-bottom, $region: $local-region)#{$rules};
            }
        }
        @else {
            font-size:   $font-size#{$rules};
            @if $base {  // these styles are ordinarily inherited from the body tag, but some projects may need extra specificity
                font-family: $font-family#{$rules};
                line-height: $line-height#{$rules};
                font-weight: $font-weight#{$rules};
            }
            &:not(:last-child):not(:empty) {
                margin-bottom: $margin-bottom#{$rules}; //16px
            }
        }
    }
    // Title typography!
    @else {
        // this CSS custom property is an extra hook for components to override things, like .pfe-card { --pf-c-FontSize: 32px; }
        @if $use-local and $light-dom-heading {
            --pf-c--FontSize: #{pfe-local(FontSize)};
        }
        font-family: pfe-var(font-family--heading)#{$rules};

        // Capture the values of properties to use directly or wrapped in the pfe-local function below
        $font-size: pfe-var(title--m-#{$sizing}--FontSize);

        // Initialize variables at the $pf-title-set--tiny size
        // $sizing == "lg" or "md" or "sm" or "xs" 
        $line-height: pfe-var(line-height);
        $font-weight: pfe-var(font-weight--normal);
        $margin-bottom: pfe-var(content-spacer--heading--sm);

        @if index($pf-title-set--mega, $sizing) != null {
            $line-height: pfe-var(line-height--heading-mega);
            $font-weight: pfe-var(font-weight--light);
            $margin-bottom: pfe-var(content-spacer--heading--md);
        }
        // $sizing == "4xl" or "3xl" or "2xl" 
        @else if index($pf-title-set--regular, $sizing) != null {
            $line-height: pfe-var(line-height--heading);
            $font-weight: pfe-var(font-weight--normal);
            $margin-bottom: pfe-var(content-spacer--heading--sm);
        }
        // If this value was not found in the tiny set, it's likely not supported
        @else if index($pf-title-set--tiny, $sizing) == null {
            @warn "#{$sizing} was not found in $pf-title-set--mega, $pf-title-set--regular, or $pf-title-set--tiny.";
        }
        
        // For component use, this option allows the mixin to use values set in the component level map
        @if $use-local {
            font-size: pfe-local(FontSize, $font-size, $region)#{$rules};
            line-height: pfe-local(LineHeight, $line-height, $region)#{$rules};
            font-weight: pfe-local(FontWeight, $font-weight, $region)#{$rules};
            &:not(:last-child) {
                margin-bottom: pfe-local(MarginBottom, $margin-bottom, $region)#{$rules};
            }
        } @else {
            font-size: $font-size#{$rules};
            line-height: $line-height#{$rules};
            font-weight: $font-weight#{$rules};
            &:not(:last-child) {
                margin-bottom: $margin-bottom#{$rules};
            }
        }
    }
}
