/// ===========================================================================
/// Broadcast mixin, for use with container components.
///
/// This will print all the broadcast variables, and set the value to the theme of your choosing, like on-dark or on-saturated.
/// @param {String} $theme - Look up values from theme contexts, i.e. "light" or "saturated"
/// @param {List | String} $broadcast [$BROADCAST-VARS] -  Optionally specify only one broadcast variable instead of the whole set, i.e. "text"
/// @requires {String} $repo - Name of repo, which is "pfe"
/// @requires {String} $BROADCAST-VARS - Default list of supported broadcast variables
///
/// @example Usage in a container component, i.e. pfe-card:
/// ```
///    :host {
///      @include pfe-set-broadcast-theme(dark);
///    }
/// ```
/// @output:
/// ```
///    :host {
///   --pfe-broadcasted--text: var(--pfe-theme--color--text--on-dark, #fff);
///   --pfe-broadcasted--link: var(--pfe-theme--color--link--on-dark, #99ccff);
///   --pfe-broadcasted--link--hover: var(--pfe-theme--color--link--hover--on-dark, #cce6ff);
///   --pfe-broadcasted--link--focus: var(--pfe-theme--color--link--focus--on-dark, #cce6ff);
///   --pfe-broadcasted--link--visited: var(--pfe-theme--color--link--visited--on-dark, #b38cd9);
///   --pfe-broadcasted--link-decoration: none;
///   --pfe-broadcasted--link-decoration--hover: underline;
///   --pfe-broadcasted--link-decoration--focus: underline;
///   --pfe-broadcasted--link-decoration--visited: none;
///    }
/// ```
/// ===========================================================================
@mixin pfe-set-broadcast-theme($theme, $broadcast: $BROADCAST-VARS) {
    @each $type in $broadcast {
        $list: ();
        $string: "";
        $context: "";
        $state: "";

        @if str-starts-with($type, "link") {
            $list: append($list, "#{$type}");

            @each $s in (hover, focus, visited) {
                $state: "--#{$s}";
                $string: "#{$type}#{$state}";

                @if not index($list, $string) {
                    $list: append($list, "#{$type}#{$state}");
                }
            }
        }
        @else {
            @if not index($list, $string) {
                $list: append($list, "#{$type}");
            }
        }

        @if index($THEMES, $theme) != null {
            @if $theme != "light" {
                $context: "--on-#{$theme}";
            }
        }
        
        @each $item in $list {
            @if not index($BROADCAST-VARS, $type) {
                @warn "--#{$repo}-broadcasted--#{$item} variable is not in the $BROADCAST-VARS list.";
            }
            @else if not pfe-broadcasted(#{$item}#{$context}) {
                @warn "#{$item}#{$context} value does not currently exist.";
            }
            @else {
                @if index($THEMES, $theme) != null {
                    --#{$repo}-broadcasted--#{$item}: #{pfe-var(#{$item}#{$context})};
                }
                @else {
                    @error "The #{$theme} context does not appear to be part of a supported theme.";
                }
            }
        }
    }
}

/// ===========================================================================
/// Define local variable
///
/// Returns CSS Variable for the local component-scoped variable
///
/// @param {String} $cssvar - Variable identifiers which are postfixed and combined using '--'
/// @param {String} $value - The value of the css variable being defined
/// @param {String} $region - Identifies the region or slot to which this is assigned
/// @requires {String} $repo - Name of repo, which is "pfe"
/// @requires {String} $LOCAL - Name of component, this is defined at the top of the sass file for the component
/// @use -
///     ```
///     :host {
///         padding-top:      #{pfe-local(paddingTop)};
///         padding-bottom:   #{pfe-local(paddingBottom)};
///     }
///     ```
/// ===========================================================================
@mixin pfe-print-local($map: $LOCAL-VARIABLES) {
    @each $property, $value in $map {
        $name: "--#{$property}";
        $styles: $value;

        @if type-of($value) == "map" {
            @each $prop, $v in $value {
                $name: "__#{$property}--#{$prop}";
                $styles: $v;

                // Print the variable definition
                --#{$repo}-#{$LOCAL}#{$name}: #{$styles};
            }
        }
        @else {
            // Print the variable definition
            --#{$repo}-#{$LOCAL}#{$name}: #{$styles};
        }
    }
}

/// ===========================================================================
/// Surface properties  
/// This mixin creates an attribute for all the surface colors, then prints the local background color variable for the component, with the correct theme colors. 
/// @param {List | String} $surfaces [$SURFACES] - defaults to the global $SURFACES list of all supported colors
/// @param {String} $attr-name [pfe-var] - defaults to pfe-var, optionally pass in a custom name for the data attribute
///
/// @example 
/// ```
/// $LOCAL: band;
/// @include surfaces;
/// ```
///
/// @output
/// ```
/// :host([pfe-color="darker"]) {
///   --pfe-band--BackgroundColor: var(--pfe-theme--color--surface--darker, #464646);
///   --theme: dark;
/// }
/// 
/// :host([pfe-color="darkest"]) {
///   --pfe-band--BackgroundColor: var(--pfe-theme--color--surface--darkest, #131313);
///   --theme: dark;
/// }
/// 
/// :host([pfe-color="base"]) {
///   --pfe-band--BackgroundColor: var(--pfe-theme--color--surface--base, #dfdfdf);
///   --theme: light;
/// }
/// 
/// :host([pfe-color="lighter"]) {
///   --pfe-band--BackgroundColor: var(--pfe-theme--color--surface--lighter, #ececec);
///   --theme: light;
/// }
/// 
/// :host([pfe-color="lightest"]) {
///   --pfe-band--BackgroundColor: var(--pfe-theme--color--surface--lightest, #fff);
///   --theme: light;
/// }
/// 
/// :host([pfe-color="accent"]) {
///   --pfe-band--BackgroundColor: var(--pfe-theme--color--surface--accent, #ee0000);
///   --theme: saturated;
/// }
/// 
/// :host([pfe-color="complement"]) {
///   --pfe-band--BackgroundColor: var(--pfe-theme--color--surface--complement, #0477a4);
///   --theme: saturated;
/// }
/// ```
/// ===========================================================================
@mixin pfe-surfaces($surfaces: $SURFACE, $attr-name: #{$repo}-color) {
    @each $color in $surfaces {
        $theme: #{pfe-get-theme(surface--#{$color}--theme)};
        :host([#{$attr-name}="#{$color}"]) {
            @include pfe-print-local((
                BackgroundColor: pfe-var(surface--#{$color}),
                theme: pfe-var(surface--#{$color}--theme, #{$theme})
            ));
            @extend %fallback-surface;
        }
    }
}

/// ===========================================================================
/// Context properties
///
/// Prints the `on` attribute with IE11 fallbacks
///
/// @param {List} themes [$THEMES] - defaults to the global $THEMES list of all supported contexts
/// @param {Boolean} ie-fallback [true] - defaults to true, prints IE11 fallbacks
/// @example
/// ```
///   @include theme-contexts; // imports on="light" etc support
/// ```
///
/// @output
/// ```
/// :host([on="dark"]) {
///   --pfe-broadcasted--text: var(--pfe-theme--color--text--on-dark, #fff);
///   --pfe-broadcasted--link: var(--pfe-theme--color--link--on-dark, #99ccff);
///   --pfe-broadcasted--link--hover: var(--pfe-theme--color--link--hover--on-dark, #cce6ff);
///   --pfe-broadcasted--link--focus: var(--pfe-theme--color--link--focus--on-dark, #cce6ff);
///   --pfe-broadcasted--link--visited: var(--pfe-theme--color--link--visited--on-dark, #b38cd9);
///   --pfe-broadcasted--link-decoration: none;
///   --pfe-broadcasted--link-decoration--hover: underline;
///   --pfe-broadcasted--link-decoration--focus: underline;
///   --pfe-broadcasted--link-decoration--visited: none;
/// }
/// 
/// @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) { /* IE10+ */
///   :host([on="dark"]) {
///     color: #fff;
///     color: var(--pfe-theme--color--text--on-dark, #fff);
///   }
/// }
/// ```
/// ...as well as all the values for :host([on="saturated"])  and  :host([on="light"]) 
/// ===========================================================================
@mixin pfe-theme-contexts($themes: $THEMES, $ie-fallback: true) {
    // Helper attributes to aid in theming
    @each $theme in $themes {
        :host([on="#{$theme}"]) {
            @include pfe-set-broadcast-theme($theme);
        }
    }
    @if $ie-fallback {
        :host {
            @extend %fallback-text;
        }
    }
}
