@mixin browser-query($browser-list) {
  @each $browser in $browser-list {
    @if $browser == ie11 {
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) { /* IE10+ */
        @content;
      }
    }
    @if $browser == edge12 {
      @supports (-ms-accelerator: true) { /* Microsoft Edge Browser 12+ */
        @content;
      }
    }
    @if $browser == edge {
      @supports (-ms-ime-align: auto) { /* Microsoft Edge Browser 16+ (All) */
        @content;
      }
    }
    @if $browser == firefox {
      @media all and (min--moz-device-pixel-ratio:0) { /* Mozilla Firefox (All) */
        @content;
      }
    }
  }
}

@mixin pfe-transition($properties...) {
  $return: null;
  @each $property in $properties {
    @if length($property) == 1 {
      $return: append($return, #{$property} 250ms $pfe-global--animation-timing, comma);
    }
    @else if length($property) == 2 {
      $return: append($return, nth($property, 1) nth($property, 2), comma);
    }
  }
  transition: $return;
}

// Make a CSS arrow
@mixin pfe-arrow($type, $color, $width: 8px, $height: 5px, $pseudo: false) {
  $direction: (
    up: 180deg,
    down: 0deg,
    right: -90deg,
    left: 90deg,
  );
  border-style: pfe-var(surface--border-style);
  border-width: $width $height 0;
  border-color: transparent;
  border-top-color: $color;
  transform: rotate(map-get($direction, $type));
  @if $pseudo {
    display: inline-block;
    content: "";
    @content;
  }
}

@mixin pfe-arrow-color($color) {
  border-top-color: $color;
}

@mixin pfe-print-media {
  @media print {
    @content;
  }
}

@mixin pfe-print-background {
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
}

@mixin pfe-no-print-background {
  @include pfe-print-media {
    background-color: white !important;
    background-image: none !important;
    box-shadow: none !important;
  }
}

@mixin pfe-hidden {
  @at-root #{&}([hidden]) {
    display: none;
  }
}

@mixin pfe-pipe( $position: right, $padding: 0, $margin: 0, $color: $border-color) {
  border: pfe-var(surface--border-width) pfe-var(surface--border-style) transparent;
  border-#{$position}-color: $color;
  @if $position == right {
    padding-left: $padding;
    margin-right: $margin;
  }
  @else if $position == left {
    padding-right: $padding;
    margin-left: $margin;
  }
}

@mixin pfe-retina {
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    @content;
  }
}

@mixin pfe-icon($path, $display: flex, $size: 1em) {
  display: #{$display};
  @if $path {
    background: #{$path} no-repeat;
    background-size: contain;
    background-position: center;
  }
  width: #{$size};
  height: #{$size};
  @content;
}

@mixin pfe-local-debug($map: $LOCAL-VARIABLES) {
  :root {
      @include pfe-print-local($map);
  }
} 