// $boxSize = any box-sizing property, default is border-box
@mixin pfe-box-sizing($boxSize: border-box) {
  *, *::before, *::after {
    box-sizing: $boxSize;
  }
}

@mixin pfe-clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

@mixin pfe-reset-list() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin pfe-reset-box() {
  margin: 0;
  padding: 0;
}

@mixin pfe-sr-only() {
  position: absolute;
  overflow: hidden;
  clip: rect(0,0,0,0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

@mixin pfe-transition($properties...) {
  $return: null;
  @each $property in $properties {
    @if length($property) == 1 {
      $return: append($return, #{$property} 250ms $pfe-global--animation-timing, comma);
    }
    @else if length($property) == 2 {
      $return: append($return, nth($property, 1) nth($property, 2), comma);
    }
  }
  transition: $return;
}

// Make a CSS arrow
@mixin pfe-arrow($type, $color, $width: 8px, $height: 5px, $pseudo: false) {
  $direction: (
    up: 180deg,
    down: 0deg,
    right: -90deg,
    left: 90deg,
  );
  border-style: solid;
  border-width: $width $height 0;
  border-color: transparent;
  border-top-color: $color;
  transform: rotate(map-get($direction, $type));
  @if $pseudo {
    display: inline-block;
    content: "";
    @content;
  }
}

@mixin pfe-arrow-color($color) {
  border-top-color: $color;
}

@mixin pfe-print-media {
  @media print {
    @content;
  }
}

@mixin pfe-print-background {
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
}
// scss-lint:disable ImportantRule
@mixin pfe-no-print-background {
  @include pfe-print-media {
    background-color: white !important;
    background-image: none !important;
    box-shadow: none !important;
  }
}
// scss-lint:enable ImportantRule

@mixin pfe-pipe( $position: right, $padding: 0, $margin: 0, $color: $border-color) {
  border: 1px solid transparent;
  border-#{$position}-color: $color;
  @if $position == right {
    padding-left: $padding;
    margin-right: $margin;
  }
  @else if $position == left {
    padding-right: $padding;
    margin-left: $margin;
  }
}

@mixin pfe-retina {
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    @content;
  }
}


/// RH Define Vars
/// Helps define the CSS Var madness, making it easier for devs!
/// @param {String} $this-component-var - Component specific variable name
/// @param {String} $this-theme-var - Theme variable name
/// @param {String} $this-fallback - Fallback color
///
/// ---------------------------------------------------------------------------
///
/// SASS fallback based on PFElements style
/// $pfe-global[--context][--state][--PropertyCamelCase]

/// Theme level Var
/// --pfe-theme[--context][--state][--PropertyCamelCase]
/// --pfe-theme--heading--hover--BackgroundColor

/// Component Var for theming specific cases
/// --pfe-[component-block][__element][--context][--state][--PropertyCamelCase]
/// --pfe-teaser__title--link-color--visited
/// --pfe-teaser__subtitle--link-color--visited

/// Defined locally for sanity
/// --pfe-local-[component-block][__element][--context][--state][--PropertyCamelCase]
/// --pfe-local-cta--link-color--inverted
///
/// ---------------------------------------------------------------------------
///
///                     ↓ component,         ↓ theme,         ↓ fallback
@mixin pfe-define-vars($this-component-var, $this-theme-var, $this-fallback) {
  --pfe-local-#{$this-component-var}: var(--pfe-#{$this-component-var}, var(--pfe-theme--#{$this-theme-var}, #{$this-fallback}));
}

// Mixin for building slot selectors
@mixin pfe-slot($slot-name, $selector: "") {
  // This logic makes it much easier to style default slots in a loop
  // with named slots
  @if $slot-name != default {
    ::slotted([slot="#{$slot-name}"]#{$selector}) {
      @content;
    }
  }
  @else {
    ::slotted(*) {
      @content;
    }
  }
}
/// ===========================================================================
/// Component Specific SASS Vars
/// ===========================================================================

$pfe-expand_button--LineHeight:      1.5;
$pfe-expand_chevron--size:           0.313em;
$pfe-expand_chevron--weight:         0.15em;
$pfe-expand_chevron--placement:      ($pfe-expand_button--LineHeight / 2) - ($pfe-expand_chevron--size / 2);
$pfe-expand_button--padding-factor:  0.75;


@mixin pfe-expand-button {
    padding: calc(#{pfe-var(container-spacer)} * #{$pfe-expand_button--padding-factor});
    margin: 0;
    width: 100%;
    height: auto;
    border: 1px solid transparent;
    font-family: inherit;
    font-size: #{pfe-var(font-size)};
    line-height: $pfe-expand_button--LineHeight;
    text-align: left;
    background: none;
    cursor: pointer;
    color: var(--pfe-expanded--aux);

    &:focus {
      outline: 1px solid var(--pfe-expanded--focus);
    }

    &::-moz-focus-inner {
      border: 0;
    }
}

@mixin pfe-expand-button-expanded {
    position: relative;
    display: block;
    font-weight: normal;
}

@mixin pfe-expand-button-expanded-false($position: before) {
    content: "";
    position: absolute;
    @if $position == before {
      left: #{pfe-var(container-spacer)};
      transition: transform 0.15s;
      transform: rotate(45deg);
      padding-left: calc(#{pfe-var(container-spacer)} * 2.5);
    }
    @else {
      right: #{pfe-var(container-spacer)};
      transition: all 0.15s;
      transform: rotate(135deg);
      padding-right: calc(#{pfe-var(container-spacer)} * 2.5);
    }
    top: calc((#{pfe-var(container-spacer)} * #{$pfe-expand_button--padding-factor}) + #{$pfe-expand_chevron--placement} );
    display: block;
    border-style: solid;
    border-width: $pfe-expand_chevron--weight $pfe-expand_chevron--weight 0 0;
    height: $pfe-expand_chevron--size;
    width: $pfe-expand_chevron--size;
    text-align: center;
}

@mixin pfe-expand-button-expanded-true($position: before) {
    content: "";
    position: absolute;
    @if $position == before {
      left: #{pfe-var(container-spacer)};
      transition: all 0.15s;
      transform: rotate(135deg);
    }
    @else {
      right: #{pfe-var(container-spacer)};
      transition: transform 0.15s;
      transform: rotate(45deg);
    }
    top: calc((#{pfe-var(container-spacer)} * #{$pfe-expand_button--padding-factor}) + #{$pfe-expand_chevron--placement} );
    display: block;
    width: $pfe-expand_chevron--size;
    height: $pfe-expand_chevron--size;
    border-style: solid;
    border-width: $pfe-expand_chevron--weight $pfe-expand_chevron--weight 0 0;
    text-align: center;
}

@mixin pfe-expand-button-color-base {
    --pfe-expanded--main:         #{pfe-color(surface--base)};
    --pfe-expanded--aux:          #{pfe-color(surface--base--text)};
    --pfe-expanded--focus:        #{pfe-color(surface--base--link--focus)};
}

@mixin pfe-expand-button-color-lightest {
    --pfe-expanded--main:         #{pfe-color(surface--lightest)};
    --pfe-expanded--aux:          #{pfe-color(surface--lightest--text)};
    --pfe-expanded--focus:        #{pfe-color(surface--lightest--link--focus)};
}

@mixin pfe-expand-button-color-lightest-expanded {
    border-top-color: #{pfe-color(surface--border--lightest)};
    border-left-color: #{pfe-color(surface--border--lightest)};
    border-right-color: #{pfe-color(surface--border--lightest)};
}

@mixin pfe-expand-button-color-dark {
    --pfe-expanded--main:         #{pfe-color(surface--darker)};
    --pfe-expanded--aux:          #{pfe-color(surface--darker--text)};
    --pfe-expanded--focus:        #{pfe-color(surface--darker--link--focus)};
}

@mixin pfe-expand-button-color-darkest {
    --pfe-expanded--main:         #{pfe-color(surface--darkest)};
    --pfe-expanded--aux:          #{pfe-color(surface--darkest--text)};
    --pfe-expanded--focus:        #{pfe-color(surface--darkest--link--focus)};
}

@mixin pfe-expand-button-color-accent {
    --pfe-expanded--main:         #{pfe-color(surface--accent)};
    --pfe-expanded--aux:          #{pfe-color(surface--accent--text)};
    --pfe-expanded--focus:        #{pfe-color(surface--accent--link--focus)};
}

@mixin pfe-expand-button-color-complement {
    --pfe-expanded--main:         #{pfe-color(surface--complement)};
    --pfe-expanded--aux:          #{pfe-color(surface--complement--text)};
    --pfe-expanded--focus:        #{pfe-color(surface--complement--link--focus)};
}

