////
/// @group typography
////

/// Base typography typically set on a body or html tag to cascade down to all typographical elements.
/// This is a mixin that creates an extend for you to use in your project (has to be a mixin to pass the repo prefixing information to the variables generated)
/// @see {mixin} pfe-typography 
/// @requires {function} pfe-var
@mixin pfe-content-base($prefix: $repo) {
  %#{$prefix}-content-base {
    font-family: pfe-var(font-family, $prefix: $prefix);
    line-height: pfe-var(line-height, $prefix: $prefix);
    font-weight: pfe-var(font-weight--light, $prefix: $prefix);
  }
}

/// List styles (i.e., ul, dl, ol tags)
/// This is a mixin that creates an extend for you to use in your project (has to be a mixin to pass the repo prefixing information to the variables generated)
/// @see {mixin} pfe-typography 
/// @requires {function} pfe-var
@mixin pfe-content--list($prefix: $repo) {
  %#{$prefix}-content--list {
      padding-left: calc(#{pfe-var(ui--indent, $prefix: $prefix)} * 2);
      &:not(:last-child):not(:empty) {
        margin-bottom: pfe-var(content-spacer--body--md, $prefix: $prefix); // 16px
      }
  }
}

/// List item styles (i.e., li, dd, dt tags)
/// This is a mixin that creates an extend for you to use in your project (has to be a mixin to pass the repo prefixing information to the variables generated)
/// @see {mixin} pfe-typography 
/// @requires {function} pfe-var
@mixin pfe-content--list-item($prefix: $repo) {
  %#{$prefix}-content--list-item {
    &:not(:last-child):not(:empty) {
        margin-bottom: pfe-var(content-spacer--body--sm, $prefix: $prefix); // 8px
    }
  }
}

/// Adds extra space above nested ordered or unordered lists, within other lists. `UL + UL` or `OL + OL`
/// This is a mixin that creates an extend for you to use in your project (has to be a mixin to pass the repo prefixing information to the variables generated)
/// @see {mixin} pfe-typography 
/// @requires {function} pfe-var
@mixin pfe-content--nested-list($prefix: $repo) {
  %#{$prefix}-content--nested-list {
        margin-top: pfe-var(content-spacer--body--sm, $prefix: $prefix); // 8px
  }
}

/// Generates a set of title mixins (6xl, 5xl, 4xl, 3xl, 2xl, xl, lg, md, sm, xs)
/// This is a mixin that creates a set of extends for you to use in your project (has to be a mixin to pass the repo prefixing information to the variables generated)
/// @see {mixin} pfe-typography 
/// @requires {function} pfe-var
@mixin pfe-title--sizes($prefix: $repo) {
  @each $size in (6xl, 5xl, 4xl, 3xl, 2xl, xl, lg, md, sm, xs) {
    %#{$prefix}-title--#{$size}  {
        @include pfe-typography($size, $prefix: $prefix); 
    }
  }
}

/// Generates a set of text mixins (lg, md, sm, xs)
/// This is a mixin that creates a set of extends for you to use in your project (has to be a mixin to pass the repo prefixing information to the variables generated)
/// @see {mixin} pfe-typography 
/// @requires {function} pfe-var
@mixin pfe-text--sizes($prefix: $repo) {
  @each $size in (lg, md, sm, xs) {
    %#{$prefix}-text--#{$size}  {
        @include pfe-typography($size, $type: "text", $prefix: $prefix); 
    }
  }
}
