@import "../../pfe-sass/pfe-sass";

:host {
  // local variables
  --pfe-toast--Top: 50px;
  --pfe-toast--MaxWidth: 500px;
  --pfe-toast--MinWidth: 250px;
  --pfe-toast--Right: 50px;
  --pfe-toast--Right--offset: 50px; // needed with box-shadow
  --pfe-toast__container--BackgroundColor: #fff;
  --pfe-toast__container--BoxShadow: rgba(3, 3, 3, 0.13) 0px 3px 7px 3px, rgba(3, 3, 3, 0.12) 0px 11px 24px 16px;
  --pfe-toast__container--Color: #151515;
  --pfe-toast__container--Padding: 1rem;
  --pfe-toast__close--svg--Height: 12px;
  --pfe-toast__close--svg--Width: 12px;

  // flex parent props
  align-items: stretch;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  
  // animation
  position: absolute;
  right: calc(-1 * (var(--pfe-toast--MaxWidth) + var(--pfe-toast--Right--offset)));
  top: var(--pfe-toast--Top);
  transition: right 0.5s ease-in-out;
  will-change: right;
  
  max-width: var(--pfe-toast--MaxWidth); // media queries?
  min-width: var(--pfe-toast--MinWidth);
}

:host([hidden]) {
  display: none;
}

::slotted(:first-child) {
  margin-top: 0;
}

.pfe-toast {
  &__container {
    // flex child props
    align-self: flex-start;
    flex: 1 1 auto;

    // flex parent props
    align-items: flex-start;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;

    background-color: var(--pfe-toast__container--BackgroundColor);
    box-shadow: var(--pfe-toast__container--BoxShadow);
    color: var(--pfe-toast__container--Color);
    padding: var(--pfe-toast__container--Padding);
  }
  &__content {
    // flex child props
    flex: 1 1 auto;
  }
  &__close {
    // flex child props
    flex: 0 0 auto;

    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0;
    & > svg {
			height: var(--pfe-toast__close--svg--Height);
			width: var(--pfe-toast__close--svg--Width);
		}
  }
}