/*
 * Copyright 2018 Red Hat, Inc.
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 */
/* Palette of Border Colors */
/* Palette of Feedback Colors */
:host {
  --pfe-tabs--main:         transparent;
  --pfe-tabs--aux:          var(--pfe-theme--color--ui-disabled--text, #797979);
  --pfe-tabs--link:         var(--pfe-theme--color--surface--lightest--link, #06c);
  --pfe-tabs--focus:        var(--pfe-theme--color--surface--lightest--link--focus, #003366);
  --pfe-tabs--highlight:    var(--pfe-theme--color--ui-accent, #fe460d);
  position: relative;
  display: block;
  margin: 0 0 -1px;
  padding: calc(1rem * .666) calc(1rem * 1.5);
  padding: calc(var(--pfe-theme--container-padding, 1rem) * .666) calc(var(--pfe-theme--container-padding, 1rem) * 1.5);
  border: 1px solid transparent;
  border: var(--pfe-theme--ui--border-width, 1px) var(--pfe-theme--ui--border-style, solid) transparent;
  border-bottom: 0;
  background-color: var(--pfe-tabs--main);
  color: var(--pfe-tabs--aux);
  text-transform: none;
  text-transform: var(--pfe-tabs__tab--TextTransform, none);
  font-weight: 500;
  font-weight: var(--pfe-theme--font-weight--normal, 500);
  cursor: pointer;
  text-align: center;
}

:host(:focus),
:host(:focus-visible) {
  outline: 1px solid #003366;
  outline: 1px solid var(--pfe-tabs--focus);
  outline: var(--pfe-theme--ui--focus-outline-width, 1px) var(--pfe-theme--ui--focus-outline-style, solid) var(--pfe-tabs--focus);
}

:host([aria-selected="true"]) {
  --pfe-tabs--aux: #131313;
  border: transparent;
  border-bottom: 3px solid var(--pfe-tabs--highlight);
  border-bottom: var(--pfe-theme--surface--border-width--heavy, 3px) var(--pfe-theme--surface--border-style, solid) var(--pfe-tabs--highlight);
}

:host(:hover) {
  --pfe-tabs--aux: var(--pfe-theme--color--text, #333);
}

@media screen and (min-width: 768px) {
  :host([vertical]) {
    text-align: left;
    margin: 0 -1px 0 0;
    padding-left: calc(1rem * .75);
    padding-left: calc(var(--pfe-theme--container-padding, 1rem) * .75);
    border: 1px solid transparent;
    border: var(--pfe-theme--ui--border-width, 1px) var(--pfe-theme--ui--border-style, solid) transparent;
    border-right: 0;
    position: relative;
  }
  :host([vertical][aria-selected="true"]) {
    border-color-top: transparent;
    border-right: 3px solid var(--pfe-tabs--highlight);
    border-right: var(--pfe-theme--surface--border-width--heavy, 3px) var(--pfe-theme--surface--border-style, solid) var(--pfe-tabs--highlight);
  }
}

:host([pfe-variant="wind"][aria-selected="true"][on="dark"]),
:host([pfe-variant="wind"][on="dark"]:hover) {
  --pfe-tabs--aux: var(--pfe-theme--color--text--on-dark, #fff);
}

:host([pfe-variant="earth"][aria-selected="false"]) {
  border-left: 1px solid #dfdfdf;
  border-left: var(--pfe-theme--ui--border-width, 1px) var(--pfe-theme--ui--border-style, solid) var(--pfe-theme--color--surface--border, #dfdfdf);
  border-bottom: 1px solid #dfdfdf;
  border-bottom: var(--pfe-theme--ui--border-width, 1px) var(--pfe-theme--ui--border-style, solid) var(--pfe-theme--color--surface--border, #dfdfdf);
  border-top: 3px solid #ececec;
  border-top: var(--pfe-theme--surface--border-width--heavy, 3px) var(--pfe-theme--ui--border-style, solid) var(--pfe-theme--color--surface--lighter, #ececec);
  --pfe-tabs--main: var(--pfe-theme--color--surface--lighter, #ececec);
}

:host([pfe-variant="earth"][aria-selected="true"]) {
  --pfe-tabs--main: var(--pfe-theme--color--surface--lightest, #fff);
  border-top: 3px solid var(--pfe-tabs--highlight);
  border-top: var(--pfe-theme--surface--border-width--heavy, 3px) var(--pfe-theme--surface--border-style, solid) var(--pfe-tabs--highlight);
  border-bottom: 0;
  border-left: 1px solid #dfdfdf;
  border-left: var(--pfe-theme--ui--border-width, 1px) var(--pfe-theme--ui--border-style, solid) var(--pfe-theme--color--surface--border, #dfdfdf);
}

:host([pfe-variant="earth"][aria-selected="true"]:last-of-type) {
  border-right: 1px solid #dfdfdf;
  border-right: var(--pfe-theme--ui--border-width, 1px) var(--pfe-theme--ui--border-style, solid) var(--pfe-theme--color--surface--border, #dfdfdf);
}

@media screen and (min-width: 768px) {
  :host([vertical][pfe-variant="earth"]) {
    border-top: 1px solid #dfdfdf;
    border-top: var(--pfe-theme--ui--border-width, 1px) var(--pfe-theme--ui--border-style, solid) var(--pfe-theme--color--surface--border, #dfdfdf);
  }
  :host([vertical][pfe-variant="earth"]:first-of-type) {
    border-top: 0;
  }
  :host([vertical][pfe-variant="earth"][aria-selected="true"]) {
    border-top: 1px solid #dfdfdf;
    border-top: var(--pfe-theme--ui--border-width, 1px) var(--pfe-theme--ui--border-style, solid) var(--pfe-theme--color--surface--border, #dfdfdf);
    border-right: 0;
    border-left: 3px solid var(--pfe-tabs--highlight);
    border-left: var(--pfe-theme--surface--border-width--heavy, 3px) var(--pfe-theme--surface--border-style, solid) var(--pfe-tabs--highlight);
  }
  :host([vertical][pfe-variant="earth"][aria-selected="false"]) {
    border-right: 1px solid #dfdfdf;
    border-right: var(--pfe-theme--ui--border-width, 1px) var(--pfe-theme--ui--border-style, solid) var(--pfe-theme--color--surface--border, #dfdfdf);
    border-bottom: 0;
    border-left: 3px solid #ececec;
    border-left: var(--pfe-theme--surface--border-width--heavy, 3px) var(--pfe-theme--ui--border-style, solid) var(--pfe-theme--color--surface--lighter, #ececec);
  }
  :host([vertical][pfe-variant="earth"][aria-selected="true"]:last-of-type) {
    border-bottom: 1px solid #dfdfdf;
    border-bottom: var(--pfe-theme--ui--border-width, 1px) var(--pfe-theme--ui--border-style, solid) var(--pfe-theme--color--surface--border, #dfdfdf);
  }
}

/*# sourceMappingURL=pfe-tab.css.map */
