/*
 * Copyright 2018 Red Hat, Inc.
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 */
/* Palette of Border Colors */
/* Palette of Feedback Colors */
:host {
  display: block;
  color: var(--pfe-broadcasted--color--text);
}

:host [tabindex] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

:host([hidden]) {
  display: none;
}

:host([on="dark"]) {
  color: pfe-colors(text--on-dark);
  --pfe-broadcasted--color--text:               var(--pfe-theme--color--text--on-dark, #fff);
  --pfe-broadcasted--color--ui-link:            var(--pfe-theme--color--ui-link--on-dark, #99ccff);
  --pfe-broadcasted--color--ui-link--visited:   var(--pfe-theme--color--ui-link--on-dark--visited, #b38cd9);
  --pfe-broadcasted--color--ui-link--hover:     var(--pfe-theme--color--ui-link--on-dark--hover, #cce6ff);
  --pfe-broadcasted--color--ui-link--focus:     var(--pfe-theme--color--ui-link--on-dark--focus, #cce6ff);
}

/* Horizontal */
:host([pfe-variant="wind"]) .container {
  margin: 0;
  width: 100%;
  padding: 1rem 0;
  padding: var(--pfe-theme--container-spacer, 1rem) 0;
}

:host([pfe-variant="earth"]) .container {
  margin: 0;
  width: 100%;
  padding: 1rem 0;
  padding: var(--pfe-theme--container-spacer, 1rem) 0;
  padding: calc(1rem * 2);
  padding: calc(var(--pfe-theme--container-spacer, 1rem) * 2);
  border: 1px solid #d2d2d2;
  border: var(--pfe-theme--ui--border-width, 1px) var(--pfe-theme--ui--border-style, solid) var(--pfe-theme--color--surface--border, #d2d2d2);
  border-top: none;
}

/* Vertical */
@media screen and (min-width: 768px) {
  :host([pfe-variant="wind"][vertical]) .container {
    margin: 0;
    width: 100%;
    padding: 1rem 0;
    padding: var(--pfe-theme--container-spacer, 1rem) 0;
    padding-left: calc(1rem * 2);
    padding-left: calc(var(--pfe-theme--container-spacer, 1rem) * 2);
  }
  :host([pfe-variant="earth"][vertical]) .container {
    margin: 0;
    width: 100%;
    padding: 1rem 0;
    padding: var(--pfe-theme--container-spacer, 1rem) 0;
    padding-left: calc(1rem * 2);
    padding-left: calc(var(--pfe-theme--container-spacer, 1rem) * 2);
    padding: calc(1rem * 2);
    padding: calc(var(--pfe-theme--container-spacer, 1rem) * 2);
    border: 1px solid #d2d2d2;
    border: var(--pfe-theme--ui--border-width, 1px) var(--pfe-theme--ui--border-style, solid) var(--pfe-theme--color--surface--border, #d2d2d2);
    border-left: none;
  }
}

/*# sourceMappingURL=pfe-tab-panel.css.map */
