:host([border-bottom]) #tabs-container {
  --pf-c-tabs--before--BorderBottomWidth: var(--pf-c-tabs--before--border-width--base);
  --pf-c-tabs__link--disabled--before--BorderBottomWidth: var(--pf-c-tabs--before--border-width--base);
}

:host([inset="page"]) #tabs-container {
  --pf-c-tabs--inset: var(--pf-c-tabs--m-page-insets--inset);
}
