/*
 * Copyright 2018 Red Hat, Inc.
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 */
/* Palette of Border Colors */
/* Palette of Feedback Colors */
:host {
  --pfe-tabs--main:         transparent;
  --pfe-tabs--aux:          var(--pfe-theme--color--surface--lightest--text, #333);
  --pfe-tabs--link:         var(--pfe-theme--color--surface--lightest--link, #06c);
  --pfe-tabs--focus:        var(--pfe-theme--color--surface--lightest--link--focus, #003366);
  position: relative;
  display: block;
  margin: 0 0 -1px;
  padding-top: 1rem;
  padding-top: var(--pfe-theme--container-padding, 1rem);
  padding-right: calc(1rem * 3.375);
  padding-right: calc(var(--pfe-theme--container-padding, 1rem) * 3.375);
  padding-bottom: calc(1rem * 1.5);
  padding-bottom: calc(var(--pfe-theme--container-padding, 1rem) * 1.5);
  padding-left: 1rem;
  padding-left: var(--pfe-theme--container-padding, 1rem);
  border: 1px solid transparent;
  border: var(--pfe-theme--ui--border-width, 1px) var(--pfe-theme--ui--border-style, solid) transparent;
  border-bottom: 0;
  background-color: var(--pfe-tabs--main);
  color: var(--pfe-tabs--aux);
  text-transform: none;
  text-transform: var(--pfe-tabs__tab--TextTransform, none);
  font-weight: 500;
  font-weight: var(--pfe-theme--font-weight--normal, 500);
  white-space: nowrap;
  cursor: pointer;
}

:host([aria-selected="true"]) {
  --pfe-tabs--main: var(--pfe-theme--color--surface--lightest, #fff);
  border-color: #dfdfdf;
  border-color: var(--pfe-theme--color--surface--border, #dfdfdf);
  border-bottom: 0;
}

.indicator {
  position: absolute;
  bottom: 12px;
  left: auto;
  display: block;
  display: var(--pfe-tabs__indicator--Display, block);
  height: 4px;
  height: var(--pfe-tabs__indicator--Height, 4px);
  width: 22px;
  width: var(--pfe-tabs__indicator--Width, 22px);
  background-color: #464646;
  background-color: var(--pfe-theme--color--surface--border--darkest, #464646);
}

:host(:hover) .indicator {
  background-color: var(--pfe-tabs--link);
}

:host([aria-selected="true"]) .indicator,
:host([aria-selected="true"]:hover) .indicator {
  background-color: var(--pfe-tabs--link);
}

:host(:focus),
:host(:focus-visible) {
  outline: 1px solid var(--pfe-tabs--focus);
  outline: var(--pfe-theme--ui--focus-outline-width, 1px) var(--pfe-theme--ui--focus-outline-style, solid) var(--pfe-tabs--focus);
}

:host([pfe-variant="primary"]) {
  text-align: center;
  padding: 0 calc(1rem / 3) 1rem;
  padding: 0 calc(var(--pfe-theme--container-padding, 1rem) / 3) var(--pfe-theme--container-padding, 1rem);
  margin-right: 2%;
}

:host([pfe-variant="primary"]) .indicator {
  width: 100%;
  left: 0;
}

:host([pfe-variant="primary"][aria-selected="true"]) {
  border: transparent;
}

:host([pfe-variant="primary"][aria-selected="false"]) {
  border: transparent;
}

:host([pfe-variant="primary"][aria-selected="false"]) .indicator {
  display: none;
}

:host([pfe-variant="secondary"]) {
  text-align: center;
  padding: calc(1rem * .666) calc(1rem * 2.75);
  padding: calc(var(--pfe-theme--container-padding, 1rem) * .666) calc(var(--pfe-theme--container-padding, 1rem) * 2.75);
  border: 1px solid #464646;
  border: 1px solid var(--pfe-theme--color--surface--border--darkest, #464646);
  margin-right: 2%;
}

:host([pfe-variant="secondary"]) .indicator {
  display: none;
}

:host([pfe-variant="secondary"][aria-selected="true"]) {
  background-color: #131313;
  background-color: var(--pfe-theme--color--surface--darkest, #131313);
  color: #fff;
  color: var(--pfe-theme--color--surface--darkest--text, #fff);
}

:host([pfe-variant="secondary"][aria-selected="true"]) .indicator {
  display: block;
  bottom: -33%;
  width: 0;
  height: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-left: 1rem solid transparent;
  border-left: var(--pfe-theme--container-spacer, 1rem) solid transparent;
  border-right: 1rem solid transparent;
  border-right: var(--pfe-theme--container-spacer, 1rem) solid transparent;
  border-top: 1rem solid #252527;
  border-top: var(--pfe-theme--container-spacer, 1rem) solid #252527;
  background-color: transparent;
}

:host([pfe-variant="secondary"][aria-selected="false"]) {
  color: #0477a4;
  color: var(--pfe-theme--color--ui-base, #0477a4);
}

:host([pfe-variant="secondary"]:hover) {
  background-color: #131313;
  background-color: var(--pfe-theme--color--surface--darkest, #131313);
  color: #fff;
  color: var(--pfe-theme--color--surface--darkest--text, #fff);
}

:host([vertical][pfe-variant="primary"]) {
  text-align: right;
  padding-right: 1rem;
  padding-right: var(--pfe-theme--container-padding, 1rem);
}

:host([vertical][pfe-variant="primary"]) .indicator {
  left: auto;
  right: 0;
  top: 0;
  display: block;
  display: var(--pfe-tabs__indicator--Display, block);
  height: 22px;
  height: var(--pfe-tabs__indicator--Height, 22px);
  width: 4px;
  width: var(--pfe-tabs__indicator--Width, 4px);
}

:host([vertical][pfe-variant="primary"][aria-selected="true"]) {
  border: transparent !important;
}

:host([vertical][pfe-variant="secondary"][aria-selected="true"]) .indicator {
  left: 99%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-top: 1rem solid transparent;
  border-top: var(--pfe-theme--container-spacer, 1rem) solid transparent;
  border-left: 1rem solid #252527;
  border-left: var(--pfe-theme--container-spacer, 1rem) solid #252527;
  border-bottom: 1rem solid transparent;
  border-bottom: var(--pfe-theme--container-spacer, 1rem) solid transparent;
  background-color: transparent;
}

::slotted(h1),
::slotted(h2),
::slotted(h3),
::slotted(h4),
::slotted(h5),
::slotted(h6) {
  font-size: 16px;
  font-size: var(--pfe-theme--font-size, 16px);
  font-weight: 500;
  font-weight: var(--pfe-theme--font-weight--normal, 500);
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/*# sourceMappingURL=pfe-tab.css.map */
