/*
 * Copyright 2018 Red Hat, Inc.
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 */
/* Palette of Border Colors */
/* Palette of Feedback Colors */
:host {
  display: block;
}

.tabs {
  --pfe-tabs--BorderColor: var(--pfe-theme--color--surface--border, #dfdfdf);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border: 0;
  border-bottom: 1px solid var(--pfe-tabs--BorderColor);
  border-bottom: var(--pfe-theme--ui--border-width, 1px) var(--pfe-theme--ui--border-style, solid) var(--pfe-tabs--BorderColor);
}

.panels {
  padding: 0;
  padding-top: 1rem;
  padding-top: var(--pfe-theme--container-padding, 1rem);
}

:host([vertical]) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

:host([vertical]) .tabs {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25%;
  border: 0;
  border-right: 1px solid var(--pfe-tabs--BorderColor);
  border-right: var(--pfe-theme--ui--border-width, 1px) var(--pfe-theme--ui--border-style, solid) var(--pfe-tabs--BorderColor);
}

:host([vertical]) .tabs ::slotted(pfe-tab) {
  margin: 0 -1px 0 0;
  border: 1px solid transparent;
  border: var(--pfe-theme--ui--border-width, 1px) var(--pfe-theme--ui--border-style, solid) transparent;
  border-right: 0;
  position: relative;
}

:host([vertical]) .tabs ::slotted(pfe-tab[aria-selected="true"]) {
  border-color: var(--pfe-tabs--BorderColor);
  border-right: 0;
}

:host([vertical]) .panels {
  padding: 0;
  padding-right: 1rem;
  padding-right: var(--pfe-theme--container-padding, 1rem);
  padding-left: calc(1rem * 2);
  padding-left: calc(var(--pfe-theme--container-padding, 1rem) * 2);
}

:host([pfe-variant="primary"]) .tabs {
  border-bottom: transparent;
  border-right: transparent;
}

:host([vertical][pfe-variant="primary"]) {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

:host([pfe-variant="secondary"]) .tabs {
  border-bottom: transparent;
}

:host([vertical][pfe-variant="secondary"]) .tabs {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

/*# sourceMappingURL=pfe-tabs.css.map */
