@use "@patternfly/pfe-sass" as *;

:host {
  background-color: var(--pfe-status--BackgroundColor, var(--pfe-theme--color--feedback--default, #4f5255));
  position: fixed;
  right: var(--pfe-status--Right, 0);
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 3rem;
}

:host([hidden]) {
  display: none;
}

#flag {
  transform: rotateZ(90deg);
}

#flag > span {
  color: var(--pfe-status--Color, var(--pfe-theme--color--text--on-dark, #fff));
  display: inline-block;
  text-transform: var(--pfe-status--TextTransform, uppercase);
  font-size: 0.875rem;
  font-family: var(--pfe-theme--font-family, "Red Hat Text", "RedHatText", "Overpass", Overpass, Arial, sans-serif);
  font-size: var(--pfe-theme--font-size, 1rem);
  font-weight: bold;
  line-height: 1em;
  white-space: nowrap;
}

:host([status=important]) {
  --pfe-status--BackgroundColor: var(--pfe-theme--color--feedback--important, #c9190b);
  --pfe-status--Color: var(--pfe-theme--color--text--on-dark, #fff);
}

:host([status=critical]) {
  --pfe-status--BackgroundColor: var(--pfe-theme--color--feedback--critical, #a30000);
  --pfe-status--Color: var(--pfe-theme--color--text--on-dark, #fff);
}

:host([status=success]) {
  --pfe-status--BackgroundColor: var(--pfe-theme--color--feedback--success, #3e8635);
  --pfe-status--Color: var(--pfe-theme--color--text--on-dark, #fff);
}

:host([status=info]) {
  --pfe-status--BackgroundColor: var(--pfe-theme--color--feedback--info, #06c);
  --pfe-status--Color: var(--pfe-theme--color--text--on-dark, #fff);
}

:host([status=moderate]),
:host([status=warning]) {
  --pfe-status--BackgroundColor: var(--pfe-theme--color--feedback--moderate, #f0ab00);
  --pfe-status--Color: var(--pfe-theme--color--text, #151515);
}

:host([status=normal]) {
  --pfe-status--BackgroundColor: var(--pfe-theme--color--ui-accent, #06c);
  --pfe-status--Color: var(--pfe-theme--color--ui-accent--text, #fff);
}

:host([status=accent]) {
  --pfe-status--BackgroundColor: var(--pfe-theme--color--ui-accent, #06c);
  --pfe-status--Color: var(--pfe-theme--color--ui-accent--text, #fff);
}

