:host {
  display: block;
  background: var(--gray-nimbus, #ededed); }

:host(.animating) {
  transition: transform 0.3s ease-in-out; }

h2 {
  margin: 0;
  padding: 0;
  border: 1px solid white; }

button {
  margin: 0;
  border: none;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  min-height: 3em;
  height: auto;
  cursor: pointer;
  width: 100%;
  text-align: left;
  background: none; }

button:focus {
  outline: 1px solid blue; }

[aria-expanded] {
  position: relative;
  display: block;
  font-weight: normal;
  padding-left: 2.5em; }

[aria-expanded="false"]::before {
  content: "";
  position: absolute;
  left: 0;
  top: 40%;
  display: block;
  border-style: solid;
  border-width: 0.15em 0.15em 0 0;
  height: 0.35em;
  width: 0.35em;
  transform: rotate(45deg);
  margin-left: 1em;
  text-align: center;
  transition: transform 0.15s; }

[aria-expanded="true"]::before {
  content: "";
  position: absolute;
  left: 0;
  top: 40%;
  display: block;
  width: 0.35em;
  height: 0.35em;
  border-style: solid;
  border-width: 0.15em 0.15em 0 0;
  margin-left: 1em;
  text-align: center;
  transition: all 0.15s;
  transform: rotate(135deg); }