:host {
  display: block;
}

:host([hidden]),
[hidden],
::slotted([hidden]) {
  display: none !important;
}

// Align comes with browser styles for text alignment so this remaps that
:host([align="center"]),
:host([align="right"]) {
  text-align: left;
}
