// This file contains layout utility classes for use inside of pfe-navigation
// --------------------------------------------------------

// Default layout utility classes

@for $i from 2 to 5 {
  .col-span-#{$i},
  // Support pfe-navigation@1.x styles
  .pfe-navigation--column--#{$i} {
    grid-column-end: span $i;
  }
}

// Opt-in Bootstrap-like grid system
// Requires pfe-navigation__12-column-grid-wrapper on the wrapper
// Does not set width, only sets up a 12 column grid
// Column class name (must be direct children) syntax is:
// col-<BREAKPOINT>-<# of columns to span>
//
// If browser supports grid start and end utility classes will also work, syntax is:
// col-start-<BREAKPOINT>-<# of grid line to start on>
// col-end-<BREAKPOINT>-<# of grid line to end on>

.pfe-navigation__12-column-grid-wrapper {

  // Fallback flexbox dropdown layout
  // --------------------------------------------------------
  display: flex;
  flex-wrap: wrap;
  // width: 100%;
  margin-left: calc(#{pfe-local(gutter)} / -2);
  margin-right: calc(#{pfe-local(gutter)} / -2);
  gap: 0;

  @for $i from 1 to 13 {
    .col-xs-#{$i} {
      $col-width: #{$i / 12 * 100%};
      flex: 0 0 calc(#{$col-width} - #{pfe-local(gutter) / 2});
      width: $col-width;
      max-width: $col-width;
      margin: 0 0 pfe-local(gutter);
      padding-left: calc(#{pfe-local(gutter)} / 2);
      padding-right: calc(#{pfe-local(gutter)} / 2);
    }
  }

  @each $breakpoint, $breakpoint-value in $breakpoints {
    @if $breakpoint != 'secondary-links-expand' and $breakpoint != 'nav-expand' {
      @for $i from 1 to 13 {
        .col-#{$breakpoint}-#{$i} {
          @include breakpoint($breakpoint) {
            $col-width: #{$i / 12 * 100%};
            flex: 0 0 calc(#{$col-width} - #{pfe-local(gutter) / 2});
            width: $col-width;
            max-width: $col-width;
            margin: 0 0 pfe-local(gutter);
            padding-left: calc(#{pfe-local(gutter)} / 2);
            padding-right: calc(#{pfe-local(gutter)} / 2);
          }
        }
      }
    }
  }

  .pfe-navigation__footer {
    width: 100%;
    padding-left: calc(#{pfe-local(gutter)} / 2);
    padding-right: calc(#{pfe-local(gutter)} / 2);
  }

  // CSS Grid dropdown layout
  // --------------------------------------------------------
  @supports (display: grid) {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: pfe-local(gutter);
    padding-left: 0;
    padding-right: 0;

    // Support pfe-navigation@1.x styles
    // Multiplying span by 3 since it used to be a 4 col layout
    @for $i from 2 to 5 {
      .pfe-navigation--column--#{$i} {
        grid-column-end: span #{$i * 3};
        flex: none;
        width: 100%;
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
      }
    }

    @for $i from 1 to 13 {
      .col-xs-#{$i},
      .col-span-#{$i} {
        grid-column-end: span #{$i};
        flex: none;
        width: 100%;
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
      }
    }

    @each $breakpoint, $breakpoint-value in $breakpoints {
      @if $breakpoint != 'secondary-links-expand' and $breakpoint != 'nav-expand' {
        @for $i from 1 to 13 {
          .col-#{$breakpoint}-#{$i} {
            @include breakpoint($breakpoint) {
              grid-column-end: span #{$i};
              flex: none;
              width: 100%;
              max-width: 100%;
              padding-left: 0;
              padding-right: 0;
            }
          }
        }

        // There is one more grid line than there are columns
        @for $i from 1 to 14 {
          .col-start-#{$breakpoint}-#{$i} {
            @include breakpoint($breakpoint) {
              grid-column-start: $i;
            }
          }

          .col-end-#{$breakpoint}-#{$i} {
            @include breakpoint($breakpoint) {
              grid-column-end: $i;
            }
          }
        }
      }
    }

    .pfe-navigation__footer {
      padding-left: 0;
      padding-right: 0;
    }

  }
}

// Classes for creating a CSS Column container
// Syntax is:
// css-cols-<BREAKPOINT>-<# of columns>
@for $i from 1 to 13 {
  .css-cols-#{$i} {
    column-count: $i;
    column-gap: pfe-local(gutter);
  }
}

@each $breakpoint, $breakpoint-value in $breakpoints {
  @if $breakpoint != 'secondary-links-expand' and $breakpoint != 'nav-expand' {
    @for $i from 1 to 13 {
      .css-cols-#{$breakpoint}-#{$i} {
        @include breakpoint($breakpoint) {
          column-count: $i;
          column-gap: pfe-local(gutter);
        }
      }
    }
  }
}


// Utility classes for margin top and bottom based on Patternfly spacers: https://www.patternfly.org/v4/guidelines/spacers
$pf-spacers: (
  0: 0,
  xs: 4,
  sm: 8,
  md: 16,
  lg: 24,
  xl: 32,
  2xl: 48,
  3xl: 64
);

@each $name, $length in $pf-spacers {
  .margin-top-#{$name} {
    margin-top: #{$length}px;
  }
  .margin-bottom-#{$name} {
    margin-top: #{$length}px;
  }

  .padding-top-#{$name} {
    padding-top: #{$length}px;
  }
  .padding-bottom-#{$name} {
    padding-top: #{$length}px;
  }
}