#site-switcher {

  .tray {
    padding-top: 64px;
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }

  // .tray-container {
  //   width: 100%;

  //   @media screen and (min-width: 768px) {
  //     padding: 0;
  //     max-width: 1140px;
  //     max-width: var(--pfe-navigation--Width,1140px);
  //   }

  //   @media screen and (min-width: 1200px) {
  //     --pfe-navigation--Width: calc(1200px - var(--pfe-navigation--MaxWidth));
  //   }
  // }

  // .container {
  //   padding: 0;

  //   @media screen and (min-width: 768px) {
  //     width: 100%;
  //     max-width: 100%;
  //   }

  //   @media screen and (min-width: 1200px) {
  //     width: 1140px;
  //   }
  // }

  .site-switcher-container {
    padding: 0 0 48px;
    @media screen and (max-width: 550px) {
      padding-bottom: 0;
    }

    ul {
      list-style-type: none;
      padding-inline-start: 0;
    }

    a {
      display: block;
      height: 100%;
      text-decoration: var(--pfe-broadcasted--link-decoration);
      color: inherit;
    }

    a:hover {
      color: var(--pfe-broadcasted--link--hover);
      text-decoration: var(--pfe-broadcasted--link-decoration--hover);
    }

    hr {
      margin: 48px 0;
      border: 1px solid var(--pfe-theme--surface--border,#d2d2d2)
    }
  }

  .site-switcher-primary-list {
    display: grid;
    grid-row-gap: 30px;
    -webkit-box-align: stretch;
    align-items: stretch;
    grid-column-gap: 31px;
    @media (min-width: 480px) {
      grid-template-columns: repeat(2,1fr);
    }
    @media (max-width: 550px) {
        grid-template-columns: 1fr;
    }
    @media (max-width: 992px) {
        grid-column-gap: 16px;
    }
    @media (min-width: 1200px) {
      grid-template-columns: repeat(4,1fr);
    }

    .tntLogo {
      border: #D2D2D2 solid 1px;
      padding: 30px 10px;
      text-align: center;
      margin-bottom: 16px;

      &.tntYouAreHere {
        background: #F5F5F5;
        border: #F5F5F5 solid 1px;
      }
    }

    > li:not(.current) {
      > a {
        padding: 25px 0 10px;
        @media (max-width: 550px) {
          padding: 0;
        }
      }
    }

    .label {
      $font-stack: RedHatText, Helvetica, Arial, sans-serif;
      text-align: center;
      font-family: $font-stack;
      font-family: var(--pfe-theme--font-family, $font-stack);
      font-size: 12px;
      color: #e00;
      color: var(--pfe-theme--color--ui-accent, #e00);
      margin-top: 0;
      margin-bottom: 10px;
      padding: 0;
      display: block;
      font-weight: inherit;
      line-height: inherit;
      border-radius: inherit;
    }

    h3 {
      display: none;
    }

    h3 + p {
      font-size: 14px;
      line-height: 1.3;
      font-weight: 400;
      @media (min-width: 480px) {
        text-align: center;
      }
    }

    p {
      text-align: left;
      color: #6A6E73;

      &.label {
          text-align: center;
      }
    }
  }

  .site-switcher-secondary-list {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 32px;
    grid-row-gap: 30px;
    padding-left: 0;
    @media (max-width: 550px) {
      grid-template-columns: 1fr;
      grid-row-gap: 0;
    }
    @media (min-width: 551px) and (max-width: 992px) {
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 992px) {
      grid-column-gap: 16px;
    }

    h2 {
      color: #EE0000;
      font-size: 16px;
      font-weight: 100;
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 20px;
    }

    h3 {
      font-family: RedHatText,Helvetica,Arial,sans-serif;
      font-family: var(--pfe-theme--font-family,RedHatText,Helvetica,Arial,sans-serif);
      font-size: 14px;
      line-height: 1.2;
      font-weight: 300;
      color: #06c;
      color: var(--pfe-theme--color--link,#06c);
      margin: 0;
    }

    li {
      @media screen and (max-width: 550px) {
        grid-template-columns: 1fr;
        margin-bottom: 32px;
      }

      &:nth-child(3) {
        @media screen and (max-width: 550px) {
          margin-bottom: 0 !important;
        }
      }

      &:last-child {
        h2 {
          @media screen and (max-width: 550px) {
              display: none;
          }
        }
      }

      ul {
        padding-left: 0;

        li {
          margin-bottom: 20px;
          font-size: 14px;
          font-weight: 400;

          a {
            h3 {
              font-size: 18px;
              font-weight: 400;
              margin-bottom: 8px;
            }
          }
        }
      }
    }
  }

}