@import "../../pfe-sass/pfe-sass";

$overlay--BackgroundColor--fallback: rgba(37, 37, 37, 0.5);

$trigger--FontSize--fallback:   #{pfe-var(font-size--heading--epsilon)};
$trigger--FontWeight--fallback: #{pfe-var(font-weight--light)};
$trigger--Color--fallback: #{pfe-color(text--on-dark)};

$LOCAL: navigation;
$USE-FALLBACK: true; // turn on automatic fallbacks for broadcasted variables

// -- Typography
%link-styles {
    color: #{pfe-radio(color, ui-link)};
    text-decoration: #{pfe-var(link, text-decoration)};
    &:visited {
        color: #{pfe-radio(color, ui-link, visited)};
    }
    &:hover {
        color: #{pfe-radio(color, ui-link, hover)};
        text-decoration: #{pfe-var(link, text-decoration, hover)};
    }
    &:focus {
        outline-offset: 1px;
        outline-style: dotted;
        outline-width: 1px;
        outline-color: #{pfe-radio(color, ui-link, focus)};
        color: #{pfe-radio(color, ui-link, focus)};
    }
}

%trigger {
    font-family: pfe-var(font-family);
    font-size: #{pfe-local(
            $cssvar: FontSize, 
            $region: trigger, 
            $fallback: #{$trigger--FontSize--fallback}
        )} !important;
    font-weight: #{pfe-local(
            $cssvar: FontWeight,
            $fallback: #{$trigger--FontWeight--fallback}
        )};
    color: #{pfe-local(
            $cssvar: Color,
            $fallback: #{$trigger--Color--fallback}
        )};
    z-index: 2;
    line-height: 1.1;

    @media screen and (min-width: 1200px) {
        white-space: nowrap;
    }

    margin: 0 !important;
}