@import "../../pfe-sass/pfe-sass";

$overlay--BackgroundColor--fallback: rgba(37, 37, 37, 0.5);

$trigger--FontSize--fallback:   #{pfe-var(font-size--heading--epsilon)};
$trigger--FontWeight--fallback: #{pfe-var(font-weight--light)};
$trigger--Color--fallback: #{pfe-color(text--on-dark)};

$LOCAL: navigation;
$variables: (

// Supplemental breakpoints,   
// Usage:  @media screen and (min-width: pfe-breakpoint(lg-mobile, $map: false)) { 

//  grid-breakpoint--xs:           0,
    sm-mobile:                     500px,
//  grid-breakpoint--sm:           576px,
    lg-mobile:                     640px,
//  grid-breakpoint--md:           768px,
//  grid-breakpoint--lg:           992px,
    sm-desktop:                    1024px,
//  grid-breakpoint--xl:           1200px,
);

// turn on automatic fallbacks for broadcasted variables

// -- Typography
%link-styles {
    color: #{pfe-apply-broadcast(link)};
    text-decoration: #{pfe-apply-broadcast(link-decoration)};
    &:visited {
        color: #{pfe-apply-broadcast(link--visited)};
    }
    &:hover {
        color: #{pfe-apply-broadcast(link--hover)};
        text-decoration: #{pfe-apply-broadcast(link-decoration--hover)};
    }
    &:focus {
        outline-offset: 1px;
        outline-style: dotted;
        outline-width: 1px;
        outline-color: #{pfe-apply-broadcast(link--focus)};
        color: #{pfe-apply-broadcast(link--focus)};
    }
}

%trigger {
    font-family: pfe-var(font-family);
    font-size: #{pfe-local(
            $cssvar: FontSize, 
            $region: trigger, 
            $fallback: #{$trigger--FontSize--fallback}
        )} !important;
    font-weight: #{pfe-local(
            $cssvar: FontWeight,
            $fallback: #{$trigger--FontWeight--fallback}
        )};
    color: #{pfe-local(
            $cssvar: Color,
            $fallback: #{$trigger--Color--fallback}
        )};
    z-index: 2;
    line-height: 1.1;
    margin: 0 !important;
    max-width: 100%; // added
    text-align: center;

    @media screen and (min-width: pfe-breakpoint(xs) ) {
        max-width: 100%;
    }
    @media screen and (min-width: pfe-breakpoint(xl) ) {
        max-width: 190px;
    }
}