// Please see the pfe-sass README for guidance on using these tools
@import "../../pfe-sass/pfe-sass";


$LOCAL: navigation;

$menu-height: 72px;

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  2xl: 1368px,
  // The below should match an above breakpoint value
  // Where the icons on the right appear
  'secondary-links-expand': 768px,

  // Default value for when the nav expands to desktop mode
  'nav-expand': 1200px,
);

/// Breakpoint helper specific to pfe-navigation
/// @param {string} $breakpoint Name of a breakpoint
/// @see $breakpoints
@mixin breakpoint($breakpoint) {
  @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
    @content;
  }
}

/// JS triggered 'breakpoints' if there isn't room for a section a class is added to collapse it
/// Styles in collapse should undo _desktop layout changes_ that the related breakpoint makes.
/// @example
///   pfe-navigation {
///     display: block;
///     margin: 10px 0 0;
///     @include breakpoint('nav-expand') {
///       display: flex;
///       margin: 20px 40px;
///     }
///     @include collapse(nav) {
///       display: block;
///       margin: 10px 0 0;
///     }
///   }
/// @param {string} $section Can be 'nav' or 'secondary-links'
@mixin collapse($section) {
  @if $section == 'nav' {
    :host(.pfe-navigation--collapse-main-menu) & {
      @content;
    }
  }
  @else if $section == 'secondary-links' {
    :host(.pfe-navigation--collapse-secondary-links) & {
      @content;
    }
  }
}

/// Focus indicator styles specific to pfe-navigation
/// @param {string} $border-color Color of dashed border (white or black depending on bg-color)
/// @param {string} $border-top-size Size of border-top (0px or 1px depending on which navigation main/mega menu
@mixin focus-styles($border-color, $border-top-size) {
  border: 1px dashed $border-color;
  border-top: $border-top-size dashed $border-color;
  outline: none;
}

/// Styles for top level buttons
/// @todo Needs to be included in shadow dom and no-js styles
@mixin top-level-button {
  display: flex;
  align-items: center;
  padding: 8px 24px;
  border: 0;
  font-family: inherit;
  font-size: 16px;
  color: #06c;
  text-decoration: none;
  background: transparent;
  appearance: none;
  cursor: pointer;
  transition: box-shadow 0.25s;
  @include breakpoint('secondary-links-expand') {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: $menu-height;
    margin-right: 8px;
    padding: 0 8px;
    font-size: 12px;
    color: #fff;
  }

  // added to counteract jumpiness when dashed border is visible on focus and hover
  border: 1px solid transparent;
  border-top: 0px;

  // focus styles
  &:focus,
  &:hover {
    @include focus-styles(#fff, 0px);

    @include breakpoint('secondary-links-expand') {
      box-shadow: inset 0 4px 0 0 #e00;
    }
  }

  &[pfe-navigation-state="main-menu--open"] {
    // @todo: fix focus-styles on mobile for accordion links and menu toggle button
    &:focus,
    &:hover {
      @include focus-styles(#000, 0px);
    }
  }

  // @todo: remove these styles once pfe-icons are added
  // &:before {
  //   content: '';
  //   display: block;
  //   width: 18px;
  //   height: 18px;
  //   margin: 0 16px 0 0;
  //   background: rgba(126, 126, 126, 0.3);
  //   @include breakpoint('secondary-links-expand') {
  //     margin: 0 0 4px;
  //   }
  // }
}

@mixin dropdown-transitions($is-open: true) {
  @if $is-open {
    visibility: visible;
  }
  @else {
    visibility: hidden;
  }
  $visibility-delay: 0s;
  @if $is-open == false {
    $visibility-delay: 0.4s;
  }
  // sass-lint:disable indentation
  transition:
    visibility 0s $visibility-delay,
    height 0.25s ease-in-out;
  // sass-lint:enable indentation
}