@import "../../pfe-sass/pfe-sass";

$LOCAL: navigation;

/// ===========================================================================
/// Component Specific SASS Vars
/// ===========================================================================

/// ===========================================================================
/// DEFAULT navigation
/// ===========================================================================
:host {
	// Darkest is the default background color
	--pfe-navigation--BackgroundColor: #{pfe-color(surface--darkest)};
	position: relative;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	// Set the defaults for look and feel
	background-color: #{pfe-local(BackgroundColor)};
}

:host([pfe-sticky]) {
	position: fixed;
	position: sticky;
}

@each $color in (darker, darkest, accent, complement, lighter, lightest) {
  :host([pfe-color="#{$color}"]) {
	--pfe-navigation--BackgroundColor: #{pfe-color(surface--#{$color})};
  }
}

@each $slot in (skip, logo, main, utility) {
	@include pfe-slot("pfe-navigation--#{$slot}") {
		grid-area: $slot;
	}
}

@include pfe-slot("pfe-navigation--skip") {
	@include pfe-sr-only;
}

@include pfe-slot("pfe-navigation--logo") {}

// @TODO need to get the ul from the light DOM and move it to the shadow
@include pfe-slot("pfe-navigation--main", "ul") {
	@include pfe-reset-list;
}

.pfe-navigation {
	&--container {
		display: grid;
		grid-template-areas: "logo main main main utility";
		grid-template-rows: 1fr;
	}
	&--list {
		@include pfe-reset-list;
	}
}
