@import "../../pfe-sass/pfe-sass";
@import "../../pfe-layouts/src/layouts/_grid";

$LOCAL: navigation-item;

%link-styles {
    color: var(--pfe-broadcasted--color--ui-link, #{map-get($pfe-colors, 'ui-link')});
    text-decoration: none;
    &:visited {
        color: var(--pfe-broadcasted--color--ui-link--visited, #{map-get($pfe-colors, 'ui-link--visited')});
    }
    &:hover {
        color: var(--pfe-broadcasted--color--ui-link--hover, #{map-get($pfe-colors, 'ui-link--hover')});
        text-decoration: none;
    }
    &:focus {
       outline-offset: 1px;
       outline-style: dotted;
       outline-width: 1px;
       outline-color: var(--pfe-broadcasted--color--ui-link--focus, #{map-get($pfe-colors, 'ui-link--focus')});
    }
}

// Edge styles
@include browser-query(ie11) {
    .pfe-navigation-item__trigger.pfe-navigation-item {
        .expanded & {
            background-color: #{pfe-color(surface--lightest)};
            border-top-color: #{pfe-color(surface--accent)};
        }
        &:hover {
            cursor: pointer;
            border-top: 4px solid #{pfe-color(surface--accent)};
        }
    }
    .pfe-navigation__utility--mobile > *:not(:last-child) {
        margin-bottom: 15px;
    }
    .pfe-navigation-item__tray--container {
        padding-top: 15px;
    }
}

.pfe-navigation-item__trigger {
    @include browser-query(ie11) {
        > *.pfe-navigation-item__trigger--icon:first-child {
            display: none;
        }
    }
    > *:not(.pfe-navigation-item__trigger--icon) {
        margin: 0;
        font-family: #{pfe-var(font-family)};
        font-size:   #{pfe-local($cssvar: FontSize, $fallback: 14px, $region: trigger)};
        font-weight: #{pfe-local($cssvar: FontWeight, $fallback: 100, $region: trigger)};
        color:       #{pfe-local($cssvar: Color, $fallback: #{map-get($pfe-colors, text--on-dark)})};
        @include browser-query(ie11) {
            color: #{pfe-local($cssvar: Color, $fallback: #{map-get($pfe-colors, text--on-dark)})};

            .expanded & {
                color: #{pfe-color(text)};
            }

            a,
            a:hover,
            a:visited {
                color: inherit;
            }
        }
    }
}

pfe-navigation [slot="logo"] > a {
    color: #{pfe-local($cssvar: Color, $fallback: #{map-get($pfe-colors, text--on-dark)})};
    text-decoration: none;
    &:focus {
        outline: 1px dashed ;
        outline: var(--pfe-theme--surface--border-width, 1px) dashed var(--pfe-theme--color--surface--lightest, #fff);
    }
}

pfe-navigation-item [slot="trigger"] a,
.pfe-navigation-item__trigger > *:not(.pfe-navigation-item__trigger--icon) a,
.pfe-navigation-item__tray--container a {
    @extend %link-styles;
}

//accordion styles inside tertiary
pfe-navigation-main pfe-navigation-item [slot="trigger"] {
     font-size: 18px;
     font-weight: normal;
     margin: 0;
     @media (min-width: $pfe-global--grid-breakpoint--xl) {
         font-size: 14px;
     }
}

[slot="tray"] {
    @media (max-width: $pfe-global--grid-breakpoint--lg--max){
        padding: 0;
    }
}

// This class is added by the shadow DOM or shady css
.pfe-navigation-item__tray {
    // padding: #{pfe-local($cssvar: Padding, $region: tray, $fallback: #{map-get($pfe-vars, container-padding)})};
    max-height: calc(100vh - var(--pfe-navigation--Height, 90px));
    overflow-x: hidden;
    overflow-y: scroll;

    // This class is added manually inside the tray on the light DOM content
    &--container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        min-height: 200px;
        width: 100%;
        @media (max-width: $pfe-global--grid-breakpoint--lg--max) {
            padding: 0 calc(var(--pfe-theme--container-spacer,16px) * 1.5);
        }
        @media (min-width: $pfe-global--grid-breakpoint--xl) {
            max-width: var(--pfe-navigation--Width, 1140px);
            margin: 0 auto;
        }
    }
}

@for $col from 1 through 4 {
  .column-#{$col} {
    grid-area: column-#{$col};
    // > * {
    //   &:not(:first-child) {
    //       @media (min-width: $pfe-global--grid-breakpoint--xl) {
    //           padding-top: 16px;
    //       }
    //   }
    // }
  }
}


[class^=column] {
    display: contents;
    @media (min-width: $pfe-global--grid-breakpoint--xl) {
        display: block;
    }
}

.pfe-nav--column-3--basic,
.pfe-nav--column-3--first-wide,
.pfe-nav--column-4--basic,
.pfe-nav--column-4--basic-tablet-breakpoint {
    @media (min-width: 650px) {
        column-count: 2;
        column-gap: 32px;
        flex: 1;
    }
}

// 4 columns
.pfe-nav--column-4--basic {
    @media (min-width: $pfe-global--grid-breakpoint--xl) {
      display: grid;
      // display: -ms-grid;
      grid-gap: 16px;
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas:
       "column-1 column-2 column-3 column-4";
    }
}

.pfe-nav--column-4--basic-tablet-breakpoint {
    @media (min-width: $pfe-global--grid-breakpoint--lg) {
        column-count: 3;
    }
    @media (min-width: $pfe-global--grid-breakpoint--xl) {
        display: grid;
        // display: -ms-grid;
        grid-gap: 16px;
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas:
       "column-1 column-2 column-3 column-4";
    }
}

//opt in
.pfe-nav--column-3--basic {
    @media (min-width: $pfe-global--grid-breakpoint--lg) {
        [class^=column] {
            display: block;
        }
        display: grid;
        // display: -ms-grid;
        grid-gap: 16px;
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas:
       "column-1 column-2 column-3";
    }
}

//(opt-in)
.pfe-nav--column-3--first-wide {
    @media (min-width: $pfe-global--grid-breakpoint--xl) {
        display: grid;
        // display: -ms-grid;
        grid-gap: 16px;
      grid-template-columns: 2fr 1fr 1fr;
      grid-template-areas:
       "column-1 column-2 column-3";
    }
}




pfe-navigation .pfe-link-list {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 1em;
    &--header {
        margin: 0;
        font-size: 17px;
        font-weight: 400;
        line-height: 1.75;
        @media (min-width: $pfe-global--grid-breakpoint--xl){
            font-size: 16px;
        }
        a {
          color: #151515;
          text-decoration: underline;
          &:hover {
             color: #151515;
             text-decoration: none;
          }
          &:focus {
             outline-offset: 1px;
             outline-style: dotted;
             outline-width: 1px;
             outline-color: var(--pfe-broadcasted--color--ui-link--focus, #{map-get($pfe-colors, 'ui-link--focus')});
          }
       }
    }
    &--group {
        list-style: none;
        padding: 0;
        &-item > a {
            @extend %link-styles;
            font-size: 16px;
            line-height: 2;
        }
    }
}


:host {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  color: #{pfe-radio(color--text)};
  border: 5px solid green;
  font-weight: lighter;
}

.pfe-nav--item-footer {
  margin-top: 40px !important;
  border-top: 1px solid lightgray;
  padding: 40px 0;
  transform: translateX(0);
  @media (min-width: $pfe-global--grid-breakpoint--xl) {
      padding-bottom: calc(40px - #{pfe-local($cssvar: Padding, $region: tray, $fallback: #{map-get($pfe-vars, container-padding)})});

  }
  > *:not(:last-child) {
          padding-bottom: 16px;
          @media (min-width: $pfe-global--grid-breakpoint--xl) {
              padding-bottom: 0;
          }
      }
      [class^=column] {
          @media (max-width: 649px) {
              display: block;
          }
      }
}
.pfe-align-vertical {
    display: flex;
    align-items: center;
}
