@import "sass-includes/variables-mixins";

/// @note Overridden collapse mixin to update selectors for light dom
@mixin collapse($section) {
  @if $section == 'nav' {
    .pfe-navigation--collapse-main-menu & {
      @content;
    }
  }
  @else if $section == 'secondary-links' {
    .pfe-navigation--collapse-secondary-links & {
      @content;
    }
  }
}

pfe-navigation {
  --pfe-reveal-duration: 0.1618s;
  --pfe-reveal-delay: 2s;

  > * {
    transition: opacity var(--pfe-reveal-duration) ease-in-out;
    opacity: 0;
    visibility: hidden;
    animation: reveal var(--pfe-reveal-duration) var(--pfe-reveal-delay) 1
      forwards;
  }

  @include pfe-set-broadcast-context(light);
  &.pfe-navigation--processed  > * {
    animation-delay: 0;
  }
}

@keyframes reveal {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

// Scoping styles in ID to fight other light dom styles
#pfe-navigation,
pfe-navigation {

  &,
  * {
    box-sizing: border-box;
  }

  // Remove lightdom black bar when component has mounted
  &.pfe-navigation--processed {
    &:before {
      content: none;
    }
  }

  // Hide fallback login link if component has mounted
  [pfelement] {
    .pfe-navigation__log-in-link {
      display: none;
    }
  }

  // No JS Styles
  // --------------------------------------------------------
  & {
    @include pfe-navigation__wrapper;
    @include pfe-navigation__wrapper--mobile;
    position: relative;
    height: auto;
    min-height: pfe-local(Height, $region: nav-bar);
    @include breakpoint('secondary-links-expand') {
      @include pfe-navigation__wrapper--collapsed-menu;
      flex-wrap: wrap;
    }
    @include breakpoint('nav-expand') {
      @include pfe-navigation__wrapper--desktop;
    }

    .pfe-navigation__dropdown,
    pfe-navigation-dropdown,
    > [slot] {
      display: none;
    }

    .pfe-navigation {
      @include breakpoint('secondary-links-expand') {
        display: flex;
        align-items: stretch;
        flex-wrap: wrap;
      }
      @include breakpoint(lg) {
        flex-wrap: nowrap;
      }
    }

    .pfe-navigation__logo-wrapper {
      @include pfe-navigation__logo-wrapper;
      min-width: 150px;
    }

    .pfe-navigation__logo-link {
      @include pfe-navigation__logo-link;
    }

    .pfe-navigation__logo-image {
      @include pfe-navigation__logo-image;
    }

    .pfe-navigation__log-in-link,
    .pfe-navigation__menu-link,
    .pfe-navigation__fallback-links a {
      @include top-level-button;
      justify-content: center;
      align-items: center;
      color: pfe-local(Color--default, $region: nav-bar);

      // Specificity bump
      &[class],
      &[href] {
        justify-content: center;
        align-items: center;
      }
    }

    .pfe-navigation__menu,
    .pfe-navigation__fallback-links {
      margin: 0;
      padding: 0;
      list-style: none;
      font-size: inherit;
      @include breakpoint('secondary-links-expand') {
        display: flex;
        align-items: stretch;
      }

      li {
        margin: 0;
        padding: 0;
        font-size: inherit;

        &:before {
          content: none;
        }
      }
    }

    .pfe-navigation__fallback-links {
      margin-left: auto;
    }

    .pfe-navigation__menu-link {
      display: flex;
      white-space: nowrap;
      font-size: 16px;
    }
  }

  &.pfe-navigation--processed {
    display: block;
    padding: 0;

    > [slot] {
      visibility: visible;
      opacity: 1;
      display: block;
    }

    pfe-navigation-dropdown {
      display: block;
    }

    // Slotted content styles
    // --------------------------------------------------------
    [slot='pfe-navigation--custom-links'] {
      @include secondary-links-li;

      > a,
      > button {
        @include top-level-button;

        &:focus {
          @include breakpoint('secondary-links-expand') {
            @include alt-focus-styles(pfe-local(Color--default, $region: nav-bar));
          }
          @include collapse('secondary-links') {
            box-shadow: none;
          }
        }

        &[aria-expanded='true'] {
          @include breakpoint('secondary-links-expand') {
            color: pfe-local(Color--active, $region: nav-bar);
            background: pfe-local(toggle--BackgroundColor--active, $region: nav-bar);
          }
          @include collapse('secondary-links') {
            box-shadow: none;
            background: transparent;
          }
        }
      }
    }

    .pfe-navigation__custom-dropdown__wrapper--single-column {
      position: relative;
    }

    // Slotted li to pfe-navigation--custom-links after the component has mounted
    .pfe-navigation__custom-dropdown__wrapper {
      display: block;
    }

    .pfe-navigation__dropdown-wrapper {
      &[class] { // Specificity bump
        height: 0;
        transition: pfe-local(accordion-transition);
        @include breakpoint('secondary-links-expand') {
          position: absolute;
          top: pfe-local(Height, $region: nav-bar);
          right: 0;
        }
        @include collapse('secondary-links') {
          position: static;
        }

        &[aria-hidden='false'] {
          @include breakpoint('secondary-links-expand') {
            height: auto;
          }
          @include collapse('secondary-links') {
            height: 0;
          }
        }
      }
    }

    &[breakpoint='mobile'] [slot="pfe-navigation--custom-links"][mobile-slider] .pfe-navigation__dropdown-wrapper {
      $vertical-offset: pfe-local(PaddingVertical, $region: mobile-dropdown);
      $horizontal-offset: pfe-local(PaddingHorizontal, $region: mobile-dropdown);
      position: absolute;
      top: 0;
      left: 100vw;
      left: calc(100vw - #{$horizontal-offset});
      width: 100vw;

      &[aria-hidden='false'] {
        height: 100vh;
        height: calc(100vh - #{pfe-local(Height, $region: nav-bar)});
        overflow-y: scroll;
      }
    }

    .pfe-navigation__dropdown-wrapper--default-styles,
    .pfe-navigation-item__tray--container,
    .pfe-navigation__site-switcher .pfe-navigation__dropdown-wrapper {
      padding: 0 24px;
      background: pfe-local(Background, $region: dropdown);
      @include breakpoint('secondary-links-expand') {
        padding: 0 #{64px + 16px};
      }
      @include collapse('secondary-links') {
        padding: 0 24px;
      }

      ul,
      li {
        margin: 0;
        padding: 0;
        list-style: none;
      }

      @include pfe-navigation__dropdown-content-styling;
    }

    // Dropdown content wrapper - lays out dropdown internals
    // Layout mixins are shared with lightdom styles, can be found in _variables-mixins.scss
    .pfe-navigation__dropdown--default-styles,
    .pfe-navigation-grid {
      @include pfe-navigation__dropdown-layout--mobile;
      margin-left: auto;
      margin-right: auto;
      font-size: 16px;
      color: pfe-local(Color, $region: dropdown);
      @include breakpoint('secondary-links-expand') {
        @include pfe-navigation__dropdown-layout--tablet;
      }
      @include breakpoint('nav-expand') {
        @include pfe-navigation__dropdown-layout--desktop;
      }
      @include collapse('nav') {
        @include pfe-navigation__dropdown-layout--tablet;
      }
      @include collapse('secondary-links') {
        @include pfe-navigation__dropdown-layout--mobile;
      }

      .pfe-navigation__menu-item--open & {
        visibility: visible;
        transition-delay: 0s;
      }

      > * {
        $mobile-margin: 0 0 18px;
        margin: $mobile-margin;
        break-inside: avoid;
        @include breakpoint('nav-expand') {
          margin: 0;
        }
        @include collapse('nav') {
          margin: $mobile-margin;
        }
      }
    }

    .pfe-navigation__dropdown--1-x {
      display: block;
    }

    .pfe-navigation__site-switcher .pfe-navigation__dropdown {
      background: #fff;
    }

    .pfe-navigation__dropdown-wrapper--invisible {
      pfe-navigation-dropdown {
        visibility: hidden;
      }
    }

    .pfe-navigation__custom-dropdown--single-column[class] {
      @include single-column-dropdown('secondary-links');
      padding: 0;
      @include breakpoint('secondary-links') {
        right: 0;
      }
    }

    .pfe-navigation__custom-dropdown--full[class] {
      width: 100%;
      @include breakpoint('secondary-links-expand') {
        position: absolute;
        left: 0;
        right: 0;
      }
      @include collapse('secondary-links') {
        position: static;
      }

      .pfe-navigation__dropdown {
        width: 100%;
      }
    }

    // Base default styles for search bar and search button
    // @todo Since this is opt in light DOM styling, don't think we need color var here?
    .pfe-navigation__search--default-styles {
      padding-left: 16px;
      padding-right: 16px;

      form {
        display: flex;
        align-items: center;
      }

      input,
      button {
        padding: 10px;
        transition: box-shadow 0.2s;
      }

      input {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0%;
        margin-right: 8px;
        border: 1px solid #f0f0f0;
        border-bottom: 1px solid #8b8e91;
        color: #717579;
        font-size: 16px;
      }

      input::placeholder {
        color: #717579;
      }

      button {
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: auto;
        border-radius: 2px;
        border: 1px solid #e00;
        background-color: #e00;
        color: #fff;
        font-size: 16px;
      }

      input:focus,
      input:hover {
        @include alt-focus-styles(#000);
      }

      button:focus,
      button:hover {
        @include alt-focus-styles(#fff);
      }
    }
  }

  // Hide Back to Menu button everywhere but mobile
  .pfe-navigation__site-switcher__back-wrapper {
    display: block;
    border-bottom: pfe-local(separator--Border, $region: dropdown);

    @include breakpoint('secondary-links-expand') {
      display: none;
    }
    @include collapse('secondary-links') {
      display: block;
    }
  }

  .pfe-navigation__site-switcher__back-button {
    position: relative;
    width: 100%;
    padding: 21px 21px 21px 45px;
    border: 1px solid transparent;
    font-size: 16px;
    color: pfe-local(link--Color, $region: dropdown);
    text-align: left;
    background-color: transparent;
    cursor: pointer;

    &:before {
      @include pfe-navigation__back__before--mobile;
      content: '';
    }

    &:focus,
    &:hover {
      color: pfe-local(link--Color--hover, $region: dropdown);
      @include focus-styles(pfe-local(Color, $region: dropdown), 1px);
    }
  }

}

.pfe-navigation__dropdown-wrapper {
  overflow: hidden; // @note: Should not be set to visible
}

.pfe-navigation__custom-dropdown--single-column {
  @include breakpoint('secondary-links') {
    min-width: 25em;
  }
  @include collapse('secondary-links') {
    min-width: 0;
  }
}

.custom-link__icon-wrapper {
  display: flex;
}

.custom-link__alert-count {
  display: block;
  font-size: 12px;
  line-height: 20px;
  min-width: 23px;
  margin: 0 4px 0 2px;
  padding: 0 8px;
  border-radius: 20px;
  overflow: hidden;
  color: pfe-local(Color--on-highlight, $region: nav-bar);
  background: pfe-local(highlight-color, $region: nav-bar);

  &:empty {
    display: none;
  }
}

#pfe-navigation__1x-skip-links {
  position: absolute;
  top: 0;
  left: 0;

  &,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
  }
}

.skip-link[class][class] { // Adding specificity to beat out site styles
  font-size: 14px;
  line-height: 18px;

  &:focus {
    position: fixed;
    top: 8px;
    left: 50%;
    z-index: 99999;
    width: auto;
    height: auto;
    padding: (6 / 14 * 1em) (8 / 14 * 1em);
    border-radius: (3 / 14 * 1em);
    transform: translateX(-50%);
    clip: auto;
    background: pfe-local(BackgroundColor, $region: skip-link);
    color: pfe-local(Color, $region: skip-link);
    text-decoration: none;
  }
}

pfe-navigation pfe-navigation-account[slot="pfe-navigation--account"] {
  width: 100%;
  background: pfe-local(Background, $region: dropdown);
}
