@import "../../pfe-sass/pfe-sass";

/// ===========================================================================
/// Component Specific SASS Vars
/// ===========================================================================
$pfe-nav-size: 4em;

/// ===========================================================================
/// DEFAULT nav-item
/// ===========================================================================
:host {

}

/// ===========================================================================
/// MOBILE
/// ===========================================================================
:host {
	@media (max-width: #{pfe-breakpoint(md-max)} ) {
	    display: inline-block;
	}
}

/// ===========================================================================
/// DESKTOP
/// ===========================================================================
:host {
  font-family: #{pfe-var(font-family)};

	::slotted(a) {
		@include pfe-expand-button;
	}

	@media (min-width: #{pfe-breakpoint(md)}) {
		--pfe-nav-item--main:        #{pfe-color(text)};              // text
		--pfe-nav-item--main--hover: #{pfe-color(text--on-dark)};     // text hover

		--pfe-nav-item--aux:         transparent;                     // bg
		--pfe-nav-item--aux--hover:  #{pfe-color(surface--darkest)};  // bg hover

		display: block;
	    font-weight: bold;
	    font-weight: 300;
	    min-height: $pfe-nav-size;
		
		//border: green solid 1px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		.wrapper {
			//border: orange solid 1px;

	    	flex: 1;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
		.icon {
			//border: pink solid 1px;

			margin: 0;
		}
		.text {
			//border: green solid 1px;

			margin: 0;
			color:            var(--pfe-nav-item--main); //maybe temporary?
			background:       var(--pfe-nav-item--aux); 
		}
	    ::slotted([slot="pfe-navigation-item--trigger"]) {

		    line-height: $pfe-nav-size;
		    transition: all #{pfe-var(animation-timing)};

		    //padding: 0 calc(#{pfe-var(container-padding)} * 1);
	    }
		::slotted(a) {
		    text-decoration: none;
		    //padding: calc(#{pfe-var(container-padding)} * 2)
		    //         calc(#{pfe-var(container-padding)} * 1);

		    border-top:       transparent solid 2px;
			color:            var(--pfe-nav-item--main); //text
			background:       var(--pfe-nav-item--aux);  //bg
		}

		::slotted(a:hover) {
		    border-top-color: #{pfe-color(surface--accent)};
		    background:       var(--pfe-nav-item--aux--hover);
		    color:            var(--pfe-nav-item--main--hover);
		}

		::slotted(a:focus) {
		    border-top-color: #{pfe-color(surface-accent)};
		    background:       var(--pfe-nav-item--aux--hover);
		    color:            var(--pfe-nav-item--main--hover);

		}
		::slotted(a:focus:not(:focus-visible)) {
			outline: none; // removes outline for mouse users, preserves it for keyboard users
		}

		::slotted(a:active) {
		    border-top-color: #{pfe-color(surface-accent)};
		    background:       var(--pfe-nav-item--aux--hover);
		    color:            var(--pfe-nav-item--main--hover);
		}
	}
}


/// ===========================================================================
/// ON DARK
/// ===========================================================================
:host([on="dark"]) {
	@media (min-width: #{pfe-breakpoint(md)}) {
		--pfe-nav-item--main:        #{pfe-color(text--on-dark)};      // text
		--pfe-nav-item--main--hover: #{pfe-color(text)};               // text hover

		--pfe-nav-item--aux:         transparent;                      // bg
		--pfe-nav-item--aux--hover:  #{pfe-color(surface--lightest)};  // bg hover
	}
}

.hide {
	display: none;
}
