@import "variables-mixins";

// Scoping styles in ID to fight other light dom styles
#ze-navigation,
#pfe-navigation,
#pfe-navigation-2,
pfe-navigation {

  // Remove lightdom black bar when component has mounted
  &[pfelement]:before {
    content: none;
  }

  // No JS Styles
  // --------------------------------------------------------
  &:not(.PFElement) {
    @include pfe-navigation__wrapper;
    @include pfe-navigation__wrapper--mobile;
    position: relative;
    height: auto;
    min-height: pfe-local(Height, $region: nav-bar);
    @include breakpoint('secondary-links-expand') {
      @include pfe-navigation__wrapper--collapsed-menu;
      flex-wrap: wrap;
    }
    @include breakpoint('nav-expand') {
      @include pfe-navigation__wrapper--desktop;
    }

    .pfe-navigation__dropdown,
    [slot] {
      display: none;
    }

    .pfe-navigation {
      @include breakpoint('secondary-links-expand') {
        display: flex;
        align-items: stretch;
        flex-wrap: wrap;
      }
      @include breakpoint(lg) {
        flex-wrap: nowrap;
      }
    }

    .pfe-navigation__logo-wrapper {
      @include pfe-navigation__logo-wrapper;
      min-width: 150px;
    }

    .pfe-navigation__logo-link {
      @include pfe-navigation__logo-link;
    }

    .pfe-navigation__logo-image {
      @include pfe-navigation__logo-image;
    }

    .pfe-navigation__log-in-link,
    .pfe-navigation__menu-link,
    .pfe-navigation__fallback-links a {
      @include top-level-button;
      justify-content: center;
      align-items: center;
      color: pfe-local(Color--default, $region: nav-bar);

      // Specificity bump
      &[class],
      &[href] {
        justify-content: center;
        align-items: center;
      }
    }

    .pfe-navigation__menu,
    .pfe-navigation__fallback-links {
      margin: 0;
      padding: 0;
      list-style: none;
      font-size: inherit;
      @include breakpoint('secondary-links-expand') {
        display: flex;
        align-items: stretch;
      }

      li {
        margin: 0;
        padding: 0;
        font-size: inherit;

        &:before {
          content: none;
        }
      }
    }

    .pfe-navigation__fallback-links {
      margin-left: auto;
    }

    .pfe-navigation__menu-link {
      display: flex;
      white-space: nowrap;
      font-size: 16px;
    }
  }

  // Slotted content styles
  // --------------------------------------------------------
  [slot='pfe-navigation--custom-links'] {
    @include secondary-links-li;
    display: none;

    > a,
    > button {
      @include top-level-button;

      &:focus {
        @include breakpoint('secondary-links-expand') {
          @include alt-focus-styles(pfe-local(Color--default, $region: nav-bar));
        }
        @include collapse('secondary-links') {
          box-shadow: none;
        }
      }

      &[aria-expanded='true'] {
        @include breakpoint('secondary-links-expand') {
          color: pfe-local(Color--active, $region: nav-bar);
          background: pfe-local(toggle--BackgroundColor--active, $region: nav-bar);
        }
        @include collapse('secondary-links') {
          box-shadow: none;
          background: transparent;
        }
      }
    }
  }

  .pfe-navigation__custom-dropdown__wrapper--single-column {
    position: relative;
  }

  // Slotted li to pfe-navigation--custom-links after the component has mounted
  .pfe-navigation__custom-dropdown__wrapper {
    display: block;
  }

  .pfe-navigation__dropdown-wrapper[class] {
    height: 0;
    transition: pfe-local(accordion-transition);
    @include breakpoint('secondary-links-expand') {
      position: absolute;
      top: pfe-local(Height, $region: nav-bar);
      right: 0;
    }
    @include collapse('secondary-links') {
      position: static;
    }

    &[aria-hidden='false'] {
      @include breakpoint('secondary-links-expand') {
        height: auto;
      }
      @include collapse('secondary-links') {
        height: 0;
      }
    }
  }


  .pfe-navigation__dropdown-wrapper--invisible {
    pfe-navigation-dropdown {
      visibility: hidden;
    }
  }

  .pfe-navigation__custom-dropdown--single-column[class] {
    @include single-column-dropdown('secondary-links');
    padding: 0;
    @include breakpoint('secondary-links') {
      right: 0;
    }
  }

  .pfe-navigation__custom-dropdown--full[class] {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;

    .pfe-navigation__dropdown {
      width: 100%;
    }
  }

  // Base default styles for search bar and search button
  // @todo Since this is opt in light DOM styling, don't think we need color var here?
  .pfe-navigation__search--default-styles {
    padding-left: 16px;
    padding-right: 16px;

    form {
      display: flex;
      align-items: center;
    }

    input,
    button {
      padding: 10px;
      transition: box-shadow 0.2s;
    }

    input {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 0%;
      margin-right: 8px;
      border: 1px solid #f0f0f0;
      border-bottom: 1px solid #8b8e91;
      color: #717579;
      font-size: 16px;
    }

    input::placeholder {
      color: #717579;
    }

    button {
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: auto;
      border-radius: 2px;
      border: 1px solid #e00;
      background-color: #e00;
      color: #fff;
      font-size: 16px;
    }

    input:focus,
    input:hover {
      @include alt-focus-styles(#000);
    }

    button:focus,
    button:hover {
      @include alt-focus-styles(#fff);
    }
  }
}

.pfe-navigation__dropdown-wrapper {
  overflow: hidden; // @note: Should not be set to visible
}

.pfe-navigation__custom-dropdown--single-column {
  @include breakpoint('secondary-links') {
    min-width: 25em;
  }
  @include collapse('secondary-links') {
    min-width: 0;
  }
}

.custom-link__icon-wrapper {
  $mobile-margin: 0;
  display: flex;
  margin: $mobile-margin;
  @include breakpoint('secondary-links-expand') {
    margin: 0 0 8px;
  }
  @include collapse('secondary-links') {
    margin: $mobile-margin;
  }

  #pfe-navigation &[class] {
    pfe-icon {
      position: static;
      transform: none;
    }
  }
}

.custom-link__alert-count {
  display: block;
  font-size: 12px;
  line-height: 20px;
  min-width: 23px;
  margin: 0 4px 0 2px;
  padding: 0 8px;
  border-radius: 20px;
  overflow: hidden;
  color: pfe-local(Color--on-highlight, $region: nav-bar);
  background: pfe-local(highlight-color, $region: nav-bar);

  &:empty {
    display: none;
  }
}


.skip-link[class][class] { // Adding specificity to beat out site styles
  font-size: 14px;
  line-height: 18px;

  &:focus {
    position: fixed;
    top: 8px;
    left: 50%;
    z-index: 99999;
    width: auto;
    height: auto;
    padding: (6 / 14 * 1em) (8 / 14 * 1em);
    border-radius: (3 / 14 * 1em);
    transform: translateX(-50%);
    clip: auto;
    background: pfe-local(BackgroundColor, $region: skip-link);
    color: pfe-local(Color, $region: skip-link);
    text-decoration: none;
  }
}
