:host {
  display: block;
  height: 100%
}
  
::slotted(*) {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;

  @media (min-width: #{pfe-breakpoint(md)}) {
    flex-flow: row nowrap;
    align-items: stretch;
  }
}

::slotted(ul) {
  list-style-type: none;
}
