@import "variables-mixins";

* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

:host {
  // Example local variable, using BEM format
  // --pfe-navigation--Property: value;

  display: block;
}

:host([hidden]) {
  display: none;
}

.pfe-navigation {
  display: flex;
  align-items: stretch;
}

.pfe-navigation__wrapper {
  $collapsed-padding: 0 16px;
  $collapsed-bottom-margin: 8px;

  position: relative;
  display: flex;
  align-items: stretch;
  height: $menu-height;
  margin-bottom: $collapsed-bottom-margin;
  padding: $collapsed-padding;
  font-size: 16px;
  line-height: 1.5;
  font-family: "RedHatText", "Red Hat Text", Overpass, Arial, Helvetica, sans-serif;
  color: #fff;
  background: #151515;
  @include breakpoint('secondary-links-expand') {
    margin-bottom: 0;
  }
  @include breakpoint('nav-expand') {
    padding: 0 32px;
  }
  @include collapse('nav') {
    padding: $collapsed-padding;
  }
  @include collapse('secondary-links') {
    margin-bottom: $collapsed-bottom-margin;
  }

  a {
    text-decoration: none;
    // @todo: move these styles to be more specific with dropdown class so that logo link can be styled without conflicting
    // &:focus,
    // &:hover {
    //   @include focus-styles(#000, 1px);
    // }
  }
}

// Logo area
// --------------------------------------------------------
.pfe-navigation__logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 10px 16px 10px 0;
}

.pfe-navigation__logo-link {
  display: block;
  padding: 6px 8px;
  margin-left: -8px; // Should be flush left with container

  // avoid jumpiness from focus/hover styles
  border: 1px solid transparent;

  // focus styles
  &:focus,
  &:hover {
    @include focus-styles(#fff, 1px);
  }
}

.pfe-navigation__logo-image {
  display: block;
  width: auto;
  height: 40px;

  // In case there isn't a mobile and desktop version
  &:only-child {
    display: block;
  }
}

.pfe-navigation__logo-image--small {
  height: 32px;
}

// Top Level Menu Buttons Base Styles
// --------------------------------------------------------
.pfe-navigation__menu-toggle,
.pfe-navigation__search-toggle,
.pfe-navigation__all-red-hat-toggle,
.pfe-navigation__log-in-link {
  @include top-level-button;
}

// Add back some styles to links that stay in the menu at mobile
.pfe-navigation__menu-toggle,
.pfe-navigation__log-in-link {
  flex-direction: column;
  justify-content: center;
  margin-right: 8px;
  padding-left: 8px;
  padding-right: 8px;
  color: #fff;

  &:focus,
  &:hover {
    box-shadow: inset 0 4px 0 0 #e00;
  }

  &:before {
    margin: 0 0 4px;
  }
}

.pfe-navigation__menu-toggle {
  margin-left: auto;
  @include breakpoint('secondary-links') {
    margin-left: 0;
    margin-right: auto;
  }
  @include breakpoint('nav-expand') {
    display: none;
  }
  @include collapse('nav') {
    display: flex;
    margin-left: 0;
    margin-right: auto;
  }
  @include collapse('secondary-links') {
    margin-left: auto;
    margin-right: 0;
  }
  
  :host([pfe-navigation-state^='main-menu']) & {
    color: #151515;
    background: #fff;
    box-shadow: inset 0 4px 0 0 #e00;
    &:focus,
    &:hover {
      @include focus-styles(#000, 0px);
    }
  }
}


// Outer menu wrapper layout
// --------------------------------------------------------
.pfe-navigation__outer-menu-wrapper,
.pfe-navigation__outer-menu-wrapper__inner {
  @include breakpoint('secondary-links-expand') {
    display: flex;
    align-items: stretch;
  }
  @include collapse('secondary-links') {
    display: block;
  }
}

.pfe-navigation__outer-menu-wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  width: 100%;
  padding: 16px;
  background: #fff;
  @include breakpoint('secondary-links-expand') {
    position: static;
    display: flex;
    width: auto;
    padding: 0;
    background: transparent;
  }
  @include breakpoint('nav-expand') {
    height: $menu-height;
  }
  @include collapse('secondary-links') {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    width: 100%;
    height: auto;
    padding: 16px;
    background: #fff;
  }

  // @todo This host selector conflicts with the needs of the collapse mixin
  :host([pfe-navigation-state^='main-menu']) & {
    display: block;
    @include breakpoint('secondary-links-expand') {
      display: flex;
    }
    @include collapse('secondary-links') {
      display: block;
    }
  }
}

.pfe-navigation__outer-menu-wrapper,
.pfe-navigation__outer-menu-wrapper__inner {
  @include breakpoint('nav-expand') {
    flex-grow: 1;
  }
  @include collapse('nav') {
    flex-grow: 0;
  }
}

// Menu, List, & Items
// --------------------------------------------------------
.pfe-navigation__menu-wrapper {
  width: 100%;
  margin-bottom: 8px;
  background: #fff;
  @include breakpoint('secondary-links-expand') {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    margin: 0;
    padding: 16px 32px;
  }
  @include breakpoint('nav-expand') {
    position: static;
    display: flex;
    align-items: stretch;
    margin-right: auto;
    padding: 0;
    background: transparent;
  }

  // @todo This host selector may conflict with the needs of the collapse mixin
  :host([pfe-navigation-state^='main-menu']) & {
    @include breakpoint('secondary-links-expand') {
      display: block;
    }
    @include breakpoint('nav-expand') {
      position: static;
      display: flex;
      align-items: stretch;
      width: auto;
      padding: 0;
      background: transparent;
    }
  }

  @include collapse('nav') {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    width: 100%;
    padding: 16px 32px;
    margin: 0;
  }
  @include collapse('secondary-links') {
    position: static;
    display: block;
    padding: 0;
  }
}

.pfe-navigation__menu,
.pfe-navigation__menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pfe-navigation__menu {
  @include breakpoint('nav-expand') {
    display: flex;
    align-items: stretch;
  }
}

.pfe-navigation__menu-item {
  $collapsed-border-top: 1px solid #d2d2d2;
  border-top: $collapsed-border-top;
  @include breakpoint('nav-expand') {
    display: flex;
    align-items: stretch;
    padding: 0 4px;
    border: none;
  }
  @include collapse(nav) {
    display: block;
    padding: 0;
    border-top: $collapsed-border-top;
  }

  a {
    display: block;
    padding: 0.8em 24px;
  }

  &:last-child {
    $collapsed-border-bottom: 1px solid #d2d2d2;
    border-bottom: $collapsed-border-bottom;
    @include breakpoint('nav-expand') {
      border: 0;
    }
    @include collapse(nav) {
      border-bottom: $collapsed-border-bottom;
    }
  }
}

.pfe-navigation__menu-item--open {
  $collapsed-border-shadow:
    inset 4px 0 0 0 #e00,
    0 1px 2px rgba(0, 0, 0, 0.12);
  box-shadow: $collapsed-border-shadow;
  @include breakpoint('nav-expand') {
    box-shadow: none;
  }
  @include collapse(nav) {
    box-shadow: $collapsed-border-shadow;
  }
}

.pfe-navigation__menu-link[class] { // [class] to out specify generic menu link selector
  display: flex;
  align-items: center;
  border: 1px dashed transparent;
  border-top: 0;
  font-size: 20px;
  font-weight: 500;
  color: #151515;
  transition: box-shadow 0.2s;
  @include breakpoint('nav-expand') {
    font-size: 16px;
    font-weight: 400;
    padding: 0 8px;
    max-height: 72px;
    color: #fff;
    white-space: nowrap;
  }
  @include collapse(nav) {
    font-size: 20px;
    font-weight: 500;
    padding: 0;
    max-height: 9999em;
    color: #151515;
    white-space: normal;
  }

  // added to avoid jumpiness when focus/hover styles are active
  border: 1px solid transparent;

  // added border to focus and hover rules bc focus and hover should be the same for a11y and usibility
  // need to regroup on this and discuss with designer and make sure they approve
  &:focus,
  &:hover {
    @include focus-styles(#000, 1px);

    @include breakpoint('nav-expand') {
      box-shadow: inset 0 4px 0 0 #e00;
      @include focus-styles(#fff, 0px);
    }
    @include collapse(nav) {
      box-shadow: none;
    }
  }

  // &:focus {
  //   @include focus-styles(#fff, 1px);
  // }

  &[aria-haspopup=true] {
    position: relative;
    // @todo I don't think this block is necessary? If it is it needs to be reversed in the collapse block
    // @include breakpoint('nav-expand') {
    //   box-shadow: none;
    // }
    // @include collapse(nav) {}

    &:focus,
    &:hover {
      @include focus-styles(#000, 1px);

      @include breakpoint('nav-expand') {
        box-shadow: inset 0 4px 0 0 #e00;
        @include focus-styles(#fff, 0px);
      }
      @include collapse(nav) {
        box-shadow: none;
      }
    }

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      right: 24px;
      display: block;
      width: 11px;
      height: 11px;
      border-top: 4px solid #151515;
      border-right: 4px solid #151515;
      transform: rotate(45deg);
      transform-origin: right top;
      transition: transform 0.25s;
      @include breakpoint('nav-expand') {
        top: 100%;
        left: 50%;
        right: auto;
        width: 0;
        height: 0;
        border: 4px solid transparent;
        border-bottom: 0;
        transform: translate(-4px, -12px);
        transition: border-color 0.25s;
      }
      @include collapse(nav) {
        top: 50%;
        right: 24px;
        left: auto;
        width: 11px;
        height: 11px;
        border: 0;
        border-top: 4px solid #151515;
        border-right: 4px solid #151515;
        transform: rotate(45deg);
        transform-origin: right top;
        transition: transform 0.25s;
      }
    }
    
    &:focus,
    &:hover {
      &:before {
        @include breakpoint('nav-expand') {
          border-top-color: #B8BBBE;
        }
        @include collapse(nav) {
          border-top-color: #151515;
        }
      }
    }
  }

  // swap focus indicator color to #000 when menu is open so that focus indicator is still visible on white bg-color
  &[aria-expanded="true"] {
    &:focus,
    &:hover {
      @include focus-styles(#000, 0px);
    }
  }

  .pfe-navigation__menu-item--open > & {
    @include breakpoint('nav-expand') {
      color: #151515;
      background: #fff;
      box-shadow: inset 0 4px 0 0 #e00;
    }
    @include collapse(nav) {
      box-shadow: none;
    }

    &[class]:before { // [class] adds specificity to beat out hover/focus selector
      transform: rotate(135deg);
      @include breakpoint('nav-expand') {
        border-top-color: #151515;
        transform: translate(-4px, -12px);
      }
      @include collapse(nav) {
        transform: rotate(135deg);
      }
    }
  }
}

// Main menu dropdowns
// --------------------------------------------------------
.pfe-navigation__dropdown {
  // @todo animation and polish
  display: none;
  width: 100%;
  font-size: 16px;

  @include breakpoint('nav-expand') {
    position: absolute;
    top: 100%;
    left: 0;
    padding: 32px 64px;
    // Fits as many columns as it can given the constraints
    // @todo evaluate layout needs and if this is a sane default
    // grid-template-columns: 
    //   repeat(
    //     auto-fill,
    //     minmax(#{200 / 16 * 1em}, #{350 / 16 * 1em})
    //   );
    // @todo: still need to test and see if this is a good setting for the flexibility needs of pfe-nav mega menu tray
    // I tested this setting with 12 sections in the mega menu tray (on Firefox and Chrome) and it worked well. (KS)
    grid-template-columns: repeat(4, 1fr); // changed to this to fix issues on 1200px brkpt, seems to look better and fit better
    grid-gap: 2em;
    background: #fff;
  }

  @include collapse(nav) {
    position: static;
    padding: 0;
    background: transparent;
  }

  .pfe-navigation__menu-item--open > & {
    display: block;
    @include breakpoint('nav-expand') {
      display: grid;
    }
    @include collapse(nav){
      display: block;
    }
  }

  // @todo: adjust heading spacing styles to still look good when there is no link in heading
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: var(--pfe-theme--color--ui-complement,#464646);
  }

  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    color: var(--pfe-theme--color--ui-complement,#464646);    
    
    // avoid jumpiness caused by focus/hover styles
    border: 1px solid transparent;

    &:focus,
    &:hover {
      // focus styles
      @include focus-styles(#000, 1px);

      color: var(--pfe-broadcasted--link--hover,#036);
      text-decoration: underline;
    }
  }

  li a {
    color: var(--pfe-broadcasted--link,#06c);

    // avoid jumpiness caused by focus/hover styles
    border: 1px solid transparent;

    &:focus,
    &:hover {
      // focus styles
      @include focus-styles(#000, 1px);

      color: var(--pfe-broadcasted--link--hover,#036);
      text-decoration: underline;
    }

  }
}

.pfe-navigation__dropdown--single-column {
  @include breakpoint('nav-expand') {
    left: auto;
    width: auto;
    max-width: 100%;
    min-width: 32px;
    padding: 16px;
    background: #fff;
    box-shadow: 
      var(
        --pfe-theme--box-shadow--sm,
        0 0.0625rem 0.125rem 0 rgba(19, 19, 19, 0.2)
      );
  }
  @include collapse(nav) {
    position: static;
    padding: 0;
    background: transparent;
  }

  .pfe-navigation__menu-item--open > & {
    display: block;
    @include collapse(nav) {
      display: block;
    }
  }

}

.pfe-navigation__footer {
  grid-column: 1 / -1; // col spans to the end of col grid line always

  // display: grid;
  grid-gap: 32px; // @todo: change to 2em for consitency, check design and see if 2em spacing matches well enough
  // grid-auto-flow: row;

  // change to display: flex bc it makes content fit better with 4 ctas
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  border-top: 1px solid #d3d3d3;

  // @todo: figure out what mobile and desktop margin/padding should be from design and redhat.com ex
  margin: 16px;
  padding: 26px 8px 16px 8px;
  border-top: 1px solid #d3d3d3;

  @include breakpoint('nav-expand') {
    // grid-auto-flow: column;
    flex-direction: row;
    align-items: center;
    
    margin: calc(var(--pfe-theme--container-padding,16px) * 2) 0 calc(var(--pfe-theme--container-padding,16px) * 1.5);
    padding: calc(var(--pfe-theme--container-padding,16px) * 2.5) 0 0; 
  }
  @include collapse(nav) {
    margin: 16px;
    padding: 26px 8px 16px 8px;
  }

  // fix display block issue for pfe-cta links
  pfe-cta a {
    display: inline-block;
  }

}

// Search
// --------------------------------------------------------
.pfe-navigation__search-toggle {
  display: none;
  @include breakpoint('secondary-links-expand') {
    display: flex;
  }
  @include collapse('secondary-links') {
    display: none;
  }

  :host([pfe-navigation-state='search--open']) & {
    color: #151515;
    background: #fff;
    box-shadow: inset 0 4px 0 0 #e00;

    &:focus,
    &:hover {
      @include focus-styles(#000, 0px);
    }
  }
}

.pfe-navigation__search {
  width: 100%;
  margin-bottom: 24px;
  color: #151515;
  @include breakpoint('secondary-links-expand') {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    margin-bottom: 0;
    padding: 16px;
    background: #fff;
  }

  :host([pfe-navigation-state='search--open']) & {
    display: block;
  }

  @include collapse('secondary-links') {
    position: static;
    display: block;
    margin-bottom: 24px;
    padding: 0;
    background: transparent;
  }
}

// Custom Links
// --------------------------------------------------------
.pfe-navigation__custom-links {
  @include breakpoint('secondary-links-expand') {
    display: flex;
    align-items: stretch;
  }
  @include collapse('secondary-links') {
    display: block;
  }

  &,
  a,
  button {
    color: #151515;

    // focus styles
    &:focus,
    &:hover {
      @include focus-styles(#fff, 0px);
    }

    @include breakpoint('secondary-links-expand') {
      color: red;
      // focus styles
      &:focus,
      &:hover {
        @include focus-styles(#fff, 0px);
      }
    }
    @include collapse('secondary-links') {
      color: #151515;
    }
  }
}

// All Red Hat Button & Dropdown
// --------------------------------------------------------
.pfe-navigation__all-red-hat-toggle {
  :host([pfe-navigation-state='all-red-hat--open']) & {
    color: #151515;
    background: #fff;
    box-shadow: inset 0 4px 0 0 #e00;

    //focus styles
    &:focus,
    &:hover {
      @include focus-styles(#000, 0px);
    }
  }
}

.pfe-navigation__all-red-hat-wrapper__inner {
  display: none;
  width: 100%;

  @include breakpoint('secondary-links-expand') {
    position: absolute;
    top: 100%;
    left: 0;
    padding: 16px;
    color: #151515;
    background: #fff;
  }
  @include collapse('secondary-links') {
    position: static;
    padding: 0;
    color: #fff;
    background: transparent;
  }

  :host([pfe-navigation-state='all-red-hat--open']) & {
    @include breakpoint('secondary-links-expand') {
      display: block;
    }
  }
}

.pfe-navigation__log-in-link {
  // Stuff should go in here...
}

//-- Custom styles applied by attributes
// @each $option in () {
//   :host([pfe-state="#{$option}"]) {
//     // Add styles here
//   }
// }

//-- Custom styles applied to slot
// ::slotted([slot="pfe-navigation--search"]) {
  // Add styles here
// }

// ::slotted([slot="pfe-navigation--custom-links"]) {
  // Add styles here
// }

//-- Custom styles applied to slot's shadow element
// .pfe-navigation {
//   &__search {
    // Add styles here
//   }
//   &__custom-links {
    // Add styles here
//   }
// }