@import "../../pfe-sass/pfe-sass";

$LOCAL: navigation;

/// ===========================================================================
/// Component Specific SASS Vars
/// ===========================================================================

/// ===========================================================================
/// DEFAULT navigation
/// ===========================================================================
:host {
	// Default spacing values
	--pfe-navigation--Padding--vertical:               0;
	--pfe-navigation--Padding--horizontal:             calc( #{pfe-var(container-spacer)} * 1);
	// Bring them together for ease of use below
	--pfe-navigation--Padding:                         #{pfe-local(Padding--vertical)}  #{pfe-local(Padding--horizontal)};

	// Darkest is the default background color
	--pfe-navigation--BackgroundColor: #{pfe-color(surface--darkest)};

	// Border settings
	--pfe-navigation--Border:                          #{pfe-var(surface--border-width)} #{pfe-var(surface--border-style)} transparent;

	// Band width logic
	// Initialize at mobile breakpoint
	--pfe-navigation--Width: auto;
	--pfe-navigation--Width__aside--sm: 240px;
	--pfe-navigation--Width__aside--lg: 300px;

	// Loop through the other breakpoints
	@each $size in (md, lg, xl) {
	  @media screen and (min-width: pfe-breakpoint(#{$size})) {
		--pfe-navigation--Width: calc( #{pfe-breakpoint(#{$size})} - calc(#{pfe-local(Padding--horizontal)} * 4) );
	  }
	}

	// Reduce padding for print
	@media print {
	  --pfe-navigation--Padding: calc(#{pfe-local(Padding--vertical)} / 2) #{pfe-local(Padding--horizontal)};
	}

	position: relative;
	display: block;
	width: 100%;

	// Padding 
	padding: calc(#{pfe-local(Padding--vertical)} / 2)  #{pfe-local(Padding--horizontal)};

	@media (min-width: #{pfe-breakpoint(sm)}) {
		padding: #{pfe-local(Padding)};
	}

	// Border styles
	border: #{pfe-local(Border)};

	// Set the defaults for look and feel
	background-color: #{pfe-local(BackgroundColor)};
}

:host([pfe-sticky]) {
	position: fixed;
	position: sticky;
}

@each $color in (darker, darkest, accent, complement, lighter, lightest) {
  :host([pfe-color="#{$color}"]) {
	--pfe-navigation--BackgroundColor: #{pfe-color(surface--#{$color})};
  }
}

@each $slot in (skip, logo) {
	@include pfe-slot("pfe-navigation--#{$slot}") {
		grid-area: $slot;
	}
}

@include pfe-slot("pfe-navigation--skip") {
	@include pfe-sr-only;
}

.pfe-navigation {
	&__container {
		margin:    	0 auto;
		width: 		#{pfe-local(Width)};
		@media (min-width: #{pfe-breakpoint(md)}) {
			display: grid;
			grid-template-areas: "logo main main main utility";
			grid-template-rows: 1fr;
		}
	}
	&__main {
		grid-area: main;
	}
	&__main,
	&__utility {
		&,
		nav, 
		ul {
			display: flex;
			flex-flow: row nowrap;
		}
		ul {
			@include pfe-reset-list;
		}
	}
	&__utility {
		grid-area: utility;
	}
}
ul {
	padding-inline-start: 0;
}
li {
	list-style-type: none;
}

