@import "../../pfe-sass/pfe-sass";

$LOCAL: navigation-item;

// Edge styles
@include browser-query(ie11) {
    .pfe-navigation-item__trigger.pfe-navigation-item {
        .expanded & {
            background-color: #{pfe-color(surface--lightest)};
            border-top-color:  #{pfe-color(surface--accent)};
        }
        &:hover {
            cursor: pointer;
            border-top: 4px solid #{pfe-color(surface--accent)};
        }
    }
}

.pfe-navigation-item__trigger {
    @include browser-query(ie11) {
        > *.pfe-navigation-item__trigger--icon:first-child {
            display: none;
        }
    }
    > *:not(.pfe-navigation-item__trigger--icon) {
        margin: 0;
        font-family: #{pfe-var(font-family)};
        font-size: #{pfe-local($cssvar: FontSize, $fallback: 14px, $region: trigger)};
        font-weight: #{pfe-local($cssvar: FontWeight, $fallback: 100, $region: trigger)};
        color: #{pfe-local($cssvar: Color, $fallback: #{map-get($pfe-colors, text--on-dark)})};
        @include browser-query(ie11) {
            .expanded & {
                color: #{pfe-color(text)};
            }
            a {
                text-decoration: none;
                color: var(--pfe-navigation-item--Color,#fff);
            }
        }
    }
}

pfe-navigation-item [slot="trigger"] a {
    color: var(--pfe-broadcasted--color--ui-link, #{map-get($pfe-colors, 'ui-link')});
    text-decoration: none;
    &:visited {
        color: var(--pfe-broadcasted--color--ui-link--visited, #{map-get($pfe-colors, 'ui-link--visited')});
    }
    &:hover {
        color: var(--pfe-broadcasted--color--ui-link--hover, #{map-get($pfe-colors, 'ui-link--hover')});
        text-decoration: none;
    }
    &:focus {
        outline: none;
        color: var(--pfe-broadcasted--color--ui-link--focus, #{map-get($pfe-colors, 'ui-link--focus')});
    }
}

.pfe-navigation-item__tray {
    padding: #{pfe-local($cssvar: Padding, $region: tray, $fallback: #{map-get($pfe-vars, container-padding)})};
    max-height: calc(100vh - var(--pfe-navigation--Height, 90px));
    overflow-x: hidden;
    overflow-y: scroll;
}
