@import "../../pfe-sass/pfe-sass";

$LOCAL: navigation-item;

// Edge styles
.pfe-navigation-item__trigger > *:not(.pfe-navigation-item__trigger--icon) {
    margin: 0;
    font-family: #{pfe-var(font-family)};
    font-size: #{pfe-local($cssvar: FontSize, $fallback: 14px, $region: trigger)};
    font-weight: #{pfe-local($cssvar: FontWeight, $fallback: 100, $region: trigger)};
    color: #{pfe-local($cssvar: Color, $fallback: #{map-get($pfe-colors, text--on-dark)})};
}
.pfe-navigation-item__tray {
    padding: #{pfe-local($cssvar: Padding, $region: tray)};
    max-height: calc(100vh - var(--pfe-navigation--Height, 90px));
    overflow-x: hidden;
    overflow-y: scroll;
}

// IE11
@include browser-query(ie11) {
    // pfe-navigation {
    //     display: flex;
    //     flex-flow: row nowrap;
    //     align-items: center;
    //     justify-content: center;
    // }
}