pfe-footer, pfe-footer::before, pfe-footer::after,
pfe-footer *, pfe-footer *::before, pfe-footer *::after {
  box-sizing: border-box;
}

pfe-footer {
  display: block;
  font-family: Overpass, sans-serif;
  font-size: 0.875rem; // ~14px from 16px base
  line-height: 1.5em;
  background: #252525;
  color: #fff;

  // Shared.
  [slot="pfe-footer-info"],
  [pfe-footer-links] {

    // All H2s
    h2 {
      margin: 0 0 1.125rem; // ~18px from 16px base
      font-size: 0.875rem; // ~14px from 16px base
      line-height: 1.5em;
      text-transform: uppercase;
    }

    // List Items
    li {
      margin: 0;
      padding: 0 1rem 1rem 0;
    }
  }

  // Info Block
  [slot="pfe-footer-info"] {
    padding: 2rem;
    background: #e00;
    color: #fff;

    ul {
      margin: 1.5rem 0 0; // 1.313em?
      padding: 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;

      li {
        width: 50%;
      }
    }

    a,
    a:visited {
      color: #fff;
      text-decoration: underline;
    }

    a:hover {
      color: rgba(255,255,255,.8);
      text-decoration: underline;
    }

    [pfe-social-links] {

      li {
        width: auto;
        padding-right: 2rem;
      }

      pfe-icon {
        --pfe-icon--Color: #fff;
        font-size: 1.25rem;
      }

      a:hover {
        pfe-icon {
          --pfe-icon--Color: rgba(255,255,255,.8);
        }
      }
    }

  }

  // Footer Links
  [pfe-footer-links] {
    padding-bottom: 2rem;

    > section {
      padding: 2rem 2rem 0;
    }

    ul {
      margin: 1.5rem 0 0 0;
      padding: 0;
      list-style: none;

      li:last-child {
        margin-bottom: 0;
      }
    }

    a,
    a:visited {
      color: #ccc;
      text-decoration: none;
    }

    a:hover {
      color: #fff;
      text-decoration: underline;
    }
  }

  // Legal Area
  [slot="pfe-footer-legal"] {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem 2rem;
    font-size: 0.750rem; // ~12px with 16px base
    line-height: 1.5em;
    background: #1a1a1a;
    color: #ccc;

    small {
      font-size: 1em;
      white-space: nowrap;
    }

    ul {
      margin: 0.25rem 0 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;

      li {
        padding: 0.125rem 0;

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          border-right: 0;
        }
      }
    }

    a,
    a:visited {
      white-space: nowrap;
      color: #aaa;
      text-decoration: underline;
    }

    a:hover {
      color: #fff;
      text-decoration: underline;
    }
  }

  // Shared Focus State
  [slot="pfe-footer-legal"],
  [slot="pfe-footer-info"],
  [pfe-footer-links] {
    a:focus {
      outline-offset: 1px;
      outline-style: dotted;
      outline-width: 1px;
      outline-color: #fff;
    }
  }

  // Variants
  // Gray
  &[pfe-variant="gray"] {

    [slot="pfe-footer-info"] {
      background: #646464;
    }
  }
}

@media screen and (min-width: 480px) {
  pfe-footer {

    [slot="pfe-footer-legal"] {
      ul {
        flex-direction: row;

        li {
          line-height: 1.5em;
          padding: 0 0.75rem;
          border-right: 1px solid #858585;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  pfe-footer {
    display: flex;
    flex-wrap: wrap;

    [slot="pfe-footer-info"],
    [pfe-footer-links] {
      width: 50%;

      // Alignment/padding
      &:first-child,
      &:first-child + [pfe-footer-links] {
        padding-top: 2rem;
      }
    }

    [pfe-footer-links] {
      order: -1;

      > section:first-child {
        padding-top: 0;
      }
    }
  }

  /* Grid looks best for browsers that support it */
  @supports (display: grid) {
    pfe-footer {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "footerLinks siteInfo"
                           "legalInfo legalInfo";

      [slot="pfe-footer-legal"] {
        grid-area: legalInfo;
      }

      [slot="pfe-footer-info"] {
        width: 100%;
        grid-area: siteInfo;
      }

      [pfe-footer-links] {
        width: 100%;
        grid-area: footerLinks;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  pfe-footer {

    [pfe-footer-links] {
      display: flex;
      justify-content: space-between;
      padding-right: 2rem;

      ul {
        margin-left: 0;
      }

      > section {
        padding-top: 0;

        &:last-child {
          margin-right: auto;
        }
      }
    }

    [slot="pfe-footer-legal"] {
      flex-direction: row;
      justify-content: center;
      align-items: baseline;

      small,
      .copyright {
        margin-right: 3rem;
      }
    }

    &[pfe-layout="left-aligned"] {
      [slot="pfe-footer-legal"] {
        justify-content: flex-start;
      }
    }
  }

  /* Grid looks best for browsers that support it */
  @supports (display: grid) {
    pfe-footer {
      grid-template-columns: 1fr 4fr 2fr 1fr;
      grid-template-areas: ". footerLinks siteInfo ."
                           "legalInfo legalInfo legalInfo legalInfo";

      &[pfe-layout="left-aligned"] {
        grid-template-columns: 4fr 2fr 1fr;
        grid-template-areas: "footerLinks siteInfo ."
                             "legalInfo legalInfo legalInfo";
      }

      [pfe-footer-links] {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
      }
    }
  }
}
