@import "../../pfe-sass/pfe-sass";

:host(pfe-footer) {
  display: block;
  grid-template-columns: 1fr !important;
}

:host([hidden]) {
  display: none;
}

:host *, :host *::before, :host *::after {
  box-sizing: border-box;
}


.pfe-footer-menus {
  display: flex;
  flex-wrap: wrap;

  .pfe-footer-info,
  .pfe-footer-links {

    h2 {
      margin: 0;
      font-size: 0.875rem; // ~14px from 16px base
      line-height: 1.5em;
      text-transform: uppercase;
    }

    li {
      margin: 0;
      padding: 0 1rem 1rem 0;
    }

    a:focus {
      outline-offset: 1px;
      outline-style: dotted;
      outline-width: 1px;
      outline-color: #fff;
    }

    > section {
      padding: 2rem 2rem 0;
    }
  }

  .pfe-footer-links {
    padding-bottom: 2rem;

    h2 {
      line-height: 1em;

      pfe-collapse-toggle,
      button {
        display: block;
        margin: 0;
        padding: 0 0 0 1.5rem;
        width: 100%;
        text-align: left;
        border: 0;
        background: none;
        -webkit-appearance: none;
           -moz-appearance: none;
        font-size: 1em;
        line-height: 1em;
        text-transform: uppercase;
        color: #fff;
        font-weight: 600;

        &:focus {
          outline-offset: 1px;
          outline-style: dotted;
          outline-width: 1px;
          outline-color: #fff;
        }

        &::before {
          // Draw chevron!
          position: relative;
          float: left;
          content: "";
          display: inline-block;
          margin-left: -1.5rem;
          width: 0.5rem;
          height: 0.5rem;
          border-right: 0.094rem solid #fff;
          border-bottom: 0.094rem solid #fff;
          transform: rotate(-45deg) translate(-0.1rem, 0.1rem);
        }

        &[aria-expanded="true"] {

          &::before {
            transform: rotate(45deg) translate(0, 0.1rem);
          }
        }

        @media screen and (min-width: 992px) {
          padding-left: 0;

          &::before {
            display: none;
          }
        }
      }
    }

    ul {
      margin: 1.125rem 0 0 1.5rem;
      padding: 0;
      list-style: none;
    }

    li:last-child {
      margin-bottom: 0;
    }

    a,
    a:visited {
      color: #ccc;
      text-decoration: none;
    }

    a:hover {
      color: #fff;
      text-decoration: underline;
    }

    @media screen and (min-width: 768px) {
      order: -1;
    }

    @media screen and (min-width: 992px) {
      display: flex;
      justify-content: space-between;
      padding-right: 2rem;

      ul {
        margin-left: 0;
      }

      @supports (display: grid) {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
      }
    }
  }

  @media screen and (min-width: 768px) {
    @supports (display: grid) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "footerLinks siteInfo"
                           "legalInfo legalInfo";

      slot[name="pfe-footer-legal"]::slotted(*) {
        grid-area: legalInfo;
      }

      .pfe-footer-info {
        display: flex; // make BG stretch 100% height
      }

      slot[name="pfe-footer-info"]::slotted(*) {
        width: 100%;
        grid-area: siteInfo;
      }

      .pfe-footer-links {
        width: 100%;
        grid-area: footerLinks;
      }
    }
  }

  @media screen and (min-width: 992px) {
    @supports (display: grid) {
      grid-template-columns: 2fr 1fr;

      .pfe-footer-links {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
      }
    }
  }
}

.pfe-legal-wrapper,
.pfe-footer-wrapper {
  margin: 0 auto;
  max-width: 1140px;

  @at-root :host([pfe-layout="left-aligned"]) & {
    margin: 0;

    &.pfe-legal-wrapper {
      max-width: none;
    }
  }
}

.pfe-legal-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
}

.pfe-footer-universal {
  background: #1a1a1a;
}

.brand {
  padding: 2rem 2rem 0;

  @media screen and (min-width: 768px) {
    padding: 2rem;
  }

  a {
    display: block;

    &:focus {
      outline-offset: 1px;
      outline-style: dotted;
      outline-width: 1px;
      outline-color: #fff;
    }
  }

  svg {
    height: 2.5em;
  }
}

.summit-logo {
  padding: 1rem 2rem 2rem;

  @media screen and (min-width: 768px) {
    padding: 2rem;
  }

  a {
    display: block;

    &:focus {
      outline-offset: 1px;
      outline-style: dotted;
      outline-width: 1px;
      outline-color: #fff;
    }
  }

  svg {
    height: 2.188rem;
  }
}
