.pfe-headline-xxl {
  font-family: var(--pfe-theme--font-family--heading, "Red Hat Display", "RedHatDisplay", "Overpass", Overpass, Arial, sans-serif);
  font-size: var(--pfe-theme--font-size--xxl, var(--pf-global--FontSize--5xl, 40px));
  line-height: var(--pfe-theme--line-height, 1.5);
  font-weight: var(--pfe-theme--font-weight--light, 300);
}
.pfe-headline-xxl:not(:last-child) {
  margin-bottom: var(--pfe-theme--content-spacer--heading--md, 1.5rem);
}

.pfe-headline-xl {
  font-family: var(--pfe-theme--font-family--heading, "Red Hat Display", "RedHatDisplay", "Overpass", Overpass, Arial, sans-serif);
  font-size: var(--pfe-theme--font-size--xl, var(--pf-global--FontSize--4xl, 36px));
  line-height: var(--pfe-theme--line-height, 1.5);
  font-weight: var(--pfe-theme--font-weight--light, 300);
}
.pfe-headline-xl:not(:last-child) {
  margin-bottom: var(--pfe-theme--content-spacer--heading--md, 1.5rem);
}

.pfe-headline-alpha {
  font-family: var(--pfe-theme--font-family--heading, "Red Hat Display", "RedHatDisplay", "Overpass", Overpass, Arial, sans-serif);
  font-size: var(--pfe-theme--font-size--alpha, var(--pf-global--FontSize--3xl, 28px));
  line-height: var(--pfe-theme--line-height, 1.5);
  font-weight: var(--pfe-theme--font-weight--normal, 400);
}
.pfe-headline-alpha:not(:last-child) {
  margin-bottom: var(--pfe-theme--content-spacer--heading--sm, 1rem);
}

.pfe-headline-beta {
  font-family: var(--pfe-theme--font-family--heading, "Red Hat Display", "RedHatDisplay", "Overpass", Overpass, Arial, sans-serif);
  font-size: var(--pfe-theme--font-size--beta, var(--pf-global--FontSize--2xl, 24px));
  line-height: var(--pfe-theme--line-height, 1.5);
  font-weight: var(--pfe-theme--font-weight--normal, 400);
}
.pfe-headline-beta:not(:last-child) {
  margin-bottom: var(--pfe-theme--content-spacer--heading--sm, 1rem);
}

.pfe-headline-gamma {
  font-family: var(--pfe-theme--font-family--heading, "Red Hat Display", "RedHatDisplay", "Overpass", Overpass, Arial, sans-serif);
  font-size: var(--pfe-theme--font-size--gamma, var(--pf-global--FontSize--xl, 20px));
  line-height: var(--pfe-theme--line-height, 1.5);
  font-weight: var(--pfe-theme--font-weight--normal, 400);
}
.pfe-headline-gamma:not(:last-child) {
  margin-bottom: var(--pfe-theme--content-spacer--heading--sm, 1rem);
}

.pfe-headline-delta {
  font-family: var(--pfe-theme--font-family--heading, "Red Hat Display", "RedHatDisplay", "Overpass", Overpass, Arial, sans-serif);
  font-size: var(--pfe-theme--font-size--delta, var(--pf-global--FontSize--lg, 18px));
  line-height: var(--pfe-theme--line-height, 1.5);
  font-weight: var(--pfe-theme--font-weight--normal, 400);
}
.pfe-headline-delta:not(:last-child) {
  margin-bottom: var(--pfe-theme--content-spacer--heading--sm, 1rem);
}

.pfe-headline-epsilon {
  font-family: var(--pfe-theme--font-family--heading, "Red Hat Display", "RedHatDisplay", "Overpass", Overpass, Arial, sans-serif);
  font-size: var(--pfe-theme--font-size--epsilon, var(--pf-global--FontSize--md, 16px));
  line-height: var(--pfe-theme--line-height, 1.5);
  font-weight: var(--pfe-theme--font-weight--normal, 400);
}
.pfe-headline-epsilon:not(:last-child) {
  margin-bottom: var(--pfe-theme--content-spacer--heading--sm, 1rem);
}

.pfe-headline-zeta {
  font-family: var(--pfe-theme--font-family--heading, "Red Hat Display", "RedHatDisplay", "Overpass", Overpass, Arial, sans-serif);
  font-size: var(--pfe-theme--font-size--zeta, var(--pf-global--FontSize--sm, 14px));
  line-height: var(--pfe-theme--line-height, 1.5);
  font-weight: var(--pfe-theme--font-weight--normal, 400);
}
.pfe-headline-zeta:not(:last-child) {
  margin-bottom: var(--pfe-theme--content-spacer--heading--sm, 1rem);
}

.pfe-text-lg {
  font-family: var(--pfe-theme--font-family, "Red Hat Text", "RedHatText", "Overpass", Overpass, Arial, sans-serif);
  font-size: var(--pfe-theme--font-size--default-lg, var(--pf-global--FontSize--xl, 20px));
  line-height: var(--pfe-theme--line-height, 1.5);
  font-weight: var(--pfe-theme--font-weight--light, 300);
}
.pfe-text-lg:not(:last-child) {
  margin-bottom: var(--pfe-theme--content-spacer--body--md, 1rem);
}

.pfe-text-md,
.pfe-text {
  font-family: var(--pfe-theme--font-family, "Red Hat Text", "RedHatText", "Overpass", Overpass, Arial, sans-serif);
  font-size: var(--pfe-theme--font-size--default, var(--pf-global--FontSize--lg, 18px));
  line-height: var(--pfe-theme--line-height, 1.5);
  font-weight: var(--pfe-theme--font-weight--light, 300);
}
.pfe-text-md:not(:last-child):not(:empty),
.pfe-text:not(:last-child):not(:empty) {
  margin-bottom: var(--pfe-theme--content-spacer--body--md, 1rem);
}

.pfe-text-sm {
  font-family: var(--pfe-theme--font-family, "Red Hat Text", "RedHatText", "Overpass", Overpass, Arial, sans-serif);
  font-size: var(--pfe-theme--font-size--default-sm, var(--pf-global--FontSize--md, 16px));
  line-height: var(--pfe-theme--line-height, 1.5);
  font-weight: var(--pfe-theme--font-weight--light, 300);
}
.pfe-text-sm:not(:last-child) {
  margin-bottom: var(--pfe-theme--content-spacer--body--md, 1rem);
}

.pfe-text-xs {
  font-family: var(--pfe-theme--font-family, "Red Hat Text", "RedHatText", "Overpass", Overpass, Arial, sans-serif);
  font-size: var(--pfe-theme--font-size--default-xs, var(--pf-global--FontSize--sm, 14px));
  line-height: var(--pfe-theme--line-height, 1.5);
  font-weight: var(--pfe-theme--font-weight--light, 300);
}
.pfe-text-xs:not(:last-child) {
  margin-bottom: var(--pfe-theme--content-spacer--body--md, 1rem);
}

/*# sourceMappingURL=pfe-typography-deprecated.css.map */
