.pfe-title--6xl {
  font-family: var(--pfe-theme--font-family--heading, "Red Hat Display", "RedHatDisplay", "Overpass", Overpass, Arial, sans-serif) !important;
  font-size: var(--pf-c-title--m-6xl--FontSize, 3rem) !important;
  line-height: var(--pfe-theme--line-height--heading-mega, 1.2) !important;
  font-weight: var(--pfe-theme--font-weight--light, 300) !important;
}
.pfe-title--6xl:not(:last-child) {
  margin-bottom: var(--pfe-theme--content-spacer--heading--md, 1.5rem) !important;
}

.pfe-title--5xl {
  font-family: var(--pfe-theme--font-family--heading, "Red Hat Display", "RedHatDisplay", "Overpass", Overpass, Arial, sans-serif) !important;
  font-size: var(--pf-c-title--m-5xl--FontSize, 2.5rem) !important;
  line-height: var(--pfe-theme--line-height--heading-mega, 1.2) !important;
  font-weight: var(--pfe-theme--font-weight--light, 300) !important;
}
.pfe-title--5xl:not(:last-child) {
  margin-bottom: var(--pfe-theme--content-spacer--heading--md, 1.5rem) !important;
}

.pfe-title--4xl {
  font-family: var(--pfe-theme--font-family--heading, "Red Hat Display", "RedHatDisplay", "Overpass", Overpass, Arial, sans-serif) !important;
  font-size: var(--pf-c-title--m-4xl--FontSize, 2.25rem) !important;
  line-height: var(--pfe-theme--line-height--heading, 1.3) !important;
  font-weight: var(--pfe-theme--font-weight--normal, 400) !important;
}
.pfe-title--4xl:not(:last-child) {
  margin-bottom: var(--pfe-theme--content-spacer--heading--sm, 1rem) !important;
}

.pfe-title--3xl {
  font-family: var(--pfe-theme--font-family--heading, "Red Hat Display", "RedHatDisplay", "Overpass", Overpass, Arial, sans-serif) !important;
  font-size: var(--pf-c-title--m-3xl--FontSize, 1.75rem) !important;
  line-height: var(--pfe-theme--line-height--heading, 1.3) !important;
  font-weight: var(--pfe-theme--font-weight--normal, 400) !important;
}
.pfe-title--3xl:not(:last-child) {
  margin-bottom: var(--pfe-theme--content-spacer--heading--sm, 1rem) !important;
}

.pfe-title--2xl {
  font-family: var(--pfe-theme--font-family--heading, "Red Hat Display", "RedHatDisplay", "Overpass", Overpass, Arial, sans-serif) !important;
  font-size: var(--pf-c-title--m-2xl--FontSize, 1.5rem) !important;
  line-height: var(--pfe-theme--line-height--heading, 1.3) !important;
  font-weight: var(--pfe-theme--font-weight--normal, 400) !important;
}
.pfe-title--2xl:not(:last-child) {
  margin-bottom: var(--pfe-theme--content-spacer--heading--sm, 1rem) !important;
}

.pfe-title--xl {
  font-family: var(--pfe-theme--font-family--heading, "Red Hat Display", "RedHatDisplay", "Overpass", Overpass, Arial, sans-serif) !important;
  font-size: var(--pf-c-title--m-xl--FontSize, 1.25rem) !important;
  line-height: var(--pfe-theme--line-height, 1.5) !important;
  font-weight: var(--pfe-theme--font-weight--normal, 400) !important;
}
.pfe-title--xl:not(:last-child) {
  margin-bottom: var(--pfe-theme--content-spacer--heading--sm, 1rem) !important;
}

.pfe-title--lg {
  font-family: var(--pfe-theme--font-family--heading, "Red Hat Display", "RedHatDisplay", "Overpass", Overpass, Arial, sans-serif) !important;
  font-size: var(--pf-c-title--m-lg--FontSize, 1.125rem) !important;
  line-height: var(--pfe-theme--line-height, 1.5) !important;
  font-weight: var(--pfe-theme--font-weight--normal, 400) !important;
}
.pfe-title--lg:not(:last-child) {
  margin-bottom: var(--pfe-theme--content-spacer--heading--sm, 1rem) !important;
}

.pfe-title--md {
  font-family: var(--pfe-theme--font-family--heading, "Red Hat Display", "RedHatDisplay", "Overpass", Overpass, Arial, sans-serif) !important;
  font-size: var(--pf-c-title--m-md--FontSize, 1rem) !important;
  line-height: var(--pfe-theme--line-height, 1.5) !important;
  font-weight: var(--pfe-theme--font-weight--normal, 400) !important;
}
.pfe-title--md:not(:last-child) {
  margin-bottom: var(--pfe-theme--content-spacer--heading--sm, 1rem) !important;
}

.pfe-title--sm {
  font-family: var(--pfe-theme--font-family--heading, "Red Hat Display", "RedHatDisplay", "Overpass", Overpass, Arial, sans-serif) !important;
  font-size: var(--pf-c-title--m-sm--FontSize, 0.875rem) !important;
  line-height: var(--pfe-theme--line-height, 1.5) !important;
  font-weight: var(--pfe-theme--font-weight--normal, 400) !important;
}
.pfe-title--sm:not(:last-child) {
  margin-bottom: var(--pfe-theme--content-spacer--heading--sm, 1rem) !important;
}

.pfe-title--xs {
  font-family: var(--pfe-theme--font-family--heading, "Red Hat Display", "RedHatDisplay", "Overpass", Overpass, Arial, sans-serif) !important;
  font-size: var(--pf-c-title--m-xs--FontSize, 0.75rem) !important;
  line-height: var(--pfe-theme--line-height, 1.5) !important;
  font-weight: var(--pfe-theme--font-weight--normal, 400) !important;
}
.pfe-title--xs:not(:last-child) {
  margin-bottom: var(--pfe-theme--content-spacer--heading--sm, 1rem) !important;
}

.pfe-text--xl {
  font-size: var(--pf-c-text--m-xl--FontSize, 1.25rem) !important;
  font-family: var(--pfe-theme--font-family, "Red Hat Text", "RedHatText", "Overpass", Overpass, Arial, sans-serif) !important;
  line-height: var(--pfe-theme--line-height, 1.5) !important;
  font-weight: var(--pfe-theme--font-weight--normal, 400) !important;
}
.pfe-text--xl:not(:last-child):not(:empty) {
  margin-bottom: var(--pfe-theme--content-spacer--body--sm, 0.5rem) !important;
}

.pfe-text--lg {
  font-size: var(--pf-c-text--m-lg--FontSize, 1.125rem) !important;
  font-family: var(--pfe-theme--font-family, "Red Hat Text", "RedHatText", "Overpass", Overpass, Arial, sans-serif) !important;
  line-height: var(--pfe-theme--line-height, 1.5) !important;
  font-weight: var(--pfe-theme--font-weight--normal, 400) !important;
}
.pfe-text--lg:not(:last-child):not(:empty) {
  margin-bottom: var(--pfe-theme--content-spacer--body--sm, 0.5rem) !important;
}

.pfe-text--md {
  font-size: var(--pf-c-text--m-md--FontSize, 1rem) !important;
  font-family: var(--pfe-theme--font-family, "Red Hat Text", "RedHatText", "Overpass", Overpass, Arial, sans-serif) !important;
  line-height: var(--pfe-theme--line-height, 1.5) !important;
  font-weight: var(--pfe-theme--font-weight--normal, 400) !important;
}
.pfe-text--md:not(:last-child):not(:empty) {
  margin-bottom: var(--pfe-theme--content-spacer--body--sm, 0.5rem) !important;
}

.pfe-text--sm {
  font-size: var(--pf-c-text--m-sm--FontSize, 0.875rem) !important;
  font-family: var(--pfe-theme--font-family, "Red Hat Text", "RedHatText", "Overpass", Overpass, Arial, sans-serif) !important;
  line-height: var(--pfe-theme--line-height, 1.5) !important;
  font-weight: var(--pfe-theme--font-weight--normal, 400) !important;
}
.pfe-text--sm:not(:last-child):not(:empty) {
  margin-bottom: var(--pfe-theme--content-spacer--body--sm, 0.5rem) !important;
}

.pfe-text--xs {
  font-size: var(--pf-c-text--m-xs--FontSize, 0.75rem) !important;
  font-family: var(--pfe-theme--font-family, "Red Hat Text", "RedHatText", "Overpass", Overpass, Arial, sans-serif) !important;
  line-height: var(--pfe-theme--line-height, 1.5) !important;
  font-weight: var(--pfe-theme--font-weight--normal, 400) !important;
}
.pfe-text--xs:not(:last-child):not(:empty) {
  margin-bottom: var(--pfe-theme--content-spacer--body--sm, 0.5rem) !important;
}

ol.pfe-list--primary {
  list-style: none;
  min-height: var(--pfe-list-ol--primary--gap, var(--pfe-theme--content-spacer, 1.5rem));
  margin: var(--pfe-list-ol--primary--gap, var(--pfe-theme--content-spacer, 1.5rem));
  padding-left: var(--pfe-list-ol--primary--PaddingLeft, 0);
}
ol.pfe-list--primary > li {
  counter-increment: pfe-list;
  position: relative;
  min-height: var(--pfe-list-ol--primary__circle--size, 56px);
  padding-left: calc(var(--pfe-list-ol--primary--spacer, var(--pfe-theme--content-spacer, 1.5rem)) + var(--pfe-list-ol--primary__circle--size, 56px));
  padding-top: calc((var(--pfe-list-ol--primary__circle--size, 56px) / 2) - (var(--pfe-list-ol--primary__circle--FontSize, 24px) / 2));
}
ol.pfe-list--primary > ul {
  list-style-type: disc;
}
ol.pfe-list--primary > li:before {
  font-family: var(--pfe-theme--font-family--heading, "Red Hat Display", "RedHatDisplay", "Overpass", Overpass, Arial, sans-serif);
  line-height: var(--pfe-theme--line-height--heading, 1.3);
  font-weight: var(--pfe-theme--font-weight--normal, 400);
  font-size: var(--pfe-list-ol--primary__circle--FontSize, 24px);
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  width: var(--pfe-list-ol--primary__circle--size, 56px);
  height: var(--pfe-list-ol--primary__circle--size, 56px);
  content: counter(pfe-list);
  color: rgba(var(--pfe-list-ol--primary__circle--color, 238, 0, 0), 1);
  background-color: var(--pfe-list-ol--primary__circle--BackgroundColor, rgba(var(--pfe-list-ol--primary__circle--color, 238, 0, 0), 0.07));
}
ol.pfe-list--primary > li:before:not(:last-child) {
  margin-bottom: var(--pfe-theme--content-spacer--heading--sm, 1rem);
}
ol.pfe-list--primary > li *:first-child {
  margin-top: var(--pfe-list-ol--primary__item-first-child--MarginTop, 0);
}
ol.pfe-list--primary.pfe-l-grid.pfe-m-gutters {
  --pfe-grid--gap--vertical: var(--pfe-list-ol--primary--gap, var(--pfe-theme--content-spacer, 1.5rem));
  --pfe-grid--gap--horizontal: var(--pfe-list-ol--primary--gap, var(--pfe-theme--content-spacer, 1.5rem));
  --pfe-grid--Margin: var(--pfe-list-ol--primary--Margin, var(--pfe-theme--content-spacer, 1.5rem));
  --pfe-grid__item--Margin: var(--pfe-list-ol--primary__item--Margin, 0);
}

/*# sourceMappingURL=pfe-typography-classes.css.map */
