@import "../../pfe-sass/pfe-sass";
$LOCAL: pfelement;

body {
  --#{$repo}-reveal-duration: 0.1618s;
  --#{$repo}-reveal-delay: 2s;

  transition: opacity var(--#{$repo}-reveal-duration) ease-in-out;

  @include pfe-set-broadcast-theme(light);
}

body[unresolved] {
  opacity: 0;
  animation: reveal var(--#{$repo}-reveal-duration) var(--#{$repo}-reveal-delay) 1
    forwards;
}

@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
