@import "_shared-assets";

$LOCAL: progress-steps;

$LOCAL-VARIABLES: map-deep-merge($LOCAL-VARIABLES, (
  progress-bar: (
    color: pfe-var(ui--border--lighter),
    color--active: pfe-var(feedback--info),
    thickness: pfe-var(ui--border-width--md)
  ),
));

:host {
  display: block;
  display: flex;
  width: auto;
  justify-content: space-between;
  position: relative;
  align-items: flex-start;
  
  // @TODO This definitely would need some IE love since it's driven by CSS variables so I'm just not displaying it in IE for now.
  @include browser-query(ie11) {
    display: none;
  }
}

// Make everything vertical
:host([vertical]) {
  flex-direction: column;
}

:host([hidden]) {
  display: none;
}

.pfe-progress-steps__progress-bar {
  display: flex;
  position: absolute;

  top: calc(
    var(--pfe-progress-steps-item__circle--size--active, #{pfe-fetch(size--active, $region: circle)}) -
    var(--pfe-progress-steps-item__circle--size, #{pfe-fetch(size, $region: circle)}) +
    #{pfe-local(thickness, $region: progress-bar)}
  ); // calc(32px - 20px + 2px)
  left: 50%;
  transform: translateX(-50%);

  height: pfe-local(thickness, $region: progress-bar); // 2px
  width: calc(100% - #{pfe-local(size, $region: item)});
  background-color: pfe-local(color, $region: progress-bar);

  :host([vertical]) & {
    width: pfe-local(thickness, $region: progress-bar);

    // Position the progress bar correctly over the circle
    top: calc(
      var(
        --pfe-progress-steps-item__circle--size--active,
        #{pfe-fetch(size--active, $region: circle)}
      ) / 2);
    left: calc(
      (var(--pfe-progress-steps-item__circle--size, #{pfe-fetch(size, $region: circle)}) / 2) +
      #{pfe-local(thickness, $region: progress-bar)});

    height: calc(100% - var(
      --pfe-progress-steps-item__circle--size--active,
      #{pfe-fetch(size--active, $region: circle)}
    ) - 1em); // 1em represents the height of the description if provided
  }
  &--fill {
    display: block;
    height: pfe-local(thickness, $region: progress-bar);
    background-color: pfe-local(color--active, $region: progress-bar);
    width: 0;
    :host([vertical]) & {
      width: pfe-local(thickness, $region: progress-bar);
      height: 0;
    }
  }
}
