@import "../../pfe-sass/pfe-sass";

$LOCAL: tabs;

$LOCAL-VARIABLES: (
  BackgroundColor: transparent,
  Color:           pfe-var(ui-disabled--text),
  link:            pfe-var(link),
  focus:           pfe-var(link--focus),
  highlight:       pfe-var(ui-accent),
  tab: (
    PaddingTop:     calc(#{pfe-var(container-padding)} * .666),
    PaddingRight:   calc(#{pfe-var(container-padding)} * 1.5),
    PaddingBottom:  calc(#{pfe-var(container-padding)} * .666),
    PaddingLeft:    calc(#{pfe-var(container-padding)} * 1.5),
  )
);

/// ===========================================================================
/// HORIZONTAL TAB ORIENTATION
/// ===========================================================================

:host {

  position: relative;
  display: block;
  margin: #{pfe-local($cssvar: Margin, $region: tab, $fallback: 0 0 -1px)};

  // Padding
  padding: #{pfe-local(PaddingTop, $region: tab)} #{pfe-local(PaddingRight, $region: tab)} #{pfe-local(PaddingBottom, $region: tab)} #{pfe-local(PaddingLeft, $region: tab)};

  // Border
  border-top:     #{pfe-local($cssvar: BorderTop, $region: tab, $fallback: #{pfe-local($cssvar: BorderWidth, $region: tab, $fallback: #{pfe-var(ui--border-width)})} #{pfe-var(ui--border-style)} #{pfe-local(BorderColor, transparent, $region: tab)} )};
  border-right:   #{pfe-local($cssvar: BorderRight, $region: tab, $fallback: #{pfe-local($cssvar: BorderWidth, $region: tab, $fallback: #{pfe-var(ui--border-width)})} #{pfe-var(ui--border-style)} #{pfe-local(BorderColor, transparent, $region: tab)} )};
  border-bottom:  #{pfe-local(BorderBottom, 0, $region: tab)};
  border-left:    #{pfe-local($cssvar: BorderLeft, $region: tab, $fallback: #{pfe-local($cssvar: BorderWidth, $region: tab, $fallback: #{pfe-var(ui--border-width)})} #{pfe-var(ui--border-style)} #{pfe-local(BorderColor, transparent, $region: tab)} )};

  // Inner style
  background-color: #{pfe-local(BackgroundColor)};
  color: #{pfe-local(Color)};

  // Exposing this for customization
  text-transform: #{pfe-local(TextTransform, none, $region: tab)};
  font-weight: #{pfe-var(font-weight--normal)};

  cursor: pointer;
  text-align: #{pfe-local(TextAlign, center, $region: tab)};
  
  ::slotted(*) {
    color: #{pfe-local(Color)} !important;
  }
  
  @at-root #{&}(:hover) {
    --pfe-tabs--Color: #{pfe-var(text)};
    @include browser-query(ie11) {
      color: #{pfe-var(text)};
    }
  }

  // Active tab styles
  // TODO: ShadyCSS falls flat on this pseudo element in IE11 `:host(:focus-visible)`, add back when we drop ShadyCSS
  @at-root #{&}(:focus) {
    --pfe-tabs--Color: #{pfe-var(text)};
    outline: #{pfe-var(ui--focus-outline-width)} outset #{pfe-local(focus)};
  }

  @at-root #{&}([on="dark"]) {
    --pfe-tabs--focus: #{pfe-var(link--focus--on-dark)};
  }

  @at-root #{&}([on="saturated"]) {
    --pfe-tabs--Color: #{darken($pfe-var--white, 20%)};
    --pfe-tabs--focus: #{pfe-var(link--focus--on-saturated)};
    --pfe-tabs--highlight: #{pfe-var(text--on-saturated)};
  }

  @at-root #{&}([aria-selected="true"]) {
    --pfe-tabs--Color: #{$pfe-var--black};
    --pfe-tabs__tab--BorderColor: transparent;
    --pfe-tabs__tab--BorderBottom: #{pfe-var(surface--border-width--heavy)} #{pfe-var(surface--border-style)} #{pfe-local(highlight)};
    @include browser-query(ie11) {
      color: #{$pfe-var--black};
      border-bottom: #{pfe-var(surface--border-width--heavy)} #{pfe-var(surface--border-style)} #{pfe-var(ui-accent)};
    }
  }
}

/// ===========================================================================
/// VERTICAL TAB ORIENTATION
/// ===========================================================================

@media screen and (min-width: #{pfe-breakpoint(md)}) {
  :host([vertical]) {
    --pfe-tabs__tab--BorderTop: #{pfe-var(ui--border-width)} #{pfe-var(ui--border-style)} transparent;
    --pfe-tabs__tab--BorderRight: 0;
    --pfe-tabs__tab--BorderBottom: #{pfe-var(ui--border-width)} #{pfe-var(ui--border-style)} transparent;
    --pfe-tabs__tab--BorderLeft: #{pfe-var(ui--border-width)} #{pfe-var(ui--border-style)} transparent;
    --pfe-tabs__tab--Margin: 0 -1px 0 0;
    --pfe-tabs__tab--PadingLeft: calc(#{pfe-var(container-padding)} * .75);
    --pfe-tabs__tab--TextAlign: left;

    @include browser-query(ie11) {
      border: 1px solid transparent;
      border-right: 0;
      margin: 0 -1px 0 0;
      padding-left: 12px;
      text-align: left;
    }
  }

  :host([vertical][aria-selected="true"]) {
    --pfe-tabs__tab--BorderTopColor: transparent;
    --pfe-tabs__tab--BorderRight: #{pfe-var(surface--border-width--heavy)} #{pfe-var(surface--border-style)} #{pfe-local(highlight)};

    @include browser-query(ie11) {
      // color: #{$pfe-var--black};
      border-top-color: transparent;
      border-right: #{pfe-var(surface--border-width--heavy)} #{pfe-var(surface--border-style)} #{pfe-var(ui-accent)};
    }
  }
}

:host([pfe-variant="earth"]) {
  @include browser-query(ie11) {
    background-color: #{pfe-var(surface--lighter)};
    color: #{pfe-var(text)};
  }
}

/// ===========================================================================
/// WIND TAB VARIANTS / DEFAULT
/// ===========================================================================

@each $theme in $THEMES { // dark, saturated, and light
  :host([aria-selected="true"][on="#{$theme}"]),
  :host([on="#{$theme}"]:hover),
  :host([pfe-variant="wind"][aria-selected="true"][on="#{$theme}"]),
  :host([pfe-variant="wind"][on="#{$theme}"]:hover) {
    @if $theme != "light" {
      --pfe-tabs--Color: #{pfe-var(text--on-#{$theme})};
    }
    @else {
      --pfe-tabs--Color: #{pfe-var(text)};
    }
  }
}

/// ===========================================================================
/// EARTH TAB VARIANTS
/// ===========================================================================

:host([pfe-variant="earth"][aria-selected="false"]) {
  --pfe-tabs--BackgroundColor: #{pfe-var(surface--lighter)};

  --pfe-tabs__tab--BorderLeft:   #{pfe-var(ui--border-width)} #{pfe-var(ui--border-style)} #{pfe-var(surface--border)};
  --pfe-tabs__tab--BorderBottom: #{pfe-var(ui--border-width)} #{pfe-var(ui--border-style)} #{pfe-var(surface--border)};
  --pfe-tabs__tab--BorderTop:    #{pfe-var(surface--border-width--heavy)} #{pfe-var(ui--border-style)} #{pfe-var(surface--lighter)};

  @include browser-query(ie11) {
    border-top: 3px solid #{pfe-var(surface--lighter)};
    border-bottom: 1px solid #{pfe-var(surface--border)};
    border-left: 1px solid #{pfe-var(surface--border)};
  }
}

:host([pfe-variant="earth"][aria-selected="true"]) {
  --pfe-tabs--BackgroundColor: #{pfe-var(surface--lightest)};
  --pfe-tabs--Color: #{pfe-var(text)};

  --pfe-tabs__tab--BorderTop:    #{pfe-var(surface--border-width--heavy)} #{pfe-var(surface--border-style)} #{pfe-local(highlight)};
  --pfe-tabs__tab--BorderBottom: 0;
  --pfe-tabs__tab--BorderLeft:   #{pfe-var(ui--border-width)} #{pfe-var(ui--border-style)} #{pfe-var(surface--border)};

  @include browser-query(ie11) {
    background-color: #{pfe-var(surface--lightest)};
    color: #{pfe-var(text)};

    border-top: 3px solid #{pfe-local(highlight)};
    border-bottom: 0;
    border-left: 1px solid #{pfe-var(surface--border)};
  }
}

:host([pfe-variant="earth"][aria-selected="true"]:last-of-type) {
  --pfe-tabs__tab--BorderRight: #{pfe-var(ui--border-width)} #{pfe-var(ui--border-style)} #{pfe-var(surface--border)};

  @include browser-query(ie11) {
    border-right: 1px solid #{pfe-var(surface--border)};
  }
}

/// ===========================================================================
/// EARTH TAB VERTICAL ORIENTATION
/// ===========================================================================

@media screen and (min-width: #{pfe-breakpoint(md)}) {
  :host([vertical][pfe-variant="earth"]) {
    --pfe-tabs__tab--BorderTop: #{pfe-var(ui--border-width)} #{pfe-var(ui--border-style)} #{pfe-var(surface--border)};

    @include browser-query(ie11) {
      border-top: 1px solid #{pfe-var(surface--border)};
    }
  }

  :host([vertical][pfe-variant="earth"]:first-of-type) {
    --pfe-tabs__tab--BorderTop: 0;

    @include browser-query(ie11) {
      border-top: 0;
    }
  }

  :host([vertical][pfe-variant="earth"][aria-selected="true"]) {
    --pfe-tabs__tab--BorderTop:   #{pfe-var(ui--border-width)} #{pfe-var(ui--border-style)} #{pfe-var(surface--border)};
    --pfe-tabs__tab--BorderRight: 0;
    --pfe-tabs__tab--BorderLeft:  #{pfe-var(surface--border-width--heavy)} #{pfe-var(surface--border-style)} #{pfe-local(highlight)};

    @include browser-query(ie11) {
      border-top: 1px solid #{pfe-var(surface--border)};
      border-right: 0;
      border-left: 3px solid #{pfe-local(highlight)};
    }
  }

  :host([vertical][pfe-variant="earth"][aria-selected="false"]) {
    --pfe-tabs__tab--BorderRight:  #{pfe-var(ui--border-width)} #{pfe-var(ui--border-style)} #{pfe-var(surface--border)};
    --pfe-tabs__tab--BorderBottom: 0;
    --pfe-tabs__tab--BorderLeft:   #{pfe-var(surface--border-width--heavy)} #{pfe-var(ui--border-style)} #{pfe-var(surface--lighter)};

    @include browser-query(ie11) {
      border-right: 1px solid #{pfe-var(surface--border)};
      border-bottom: 0;
      border-left: 3px solid #{pfe-var(surface--lighter)};
    }
  }

  :host([vertical][pfe-variant="earth"][aria-selected="true"]:last-of-type) {
    --pfe-tabs__tab--BorderBottom: #{pfe-var(ui--border-width)} #{pfe-var(ui--border-style)} #{pfe-var(surface--border)};

    @include browser-query(ie11) {
      border-bottom: 1px solid #{pfe-var(surface--border)};
    }
  }
}