@import "../../pfe-sass/pfe-sass";

$LOCAL: tabs;

/// ===========================================================================
/// Component Specific SASS Vars
/// ===========================================================================

$pfe-tabs__panel--PaddingLeft-factor:  2;

$LOCAL-VARIABLES: (
  Display: block,
  Padding: 0,
  tabs: (
    FlexDirection: row,
    Width: auto,
    Padding: 0,
    BorderTop: 0,
    BorderRight: 0,
    BorderLeft: 0,
    BorderColor: pfe-var(surface--border)
  ),
  panels: (
    Width: auto,
    PaddingTop: 0,
    PaddingRight: 0,
    PaddingBottom: 0,
    PaddingLeft: 0
  )
);

$LOCAL-VARIABLES: map-deep-merge($LOCAL-VARIABLES, (
  tabs: (
    BorderBottom: #{pfe-var(ui--border-width)} #{pfe-var(ui--border-style)} #{pfe-local(BorderColor, $region: tabs)}
  )
));

:host {
  display: #{pfe-local(Display)};
  padding: #{pfe-local(Padding)};

  .tabs {  
    display: flex;
    flex-direction: #{pfe-local(FlexDirection, $region: tabs)};
    width: #{pfe-local(Width, $region: tabs)};

    border-top:    #{pfe-local(BorderTop, $region: tabs)};
    border-right:  #{pfe-local(BorderRight, $region: tabs)};
    border-bottom: #{pfe-local(BorderBottom, $region: tabs)};
    border-left:   #{pfe-local(BorderLeft, $region: tabs)};

    padding: #{pfe-local(Padding, $region: tabs)};
  }

  .panels {
    width: #{pfe-local(Width, $region: panels)};

    padding-top: #{pfe-local(PaddingTop, $region: panels)};
    padding-right: #{pfe-local(PaddingRight, $region: panels)};
    padding-bottom: #{pfe-local(PaddingBottom, $region: panels)};
    padding-left: #{pfe-local(PaddingLeft, $region: panels)};
  }
}

:host(:not([vertical])[pfe-tab-align="center"]) {
  .tabs {
    justify-content: center;
  }
}


/// ===========================================================================
/// VERTICAL ORIENTATION
/// ===========================================================================

@media screen and (min-width: #{pfe-breakpoint(md)}) {
  :host([vertical]) {
    --pfe-tabs--Display: flex; // Sets tabs to appear to the left of the panels
    --pfe-tabs__tabs--FlexDirection: column;
    --pfe-tabs__tabs--Width: 22.22%;

    --pfe-tabs__tabs--BorderRight: #{pfe-var(ui--border-width)} #{pfe-var(ui--border-style)} #{pfe-local(BorderColor)};
    --pfe-tabs__tabs--BorderBottom: 0;

    --pfe-tabs__panels--Width: 77.78%;
    --pfe-tabs__panels--PaddingRight: #{pfe-var(container-padding)};

    @include browser-query(ie11) {
      display: flex;
      .tabs {
        flex-direction: column;
        width: 22.22%;
        border-right: 1px solid #{pfe-var(surface--border)};
        border-bottom: 0;
      }

      .panels {
        width: 77.8%;
        padding-right: 1em;
      }

    }
  }
}

/// ===========================================================================
/// TAB VARIANTS
/// ===========================================================================

@media screen and (min-width: #{pfe-breakpoint(md)}) {
  :host([vertical][pfe-variant="earth"]) {
    --pfe-tabs__tabs--Padding: #{pfe-var(container-padding)} 0 0 0;
    
    @include browser-query(ie11) {
      .tabs {
        padding: 1em 0 0 0;
      }
    }
  }
}

:host(:not([pfe-variant="earth"])) {
  @include browser-query(ie11) {
    background-color: #{pfe-var(surface--lightest)};
    color: #{pfe-var(text)};
  }
}

:host([pfe-variant="earth"]) {
  --pfe-tabs__tabs--PaddingLeft: #{pfe-var(container-padding)};

  .tabs ::slotted(pfe-tab[aria-selected="false"]:not([vertical]):first-of-type) {
    border-left: 0;
  }
}
    
@include browser-query(ie11) {
  :host([pfe-variant="earth"]) .tabs {
    padding-left: 1em;
  }
}

@include pfe-theme-contexts; // imports on="light" etc support
