@import "../../pfe-sass/pfe-sass";

:host {
  display: block;
  color: var(--pfe-broadcasted--color--text);

	.container {
		@include pfe-tab-panel-container;
	}
}

:host([hidden]) {
  display: none;
}

:host([vertical]) {

	.container {
		@include pfe-tab-panel-container-vertical;
	}
}
