@import "../../pfe-sass/pfe-sass";

$LOCAL: tabs;

/// ===========================================================================
/// Component Specific SASS Vars
/// ===========================================================================

$pfe-tabs__panel--PaddingLeft-factor:  2;

$LOCAL-VARIABLES: (
  Display: block,
  Padding: 0,
  tabs: (
    FlexDirection: row,
    Width: auto,
    Padding: 0,
    BorderTop: 0,
    BorderRight: 0,
    BorderLeft: 0,
    BorderColor: pfe-var(surface--border)
  ),
  panels: (
    Width: auto,
  )
);

// Nested internal variables (pfe-local calls), maps cannot "self-reference"
$LOCAL-VARIABLES: map-deep-merge($LOCAL-VARIABLES, (
  tabs: (
    BorderBottom: pfe-var(ui--border-width) pfe-var(ui--border-style) pfe-local(BorderColor, $region: tabs)
  )
));

/// ===========================================================================

:host {
  display: pfe-local(Display);
  padding: pfe-local(Padding);

  .tabs {  
    display: flex;
    flex-direction: pfe-local(FlexDirection, $region: tabs);
    width: pfe-local(Width, $region: tabs);

    border-top:    pfe-local(BorderTop, $region: tabs);
    border-right:  pfe-local(BorderRight, $region: tabs);
    border-bottom: pfe-local(BorderBottom, $region: tabs);
    border-left:   pfe-local(BorderLeft, $region: tabs);

    padding: pfe-local(Padding, $region: tabs);
  }

  .panels {
    width: pfe-local(Width, $region: panels);
    // no padding here, because of the borders on vertical earth
  }
}

:host(:not([vertical])[tab-align="center"]) {
  .tabs {
    justify-content: center;
  }
}


/// ===========================================================================
/// VERTICAL ORIENTATION
/// ===========================================================================

@media screen and (min-width: pfe-breakpoint(md)) {
  :host([vertical]) {
    --pfe-tabs--Display: flex; // Sets tabs to appear to the left of the panels
    --pfe-tabs__tabs--FlexDirection: column;
    --pfe-tabs__tabs--Width: 20%;

    --pfe-tabs__tabs--BorderRight: #{pfe-var(ui--border-width)} #{pfe-var(ui--border-style)} #{pfe-local(BorderColor)};
    --pfe-tabs__tabs--BorderBottom: 0;

    --pfe-tabs__panels--Width: 80%;
    --pfe-tabs__panels--PaddingRight: #{pfe-var(container-padding)};

    @include browser-query(ie11) {
      display: flex;
      .tabs {
        flex-direction: column;
        width: 22.22%;
        border-right: 1px solid pfe-var(surface--border);
        border-bottom: 0;
      }

      .panels {
        width: 77.8%;
        padding-right: 1em;
      }

    }
  }
}

/// ===========================================================================
/// TAB VARIANTS
/// ===========================================================================

@media screen and (min-width: pfe-breakpoint(md)) {
  :host([vertical][variant="earth"]) {
    
    @include browser-query(ie11) {
      .tabs {
        padding: 1em 0 0 0;
      }
    }
  }
}

:host(:not([variant="earth"])) {
  @include browser-query(ie11) {
    background-color: pfe-var(surface--lightest);
    color: pfe-var(text);
  }
}

:host([variant="earth"]) {
  --pfe-tabs__tabs--PaddingLeft: #{pfe-var(container-padding)};
}
    
@include browser-query(ie11) {
  :host([variant="earth"]) .tabs {
    padding-left: 1em;
  }
}

@include pfe-contexts; // imports on="light" etc support

/// ===========================================================================
/// INSET NOTCH
/// ===========================================================================

// Vertical
:host([vertical]) .tabs-prefix,
:host([vertical]) .tabs-suffix {
    left: 0px;
    top: 0px;
    content: " ";
    height: calc(#{pfe-var(container-padding)} * 2);
    width: 1px;
    position: relative;
}
:host([vertical]:not([variant="earth"])) .tabs-prefix,
:host([vertical]:not([variant="earth"])) .tabs-suffix {
  @media screen and (min-width: #{pfe-breakpoint(md)}) {
    background-color: pfe-local(BorderColor, $region: tabs);
  }
}

// Horizontal
:host(:not([vertical])[variant="earth"]) .tabs-prefix {
    left: 0px;
    top: 0px;
    content: " ";
    height: 1px;
    width: pfe-var(container-padding);
    position: relative;
}
@media screen and (min-width: #{pfe-breakpoint(md)}) {
  :host(:not([vertical])[variant="earth"]) .tabs-prefix {
    width: calc(#{pfe-var(container-padding)} * 2);
  }
}

:host([hidden]) {
  display: none;
}