@import "../../pfe-sass/pfe-sass";

$LOCAL: tabs;

$variables: (
  focus:  pfe-color(link)
);

:host {
  @include pfe-print-variables($variables);

  display: block;

  @at-root #{&}(:focus) {
    outline: none;
  }

  ::slotted(*) {
    color: #{pfe-apply-broadcast(text)};
  }

  [tabindex] {
  	display: flex;
  }

  .container {
    margin: 0;
    width: 100%;
    padding: #{pfe-local($cssvar: Padding, $region: panel, $fallback: #{pfe-var(container-spacer)} 0)};

    border-top:    #{pfe-local($cssvar: BorderTop, $region: panel, $fallback: 0)};
    border-right:  #{pfe-local($cssvar: BorderRight, $region: panel, $fallback: 0)};
    border-bottom: #{pfe-local($cssvar: BorderBottom, $region: panel, $fallback: 0)};
    border-left:   #{pfe-local($cssvar: BorderLeft, $region: panel, $fallback: 0)};

    @include pfe-clearfix;
    @include browser-query(ie11) {
      padding: 1em;
      background-color: #{map-get($pfe-colors, surface--lightest)} !important;
      color: #{pfe-color(text)} !important;
    }
  }
}

/// ===========================================================================
/// HORIZONTAL
/// ===========================================================================
:host([pfe-variant="earth"]) {
  --pfe-tabs__panel--Padding: calc(#{pfe-var(container-spacer)} * 2);

  --pfe-tabs__panel--BorderRight: #{pfe-var(ui--border-width)} #{pfe-var(ui--border-style)} #{pfe-color(surface--border)};
  --pfe-tabs__panel--BorderBottom: #{pfe-var(ui--border-width)} #{pfe-var(ui--border-style)} #{pfe-color(surface--border)};
  --pfe-tabs__panel--BorderLeft: #{pfe-var(ui--border-width)} #{pfe-var(ui--border-style)} #{pfe-color(surface--border)};


  @include browser-query(ie11) {
    .container {
      padding: 1em;
      border-right: 1px solid #{pfe-color(surface--border)};
      border-bottom: 1px solid #{pfe-color(surface--border)};
      border-left: 1px solid #{pfe-color(surface--border)};
    }
  }
}

/// ===========================================================================
/// VERTICAL
/// ===========================================================================
@media screen and (min-width: #{pfe-breakpoint(md)}) {
  :host([pfe-variant="wind"][vertical]) {
    --pfe-tabs__panel--Padding: #{pfe-var(container-spacer)} 0 #{pfe-var(container-spacer)} calc(#{pfe-var(container-spacer)} * 2);

    @include browser-query(ie11) {
      .container {
        padding: 1em 0 1em 2em;
      }
    }
	}

	:host([pfe-variant="earth"][vertical]) {
    --pfe-tabs__panel--BorderTop:   #{pfe-var(ui--border-width)} #{pfe-var(ui--border-style)} #{pfe-color(surface--border)};

    @include browser-query(ie11) {
      .container {
        border-top: 1px solid #{pfe-color(surface--border)};
      }
    }
	}
}

:host([hidden]) {
  display: none;
}
