@import "../../rh-sass/rh-sass";

$LOCAL: band;
$SLOT: "";
$aside-sm: 240px;
$aside-lg: 300px;



:host {
  // Tag element styles
  *, *::before, *::after {
    box-sizing: border-box;
  }
  display: block;

  // Default spacing values
  --rh-band--padding__vertical:                 calc( #{rh-var(container-spacer)} * 4);
  --rh-band--padding__horizontal:               calc( #{rh-var(container-spacer)} * 1);
  // Bring them together for ease of use below
  --rh-band--padding:                         #{rh-local(padding__vertical)}  #{rh-local(padding__horizontal)};

  // Surface colors
  --rh-band--backgroundColor:                 #{rh-color(surface--base)};
  --rh-band--backgroundPositionX:             center;
  --rh-band--backgroundPositionY:             center;

  // Border settings
  --rh-band--borderColor:                     transparent;
  --rh-band--borderTopWidth:                  #{rh-var(surface--border-width)};
  --rh-band--borderBottomWidth:               #{rh-var(surface--border-width)};
  --rh-band--borderStyle:                     #{rh-var(surface--border-style)};

  // Accent title styles
  --rh-band_header-title--color:             #{rh-color(ui-accent)};

  // Layouts, grid layouts
  --rh-band_header--layout:                   1fr;
  --rh-band_body--layout:                     1fr;
  --rh-band_footer--layout:                   1fr;
  --rh-band_aside--layout:                    #{$aside-lg};
  --rh-band--gutter:                          #{ calc(#{rh-var(container-spacer)} * 2)) };

  // Text colors
  --rh-broadcasted--color--text:              #{rh-color(surface--base--text)};
  --rh-broadcasted--color--ui-link:           #{rh-color(surface--base--link)};
  --rh-broadcasted--color--ui-link--visited:  #{rh-color(surface--base--link--visited)};
  --rh-broadcasted--color--ui-link--hover:    #{rh-color(surface--base--link--hover)};
  --rh-broadcasted--color--ui-link--focus:    #{rh-color(surface--base--link--focus)};

  // Band width logic
  // Initialize at mobile breakpoint
  --rh-band--width:                           auto;


  // Loop through the other breakpoints
  @each $size in (md, lg, xl) {
    @media screen and (min-width: rh-breakpoint(#{$size})) {

      --rh-band--width: calc( #{rh-breakpoint(#{$size})} - calc(#{rh-local(padding__horizontal)} * 4) );

    }
  }
  // Reduce padding for print
  @media print {
    --rh-band--padding:    calc(#{rh-local(padding__vertical)} / 2)  #{rh-local(padding__horizontal)};
  }
}

@each $color in (dark, darkest, accent, complement, light, lightest) {
  :host([color="#{$color}"]) {
    --rh-band--backgroundColor:                  #{rh-color(surface--#{$color})};
    --rh-broadcasted--color--text:               #{rh-color(surface--#{$color}--text)};
    --rh-broadcasted--color--ui-link:            #{rh-color(surface--#{$color}--link)};
    --rh-broadcasted--color--ui-link--visited:   #{rh-color(surface--#{$color}--link--visited)};
    --rh-broadcasted--color--ui-link--hover:     #{rh-color(surface--#{$color}--link--hover)};
    --rh-broadcasted--color--ui-link--focus:     #{rh-color(surface--#{$color}--link--focus)};
  }
}

// thinner padding on top & bottom
:host([size="small"]) {
  --rh-band--padding:   calc(#{rh-local(padding__vertical)} / 4)  #{rh-local(padding__horizontal)};
}

//  rh-local returns: var(--rh-band-(SLOT)--argument);

.rh-band {
  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;

    // Padding 
    padding: calc(#{rh-local(padding__vertical)} / 2)  #{rh-local(padding__horizontal)};

    @media (min-width: #{rh-breakpoint(sm)}) {
      padding: #{rh-local(padding)};
    }

    // Border styles
    border: 0px #{rh-local(borderStyle)} #{rh-local(borderColor)};
    border-top-width:    #{rh-local(borderTopWidth)};
    border-bottom-width: #{rh-local(borderBottomWidth)};


    // Base colors
    background-color:      #{rh-local(backgroundColor)};
    background-position-x: #{rh-local(backgroundPositionX)};
    background-position-y: #{rh-local(backgroundPositionY)};
    color:                 #{rh-radio(color, text)};

    // Remove background color for print
    @include rh-no-print-background;

  }
  &__container,
  &__content {
    // Fill the majority of the band
    flex-grow: 1;

    // Aside layouts
    display:        flex;
    flex-direction: column;
    @media (min-width: #{rh-breakpoint(md)}) {
      flex-direction: row;
    }
  }
  &__container {
    margin:         0 auto;
    max-width: #{rh-local(width)};
  }
  &__container, // wraps main and aside
  &__content // wraps body and aside
  {
    // spacing between children on mobile (around aside region)
    > *:not(:last-child) {
      @media (max-width: #{rh-breakpoint(md)}) {
         margin-bottom: #{rh-var(container-spacer)};
      }
    }
  }

  &__main,
  &__body {
    flex: 1;
    // spacing between children:; 
    > *:not(:last-child) {
         margin-bottom: #{rh-var(container-spacer)};
    }
  }

  &__header,
  &__body,
  &__footer,
  &__aside {
    display: block;
    display: grid;  // for elegant display of children
    grid-column: 1fr;
    grid-gap: #{rh-var(container-spacer)};
    &::slotted(*) {
      margin-top: 0;
    }
  }
  &__header {
    $SLOT: header !global;
    
    @media screen and (min-width: #{rh-breakpoint(md)}) {
      grid-template-columns: #{rh-local(layout)};
    }
  }
  &__body {
    $SLOT: body !global;
    flex-grow: 1;

    @media screen and (min-width: #{rh-breakpoint(md)}) {
      grid-template-columns: #{rh-local(layout)};

      [aside~="full"] & {
        margin-right: 0;
        margin-left: 0;
      }
    }
  }
  &__footer {
    $SLOT: footer !global;

    @media screen and (min-width: #{rh-breakpoint(md)}) {
      grid-template-columns: #{rh-local(layout)};
    }
  }

  &__aside {
    $SLOT: aside !global;
    min-width:             $aside-sm;

    @media screen and (min-width: #{rh-breakpoint(md)}) {
      grid-template-columns: #{rh-local(layout)};
      flex-basis:            #{rh-local(layout)};
    }
    @media screen and (min-width: #{rh-breakpoint(md)}) and (max-width: #{rh-breakpoint(lg)}) {
      --rh-band_aside--layout: #{$aside-sm}; // set limiter
    }
  }
  &__aside {  // walk away from aside SLOT var to invoke gutter
    $rh-local-spacer: "" !global;
    $SLOT: "" !global;
    @media screen and (min-width: #{rh-breakpoint(md)}) {
      margin: 0;
      [aside~="left"] & {
        order: -1;
        margin-right: #{rh-local(gutter)}; // apply to aside region because of flex-basis
      }
      [aside~="right"] & {
        order: 2;
        margin-left: #{rh-local(gutter)};
      }
    }
  }
}
