.narrow :is(section:not(#block) p, ul) {
  max-width: 400px;
  margin-inline: auto;
}

#block ul {
  display: flex;
  flex-flow: row wrap;
  gap: 1em;
  list-style-type: none;
  padding: 0;
  margin-inline: 0;
}

#block li {
  padding: 0;
}

#block li pfe-tooltip {
  background: #06c;
  padding: 1em 1.5em;
  border-radius: 4px;
  display: inline-block;
  color: white;
}

samp {
  font-weight: bold;
}

#custom-styles pfe-tooltip:nth-of-type(1) {
  --pf-c-tooltip__content--Color: lightblue;
}

#custom-styles pfe-tooltip:nth-of-type(2) {
  --pf-c-tooltip--BoxShadow: var(--pf-global--BoxShadow--lg,
      0 0.5rem 1rem 0 rgba(3, 3, 3, 0.16),
      0 0 0.375rem 0 rgba(3, 3, 3, 0.08));
}

#custom-styles pfe-tooltip:nth-of-type(3) {
  --pf-c-tooltip__content--PaddingTop: 2rem;
  --pf-c-tooltip__content--PaddingRight: 2rem;
  --pf-c-tooltip__content--PaddingBottom: 2rem;
  --pf-c-tooltip__content--PaddingLeft: 2rem;
}
