@import "../../pfe-sass/pfe-sass";
// @include pfe-theme-contexts; // imports on="light" etc support

$LOCAL: icon-panel;

/// ===========================================================================
/// DEFAULT ICON PANEL
/// ===========================================================================

:host {
  display: flex;
  align-content: flex-start;
  align-items: flex-start;
  flex-direction: column;

  @media (min-width: #{pfe-breakpoint(sm)}) {
		flex-direction: row;
  }
  
  @at-root #{&}([pfe-stacked]:not([pfe-stacked="false"])) {
    flex-direction: column;
  }

  @at-root #{&}([pfe-stacked]:not([pfe-stacked="false"])[pfe-centered]:not([pfe-centered="false"])) {
    align-items: center;
    text-align: center;
  }
}

.pfe-icon-panel {
  &__content {
    margin-top: #{pfe-var(container-spacer)};
    margin-left: 0;

    @media (min-width: #{pfe-breakpoint(sm)}) {
      margin-top: 0;
      margin-left: #{pfe-var(container-spacer)};
    }

    :host([pfe-stacked]:not([pfe-stacked="false"])) & {
      margin-top: #{pfe-var(container-spacer)};
      margin-left: 0;
    }
  }
  &__footer {
    margin-top: #{pfe-var(content-spacer)};
  }
}
