@import "node_modules/@rhelements/cp-sass/cp-sass";
:host {
  display: none;
  overflow: hidden;
  background: white;
  will-change: height;
}

:host([expanded]) {
  display: block;
}

:host(.animating) {
  display: block;
  transition: height 0.3s ease-in-out;
}

.container {
  border: 2px solid #f7f7f7;
  border-top: none;
  padding: 20px;
  padding-top: 5px;
}
