@import "../../rh-sass/rh-sass";

$icon-colors: (
  white: ('--rh-global--color--white', $rh-global--color--white), // name: (CSS Var, SASS var),
  black: ('--rh-global--color--black', $rh-global--color--black)
);

$icon-bg-colors: (
  white: ('--rh-global--color--white', $rh-global--color--white, '--rh-global--text-color', $rh-global--text-color), // name: (BG CSS Var, BG SASS var, fill CSS Var, fill SASS var),
  red: ('--rh-global--color--red', $rh-global--color--red, '--rh-global--color--white', $rh-global--color--white),
  light: ('--rh-global--color--gray2', $rh-global--color--gray2, '--rh-global--text-color', $rh-global--text-color),
  dark: ('--rh-global--color--gray10', $rh-global--color--gray10, '--rh-global--color--white', $rh-global--color--white)
);

@mixin set-svg-size($size: 1em) {
  &,
  & svg {
    width: $size;
    height: $size;
  }
}

:host {
  display: inline-block;
  vertical-align: middle;
  @include set-svg-size(1em);

  svg {
    fill: var(--rh-global--text-color, $rh-global--text-color);
  }

  @at-root #{&}([data-block]) {
    display: block;
    margin-bottom: var(--rh-global--spacer, $rh-global--spacer);
    margin-top: var(--rh-global--spacer, $rh-global--spacer);

    &:first-child {
      margin-top: 0;
    }
  }

  @each $color, $value in $icon-colors {
    $cssvar: nth($value, 1);
    $sass: nth($value, 2);

    @at-root #{&}([data-color="#{$color}"]) svg {
      fill: var(#{$cssvar}, #{$sass});
    }
  }

  @at-root #{&}([data-bg]) {
    border-radius: 50%;
  }

  @at-root #{&}([data-bg="transparent"]) {
    background: transparent;
    border: var(--rh-global--border--BorderWidth, $rh-global--border--BorderWidth) var(--rh-global--border--BorderStyle, $rh-global--border--BorderStyle) var(--rh-global--border--BorderColor, $rh-global--border--BorderColor);
  }

  @each $color, $value in $icon-bg-colors {
    $cssvar: nth($value, 1);
    $sass: nth($value, 2);
    $fill-cssvar: nth($value, 3);
    $fill-sass: nth($value, 4);

    @at-root #{&}([data-bg="#{$color}"]) {
      background: var(#{$cssvar}, #{$sass});
      fill: var(#{$fill-cssvar}, #{$fill-sass});

      svg {
        fill: var(#{$fill-cssvar}, #{$fill-sass});
      }
    }
  }

  @at-root #{&}([data-size="2x"]) {
    @include set-svg-size(2em);
  }

  @at-root #{&}([data-size="3x"]) {
    @include set-svg-size(3em);
  }

  @at-root #{&}([data-size="4x"]) {
    @include set-svg-size(4em);
  }

  @at-root #{&}([data-size="large"]) {
    @include set-svg-size(100px);
  }

  @at-root #{&}([data-size="medium"]) {
    @include set-svg-size(70px);
  }

  @at-root #{&}([data-size="small"]) {
    @include set-svg-size(48px);
  }
}
