@use "@patternfly/pfe-sass" as *;

@include configure(
  $name: 'dropdown',
  $variables: (
    spacing--vertical: calc(#{pfe-var(container-padding)} * .5),
    spacing--horizontal: calc(#{pfe-var(container-padding)} * .5),
  ),
);
