@import "../../pfe-sass/pfe-sass";
:host {
  display: block;
}

:host([hidden]) {
  display: none;
}


/* TYPOGRAPHY */
::slotted(*){
    font-family: #{pfe-var(font-family)};
    font-weight: #{pfe-var(font-weight--normal)};
    line-height: #{pfe-var(line-height)};
    margin-top: 0;
    margin-bottom: #{pfe-var(content-spacer)};
}
::slotted(strong){
    font-weight: #{pfe-var(font-weight--bold)};
}

::slotted(h1),
::slotted(h2),
::slotted(h3),
::slotted(h4),
::slotted(h5),
::slotted(h6),
::slotted([pfe-text="headline-1"]),
::slotted([pfe-text="headline-2"]),
::slotted([pfe-text="headline-3"]),
::slotted([pfe-text="headline-4"]),
::slotted([pfe-text="headline-5"]),
::slotted([pfe-text="headline-6"]) {
    font-family: #{pfe-var(font-family--heading)};
    line-height: #{pfe-var(line-height--heading)};
}

/* size */
::slotted(h1),
::slotted(*[pfe-text="headline-1"]) {
    font-size: #{pfe-var(font-size--heading--alpha)};
    font-weight: #{pfe-var(font-weight--light)};
}

::slotted(h2),
::slotted(*[pfe-text="headline-2"]) {
    font-size: #{pfe-var(font-size--heading--beta)};
    font-weight: #{pfe-var(font-weight--light)};
}

::slotted(h3),
::slotted(*[pfe-text="headline-3"]) {
    font-size: #{pfe-var(font-size--heading--gamma)};
    font-weight: #{pfe-var(font-weight--normal)};
}

::slotted(h4),
::slotted(*[pfe-text="headline-4"]) {
    font-size: #{pfe-var(font-size--heading--delta)};
    font-weight: #{pfe-var(font-weight--normal)};
}

::slotted(h5),
::slotted(*[pfe-text="headline-5"]) {
    font-size: #{pfe-var(font-size--heading--epsilon)};
    font-weight: #{pfe-var(font-weight--light)};
}

::slotted(h6),
::slotted(*[pfe-text="headline-6"]) {
    font-size: #{pfe-var(font-size--heading--zeta)};
    font-weight: #{pfe-var(font-weight--light)};
}

::slotted(*:last-child) {
	margin-bottom: 0;
}
