body {
  --pfe-reveal-duration: 0.1618s;
  --pfe-reveal-delay: 2s;

  transition: opacity var(--pfe-reveal-duration) ease-in-out;
}
body[unresolved] {
  opacity: 0;
  animation: reveal var(--pfe-reveal-duration) var(--pfe-reveal-delay) 1
    forwards;
}

@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
