/// Breakpoint
///
/// Returns the SCSS breakpoint value only
///
/// @param {String} $size - Generally named breakpoint size to be called
/// @param {String} $max - Set to true if the provided size is the max-value
/// @use -
/// ```
/// @media screen and (min-width: pfe-breakpoint(sm)) {
///    --pfe-band--Width: #{pfe-breakpoint(sm) - $box-padding * 2};
/// }
/// ```
///
/// Max example:
/// ```
/// @media screen and (max-width: pfe-breakpoint($size: md, $max: true)) {
///    --pfe-band--Width: #{pfe-breakpoint(sm) - $box-padding * 2};
/// }
/// ```
@function pfe-breakpoint($size, $max: false) {
    $bp: map-get($pfe-vars, grid-breakpoint--#{$size});
    @if $max {
        $bp: (pfe-strip-unit($bp) - 1) * 1px;
    }
    @return $bp;
}
