/*
 * JBoss, Home of Professional Open Source
 * Copyright 2018 Red Hat Inc. and/or its affiliates and other contributors
 * as indicated by the @authors tag. All rights reserved.
 */

.centered {
  text-align: center;
}
main,
body {
  background-color: #f9f9f9 !important;
  padding-top: 0;
}
.content {
  padding: 0;
}
main .container {
  min-height: 400px;
  margin-bottom: 20px;
}

header .rhd-header-logo {
  margin: 0;
}
.rh-universal-header {
  display: block !important;
}
.rh-header-logo {
  height: 50px;
}

/* Footer at bottom BEGIN */
html {
  height: 100%;
}
body {
  position: relative;
  margin: 0;
  padding-bottom: 5rem; /* adjusted in following smaller width */
  height: initial !important;
  min-height: 100%;
}
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
/* Footer at bottom END */

@media screen and (min-width: 768px) {
  h1 {
    font-size: 28px !important;
  }
  h2 {
    font-size: 26px !important;
  }
  .sub-title p {
    font-size: 20px;
  }
  main .container {
    min-height: 500px;
  }
}

@media screen and (max-width: 768px) {
  body {
    padding-bottom: 14rem;
  }
  .rh-nav-universal {
    grid-column-gap: 0;
  }
  .rh-nav-universal .rh-universal-login {
    display: none;
  }
  .rhd-masthead .menu-toggle-wrapper {
    grid-column-end: right;
    background: #ffffff;
  }
  .rhd-masthead .menu-toggle {
    border: none;
  }
}

.rh-universal-login li.login {
  white-space: nowrap;
}

.rhd-mobile-tray .rh-universal-login .logged-in-name + .icon {
  display: none;
}
.rhd-mobile-tray .dropdwn-menu {
  display: block;
  margin-top: 0;
}

@media screen and (max-width: 991px) and (min-width: 768px) {
  .rh-nav-universal {
    max-width: none;
  }
}

/** Footer styling */
.menu .leaf {
  list-style-type: none;
  list-style-image: none;
  margin-left: 0;
}

.footer-container,
.rh-nav-universal {
  max-width: 750px;
}

@media (min-width: 992px) {
  .footer-container,
  .rh-nav-universal {
    max-width: 1170px;
  }
}

footer {
  background: #000;
  color: #646464;
}

.rc-footer-traditional {
  background-color: #1a1a1a;
  padding: 0 10px;
}

.rc-footer-traditional li {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.rc-footer-traditional-container {
  padding: 7px 30px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .rc-footer-traditional-container {
    padding: 7px 0;
  }
}

.rc-footer-traditional-section {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: -15px;
}

.rc-footer-traditional-section > * {
  margin-top: 15px;
  -ms-flex: 1 0 25%;
  flex: 1 0 25%;
}

@media (min-width: 768px) {
  .rc-footer-traditional-section {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

.rc-footer-traditional-legal {
  -ms-flex: 1 0 50%;
  flex: 1 0 50%;
}

@media (min-width: 1200px) {
  .rc-footer-traditional-legal {
    line-height: 2;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.rc-footer-traditional-legal .menu {
  padding: 0;
  margin: 0;
  float: left;
  clear: left;
}

@media (min-width: 1200px) {
  .rc-footer-traditional-legal .menu {
    clear: none;
  }
}

.rc-footer-traditional-legal .menu li {
  display: list-item;
  font-size: 12px;
  margin-right: 8px;
  padding: 0;
}

@media (min-width: 480px) {
  .rc-footer-traditional-legal .menu li {
    float: left;
    display: inline-block;
  }
}

@media (max-width: 480px) {
  .rc-footer-traditional-legal .menu li:last-child {
    clear: none;
  }
}

.rc-footer-traditional-legal .menu li a {
  color: #858585;
  text-decoration: underline;
}

.rc-footer-traditional-legal .menu li a:hover {
  color: #fff;
}

@media (min-width: 480px) {
  .rc-footer-traditional-legal .menu li:nth-child(n + 2) a {
    border-left: 1px solid #858585;
    padding-left: 10px;
  }
}

.rc-footer-traditional-legal .copyright {
  float: left;
  margin-bottom: 10px;
  font-size: 12px;
}

@media (min-width: 480px) {
  .rc-footer-traditional-legal .copyright {
    margin-bottom: 0;
  }
}

@media (max-width: 1199px) {
  .rc-footer-traditional-legal .copyright {
    clear: both;
  }
}

@media (min-width: 1200px) {
  .rc-footer-traditional-legal .copyright {
    margin-right: 30px;
  }
}

.rc-footer-traditional-legal .row {
  padding: 0 30px 0;
}

@media (min-width: 992px) {
  .rc-footer-traditional-legal .row {
    padding: 20px 30px 0;
  }
}

.rc-footer-traditional-primary {
  -ms-flex: 1 0 25%;
  flex: 1 0 25%;
}

@media (max-width: 767px) {
  .rc-footer-traditional-primary img {
    float: left !important;
  }
}

.rc-footer-traditional-logo {
  float: left;
}

.rc-footer-traditional-logo h3 {
  background-image: url("../img/RHLogo_white.svg");
  background-repeat: no-repeat;
  width: 138px;
  height: 44px;
  text-indent: -9999px;
  margin: 0;
}

@media (max-width: 767px) {
  .rc-footer-traditional-event-logo img {
    float: left !important;
  }
}
.rc-footer-traditional-logo img {
  vertical-align: top;
}

.rc-footer-traditional .row {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

/** Footer stylig END */

form {
  font-size: 0.875rem;
}

/* Compatibility with jquery.validate */
span.error + div.field.form-field-note-text {
  margin-top: 0px;
}
div.field.form-field-note-text {
  margin-bottom: 20px;
}
span.error,
small.error {
  background-color: transparent;
  color: #c60f13;
  font-style: normal;
  line-height: 120%;
  margin-bottom: 0;
  padding: 5px 0 5px 0;
}
.checkbox span.error {
  padding: 0;
}

select,
input[type="text"]:not(.pf-c-form-control) {
  -moz-appearance: none;
}

input,
select {
  margin-bottom: 0 !important;
}

input[type="text"]:not(.pf-c-form-control),
input[type="password"]:not(.pf-c-form-control) {
  margin-top: 5px !important;
}

.field {
  margin-bottom: 10px;
}
.field.error {
  margin-bottom: 0;
}

.field .error + label,
.field .error:focus + label {
  color: #f04124 !important;
}
.error input.valid,
.error textarea.valid,
.error select.valid {
  margin-bottom: 1rem !important;
}
.error input.pending,
.error textarea.pending,
.error select.pending {
  margin-bottom: 0 !important;
}
input[type="text"]:not(.pf-c-form-control):disabled,
input[type="text"]:not(.pf-c-form-control):read-only {
  color: #8c8f91;
  background-color: white;
}
input[type="checkbox"]:not(.pf-c-form-control) {
  vertical-align: middle;
}
input[type="checkbox"]:not(.pf-c-form-control),
input[type="radio"]:not(.pf-c-form-control) {
  margin-bottom: 5px;
}
.checkbox .small-1 {
  width: 20px;
}
.checkbox .small-20,
.checkbox .small-21,
.checkbox .small-22,
.checkbox .small-23 {
  float: left !important;
}
.error input[type="checkbox"]:not(.pf-c-form-control),
.error input[type="radio"]:not(.pf-c-form-control) {
  margin-bottom: 5px;
}
.row.checkbox {
  margin: 0;
}

.text-right {
  text-align: right;
}

.panel.callout {
  border-style: solid;
  border-width: 1px;
  border-color: #d2d9e3;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  background: #f3f5f8;
  color: #333;
}
.panel.callout > :first-child {
  margin-top: 0;
}
.panel.callout h1,
.panel.callout h2,
.panel.callout h3,
.panel.callout h4,
.panel.callout h5,
.panel.callout h6 {
  line-height: 1;
  margin-bottom: 0.625rem;
}

.form-field-note-text.panel.callout {
  border: none;
  padding: 1rem;
}

.layout-content {
  min-height: 400px;
}

.full-reg-form-only,
.rhdterms-only,
.download-show {
  display: none;
}

.hideme {
  display: none;
}

.button:disabled,
.button:disabled:hover,
.button:disabled:focus {
  background-color: #d2d3d5;
  border-color: #d2d3d5;
  color: #fff;
}

.form-buttons {
  padding: 10px 0;
  margin-bottom: 20px;
  margin-top: 20px;
}
.rh-logo-page {
  width: 40%;
  margin: auto;
}
.back-to-login {
  margin-bottom: 10px;
}
.kc-loginpage #kc-form-buttons {
  padding-top: 10px;
}

.kc-loginpage #kc-form-buttons .heavy-cta {
  padding-left: 40px;
  padding-right: 40px;
}

.kc-wrapper .kc-provider-login {
  width: 46px;
  height: 46px;
}

.kc-wrapper .kc-card .form-hint {
  text-align: right;
  margin-bottom: 10px;
  color: #8c8f91;
}
.kc-wrapper .kc-card p.instruction {
  margin-bottom: initial;
}

div.alert-box {
  margin-bottom: 0;
}

.alert-box a,
.alert-box a:visited {
  color: white;
  text-decoration: underline;
}
.alert-box.alert-info a,
.alert-box.alert-info a:visited {
  color: #0066cc;
  text-decoration: underline;
}
.alert-box.alert-info a:hover {
  color: white;
}

div.alert-box div.icon {
  top: 0;
}

div.alert-content h5,
div.alert-content h4,
div.alert-content h3,
div.alert-content h2,
div.alert-content h1 {
  margin: 0;
  line-height: 1;
}

.kc-wrapper .kc-card {
  text-align: left !important;
  box-shadow: 0px 2px 3px 0px #b9b9b9;
}

.kc-card form {
  margin: 0;
}

#kc-form-login,
#kc-register-form {
  overflow: hidden; /* to prevent scrollbar appearing */
}

#kc-form-login #login-step1 .field {
  height: 90px;
}

.slide-in-container {
  width: 200%;
  height: 320px;
}
.slide-in {
  float: left;
  width: 50%;
  padding: 5px 20px;
  transition: all 0.5s ease; /* our nice transition */
}

.slide-in.from-left {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
}

.slide-in.from-right {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  visibility: hidden;
}

.slide-in.show.from-left {
  transform: translateX(0);
  -webkit-transform: translateX(0);
}
.slide-in.show.from-right {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  visibility: visible;
}

@media only screen and (min-width: 768px) {
  .kc-wrapper .kc-card {
    padding: 50px 25px 25px 25px;
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 480px) {
  body {
    background-color: #ffffff !important;
  }
  .kc-wrapper .kc-card {
    margin: 0;
    border: none;
    box-shadow: none;
  }
  .container {
    padding: 0;
  }
  div.alert-content h4 {
    font-size: 18px;
  }
  .slide-in {
    padding: 5px 10px;
  }
}

#kc-form-login #kc-form-options {
  margin: 0 0 1rem 0;
}

#kc-form-login #login-show-step1 {
  color: #4d4d4d;
}

#kc-form-login #login-step2-username-wrapper {
  border: #cccccc 1px solid;
  padding: 0.5rem 0;
  margin-bottom: 20px;
}

#kc-form-login #login-step2-username-id {
  display: inline-block;
}

#kc-form-login .login-forgot-pw {
  max-width: 250px;
  margin: auto;
  padding-bottom: 15px;
  border-bottom: #858585 1px solid;
}

#kc-form-login,
#kc-reset-password-form {
  font-size: 1rem;
}

.kc-wrapper span.new-account {
  display: block;
  padding-top: 10px;
}

.login-username-field {
  margin-bottom: 0;
}

.tac-all-wrapper {
  padding: 0 0 0 10px;
  margin-left: 8px;
  border-left: #e7e7e7 1px solid;
}
.tac-all-wrapper div.checkbox:last-child {
  line-height: 100%;
}
.tac-all-wrapper div.checkbox:last-child input {
  margin-bottom: 0;
}
.tac-all-wrapper label {
  font-size: 11px !important;
  padding-top: 3px;
}

/* Popup layout */
body.popup,
body.popup main {
  background-color: #ffffff !important;
}
body.popup {
  padding-bottom: 0;
}
body.popup header,
body.popup footer,
body.popup div.rhd-mobile-overlay {
  display: none;
}
body.popup main .container {
  margin: 0;
  padding: 0;
  max-width: initial !important;
}
body.popup .kc-wrapper .kc-card {
  margin: 0;
  border: none;
  box-shadow: none;
  padding: 0;
}
body.popup div.alert-box {
  margin-bottom: 1.5em;
}

/* Social */
.social-provider {
  color: white !important;
  font-size: 19px !important;
  display: inline-block;
}

.social-provider {
  width: 100%;
  text-align: center;
  margin-bottom: 0;
}

.social-provider .fa {
  margin-right: 5px;
}

.social-provider {
  padding: 0.6em 0.2em !important;
  border-radius: 0.25em;
}

.social-provider:hover,
a.social-provider:focus {
  background-color: initial !important;
}

.social-provider.twitter {
  background-color: #46c0fb;
}

.social-provider.google-plus {
  background-color: #dd4b39;
}

.social-provider.linkedin-square {
  background-color: #0083a8;
}

.social-provider.facebook {
  background-color: #4863ae;
}

.social-provider.github,
.social-provider.stack-overflow {
  color: #252527 !important;
}
.social-provider.windows {
  background-color: #2672ec;
}

#kc-social-providers ul {
  padding: 0;
  margin: 0;
}

#kc-social-providers li {
  display: inline;
  margin-top: 5px;
}

#kc-social-providers li:first-of-type {
  margin-top: 0;
}

.social-provider.stack-overflow .fa {
  color: #f90 !important;
}

.social-provider.stack-overflow {
  background-image: url("../img/socialmedia/socialmedia_icons_stack_transparent.png") !important;
}

.social-provider.linkedin {
  background-image: url("../img/socialmedia/socialmedia_icons_linkedin_transparent.png") !important;
}

.social-provider.twitter {
  background-image: url("../img/socialmedia/socialmedia_icons_twitter_transparent.png") !important;
}

.social-provider.facebook {
  background-image: url("../img/socialmedia/socialmedia_icons_facebook_transparent.png") !important;
}

.social-provider.google-plus {
  background-image: url("../img/socialmedia/socialmedia_icons_googleplus_transparent.png") !important;
}

.social-provider.windows {
  background-image: url("../img/socialmedia/socialmedia_icons_microsoft_transparent.png") !important;
}

.social-provider.github {
  background-image: url("../img/socialmedia/socialmedia_icons_github_transparent.png") !important;
}

.confirm-link-idp-sections .columns {
  padding-right: 20px !important;
  padding-bottom: 20px !important;
}

.confirm-link-idp-section {
  background-color: #e6e7e8;
  padding: 20px;
}

.confirm-link-idp-section-hint {
  min-height: 50px;
}

/* Password Toggle */
.rhdPasswordToggle:not(.pf-c-button) {
  background: transparent;
  border: 0;
  border-radius: 0.25em;
  color: #888;
  cursor: pointer;
  font-size: 13px;
  font-weight: 800;
  margin-right: 2.5em !important;
  padding: 0.4em;
  text-transform: uppercase;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.rhdPasswordToggle:not(.pf-c-button):hover,
.rhdPasswordToggle:not(.pf-c-button):focus {
  background-color: #dcdcdc;
  color: #555;
  outline: transparent;
}

.hideShowPassword-wrapper.error .rhdPasswordToggle:not(.pf-c-button) {
  bottom: 24px !important;
}

.hideShowPassword-field {
  padding-right: 65px !important;
}

.email-optin-message,
.email-optin-disclosure {
  margin-bottom: 10px;
}

/* Address Validation */
.pf-c-card {
  margin-bottom: 20px;
}

.pf-c-card .pf-c-radio {
  align-items: flex-start;
}

.pf-c-card .pf-c-radio__input {
  margin-top: 3px;
}

.address-entered,
.address-suggested {
  line-height: 17px;
  margin: 14px 0 20px;
}

.addresses-title {
  margin-bottom: 10px;
}

/* Patternfly overrides and IE11 fixes */
_:-ms-fullscreen,
:root footer {
  position: fixed;
}

.pf-l-bullseye {
  position: relative;
}
.pf-c-modal-box {
  background-color: #fff;
  display: flex;
  width: 35rem;
  max-width: calc(100% - 2rem);
  max-height: calc(100% - 3rem);
  box-shadow: 0 1rem 2rem 0 rgba(3, 3, 3, 0.16), 0 0 0.5 0 rgba(3, 3, 3, 0.1);
  z-index: 500;
  overflow-y: auto;
}
.pf-c-modal-box > .pf-c-button {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  user-select: none;
  border: 0;
  border-radius: 3px;
}
.pf-c-modal-box__header {
  padding: 1.5rem 1.5rem 0 1.5rem;
}
.pf-c-modal-box__body {
  min-height: calc(1rem * 1.5rem);
  padding-top: 1.5rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  padding-bottom: 100px;
  margin-bottom: 100px;
}
.pf-c-card.pf-m-selectable {
  background-color: #fff;
  padding: 1rem;
  border: 1px solid #d2d2d2;
  transition: all 250ms ease-in-out;
}
.pf-c-card.pf-m-selectable.pf-m-selected {
  box-shadow: 0 0.5rem 1rem 0 rgba(3, 3, 3, 0.16),
    0 0 0.375rem 0 rgba(3, 3, 3, 0.08);
}
.pf-c-card.pf-m-selectable.pf-m-selected:before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 3px;
  content: "";
  background-color: #06c;
}
.pf-c-card__body:first-child,
.pf-c-card__footer:first-child,
.pf-c-card__header:first-child,
.pf-c-card__title:first-child {
  padding: 1rem;
}
.pf-c-radio {
  grid-gap: 0.25rem;
}
.pf-c-radio__input:first-child {
  margin-left: 0.625rem;
}
.pf-c-radio__label {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3;
}
.pf-c-modal-box__footer {
  width: 100%;
  background: white;
  padding: 1.5rem;
  position: absolute !important;
}
.pf-c-modal-box__footer .pf-c-button.pf-m-primary {
  background-color: #06c;
  color: #fff;
  padding: 0.375rem 1rem;
  border-radius: 3px;
  border: 1px solid #06c;
  font-weight: 400;
}
.pf-c-modal-box__footer .pf-c-button:hover {
  background-color: #004080;
}
.pf-c-modal-box__footer .pf-c-button.pf-m-secondary {
  background-color: transparent;
  color: #06c;
  padding: 0.375rem 1rem;
  border-radius: 3px;
  border: 1px solid #06c;
  font-weight: 400;
}
.pf-c-modal-box__footer .pf-c-button.pf-m-secondary:hover {
  border-width: 2px;
}
.pf-c-modal-box__footer .pf-c-button:not(:last-child) {
  margin-right: 10px !important;
}
.pf-c-backdrop {
  background-color: rgba(3, 3, 3, 0.62);
  z-index: 400;
}
.pf-l-bullseye {
  padding: 0;
}

/* custom numbered list - keep */
.auth-num-list {
  position: relative;
  counter-reset: item;
  list-style-type: none;
}
.auth-num-list > li {
  display: block;
  position: relative;
}
.auth-num-list > li:before {
  content: "";
  position: absolute;
  left: 0;
  background-color: #ededed;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  z-index: 0;
  content: counter(item) "  ";
  counter-increment: item;
  text-align: center;
}
.auth-num-list > li p:first-child {
  margin-left: 2rem;
}

/* totp - keep */
.totp-secret {
  position: relative;
}
.totp-secret .pf-c-tooltip {
  display: none;
  position: absolute;
  right: -15px;
  top: -50px;
}
.totp-input {
  max-width: 700px;
}
