.pfe-headline-xxl {
  font-family: "RedHatDisplay", "Overpass", Overpass, Helvetica, Arial, sans-serif;
  font-family: var(--pfe-theme--font-family--heading, "RedHatDisplay", "Overpass", Overpass, Helvetica, Arial, sans-serif);
  font-size: 48px;
  font-size: var(--pfe-theme--font-size--xxl, 48px);
  line-height: 1.2;
  line-height: var(--pfe-theme--line-height--xxl, 1.2);
  font-weight: 300;
  font-weight: var(--pfe-theme--font-weight--xxl, 300); }

.pfe-headline-xl {
  font-family: "RedHatDisplay", "Overpass", Overpass, Helvetica, Arial, sans-serif;
  font-family: var(--pfe-theme--font-family--heading, "RedHatDisplay", "Overpass", Overpass, Helvetica, Arial, sans-serif);
  font-size: 40px;
  font-size: var(--pfe-theme--font-size--xl, 40px);
  line-height: 1.2;
  line-height: var(--pfe-theme--line-height--xl, 1.2);
  font-weight: 300;
  font-weight: var(--pfe-theme--font-weight--xl, 300); }

.pfe-headline-1 {
  font-family: "RedHatDisplay", "Overpass", Overpass, Helvetica, Arial, sans-serif;
  font-family: var(--pfe-theme--font-family--heading, "RedHatDisplay", "Overpass", Overpass, Helvetica, Arial, sans-serif);
  font-size: 36px;
  font-size: var(--pfe-theme--font-size--alpha, 36px);
  line-height: 1.3;
  line-height: var(--pfe-theme--line-height--alpha, 1.3);
  font-weight: 400;
  font-weight: var(--pfe-theme--font-weight--alpha, 400); }

.pfe-headline-2 {
  font-family: "RedHatDisplay", "Overpass", Overpass, Helvetica, Arial, sans-serif;
  font-family: var(--pfe-theme--font-family--heading, "RedHatDisplay", "Overpass", Overpass, Helvetica, Arial, sans-serif);
  font-size: 28px;
  font-size: var(--pfe-theme--font-size--beta, 28px);
  line-height: 1.3;
  line-height: var(--pfe-theme--line-height--beta, 1.3);
  font-weight: 400;
  font-weight: var(--pfe-theme--font-weight--beta, 400); }

.pfe-headline-3 {
  font-family: "RedHatDisplay", "Overpass", Overpass, Helvetica, Arial, sans-serif;
  font-family: var(--pfe-theme--font-family--heading, "RedHatDisplay", "Overpass", Overpass, Helvetica, Arial, sans-serif);
  font-size: 24px;
  font-size: var(--pfe-theme--font-size--gamma, 24px);
  line-height: 1.3;
  line-height: var(--pfe-theme--line-height--gamma, 1.3);
  font-weight: 400;
  font-weight: var(--pfe-theme--font-weight--gamma, 400); }

.pfe-headline-4 {
  font-family: "RedHatDisplay", "Overpass", Overpass, Helvetica, Arial, sans-serif;
  font-family: var(--pfe-theme--font-family--heading, "RedHatDisplay", "Overpass", Overpass, Helvetica, Arial, sans-serif);
  font-size: 20px;
  font-size: var(--pfe-theme--font-size--delta, 20px);
  line-height: 1.5;
  line-height: var(--pfe-theme--line-height--delta, 1.5);
  font-weight: 400;
  font-weight: var(--pfe-theme--font-weight--delta, 400); }

.pfe-headline-5 {
  font-family: "RedHatDisplay", "Overpass", Overpass, Helvetica, Arial, sans-serif;
  font-family: var(--pfe-theme--font-family--heading, "RedHatDisplay", "Overpass", Overpass, Helvetica, Arial, sans-serif);
  font-size: 18px;
  font-size: var(--pfe-theme--font-size--epsilon, 18px);
  line-height: 1.5;
  line-height: var(--pfe-theme--line-height--epsilon, 1.5);
  font-weight: 400;
  font-weight: var(--pfe-theme--font-weight--epsilon, 400); }

.pfe-headline-6 {
  font-family: "RedHatDisplay", "Overpass", Overpass, Helvetica, Arial, sans-serif;
  font-family: var(--pfe-theme--font-family--heading, "RedHatDisplay", "Overpass", Overpass, Helvetica, Arial, sans-serif);
  font-size: 16px;
  font-size: var(--pfe-theme--font-size--zeta, 16px);
  line-height: 1.5;
  line-height: var(--pfe-theme--line-height--zeta, 1.5);
  font-weight: 400;
  font-weight: var(--pfe-theme--font-weight--zeta, 400); }

.pfe-text {
  font-family: "RedHatText", "Overpass", Overpass, Helvetica, Arial, sans-serif;
  font-family: var(--pfe-theme--font-family, "RedHatText", "Overpass", Overpass, Helvetica, Arial, sans-serif);
  font-size: 18px;
  font-size: var(--pfe-theme--font-size, 18px);
  line-height: 1.5;
  line-height: var(--pfe-theme--line-height, 1.5);
  font-weight: 400;
  font-weight: var(--pfe-theme--font-weight, 400); }

.PFElement {
  font-family: "RedHatText", "Overpass", Overpass, Helvetica, Arial, sans-serif;
  font-family: var(--pfe-theme--font-family);
  color: var(--pfe-broadcasted--text); }
  .PFElement a {
    color: var(--pfe-broadcasted--link); }
    .PFElement a:hover {
      color: var(--pfe-broadcasted--link--hover); }
    .PFElement a:focus {
      color: var(--pfe-broadcasted--link--focus); }


pfe-cta[priority="primary"] a,
pfe-cta[priority="secondary"] a {
  font-size: 1em; }

pfe-cta:not([priority="primary"]) a,
pfe-cta:not([priority="secondary"]) a {
  text-decoration: none; }
  pfe-cta:not([priority="primary"]) a:after,
  pfe-cta:not([priority="secondary"]) a:after {
    margin-bottom: .25em; }

/*# sourceMappingURL=advanced-theme.css.map */
