body {
  margin: 10px !important;
}

pfe-band {
  --pfe-band--Width: auto;
}

/* Use this to test updating variables using global scope */
#custom {
  --pfe-card--Padding: 25px 15px;
  --pfe-card--spacing--vertical: 10px;
  --pfe-card--spacing--horizontal: 10px;

  --pfe-card--BackgroundColor: papayawhip;
  --context: light;
}

#custom pfe-card:not([color]) {
  --pfe-card__header--BackgroundColor: rgb(233, 176, 85);
}

#custom pfe-cta[priority] {
  --pfe-cta--Padding: 8px 16px;
}

#custom #custom-image {
  --pfe-card--BackgroundImage: url("https://placekitten.com/150/80");
  --pfe-card--BackgroundPosition: calc(100% - 10px) calc(100% - 10px);
  --pfe-card--BackgroundRepeat: no-repeat;
}

#custom #custom-spacing {
  --pfe-card--spacing--vertical: 20px;
  --pfe-card--spacing--horizontal: 40px;
}

#custom #custom-border {
  --pfe-card--BorderColor: #151515;
  --pfe-card--BorderWidth: 2px;
  --pfe-card--BorderRadius: 20px;
}

#custom #custom-header {
  --pfe-card__header--BackgroundColor: #0477a4;
  --pfe-card__header--Color: #fff;
}

#custom #custom-overlay {
  --pfe-card__overlay--BackgroundColor: rgba(180, 82, 43, 0.1);
}
