[data-demo] {
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, calc(25% - 32px)));
  grid-auto-rows: max-content;
  gap: 32px;
}

.button-series::part(footer) {
  display: flex;
  gap: 15px;
}

#first-image {
  grid-column: 1/2;
}

h2[slot="header"] {
  font-size: 1.1em;
  font-weight: bolder;
}

.custom-border {
  --pfe-card--BorderColor: #eee;
  --pfe-card--BorderWeight: 1px;
}
