*.d.ts
*.js
*.js.map

!11ty/types.d.ts
!custom-elements-manifest/declaration.d.ts
!_scripts/dev.js
!dev-server/*.css

!cli/commands/generator/templates/**/*.js
!cli/commands/generator/templates/**/*.d.ts
!cli/commands/generator/templates/**/*.css
