@import "../../rh-sass/rh-sass";

/// ===========================================================================
/// Component Specific SASS Vars
/// ===========================================================================

$rh-cta__arrow-size:                        0.313em; // Was ~5px at 16px
$rh-cta__arrow--spacer:                     $rh-global--spacer--xxs;
$rh--cta--solid--BorderRadius:              5em !default; //$rh-global--border--BorderRadius !default;
$rh-cta--solid--BorderWidth:                $rh-global--border--BorderWidth;
$rh-cta--solid--padding-y:                  $rh-global--spacer--xs;
$rh-cta--solid--padding-x:                  $rh-global--spacer--lg;
$rh-cta--animation-timing:                  $rh-global--animation-timing;

// Reassigning SASS vars to component specific SASS vars for ease of use below

// Default CTA colors
$rh-cta--default--main:                     $rh-global--link-color;
$rh-cta--default--main--hover:              $rh-global--link-color--hover;
$rh-cta--default--main--focus:              $rh-global--link-color--focus;
$rh-cta--default--main--visited:            $rh-global--link-color--visited;
$rh-cta--default--aux:                      transparent;

$rh-cta--base--main:                        $rh-global--link-color;
$rh-cta--base--main--hover:                 $rh-global--link-color--hover;
$rh-cta--base--main--focus:                 $rh-global--link-color--focus;
$rh-cta--base--main--visited:               $rh-global--link-color--visited;
$rh-cta--base--aux:                         $rh-global--color--white;

$rh-cta--complement--main:                  $rh-global--color--gray-iron;
$rh-cta--complement--main--hover:           darken($rh-global--color--gray-iron, 10%);
$rh-cta--complement--main--focus:           darken($rh-global--color--gray-iron, 10%);
$rh-cta--complement--main--visited:         $rh-global--link-color--visited;
$rh-cta--complement--aux:                   $rh-global--color--white;

$rh-cta--accent--main:                      $rh-global--color--red;
$rh-cta--accent--main--hover:               darken($rh-global--color--red, 10%);
$rh-cta--accent--main--focus:               darken($rh-global--color--red, 10%);
$rh-cta--accent--main--visited:             $rh-global--link-color--visited;
$rh-cta--accent--aux:                       $rh-global--color--white;

$rh-cta--default--main--on-dark:            $rh-global--color--white;
$rh-cta--default--main--on-dark--hover:     darken($rh-global--color--white, 10%);
$rh-cta--default--main--on-dark--focus:     darken($rh-global--color--white, 10%);
$rh-cta--default--main--on-dark--visited:   $rh-global--color--white;
$rh-cta--default--aux--on-dark:             transparent;


/// ===========================================================================
/// DEFUALT CTAs
/// ===========================================================================
:host {
  display: inline-block;

  & ::slotted(a) {
    color: var(--rh-theme--color--ui-link, $rh-cta--default--main);

    &::after {
      margin-left: $rh-cta__arrow--spacer; // not themeable for now
      vertical-align: middle;
      @include rh-arrow(right, var(--rh-theme--color--ui-link, $rh-cta--default--main), $rh-cta__arrow-size, $rh-cta__arrow-size, true);
    }
  }

  & ::slotted(a:visited) {
    color: var(--rh-theme--color--ui-link--visited, $rh-cta--default--main--visited);

    &::after {
      @include rh-arrow-color(var(--rh-theme--color--ui-link--visited, $rh-cta--default--main--visited));
    }
  }

  & ::slotted(a:hover) {
    color: var(--rh-theme--color--ui-link--hover, $rh-cta--default--main--hover);

    &::after {
      @include rh-arrow-color(var(--rh-theme--color--ui-link--hover, $rh-cta--default--main--hover));
    }
  }

  & ::slotted(a:focus) {
    color: var(--rh-theme--color--ui-link--focus, $rh-cta--default--main--focus);

    &::after {
      @include rh-arrow-color(var(--rh-theme--color--ui-link--focus, $rh-cta--default--main--focus));
    }
  }
}

// Giving shape to primary & secondary
:host([priority="primary"]),
:host([priority="secondary"]) {
  & ::slotted(a) {
    padding: $rh-cta--solid--padding-y $rh-cta--solid--padding-x; // not themeable for now
    border-radius: $rh--cta--solid--BorderRadius; // not themeable for now
    border: $rh-cta--solid--BorderWidth solid transparent; // not themeable for now
    text-decoration: none;

    &::after {
      display: none;
    }
  }
}

:host([priority="primary"]) {
  & ::slotted(a) {
    border-color: var(--rh-theme--color--ui-accent, $rh-cta--accent--main);
    background: var(--rh-theme--color--ui-accent, $rh-cta--accent--main);
    color: var(--rh-theme--color--ui-accent--text, $rh-cta--accent--aux);
  }

  & ::slotted(a:hover),
  & ::slotted(a:focus) {
    border-color: var(--rh-theme--color--ui-accent--hover, $rh-cta--accent--main--hover);
    background: var(--rh-theme--color--ui-accent--hover, $rh-cta--accent--main--hover);
    color: var(--rh-theme--color--ui-accent--text, $rh-cta--accent--aux);
  }
}

:host([priority="secondary"]) {
  & ::slotted(a) {
    border-color: var(--rh-theme--color--ui-base, $rh-cta--base--main);
    background: var(--rh-theme--color--ui-accent--text, $rh-cta--base--aux);
    color: var(--rh-theme--color--ui-base, $rh-cta--base--main);
  }

  & ::slotted(a:hover),
  & ::slotted(a:focus) {
    border-color: var(--rh-theme--color--ui-base--hover, $rh-cta--base--main--hover);
    background: var(--rh-theme--color--ui-accent--text, $rh-cta--base--aux);
    color: var(--rh-theme--color--ui-base--hover, $rh-cta--base--main--hover);
  }
}


/// ===========================================================================
/// PALETTE: BASE
/// ===========================================================================
:host([palette="base"]) {
  // Not the same, technically, but looks very similar...
  & ::slotted(a) {
    color: var(--rh-theme--color--ui-base, $rh-cta--base--main);

    &::after {
      @include rh-arrow-color(var(--rh-theme--color--ui-base, $rh-cta--base--main));
    }
  }

  & ::slotted(a:visited) {
    color: var(--rh-theme--color--ui-base--visited, $rh-cta--base--main--visited);

    &::after {
      @include rh-arrow-color(var(--rh-theme--color--ui-base--visited, $rh-cta--base--main--visited));
    }
  }

  & ::slotted(a:hover) {
    color: var(--rh-theme--color--ui-base--hover, $rh-cta--base--main--hover);

    &::after {
      @include rh-arrow-color(var(--rh-theme--color--ui-base--hover, $rh-cta--base--main--hover));
    }
  }

  & ::slotted(a:focus) {
    color: var(--rh-theme--color--ui-base--focus, $rh-cta--base--main--focus);

    &::after {
      @include rh-arrow-color(var(--rh-theme--color--ui-base--focus, $rh-cta--base--main--focus));
    }
  }
}

:host([priority="primary"][palette="base"]) {
  & ::slotted(a) {
    border-color: var(--rh-theme--color--ui-base, $rh-cta--base--main);
    background: var(--rh-theme--color--ui-base, $rh-cta--base--main);
    color: var(--rh-theme--color--ui-base--text, $rh-cta--base--aux);
  }

  & ::slotted(a:hover),
  & ::slotted(a:focus) {
    border-color: var(--rh-theme--color--ui-base--hover, $rh-cta--base--main--hover);
    background: var(--rh-theme--color--ui-base--hover, $rh-cta--base--main--hover);
    color: var(--rh-theme--color--ui-base--text, $rh-cta--base--aux);
  }
}

:host([priority="secondary"][palette="base"]) {
  // Essentially the same?
  & ::slotted(a) {
    border-color: var(--rh-theme--color--ui-base, $rh-cta--base--main);
    background: var(--rh-theme--color--ui-base--text, $rh-cta--base--aux);
    color: var(--rh-theme--color--ui-base, $rh-cta--base--main);
  }

  & ::slotted(a:hover),
  & ::slotted(a:focus) {
    border-color: var(--rh-theme--color--ui-base--hover, $rh-cta--base--main--hover);
    background: var(--rh-theme--color--ui-base--text, $rh-cta--base--aux);
    color: var(--rh-theme--color--ui-base--hover, $rh-cta--base--main--hover);
  }
}


/// ===========================================================================
/// PALETTE: COMPLEMENT
/// ===========================================================================
:host([palette="complement"]) {
  & ::slotted(a) {
    color: var(--rh-theme--color--ui-complement, $rh-cta--complement--main);

    &::after {
      @include rh-arrow-color(var(--rh-theme--color--ui-complement, $rh-cta--complement--main));
    }
  }

  & ::slotted(a:visited) {
    color: var(--rh-theme--color--ui-complement--visited, $rh-cta--complement--main--visited);

    &::after {
      @include rh-arrow-color(var(--rh-theme--color--ui-complement--visited, $rh-cta--complement--main--visited));
    }
  }

  & ::slotted(a:hover) {
    color: var(--rh-theme--color--ui-complement--hover, $rh-cta--complement--main--hover);

    &::after {
      @include rh-arrow-color(var(--rh-theme--color--ui-complement--hover, $rh-cta--complement--main--hover));
    }
  }

  & ::slotted(a:focus) {
    color: var(--rh-theme--color--ui-complement--focus, $rh-cta--complement--main--focus);

    &::after {
      @include rh-arrow-color(var(--rh-theme--color--ui-complement--focus, $rh-cta--complement--main--focus));
    }
  }
}

:host([priority="primary"][palette="complement"]) {
  & ::slotted(a) {
    border-color: var(--rh-theme--color--ui-complement, $rh-cta--complement--main);
    background: var(--rh-theme--color--ui-complement, $rh-cta--complement--main);
    color: var(--rh-theme--color--ui-complement--text, $rh-cta--complement--aux);
  }

  & ::slotted(a:hover),
  & ::slotted(a:focus) {
    border-color: var(--rh-theme--color--ui-complement--hover, $rh-cta--complement--main--hover);
    background: var(--rh-theme--color--ui-complement--hover, $rh-cta--complement--main--hover);
    color: var(--rh-theme--color--ui-complement--text, $rh-cta--complement--aux);
  }
}

:host([priority="secondary"][palette="complement"]) {
  & ::slotted(a) {
    border-color: var(--rh-theme--color--ui-complement, $rh-cta--complement--main);
    background: var(--rh-theme--color--ui-complement--text, $rh-cta--complement--aux);
    color: var(--rh-theme--color--ui-complement, $rh-cta--complement--main);
  }

  & ::slotted(a:hover),
  & ::slotted(a:focus) {
    border-color: var(--rh-theme--color--ui-complement--hover, $rh-cta--complement--main--hover);
    background: var(--rh-theme--color--ui-complement--text, $rh-cta--complement--aux);
    color: var(--rh-theme--color--ui-complement--hover, $rh-cta--complement--main--hover);
  }
}


/// ===========================================================================
/// PALETTE: ACCENT
/// ===========================================================================
:host([palette="accent"]) {
  // Not the same, technically, but looks very similar...
  & ::slotted(a) {
    color: var(--rh-theme--color--ui-accent, $rh-cta--accent--main);

    &::after {
      @include rh-arrow-color(var(--rh-theme--color--ui-accent, $rh-cta--accent--main));
    }
  }

  & ::slotted(a:visited) {
    color: var(--rh-theme--color--ui-accent--visited, $rh-cta--accent--main--visited);

    &::after {
      @include rh-arrow-color(var(--rh-theme--color--ui-accent--visited, $rh-cta--accent--main--visited));
    }
  }

  & ::slotted(a:hover) {
    color: var(--rh-theme--color--ui-accent--hover, $rh-cta--accent--main--hover);

    &::after {
      @include rh-arrow-color(var(--rh-theme--color--ui-accent--hover, $rh-cta--accent--main--hover));
    }
  }

  & ::slotted(a:focus) {
    color: var(--rh-theme--color--ui-accent--focus, $rh-cta--accent--main--focus);

    &::after {
      @include rh-arrow-color(var(--rh-theme--color--ui-accent--focus, $rh-cta--accent--main--focus));
    }
  }
}

:host([priority="primary"][palette="accent"]) {
  & ::slotted(a) {
    border-color: var(--rh-theme--color--ui-accent, $rh-cta--accent--main);
    background: var(--rh-theme--color--ui-accent, $rh-cta--accent--main);
    color: var(--rh-theme--color--ui-accent--text, $rh-cta--accent--aux);
  }

  & ::slotted(a:hover),
  & ::slotted(a:focus) {
    border-color: var(--rh-theme--color--ui-accent--hover, $rh-cta--accent--main--hover);
    background: var(--rh-theme--color--ui-accent--hover, $rh-cta--accent--main--hover);
    color: var(--rh-theme--color--ui-accent--text, $rh-cta--accent--aux);
  }
}

:host([priority="secondary"][palette="accent"]) {
  // Essentially the same?
  & ::slotted(a) {
    border-color: var(--rh-theme--color--ui-accent, $rh-cta--accent--main);
    background: var(--rh-theme--color--ui-accent--text, $rh-cta--accent--aux);
    color: var(--rh-theme--color--ui-accent, $rh-cta--accent--main);
  }

  & ::slotted(a:hover),
  & ::slotted(a:focus) {
    border-color: var(--rh-theme--color--ui-accent--hover, $rh-cta--accent--main--hover);
    background: var(--rh-theme--color--ui-accent--text, $rh-cta--accent--aux);
    color: var(--rh-theme--color--ui-accent--hover, $rh-cta--accent--main--hover);
  }
}




/// ===========================================================================
/// ON SATURATED
/// DEFAULT
/// ===========================================================================
:host([on-saturated]),
:host([on-saturated][palette="base"]),
:host([on-saturated][palette="complement"]),
:host([on-saturated][palette="accent"]) {
  // For the default priority, we don't care about palettes
  & ::slotted(a) {
    color: var(--rh-theme--color--ui-link--on-dark, $rh-cta--default--main--on-dark);

    &::after {
      @include rh-arrow-color(var(--rh-theme--color--ui-link--on-dark, $rh-cta--default--main--on-dark));
    }
  }

  & ::slotted(a:visited) {
    color: var(--rh-theme--color--ui-link--on-dark--visited, $rh-cta--default--main--on-dark--visited);

    &::after {
      @include rh-arrow-color(var(--rh-theme--color--ui-link--on-dark--visited, $rh-cta--default--main--on-dark--visited));
    }
  }

  & ::slotted(a:hover) {
    color: var(--rh-theme--color--ui-link--on-dark--hover, $rh-cta--default--main--on-dark--hover);

    &::after {
      @include rh-arrow-color(var(--rh-theme--color--ui-link--on-dark--hover, $rh-cta--default--main--on-dark--hover));
    }
  }

  & ::slotted(a:focus) {
    color: var(--rh-theme--color--ui-link--on-dark--focus, $rh-cta--default--main--on-dark--focus);

    &::after {
      @include rh-arrow-color(var(--rh-theme--color--ui-link--on-dark--focus, $rh-cta--default--main--on-dark--focus));
    }
  }
}

:host([on-saturated][priority="primary"]) {
  & ::slotted(a) {
    border-color: var(--rh-theme--color--ui-accent--text, $rh-cta--accent--aux);
    background: var(--rh-theme--color--ui-accent--text, $rh-cta--accent--aux);
    color: var(--rh-theme--color--ui-accent, $rh-cta--accent--main);
  }

  & ::slotted(a:hover),
  & ::slotted(a:focus) {
    border-color: var(--rh-theme--color--ui-accent--text, $rh-cta--accent--aux); // NEED A HOVER STATE HERE
    background: var(--rh-theme--color--ui-accent--text, $rh-cta--accent--aux); // NEED A HOVER STATE HERE
    color: var(--rh-theme--color--ui-accent--hover, $rh-cta--accent--main--hover);
  }
}

:host([on-saturated][priority="secondary"]) {
  & ::slotted(a) {
    border-color: var(--rh-theme--color--ui-accent--text, $rh-cta--base--aux); // Change border-color is all.
    background: transparent;
    color: var(--rh-theme--color--ui-accent--text, $rh-cta--base--aux);
  }

  & ::slotted(a:hover),
  & ::slotted(a:focus) {
    border-color: var(--rh-theme--color--ui-accent--text, $rh-cta--base--aux); // Change border-color is all.
    background: var(--rh-theme--color--ui-accent--text, $rh-cta--base--aux);
    color: var(--rh-theme--color--ui-base--hover, $rh-cta--base--main--hover);
  }
}

/// ===========================================================================
/// ON SATURATED
/// PALETTE: BASE
/// ===========================================================================
:host([on-saturated][priority="primary"][palette="base"]) {
  & ::slotted(a) {
    border-color: var(--rh-theme--color--ui-base--text, $rh-cta--base--aux);
    background: var(--rh-theme--color--ui-base--text, $rh-cta--base--aux);
    color: var(--rh-theme--color--ui-base, $rh-cta--base--main);
  }

  & ::slotted(a:hover),
  & ::slotted(a:focus) {
    border-color: var(--rh-theme--color--ui-base--text, $rh-cta--base--aux);
    background: var(--rh-theme--color--ui-base--text, $rh-cta--base--aux);
    color: var(--rh-theme--color--ui-base--hover, $rh-cta--base--main--hover);
  }
}

:host([on-saturated][priority="secondary"][palette="base"]) {
  & ::slotted(a) {
    border-color: var(--rh-theme--color--ui-base--text, $rh-cta--base--aux);
    background: transparent;
    color: var(--rh-theme--color--ui-base--text, $rh-cta--base--aux);
  }

  & ::slotted(a:hover),
  & ::slotted(a:focus) {
    border-color: var(--rh-theme--color--ui-base--text, $rh-cta--base--aux);
    background: var(--rh-theme--color--ui-base--text, $rh-cta--base--aux);
    color: var(--rh-theme--color--ui-base--hover, $rh-cta--base--main--hover);
  }
}


/// ===========================================================================
/// ON SATURATED
/// PALETTE: COMPLEMENT
/// ===========================================================================
:host([on-saturated][priority="primary"][palette="complement"]) {
  & ::slotted(a) {
    border-color: var(--rh-theme--color--ui-complement--text, $rh-cta--complement--aux);
    background: var(--rh-theme--color--ui-complement--text, $rh-cta--complement--aux);
    color: var(--rh-theme--color--ui-complement, $rh-cta--complement--main);
  }

  & ::slotted(a:hover),
  & ::slotted(a:focus) {
    border-color: var(--rh-theme--color--ui-complement--text, $rh-cta--complement--aux);
    background: var(--rh-theme--color--ui-complement--text, $rh-cta--complement--aux);
    color: var(--rh-theme--color--ui-complement--hover, $rh-cta--complement--main--hover);
  }
}

:host([on-saturated][priority="secondary"][palette="complement"]) {
  & ::slotted(a) {
    border-color: var(--rh-theme--color--ui-complement--text, $rh-cta--complement--aux);
    background: transparent;
    color: var(--rh-theme--color--ui-complement--text, $rh-cta--complement--aux);
  }

  & ::slotted(a:hover),
  & ::slotted(a:focus) {
    border-color: var(--rh-theme--color--ui-complement--text, $rh-cta--complement--aux);
    background: var(--rh-theme--color--ui-complement--text, $rh-cta--complement--aux);
    color: var(--rh-theme--color--ui-complement--hover, $rh-cta--complement--main--hover);
  }
}


/// ===========================================================================
/// ON SATURATED
/// PALETTE: ACCENT
/// ===========================================================================
:host([on-saturated][priority="primary"][palette="accent"]) {
  & ::slotted(a) {
    border-color: var(--rh-theme--color--ui-accent--text, $rh-cta--accent--aux);
    background: var(--rh-theme--color--ui-accent--text, $rh-cta--accent--aux);
    color: var(--rh-theme--color--ui-accent, $rh-cta--accent--main);
  }

  & ::slotted(a:hover),
  & ::slotted(a:focus) {
    border-color: var(--rh-theme--color--ui-accent--text, $rh-cta--accent--aux);
    background: var(--rh-theme--color--ui-accent--text, $rh-cta--accent--aux);
    color: var(--rh-theme--color--ui-accent--hover, $rh-cta--accent--main--hover);
  }
}

:host([on-saturated][priority="secondary"][palette="accent"]) {
  & ::slotted(a) {
    border-color: var(--rh-theme--color--ui-accent--text, $rh-cta--accent--aux);
    background: transparent;
    color: var(--rh-theme--color--ui-accent--text, $rh-cta--accent--aux);
  }

  & ::slotted(a:hover),
  & ::slotted(a:focus) {
    border-color: var(--rh-theme--color--ui-accent--text, $rh-cta--accent--aux);
    background: var(--rh-theme--color--ui-accent--text, $rh-cta--accent--aux);
    color: var(--rh-theme--color--ui-accent--hover, $rh-cta--accent--main--hover);
  }
}
