@import "../../rh-sass/rh-sass";

/// ===========================================================================
/// Component Specific SASS Vars
/// ===========================================================================

$rh-cta__arrow-size:                        0.313em;

/// ===========================================================================
/// DEFUALT CTA
/// ===========================================================================
:host {
  --rh-cta--main:                     #{rh-color(ui-link)};
  --rh-cta--main--hover:              #{rh-color(ui-link--hover)};
  --rh-cta--main--focus:              #{rh-color(ui-link--focus)};
  --rh-cta--main--visited:            #{rh-color(ui-link--visited)};
  --rh-cta--aux:                      transparent;
  --rh-cta--aux--hover:               transparent;

  // Broadcast removal of the underline on the link
  --rh-broadcasted--link--text-decoration:     none;

  display: inline-block;
  font-weight: bold;

  ::slotted(a) {
    line-height: inherit;
    color: var(--rh-cta--main) !important;
    transition: all #{rh-var(animation-timing)};

    &::after {
      display: block;
      margin-left: calc(#{rh-var(content-spacer)} * 0.25); // 1/4 of the base `content-spacer`
      vertical-align: middle;
      @include rh-arrow(right, var(--rh-cta--main), $rh-cta__arrow-size, $rh-cta__arrow-size, true);
    }
  }

  // & ::slotted(a:visited) {
  //  color: var(--rh-cta--main--visited);
  //  &::after {
  //    @include rh-arrow-color(var(--rh-cta--main--visited));
  //  }
  // }

  ::slotted(a:hover) {
    color: var(--rh-cta--main--hover) !important;

    &::after {
      @include rh-arrow-color(var(--rh-cta--main--hover));
    }
  }

  ::slotted(a:focus) {
    color: var(--rh-cta--main--focus) !important;

    &::after {
      @include rh-arrow-color(var(--rh-cta--main--focus));
    }
  }
}


/// ===========================================================================
/// Styles for "Button" CTAs
/// ===========================================================================
:host([priority="primary"]) {
  --rh-cta--main:          #{rh-color(ui-accent)};
  --rh-cta--main--hover:   #{rh-color(ui-accent--hover)};
  --rh-cta--aux:           #{rh-color(ui-accent--text)};
  --rh-cta--aux--hover:    #{rh-color(ui-accent--text--hover)};

  ::slotted(a) {
    display: inline-block;
    padding: calc(#{rh-var(container-padding)} * 0.5) calc(#{rh-var(container-padding)} * 2);
    border-radius: calc(#{rh-var(ui--border-radius)} * 20);
    border: #{rh-var(ui--border-width)} #{rh-var(ui--border-style)} transparent;
    text-decoration: none;
    line-height: 1.2;

    border-color: var(--rh-cta--main) !important;
    background:   var(--rh-cta--main) !important;
    color:        var(--rh-cta--aux) !important;

    &::after {
      display: none;
    }
  }

  ::slotted(a:hover),
  ::slotted(a:focus) { // Not sure we can lump these together
    border-color: var(--rh-cta--main--hover) !important;
    background:   var(--rh-cta--main--hover) !important;
    color:        var(--rh-cta--aux--hover) !important;
  }

  // & ::slotted(a:visited),   TBD

}

:host([priority="secondary"]) {
  --rh-cta--main:          #{rh-color(ui-base)};
  --rh-cta--main--hover:   #{rh-color(ui-base--hover)};
  --rh-cta--aux:           #{rh-color(ui-base--text)};
  --rh-cta--aux--hover:    #{rh-color(ui-base--text--hover)};

  ::slotted(a) {
    display: inline-block;
    padding: calc(#{rh-var(container-padding)} * 0.5) calc(#{rh-var(container-padding)} * 2);
    border-radius: calc(#{rh-var(ui--border-radius)} * 20);
    border: #{rh-var(ui--border-width)} #{rh-var(ui--border-style)} var(--rh-cta--main);
    text-decoration: none;
    line-height: 1.2;

    border-color: var(--rh-cta--main) !important;
    background:   var(--rh-cta--aux) !important;
    color:        var(--rh-cta--main) !important;

    &::after {
      display: none;
    }
  }

  ::slotted(a:hover), // Not sure we can lump these together
  ::slotted(a:focus) {
    border-color: var(--rh-cta--main--hover) !important;
    background:   var(--rh-cta--main--hover) !important;
    color:        var(--rh-cta--aux--hover) !important;
  }

  // & ::slotted(a:visited),   TBD
}


/// ===========================================================================
/// ON DARK
/// ===========================================================================
:host([on="dark"]) {
  --rh-cta--main:        #{rh-color(text--on-dark)};
  --rh-cta--main--hover: #{rh-color(ui-link--on-dark--hover)};
  --rh-cta--aux:         transparent;
  --rh-cta--aux--hover:  transparent;
}

:host([on="dark"][priority="primary"]) {
  --rh-cta--main:        #{rh-color(ui-accent--text)};
  --rh-cta--main--hover: #{rh-color(ui-accent--text--hover)};
  --rh-cta--aux:         #{rh-color(ui-accent)};
  --rh-cta--aux--hover:  #{rh-color(ui-accent--hover)};
}

:host([on="dark"][priority="secondary"]) {
  --rh-cta--main:        #{rh-color(ui-base--text)};
  --rh-cta--main--hover: #{rh-color(ui-base--text--hover)};
  --rh-cta--aux:         transparent;
  --rh-cta--aux--hover:  #{rh-color(ui-base--hover)};
}


/// ===========================================================================
/// COLOR OVERRIDE: BASE
/// ===========================================================================

:host([color="base"]) {
  --rh-cta--main:        #{rh-color(ui-base)} !important;
  --rh-cta--main--hover: #{rh-color(ui-base--hover)} !important;
  --rh-cta--aux:         #{rh-color(ui-base--text)} !important;
  --rh-cta--aux--hover:  #{rh-color(ui-base--text--hover)} !important;
}


/// ===========================================================================
/// COLOR OVERRIDE: COMPLEMENT
/// ===========================================================================

:host([color="complement"]) {
  --rh-cta--main:        #{rh-color(ui-complement)} !important;
  --rh-cta--main--hover: #{rh-color(ui-complement--hover)} !important;
  --rh-cta--aux:         #{rh-color(ui-complement--text)} !important;
  --rh-cta--aux--hover:  #{rh-color(ui-complement--text--hover)} !important;
}


/// ===========================================================================
/// COLOR OVERRIDE: ACCENT
/// ===========================================================================
:host([color="accent"]) {
  --rh-cta--main:        #{rh-color(ui-accent)} !important;
  --rh-cta--main--hover: #{rh-color(ui-accent--hover)} !important;
  --rh-cta--aux:         #{rh-color(ui-accent--text)} !important;
  --rh-cta--aux--hover:  #{rh-color(ui-accent--text--hover)} !important;
}
