@import "../../rh-sass/rh-sass";

/// ===========================================================================
/// Component Specific SASS Vars
/// ===========================================================================

// Todo: convert these also
$rh-cta__arrow-size:                        0.313em; // Was ~5px at 16px
$rh-cta__arrow--spacer:                     $rh-global--spacer--xxs;
$rh-cta--solid--BorderRadius:               5em !default; //$rh-global--border--BorderRadius !default;
$rh-cta--solid--BorderWidth:                $rh-global--border--BorderWidth;
$rh-cta--solid--padding-y:                  8px; //$rh-global--spacer--xs;
$rh-cta--solid--padding-x:                  32px; //$rh-global--spacer--lg;
$rh-cta--animation-timing:                  $rh-global--animation-timing;


/// ===========================================================================
/// DEFUALT CTA
/// ===========================================================================
:host {
  --rh-cta--main:                     #{rh-color(ui-link)};
  --rh-cta--main--hover:              #{rh-color(ui-link--hover)};
  --rh-cta--main--focus:              #{rh-color(ui-link--focus)};
  --rh-cta--main--visited:            #{rh-color(ui-link--visited)};
  --rh-cta--aux:                      transparent;
  --rh-cta--aux--hover:               transparent;

  display: inline-block;
  font-weight: bold;

  & ::slotted(a) {
    line-height: inherit;
    color: var(--rh-cta--main);

    &::after {
      display: block;
      margin-left: $rh-cta__arrow--spacer; // not themeable for now
      vertical-align: middle;
      @include rh-arrow(right, var(--rh-cta--main), $rh-cta__arrow-size, $rh-cta__arrow-size, true);
    }
  }

  // & ::slotted(a:visited) {
  //  color: var(--rh-cta--main--visited);
  //  &::after {
  //    @include rh-arrow-color(var(--rh-cta--main--visited));
  //  }
  // }

  & ::slotted(a:hover) {
    color: var(--rh-cta--main--hover);

    &::after {
      @include rh-arrow-color(var(--rh-cta--main--hover));
    }
  }

  & ::slotted(a:focus) {
    color: var(--rh-cta--main--focus);

    &::after {
      @include rh-arrow-color(var(--rh-cta--main--focus));
    }
  }
}


/// ===========================================================================
/// Styles for "Button" CTAs
/// ===========================================================================
:host([priority="primary"]) {
  --rh-cta--main:          #{rh-color(ui-accent)};
  --rh-cta--main--hover:   #{rh-color(ui-accent--hover)};
  --rh-cta--aux:           #{rh-color(ui-accent--text)};
  --rh-cta--aux--hover:    #{rh-color(ui-accent--text--hover)};

  & ::slotted(a) {
    display: inline-block;
    padding: $rh-cta--solid--padding-y $rh-cta--solid--padding-x; // not themeable for now
    border-radius: $rh-cta--solid--BorderRadius; // not themeable for now
    border: $rh-cta--solid--BorderWidth solid transparent; // not themeable for now
    text-decoration: none;
    line-height: 1.2;

    border-color: var(--rh-cta--main);
    background:   var(--rh-cta--main);
    color:        var(--rh-cta--aux);

    &::after {
      display: none;
    }
  }

  & ::slotted(a:hover),
  & ::slotted(a:focus) { // Not sure we can lump these together
    border-color: var(--rh-cta--main--hover);
    background:   var(--rh-cta--main--hover);
    color:        var(--rh-cta--aux--hover);
  }

  // & ::slotted(a:visited),   TBD

}

:host([priority="secondary"]) {
  --rh-cta--main:          #{rh-color(ui-base)};
  --rh-cta--main--hover:   #{rh-color(ui-base--hover)};
  --rh-cta--aux:           #{rh-color(ui-base--text)};
  --rh-cta--aux--hover:    #{rh-color(ui-base--text--hover)};

  & ::slotted(a) {
    display: inline-block;
    padding: $rh-cta--solid--padding-y $rh-cta--solid--padding-x; // not themeable for now
    border-radius: $rh-cta--solid--BorderRadius; // not themeable for now
    border: $rh-cta--solid--BorderWidth solid var(--rh-cta--main); // not themeable for now
    text-decoration: none;
    line-height: 1.2;

    border-color: var(--rh-cta--main);
    background:   var(--rh-cta--aux);
    color:        var(--rh-cta--main);

    &::after {
      display: none;
    }
  }

  & ::slotted(a:hover), // Not sure we can lump these together
  & ::slotted(a:focus) {
    border-color: var(--rh-cta--main--hover);
    background:   var(--rh-cta--main--hover);
    color:        var(--rh-cta--aux--hover);
  }

  // & ::slotted(a:visited),   TBD
}


/// ===========================================================================
/// ON DARK
/// ===========================================================================
:host([on="dark"]) {
  --rh-cta--main:        #{rh-color(text--on-dark)};
  --rh-cta--main--hover: #{rh-color(ui-link--on-dark--hover)};
  --rh-cta--aux:         transparent;
  --rh-cta--aux--hover:  transparent;
}

:host([on="dark"][priority="primary"]) {
  --rh-cta--main:        #{rh-color(ui-accent--text)};
  --rh-cta--main--hover: #{rh-color(ui-accent--text--hover)};
  --rh-cta--aux:         #{rh-color(ui-accent)};
  --rh-cta--aux--hover:  #{rh-color(ui-accent--hover)};
}

:host([on="dark"][priority="secondary"]) {
  --rh-cta--main:        #{rh-color(ui-base--text)};
  --rh-cta--main--hover: #{rh-color(ui-base--text--hover)};
  --rh-cta--aux:         transparent;
  --rh-cta--aux--hover:  #{rh-color(ui-base--hover)};
}


/// ===========================================================================
/// COLOR OVERRIDE: BASE
/// ===========================================================================

:host([color="base"]) {
  --rh-cta--main:        #{rh-color(ui-base)} !important;
  --rh-cta--main--hover: #{rh-color(ui-base--hover)} !important;
  --rh-cta--aux:         #{rh-color(ui-base--text)} !important;
  --rh-cta--aux--hover:  #{rh-color(ui-base--text--hover)} !important;
}


/// ===========================================================================
/// COLOR OVERRIDE: COMPLEMENT
/// ===========================================================================

:host([color="complement"]) {
  --rh-cta--main:        #{rh-color(ui-complement)} !important;
  --rh-cta--main--hover: #{rh-color(ui-complement--hover)} !important;
  --rh-cta--aux:         #{rh-color(ui-complement--text)} !important;
  --rh-cta--aux--hover:  #{rh-color(ui-complement--text--hover)} !important;
}


/// ===========================================================================
/// COLOR OVERRIDE: ACCENT
/// ===========================================================================
:host([color="accent"]) {
  --rh-cta--main:        #{rh-color(ui-accent)} !important;
  --rh-cta--main--hover: #{rh-color(ui-accent--hover)} !important;
  --rh-cta--aux:         #{rh-color(ui-accent--text)} !important;
  --rh-cta--aux--hover:  #{rh-color(ui-accent--text--hover)} !important;
}
