$component: "cta";
@import "../../rh-sass/rh-sass";

/// ===========================================================================
/// Component Specific SASS Vars
/// ===========================================================================

$rh-cta--arrow-size:                        0.313em; // Was ~5px at 16px
$rh-cta--animation-timing:                  $rh-global--animation-timing;

/// ===========================================================================
/// Styles
/// ===========================================================================

// Setup Default CTA
:host {
  $cta-defaults: (
    "emphasis-color": #{$rh-global--link-color},
    "emphasis-color--visited": #{$rh-global--link-color--visited},
    "emphasis-color--hover": #{$rh-global--link-color--hover},
    "emphasis-color--focus": #{$rh-global--link-color--focus},
  );
  @include rh-define-vars($cta-defaults);

  $cta-defaults-custom: (
    "arrow--spacing": --rh-theme--spacing--xxs #{$rh-global--spacer--xxs},
    "padding-y": 0,
    "padding-x": 0,
    "BorderRadius": 0,
    "BorderWidth": 0,
    "TextDecoration": underline,
    "arrow--display": inline-block
  );
  @include rh-define-vars($cta-defaults-custom, $custom-theme: true);

  & ::slotted(a) {
    display: inline-block;
    padding: rh-var("padding-y") rh-var("padding-x");
    text-decoration: rh-var("TextDecoration");
    border: rh-var("BorderWidth") solid transparent;
    border-radius: rh-var("BorderRadius");
    transition: all 250ms $rh-cta--animation-timing;
    // These will be the most updated values based on user selections
    color: rh-var("emphasis-color");

    &::after {
      margin-left: rh-var("arrow--spacing");
      vertical-align: middle;
      @include rh-arrow($type: right, $color: rh-var("emphasis-color"), $width: $rh-cta--arrow-size, $height: $rh-cta--arrow-size, $pseudo: true);
    }
  }
  // Setup Default CTA Hover
  & ::slotted(a:hover) {
    color: rh-var("emphasis-color--hover");

    &::after {
      @include rh-arrow-color($color: rh-var("emphasis-color--hover"));
    }
  }
  // Setup Default CTA Focus
  & ::slotted(a:focus) {
    color: rh-var("emphasis-color--focus");

    &::after {
      @include rh-arrow-color($color: rh-var("emphasis-color--focus"));
    }
  }

  // Setup Default CTA Visited
  & ::slotted(a:visited) {
    color: rh-var("emphasis-color--visited");

    &::after {
      @include rh-arrow-color($color: rh-var("emphasis-color--visited"));
    }
  }
}

:host(.primary) {
  $cta-primary: (
    "emphasis-color": #{$rh-global--link-color},
    "emphasis-color--hover": #{$rh-global--link-color--hover},
    "emphasis-color--focus": #{$rh-global--link-color--focus},
    "emphasis-color--visited": #{$rh-global--link-color--visited}
  );

  @include rh-define-vars($cta-primary, $custom-theme: true);
}

:host(.secondary) {
  $cta-secondary: (
    "emphasis-color": #{$rh-global--color--gray-iron},
    "emphasis-color--hover": #{darken($rh-global--color--gray-iron, 10%)},
    "emphasis-color--focus": #{darken($rh-global--color--gray-iron, 10%)},
    // "emphasis-color--visited": #{$rh-global--link-color--visited} // Don't need to overwrite if it's the same,
  );
  
  @include rh-define-vars($cta-secondary, $custom-theme: true);
}

:host(.accent) {
  $cta-accent: (
    "emphasis-color": #{$rh-global--color--red},
    "emphasis-color--hover": #{darken($rh-global--color--red, 10%)},
    "emphasis-color--focus": #{darken($rh-global--color--red, 10%)},
    // "emphasis-color--visited": #{$rh-global--link-color--visited} // Don't need to overwrite if it's the same,
  );
  
  @include rh-define-vars($cta-accent, $custom-theme: true);
}

// Setup Inverted Default CTA
:host([inverted]) {
  $cta-inverted: (
    "emphasis-color": #{$rh-global--link-color--inverted},
    "emphasis-color--hover": #{$rh-global--link-color--inverted--hover},
    "emphasis-color--focus": #{$rh-global--link-color--inverted--focus},
    "emphasis-color--visited": #{$rh-global--link-color--inverted--visited},
  );
  
  @include rh-define-vars($cta-inverted, $custom-theme: true);
}

// Primary matches the default in this situation
// :host([inverted].primary) {}

:host([inverted].secondary) {
  $cta-inverted-secondary: (
    "emphasis-color": #{$rh-global--color--white},
    "emphasis-color--hover": #{darken($rh-global--color--white, 10%)},
    "emphasis-color--focus": #{darken($rh-global--color--white, 10%)},
    // "emphasis-color--visited": #{$rh-global--link-color--inverted--visited}
  );
  
  @include rh-define-vars($cta-inverted-secondary, $custom-theme: true);
}

:host([inverted].accent) {
  $cta-inverted-accent: (
    "emphasis-color": #{$rh-global--color--red},
    "emphasis-color--hover": #{lighten($rh-global--color--red, 20%)},
    "emphasis-color--focus": #{lighten($rh-global--color--red, 20%)},
    // "emphasis-color--visited": #{$rh-global--link-color--inverted--visited}
  );
  
  @include rh-define-vars($cta-inverted-accent, $custom-theme: true);
}

// CTA Solid
:host([solid]) {
  $cta-solid: (
    "BorderRadius": 5em,
    "BorderWidth": #{$rh-global--border--BorderWidth}
  );
  
  @include rh-define-vars($cta-solid);

  $cta-solid-custom: (
    "TextDecoration": none,
    "arrow--display": none,
    "padding-x": --rh-theme--spacing--lg #{$rh-global--spacer--lg},
    "padding-y": --rh-theme--spacing--xs #{$rh-global--spacer--xs},
    "complement-color": #{$rh-global--color--white},
    "complement-color--hover": #{$rh-global--color--white},
    "complement-color--focus": #{$rh-global--color--white},
    "complement-color--visited": #{$rh-global--color--white}
  );

  @include rh-define-vars($cta-solid-custom, $custom-theme: true);

  $cta-solid-default: (
    "emphasis-color": #{$rh-global--color--gray-batman},
    "emphasis-color--hover": #{darken($rh-global--color--gray-batman, 10%)},
    "emphasis-color--focus": #{darken($rh-global--color--gray-batman, 10%)}
  );
  
  @include rh-define-vars($cta-solid-default, $custom-theme: true);

  & ::slotted(a) {
    // display: inline-block;
    color: rh-var("complement-color");
    background-color: rh-var("emphasis-color");
    border-color: rh-var("emphasis-color");
    &::after {
      display: none;
    }
  }
  // Setup Default CTA Hover
  & ::slotted(a:hover) {
    color: rh-var("complement-color--hover");
    background-color: rh-var("emphasis-color--hover");
    border-color: rh-var("emphasis-color--hover");
  }
  // Setup Default CTA Focus
  & ::slotted(a:focus) {
    color: rh-var("complement-color--focus");
    background-color: rh-var("emphasis-color--focus");
    border-color: rh-var("emphasis-color--focus");
  }
}

:host([solid].primary) {
  $cta-solid-primary: (
    "emphasis-color": #{$rh-global--color--blue-azure},
    "emphasis-color--hover": #{darken($rh-global--color--blue-azure, 10%)}
  );
  
  @include rh-define-vars($cta-solid-primary, $custom-theme: true);
}

:host([solid].secondary) {
  $cta-solid-primary: (
    "emphasis-color": #{$rh-global--color--gray-iron},
    "emphasis-color--hover": #{darken($rh-global--color--gray-iron, 10%)}
  );
  
  @include rh-define-vars($cta-solid-primary, $custom-theme: true);
}

:host([solid].accent) {
  $cta-solid-primary: (
    "emphasis-color": #{$rh-global--color--red},
    "emphasis-color--hover": #{darken($rh-global--color--red, 10%)}
  );
  
  @include rh-define-vars($cta-solid-primary, $custom-theme: true);
}

// CTA Solid
:host([solid][inverted]) {
  & ::slotted(a) {
    color: rh-var("emphasis-color");
    background-color: rh-var("complement-color");
    border-color: rh-var("complement-color");
  }
  // Setup Default CTA Hover
  & ::slotted(a:hover) {
    color: rh-var("emphasis-color--hover");
    background-color: rh-var("complement-color--hover");
    border-color: rh-var("complement-color--hover");
  }
  // Setup Default CTA Focus
  & ::slotted(a:focus) {
    color: rh-var("emphasis-color--focus");
    background-color: rh-var("complement-color--focus");
    border-color: rh-var("complement-color--focus");
  }
}

// CTA Bordered
:host([solid][bordered]) {
  & ::slotted(a) {
    color: rh-var("emphasis-color");
    background-color: rh-var("complement-color");
    border-color: rh-var("emphasis-color");
  }
  // Setup Default CTA Hover
  & ::slotted(a:hover) {
    color: rh-var("emphasis-color--hover");
    background-color: rh-var("complement-color--hover");
    border-color: rh-var("emphasis-color--hover");
  }
  // Setup Default CTA Focus
  & ::slotted(a:focus) {
    color: rh-var("emphasis-color--focus");
    background-color: rh-var("complement-color--focus");
    border-color: rh-var("emphasis-color--focus");
  }
}

// CTA Unfilled
:host([unfilled]) {
  & ::slotted(a) {
    background-color: transparent !important;
    border-color: transparent !important;
  }

  // &::slotted(a:hover),
  // &::slotted(a:focus) {
  //   background-color: transparent !important;
  // }
}
