@import "../../pfe-sass/pfe-sass";

$LOCAL: card;

$LOCAL-VARIABLES: (
  // Individual padding overrides available
  PaddingTop: calc(#{pfe-var(container-spacer)} * 2),
  PaddingRight: calc(#{pfe-var(container-spacer)} * 2),
  PaddingBottom: calc(#{pfe-var(container-spacer)} * 2),
  PaddingLeft: calc(#{pfe-var(container-spacer)} * 2),

  //-- Border settings
  BorderRadius: pfe-var(surface--border-radius),

  //-- Color properties
  BackgroundColor: pfe-var(surface--base),
  BackgroundPosition: center center,

  spacing: pfe-var(container-spacer),

  header: (
    BackgroundColor: rgba(45, 45, 45, pfe-var(opacity)),
    Color:           pfe-broadcasted(text)
  ),

  footer: (
    spacing--horizontal: calc(#{pfe-var(container-spacer)} / 2)
  )

);

$LOCAL-VARIABLES: map-merge($LOCAL-VARIABLES, (
  // Internal spacing; elements inside the card (header, body, footer regions)
  spacing--vertical: pfe-local(spacing),

  // Combine above variables or allow single override point via variable
  Padding: pfe-local(PaddingTop) pfe-local(PaddingRight) pfe-local(PaddingBottom) pfe-local(PaddingLeft),

  //-- Border variable encompasses width, style, and color
  Border: pfe-local(BorderWidth, 0) pfe-local(BorderStyle, solid) pfe-local(BorderColor, pfe-var(surface--border))
));

:host {
  
  // Broadcasted values set to match background color
  @include pfe-set-broadcast-theme(light);
  --theme: light;

  // Start of style declarations for host element
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  // This allows the card to fill it's container if necessary
  align-self: stretch;

  padding:       pfe-local(Padding);
  border:        pfe-local(Border);
  border-radius: pfe-local(BorderRadius);

  // This property ensures that children in the slots do no overflow
  // the border-radius being set on the container
  overflow: hidden;

  // Base colors
  background-color:    pfe-local(BackgroundColor);
  background-position: pfe-local(BackgroundPosition);
  color: pfe-broadcasted(text);

  // Remove background color for print
  @include pfe-no-print-background;

  // Add the border to the card for print
  @include pfe-print-media {
    border-radius: pfe-fetch(surface--border-radius);
    border: pfe-fetch(surface--border-width) pfe-fetch(surface--border-style) map-get($pfe-colors, surface--border);
  }

  @include browser-query(ie11) {
    background-color: #{pfe-var(surface--lightest)} !important;
    color: #{pfe-var(text)} !important;
    background-image: none !important;
    border-radius: #{pfe-fetch(surface--border-radius)};
    border: #{pfe-fetch(surface--border-width) pfe-fetch(surface--border-style) map-get($pfe-colors, surface--border)};
    padding: #{pfe-var(container-spacer)};
  }
}

// Pull in pfe-var settings for all supported surface colors
@include pfe-surfaces;

@include pfe-theme-contexts; // imports on="light" etc support

:host([pfe-size="small"]) {
  --pfe-card--PaddingTop:     #{pfe-var(container-spacer)};
  --pfe-card--PaddingRight:   #{pfe-var(container-spacer)};
  --pfe-card--PaddingBottom:  #{pfe-var(container-spacer)};
  --pfe-card--PaddingLeft:    #{pfe-var(container-spacer)};
}

:host([pfe-border]:not([pfe-border="false"])) {
  --pfe-card--BorderWidth:   #{pfe-fetch(surface--border-width)};
}

// Targets the wrappers in the shadow DOM
.pfe-card {
  &__header,
  &__body,
  &__footer {
    ::slotted([pfe-overflow~="top"]) {
      z-index: 1;
      margin-top: -2rem; //IE11 fallback
      margin-top: calc(-1 * #{pfe-local(PaddingTop)}) !important;
      :host([has_header]) & {
        padding-top: #{pfe-local(spacing)};
      }
    }

    ::slotted([pfe-overflow~="right"]) {
      margin-right: -2rem; //IE11 fallback
      margin-right: calc(-1 * #{pfe-local(PaddingRight)});
    }

    ::slotted([pfe-overflow~="bottom"]) {
      margin-bottom: -2rem; //IE11 fallback
      margin-bottom: calc(-1 * calc(#{pfe-local(PaddingBottom)} + #{pfe-local(BorderRadius)}));
      align-self: flex-end;
    }

    ::slotted([pfe-overflow~="left"]) {
      margin-left: -2rem; //IE11 fallback
      margin-left: calc(-1 * #{pfe-local(PaddingLeft)});
    }

    ::slotted(img) {
      max-width: 100% !important;
      align-self: flex-start; //Don't stretch image 100% with other Flexbox items in card.
      object-fit: cover; // Fix distortion
    }

    ::slotted(img:not[pfe-overflow]) {
      align-self: flex-start; //Don't stretch image 100% with other Flexbox items in card.
    }

    ::slotted(img[pfe-overflow~="right"]) {
      max-width: calc(100% + 2rem) !important; //IE11 fallback
      max-width: calc(100% + #{pfe-local(PaddingRight)}) !important;
    }

    ::slotted(img[pfe-overflow~="left"]) {
      max-width: calc(100% + 2rem) !important; //IE11 fallback
      max-width: calc(100% + #{pfe-local(PaddingLeft)}) !important;
    }

    ::slotted(img[pfe-overflow~="right"][pfe-overflow~="left"]) {
      max-width: calc(100% + 4rem) !important; //IE11 fallback
      max-width: calc(100% + calc(#{pfe-local(PaddingRight)} + #{pfe-local(PaddingLeft)})) !important;
    }
  }
  &__header {
    z-index: 2;
    // Declare the header background color
    background-color: #{pfe-local(BackgroundColor, $region: header)};
    color:            #{pfe-local(Color, $region: header)};
    @include browser-query(ie11) {
      background-color: #{map-get($pfe-colors, surface--lighter)} !important;
      color: #{pfe-var(text)} !important;
    }

    // Margin styles on header region
    margin-top:    calc(#{pfe-local(PaddingTop)} * -1) !important;
    margin-right:  calc(#{pfe-local(PaddingRight)} * -1);
    margin-bottom: #{pfe-local(spacing--vertical)};
    margin-left:   calc(#{pfe-local(PaddingLeft)} * -1);

    // Padding for the header region
    padding-top:    #{pfe-local(spacing--vertical)};
    padding-right:  #{pfe-local(PaddingRight)};
    padding-left:   #{pfe-local(PaddingLeft)};
    padding-bottom: #{pfe-local(spacing--vertical)};

    :host(:not([has_body],[has_footer])) & {
      margin-bottom: #{pfe-local(PaddingBottom)};
    }

    ::slotted([pfe-overflow~="top"]) {
      --pfe-card__overflow--MarginTop: calc(#{pfe-local(PaddingTop)} * -1);
    }

    :host(:not([has_header])) & {
      display: none;
    }

    :host([has_body],[has_footer]) & ::slotted([pfe-overflow~="bottom"]) {
      --pfe-card__overflow--MarginBottom: calc(#{pfe-local(spacing--vertical)} * -1);
    }

    ::slotted([pfe-overflow~="bottom"]) {
      --pfe-card__overflow--MarginBottom: calc(#{pfe-local(PaddingBottom)} * -1);
    }

    @each $tag in (h1, h2, h3, h4, h5, h6) {
      ::slotted(#{$tag}) {
        margin-bottom: 0;
      }
    }
  }
  &__body {
    :host(:not([has_header])) & ::slotted([pfe-overflow~="top"]) {
      --pfe-card__overflow--MarginTop: calc(#{pfe-local(PaddingTop)} * -1);
    }

    ::slotted([pfe-overflow~="top"]) {
      z-index: 1;
      --pfe-card__overflow--MarginTop: calc(#{pfe-local(spacing--vertical)} * -1);
    }

    ::slotted([pfe-overflow~="bottom"]) {
      --pfe-card__overflow--MarginBottom: calc(#{pfe-local(PaddingBottom)} * -1);
    }

    :host([has_footer]) & ::slotted([pfe-overflow~="bottom"]) {
      --pfe-card__overflow--MarginBottom: calc(#{pfe-local(spacing--vertical)} * -1);
    }

    :host(:not([has_footer])) & {
      margin-bottom: 0;
    }
  }
  &__footer {
    margin-top: auto; // This allows the footer to move to the very bottom

    display: flex;
    flex-direction: #{pfe-local(Row, row, $region: footer)};
    flex-wrap: #{pfe-local(Wrap, wrap, $region: footer)};
    // Aligns buttons and CTAs
    align-items: #{pfe-local(AlignItems, baseline, $region: footer)};

    ::slotted([pfe-overflow~="bottom"]) {
      --pfe-card__overflow--MarginBottom: calc(#{pfe-local(PaddingBottom)} * -1);
    }

    :host(:not([has_footer])) & {
      display: none;
    }
  }
  &__header,
  &__body {
    margin-bottom: #{pfe-local(spacing--vertical)};

    //-- Slotted styles for typography
    // Remove margins from typography inside the slots
    @each $tag in (p, h1, h2, h3, h4, h5, h6) {
      ::slotted(#{$tag}:first-child) {
        // Remove top margins
        margin-top: 0;
      }
    }
  }
}
