/* 
NOTE: This file sets the value of CSS variables which can conflict with a theme. Use with caution. 
*/

@import "../../pfe-sass/pfe-sass";

:root {
  // reset values for vars that drive individual headings
  --pfe-theme--base--text:          #{pfe-fetch( base--text--mobile)};
  --pfe-theme--base--heading:       #{pfe-fetch( base--heading--mobile)};
  --pfe-theme--base--heading-lg:    #{pfe-fetch( base--heading-lg--mobile)};
}

@media (min-width: #{pfe-breakpoint(md)}) { 
  :root {
    // set values for vars that drive individual headings
    --pfe-theme--base--text:             #{ pfe-fetch( base--text) };
    --pfe-theme--base--heading:          #{ pfe-fetch( base--heading) };
    --pfe-theme--base--heading-lg:       #{ pfe-fetch( base--heading-lg) };
  }
}
  /*
  Optionally you may override individual t-shirt sizes, which impacts the whole project
  --pf-global--FontSize--6xl:   37px;
  --pf-global--FontSize--5xl:   29px;
  --pf-global--FontSize--4xl:    25px;
  --pf-global--FontSize--6xl:    19px;
  --pf-global--FontSize--5xl:    15px;
  --pf-global--FontSize--4xl:    11px;
  --pf-global--FontSize--6xl:    9px;

  Optionally you may override individual title sizes, which impacts title classes only
  --pf-c--title--m-3xl--FontSize:   37px;
  --pf-c--title--m-2xl--FontSize:   29px;
  --pf-c--title--m-xl--FontSize:    25px;
  --pf-c--title--m-lg--FontSize:    19px;
  --pf-c--title--m-md--FontSize:    15px;
  --pf-c--title--m-sm--FontSize:    11px;
  --pf-c--title--m-xs--FontSize:    9px;
  */


