/* DEMO FILE ONLY, NOT FOR PRODUCTION USE */
@import "../../pfe-sass/pfe-sass";

:root {

    @each $name,
    $color in $pfe-colors {
        --theme--color--#{$name}: #{$color};
    }
}

@function contexts($list) {
    @each $item in $list {
        @if str-starts-with($item, "on") {
            @return '[on="#{nth(str-split($item, "-"), 2)}"] ';
        }
    }

    @return "";
}

@function states($list) {
    @each $s in (hover, focus, visited) {
        @if index($list, $s) {
            @return "--#{$s}";
        }
    }

    @return "";
}

@function contexts($list, $color) {
    @if index($list, context) {
        @return $color;
    }

    @return "";
}

@each $name,
$color in $pfe-colors {
    $list: str-split($name, $separator: "--");
    $property: background-color;
    $state: #{states($list)};
    $context: #{contexts($list, $color)};

    @if length($list)>1 {
        @if index($list, "text") {
            $property: color;
        }
    }

    // UI styles, not link
    @if str-starts-with(#{first($list)}, "ui") and not (str-starts-with(#{first($list)}, "link")) {
        #{unquote($context)}.#{first($list)}#{unquote($state)} {
            #{$property}: var(--theme--#{$name}, #{$color});
        }
    }

    // Surface styles
    @if index($list, "surface") {
        #{unquote($context)}.#{nth($list, 2)}#{unquote($state)} {
            @if $context != "" and $context != light {
                color: pfe-var(text--on-#{$context});
            } @else if $context == light {
                color: pfe-var(text);
            }
            @else {
                #{$property}: var(--theme--#{$name}, #{$color}) !important;
            }
        }
    }
}

// Demo page styles
body {
    padding: 32px;
    background: #e7e7e7;
    color: #1a1a1a;
}

article {
    padding: 32px 0;
}

.white-box {
    padding: 32px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    margin: 32px 0 !important;
    
    > *:first-child {
        margin-top: 0;
    }

    >h4 {
        margin-top: 32px;
    }
}

pre {
    padding: 8px;
}

.layouts .pfe-l-grid {
    .pfe-l-grid__item,
    >div:not([class]) {
        background: #e0d7ee;
    }
    >* {
        padding: 8px;
    }
}

:not(pre)>code[class*=language-],
pre[class*=language-] {
    background: #f2f2f2;
}