@import "../../pfe-sass/pfe-sass";

// Deprecated header classes
@each $size in (xxl, xl, alpha, beta, gamma, delta, epsilon, zeta) {
  .pfe-headline-#{$size}  {
      @extend %pfe-headline-#{$size}; 
  }
}
 
// TEXT
.pfe-text-lg {
    @extend %pfe-text-lg;
}
.pfe-text-md,
.pfe-text {
    @extend %pfe-text;
}
.pfe-text-sm {
    @extend %pfe-text-sm;
}
.pfe-text-xs {
    @extend %pfe-text-xs;
}  
