@import "../../pfe-sass/pfe-sass";

// Deprecated header classes
.pfe-headline--xxl  {
    font-family: pfe-var(font-family--heading);
    font-size:   pfe-var(font-size--xxl);  
    line-height: pfe-var(line-height);
    font-weight: pfe-var(font-weight--light);
}
.pfe-headline--xl  {
    font-family: pfe-var(font-family--heading);
    font-size:   pfe-var(font-size--xl);  
    line-height: pfe-var(line-height);
    font-weight: pfe-var(font-weight--light);
}
.pfe-headline--alpha {
    font-family: pfe-var(font-family--heading);
    font-size:   pfe-var(font-size--alpha);  
    line-height: pfe-var(line-height);
    font-weight: pfe-var(font-weight--normal);
}
.pfe-headline--beta {
    font-family: pfe-var(font-family--heading);
    font-size:   pfe-var(font-size--beta);  
    line-height: pfe-var(line-height);
    font-weight: pfe-var(font-weight--normal);
}
.pfe-headline--gamma { 
    font-family: pfe-var(font-family--heading);
    font-size:   pfe-var(font-size--gamma);  
    line-height: pfe-var(line-height);
    font-weight: pfe-var(font-weight--normal);
}
.pfe-headline--delta  { 
    font-family: pfe-var(font-family--heading);
    font-size:   pfe-var(font-size--delta); 
    line-height: pfe-var(line-height);
    font-weight: pfe-var(font-weight--normal);
}
 
.pfe-headline--epsilon { 
    font-family: pfe-var(font-family--heading);
    font-size:   pfe-var(font-size--epsilon); 
    line-height: pfe-var(line-height);
    font-weight: pfe-var(font-weight--normal);
}

.pfe-headline--zeta { 
    font-family: pfe-var(font-family--heading);
    font-size:   pfe-var(font-size--zeta); 
    line-height: pfe-var(line-height);
    font-weight: pfe-var(font-weight--normal);
}

 
// TEXT
.pfe-text-lg {
    @extend %pfe-text-lg;
}
.pfe-text {
    @extend %pfe-text;
}
.pfe-text-sm {
    @extend %pfe-text-sm;
}
.pfe-text-xs {
    @extend %pfe-text-xs;
}  

[class^="pfe-headline"]:not(:last-child) {
    margin-bottom: pfe-var(content-spacer--heading--sm); 
}
.pfe-headline-xxl:not(:last-child),
.pfe-headline-xl:not(:last-child) {
    margin-bottom: pfe-var(content-spacer--heading--lg); 
}