@import "../../pfe-sass/pfe-sass";

// Helper classes to aid in theming on custom pages
@each $theme in (dark, saturated, light) {
    .on-#{$theme} {
        @include pfe-set-broadcast-theme($theme);
        --theme: #{$theme};
    }
}
