/* 
NOTE: This file sets the value of CSS variables which can conflict with a theme. Use with caution. 
*/

@import "../../pfe-sass/pfe-sass";

:root {
  // set values for vars that drive individual headings
  --pfe-theme--base--text:          #{ map-get($pfe-vars, base--text) };
  --pfe-theme--base--heading:       #{ map-get($pfe-vars, base--heading) };
  --pfe-theme--base--heading-lg:    #{ map-get($pfe-vars, base--heading-lg) };

  // set individual header & text vars
  --pfe-theme--font-size--heading--3xl:     #{ map-get($pfe-vars, FontSize--3xl) };  // 48px 
  --pfe-theme--font-size--heading--2xl:     #{ map-get($pfe-vars, FontSize--2xl) };  // 40px 
  --pfe-theme--font-size--heading--xl:      #{ map-get($pfe-vars, FontSize--xl) };   // 36px 
  --pfe-theme--font-size--heading--lg:      #{ map-get($pfe-vars, FontSize--lg) };   // 30px 
  --pfe-theme--font-size--heading--md:      #{ map-get($pfe-vars, FontSize--md) };   // 26px 
  --pfe-theme--font-size--heading--sm:      #{ map-get($pfe-vars, FontSize--sm) };   // 20px 
  --pfe-theme--font-size--heading--xs:      #{ map-get($pfe-vars, FontSize--xs) };   // 18px 
  --pfe-theme--font-size--default-lg:       #{ map-get($pfe-vars, FontSize--xs) };   // 18px
  --pfe-theme--font-size:                   #{ map-get($pfe-vars, FontSize--2xs) };  // 16px
  --pfe-theme--font-size--default-sm:       #{ map-get($pfe-vars, FontSize--3xs) };  // 14px
  --pfe-theme--font-size--default-xs:       #{ map-get($pfe-vars, FontSize--4xs) };  // 12px
}

// reset base text values for small screens 
@media (max-width: #{pfe-breakpoint(md)}) { 
  :root {
    // reset values for vars that drive individual headings
    --pfe-theme--base--text:          #{map-get($pfe-vars, base--text--mobile)};
    --pfe-theme--base--heading:       #{map-get($pfe-vars, base--heading--mobile)};
    --pfe-theme--base--heading-lg:    #{map-get($pfe-vars, base--heading-lg--mobile)};
  }
}