/* 
NOTE: This file sets the value of CSS variables which can conflict with a theme. Use with caution. 
*/

@import "../../pfe-sass/pfe-sass";

:root {
  font-size: 1em;
    @each $property, $value in $pf-type-sizing {
      --pf-global--#{$property}:  #{ pf-font-prem( $value ) };
    }
}

@media (max-width: #{pfe-breakpoint(md)}) { 
  :root {
    /* reset base unit globally */
    font-size: .7em;
    /* or reset each individually */
    /* --pf-global--FontSize--6xl:   35px; */
    /* --pf-global--FontSize--5xl:   29px; */
    /* --pf-global--FontSize--4xl:   26px; */
    /* --pf-global--FontSize--3xl:   24px; */
    /* --pf-global--FontSize--2xl:   20px; */
    /* --pf-global--FontSize--xl:    18px; */
    /* --pf-global--FontSize--lg:    16px; */
    /* --pf-global--FontSize--md:    14px; */
    /* --pf-global--FontSize--sm:    12px; */
    /* --pf-global--FontSize--xs:    11px; */
  }
}
