@import "../../pfe-sass/pfe-sass";

.pfe-headline-xxl {
    @extend %pfe-headline-xxl;
}

.pfe-headline-xl {
    @extend %pfe-headline-xl;
}

h1,
.pfe-headline-alpha {
    @extend %pfe-headline-alpha;
}

h2,
.pfe-headline-beta {
    @extend %pfe-headline-beta;
}

h3,
.pfe-headline-gamma {
    @extend %pfe-headline-gamma;
}

h4,
.pfe-headline-delta {
    @extend %pfe-headline-delta;
}

h5,
.pfe-headline-epsilon {
    @extend %pfe-headline-epsilon;
}

h6,
.pfe-headline-zeta {
    @extend %pfe-headline-zeta;
}

.pfe-text-lg {
    @extend %pfe-text-lg;
}
p,
.pfe-text {
    @extend %pfe-text;
}

.pfe-text-sm {
    @extend %pfe-text-sm;
}

.pfe-text-xs {
    @extend %pfe-text-xs;
}  

[class^="pfe-headline"]:not(:last-child) {
    margin-bottom: pfe-var(content-spacer--heading--sm); 
}
.pfe-headline-alpha:not(:last-child) {
    margin-bottom: pfe-var(content-spacer--heading--lg); 
}
.pfe-headline-beta:not(:last-child) {
    margin-bottom: pfe-var(content-spacer--heading--md); 
}
 
