// Please see the pfe-sass README for guidance on using these tools
@import "../../pfe-sass/pfe-sass";

$LOCAL: jump-links;

$variables: (
  horizontal-spacer: calc(#{pfe-var(container-padding)} * 2),
  vertical-spacer: calc(#{pfe-var(container-padding)} * 2),
  BackgroundColor: pfe-color(surface--lightest),
  BorderColor: #{pfe-color(ui-base)},
  FontSize: #{pfe-var(font-size--heading--epsilon)},
  heading: (FontSize: #{pfe-var(font-size--heading--zeta)}),
  link: (horizontal-spacer: calc(#{pfe-var(content-spacer)} / 3),
    vertical-spacer: calc(#{pfe-var(content-spacer)} / 6),
  ));

:host {
  @include pfe-print-variables($variables);

  box-sizing: border-box;
  font-weight: #{pfe-var(font-weight--normal)};
  font-weight: 400;
  display: block;
  position: sticky;
  top: calc(#{pfe-var(container-spacer)} * 4);
  padding-left: 0;

  @media(min-width: #{pfe-breakpoint(lg)}) {
    padding: #{pfe-local(vertical-spacer)} #{pfe-local(horizontal-spacer)};
  }

  &[pfe-sticky=false] {
    position: relative;
  }

  nav {
    visibility: visible;
  }

  pfe-accordion {
    --pfe-accordion--BackgroundColor: transparent;
    --pfe-accordion--BorderColor: #ccc;
    --pfe-accordion--BorderColor--accent: transparent;
    --pfe-accordion--accent: transparent;
    --pfe-accordion--BorderColor: transparent;
    --pfe-accordion--BorderColor--accent: transparent;
  @media(min-width: #{pfe-breakpoint(lg)}) {
    --pfe-accordion--base--Padding: 0 !important;
  }
    // hide accordion left border:
    --pfe-theme--surface--border-style: solid;
    --pfe-theme--color--surface--border: transparent;
    --pfe-theme--color--ui-base--on-dark: transparent;
    --pfe-theme--color--ui-base: transparent;

    button {
      text-decoration: none;
    }
  }

  pfe-accordion-header {
    position: sticky;
    top: 0;
  }
}

nav {
  margin: 0;
  list-style: none;
  padding: 0;
  ::slotted([slot="pfe-jump-links-nav--heading"]) {
     margin: 0;
    
    margin-bottom: calc(#{pfe-var(container-spacer)} * 1);
    font-size: #{pfe-local($cssvar: FontSize, $region: heading)};
    font-weight: 400;
    text-transform: uppercase;

    @media (max-width: #{pfe-breakpoint(lg, $max: true)}) {
      display: none;
    }
  }

  .sub-nav {
    margin: 0;
    padding: 0;
    border: none !important;
    li {
      border: none !important;
    }
    overflow-y: hidden;
    transition: flex 1s linear;
    display: flex;
    flex-direction: column;
    flex: 0;
  }

  li {
    border-left: #{pfe-var(surface--border-width--heavy)} solid transparent;
    display: block;
    text-decoration: none;

    &.expand {
      .sub-nav {
        flex: 1;
      }

      .sub-section {
        display: table;
        height: auto;
      }
    }
  }

  a {
    display: table;
    text-decoration: none;
    font-size: #{pfe-local(FontSize)};
    padding: calc(#{pfe-local(vertical-spacer, $region: link)} * 2) calc(#{pfe-local(horizontal-spacer, $region: link)} * 2);
    line-height: #{pfe-var(line-height)};
    position: relative;
    &.has-sub-section {
      padding-bottom: calc(#{pfe-local(vertical-spacer, $region: link)});
    }
    &.sub-section {
      @media(min-width: #{pfe-breakpoint(lg)}) {
        display: none;
      }

      margin-left: calc(#{pfe-var(container-spacer)} * 0.75);
      font-size: calc(#{pfe-local(FontSize)} * 0.85);
      padding: calc(#{pfe-local(vertical-spacer, $region: link)} * 1) calc(#{pfe-local(horizontal-spacer, $region: link)} * 2);
      &:last-child {
        padding-bottom: calc(#{pfe-local(horizontal-spacer, $region: link)} * 1);
      }
    }

    &::after {
      content: "";
      position: absolute;
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      top: 0;
      left: 0;
    }

    &:focus {
      outline: none;

      &::after {
        border-radius: 3px;
        border: 2px solid #{pfe-color(link)};
      }
    }
  }
}

//default styles
:host {
  background-color: #{pfe-local(BackgroundColor)};

  @media (max-width: #{pfe-breakpoint(lg, $max: true)}) {
    pfe-accordion {
      border: 1px solid #{pfe-color(ui-disabled)};
    }

    pfe-accordion-header {
      background-color: #{pfe-color(surface--lightest)};
      --theme: light;
    }
  }

  @media(min-width: #{pfe-breakpoint(lg)}) {
    border: 1px solid transparent;
  }

  ::slotted([slot="pfe-jump-links-nav--heading"]) {
    color: #{pfe-broadcasted(text)};
  }

  ul {
    padding: 0;
    border-left: #{pfe-var(surface--border-width)} #{pfe-var(surface--border-style)} #{pfe-color(ui-disabled)};
  }

  li {
    &[active] {
      border-left-color: #{pfe-local(BorderColor)};
    }
  }

  a {
    color: #{pfe-color(ui-disabled--text)};
    position: relative;

    &:hover {
      color: #{pfe-color(surface--darkest)};
    }

    &[active] {
      color: #{pfe-color(surface--darkest)};
    }

    &::after {
      content: "";
      position: absolute;
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      top: 0;
      left: 0;
    }

    &:focus {
      outline: none;

      &::after {
        border-radius: 3px;
        border: 2px solid #{pfe-color(link--on-dark)}
      }
    }
  }
}

:host([pfe-color="darkest"]) {
  --theme: dark;

  pfe-accordion-header,
  pfe-accordion-panel,
  button[aria-expanded=true] {
    --pfe-accordion--BackgroundColor: #{pfe-color(surface--darkest)};
    --pfe-jump-links--BackgroundColor: #{pfe-color(surface--darkest)};
  }

  ::slotted([slot="pfe-jump-links-nav--heading"]) {
    color: #{pfe-color(surface--lighter)};
  }

  background-color: #{pfe-color(surface--darkest)};
  border: 1px solid #{pfe-color(ui-disabled--text)};

  ul {
    border-left: 1px solid #{pfe-color(ui-disabled--text)};

    li {
      &[active] {
        border-left: 3px #{pfe-var(surface--border-style)} #{pfe-color(ui-accent)};
      }
    }

    a {
      color: #{pfe-color(ui-complement--focus--on-dark)};

      &:hover {
        color: #{pfe-color(ui-complement--hover--on-dark)};
      }

      &[active] {
        color: #{pfe-color(ui-complement--on-dark)};
      }

      &::after {
        content: "";
        position: absolute;
        width: calc(100% - 4px);
        height: calc(100% - 4px);
        top: 0;
        left: 0;
      }

      &:focus {
        outline: none;

        &::after {
          border-radius: 3px;
          border: 2px solid #{pfe-color(link--on-dark)};
        }
      }
    }
  }
}

:host([hidden]) {
  display: none;
}

:host([horizontal]) {
  padding: 0;
  top: 0;
  width: 100%;

  nav {
    min-height: calc(#{pfe-var(container-spacer)} * 5.5);
    background-color: pfe-color(surface--lighter);
    display: flex;
    position: relative;
    .pfe-jump-links-nav__heading {
      display: none;
    }

    ::slotted([slot="pfe-jump-links-nav--logo"]) {
      position: absolute;
      left: 0;
      max-height: calc(#{pfe-var(container-spacer)} * 3.5);
      max-width: calc(#{pfe-var(container-spacer)} * 14);
      top: calc(#{pfe-var(container-spacer)} * 1);

      @media (max-width: #{pfe-breakpoint(lg, $max: true)}) {
        left: calc(#{pfe-var(container-spacer)} * 2);
      }

      @media(min-width: #{pfe-breakpoint(lg)}) {
        left: calc(#{pfe-var(container-spacer)} * 4);
      }
    }

    ::slotted([slot="pfe-jump-links-nav--cta"]) {
      position: absolute;

      @media (max-width: #{pfe-breakpoint(lg, $max: true)}) {
        right: calc(#{pfe-var(container-spacer)} * 2);
      }

      @media(min-width: #{pfe-breakpoint(lg)}) {
        right: calc(#{pfe-var(container-spacer)} * 4);
      }

      top: calc(#{pfe-var(container-spacer)} * 1);
    }
  }

  #container {
    flex: 1;
    display: flex;
    justify-items: center;
    flex-direction: column;
  }

  ul {
    border: none;
    display: block;
    text-align: center;
    flex: 1;
    display: flex;
    padding: 0;
    width: auto;
    margin: 0;
    margin-left: auto;
    margin-right: auto;

    li {
      padding: 0 calc(#{pfe-var(container-spacer)} * 1.5);
      display: flex;
      height: calc(#{pfe-var(container-spacer)} * 5);
      align-items: center;
      border-top: 4px solid transparent;
      border-bottom: 4px solid transparent;
      border-left: none;
      border-right: none;

      &[active] {
        border-top: 4px solid #{pfe-color(ui-accent)};
      }
    }

    a {
      text-decoration: none;
      color: #{pfe-color(ui-disabled--text)};
      &[active] {
        color: #{pfe-color(surface--darkest)};
      }
      &:hover {
        color: #{pfe-color(surface--darkest)};
      }
    }
  }

  @media (max-width: #{pfe-breakpoint(lg, $max: true)}) {
    nav {
      min-height: calc(#{pfe-var(container-spacer)} * 5.5);
      background-color: #{pfe-color(surface--lighter)}
    }

    .pfe-jump-links-nav {
      display: none;
    }
  }
}

@media(min-width: #{pfe-breakpoint(lg)}) {
  pfe-accordion-header {
    visibility: collapse !important;
    display: none;
  }

  pfe-accordion-panel {
    visibility: collapse;
    display: none;
    opacity: 1;
    display: block;
  }

  pfe-accordion-panel>pfe-jump-links-nav {
    width: 100%;
    display: block;
    visibility: visible;
  }
}