// Please see the pfe-sass README for guidance on using these tools
@import "../../pfe-sass/pfe-sass";


$LOCAL: clipboard;

// Example local variable, using BEM format
// --pfe-clipboard__region--Property: value;

// This variable is global so that helper functions can reference it
$LOCAL-VARIABLES: (
  FontSize: 1rem,
  Color: pfe-broadcasted(link),
  IconWidth: 16px,
  IconHeight: 16px
);

@mixin pfe-clipboard {
  display: inline-flex;
  flex: 0 0 auto;
  align-items: center;
  cursor: pointer;
  // @todo: focus outline on custom icons needs fixed
  &:focus {
    border: 1px solid white;
    outline: 0;
  }
  &[aria-pressed="true"] {
    background-color: #e4e4e4;
    color: #137a5a;
  }
}

:host {
  // Avoid printing local variables on host, instead use the pfe-local() function to set property values
  // Example: color: pfe-local(Color);
  display: flex;
  align-items: center;
  @include pfe-clipboard;
}

:host([hidden]) {
  display: none;
}

//-- Custom styles applied to slot
// @todo this need explained better
// This selector targets a elements that are
// in the pfe-clipboard--icon named lightdom slot override or
// in the pfe-clipboard--icon default in the shadowdom.
::slotted([slot="pfe-clipboard--icon"]),
.pfe-clipboard__icon > * {
  width: 100%;
  fill: blue;
}

//-- Custom styles applied to slot's shadow element
.pfe-clipboard {
  @include pfe-clipboard;
  &:focus {
    border: 1px solid white;
    outline: 0;
  }
  &[aria-pressed="true"] {
    background-color: #e4e4e4;
    color: #137a5a;
  }

  &__icon {
    display: flex;
    width: 1rem;
    height: 1rem;
    margin-right: 0.4825rem; // 7.72px
  }
  &__text {
    font-size: pfe-local(FontSize) !important;
    color: pfe-local(Color) !important;
  }
}