// Please see the pfe-sass README for guidance on using these tools
@import "../../pfe-sass/pfe-sass";


$LOCAL: clipboard;

$pfe-clipboard--BackgroundColor--focus: rgba(40, 151, 240, 0.2);
$pfe-clipboard--Color--fallback: #0066CC;

// Example local variable, using BEM format
// --pfe-clipboard__region--Property: value;

// This variable is global so that helper functions can reference it
$LOCAL-VARIABLES: (
  BackgroundColor: transparent,
  BackgroundColor--hover: transparent,
  BackgroundColor--focus: $pfe-clipboard--BackgroundColor--focus,
  FontSize: 1rem,
  FontWeight: pfe-var(font-weight--light),
  Color: pfe-broadcasted(link),
  Color--hover: pfe-broadcasted(link--hover),
  Color--focus: pfe-broadcasted(link--focus),
  BorderColor: transparent,
  BorderSize: 2px,
  BorderRadius: 2px,
  BorderStyle: pfe-var(ui--border-style),
  BorderColor--focus: pfe-broadcasted(link),
  icon--Width: 16px,
  icon--Height: auto,
  container--Display: flex,
  toast--Position: fixed
);

:host {
  display: block;
}

:host([hidden]) {
  display: none;
}

//-- Custom styles applied to slot's shadow element
.pfe-clipboard {
  &__container {
    display: pfe-local(container--Display);
    flex: 0 0 auto;
    align-items: center;
    max-width: fit-content;
    border: 1px solid transparent;
    color: pfe-local(Color) !important;
    font-weight: pfe-local(FontWeight);
    cursor: pointer;
    // @todo: How should we handle padding with inline elements?
    padding: 6px 16px;
  }
  &__icon {
    display: flex;
    width: pfe-local(icon--Width);
    // This is needed if the icon isn't square
    height: pfe-local(icon--Height);
    margin-right: 0.4825rem; // 7.72px 
  }
  &__text {
    font-size: pfe-local(FontSize) !important;
    color: pfe-local(Color) !important;
  }
}

// Flipped clipboard text and success text
:host(:not([copied])) .pfe-clipboard__text,
.pfe-clipboard:not([copied]) .pfe-clipboard__text {
  display: block;
}
:host([copied]) .pfe-clipboard__text,
.pfe-clipboard[copied] .pfe-clipboard__text {
  display: none;
}
:host(:not([copied])) .pfe-clipboard__text--success,
.pfe-clipboard:not([copied]) .pfe-clipboard__text--success {
  display: none;
}
:host([copied]) .pfe-clipboard__text--success,
.pfe-clipboard[copied] .pfe-clipboard__text--success {
  display: block;
}

//-- Custom styles applied to slot
// Targets icon in the shadowdom and lightdom
::slotted([slot="pfe-clipboard--icon"]),
.pfe-clipboard__icon > * {
  width: 100%;
}

// Set the toast to fixed so that it always shows on the top right corner
pfe-toast {
  position: pfe-local(toast--Position);
}

/// ===========================================================================
/// CTA STATES: HOVER, FOCUS
/// ===========================================================================

// Note: Focus states need to be defined before hover states
.pfe-clipboard__container:not([aria-disabled="true"]):focus,
.pfe-clipboard__container:not([aria-disabled="true"]).focus-within {
  @include pfe-print-local((
    Color: pfe-local(Color--focus),
    TextDecoration: pfe-local(TextDecoration--focus),
    inner: (BorderColor: pfe-local(BorderColor--focus, $region: inner))
  ));
}

// Note: Hover states need to be defined after focus states
.pfe-clipboard__container:not([aria-disabled="true"]):hover,
.pfe-clipboard__container:not([aria-disabled="true"]) ::slotted(:hover) {
  @include pfe-print-local((
    Color: pfe-local(Color--hover),
    TextDecoration: pfe-local(TextDecoration--hover),
    inner: (BorderColor: pfe-local(BorderColor--hover, $region: inner)),
  ));
}

// Make ie11 look like a button
@include browser-query(ie11) {
  .pfe-clipboard__container {
    // fallback for inline-flex
    display: inline-block;
  }
  .pfe-clipboard__icon {
    display: inline-block;
    margin-right: 0;
  }
  .pfe-clipboard__text {
    display: inline-block;
  }
}
