// Please see the pfe-sass README for guidance on using these tools
@import "../../pfe-sass/pfe-sass";

$LOCAL: clipboard;

// This variable is global so that helper functions can reference it
$LOCAL-VARIABLES: (
  Padding: 6px 16px,
  FontWeight: pfe-var(font-weight--light),
  Color: pfe-broadcasted(link),
  Color--hover: pfe-broadcasted(link--hover),
  Color--focus: pfe-broadcasted(link--focus),
  Color--disabled: pfe-var(ui-disabled--text),
  text--success--Color: pfe-var(feedback--success),
  icon--Width: pfe-var(icon-size),
  icon--Height: auto,
  icon--Margin: 0 0.4825rem 0 0, // 7.72px
  icon--Color: pfe-var(text--muted),
  icon--Color--hover: pfe-var(ui-base--hover),
  icon--Color--dark: pfe-var(text--muted--on-dark),
  icon--Color--hover--dark: pfe-var(text--on-dark),
  icon--Color--saturated: pfe-var(text--muted--on-saturated),
  icon--Color--hover--saturated: pfe-var(text--on-saturated),
);

:host {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  max-width: fit-content;
  color: pfe-local(Color) !important;
  cursor: pointer;
  padding: pfe-local(Padding);
  font-weight: pfe-local(FontWeight);
  @include pfe-c-typography($type: text, $sizing: md);
}

:host([hidden]) {
  display: none;
}

//-- Custom styles applied to slot's shadow element
.pfe-clipboard {
  &__icon {
    display: flex;
    width: pfe-local(icon--Width);
    // This is needed if the icon isn't square
    height: pfe-local(icon--Height);
    margin: pfe-local(icon--Margin);
    // Customize icon color for pfe-icons
    --pfe-icon--Color: #{pfe-local(icon--Color)};
    svg {
      // Customize icon color of fallback svg icon
      fill: pfe-local(icon--Color) !important;
    }

    :host([disabled]) & {
      opacity: 0.4;
    }
  }
  &__text {
    color: pfe-local(Color) !important;

    :host([disabled]) & {
      color: pfe-local(Color--disabled) !important;
    }
  }

  &__text--success {
    color: pfe-local(text--success--Color) !important;
  }
}

// Attach variables to hover, focus states
:host(:hover),
:host(:focus) {
  .pfe-clipboard {
    &__text {
      color: pfe-local(Color--hover) !important;
    }
    &__icon {
      // Customize icon color for pfe-icons
      --pfe-icon--Color: #{pfe-local(icon--Color--hover)};
      svg {
        // Customize icon color of fallback svg icon
        fill: pfe-local(icon--Color--hover) !important;
      }
    }
  }
}

// Flipped clipboard text and success text
:host([copied]) .pfe-clipboard__text,
.pfe-clipboard[copied] .pfe-clipboard__text {
  display: none !important;
}
:host(:not([copied])) .pfe-clipboard__text--success,
.pfe-clipboard:not([copied]) .pfe-clipboard__text--success {
  display: none !important;
}

//-- Custom styles applied to slot
// Targets icon in the shadowdom and lightdom
::slotted([slot="icon"]),
.pfe-clipboard__icon > * {
  width: 100%;
}

:host([on="dark"]) {
  --pfe-clipboard--icon--Color: #{pfe-local(icon--Color--dark)};
  --pfe-clipboard--icon--Color--hover: #{pfe-local(icon--Color--hover--dark)};
}

:host([on="saturated"]) {
  --pfe-clipboard--icon--Color: #{pfe-local(icon--Color--saturated)};
  --pfe-clipboard--icon--Color--hover: #{pfe-local(icon--Color--hover--saturated)};
}

@include browser-query(ie11) {
  :host {
    // fallback for inline-flex
    display: inline-block;
  }
  .pfe-clipboard__icon {
    display: inline-block;
    margin-right: 0;
  }
  .pfe-clipboard__text {
    display: inline-block;
  }
  .pfe-clipboard__text--success {
    display: inline-block;
  }
}
