main {
  padding: 1em;
}

a.pfe-jump-links-nav__item {
  /* Just in here for sanity knowing outside styles can't leak in */
  color: orange !important;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 80;
}

.sticky pfe-jump-links-nav {
  top: 0 !important;
}

#jumplinks9 {
  --pfe-jump-links--offset: 0;
}


#jumplinks1000 {
  --pfe-jump-links--BackgroundColor: #fff;
  --pfe-jump-links--BorderColor: #e00;
  --pfe-jump-links--FontSize: 16px;
  --pfe-jump-links__heading--FontSize: 12px;
  --pfe-jump-links__nav--Padding: 30px;
}

@media(min-width: 992px) {
  #jumplinks9 {
    --pfe-jump-links--offset: 130px;
  }

  .sticky {
    top: 150px !important;
  }
}
