:host {
  --_width: var(--pf-v6-c-avatar--Width, 2.25rem);
  --_height: var(--pf-v6-c-avatar--Height, 2.25rem);
  --_border-radius: var(--pf-v6-c-avatar--BorderRadius, var(--pf-t--global--border--radius--pill, 30em));
  --_border-color: var(--pf-v6-c-avatar--BorderColor, transparent);
  --_border-width: var(--pf-v6-c-avatar--BorderWidth, 0);
  --_placeholder-bg: light-dark(#f0f0f0, #212427);
  --_placeholder-fg: light-dark(#d2d2d2, #6a6e73);

  display: inline-block;
  width: var(--_width);
  height: var(--_height);
  border-radius: var(--_border-radius);
}

:host([hidden]),
[hidden] {
  display: none !important;
}

:host([bordered]) {
  --_border-color: var(--pf-v6-c-avatar--m-bordered--BorderColor, var(--pf-t--global--border--color--default, #d2d2d2));
  --_border-width: var(--pf-v6-c-avatar--m-bordered--BorderWidth, var(--pf-t--global--border--width--box--default, 1px));
}

:host([size="sm"]) {
  --_width: var(--pf-v6-c-avatar--m-sm--Width, 1.5rem);
  --_height: var(--pf-v6-c-avatar--m-sm--Height, 1.5rem);
}

:host([size="md"]) {
  --_width: var(--pf-v6-c-avatar--m-md--Width, 2.25rem);
  --_height: var(--pf-v6-c-avatar--m-md--Height, 2.25rem);
}

:host([size="lg"]) {
  --_width: var(--pf-v6-c-avatar--m-lg--Width, 4.5rem);
  --_height: var(--pf-v6-c-avatar--m-lg--Height, 4.5rem);
}

:host([size="xl"]) {
  --_width: var(--pf-v6-c-avatar--m-xl--Width, 8rem);
  --_height: var(--pf-v6-c-avatar--m-xl--Height, 8rem);
}

svg,
img {
  display: block;
  object-fit: cover;
  width: var(--_width);
  height: var(--_height);
  border-radius: var(--_border-radius);
  border: var(--_border-width) solid var(--_border-color);
}
