:host {
  display: inline;
}


#container {
  display: inline-flex;
  position: relative;
  --_floating-arrow-size: 0.5rem;
}

#invoker {
  display: inline-block;
  position: relative;
}

#tooltip,
#tooltip::after {
  position: absolute;
}

#tooltip {
  display: block;
  opacity: 0;
  pointer-events: none;
  z-index: 10000;
  transition: opacity 300ms cubic-bezier(0.54, 1.5, 0.38, 1.11) 0s;
  text-align: center;
  word-break: break-word;
  translate: var(--_floating-content-translate);
  max-width: calc(100vw - 10px);
  width: max-content;
  top: 0;
  left: 0;
  will-change: opacity;
}

#tooltip::after {
  display: block;
  content: '';
  rotate: 45deg;
  width: var(--_floating-arrow-size);
  height: var(--_floating-arrow-size);
  will-change: left top right bottom;
}

.open #tooltip {
  opacity: 1;
}

/* LEFT */
.left #tooltip::after          { right: calc(-0.5 * var(--_floating-arrow-size)); }
.left.center #tooltip::after   { top: calc(50% - 0.5 * var(--_floating-arrow-size)); }
.left.start #tooltip::after    { top: var(--_floating-arrow-size); }
.left.end #tooltip::after      { bottom: var(--_floating-arrow-size); }

/* TOP */
.top #tooltip::after           { top: calc(100% - 0.5 * var(--_floating-arrow-size)); }
.top.center #tooltip::after    { right: calc(50% - 0.5 * var(--_floating-arrow-size)); }
.top.start #tooltip::after     { left: var(--_floating-arrow-size); }
.top.end #tooltip::after       { right: var(--_floating-arrow-size); }

/* RIGHT */
.right #tooltip::after         { right: calc(100% - 0.5 * var(--_floating-arrow-size)); }
.right.center #tooltip::after  { top: calc(50% - 0.5 * var(--_floating-arrow-size)); }
.right.start #tooltip::after   { top: var(--_floating-arrow-size); }
.right.end #tooltip::after     { bottom: var(--_floating-arrow-size); }

/* BOTTOM */
.bottom #tooltip::after        { bottom: calc(100% - 0.5 * var(--_floating-arrow-size)); }
.bottom.center #tooltip::after { right: calc(50% - 0.5 * var(--_floating-arrow-size)); }
.bottom.start #tooltip::after  { left: var(--_floating-arrow-size); }
.bottom.end #tooltip::after    { right: var(--_floating-arrow-size); }

