[class*=pf-c-], [class*=pf-c-]::before, [class*=pf-c-]::after {
  padding: 0;
  margin: 0;
  background-color: transparent;
}

:host { 
  --pf-c-tooltip__content--BackgroundColor: var(--pf-global--BackgroundColor--dark-100, #1b1d21);
  --pf-c-tooltip__content--Color: var(--pf-global--Color--light-100, #ffffff);
}

[id^=pfe-tooltip] {
  --pf-c-tooltip--MaxWidth: 18.75rem;
  --pf-c-tooltip--BoxShadow: var(--pf-global--BoxShadow--md, 0 0.25rem 0.5rem 0rem rgba(3, 3, 3, 0.12), 0 0 0.25rem 0 rgba(3, 3, 3, 0.06));
  --pf-c-tooltip__content--PaddingTop: var(--pf-global--spacer--sm, 0.5rem);
  --pf-c-tooltip__content--PaddingRight: var(--pf-global--spacer--sm, 0.5rem);
  --pf-c-tooltip__content--PaddingBottom: var(--pf-global--spacer--sm, 0.5rem);
  --pf-c-tooltip__content--PaddingLeft: var(--pf-global--spacer--sm, 0.5rem);
  --pf-c-tooltip__content--FontSize: var(--pf-global--FontSize--sm, 0.875rem);
  --pf-c-tooltip__arrow--Width: 0.5rem;
  --pf-c-tooltip__arrow--Height: 0.5rem;
  --pf-c-tooltip__arrow--m-top--TranslateX: -50%;
  --pf-c-tooltip__arrow--m-top--TranslateY: 50%;
  --pf-c-tooltip__arrow--m-top--Rotate: 45deg;
  --pf-c-tooltip__arrow--m-right--TranslateX: -50%;
  --pf-c-tooltip__arrow--m-right--TranslateY: -50%;
  --pf-c-tooltip__arrow--m-right--Rotate: 45deg;
  --pf-c-tooltip__arrow--m-bottom--TranslateX: -50%;
  --pf-c-tooltip__arrow--m-bottom--TranslateY: -50%;
  --pf-c-tooltip__arrow--m-bottom--Rotate: 45deg;
  --pf-c-tooltip__arrow--m-left--TranslateX: 50%;
  --pf-c-tooltip__arrow--m-left--TranslateY: -50%;
  --pf-c-tooltip__arrow--m-left--Rotate: 45deg;
  color: var(--pf-c-tooltip__content--Color);
  background-color: var(--pf-c-toolip__content--BackgroundColor);
  line-height: var(--pf-c-tooltip--line-height, 1.5);
  opacity: 1; 
  transition: opacity 300ms cubic-bezier(0.54, 1.5, 0.38, 1.11) 0s;
  position: relative;
  max-width: var(--pf-c-tooltip--MaxWidth);
  box-shadow: var(--pf-c-tooltip--BoxShadow);
  z-index: 999;
}

[id^=pfe-tooltip][aria-hidden="true"] {
  opacity: 0;
  transition: opacity 300ms cubic-bezier(0.54, 1.5, 0.38, 1.11) 0s;
  pointer-events: none;
}

/**
  NOTE: If we replace the popper library the styles related to anything data-popper-* will need to be updated
        These are popper specific data attributes.
**/

[data-popper-placement='top'] .arrow,
[data-popper-placement='top-end'] .arrow,
[data-popper-placement='top-start'] .arrow {
  bottom: 0;
  left: 50%;
  transform: translateX(var(--pf-c-tooltip__arrow--m-top--TranslateX)) translateY(var(--pf-c-tooltip__arrow--m-top--TranslateY)) rotate(var(--pf-c-tooltip__arrow--m-top--Rotate));
}

[data-popper-placement='bottom'] .arrow,
[data-popper-placement='bottom-end'] .arrow,
[data-popper-placement='bottom-start'] .arrow {
  top: 0;
  left: 50%;
  transform: translateX(var(--pf-c-tooltip__arrow--m-bottom--TranslateX)) translateY(var(--pf-c-tooltip__arrow--m-bottom--TranslateY)) rotate(var(--pf-c-tooltip__arrow--m-bottom--Rotate));
}

[data-popper-placement='left'] .arrow,
[data-popper-placement='left-end'] .arrow,
[data-popper-placement='left-start'] .arrow {
  top: 50%;
  right: 0;
  transform: translateX(var(--pf-c-tooltip__arrow--m-left--TranslateX)) translateY(var(--pf-c-tooltip__arrow--m-left--TranslateY)) rotate(var(--pf-c-tooltip__arrow--m-left--Rotate));
}

[data-popper-placement='right'] .arrow,
[data-popper-placement='right-end'] .arrow,
[data-popper-placement='right-start'] .arrow {
  top: 50%;
  left: 0;
  transform: translateX(var(--pf-c-tooltip__arrow--m-right--TranslateX)) translateY(var(--pf-c-tooltip__arrow--m-right--TranslateY)) rotate(var(--pf-c-tooltip__arrow--m-right--Rotate));
}

[data-popper-placement='left-start'] .arrow,
[data-popper-placement='right-start'] .arrow {
  top: var(--pf-c-tooltip__arrow--Height);
}

[data-popper-placement='left-end'] .arrow,
[data-popper-placement='right-end'] .arrow {
  top: auto;
  bottom: 0;
}

[data-popper-placement='top-start'] .arrow,
[data-popper-placement='bottom-start'] .arrow {
  left: var(--pf-c-tooltip__arrow--Width);
}

[data-popper-placement='top-end'] .arrow,
[data-popper-placement='bottom-right'] .arrow {
  right: 0;
  left: auto;
}

.content {
  position: relative;
  padding: var(--pf-c-tooltip__content--PaddingTop) var(--pf-c-tooltip__content--PaddingRight) var(--pf-c-tooltip__content--PaddingBottom) var(--pf-c-tooltip__content--PaddingLeft);
  font-size: var(--pf-c-tooltip__content--FontSize);
  color: var(--pf-c-tooltip__content--Color);
  text-align: center;
  word-break: break-word;
  background-color: var(--pf-c-tooltip__content--BackgroundColor);
}

.arrow {
  position: absolute;
  width: var(--pf-c-tooltip__arrow--Width);
  height: var(--pf-c-tooltip__arrow--Height);
  pointer-events: none;
  background-color: var(--pf-c-tooltip__content--BackgroundColor);
}

#invoker {
  width: fit-content;
  display: inline-block;
}
