[data-demo] {
  padding: 1em;
}

output ul {
  --g: repeat(auto-fit, var(--pf-global--icon--FontSize--xl, 3.375rem));
  display: grid;
  grid-template: var(--g) / var(--g);
  gap: 1em;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#styling-icons {
  display: flex;
  gap: .5em;
  flex-wrap: wrap;
  align-items: center;
}
[icon="boba-tea"] { color: firebrick; }
[icon="lifecycle"] { color: dodgerblue; }

li button {
  padding: 0;
  background: none;
  border: none;
}

li button:focus {
  color: gray;
}

dl {
  display: flex;
  flex-flow: row wrap;
  gap: var(--pf-global--spacer--md, 1rem);
  align-items: end;
}

dl div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

dd, dt {
  margin: 0;
}

dt {
  order: 1;
}

#colors dt { text-transform: capitalize; }
.danger { color: var(--pf-global--danger-color--200, #a30000); }
.default { color: var(--pf-global--default-color--200, #009596); }
.info { color: var(--pf-global--info-color--100, #2b9af3); }
.success { color: var(--pf-global--success-color--100, #3e8635); }
.warning { color: var(--pf-global--warning-color--100, #f0ab00); }
.disabled { color: var(--pf-global--disabled-color--100, #6a6e73); }
