@import "../../rh-sass/rh-sass";

:host {
  display: block;
}

.tabs {
  display: flex;
  background-color: var(--rhe-c-tabs-BackgroundColor, transparent);
}

:host([vertical]) .tabs {
  flex-direction: column;
}

.tabs ::slotted(rh-tab) {
  background-color: var(--rhe-c-tab-BackgroundColor, $rh-global--color--black);
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  cursor: pointer;
  width: 25%;
  padding: 16px;
  position: relative;
  border-right: 1px solid #8d8d8d;
  white-space: nowrap;
}

.tabs ::slotted(rh-tab[selected]) {
  background-color: var(
    --rhe-c-tab-selected-BackgroundColor,
    $rh-global--color--white
  );
  color: var(--rhe-c-tab-selected-Color, $rh-global--color--black-soft);
  border-right-color: transparent;
}

:host([vertical]) {
  display: flex;
}

:host([vertical]) .tabs {
  margin-right: 16px;
}

:host([vertical]) .tabs ::slotted(rh-tab) {
  width: 256px;
}

:host([vertical]) .tabs ::slotted(rh-tab) {
  background-color: var(--rhe-c-tab-BackgroundColor, transparent);
  text-transform: none;
  font-weight: normal;
  border: none;
  color: var(--rhe-c-tab-Color, #8d8d8d);
  padding-left: 0;
  padding-right: 0;
  padding: 10px 0 10px 45px;
  margin-right: -10px;
}

:host([vertical]) .tabs ::slotted(rh-tab[selected]) {
  background-color: var(--rhe-c-tab-selected-BackgroundColor, transparent);
  color: var(--rhe-c-tab-selected-Color, $rh-global--color--black-soft);
}
