@import "../../rh-sass/rh-sass";

/// ===========================================================================
/// Component Specific SASS Vars
/// ===========================================================================

$rh-tabs__tab--PaddingRight-factor:  3.375; // 54px at 16px base.
$rh-tabs__tab--PaddingBottom-factor:  1.5; // 54px at 16px base.

/// ===========================================================================
/// DEFAULT TAB
/// ===========================================================================

:host {
  --rh-tabs--main:         transparent;
  --rh-tabs--aux:          #{rh-color(surface--lightest--text)};
  --rh-tabs--link:         #{rh-color(surface--lightest--link)};
  --rh-tabs--focus:        #{rh-color(surface--lightest--link--focus)};

  position: relative;
  display: block;
  margin: 0 0 -1px;

  // Padding
  padding-top: #{rh-var(container-padding)};
  padding-right: calc(#{rh-var(container-padding)} * #{$rh-tabs__tab--PaddingRight-factor});;
  padding-bottom: calc(#{rh-var(container-padding)} * #{$rh-tabs__tab--PaddingBottom-factor});
  padding-left: #{rh-var(container-padding)};
  // Border
  border: #{rh-var(ui--border-width)} #{rh-var(ui--border-style)} transparent;
  border-bottom: 0;
  // Inner style
  background-color: var(--rh-tabs--main);
  color: var(--rh-tabs--aux);
  text-transform: var(--rh-tabs__tab--TextTransform, none); // exposing this for RH
  font-weight: #{rh-var(font-weight--normal)};

  white-space: nowrap;
  cursor: pointer;
}

:host([aria-selected="true"]) {
  --rh-tabs--main:         #{rh-color(surface--lightest)};

  // Border
  border-color: #{rh-color(surface--border)};
  border-bottom: 0;
}

.indicator {
  position: absolute;
  bottom: 12px;
  left: auto;

  display: var(--rh-tabs__indicator--Display, block); // Exposing this for themability. Use `none` to not show at all
  height: var(--rh-tabs__indicator--Height, 4px); // Exposing this for themability
  width: var(--rh-tabs__indicator--Width, 22px); // Exposing this for themability

  background-color: #{rh-color(surface--border--darkest)};
}

// Hover state for inactive tabs.
:host(:hover) .indicator {
  background-color: var(--rh-tabs--link);
}

// Active tab styles
:host([aria-selected="true"]) .indicator,
:host([aria-selected="true"]:hover) .indicator {
  background-color: var(--rh-tabs--link);
}

:host(:focus),
:host(:focus-visible) {
  outline: #{rh-var(ui--focus-outline-width)} #{rh-var(ui--focus-outline-style)} var(--rh-tabs--focus);
}

/// ===========================================================================
/// HORIZONTAL TAB VARIANTS
/// ===========================================================================

// Horizontal primary sets.

:host([rh-variant="primary"]) {
  text-align: center;
  padding: 0 calc(#{rh-var(container-padding)} / 3) #{rh-var(container-padding)};

  .indicator {
    width: 100%;
    left: 0;
  }
}

:host([rh-variant="primary"][aria-selected="true"]) {
  border: transparent;
}

:host([rh-variant="primary"][aria-selected="false"]) {
  border: transparent;

  .indicator {
    display: none;
  }
}

:host([rh-variant="secondary"]) {
  text-align: center;
  padding: calc(#{rh-var(container-padding)} * .666) calc(#{rh-var(container-padding)} * 2.75);
  border: 1px solid $rh-global--color--black-soft;

  .indicator {
    display: none;
  }
}

// Horizontal secondary sets.

:host([rh-variant="secondary"][aria-selected="true"]) {
  background-color: $rh-global--color--black-soft;
  color: #ffffff;

  .indicator {
    display: block;
    bottom: -33%;
    width: 0;
    height: 0;
    left: 50%;
    transform: translateX(-50%);
    border-left: #{rh-var(container-spacer)} solid transparent;
    border-right: #{rh-var(container-spacer)} solid transparent;
    border-top: #{rh-var(container-spacer)} solid $rh-global--color--black-soft;
    background-color: transparent;
  }
}

:host([rh-variant="secondary"][aria-selected="false"]) {
  color: $rh-color--ui-base;
}

:host([rh-variant="secondary"]:hover) {
  background-color: $rh-global--color--black-soft;
  color: #ffffff;
}

/// ===========================================================================
/// VERTICAL TAB VARIANTS
/// ===========================================================================

// Vertical primary sets.

:host([vertical][rh-variant="primary"]) {
  text-align: right;
  padding-right: #{rh-var(container-padding)};

  .indicator {
    left: auto;
    right: 0;
    top: 0;
    display: var(--rh-tabs__indicator--Display, block); // Exposing this for themability. Use `none` to not show at all
    height: var(--rh-tabs__indicator--Height, 22px); // Exposing this for themability
    width: var(--rh-tabs__indicator--Width, 4px); // Exposing this for themability
  }
}

:host([vertical][rh-variant="primary"][aria-selected="true"]) {
  border: transparent !important;
}

// Vertical secondary sets.

:host([vertical][rh-variant="secondary"][aria-selected="true"]) {

  .indicator {
    left: 99%;
    top: 50%;
    transform: translateY(-50%);
    border-top: #{rh-var(container-spacer)} solid transparent;
    border-left: #{rh-var(container-spacer)} solid  $rh-global--color--black-soft;
    border-bottom: #{rh-var(container-spacer)} solid transparent;
    background-color: transparent;
  }
}

:host ::slotted(h2) {
  font-size: var(--rh-theme--font-size);
  font-weight: var(--rh-theme--font-weight--normal, 500);
  margin: 0;
}
