@import "../../rh-sass/rh-sass";

/// ===========================================================================
/// Component Specific SASS Vars
/// ===========================================================================

$rh-tabs__panel--PaddingLeft-factor:  2;

/// ===========================================================================
/// DEFUALT TABS
/// ===========================================================================

:host {
  display: block;
}

.tabs {
  --rh-tabs--border-color:          #{rh-color(surface--border)};

  display: flex;
  border: 0;
  border-bottom: #{rh-var(ui--border-width)} #{rh-var(ui--border-style)} var(--rh-tabs--border-color);
}

.panels {
  padding: 0;
  padding-top: #{rh-var(container-padding)};
}

/// ===========================================================================
/// VERTICAL TABS
/// ===========================================================================

:host([vertical]) {
  display: flex; // Makes the tabs side-by-side with panels
}

:host([vertical]) .tabs {
  flex-direction: column;
  width: 25%;

  border: 0;
  border-right: #{rh-var(ui--border-width)} #{rh-var(ui--border-style)} var(--rh-tabs--border-color);
}

:host([vertical]) .tabs ::slotted(rh-tab) {
  margin: 0 -1px 0 0;
  border: #{rh-var(ui--border-width)} #{rh-var(ui--border-style)} transparent;
  border-right: 0;
}

:host([vertical]) .tabs ::slotted(rh-tab[aria-selected="true"]) {
  border-color: var(--rh-tabs--border-color);
  border-right: 0;
}

:host([vertical]) .panels {
  padding: 0;
  padding-right: #{rh-var(container-padding)};
  padding-left: calc(#{rh-var(container-padding)} * #{$rh-tabs__panel--PaddingLeft-factor});
}

/// ===========================================================================
/// TAB VARIANTS
/// ===========================================================================

:host([rh-variant="primary"]) {
  .tabs {
    border-bottom: transparent;
    border-right: transparent;
    justify-content: space-between; 
  }
}
:host([vertical][rh-variant="primary"]) {
  align-items: flex-start;
} 

:host([rh-variant="secondary"]) {
  .tabs {
    border-bottom: transparent;
    justify-content: space-between; 
  }
}

