$pfe-global--color-map--block: (
    band-background: (
        white: $pfe-global--color--white,
        black: $pfe-global--color--black,
        black-soft: $pfe-global--color--black-soft,
        red: $pfe-global--color--red,
        red-dark: $pfe-global--color--red-brick,
        gray: $pfe-global--color--gray-platinum,
        light: $pfe-global--color--gray-platinum,
        navy: $pfe-global--color--blue-navy,
        blue: $pfe-global--color--blue-peacock,
        blue-dark: $pfe-global--color--blue-rain,
        charcoal: $pfe-global--color--gray-charcoal
    )
);
