$pfe-global--color-map--copy: (
    default-paragraph: (
        dark: $pfe-global--text-color--inverted,
        dark-subtle: $pfe-global--text-color--inverted,
        dark-desaturated: $pfe-global--text-color--inverted,
        light: $pfe-global--text-color,
        subtle: $pfe-global--text-color,
        light-subtle: $pfe-global--text-color,
    )
);
