$pf-global--color-map--copy: (
    default-paragraph: (
        dark: $pf-global--text-color--inverted,
        dark-subtle: $pf-global--text-color--inverted,
        dark-desaturated: $pf-global--text-color--inverted,
        light: $pf-global--text-color,
        subtle: $pf-global--text-color,
        light-subtle: $pf-global--text-color,
    )
);
