$pf-global--color-map--link: (
    default-link: (
        dark: $pf-global--link-color--inverted,
        dark-desaturated: $pf-global--text-color--inverted,
        light: $pf-global--link-color
    ),
    default-link-hover: (
        dark: $pf-global--link-color--inverted--hover,
        dark-desaturated: $pf-global--color--gray-mercury,
        light: $pf-global--link-color--hover
    ),
    default-link-visited: (
        dark: $pf-global--link-color--inverted--visited,
        dark-desaturated: $pf-global--color--gray-stone,
        light: $pf-global--link-color--visited
    ),
    default-link-active: (
        dark: $pf-global--link-color--inverted--hover,
        dark-desaturated: $pf-global--color--gray-mercury,
        light: $pf-global--link-color--hover
    ),
    default-link-focus: (
        dark: $pf-global--link-color--inverted--hover,
        dark-desaturated: $pf-global--color--gray-mercury,
        light: $pf-global--link-color--hover
    )
);
