// COMBOBOX
// ---------------------------------------------------------------------------
@import '../vars';
@import '../mixins';

.combobox {
    position: relative;

    & input {
        padding-right: 36px;
    }
    & select {
        position: absolute;
        top: 0;
        right: 0;
        width: 32px;
        height: 100%;
        z-index: 2;
        opacity: 0;
        cursor: pointer;
    }
    & .combobox-caret {
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        width: 32px;
        height: 100%;
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="9" height="12" viewBox="0 0 9 12"><path fill="rgba(0, 0, 0, .4)" d="M0.722,4.823L-0.01,4.1,4.134-.01,4.866,0.716Zm7.555,0L9.01,4.1,4.866-.01l-0.732.726ZM0.722,7.177L-0.01,7.9,4.134,12.01l0.732-.726Zm7.555,0L9.01,7.9,4.866,12.01l-0.732-.726Z"/></svg>');
        background-repeat: no-repeat;
        background-position-y: 50%;
        background-position-x: 50%;
        cursor: pointer;
    }
}