////
/// @group maps
/// @type Map
////

/// Broadcasted variables; best used for styling light DOM content inside slots
$pfe-broadcasted: (
  // ========================================================================
  // Base text and link colors, basis of "context"
  // ========================================================================
  text: $pfe-color--text,
  link: $pfe-color--link,
  link--visited: $pfe-color--link--visited,
  link--hover: $pfe-color--link--hover,
  link--focus: $pfe-color--link--focus,
  // Duplication useful for programmatic applications
  text--on-light: $pfe-color--text,
  link--on-light: $pfe-color--link,
  link--visited--on-light: $pfe-color--link--visited,
  link--hover--on-light: $pfe-color--link--hover,
  link--focus--on-light: $pfe-color--link--focus,
  text--on-dark: $pfe-color--text--on-dark,
  link--on-dark: $pfe-color--link--on-dark,
  link--visited--on-dark: $pfe-color--link--visited--on-dark,
  link--hover--on-dark: $pfe-color--link--hover--on-dark,
  link--focus--on-dark: $pfe-color--link--focus--on-dark,
  text--on-saturated: $pfe-color--text--on-saturated,
  link--on-saturated: $pfe-color--link--on-saturated,
  link--visited--on-saturated: $pfe-color--link--visited--on-saturated,
  link--hover--on-saturated: $pfe-color--link--hover--on-saturated,
  link--focus--on-saturated: $pfe-color--link--focus--on-saturated,
  link-decoration: none,
  link-decoration--visited: none,
  link-decoration--hover: underline,
  link-decoration--focus: underline,
  link-decoration--on-dark: none,
  link-decoration--visited--on-dark: none,
  link-decoration--hover--on-dark: underline,
  link-decoration--focus--on-dark: underline,
  link-decoration--on-saturated: underline,
  link-decoration--visited--on-saturated: underline,
  link-decoration--hover--on-saturated: underline,
  link-decoration--focus--on-saturated: underline
);
