$pfe-broadcasted: (

  // ========================================================================
  // Base text and link colors, basis of "theme"
  // ========================================================================

  text:                        {color.text.value},
  link:                        {color.link.value},
  link--visited:               {color.link.visited.value},
  link--hover:                 {color.link.hover.value},
  link--focus:                 {color.link.focus.value},

  text--on-dark:               {color.text.on-dark.value},
  link--on-dark:               {color.link.on-dark.value},
  link--visited--on-dark:      {color.link.visited.on-dark.value},
  link--hover--on-dark:        {color.link.hover.on-dark.value},
  link--focus--on-dark:        {color.link.focus.on-dark.value},

  text--on-saturated:          {color.text.on-saturated.value},
  link--on-saturated:          {color.link.on-saturated.value},
  link--visited--on-saturated: {color.link.visited.on-saturated.value},
  link--hover--on-saturated:   {color.link.hover.on-saturated.value},
  link--focus--on-saturated:   {color.link.focus.on-saturated.value},

  link-decoration:            none,
  link-decoration--visited:   none,
  link-decoration--hover:     underline,
  link-decoration--focus:     underline,

  link-decoration--on-dark:            none,
  link-decoration--visited--on-dark:   none,
  link-decoration--hover--on-dark:     underline,
  link-decoration--focus--on-dark:     underline,

  link-decoration--on-saturated:            underline,
  link-decoration--visited--on-saturated:   underline,
  link-decoration--hover--on-saturated:     underline,
  link-decoration--focus--on-saturated:     underline
  
);