$pfe-colors: (

  // ========================================================================
  // Base Text Colors
  // ========================================================================

  text:                               $pfe-color--text,
  text--on-dark:                      $pfe-color--text--on-dark,
  text--on-saturated:                 $pfe-color--text--on-saturated,


  // ========================================================================
  // Base UI Link Colors to be used below
  // ========================================================================

  ui-link:                            $pfe-color--ui-link,
  ui-link--visited:                   $pfe-color--ui-link--visited,
  ui-link--hover:                     $pfe-color--ui-link--hover,
  ui-link--focus:                     $pfe-color--ui-link--focus,

  ui-link--on-dark:                   $pfe-color--ui-link--on-dark,
  ui-link--on-dark--visited:          $pfe-color--ui-link--on-dark--visited,
  ui-link--on-dark--hover:            $pfe-color--ui-link--on-dark--hover,
  ui-link--on-dark--focus:            $pfe-color--ui-link--on-dark--focus,

  ui-link--on-saturated:              $pfe-color--ui-link--on-saturated,
  ui-link--on-saturated--visited:     $pfe-color--ui-link--on-saturated--visited,
  ui-link--on-saturated--hover:       $pfe-color--ui-link--on-saturated--hover,
  ui-link--on-saturated--focus:       $pfe-color--ui-link--on-saturated--focus,


  // ========================================================================
  // Base UI Colors for Buttons, CTAs, and actionable UI elements
  // ========================================================================

  ui-base:                            $pfe-color--ui-base,
  ui-base--hover:                     $pfe-color--ui-base--hover,
  ui-base--focus:                     $pfe-color--ui-base--focus,
  ui-base--visited:                   $pfe-color--ui-base--visited,
  ui-base--text:                      $pfe-color--ui-base--text,
  ui-base--text--hover:               $pfe-color--ui-base--text--hover,
  ui-base--text--focus:               $pfe-color--ui-base--text--focus,
  ui-base--text--visited:             $pfe-color--ui-base--text--visited,

  ui-complement:                      $pfe-color--ui-complement,
  ui-complement--hover:               $pfe-color--ui-complement--hover,
  ui-complement--focus:               $pfe-color--ui-complement--focus,
  ui-complement--visited:             $pfe-color--ui-complement--visited,
  ui-complement--text:                $pfe-color--ui-complement--text,
  ui-complement--text--hover:         $pfe-color--ui-complement--text--hover,
  ui-complement--text--focus:         $pfe-color--ui-complement--text--focus,
  ui-complement--text--visited:       $pfe-color--ui-complement--text--visited,

  ui-accent:                          $pfe-color--ui-accent,
  ui-accent--hover:                   $pfe-color--ui-accent--hover,
  ui-accent--focus:                   $pfe-color--ui-accent--focus,
  ui-accent--visited:                 $pfe-color--ui-accent--visited,
  ui-accent--text:                    $pfe-color--ui-accent--text,
  ui-accent--text--hover:             $pfe-color--ui-accent--text--hover,
  ui-accent--text--focus:             $pfe-color--ui-accent--text--focus,
  ui-accent--text--visited:           $pfe-color--ui-accent--text--visited,

  ui-disabled:                        $pfe-color--ui-disabled,
  ui-disabled--hover:                 $pfe-color--ui-disabled--hover,
  ui-disabled--focus:                 $pfe-color--ui-disabled--focus,
  ui-disabled--visited:               $pfe-color--ui-disabled--visited,
  ui-disabled--text:                  $pfe-color--ui-disabled--text,
  ui-disabled--text--hover:           $pfe-color--ui-disabled--text--hover,
  ui-disabled--text--focus:           $pfe-color--ui-disabled--text--focus,
  ui-disabled--text--visited:         $pfe-color--ui-disabled--text--visited,

  // ========================================================================
  // Base Surface Colors for Container elements
  // ========================================================================

  // Lightest group
  surface--lightest:                  $pfe-color--surface--lightest,
  surface--lightest--text:            $pfe-color--surface--lightest--text,
  surface--lightest--link:            $pfe-color--surface--lightest--link,
  surface--lightest--link--visited:   $pfe-color--surface--lightest--link--visited,
  surface--lightest--link--hover:     $pfe-color--surface--lightest--link--hover,
  surface--lightest--link--focus:     $pfe-color--surface--lightest--link--focus,

  // Lighter group
  surface--lighter:                   $pfe-color--surface--lighter,
  surface--lighter--text:             $pfe-color--surface--lighter--text,
  surface--lighter--link:             $pfe-color--surface--lighter--link,
  surface--lighter--link--visited:    $pfe-color--surface--lighter--link--visited,
  surface--lighter--link--hover:      $pfe-color--surface--lighter--link--hover,
  surface--lighter--link--focus:      $pfe-color--surface--lighter--link--focus,

  // Base group
  surface--base:                      $pfe-color--surface--base,
  surface--base--text:                $pfe-color--surface--base--text,
  surface--base--link:                $pfe-color--surface--base--link,
  surface--base--link--visited:       $pfe-color--surface--base--link--visited,
  surface--base--link--hover:         $pfe-color--surface--base--link--hover,
  surface--base--link--focus:         $pfe-color--surface--base--link--focus,

  // Darker group
  surface--darker:                    $pfe-color--surface--darker,
  surface--darker--text:              $pfe-color--surface--darker--text,
  surface--darker--link:              $pfe-color--surface--darker--link,
  surface--darker--link--visited:     $pfe-color--surface--darker--link--visited,
  surface--darker--link--hover:       $pfe-color--surface--darker--link--hover,
  surface--darker--link--focus:       $pfe-color--surface--darker--link--focus,

  // Darkest group
  surface--darkest:                   $pfe-color--surface--darkest,
  surface--darkest--text:             $pfe-color--surface--darkest--text,
  surface--darkest--link:             $pfe-color--surface--darkest--link,
  surface--darkest--link--visited:    $pfe-color--surface--darkest--link--visited,
  surface--darkest--link--hover:      $pfe-color--surface--darkest--link--hover,
  surface--darkest--link--focus:      $pfe-color--surface--darkest--link--focus,

  // Complement group
  surface--complement:                $pfe-color--surface--complement,
  surface--complement--text:          $pfe-color--surface--complement--text,
  surface--complement--link:          $pfe-color--surface--complement--link,
  surface--complement--link--visited: $pfe-color--surface--complement--link--visited,
  surface--complement--link--hover:   $pfe-color--surface--complement--link--hover,
  surface--complement--link--focus:   $pfe-color--surface--complement--link--focus,


  // Accent group
  surface--accent:                    $pfe-color--surface--accent,
  surface--accent--text:              $pfe-color--surface--accent--text,
  surface--accent--link:              $pfe-color--surface--accent--link,
  surface--accent--link--visited:     $pfe-color--surface--accent--link--visited,
  surface--accent--link--hover:       $pfe-color--surface--accent--link--hover,
  surface--accent--link--focus:       $pfe-color--surface--accent--link--focus,


  // Palette of Border Colors
  surface--border:                    $pfe-color--surface--border,
  surface--border--lightest:          $pfe-color--surface--border--lightest,
  surface--border--darkest:           $pfe-color--surface--border--darkest,
  surface--border--darker:            $pfe-color--surface--border--darker,


  // ========================================================================
  // Base Feedback Colors for messaging, errors, etc.
  // ========================================================================

  // Palette of Feedback Colors
  feedback--critical:                 $pfe-color--feedback--critical,
  feedback--critical--lightest:       $pfe-color--feedback--critical--lightest,
  feedback--critical--darkest:        $pfe-color--feedback--critical--darkest,

  feedback--important:                $pfe-color--feedback--important,
  feedback--important--lightest:      $pfe-color--feedback--important--lightest,
  feedback--important--darkest:       $pfe-color--feedback--important--darkest,

  feedback--moderate:                 $pfe-color--feedback--moderate,
  feedback--moderate--lightest:       $pfe-color--feedback--moderate--lightest,
  feedback--moderate--darkest:        $pfe-color--feedback--moderate--darkest,

  feedback--success:                  $pfe-color--feedback--success,
  feedback--success--lightest:        $pfe-color--feedback--success--lightest,
  feedback--success--darkest:         $pfe-color--feedback--success--darkest,

  feedback--info:                     $pfe-color--feedback--info,
  feedback--info--lightest:           $pfe-color--feedback--info--lightest,
  feedback--info--darkest:            $pfe-color--feedback--info--darkest,

  feedback--default:                  $pfe-color--feedback--default,
  feedback--default--lightest:        $pfe-color--feedback--default--lightest,
  feedback--default--darkest:         $pfe-color--feedback--default--darkest,

  overlay:                            rgba($pfe-color--gray-900, .5)
);
