$pfe-colors: (

  // ========================================================================
  // Base text and link colors, basis of "theme"
  // ========================================================================

  text:                        $pfe-color-text,
  link:                        $pfe-color-link,
  link--visited:               $pfe-color-link-visited,
  link--hover:                 $pfe-color-link-hover,
  link--focus:                 $pfe-color-link-focus,

  text--on-dark:               $pfe-color-text-on-dark,
  link--on-dark:               $pfe-color-link-on-dark,
  link--visited--on-dark:      $pfe-color-link-visited-on-dark,
  link--hover--on-dark:        $pfe-color-link-hover-on-dark,
  link--focus--on-dark:        $pfe-color-link-focus-on-dark,

  text--on-saturated:          $pfe-color-text-on-saturated,
  link--on-saturated:          $pfe-color-link-on-saturated,
  link--visited--on-saturated: $pfe-color-link-visited-on-saturated,
  link--hover--on-saturated:   $pfe-color-link-hover-on-saturated,
  link--focus--on-saturated:   $pfe-color-link-focus-on-saturated,

  // ========================================================================
  // Base UI Colors for Buttons, CTAs, and actionable UI elements
  // ========================================================================

  // Set of base colors
  ui-base:                            $pf-color-light-blue-500,
  ui-base--hover:                     darken($pf-color-light-blue-500, 20%),
  ui-base--focus:                     darken($pf-color-light-blue-500, 20%),
  ui-base--text:                      $pfe-color-text-on-dark,
  ui-base--text--hover:               $pfe-color-text-on-dark,
  ui-base--text--focus:               $pfe-color-text-on-dark,

  ui-base--on-dark:                   lighten($pf-color-light-blue-500, 40%),
  ui-base--hover--on-dark:            lighten($pf-color-light-blue-500, 20%),
  ui-base--focus--on-dark:            lighten($pf-color-light-blue-500, 20%),
  ui-base--text--on-dark:             $pfe-color-text,
  ui-base--text--hover--on-dark:      $pfe-color-text,
  ui-base--text--focus--on-dark:      $pfe-color-text,

  ui-base--on-saturated:                   $pf-color-white,
  ui-base--hover--on-saturated:            darken($pf-color-white, 20%),
  ui-base--focus--on-saturated:            darken($pf-color-white, 20%),
  ui-base--text--on-saturated:             $pfe-color-text,
  ui-base--text--hover--on-saturated:      $pfe-color-text,
  ui-base--text--focus--on-saturated:      $pfe-color-text,

  // Set of complement colors
  ui-complement:                      $pf-color-black-800,
  ui-complement--hover:               $pf-color-black-1000,
  ui-complement--focus:               $pf-color-black-1000,
  ui-complement--text:                $pfe-color-text-on-dark,
  ui-complement--text--hover:         $pfe-color-text-on-dark,
  ui-complement--text--focus:         $pfe-color-text-on-dark,

  ui-complement--on-dark:                      $pf-color-white,
  ui-complement--hover--on-dark:               darken($pf-color-white, 20%),
  ui-complement--focus--on-dark:               darken($pf-color-white, 20%),
  ui-complement--text--on-dark:                $pfe-color-text,
  ui-complement--text--hover--on-dark:         $pfe-color-text,
  ui-complement--text--focus--on-dark:         $pfe-color-text,

  // Set of accent colors
  ui-accent:                          $pf-color-brand-red,
  ui-accent--hover:                   darken($pf-color-brand-red, 20%),
  ui-accent--focus:                   darken($pf-color-brand-red, 20%),
  ui-accent--text:                    $pfe-color-text-on-dark,
  ui-accent--text--hover:             $pfe-color-text-on-dark,
  ui-accent--text--focus:             $pfe-color-text-on-dark,

  ui-accent--on-saturated:                          $pf-color-white,
  ui-accent--hover--on-saturated:                   darken($pf-color-white, 20%),
  ui-accent--focus--on-saturated:                   darken($pf-color-white, 20%),
  ui-accent--text--on-saturated:                    $pfe-color-text,
  ui-accent--text--hover--on-saturated:             $pfe-color-text,
  ui-accent--text--focus--on-saturated:             $pfe-color-text,

  // Set of disabled colors
  ui-disabled:                        $pf-color-black-300,
  ui-disabled--hover:                 $pf-color-black-300,
  ui-disabled--focus:                 $pf-color-black-300,
  ui-disabled--text:                  $pf-color-black-600,
  ui-disabled--text--hover:           $pf-color-black-600,
  ui-disabled--text--focus:           $pf-color-black-600,

  // ========================================================================
  // Base Surface Colors for Container elements
  // ========================================================================

  // Lightest group
  surface--lightest:        $pf-color-white,
  surface--lightest--theme: light,

  // Lighter group
  surface--lighter:         $pf-color-black-200,
  surface--lighter--theme:  light,

  // Base group
  surface--base:        $pf-color-black-300,
  surface--base--theme: light,

  // Darker group
  surface--darker:        $pf-color-black-800,
  surface--darker--theme: dark,

  // Darkest group
  surface--darkest:        $pf-color-black-1000,
  surface--darkest--theme: dark,

  // Complement group
  surface--complement:        $pf-color-light-blue-500,
  surface--complement--theme: saturated,

  // Accent group
  surface--accent:        $pf-color-brand-red,
  surface--accent--theme: saturated,

  // Palette of Border Colors
  surface--border--lightest:          $pf-color-black-200,
  surface--border--lighter:           $pf-color-black-200,
  surface--border:                    $pf-color-black-300,
  surface--border--darker:            $pf-color-black-400,
  surface--border--darkest:           $pf-color-black-800,


  // ========================================================================
  // Base Feedback Colors for messaging, errors, etc.
  // ========================================================================

  // Palette of Feedback Colors
  feedback--critical--lightest:       $pf-color-red-50,
  feedback--critical:                 $pf-color-red-200,
  feedback--critical--darkest:        $pf-color-red-400,

  feedback--important--lightest:      $pf-color-orange-50,
  feedback--important:                $pf-color-red-100,
  feedback--important--darkest:       $pf-color-red-300,

  feedback--moderate--lightest:       $pf-color-gold-50,
  feedback--moderate:                 $pf-color-gold-300,
  feedback--moderate--darkest:        $pf-color-gold-600,

  feedback--success--lightest:        $pf-color-green-50,
  feedback--success:                  #2e7d32,
  feedback--success--darkest:         #1b5e20,

  feedback--info--lightest:           $pf-color-blue-50,
  feedback--info:                     $pf-color-blue-400,
  feedback--info--darkest:            $pf-color-blue-500,

  feedback--default--lightest:        $pf-color-black-200,
  feedback--default:                  $pf-color-black-700,
  feedback--default--darkest:         $pf-color-black-800,

  overlay:                            rgba($pf-color-black-900, .5)
);
