@import "@patternfly/patternfly/sass-utilities/scss-variables";

////
/// @group color
/// @type Map
/// @prop {Color} text [#292e34] - $pf-color-black-900
/// @prop {Color} text--muted [#72767b] - $pf-color-black-600
/// @prop {Color} link [#0088ce] - $pf-color-blue-400
/// @prop {Color} link--visited [#582fc0] - $pf-color-purple-500
/// @prop {Color} link--hover [#00659c] - $pf-color-blue-500
/// @prop {Color} link--focus [#00659c] - $pf-color-blue-500
/// @prop {Color} text--on-dark [#fff] - $pf-color-white
/// @prop {Color} text--muted--on-dark [#d2d2d2] - $pf-color-black-300
/// @prop {Color} link--on-dark [#7dc3e8] - $pf-color-blue-200
/// @prop {Color} link--visited--on-dark [#bee1f4] - $pf-color-blue-100
/// @prop {Color} link--hover--on-dark [#bee1f4] - $pf-color-blue-100
/// @prop {Color} link--focus--on-dark [#bee1f4] - $pf-color-blue-100
/// @prop {Color} text--on-saturated [#fff] - $pf-color-white
/// @prop {Color} text--muted--on-saturated [#d2d2d2] - $pf-color-black-300
/// @prop {Color} link--on-saturated [#fff] - $pf-color-white
/// @prop {Color} link--visited--on-saturated [#d2d2d2] - $pf-color-black-300
/// @prop {Color} link--hover--on-saturated [#fafafa] - $pf-color-black-100
/// @prop {Color} link--focus--on-saturated [#fafafa] - $pf-color-black-100
/// @prop {Color} ui-base  [#72767b] - $pf-color-black-600
/// @prop {Color} ui-base--hover [#292e34] - $pf-color-black-900
/// @prop {Color} ui-base--focus [#292e34] - $pf-color-black-900
/// @prop {Color} ui-base--text [#fff] - $pfe-color--text--on-dark
/// @prop {Color} ui-base--text--hover [#fff] - $pfe-color--text--on-dark
/// @prop {Color} ui-base--text--focus [#fff] - $pfe-color--text--on-dark
/// @prop {Color} ui-base--on-dark [#fff] - $pf-color-white
/// @prop {Color} ui-base--hover--on-dark [#ededed] - $pf-color-black-200
/// @prop {Color} ui-base--focus--on-dark [#ededed] - $pf-color-black-200
/// @prop {Color} ui-base--text--on-dark [#393f44] - $pfe-color--text
/// @prop {Color} ui-base--text--hover--on-dark [#393f44] - $pfe-color--text
/// @prop {Color} ui-base--text--focus--on-dark [#393f44] - $pfe-color--text
/// @prop {Color} ui-base--on-saturated [#fff] - $pf-color-white
/// @prop {Color} ui-base--hover--on-saturated [#ededed] - $pf-color-black-200
/// @prop {Color} ui-base--focus--on-saturated [#ededed] - $pf-color-black-200
/// @prop {Color} ui-base--text--on-saturated [#393f44] - $pfe-color--text
/// @prop {Color} ui-base--text--hover--on-saturated [#393f44] - $pfe-color--text
/// @prop {Color} ui-base--text--focus--on-saturated [#393f44] - $pfe-color--text
/// @prop {Color} ui-accent [#0088ce] - $pf-color-blue-400
/// @prop {Color} ui-accent--hover [#00659c] - $pf-color-blue-500
/// @prop {Color} ui-accent--focus [#00659c] - $pf-color-blue-500
/// @prop {Color} ui-accent--text [#fff] - $pfe-color--text--on-dark
/// @prop {Color} ui-accent--text--hover [#fff] - $pfe-color--text--on-dark
/// @prop {Color} ui-accent--text--focus [#fff] - $pfe-color--text--on-dark
/// @prop {Color} ui-accent--on-dark [#7dc3e8] - $pf-color-blue-200
/// @prop {Color} ui-accent--hover--on-dark [#39a5dc] - $pf-color-blue-300
/// @prop {Color} ui-accent--focus--on-dark [#39a5dc] - $pf-color-blue-300
/// @prop {Color} ui-accent--text--on-dark [#393f44] - $pfe-color--text
/// @prop {Color} ui-accent--text--hover--on-dark [#393f44] - $pfe-color--text
/// @prop {Color} ui-accent--text--focus--on-dark [#393f44] - $pfe-color--text
/// @prop {Color} ui-accent--on-saturated [#fff] - $pf-color-white
/// @prop {Color} ui-accent--hover--on-saturated [#d2d2d2] - $pf-color-black-300 (was #ccc)
/// @prop {Color} ui-accent--focus--on-saturated [#d2d2d2] - $pf-color-black-300 (was #ccc)
/// @prop {Color} ui-accent--text--on-saturated [#393f44] - $pfe-color--text
/// @prop {Color} ui-accent--text--hover--on-saturated [#393f44] - $pfe-color--text
/// @prop {Color} ui-accent--text--focus--on-saturated [#393f44] - $pfe-color--text
/// @prop {Color} ui-disabled [#d2d2d2] - $pf-color-black-300
/// @prop {Color} ui-disabled--hover [#d2d2d2] - $pf-color-black-300
/// @prop {Color} ui-disabled--focus [transparent]
/// @prop {Color} ui-disabled--text  [#72767b] - $pf-color-black-600
/// @prop {Color} ui-disabled--text--hover [#8a8d90] - $pf-color-black-500 (was #797979)
/// @prop {Color} ui-disabled--text--focus [#8a8d90] - $pf-color-black-500 (was #797979)
/// @prop {Color} ui--border--lightest [#f0f0f0] - $pf-color-black-200
/// @prop {Color} ui--border--lighter [#d2d2d2] - $pf-color-black-300
/// @prop {Color} ui--border [#8a8d90] - $pf-color-black-500
/// @prop {Color} ui--border--darker [#3c3f42] - $pf-color-black-800
/// @prop {Color} ui--border--darkest [#151515] - $pf-color-black-900
/// @prop {Color} surface--lightest [#fff] - $pf-color-white
/// @prop {Color} surface--lightest--context [light]
/// @prop {Color} surface--lighter [#ededed] - $pf-color-black-200
/// @prop {Color} surface--lighter--context [light]
/// @prop {Color} surface--base [#ededed] - $pf-color-black-200
/// @prop {Color} surface--base--context [light]
/// @prop {Color} surface--darker [#393f44] - $pf-color-black-800
/// @prop {Color} surface--darker--context [dark]
/// @prop {Color} surface--darkest [#292e34] - $pf-color-black-900
/// @prop {Color} surface--darkest--context [dark]
/// @prop {Color} surface--complement [#004368] - $pf-color-blue-600
/// @prop {Color} surface--complement--context [saturated]
/// @prop {Color} surface--accent [#00659c] - $pf-color-blue-500
/// @prop {Color} surface--accent--context [saturated]
/// @prop {Color} surface--border--lightest [#f5f5f5] - $pf-color-black-150
/// @prop {Color} surface--border [#D2D2D2] - $pf-color-black-300
/// @prop {Color} surface--border--darker [#6a6e73] - $pf-color-black-600
/// @prop {Color} surface--border--darkest [#393f44] - $pf-color-black-800
/// @prop {Color} feedback--critical--lightest [#faeae8] - $pf-color-red-50
/// @prop {Color} feedback--critical--lighter [#c9190b] - $pf-color-red-100
/// @prop {Color} feedback--critical [#bb0000] - $pf-color-red-200
/// @prop {Color} feedback--critical--darker [#7d1007] - $pf-color-red-300
/// @prop {Color} feedback--critical--darkest [#470000] - $pf-color-red-400
/// @prop {Color} feedback--important--lightest [#faeae8] - $pf-color-red-50 (was #fe906d)
/// @prop {Color} feedback--important [#c9190b] - $pf-color-red-100 (was #ef3900)
/// @prop {Color} feedback--important--darkest [#a30000] - $pf-color-red-200 (was #ba2c00)
/// @prop {Color} feedback--moderate--lightest [#f9e0a2] - $pf-color-gold-100 (was #ffd878)
/// @prop {Color} feedback--moderate [#f0ab00] - $pf-color-gold-400 (was #feb90c)
/// @prop {Color} feedback--moderate--darkest [#c58c00] - $pf-color-gold-500 (was #c08800)
/// @prop {Color} feedback--success--lightest [#bde5b8] - $pf-color-green-100 (was #ceee88)
/// @prop {Color} feedback--success [#3e8635] - $pf-color-green-500 (was #2e7d32)
/// @prop {Color} feedback--success--darkest [#1e4f18] - $pf-color-green-600 (was #1b5e20)
/// @prop {Color} feedback--info--lightest [#73bcf7] - $pf-color-blue-200 (was #85d5ff)
/// @prop {Color} feedback--info [#06c] - $pf-color-blue-400 (was #0277bd)
/// @prop {Color} feedback--info--darkest [#004080] - $pf-color-blue-500 (was #01579b)
/// @prop {Color} feedback--default--lightest [#ededed] - $pf-color-black-200
/// @prop {Color} feedback--default [#4d5258] - $pf-color-black-700
/// @prop {Color} feedback--default--darkest [#393f44] - $pf-color-black-800
/// @prop {Color} overlay [#292e3480] - rgba($pf-color-black-900, .5)
////

/// Map of colors in the design system
$pfe-colors: (
  // ========================================================================
    // Base text and link colors, basis of "theme"
    // ========================================================================
    text: $pf-color-black-900,
  // #292e34
    text--muted: $pf-color-black-600,
  // #72767b
    link: $pf-color-blue-400,
  // #0088ce
    link--visited: $pf-color-purple-500,
  // #582fc0
    link--hover: $pf-color-blue-500,
  // #00659c
    link--focus: $pf-color-blue-500,
  // #00659c
    text--on-dark: $pf-color-white,
  // #fff
    text--muted--on-dark: $pf-color-black-300,
  // #d2d2d2
    link--on-dark: $pf-color-blue-200,
  // #7dc3e8
    link--visited--on-dark: $pf-color-blue-100,
  // #bee1f4
    link--hover--on-dark: $pf-color-blue-100,
  // #bee1f4
    link--focus--on-dark: $pf-color-blue-100,
  // #bee1f4
    text--on-saturated: $pf-color-white,
  // #fff
    text--muted--on-saturated: $pf-color-black-300,
  // #d2d2d2
    link--on-saturated: $pf-color-white,
  // #fff
    link--visited--on-saturated: $pf-color-black-300,
  // #d2d2d2
    link--hover--on-saturated: $pf-color-black-100,
  // #fafafa
    link--focus--on-saturated: $pf-color-black-100,
  // #fafafa
    // ========================================================================
    // Base UI Colors for Buttons, CTAs, and actionable UI elements
    // ========================================================================
    // Set of base colors
    ui-base: $pf-color-black-600,
  // #72767b
    ui-base--hover: $pf-color-black-900,
  // #292e34
    ui-base--focus: $pf-color-black-900,
  // #292e34
    ui-base--text: $pfe-color--text--on-dark,
  // #fff
    ui-base--text--hover: $pfe-color--text--on-dark,
  // #fff
    ui-base--text--focus: $pfe-color--text--on-dark,
  // #fff
    ui-base--on-dark: $pf-color-white,
  // #fff
    ui-base--hover--on-dark: $pf-color-black-200,
  // #ededed
    ui-base--focus--on-dark: $pf-color-black-200,
  // #ededed
    ui-base--text--on-dark: $pfe-color--text,
  // #393f44
    ui-base--text--hover--on-dark: $pfe-color--text,
  // #393f44
    ui-base--text--focus--on-dark: $pfe-color--text,
  // #393f44
    ui-base--on-saturated: $pf-color-white,
  // #fff
    ui-base--hover--on-saturated: $pf-color-black-200,
  // #ededed
    ui-base--focus--on-saturated: $pf-color-black-200,
  // #ededed
    ui-base--text--on-saturated: $pfe-color--text,
  // #393f44
    ui-base--text--hover--on-saturated: $pfe-color--text,
  // #393f44
    ui-base--text--focus--on-saturated: $pfe-color--text,
  // #393f44
    // Set of accent colors
    ui-accent: $pf-color-blue-400,
  // #0088ce
    ui-accent--hover: $pf-color-blue-500,
  // #00659c
    ui-accent--focus: $pf-color-blue-500,
  // #00659c
    ui-accent--text: $pfe-color--text--on-dark,
  // #fff
    ui-accent--text--hover: $pfe-color--text--on-dark,
  // #fff
    ui-accent--text--focus: $pfe-color--text--on-dark,
  // #fff
    ui-accent--on-dark: $pf-color-blue-200,
  // #7dc3e8
    ui-accent--hover--on-dark: $pf-color-blue-300,
  // #39a5dc
    ui-accent--focus--on-dark: $pf-color-blue-300,
  // #39a5dc
    ui-accent--text--on-dark: $pfe-color--text,
  // #393f44
    ui-accent--text--hover--on-dark: $pfe-color--text,
  // #393f44
    ui-accent--text--focus--on-dark: $pfe-color--text,
  // #393f44
    ui-accent--on-saturated: $pf-color-white,
  // #fff
    ui-accent--hover--on-saturated: $pf-color-black-300,
  // #d2d2d2
    ui-accent--focus--on-saturated: $pf-color-black-300,
  // #d2d2d2
    ui-accent--text--on-saturated: $pfe-color--text,
  // #393f44
    ui-accent--text--hover--on-saturated: $pfe-color--text,
  // #393f44
    ui-accent--text--focus--on-saturated: $pfe-color--text,
  // #393f44
    // Set of disabled colors
    ui-disabled: $pf-color-black-300,
  // #d2d2d2
    ui-disabled--hover: $pf-color-black-300,
  // #d2d2d2
    ui-disabled--focus: transparent,
  ui-disabled--text: $pf-color-black-600,
  // #72767b
    ui-disabled--text--hover: $pf-color-black-500,
  // #8a8d90 (was #797979)
    ui-disabled--text--focus: $pf-color-black-500,
  // #8a8d90 (was #797979)
    // Set of UI border settings
    ui--border--lightest: $pf-color-black-200,
  // #f0f0f0
    ui--border--lighter: $pf-color-black-300,
  // #d2d2d2
    ui--border: $pf-color-black-500,
  // #8a8d90
    ui--border--darker: $pf-color-black-800,
  // #3c3f42
    ui--border--darkest: $pf-color-black-900,
  // #151515
    // ========================================================================
    // Base Surface Colors for Container elements
    // ========================================================================
    // Lightest group
    surface--lightest: $pf-color-white,
  // #fff
    surface--lightest--context: light,
  // Lighter group
    surface--lighter: $pf-color-black-200,
  // #ededed
    surface--lighter--context: light,
  // Base group
    surface--base: $pf-color-black-200,
  // #ededed
    surface--base--context: light,
  // Darker group
    surface--darker: $pf-color-black-800,
  // #393f44
    surface--darker--context: dark,
  // Darkest group
    surface--darkest: $pf-color-black-900,
  // #292e34
    surface--darkest--context: dark,
  // Complement group
    surface--complement: $pf-color-blue-600,
  // #004368
    surface--complement--context: saturated,
  // Accent group
    surface--accent: $pf-color-blue-500,
  // #00659c
    surface--accent--context: saturated,
  // Palette of Border Colors
    surface--border--lightest: $pf-color-black-150,
  // #f5f5f5
    surface--border: $pf-color-black-300,
  // #d2d2d2
    surface--border--darker: $pf-color-black-600,
  // #6a6e73
    surface--border--darkest: $pf-color-black-800,
  // #393f44, Q: needed?
    // ========================================================================
    // Base Feedback Colors for messaging, errors, etc.
    // ========================================================================
    // Palette of Feedback Colors
    feedback--critical--lightest: $pf-color-red-50,
  // #faeae8
    feedback--critical--lighter: $pf-color-red-100,
  // #c9190b
    feedback--critical: $pf-color-red-200,
  // #bb0000
    feedback--critical--darker: $pf-color-red-300,
  // #7d1007
    feedback--critical--darkest: $pf-color-red-400,
  // #470000
    feedback--important--lightest: $pf-color-red-50,
  // #faeae8
    feedback--important: $pf-color-red-100,
  // #c9190b
    feedback--important--darkest: $pf-color-red-200,
  // #bb0000
    feedback--moderate--lightest: $pf-color-gold-100,
  // #f9e0a2
    feedback--moderate: $pf-color-gold-400,
  // #f0ab00
    feedback--moderate--darkest: $pf-color-gold-500,
  // #c58c00
    feedback--success--lightest: $pf-color-green-100,
  // #bde5b8
    feedback--success: $pf-color-green-500,
  // #3e8635
    feedback--success--darkest: $pf-color-green-600,
  // #1e4f18
    feedback--info--lightest: $pf-color-blue-200,
  // #73bcf7
    feedback--info: $pf-color-blue-400,
  // #06c
    feedback--info--darkest: $pf-color-blue-500,
  // #004080
    feedback--default--lightest: $pf-color-black-200,
  // #ededed
    feedback--default: $pf-color-black-700,
  // #4d5258
    feedback--default--darkest: $pf-color-black-800,
  // #393f44
    overlay: rgba($pf-color-black-900, 0.5)
);
