$pfe-colors: (

  // ========================================================================
  // Base text and link colors, basis of "theme"
  // ========================================================================

  text:                        $pfe-var--text,
  link:                        $pfe-var--link,
  link--visited:               $pfe-var--link--visited,
  link--hover:                 $pfe-var--link--hover,
  link--focus:                 $pfe-var--link--focus,

  text--on-dark:               $pfe-var--text--on-dark,
  link--on-dark:               $pfe-var--link--on-dark,
  link--visited--on-dark:      $pfe-var--link--visited--on-dark,
  link--hover--on-dark:        $pfe-var--link--hover--on-dark,
  link--focus--on-dark:        $pfe-var--link--focus--on-dark,

  text--on-saturated:          $pfe-var--text--on-saturated,
  link--on-saturated:          $pfe-var--link--on-saturated,
  link--visited--on-saturated: $pfe-var--link--visited--on-saturated,
  link--hover--on-saturated:   $pfe-var--link--hover--on-saturated,
  link--focus--on-saturated:   $pfe-var--link--focus--on-saturated,

  // ========================================================================
  // Base UI Colors for Buttons, CTAs, and actionable UI elements
  // ========================================================================

  // Set of base colors
  ui-base:                            $pfelements--blue,
  ui-base--hover:                     darken($pfelements--blue, 20%),
  ui-base--focus:                     darken($pfelements--blue, 20%),
  ui-base--text:                      $pfe-var--text--on-dark,
  ui-base--text--hover:               $pfe-var--text--on-dark,
  ui-base--text--focus:               $pfe-var--text--on-dark,

  ui-base--on-dark:                   lighten($pfelements--blue, 40%),
  ui-base--hover--on-dark:            lighten($pfelements--blue, 20%),
  ui-base--focus--on-dark:            lighten($pfelements--blue, 20%),
  ui-base--text--on-dark:             $pfe-var--text,
  ui-base--text--hover--on-dark:      $pfe-var--text,
  ui-base--text--focus--on-dark:      $pfe-var--text,

  ui-base--on-saturated:                   $pfe-var--white,
  ui-base--hover--on-saturated:            darken($pfe-var--white, 20%),
  ui-base--focus--on-saturated:            darken($pfe-var--white, 20%),
  ui-base--text--on-saturated:             $pfe-var--text,
  ui-base--text--hover--on-saturated:      $pfe-var--text,
  ui-base--text--focus--on-saturated:      $pfe-var--text,

  // Set of complement colors
  ui-complement:                      $pfe-var--gray-800,
  ui-complement--hover:               $pfe-var--gray-1000,
  ui-complement--focus:               $pfe-var--gray-1000,
  ui-complement--text:                $pfe-var--text--on-dark,
  ui-complement--text--hover:         $pfe-var--text--on-dark,
  ui-complement--text--focus:         $pfe-var--text--on-dark,

  ui-complement--on-dark:                      $pfe-var--white,
  ui-complement--hover--on-dark:               darken($pfe-var--white, 20%),
  ui-complement--focus--on-dark:               darken($pfe-var--white, 20%),
  ui-complement--text--on-dark:                $pfe-var--text,
  ui-complement--text--hover--on-dark:         $pfe-var--text,
  ui-complement--text--focus--on-dark:         $pfe-var--text,

  // Set of accent colors
  ui-accent:                          $pfelements--red,
  ui-accent--hover:                   darken($pfelements--red, 20%),
  ui-accent--focus:                   darken($pfelements--red, 20%),
  ui-accent--text:                    $pfe-var--text--on-dark,
  ui-accent--text--hover:             $pfe-var--text--on-dark,
  ui-accent--text--focus:             $pfe-var--text--on-dark,

  ui-accent--on-saturated:                          $pfe-var--white,
  ui-accent--hover--on-saturated:                   darken($pfe-var--white, 20%),
  ui-accent--focus--on-saturated:                   darken($pfe-var--white, 20%),
  ui-accent--text--on-saturated:                    $pfe-var--text,
  ui-accent--text--hover--on-saturated:             $pfe-var--text,
  ui-accent--text--focus--on-saturated:             $pfe-var--text,

  // Set of disabled colors
  ui-disabled:                        $pfelements--gray-light,
  ui-disabled--hover:                 $pfelements--gray-light,
  ui-disabled--focus:                 $pfe-var--gray-500,
  ui-disabled--text:                  $pfe-var--gray-600,
  ui-disabled--text--hover:           $pfelements--gray,
  ui-disabled--text--focus:           $pfelements--gray,

  // ========================================================================
  // Base Surface Colors for Container elements
  // ========================================================================

  // Lightest group
  surface--lightest:        $pfe-var--white,
  surface--lightest--theme: light,

  // Lighter group
  surface--lighter:         $pfe-var--gray-100,
  surface--lighter--theme:  light,

  // Base group
  surface--base:        $pfe-var--gray-200,
  surface--base--theme: light,

  // Darker group
  surface--darker:        $pfe-var--gray-800,
  surface--darker--theme: dark,

  // Darkest group
  surface--darkest:        $pfe-var--gray-1000,
  surface--darkest--theme: dark,

  // Complement group
  surface--complement:        $pfelements--blue,
  surface--complement--theme: saturated,

  // Accent group
  surface--accent:        $pfelements--red,
  surface--accent--theme: saturated,

  // Palette of Border Colors
  surface--border--lightest:          $pfe-var--gray-100,
  surface--border--lighter:           $pfe-var--gray-100,
  surface--border:                    $pfelements--gray-light,
  surface--border--darker:            $pfe-var--gray-300,
  surface--border--darkest:           $pfe-var--gray-800,


  // ========================================================================
  // Base Feedback Colors for messaging, errors, etc.
  // ========================================================================

  // Palette of Feedback Colors
  feedback--critical--lightest:       $pfe-var--red-50,
  feedback--critical:                 $pfe-var--red-600,
  feedback--critical--darkest:        $pfe-var--red-800,

  feedback--important--lightest:      $pfe-var--orange-50,
  feedback--important:                $pfe-var--orange-500,
  feedback--important--darkest:       $pfe-var--orange-700,

  feedback--moderate--lightest:       $pfe-var--yellow-50,
  feedback--moderate:                 $pfe-var--yellow-400,
  feedback--moderate--darkest:        $pfe-var--yellow-700,

  feedback--success--lightest:        $pfe-var--green-50,
  feedback--success:                  #2e7d32,
  feedback--success--darkest:         #1b5e20,

  feedback--info--lightest:           $pfe-var--blue-50,
  feedback--info:                     #0277bd,
  feedback--info--darkest:            #01579b,

  feedback--default--lightest:        $pfe-var--gray-100,
  feedback--default:                  $pfe-var--gray-700,
  feedback--default--darkest:         $pfe-var--gray-800,

  overlay:                            rgba($pfe-var--gray-900, .5)
);
