@import "@patternfly/patternfly/sass-utilities/scss-variables";

////
/// @group maps
/// @type Map
////

/// Variables for typography, spacing, sizing
$pfe-vars: (
  container-spacer:              pf-font-prem($pf-spacer),    // 16px
  container-padding:             pf-font-prem($pf-spacer),    // 16px
  content-spacer:                pf-font-prem($pf-spacer-sm), // 24px

  content-spacer--heading--lg:   pf-font-prem($pf-spacer-md), // 32px    
  content-spacer--heading--md:   pf-font-prem($pf-spacer-sm), // 24px   
  content-spacer--heading--sm:   pf-font-prem($pf-spacer),    // 16px
  content-spacer--body--md:      pf-font-prem($pf-spacer),    // 16px
  content-spacer--body--sm:      pf-font-prem($pf-spacer-xs), // 8px

  surface--border-width:         $pf-global--BorderWidth--sm, // 1px
  surface--border-width--heavy:  $pf-global--BorderWidth--xl, // 4px
  surface--border-style:         solid,                       //
  surface--border-radius:        $pf-global--BorderRadius--sm,// 3px
  surface--border-width--active: $pf-global--BorderWidth--lg, // 3px

  icon-size:                     1em,                         // @TODO $pf-global--icon--FontSize--md

  ui--element--size:             20px,                        //
  ui--element--size--md:         $pf-spacer-md,               // 32px
  ui--indent:                    20px,                        // @TODO Document this
  ui--border-width--sm:          $pf-global--BorderWidth--sm, // 1px
  ui--border-width--md:          $pf-global--BorderWidth--md, // 2px
  ui--border-width--lg:          $pf-global--BorderWidth--lg, // 3px

  ui--border-width:              $pf-global--BorderWidth--sm, // 1px
  ui--border-width--active:      $pf-global--BorderWidth--lg, // 3px
  
  ui--border-style:              solid,                       //
  ui--border-radius:             2px,                         //

  ui--focus-outline-width:       $pf-global--BorderWidth--sm, // 1px
  ui--focus-outline-style:       solid,                       //

  grid-breakpoint--xs:           $pf-global--breakpoint--xs,  // 0
  grid-breakpoint--sm:           $pf-global--breakpoint--sm,  // 576px
  grid-breakpoint--md:           $pf-global--breakpoint--md,  // 768px
  grid-breakpoint--lg:           $pf-global--breakpoint--lg,  // 992px
  grid-breakpoint--xl:           $pf-global--breakpoint--xl,  // 1200px
  grid-breakpoint--2xl:          $pf-global--breakpoint--2xl, // 1450px

  box-shadow--sm:                $pf-global--BoxShadow--sm#{0  #{pfe-size-prem(1)}  #{pfe-size-prem(2)} 0 rgba($pf-color-black-1000, .2)},  // @TODO: $pf-global--BoxShadow--sm
  box-shadow--md:                #{0  #{pfe-size-prem(2)}  #{pfe-size-prem(1)} #{pfe-size-prem(1)} rgba($pf-color-black-1000, .12), 0  #{pfe-size-prem(4)}  #{pfe-size-prem(11)} #{pfe-size-prem(6)} rgba($pf-color-black-1000, .05)},    // @TODO: $pf-global--BoxShadow--md
  box-shadow--lg:                #{0  #{pfe-size-prem(3)}  #{pfe-size-prem(7)} #{pfe-size-prem(3)} rgba($pf-color-black-1000, .13), 0  #{pfe-size-prem(11)}  #{pfe-size-prem(24)} #{pfe-size-prem(16)} rgba($pf-color-black-1000, .12)},  // @TODO: $pf-global--BoxShadow--lg
  box-shadow--inset:             #{inset 0 0 #{pfe-size-prem(10)} 0 $pf-color-black-100},  // @TODO $pf-global--BoxShadow--inset

  animation-speed:               .3s,  //
  animation-timing:              cubic-bezier(0.465, 0.183, 0.153, 0.946),  //
  opacity:                       .09  //
);
