@import "@patternfly/patternfly/sass-utilities/scss-variables";

////
/// @group maps
/// @type Map
////

/// Variables for typography, spacing, sizing
$pfe-vars: (

  container-spacer:              pf-font-prem($pf-spacer),    // 16px
  container-padding:             pf-font-prem($pf-spacer),    // 16px
  content-spacer:                pf-font-prem($pf-spacer-sm), // 24px

  content-spacer--heading--lg:   pf-font-prem($pf-spacer-md), // 32px    
  content-spacer--heading--md:   pf-font-prem($pf-spacer-sm), // 24px   
  content-spacer--heading--sm:   pf-font-prem($pf-spacer),    // 16px
  content-spacer--body--md:      pf-font-prem($pf-spacer),    // 16px
  content-spacer--body--sm:      pf-font-prem($pf-spacer-xs), // 8px

  surface--border-width:         1px,                         //
  surface--border-width--heavy:  4px,                         //
  surface--border-style:         solid,                       //
  surface--border-radius:        3px,                         //
  surface--border-width--active: 3px,                         //

  icon-size:                     1em,                         //

  ui--element--size:             20px,                        //
  ui--indent:                    20px,                        //
  ui--border-width--sm:          1px,                         //
  ui--border-width--md:          2px,                         //
  ui--border-width--lg:          3px,                         //

  ui--border-width:              1px,                         //
  ui--border-width--active:      3px,                         //
  
  ui--border-style:              solid,                       //
  ui--border-radius:             2px,                         //

  ui--focus-outline-width:       1px,                         //
  ui--focus-outline-style:       solid,                       //

  grid-breakpoint--xs:           0,                           //
  grid-breakpoint--sm:           576px,                       //
  grid-breakpoint--md:           768px,                       //
  grid-breakpoint--lg:           992px,                       //
  grid-breakpoint--xl:           1200px,                      //

  box-shadow--sm:                #{0  #{pfe-size-prem(1)}  #{pfe-size-prem(2)} 0 rgba($pf-color-black-1000, .2)},  //
  box-shadow--md:                #{0  #{pfe-size-prem(2)}  #{pfe-size-prem(1)} #{pfe-size-prem(1)} rgba($pf-color-black-1000, .12), 0  #{pfe-size-prem(4)}  #{pfe-size-prem(11)} #{pfe-size-prem(6)} rgba($pf-color-black-1000, .05)},  //
  box-shadow--lg:                #{0  #{pfe-size-prem(3)}  #{pfe-size-prem(7)} #{pfe-size-prem(3)} rgba($pf-color-black-1000, .13), 0  #{pfe-size-prem(11)}  #{pfe-size-prem(24)} #{pfe-size-prem(16)} rgba($pf-color-black-1000, .12)},  //
  box-shadow--inset:             #{inset 0 0 #{pfe-size-prem(10)} 0 $pf-color-black-100},  //

  animation-speed:               .3s,  //
  animation-timing:              cubic-bezier(0.465, 0.183, 0.153, 0.946),  //
  opacity:                       .09  //
);