$pfe-vars: (
  container-spacer:   16px,
  container-padding:  16px,
  content-spacer:     24px,

  line-height: 1.5,

  font-family: (
    default:  '"Overpass", Overpass, Helvetica, helvetica, arial, sans-serif',
    heading:  '"Overpass", Overpass, Helvetica, helvetica, arial, sans-serif',
    code:     '"Overpass Mono", Consolas, Monaco, 'Andale Mono', monospace'
  ),

  font-size: (
    default: 16px,
    heading: (
      alpha:    32px,
      beta:     24px,
      gamma:    21px,
      delta:    18px,
      epsilon:  16px,
      zeta:     14px
    )
  ),

  font-weight: (
    light:      300,
    normal:     500,
    semi-bold:  600,
    bold:       700
  ),

  surface: (
    border-width: (
      default:  1px,
      heavy:    4px
    ),
    border-style:         solid,
    border-radius:        3px
  ),

  icon-size:  1em,
  
  ui: (
    element: (
      size:        20px,
    ),
    border-width:         1px,
    border-style:         solid,
    border-radius:        2px,
    focus-outline-width:  1px,
    focus-outline-style:  solid
  ),

  grid-breakpoint: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
  ),

  box-shadow: (
    sm:     #{0  #{pfe-size-prem(1)}  #{pfe-size-prem(2)} 0 rgba($pfe-color--gray-1000, .2)},
    md:     #{0  #{pfe-size-prem(2)}  #{pfe-size-prem(1)} #{pfe-size-prem(1)} rgba($pfe-color--gray-1000, .12), 0  #{pfe-size-prem(4)}  #{pfe-size-prem(11)} #{pfe-size-prem(6)} rgba($pfe-color--gray-1000, .05)},
    lg:     #{0  #{pfe-size-prem(3)}  #{pfe-size-prem(7)} #{pfe-size-prem(3)} rgba($pfe-color--gray-1000, .13), 0  #{pfe-size-prem(11)}  #{pfe-size-prem(24)} #{pfe-size-prem(16)} rgba($pfe-color--gray-1000, .12)},
    inset:  #{inset 0 0 #{pfe-size-prem(10)} 0 $pfe-color--gray-50}
  ),

  animation-speed:  .3s,
  animation-timing: cubic-bezier(0.465, 0.183, 0.153, 0.946),
  opacity:          .3
);
