$pfe-typography-deprecated: (
  font-size:               pfe-var(base--text),
  
  font-size--xxl:          pfe-var(FontSize--5xl),
  font-size--xl:           pfe-var(FontSize--4xl),  
  font-size--alpha:        pfe-var(FontSize--3xl),  
  font-size--beta:         pfe-var(FontSize--2xl),  
  font-size--gamma:        pfe-var(FontSize--xl),  
  font-size--delta:        pfe-var(FontSize--lg),  
  font-size--epsilon:      pfe-var(FontSize--md),  
  font-size--zeta:         pfe-var(FontSize--sm),  

  font-size--default-lg:   pfe-var(FontSize--xl),        
  font-size--default-md:   pfe-var(FontSize--lg),   // %pfe-content
  font-size--default-sm:   pfe-var(FontSize--md),   
  font-size--default-xs:   pfe-var(FontSize--sm),   

);