$pfe-typography-base-deprecated: (


  base--heading:             #{pf-font-prem( 18.57px)},  
  base--heading-lg:          #{pf-font-prem( 21px   )},

  base--text--mobile:        #{pf-font-prem( 14.4px )},
  base--heading--mobile:     #{pf-font-prem( 17px   )},
  base--heading-lg--mobile:  #{pf-font-prem( 20px   )},
);

$pfe-typography-deprecated: (
  font-size--xxl:          calc( #{pfe-var(FontSize)} * 2.5 ), // #{$pf-global--FontSize--5xl},  // 40px / 2.5rem
  font-size--xl:           calc( #{pfe-var(FontSize)} * 2.25 ), // #{$pf-global--FontSize--4xl},  // 36px / 2.25rem
  font-size--alpha:        calc( #{pfe-var(FontSize)} * 1.875 ), // #{$pf-global--FontSize--3xl},  // 28px / 1.875rem
  font-size--beta:         calc( #{pfe-var(FontSize)} * 1.5 ), // #{$pf-global--FontSize--2xl},  // 24px / 1.5rem
  font-size--gamma:        calc( #{pfe-var(FontSize)} * 1.25 ), // #{$pf-global--FontSize--xl},   // 20px / 1.25rem
  font-size--delta:        calc( #{pfe-var(FontSize)} * 1.125 ), // #{$pf-global--FontSize--lg},   // 18px / 1.125rem
  font-size--epsilon:      calc( #{pfe-var(FontSize)} * 1 ), // #{$pf-global--FontSize--md},   // 16px / 1rem
  font-size--zeta:         calc( #{pfe-var(FontSize)} * 0.875 ), // #{$pf-global--FontSize--sm},   // 14px / 0.875rem
  font-size--default-lg:    #{$pf-global--FontSize--xl},   // 20px 
  font-size--default-md:    #{$pf-global--FontSize--lg},   // 18px 
  font-size--default:       #{$pf-global--FontSize--lg},   // 18px 
  font-size--default-sm:    #{$pf-global--FontSize--md},   // 18px 
  font-size--default-xs:    #{$pf-global--FontSize--sm},   // 14px
);


  // FontSize: pfe-var(FontSize),
  // heading: (
  //   FontSize: calc( pfe-var(FontSize) * 0.875 ),
  // ),