@import "../variables/variables";

$font-mobile: (
    base: (
        text:       16px,
        heading:    17px,
        heading-lg: 18px,
    ),
);

$font-desktop: (
    base: (
        text:       18px,
        heading:    20px,
        heading-lg: 25px,
    )
);

$font: (
    font-size: (
        // greek alphabet naming for headings                                // desktop:
        xxl:        calc(1.92  * var(--pfe-theme--base--heading-lg, 25px)), // 48       --pfe-theme--font-size--xxl
        xl:         calc(1.6  * var(--pfe-theme--base--heading-lg, 25px)),  // 40
        alpha:      calc(1.44 * var(--pfe-theme--base--heading-lg, 25px)),  // 36

        beta:       calc(1.4 * var(--pfe-theme--base--heading, 20px)),      // 28
        gamma:      calc(1.2 * var(--pfe-theme--base--heading, 20px)),      // 24
        delta:      20px,
        epsilon:    calc(0.9  * 20px),                                      // 18
        zeta:       calc(0.8  * 20px),                                      // 16      yes, this is smaller than <p> on desktop

        // default naming for body copy
        default-lg: calc(1.11 * var(--pfe-theme--base--text, 18px)),        // 20
        default:    var(--pfe-theme--base--text, 18px),                     // 18       --pfe-theme--font-size
        default-sm: 16px,
        default-xs: 14px,
    ),
    line-height: (
        xxl:      1.2,  //--pfe-theme--line-height--xxl
        xl:       1.2,  //--pfe-theme--line-height--xl
        alpha:    1.3,  //--pfe-theme--line-height--alpha
        beta:     1.3,  //--pfe-theme--line-height--beta
        gamma:    1.3,  //--pfe-theme--line-height--gamma
        delta:    1.5,  //--pfe-theme--line-height--delta
        epsilon:  1.5,  //--pfe-theme--line-height--epsilon
        zeta:     1.5,  //--pfe-theme--line-height--zeta
        eta:      1.5,  //--pfe-theme--line-height--eta
        default:  1.5,  //--pfe-theme--line-height
    ),
    font-weight: (
        xxl:      300,  //--pfe-theme--font-weight--xxl
        xl:       300,  //--pfe-theme--font-weight--xl
        alpha:    400,  //--pfe-theme--font-weight--alpha
        beta:     400,  //--pfe-theme--font-weight--beta
        gamma:    400,  //--pfe-theme--font-weight--gamma
        delta:    400,  //--pfe-theme--font-weight--delta
        epsilon:  400,  //--pfe-theme--font-weight--epsilon
        zeta:     400,  //--pfe-theme--font-weight--zeta
        eta:      400,  //--pfe-theme--font-weight--eta
        default:  400,  //--pfe-theme--font-weight
    ),
    font-family: (
        default: "\"RedHatText\", \"Overpass\", Overpass, Helvetica, Arial, sans-serif",    //--pfe-theme--font-family
        heading: "\"RedHatDisplay\", \"Overpass\", Overpass, Helvetica, Arial, sans-serif", //--pfe-theme--font-family--heading
        code:    "\"Overpass Mono\", Consolas, Monaco, Andale Mono, monospace"              //--pfe-theme--font-family--code
    )
);

$color--text: (
    default:   #151515, //--pfe-theme--color--text
    dark:      #fff,    //--pfe-theme--color--text--on-dark
    saturated: #eee     //--pfe-theme--color--text--on-saturated
);

$color--links: (
    default: (
        default: #0066cc,  //--pfe-theme--color--link
        hover:   #004080,  //--pfe-theme--color--link--hover
        focus:   #004080,  //--pfe-theme--color--link--focus
        visited: #0066cc,  //--pfe-theme--color--link--visited
    ),
    dark: (
        default: #73bcf7,  //--pfe-theme--color--link--on-dark
        hover:   #bee1f4,  //--pfe-theme--color--link--hover--on-dark
        focus:   #bee1f4,  //--pfe-theme--color--link--focus--on-dark
        visited: #73bcf7,  //--pfe-theme--color--link--visited--on-dark
    ),
    saturated: (
        default: #ffffff,  //--pfe-theme--color--link--on-saturated
        hover:   #fafafa,  //--pfe-theme--color--link--hover--on-saturated
        focus:   #fafafa,  //--pfe-theme--color--link--focus--on-saturated
        visited: #ffffff,  //--pfe-theme--color--link--visited--on-saturated
  )
);

$link-decoration: (
    default: (
        default: none,      //--pfe-theme--link--text-decoration
        hover:   underline, //--pfe-theme--link--text-decoration--hover
        focus:   underline, //--pfe-theme--link--text-decoration--focus
        visited: none       //--pfe-theme--link--text-decoration--visited
    ),
    dark: (
        default: none,      //--pfe-theme--link--text-decoration--on-dark
        hover:   underline, //--pfe-theme--link--text-decoration--hover--on-dark
        focus:   underline, //--pfe-theme--link--text-decoration--focus--on-dark
        visited: none       //--pfe-theme--link--text-decoration--visited--on-dark
    ),
    saturated: (
        default: underline, //--pfe-theme--link--text-decoration--on-saturated
        hover:   underline, //--pfe-theme--link--text-decoration--hover--on-saturated
        focus:   underline, //--pfe-theme--link--text-decoration--focus--on-saturated
        visited: underline  //--pfe-theme--link--text-decoration--visited--on-saturated
    )
);
//Defaults
$broadcasted: (
    text: #{var(--#{$prefix}-theme--color--text, #333)},
    link: #{var(--#{$prefix}-theme--color--link, #06c)},
    link--hover: #{var(--#{$prefix}-theme--color--link--hover, #003366)},
    link--focus: #{var(--#{$prefix}-theme--color--link--focus, #003366)},
    link--visited: #{var(--#{$prefix}-theme--color--link--visited, rebeccapurple)},
    link-decoration: none,
    link-decoration--hover: underline,
    link-decoration--focus: underline,
    link-decoration--visited: none
);
