$pfe-typography-deprecated: (
  font-size--xxl:     pfe-var(font-size--2xl),
  font-size--xl:      pfe-var(font-size--xl),  
  font-size--alpha:   pfe-var(font-size--lg),  
  font-size--beta:    pfe-var(font-size--md),  
  font-size--gamma:   pfe-var(font-size--sm),  
  font-size--delta:   pfe-var(font-size--sm),  
  font-size--epsilon: pfe-var(font-size--sm),  
  font-size--zeta:    pfe-var(font-size--sm),  

  font-size--default-lg:       pfe-var(font-size--lg),        
  font-size:                   pfe-var(font-size--md),   
  font-size--default-sm:       pfe-var(font-size--sm),   
  font-size--default-xs:       pfe-var(font-size--xs),   
);