<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <title>PatternFly Elements</title>
  <meta name="description"
    content="PatternFly Elements. A set of community-created web components based on PatternFly design.">
  <link href="/brand/logo/svg/pfe-icon-blue.svg" rel="shortcut icon">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700&family=Red+Hat+Text&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="../../elements/pfe-styles/dist/pfe-base.css" />
  <link rel="stylesheet" href="../../elements/pfe-styles/dist/pfe-layouts.css" />

  <noscript>
    <link href="../../elements/pfelement/dist/pfelement--noscript.min.css" rel="stylesheet">
  </noscript>

  <link href="../../elements/pfelement/dist/pfelement.min.css" rel="stylesheet">

  <link href="/brand/styles.css" rel="stylesheet">

  <!-- uncomment the es5-adapter if you're using the umd version -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/2.3.0/custom-elements-es5-adapter.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/2.3.0/webcomponents-bundle.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.5/require.min.js"></script>

  <script>
    require([
      '../../elements/pfe-band/dist/pfe-band.umd.min.js',
      '../../elements/pfe-jump-links/dist/pfe-jump-links.umd.min.js',
      '../../elements/pfe-card/dist/pfe-card.umd.min.js',
      '../../elements/pfe-cta/dist/pfe-cta.umd.min.js',
      '../../elements/pfe-accordion/dist/pfe-accordion.umd.min.js',
      '../../elements/pfe-markdown/dist/pfe-markdown.umd.min.js'
    ])

  </script>
  <style>
    @media (max-width: 991px) {
      pfe-jump-links-nav {
        width: 100%;
      }
    }

  </style>
</head>

<body unresolved>
  <header>
    <pfe-band color="accent" class="pfe-l--text-align--center">
      <div id="heading-section">
        <img class="logo" src="../brand/logo/svg/pfe-icon-white-shaded.svg" style="height: 4em;" />
        <h1 class="title">PatternFly Elements</h1>
        <p class="tagline">A set of community-created web components based on PatternFly design.</p>
      </div>
      <div class="header-ctas" slot="pfe-band--footer">
        <pfe-cta priority="primary">
          <a href="#examples">View the components</a>
        </pfe-cta>
        <pfe-cta priority="secondary">
          <a href="https://github.com/patternfly/patternfly-elements">View on GitHub</a>
        </pfe-cta>
      </div>
    </pfe-band>
  </header>
  <main>
    <pfe-jump-links-nav autobuild multi-select id="jumplinks1" sr-text="Previews" style="float: left; top: 0;">
      <h3 slot="pfe-jump-links-nav--heading">Test</h3>
    </pfe-jump-links-nav>
    <pfe-band color="lightest" style="--pfe-band--Width: 100%;">
      <pfe-jump-links-panel scrolltarget="jumplinks1" id="demos" offset="260"
        class="pfe-l-grid pfe-m-gutters pfe-m-all-3-col-on-xxl pfe-m-all-4-col-on-xl pfe-m-all-6-col-on-md pfe-m-all-6-col-on-sm"
        style="grid-row-gap: 60px; --pfe-jump-links-panel__section--spacer: 260px;">
        <%= components %>
      </pfe-jump-links-panel>
    </pfe-band>
  </main>
  <pfe-band>
    <pfe-accordion>
      <pfe-accordion-header>TODOs</pfe-accordion-header>
      <pfe-accordion-panel>
        <pfe-markdown>
          <div pfe-markdown-container><%= todo %></div>
        </pfe-markdown>
      </pfe-accordion-panel>
      <pfe-accordion-header>Pollyfills</pfe-accordion-header>
      <pfe-accordion-panel>
        <pfe-markdown>
          <div pfe-markdown-container><%= polyfill %></div>
        </pfe-markdown>
      </pfe-accordion-panel>
    </pfe-accordion>
  </pfe-band>
</body>

</html>
