%link-reset {
    color: inherit;
    text-decoration: none;
}
////////////////////////////////////////////////////////////
// For an overview on link styles, please see http://localhost:5001/sg/style_links
//  no underline on hover, except for desaturated theme
%basic-link {
    font-family: $base-font-family;
    text-decoration: none;
    @include themes( $map: default-link );
    &:active,
    &:hover {
        text-decoration: none;
        cursor: pointer;
        @include themes( $map: default-link-hover );
    }
    &:active,
    &:focus {
        @include accessibility-focus;
    }
    @include data-context( "theme~", desaturated) {
        @include underline( $color: default-link-hover-line );
    }
}
//  includes underline on hover
%default-link {
    @extend %basic-link;
    &:active,
    &:hover {
        @include underline( $color: default-link-hover-line );
    }
    @include data-context( "theme~", desaturated) {
        @include underline( $color: default-link-hover-line );;
    }
}

%inline-headline-link {
    text-decoration: none;
    color: inherit;
    &:active,
    &:hover {
        text-decoration: none;
        cursor: pointer;
        @include themes( $map: headline-link-hover );
    }
    &:active,
    &:focus {
        @include accessibility-focus( $color: default-link-hover );
    }
}

%inline-headline-link-with-link-color {
    font-family: $base-font-family;
    text-decoration: none;
    @include themes( $map: default-link );
    &:active,
    &:hover {
        text-decoration: none;
        cursor: pointer;
        @include themes( $map: headline-link-hover );
    }
    &:active,
    &:focus {
        @include accessibility-focus( $color: default-link-hover );
    }
}

%inline-headline-link-muted {
    text-decoration: none;
    color: inherit;
    &:hover {
        text-decoration: none;
        cursor: pointer;
        @include underline( $color: default-link-hover-line );
        @include themes( $map: default-link-hover );
    }
    &:active,
    &:focus {
        @include accessibility-focus;
    }
}
// TODO: remove this and the map colors, this is not being used:
%headline-link {
    font-family: $base-font-family;
    font-weight: 400;
    text-decoration: none;
    line-height: 1.2;
    @include themes( $map: headline-link );
    a:hover &,
    a:hover {
        text-decoration: none;
        cursor: pointer;
        @include themes( $map: headline-link-hover );
    }
    a:focus &,
    a:focus {
        @include accessibility-focus;
    }
}
// TODO: remove this and the map colors, this is not being used:
%demphasized-link {
    font-family: $base-font-family;
    text-decoration: none;
    @include themes( $map: demphasized-link );
    &:hover {
        text-decoration: none;
        cursor: pointer;
        @include themes( $map: demphasized-link-hover );
        @include underline( $color: demphasized-link-hover, $opacity: .6 );
    }
    &:active,
    &:focus {
        @include accessibility-focus;
    }
}

%footer-link {
    font-family: $base-font-family;
    text-decoration: none;
    font-weight: 400;
    font-size: .8em;
    @include themes( $map: footer-link );
    &:hover {
        text-decoration: none;
        cursor: pointer;
        @include underline( $color: footer-link-hover, $opacity: .6 );
    }
    &:active,
    &:focus {
        @include accessibility-focus;
    }
}

%tooltip-link {
    font-family: $base-font-family;
    text-decoration: none;
    @include themes( $map: default-link );
    &:hover {
        text-decoration: none;
        cursor: pointer;
        @include underline( $color: default-link-hover-line );
        @include themes( $map: default-link-hover );
    }
    &:active,
    &:focus {
        @include accessibility-focus;
    }
}

%social-icon-inline-link {
    @include rh-transition( color );
    @include themes( $map: social-icon-link );
    &:hover {
        text-decoration: none;
        cursor: pointer;
        @include themes( $map: social-icon-link-hover );
    }
    &:active,
    &:focus {
        @include accessibility-focus;
    }
}

%icon-embed-link {
    @include themes( $map: icon );
    &:hover {
        text-decoration: none;
        cursor: pointer;
        @include themes( $map: icon-hover );
    }
    &:focus {
        @include accessibility-focus;
    }
}

%cta-primary {
    @include make-button(
        $btn-color: cta-primary,
        $btn-text-color: cta-primary-text,
        $border-color: cta-primary-border,
        $btn-color-hover: cta-primary-hover,
        $btn-text-color-hover: cta-primary-text-hover,
        $border-color-hover: cta-primary-border-hover
    );
    @include eq-context(xsmall, small-teaser) {
        padding: pem(9) pem(20); // 8px 18px
    }
    @include eq-context(large-teaser) {
        padding: pem(8) pem(25);
    }
    @include eq-context(small, small-card) {
        padding: pem(9) pem(30); // 8px 35px;
    }
}

%cta-primary-disabled {
    @include make-button( $btn-color: cta-primary-disabled, $btn-text-color: cta-primary-text, $disabled: true );
    @include eq-context(xsmall) {
        padding: pem(9) pem(20); // 8px 18px
    }
    @include eq-context(small, small-card) {
        padding: pem(9) pem(30); // 8px 35px;
    }
}

%cta-secondary-link {
    @include rh-transition( color );
    @include themes( $map: cta-secondary-link );
    font-weight: 800;
    font-family: $base-font-family;
    font-size: pem(18);
    text-decoration: none;
    background: none; // Allows button tag to be used
    border: 0;
    &:hover {
        @include themes( $map: cta-secondary-link-hover );
        text-decoration: none;
        cursor: pointer;
        outline: 0; // Allows button tag to be used
    }
    &:active,
    &:focus {
        @include accessibility-focus;
    }
    &:after {
        content: "\25b6";
        margin-left: .5em;
        font-size: 50%;
        line-height: 100%;
        vertical-align: middle;
    }
}

%cta-secondary-link-before {
    @include rh-transition( color );
    @include themes( $map: cta-secondary-link );
    font-weight: 800;
    font-family: $base-font-family;
    font-size: pem(18);
    text-decoration: none;
    background: none; // Allows button tag to be used
    border: 0;
    &:hover {
        @include themes( $map: cta-secondary-link-hover );
        text-decoration: none;
        cursor: pointer;
        outline: 0; // Allows button tag to be used
    }
    &:active,
    &:focus {
        @include accessibility-focus;
    }
    &:after {
        content: "\25b6";
        margin-left: .5em;
        font-size: 50%;
        line-height: 100%;
        vertical-align: middle;
    }
}

%cta-tertiary-link {
    @include rh-transition( color );
    @include themes( $map: cta-tertiary-link );
    font-family: $base-font-family;
    font-weight: 100;
    font-size: pem(14);
    text-decoration: none;
    font-style: italic;
    background: none; // Allows button tag to be used
    border: 0;
    &:hover {
        @include themes( $map: cta-tertiary-link-hover );
        text-decoration: none;
        cursor: pointer;
        outline: 0; // Allows button tag to be used
    }
    &:active,
    &:focus {
        @include accessibility-focus;
    }
    &:after {
        content: "\25b6";
        margin-left: .5em;
        font-size: 50%;
        line-height: 100%;
        vertical-align: middle;
    }
}

%cta-tertiary-link-before {
    @include rh-transition( color );
    @include themes( $map: cta-tertiary-link );
    font-family: $base-font-family;
    font-weight: 100;
    font-size: pem(14);
    text-decoration: none;
    font-style: italic;
    background: none; // Allows button tag to be used
    border: 0;
    &:hover {
        @include themes( $map: cta-tertiary-link-hover );
        text-decoration: none;
        cursor: pointer;
        outline: 0; // Allows button tag to be used
    }
    &:active,
    &:focus {
        @include accessibility-focus;
    }
    &:before {
        content: "\25c0";
        margin-right: .5em;
        font-size: 50%;
        line-height: 100%;
        vertical-align: middle;
    }
}

%cta-ghost-button {
    cursor: pointer;
    @include make-button(
        $btn-color: transparent,
        $btn-text-color: cta-ghost-text,
        $border-color: cta-ghost-text,
        $btn-color-hover: cta-ghost-hover,
        $btn-text-color-hover: cta-ghost-text-hover
    );
    @include eq-context(xsmall, small-box, medium-box, small-teaser) {
        padding: pem(8) pem(20); // 8px 18px
    }
    @include eq-context(large-teaser) {
        padding: pem(8) pem(25);
    }
    @include eq-context(small, small-card) {
        padding: pem(8) pem(30); // 8px 35px;
    }
    // @todo: what is this for:
    @include data-context(cta-button, narrow) {
        padding: pem(9) pem(27);
    }
}

%cta-narrow-ghost-button {
    cursor: pointer;
    @include make-button(
        $btn-color: transparent,
        $btn-text-color: cta-ghost-text,
        $border-color: cta-ghost-text,
        $btn-color-hover: cta-ghost-hover,
        $btn-text-color-hover: cta-ghost-text-hover,
        $padding: pem(9) pem(27)
    );
}

%jump-link {
    font-family: $base-font-family;
    font-size: pem(15);
    font-weight: lighter;
    text-decoration: none;
    @include themes( $map: jump-link );
    &:hover {
        //@include themes( $map: jump-link-hover );
        text-decoration: none;
        cursor: pointer;
    }
    &:active,
    &:focus {
        @include accessibility-focus;
    }
}

%cta-medium-button {
    cursor: pointer;
    @include make-button( $btn-color: cta-medium-button );
}

%hash-link {
    text-decoration: none;
    color: inherit;
    @include get-web-icon(link, $position: after) {
        color: color(hash-link, icon);
        padding: ($fixed-header-offset + 30) 0 0 .3em;
        visibility: hidden;
    }
    @include data-context(align, right) {
        &:after {
            display: none;
        }
        @include get-web-icon(link, $position: before) {
            color: color(hash-link, icon);
            padding: ($fixed-header-offset + 30) .3em 0 0;
            visibility: hidden;
        }
    }
    &:hover {
        text-decoration: none;
        cursor: pointer;
        @include themes( $map: hash-link-hover );
        &:after,
        &:before {
            visibility: visible;
        }
    }
    &:active,
    &:focus {
        @include accessibility-focus;
    }
}
// Menu / navigational link styles
%nav-menu-link {
    font-family: $base-font-family;
    font-weight: 600;
    font-size: pem(18);
    text-decoration: none;
    line-height: 1.444;
    position: relative;
    @include themes( $map: nav-menu-link );
    @include breakpoint($breakpoint-sm-min) {
        font-size: pem(16);
    }
    @include breakpoint($breakpoint-md-min) {
        font-size: pem(18);
    }
    @include breakpoint($breakpoint-lg-min) {
        font-size: pem(20);
    }
    &:before {
        @include breakpoint($breakpoint-sm-min) {
            content: "";
            position: absolute;
            height: pem(3);
            width: pem(32);
            bottom: -.5em;
            @include themes( $map: nav-menu-link, $props: background-color );
        }
    }
    &:hover {
        text-decoration: none;
        cursor: pointer;
        @include breakpoint($breakpoint-sm-min) {
            &:before {
                background-color: color(nav-menu-link-hover);
            }
        }
    }
    &:active,
    &:focus {
        @include accessibility-focus;
    }
}

%nav-utility-link {
    display: flex;
    width: 100%;
    font-family: $base-font-family;
    font-weight: 100;
    font-size: pem(18);
    text-decoration: none;
    text-transform: none;
    line-height: 1.2;
    margin-top: 0;
    color: color(nav-utility-link);
    &:active,
    &:focus,
    &:hover {
        text-decoration: none;
        @include breakpoint($breakpoint-sm-min) {
            cursor: pointer;
            color: color(nav-utility-link-hover);
        }
    }
    @include breakpoint($breakpoint-sm-min) {
        display: inline-block;
        width: auto;
        color: color(nav-utility-link, mobile);
        font-weight: 700;
        text-transform: uppercase;
        font-size: pem(11);
        &:hover {
            color: color(nav-utility-link-hover, mobile);
        }
    }
}

%nav-back-link {
    font-family: $base-font-family;
    color: color(default-link);
    font-weight: 100;
    font-size: pem(14);
    text-decoration: none;
    &:before {
        content: "< ";
    }
    &:active,
    &:focus,
    &:hover {
        text-decoration: none;
        cursor: pointer;
        @include themes( $map: default-link-hover );
    }
}

%nav-utility-icon {
    @include themes( $map: nav-utility-icon, $props: fill );
    font-family: $base-font-family;
    text-decoration: none;
    line-height: 1;
    &:hover {
        @include themes( $map: nav-utility-icon-hover, $props: fill );
        text-decoration: none;
        cursor: pointer;
    }
    svg {
        width: 14px;
        height: auto;
        display: block;
    }
}

%nav-utility-icon-ui {
    svg {
        width: 25px;
        height: auto;
        max-height: 25px;
    }
    @include data(icon-type, web-icon-upload) {
        svg {
            display: none;
            @include data-context(menu, fixed) {
                display: block;
            }
        }
    }
    @include data(icon-type, web-icon-mobile-menu) {
        svg:first-child {
            display: block;
            @include data-context(state, open) {
                display: none;
            }
        }
        svg:last-child {
            display: none;
            @include data-context(state, open) {
                display: block;
                transform: rotate(45deg);
            }
        }
    }
}

%nav-utility-icon-text {
    font-family: $base-font-family;
    font-weight: 100;
    font-size: .9em;
    text-decoration: none;
    line-height: 1.444;
    color: color(nav-utility-icon-text);
    &:active,
    &:focus,
    &:hover {
        text-decoration: none;
        color: color(nav-utility-icon-text-hover);
    }
}

%skip-navigation {
    font-family: $base-font-family;
    font-weight: 800;
    color: color(skip-navigation);
    background-color: white;
    position: absolute;
    top: -1000px;
    left: -1000px;
    height: 1px;
    width: 1px;
    overflow: hidden;
    &:active,
    &:hover {
        text-decoration: none;
        cursor: pointer;
        left: calc(50% - 64px);
        top: 0;
        width: auto;
        height: auto;
        overflow: visible;
    }
    &:active,
    &:focus {
        @include accessibility-focus;
    }
}

%preview-link {
    @include themes( $map: preview-link );
    font-family: $base-font-family;
    text-decoration: none;
    font-weight: normal;
    font-size: pem(14, 18);
    overflow-wrap: break-word;
    word-wrap: break-word;
    &:hover {
        @include underline( $color: default-link-hover-line );
        @include themes( $map: preview-link );
        text-decoration: none;
    }
    &:active,
    &:focus {
        @include accessibility-focus;
    }
}

%tag-link {
    @extend %base;
    line-height: 1.44;
    font-weight: 100;
    font-size: pem(14);
    font-style: italic;
    text-decoration: none;
    @include themes( $map: tag-link );
    &:hover {
        @include themes( $map: tag-link-hover );
    }
    &:active,
    &:focus {
        @include accessibility-focus;
    }
}

%tag-box-link {
    text-decoration: none;
    font-style: normal;
    @include themes( $map: tag-box-link );
    &:hover {
        @include themes( $map: tag-box-link-hover );
    }
    &:active,
    &:focus {
        @include accessibility-focus;
    }
}

%icon-as-link {
    @extend %link-reset;
    &:hover,
    &:active,
    &:focus,
    &:active {
        cursor: pointer;
    }
}
