%row-single {
    padding: ($box-padding / 5) $box-padding;
}
%row-double {
    padding: ($box-padding / 2) $box-padding;
}
%row-triple {
    padding: $box-padding;
}

%label {
    font-family: $base-font-family;
    line-height: 1.44;
    font-weight: 600;
    font-size: .9em;
    text-transform: uppercase;
    color: color(table-label);
}
