@import "../../rh-sass/rh-sass";

:host {
  display: inline-block;
}

:host button {
  padding: 0 var(--rhe-theme--spacer, $rh-global--spacer);
  font-size: var(--rhe-theme--FontSize, $rh-global--FontSize);
  line-height: var(--rhe-theme--spacer--lg, $rh-global--spacer--lg);
  border: 1px solid transparent;
  cursor: pointer;

  border-radius: var(--rhe-theme--button-border--BorderRadius, $rh-global--button-border--BorderRadius);
  background: var(--rh-button--theme--default-color--Background, $rh-global--color--gray2);
  color: var(--rh-button--theme--default-color--Color, $rh-global--text-color);
}

:host button:hover {
  background: var(--rh-button--theme--default-color--hover--Background, $rh-global--color--gray4);
  color: var(--rh-button--theme--default-color--hover--Color, $rh-global--text-color);
}

:host(.primary) button {
  background: var(--rh-button--theme--primary-color--Background, $rh-global--ui-element-color);
  color: var(--rh-button--theme--primary-color--Color, $rh-global--color--white);
}

:host(.primary) button:hover {
  background: var(--rh-button--theme--primary-color--hover--Background, $rh-global--ui-element-color--hover);
  color: var(--rh-button--theme--primary-color--hover--Color, $rh-global--color--white);
}
