// ShadyCSS fallback styles
pfe-cta a {
  color: inherit !important;
  :not([pfe-variant="wind"]) > &:hover,
  :not([pfe-variant="wind"]) > &:focus {
    text-decoration: none !important;
  }
  &:focus {
    outline: none !important;
  }
}
