@import "../../pfe-sass/pfe-sass";

$LOCAL: cta;
 
$pfe-cta--BackgroundColor--focus: rgba(40, 151, 240, 0.2);
$pfe-cta--Color--fallback: #003366;

// Arrow animation
$horizontal-spacing: 3px;
$arrow-basic: 0 $horizontal-spacing;
$arrow-hover: 0 0 0 #{$horizontal-spacing * 2};

$LOCAL-VARIABLES: (
  Padding: 0.6rem 0,
  BorderRadius: 0,
  BackgroundColor: transparent,
  BackgroundColor--hover: transparent,
  BackgroundColor--focus: $pfe-cta--BackgroundColor--focus,
  BorderColor: transparent,
  BorderColor--hover: transparent,
  BorderColor--focus: transparent,
  Color: pfe-broadcasted(link),
  Color--hover: pfe-broadcasted(link--hover),
  Color--focus: pfe-broadcasted(link--focus),
  TextDecoration: none,
  TextDecoration--hover: none,
  TextDecoration--focus: none,
  FontWeight: pfe-var(font-weight--bold),
  FontFamily: pfe-var(font-family--heading),
  FontSize:   pfe-var(font-size),
  LineHeight: pfe-var(line-height),
  MaxWidth: max-content,
  arrow: (
    Display: inline,
    Padding: $arrow-basic,
    size: 13px,
    MarginLeft: calc(#{pfe-var(content-spacer)} * 0.25)
  ),
  inner: (
    BorderColor: transparent,
    BorderColor--hover: transparent,
    BorderColor--focus: transparent
  )
);

// Nested internal variables (pfe-local calls), maps cannot "self-reference"
$LOCAL-VARIABLES: map-deep-merge($LOCAL-VARIABLES, (
  FontSize--priority: calc(#{pfe-local(FontSize) / 1.125})
));

$primary: (
  // Button padding and border radius settings
  BorderRadius: pfe-var(ui--border-radius),

  BackgroundColor: pfe-var(ui-accent),
  BorderColor: pfe-var(ui-accent),
  Color: pfe-var(ui-accent--text),

  BackgroundColor--hover: pfe-var(ui-accent--hover),
  BorderColor--hover: pfe-var(ui-accent--hover),
  Color--hover: pfe-var(ui-accent--text),

  BackgroundColor--focus: pfe-var(ui-accent),
  BorderColor--focus: pfe-var(ui-accent),
  Color--focus: pfe-var(ui-accent--text),
  
  arrow: (Display: none),
  inner: (BorderColor--focus: pfe-var(ui-accent--text))
);

$primary-base: (
  BackgroundColor: pfe-var(ui-base),
  BorderColor: pfe-var(ui-base),
  Color: pfe-var(ui-base--text),

  BackgroundColor--hover: pfe-var(ui-base--hover),
  BorderColor--hover: pfe-var(ui-base--hover),
  Color--hover: pfe-var(ui-base--text),

  BackgroundColor--focus: pfe-var(ui-base),
  BorderColor--focus: pfe-var(surface--darker),
  Color--focus: pfe-var(ui-base--text),

  inner: (BorderColor--focus: pfe-var(ui-base--text))
);

$primary-complement: (
  BackgroundColor: pfe-var(ui-complement),
  BorderColor: pfe-var(ui-complement),
  Color: pfe-var(ui-complement--text),

  BackgroundColor--hover: pfe-var(ui-complement--hover),
  BorderColor--hover: pfe-var(ui-complement--hover),
  Color--hover: pfe-var(ui-complement--text),

  BackgroundColor--focus: pfe-var(ui-complement),
  BorderColor--focus: pfe-var(surface--darker),
  Color--focus: pfe-var(ui-complement--text),
  inner: (BorderColor--focus: pfe-var(ui-complement--text))
);

$primary-saturated: (
  BackgroundColor: pfe-var(surface--lightest),
  BorderColor: pfe-var(surface--lightest),
  Color: pfe-var(text),

  BackgroundColor--hover: pfe-var(surface--lighter),
  BorderColor--hover: pfe-var(surface--lighter),
  Color--hover: pfe-var(text),

  BackgroundColor--focus: pfe-var(surface--lightest),
  BorderColor--focus: pfe-var(surface--lightest),
  Color--focus: pfe-var(text),
  inner: (BorderColor--focus: pfe-var(surface--darkest)),
);

$secondary: (
  BorderRadius: pfe-var(ui--border-radius),
  BackgroundColor: transparent,
  BorderColor: pfe-broadcasted(text), //pfe-var(ui-complement)
  Color: pfe-broadcasted(text), //pfe-var(ui-complement)

  BackgroundColor--hover: pfe-var(ui-complement),
  BorderColor--hover: pfe-broadcasted(text), //pfe-var(ui-complement)
  Color--hover: pfe-var(ui-complement--text),

  BackgroundColor--focus: pfe-var(surface--lighter),
  BorderColor--focus: pfe-var(ui-complement),
  Color--focus: pfe-var(ui-complement),

  arrow: (Display: none),
  inner: (BorderColor--focus: pfe-var(ui-complement))
);

$secondary-accent: (
  BackgroundColor: transparent,
  BorderColor: pfe-var(ui-accent),
  Color: pfe-var(ui-accent),

  BackgroundColor--hover: pfe-var(ui-accent),
  BorderColor--hover: pfe-var(ui-accent),
  Color--hover: pfe-var(ui-accent--text),

  BackgroundColor--focus: pfe-var(surface--lighter),
  BorderColor--focus: pfe-var(ui-accent),
  Color--focus: pfe-var(ui-accent),

  inner: (BorderColor--focus: pfe-var(ui-accent)),
);

$secondary-base: (
  BackgroundColor: transparent,
  BorderColor: pfe-var(ui-base),
  Color: pfe-var(ui-base),

  BackgroundColor--hover: pfe-var(ui-base),
  BorderColor--hover: pfe-var(ui-base),
  Color--hover: pfe-var(ui-base--text),

  BackgroundColor--focus: $pfe-cta--BackgroundColor--focus, // @NOTE Definition at top of file
  BorderColor--focus: pfe-var(ui-base),
  Color--focus: pfe-var(ui-base),
  inner: (BorderColor--focus: pfe-var(ui-base))
);

$secondary-complement: (
  BackgroundColor: transparent,
  BorderColor: pfe-var(ui-complement),
  Color: pfe-var(ui-complement),

  BackgroundColor--hover: pfe-var(ui-complement),
  BorderColor--hover: pfe-var(ui-complement),
  Color--hover: pfe-var(ui-complement--text),

  BackgroundColor--focus: pfe-var(surface--lighter),
  BorderColor--focus: pfe-var(ui-complement),
  Color--focus: pfe-var(ui-complement),
  inner: (BorderColor--focus: pfe-var(ui-complement)),
);

$secondary-wind: (
  BackgroundColor: transparent,
  BorderColor: pfe-var(surface--border),
  Color: pfe-broadcasted(link),
  FontWeight: pfe-var(font-weight--normal),

  BackgroundColor--hover: pfe-var(surface--border--lightest),
  BorderColor--hover: pfe-var(surface--border),
  Color--hover: pfe-var(link--hover),
  TextDecoration--hover: pfe-var(link-decoration--hover),

  Color--focus: pfe-var(link--hover),
  BorderColor--focus: pfe-var(surface--border),
  inner: (BorderColor--focus: pfe-local(BorderColor--focus)),
);

$secondary-dark: (
  BackgroundColor: transparent,
  BorderColor: pfe-var(surface--lightest),
  Color: pfe-var(text--on-dark),

  BackgroundColor--hover: pfe-var(surface--lighter),
  BorderColor--hover: pfe-var(surface--lighter),
  Color--hover: pfe-var(text),

  BackgroundColor--focus: pfe-var(surface--lightest),
  BorderColor--focus: pfe-var(surface--lightest),
  Color--focus: pfe-var(text),
  inner: (BorderColor--focus: pfe-var(surface--darkest))
);

$disabled: (
  arrow: (Display: none),
  BackgroundColor: pfe-var(ui-disabled),
  BorderColor: pfe-var(ui-disabled),
  Color: pfe-var(ui-disabled--text),
  FontSize: pfe-local(FontSize--priority)
);

:host {
  display: inline-block;
  position: relative;
  z-index: 0;
  vertical-align: middle;

  max-width: pfe-local(MaxWidth);

  background-color: pfe-local(BackgroundColor);
  border-radius: pfe-local(BorderRadius);
  border: pfe-var(ui--border-width) pfe-var(ui--border-style) pfe-local(BorderColor);
}

::slotted(*) {
  white-space: normal; 
  display: inline; 
  padding: pfe-local(Padding) !important;
  color: pfe-local(Color) !important;
  font-family: pfe-local(FontFamily);
  font-size: pfe-local(FontSize);
  font-weight: pfe-local(FontWeight);
  line-height: pfe-local(LineHeight);
  text-decoration: pfe-local(TextDecoration) !important;
  
  cursor: pointer;

  @include browser-query(ie11 edge) {
    padding: 0 !important;
  }

  :host([pfe-priority]) & {
    text-align: center;
    font-size: pfe-local(FontSize--priority);
  }

  :host([aria-disabled="true"]) & {
    cursor: default !important;
  }
}

:host(:not([aria-disabled="true"]):focus),
:host(:not([aria-disabled="true"]).focus-within),
:host(:not([aria-disabled="true"]).focus-within) ::slotted(*),
:host(:not([aria-disabled="true"])) ::slotted(:focus) {
  outline: none !important;
}

::slotted(button),
::slotted(input) {
  @extend %reset-button;
}

.pfe-cta {
  &--wrapper {
    display: block; 
    white-space: nowrap;
    min-width: 100%;

    :host([pfe-priority]) &,
    :host([aria-disabled="true"]) & {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      height: 100%;
    }
    // Default CTA arrow wrap fix for Firefox
    :host(:not([pfe-priority]):not([aria-disabled="true"])) & {
      @include browser-query(firefox) {
        max-width: calc(100% - 1ch - #{pfe-local(size, $region: arrow)});
      }
    }
    @include browser-query(edge) {
      button,
      input {
        @extend %reset-button;
      }
    }
  }
  &--inner {
    // inner border on priority CTAs
    display: block;
    height: calc(100% - 4px);
    width: calc(100% - 4px);

    box-sizing: border-box;
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: -1;

    border: #{pfe-var(surface--border-width)} #{pfe-var(surface--border-style)}
      #{pfe-local(BorderColor, $region: inner)};
    border-radius: 2px;
    outline: none;

    :host(.focus-within) & {
      border-color: #{pfe-local($cssvar: BorderColor--focus, $region: inner)};
    }

    :host(:hover) & {
      border-color: #{pfe-local($cssvar: BorderColor--hover, $region: inner)};
    }
  }
  &--arrow {
    display: #{pfe-local(Display, $region: arrow)};
    padding: #{pfe-local(Padding, $region: arrow)};
    fill: #{pfe-local(Color)};
    width: #{pfe-local(size, $region: arrow)};
    height: #{pfe-local(size, $region: arrow)};
    transition: padding #{pfe-var(animation-speed)} #{pfe-var(animation-timing)};
    margin-bottom: -1px;
    :host(.focus-within) & {
      fill: #{pfe-local(Color--focus)};
    }

    :host(:hover) & {
      fill: #{pfe-local(Color--hover)};
    }

    @include browser-query(ie11 edge) {
      width: 18px;
    }
  }
}

// Set svg to none so it won't render in nav on iOS versions 12>
:host([pfe-priority]) svg {
  display: none;
}

:host([pfe-priority]),
:host([aria-disabled="true"]) {
  @include pfe-print-local((
    Padding: #{pfe-var(container-padding)} calc(#{pfe-var(container-padding)} * 2)
  ));
}

@include pfe-theme-contexts; // imports on="light" etc support

/// ===========================================================================
/// BELOW THIS POINT, LOCAL VARIABLE OVERRIDES ONLY

// Broadcast colors: The CTA is tuning into whatever colors the containers are offering up, per priority level

// - The location of these styles in the doc is important for clarity (readable code FTW!)
// - pfe-priority="primary" sets its own background colors, so it ignores broadcast
// - if there is no broadcast variable available, these are still seen by the browser, so we also set fallbacks here!
// - Fallback values should match whats above

:host([pfe-priority="secondary"]) {
  @include pfe-print-local($secondary);
}

/// ===========================================================================
/// PRIMARY CTAs
/// ===========================================================================
:host([pfe-priority="primary"]) {
  @include pfe-print-local($primary);
}

/// ===========================================================================
// COLOR ATTRIBUTE OVERRIDES
//
// Set values of local vars because more
// colors are needed than whats available in broadcast
/// ===========================================================================

/// ===========================================================================
/// COLOR=ACCENT
/// ===========================================================================
// Primary omitted because it already uses the accent color

:host(:not([pfe-priority]):not([aria-disabled="true"])[pfe-color="accent"]:not([on="saturated"])) {
  @include pfe-print-local((Color: pfe-var(ui-accent)));
}

:host([pfe-priority="secondary"][pfe-color="accent"]) {
  @include pfe-print-local($secondary-accent);
}

:host([pfe-priority="secondary"][pfe-color="accent"].focus-within) {
  @include pfe-print-local((Color--hover: pfe-var(ui-accent--text)));
}

/// ===========================================================================
/// COLOR=BASE
/// ===========================================================================

:host([pfe-priority="primary"][pfe-color="base"]) {
  @include pfe-print-local($primary-base);
}

:host([pfe-priority="secondary"][pfe-color="base"]) {
  @include pfe-print-local($secondary-base);
}

:host([pfe-priority="secondary"][pfe-color="base"].focus-within) {
  @include pfe-print-local((Color--hover: pfe-var(ui-base--text)));
}

/// ===========================================================================
/// COLOR=COMPLEMENT
/// ===========================================================================

:host(:not([pfe-priority]):not([aria-disabled="true"])[pfe-color="complement"]:not([on="dark"], [on="saturated"])) {
  @include pfe-print-local((
    Color: pfe-var(ui-complement),
    Color--hover: pfe-var(ui-complement--hover)
  ));
}

:host([pfe-priority="primary"][pfe-color="complement"]) {
  @include pfe-print-local($primary-complement);
}

:host([pfe-priority="secondary"][pfe-color="complement"]) {
  @include pfe-print-local($secondary-complement);
}

:host([pfe-priority="secondary"][pfe-color="complement"].focus-within) {
  @include pfe-print-local((Color--hover: pfe-var(ui-complement--text)));
}

/// ===========================================================================
/// WIND CTA VARIANTS
/// ===========================================================================

:host([pfe-priority="secondary"][pfe-variant="wind"]) {
  @include pfe-print-local($secondary-wind);
}

:host([pfe-priority="secondary"][pfe-variant="wind"].focus-within) {
  @include pfe-print-local((Color--hover: pfe-var(link--hover)));
}

/// ===========================================================================
/// CONTEXT CTA VARIANTS
/// ===========================================================================

:host([pfe-priority="secondary"][on="dark"]),
:host([pfe-priority="secondary"][on="saturated"]) {
  @include pfe-print-local($secondary-dark);
}

:host([pfe-priority="primary"][on="saturated"]),
:host([pfe-priority="primary"][pfe-color="complement"][on="dark"]) {
  @include pfe-print-local($primary-saturated);
}

/// ===========================================================================
/// DISABLED CTA VARIANTS
/// ===========================================================================

:host([aria-disabled="true"]) {
  @include pfe-print-local($disabled);
}


/// ===========================================================================
/// CTA STATES: HOVER, FOCUS
/// ===========================================================================
// Note: Focus states need to be defined before hover states
:host(:not([aria-disabled="true"]):focus),
:host(:not([aria-disabled="true"]).focus-within) {
  @include pfe-print-local((
    BackgroundColor: pfe-local(BackgroundColor--focus),
    BorderColor: pfe-local(BorderColor--focus),
    Color: pfe-local(Color--focus),
    TextDecoration: pfe-local(TextDecoration--focus)
  ));
}

// Note: Hover states need to be defined after focus states
:host(:not([aria-disabled="true"]):hover),
:host(:not([aria-disabled="true"])) ::slotted(:hover) {
  @include pfe-print-local((
    BackgroundColor: pfe-local(BackgroundColor--hover),
    BorderColor: pfe-local(BorderColor--hover),
    Color: pfe-local(Color--hover),
    TextDecoration: pfe-local(TextDecoration--hover),
    arrow: (Padding: $arrow-hover)
  ));
}