@import "../../pfe-sass/pfe-sass";
$LOCAL: cta;

/* IE + EDGE only */
[class^="pfe-cta"] {
    display: inline-block;
}

/*************************/
/** Set link tag styles for IE11 & EDGE **/

.pfe-cta--wrapper {
  a,
  a:visited {
      z-index: 1; // IE & Edge need this for the link to be clickable
      position: relative;
      padding: #{pfe-local($cssvar: Padding, $fallback: 16px 32px)} !important;
      font-family: #{pfe-var(font-family)};
      display: inline;
      color:  #{pfe-local($cssvar: Color, $fallback: #{pfe-color(link)})} !important;
      z-index: 1; // IE & Edge need this for the link to be clickable
      position: relative;
  }

  &:hover input,
  &:hover button,
  &:hover a,
  input:hover,
  button:hover,
  a:hover {
      color: #{pfe-local($cssvar: Color--hover, $fallback: #{pfe-color(link--hover)})} !important;
  }

  &:focus input,
  &:focus button,
  &:focus a,
  input:focus,
  button:focus,
  a:focus {
      color: #{pfe-local(
        $cssvar: Color--focus, $fallback: #{pfe-color(link--focus)},
      )} !important;
  }

  a:focus {
    outline: none !important;
    &::before {  // inner border on priority CTAs
      content: "";
      display: block;
      box-sizing: border-box;
      border: 1px solid;
      border-color: #{pfe-local(
        $cssvar: inner--BorderColor, $fallback: #{pfe-color(link--on-dark)},
      )};
      outline: none;
      position: absolute;
      top: 2px;
      left: 2px;
      bottom: 2px;
      right: 2px;
      border-radius: 2px;
    }

    .pfe-cta--arrow {
      fill: #{pfe-local(Color--focus)};
    }
  }
}

.pfe-cta--wrapper {
    padding: 0 !important;
}

[class^="pfe-cta"][class="PFElement"][pfe-priority], //ie11
[pfe-priority] .pfe-cta--wrapper {
  a,
  input {
    text-decoration: none;
  }
}

[class^="pfe-cta"][class="PFElement"][pfe-priority="secondary"] { //ie11
  background-color: #{pfe-local(
    $cssvar: BackgroundColor, $fallback: #{pfe-color(surface--lightest)}
  )};
}

[class^="pfe-cta"][class="PFElement"][pfe-priority="secondary"], //ie11
[pfe-priority="secondary"] .pfe-cta--wrapper {
  input,
  button,
  a {
      color: #{pfe-local($cssvar: Color, $fallback: #{pfe-color(text)})} !important;
  }

  &:hover input,
  &:hover button,
  &:hover a,
  input:hover,
  button:hover,
  a:hover {
      color: #{pfe-local($cssvar: Color--hover, $fallback: #{pfe-color(link--on-saturated)})} !important;
  }
}

@include browser-query(ie11) {
  pfe-cta.PFElement{
    button {
      background-color: transparent !important;
      border: none !important;
      margin: 0 !important;
      padding: 0 !important;
    }
    &[pfe-priority="primary"] {
      a, a:visited, a:focus, a:hover {
        color:  #{pfe-color(link--on-saturated)} !important;
      }
    }
    &[pfe-priority="primary"][pfe-color="lightest"],
    &[pfe-priority="secondary"][pfe-variant="wind"] {
      a, a:visited, a:focus, a:hover {
        color:  #{pfe-color(link)} !important;
      }
    }
    // This isn't working.. it's applying the green border to all links
    &:not([pfe-priority="primary"]),
    &:not([pfe-priority="secondary"]) {
        .pfe-cta--wrapper {
            padding: 0 !important;
            border: 3px dashed green;
        }
    }
  }
}
