@import "../../pfe-sass/pfe-sass";

$LOCAL: cta;

/// ===========================================================================
/// Component Specific SASS Vars
/// ===========================================================================

$pfe-cta__arrow-size:                        0.313em;

/// ===========================================================================
/// DEFAULT CTA
/// ===========================================================================
:host {
  --pfe-cta--main:                     #{pfe-apply-broadcast(ui-link)};
  --pfe-cta--main--hover:              #{pfe-apply-broadcast(ui-link--hover)};
  --pfe-cta--main--focus:              #{pfe-apply-broadcast(ui-link--focus)};
  --pfe-cta--main--visited:            #{pfe-apply-broadcast(ui-link--visited)};
  --pfe-cta--aux:                      transparent;
  --pfe-cta--aux--hover:               transparent;

  display: inline-block;
  font-weight: bold;

  ::slotted(a) {
    line-height: inherit;
    color: #{pfe-local(main)};
    transition: all #{pfe-var(animation-timing)};

    --pfe-broadcasted--color--ui-link: #{pfe-local(main)};

    &::after {
      display: block;
      margin-left: calc(#{pfe-var(content-spacer)} * 0.25); // 1/4 of the base `content-spacer`
      @include pfe-arrow(
        right,
        #{pfe-local(main)},
        $pfe-cta__arrow-size,
        $pfe-cta__arrow-size,
        true
      );
    }
  }

  // & ::slotted(a:visited) {
  //  color: #{pfe-local(main--visited)};
  //  &::after {
  //    @include pfe-arrow-color(#{pfe-local(main--visited)});
  //  }
  // }

  ::slotted(a:hover) {
    color: #{pfe-local(main--hover)};

    &::after {
      @include pfe-arrow-color(#{pfe-local(main--hover)});
    }
  }

  ::slotted(a:focus) {
    color: #{pfe-local(main--focus)};

    &::after {
      @include pfe-arrow-color(#{pfe-local(main--focus)});
    }
  }
}


/// ===========================================================================
/// Styles for "Button" CTAs
/// ===========================================================================
:host([priority="primary"]) {
  --pfe-cta--main:          #{pfe-color(ui-accent)};
  --pfe-cta--main--hover:   #{pfe-color(ui-accent--hover)};
  --pfe-cta--aux:           #{pfe-color(ui-accent--text)};
  --pfe-cta--aux--hover:    #{pfe-color(ui-accent--text--hover)};

  // @include pfe-set-broadcast(accent);

  ::slotted(a) {
    display: inline-block;
    padding: calc(#{pfe-var(container-padding)} * 0.5) calc(#{pfe-var(container-padding)} * 2);
    border-radius: calc(#{pfe-var(ui--border-radius)} * 20);
    border: #{pfe-var(ui--border-width)} #{pfe-var(ui--border-style)} transparent;
    text-decoration: none;
    line-height: 1.2;

    border-color:     #{pfe-local(main)};
    background-color: #{pfe-local(main)};
    color:            #{pfe-local(aux)};

    --pfe-broadcasted--color--ui-link: #{pfe-local(aux)};

    &::after {
      display: none;
    }
  }

  ::slotted(a:hover),
  ::slotted(a:focus) { // Not sure we can lump these together
    border-color:     #{pfe-local(main--hover)};
    background-color: #{pfe-local(main--hover)};
    color:            #{pfe-local(aux--hover)};

    --pfe-broadcasted--color--ui-link--hover: #{pfe-local(aux--hover)};
  }

  // & ::slotted(a:visited),   TBD

}

:host([priority="secondary"]) {
  --pfe-cta--main:          #{pfe-color(ui-base)};
  --pfe-cta--main--hover:   #{pfe-color(ui-base--hover)};
  --pfe-cta--aux:           #{pfe-color(ui-base--text)};
  --pfe-cta--aux--hover:    #{pfe-color(ui-base--text--hover)};

  // @include pfe-set-broadcast(base);

  ::slotted(a) {
    display: inline-block;
    padding: calc(#{pfe-var(container-padding)} * 0.5) calc(#{pfe-var(container-padding)} * 2);
    border-radius: calc(#{pfe-var(ui--border-radius)} * 20);
    border: #{pfe-var(ui--border-width)} #{pfe-var(ui--border-style)} #{pfe-local(main)};
    text-decoration: none;
    line-height: 1.2;

    border-color: #{pfe-local(main)};
    background:   #{pfe-local(aux)};
    color:        #{pfe-local(main)};

    --pfe-broadcasted--color--ui-link--hover: #{pfe-local(main)};

    &::after {
      display: none;
    }
  }

  ::slotted(a:hover), // Not sure we can lump these together
  ::slotted(a:focus) {
    border-color: #{pfe-local(main--hover)};
    background:   #{pfe-local(main--hover)};
    color:        #{pfe-local(aux--hover)};
    
    --pfe-broadcasted--color--ui-link--hover: #{pfe-local(aux--hover)};
  }

  // & ::slotted(a:visited),   TBD
}


/// ===========================================================================
/// COLOR OVERRIDE: BASE
/// ===========================================================================

:host([color="base"]) {
  --pfe-cta--main:        #{pfe-color(ui-base)};
  --pfe-cta--main--hover: #{pfe-color(ui-base--hover)};
  --pfe-cta--aux:         #{pfe-color(ui-base--text)};
  --pfe-cta--aux--hover:  #{pfe-color(ui-base--text--hover)};
}


/// ===========================================================================
/// COLOR OVERRIDE: COMPLEMENT
/// ===========================================================================

:host([color="complement"]) {
  --pfe-cta--main:        #{pfe-color(ui-complement)};
  --pfe-cta--main--hover: #{pfe-color(ui-complement--hover)};
  --pfe-cta--aux:         #{pfe-color(ui-complement--text)};
  --pfe-cta--aux--hover:  #{pfe-color(ui-complement--text--hover)};
}


/// ===========================================================================
/// COLOR OVERRIDE: ACCENT
/// ===========================================================================
:host([color="accent"]) {
  --pfe-cta--main:        #{pfe-color(ui-accent)};
  --pfe-cta--main--hover: #{pfe-color(ui-accent--hover)};
  --pfe-cta--aux:         #{pfe-color(ui-accent--text)};
  --pfe-cta--aux--hover:  #{pfe-color(ui-accent--text--hover)};
}
