:host {
  display: block;
}

:host(:focus)::part(radio){
  position: relative;
}

:host(:focus)::part(radio)::after {
  content: '';
  width: 15px;
  height: 15px;
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  border: 2px solid #0066cc;
  border-radius: 0.5rem;
}

/* Focus style for chrome */
:host(.pf-ch-radio:focus)::part(radio)::after{
  top: -3px;
  left: -3px;
  transform: translate(0,0);
}

/* Focus style for Firefox */
@-moz-document url-prefix() {
  :host(:focus)::part(radio){
    box-shadow: 0 0 0 2px #0066cc;
    border-radius: 8px;
  }
}
