:host {
  display: block;
}
input[type="radio"]:focus {
  outline: none;
  border-color: #0066cc;
}

.pf-radio-input:focus-visible {
  outline: none;
}

.pf-radio-input:focus-visible input[type="radio"] {
  outline: none;
  border-color: #0066cc;
}

input[type="radio"]:focus-visible {
  outline-color:#0066cc;
}