:host {
  display: block;
}

:host(:focus)::part(radio){
  position: relative;
}

:host(:focus)::part(radio)::after{
  content: '';
  width: 15px;
  height: 15px;
  position: absolute;
  display: block;
  top: -3px;
  left: -3px;
  background: transparent;
  border: 2px solid #0066cc;
  border-radius: 0.5rem;
}