:host {
  display: block;
}

.month-select-container {
  font-family: var(--rh-font-family-body-text, RedHatText, "Red Hat Text", "Noto Sans Arabic", "Noto Sans Hebrew", "Noto Sans JP", "Noto Sans KR", "Noto Sans Malayalam", "Noto Sans SC", "Noto Sans TC", "Noto Sans Thai", Helvetica, Arial, sans-serif);
  position: relative;
  width: 140px;
}

pf-button#date-picker-month-select {
  width: 140px;
  background: transparent;
  font-family: var(--rh-font-family-body-text, RedHatText, "Red Hat Text", "Noto Sans Arabic", "Noto Sans Hebrew", "Noto Sans JP", "Noto Sans KR", "Noto Sans Malayalam", "Noto Sans SC", "Noto Sans TC", "Noto Sans Thai", Helvetica, Arial, sans-serif);
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;
  height: 36px;
}

.date-month-select-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 92px;
  width: 36px;
  height: 34px;
}

div#date-picker-month-select-popup {
  width: 140px;
  background: var(--rh-color-white, #ffffff);
  box-shadow: 0 0.25rem 0.5rem 0 rgba(3, 3, 3, 0.12), 0 0 0.25rem 0 rgba(3, 3, 3, 0.06);
  position: absolute;
  top: 36px;
  left: 0;
  z-index: 1;
}

div#date-picker-month-select-popup ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  list-style: none;
  padding: 8px 0;
}

div#date-picker-month-select-popup pf-button {
  --pf-c-button--m-plain--Color: var(--rh-color-canvas-black, #151515);
  --pf-c-button--m-plain--hover--BackgroundColor: var(--rh-color-blue-50, #e7f1fa);
  
  width: 140px;
  margin-bottom: .125rem;
}

div#date-picker-month-select-popup pf-button {
  background: var(--rh-color-white, #ffffff);
  text-align: left;
  font-family: var(--rh-font-family-body-text, RedHatText, "Red Hat Text", "Noto Sans Arabic", "Noto Sans Hebrew", "Noto Sans JP", "Noto Sans KR", "Noto Sans Malayalam", "Noto Sans SC", "Noto Sans TC", "Noto Sans Thai", Helvetica, Arial, sans-serif);
  width: 140px;
  border-radius: 0;
  box-sizing: border-box;
}

div#date-picker-month-select-popup pf-button:hover {
  background:#f0f0f0;
}

pf-button:focus, pf-button:focus-visible {
  outline: var(--rh-color-accent-base-on-light, #0066cc) auto 2px;
}