@import "shared-assets";

// @include pfe-contexts; // imports pfe-g-context="light" etc support

:host {
  @include pfe-print-local($LOCAL-VARIABLES);
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  color: pfe-local(Color);

  @include browser-query(ie11) {
    background-color: pfe-fetch(surface--lightest) !important;
    color: pfe-fetch(text) !important;
  }
}

:host([pfe-g-context="dark"]) {
  @include pfe-print-local(pfe-accordion-variables($context: dark));
}

:host([pfe-g-context="saturated"]) {
  @include pfe-print-local(pfe-accordion-variables($context: saturated));
}

:host([pfe-c-disclosure="true"]) {
  $disclosure: pfe-accordion-variables($variant: disclosure);
  @include pfe-print-local($disclosure);
}
