// Import the base styles first
@import "../../pfe-collapse/src/pfe-collapse-panel.scss";

// Then layer the shared assets over it
@import "shared-assets";

/// ===========================================================================
/// ACCORDION PANEL
/// Styles sourced from: @patternfly/patternfly/components/Accordion/accordion.scss
/// then updated for pfe theming variables
/// ===========================================================================

:host {
  @include pfe-box-sizing;
  @include pfe-collapsible($state: closed);

  z-index: 0;

  margin: 0;
  padding: 0;

  background-color: pfe-local(BackgroundColor, transparent);
  color: pfe-local(Color);
  box-shadow: pfe-local(BoxShadow);

  // Border settings
  border-style: pfe-var(surface--border-style);
  border-color: pfe-local(BorderColor);
  border-width: pfe-local(BorderWidth);
  
  // No visible top border on the panel is necessary
  border-top-width: 0;
  border-bottom-width: 0;

  // Allows the headers to sit flush against each other
  // margin-bottom: calc(-1 * #{pfe-local(BorderWidth)});

  // Force IE11 to use white to prevent content from being un-readable
  @extend %fallback-surface;

  ::slotted(*) {
    // Ensure the box shadow does not propagate to nested accordions
    --pfe-accordion--BoxShadow: none;
  }
}

.pf-c-accordion__expanded-content {
  @extend %container;
  @include pfe-clearfix;

  // Note: inline-block is important for accomodating for inline
  // margin-top values inside the default slot
  display: inline-block;

  padding: pfe-local(Padding);

  :host([disclosure="true"]) & {
    padding: pfe-local(Padding, $region: panel-container, $fallback: 0 calc(#{pfe-var(container-padding)} * 3) calc(#{pfe-var(container-padding)}) calc(#{pfe-var(container-padding)} * 1.5));
  }

  // Allow opt-out of panel max-width via attribute or CSS variable
  :host(:not([full-width])) & {
    max-width: pfe-local(MaxWidth--content);
  }
}

.pf-c-accordion__accent-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  // Accent bar
  &::after {
    @include accent-bar(
      $direction: vertical,
      $offset: (
        bottom: calc(-1 * #{pfe-local(BorderWidth)}),
        left: calc(-1 * #{pfe-local(BorderWidth)})
      ),
      $thickness: pfe-local(accent--width),
      $color: pfe-local(accent--expanded) // defaults to transparent
    );
    z-index: calc(#{pfe-local(ZIndex)} + 1);
  }
}

/// ===========================================================================
/// EXPANDED STYLES
/// ===========================================================================

:host([expanded]:not(.animating)) {
  @include pfe-collapsible($state: open);
  margin-bottom: 0;
  border-bottom-width: pfe-local(BorderWidth);
}

// Same styles as the header, see shared-assets
@include pfe-accordion--expanded();