// NOTE: pfe-accordion uses shared styles that can be found in `pfe-sass/mixins/_components.scss`
@import "../../pfe-sass/pfe-sass";

$LOCAL: accordion;

@include pfe-theme-contexts; // imports on="light" etc support

:host {
  @include pfe-accordion-variables;

  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  color: #{pfe-local(Color)};

  @include browser-query(ie11) {
    background-color: #{pfe-color(surface--lightest)} !important;
    color: #{pfe-color(text)} !important;
  }
}

@each $context in $THEMES {
  :host([on="#{$context}"]) {
    @include pfe-accordion-variables($theme: #{$context});
  }
}

:host([pfe-disclosure="true"]) {
  @include pfe-accordion-variables($variant: disclosure);
}
