@import "shared-assets";

// @include pfe-theme-contexts; // imports on="light" etc support

:host {
  @include pfe-print-local($LOCAL-VARIABLES);
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  color: pfe-local(Color);

  @include browser-query(ie11) {
    background-color: pfe-fetch(surface--lightest) !important;
    color: pfe-fetch(text) !important;
  }
}

@each $context in $THEMES {
  @if $context != light {
    :host([on="#{$context}"]) {
      $context: pfe-accordion-variables($theme: #{$context});
      @include pfe-print-local($context);
    }
  }
}

:host([pfe-disclosure="true"]) {
  $disclosure: pfe-accordion-variables($variant: disclosure);
  @include pfe-print-local($disclosure);
}
