@import "shared-assets";

/// ===========================================================================
/// DEFAULT ACCORDION PANEL
/// ===========================================================================

:host {
   @include pfe-collapsible($state: closed);
   @include pfe-accordion-props;
   @include pfe-box-sizing;
   box-sizing: border-box;
}

:host(.animating) {
  display: block;
  transition: height 0.3s ease-in-out;
}

.container {
  @include pfe-clearfix;
  @include pfe-panel-container;
  padding: pfe-local(Padding, $region: panel-container, $fallback: 0 pfe-local(Padding, $region: panel, $fallback: calc(#{pfe-local(Padding, $region: base)} * 3)) pfe-local(Padding, $region: base) pfe-local(Padding, $region: panel, $fallback: calc(#{pfe-local(Padding, $region: base)} * 1.5)));
  :host([disclosure="true"]) & {
    padding: pfe-local(Padding, $region: panel-container, $fallback: pfe-local(Padding, $region: panel, $fallback: calc(#{pfe-local(Padding, $region: base)} * 1.5)));
  }
  pfe-jump-links-nav & {
    padding: pfe-local(Padding, $region: panel-container, $fallback: 0);
    --pfe-accordion__panel-container--Padding: 0;
    @media (max-width: pfe-breakpoint(md, $max: true)) {
      padding: pfe-local(Padding, $region: panel-container, $fallback: 0);
    }
  }
}

:host(:last-of-type[expanded]) {
  margin-bottom: 0;
}

/// ===========================================================================
/// EXPANDED STYLES
/// ===========================================================================

:host([expanded]),
:host(.animating) {
  @include pfe-print-local(pfe-accordion-variables($state: expanded));
  @include pfe-panel-variables;
  @include pfe-collapsible($state: open);
  @include browser-query(ie11) {
    border-top-width: 0;
    border-left-color: pfe-var(ui-accent);
    border-right-color: pfe-var(surface--border);
  }
}

:host([on="dark"][expanded]),
:host([on="dark"].animating){
  @include pfe-print-local(pfe-accordion-variables($state: expanded, $context: dark));
  @include pfe-panel-variables($context: dark);
}

:host([on="saturated"][expanded]),
:host([on="saturated"].animating){
  @include pfe-print-local(pfe-accordion-variables($state: expanded, $context: saturated));
  @include pfe-panel-variables($context: saturated);
}
