// NOTE: pfe-accordion uses shared styles that can be found in `pfe-sass/mixins/_components.scss`
@import "../../pfe-sass/pfe-sass";

$LOCAL: accordion;

/// ===========================================================================
/// DEFAULT ACCORDION HEADING
/// ===========================================================================
:host {
  transition: transform 0.3s #{pfe-var(animation-timing)};
  display: block;

  // Shadow template styles
  > * {
    margin: 0;
  }
}
 
button {
  @include pfe-trigger;

  &[aria-expanded="true"]::after {
    @include pfe-chevron($state: open);
  }

  &[aria-expanded="false"]::after {
      @include pfe-chevron($state: closed);
  }

  // @TODO workaround, can we get the variables working?
  @include browser-query(edge) {
    text-align: left;
  }

  @include browser-query(ie11) {
    &:hover {
      border-left-color: #{pfe-color(ui-base)};
    }
  }
}

// Add border bottom to the last button in an accordion set.
:host(:last-of-type) button:not([aria-expanded="true"]) {
  @include pfe-trigger-last;
}

/// ===========================================================================
/// EXPANDED STYLES
/// ===========================================================================

// Default styles
button[aria-expanded="true"] {
  @include pfe-accordion-variables($state: expanded);
  @include browser-query(ie11) {
    border-bottom-width: 0;
    border-left-color: #{pfe-color(ui-base)};
  }
}

// Styles contextual to theme
@each $context in $THEMES {
  :host([on="#{$context}"]) button[aria-expanded="true"] {
    @include pfe-accordion-variables($state: expanded, $theme: #{$context});
  }
}
