:host {
  display: block;
}

rh-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;

  h4 {
    margin-top: 0;
    flex: 1 1 auto;
  }

  a {
    color: #06c;
    text-decoration: none;
    font-weight: 700;
  }

  span {
    font-size: .9rem;
    font-weight: 400;
  }
}

@media(min-width: 768px) {
  .card-container {
    display: flex;

    rh-card {
      width: 33%;
      margin: 16px;
      margin-top: 8px;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
