// Please see the pfe-sass README for guidance on using these tools
@import "../../pfe-sass/pfe-sass";
@import "../../pfe-navigation/src/sass-includes/variables-mixins";

// Piggy backing off of all pfe-navigation styles
$LOCAL: navigation;

// Example local variable, using BEM format
// --pfe-navigation-account__region--Property: value;


:host {
  // Avoid printing local variables on host, instead use the pfe-local() function to set property values
  // Example: color: pfe-local(Color);
  display: block;
}

:host([hidden]) {
  display: none;
}

.pfe-navigation__dropdown {
  $mobile-padding: pfe-local('full-width--spacing--mobile', $region: 'dropdown');
  @include pfe-navigation__dropdown-layout--mobile;
  // @note @supports prevents IE11 bugs
  @supports (display: flex) {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  margin-left: auto;
  margin-right: auto;
  padding: $mobile-padding;
  font-size: pfe-var(FontSize--md);
  color: pfe-local(Color, $region: dropdown);
  background: pfe-local(Background, $region: dropdown);
  @include breakpoint('secondary-links-expand') {
    padding: 24px pfe-local('full-width--spacing--desktop', $region: 'dropdown');

    // @note prevents IE11 from using it's buggy grid implementation
    @supports (display: grid) {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 0 pfe-local(gutter);
      grid-auto-flow: row;
      column-count: auto;
    }
  }
  @include breakpoint('nav-expand') {
    // @note prevents IE11 from using it's buggy grid implementation
    @supports (display: grid) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 0 pfe-local(gutter);
    }
    padding: 48px 32px;
  }
  @include collapse('secondary-links') {
    @include pfe-navigation__dropdown-layout--mobile;
  // @note @supports prevents IE11 bugs
  @supports (display: flex) {
      display: flex;
      flex-direction: column;
    }
    padding: $mobile-padding;
    gap: 0;
  }

  &[class] { // Override mixin with specificity
    width: auto;
  }

  ul,
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  @include pfe-navigation__dropdown-content-styling;
}

.user-info[class] {
  $mobile-margin-bottom: 24px;
  $avatar-size: 64px;
  order: -10;
  position: relative;
  min-height: $avatar-size;
  margin-bottom: $mobile-margin-bottom;
  // Avatar size + margin from design
  padding-left: ($avatar-size + 12px);
  font-size: pfe-var(FontSize--lg);
  @include breakpoint('secondary-links-expand') {
    margin-bottom: 32px;
    // @note prevents IE11 from using it's buggy grid implementation
    @supports (display: grid) {
      grid-column: 1 / 3;
    }
  }
  @include collapse('secondary-links') {
    margin-bottom: $mobile-margin-bottom;
  }

  .pfe-navigation-account--in-crusty-browser &.style-scope {
    padding-left: ($avatar-size + 12px)!important;
  }

  pfe-avatar {
    position: absolute;
    top: 0;
    left: 0;
    width: $avatar-size;
    height: $avatar-size;
    border-radius: 50%;
    overflow: hidden;
    background: rgba(122, 122, 122, 0.2);
  }

  .user-info__edit-avatar {
    font-size: pfe-var(FontSize--md);
    text-decoration: none;
    color: pfe-local(link--Color, $region: 'dropdown');

    &:hover,
    &:focus {
      color: pfe-local(link--Color--hover, $region: 'dropdown');
    }
  }
}

.account-links {
  font-size: pfe-var(FontSize--sm);
  // @note prevents IE11 from using it's buggy grid implementation
  @supports (display: grid) {
    grid-row: 2;
    grid-column: 1 / 3;
  }
  @include breakpoint('secondary-links-expand') {
    // @note prevents IE11 from using it's buggy grid implementation
    @supports (display: grid) {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: pfe-local(gutter);
      grid-auto-flow: row;
    }
  }
  @include collapse('secondary-links') {
    display: block;
  }

  li {
    $mobile-margin-bottom: (8 / 14 * 1em);
    margin-bottom: $mobile-margin-bottom;
    max-width: (270 / 14 * 1em); // This width requested by Allie Jacobs
    @include breakpoint('secondary-links-expand') {
      margin-bottom: (21 / 14 * 1em);
    }
    @include collapse('secondary-links') {
      margin-bottom: $mobile-margin-bottom;
    }
  }

  &[class] a {
    text-decoration: none;

    &:hover,
    &:focus {
      color: pfe-local(link--Color--hover, $region: 'dropdown');
      text-decoration: none;
    }
  }

  .account-link__title[class] {
    font-size: (16 / 14 * 1em);
    color: pfe-local(link--Color, $region: 'dropdown');
    @include breakpoint('secondary-links-expand') {
      margin-bottom: 8px;
    }
    @include collapse('secondary-links') {
      margin-bottom: 0;
    }
  }

  a:hover,
  a:focus {
    .account-link__title {
      text-decoration: underline;
    }
  }

  .account-link__description {
    display: none;
    color: pfe-local(Color--secondary, $region: 'dropdown');
    @include breakpoint('secondary-links-expand') {
      display: block;
    }
    @include collapse('secondary-links') {
      display: none;
    }
  }
}

.account-metadata {
  @include breakpoint('secondary-links-expand') {
    // @note prevents IE11 from using it's buggy grid implementation
    @supports (display: grid) {
      grid-row: 1 / span 2;
    }
    // Column seems to be unnecessary, but haven't cross browser tested
    // grid-column: 3;
  }
}

.account-metadata--mobile {
  order: -5;
  display: block;
  margin-bottom: 24px;
  @include breakpoint('secondary-links-expand') {
    display: none;
  }
  @include collapse('secondary-links') {
    display: block;
  }
}

.account-metadata__login-name,
.account-metadata__org-admin,
.account-metadata__organization,
.account-metadata__account-number,
.account-metadata__email {
  // Hide these at mobile, unless they're in the mobile account-metadata wrapper
  display: none;
  @include breakpoint('secondary-links-expand') {
    display: block;
  }
  @include collapse('secondary-links') {
    display: none;
  }

  .account-metadata--mobile & {
    display: block;
  }
}

.account-metadata__login-name[class] {
  font-size: pfe-var(FontSize--md);
  margin-bottom: (24 / 16 * 1em);

  .account-metadata--org-admin & {
    margin-bottom: (8 / 16 * 1em);
  }
}

.account-metadata__organization,
.account-metadata__account-number,
.account-metadata__org-admin {
  &[class] {
    font-size: pfe-var(FontSize--sm);
    color: pfe-local(Color--secondary, $region: 'dropdown');
  }
}

.account-metadata__org-admin {
  margin-bottom: (24 / 14 * 1em);
}

.account-metadata__email[class] {
  margin-top: (24 / 16 * 1em);
}

.account-metadata__logout-wrapper {
  margin-top: (48 / 16 * 1em);
  padding: (48 / 16 * 1em) 0 24px;
  border-top: pfe-local('separator--Border', $region: 'dropdown');

  &[class] a {
    padding: (6 / 16 * 1em) (16 / 16 * 1em);
    color: pfe-local('Color--on-highlight', $region: 'dropdown');
    background: pfe-local('highlight-color', $region: 'dropdown');
    text-decoration: none;
    border-radius: 3px;

    &:hover,
    &:focus {
      // @todo need a good hover state
    }
  }
}

//-- Custom styles applied by attributes
// @each $option in () {
//   :host([pfe-login-link="#{$option}"]) {
//     // Add styles here
//   }
// }

// @each $option in () {
//   :host([pfe- logout-link="#{$option}"]) {
//     // Add styles here
//   }
// }

// @each $option in () {
//   :host([pfe- avatar-url="#{$option}"]) {
//     // Add styles here
//   }
// }

// @each $option in () {
//   :host([pfe- full-name="#{$option}"]) {
//     // Add styles here
//   }
// }

