:host {
  display: grid;
  align-items: center;
  padding-inline-start: calc(50px * var(--_pf-table--expandable-rows, 0));
}

::slotted(*) {
  height: 100%;
}

@media (min-width: 768px) {
  :host {
    /* TODO: provide ability to override */
    grid-template-columns: repeat(var(--_pf-table--number-of-columns), 1fr);
    border-bottom: 1px solid #d2d2d2;
  }
}

#container {
  display: contents;
}

:host([expandable]) {
  grid-auto-flow: row;
  grid-template-columns: auto;
  padding: 0 1.5rem;
}
