@import "node_modules/@rhelements/cp-sass/cp-sass";
:host {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
}

:host(cp-accordion[data-theme="striped"]) ::slotted(cp-accordion-heading.even) {
  background-color: var(--white, white);
}
