:host {
  --pfe-card--PaddingTop: calc(var(--pfe-theme--container-spacer, 16px) * 2);
  --pfe-card--PaddingRight: calc(var(--pfe-theme--container-spacer, 16px) * 2);
  --pfe-card--PaddingBottom: calc(var(--pfe-theme--container-spacer, 16px) * 2);
  --pfe-card--PaddingLeft: calc(var(--pfe-theme--container-spacer, 16px) * 2);
  --pfe-card--Padding: var(--pfe-card--PaddingTop) var(--pfe-card--PaddingRight) var(--pfe-card--PaddingBottom) var(--pfe-card--PaddingLeft);
  --pfe-card--spacing: var(--pfe-theme--container-spacer, 16px);
  --pfe-card--BorderRadius: var(--pfe-theme--surface--border-radius, 3px);
  --pfe-card--Border: var(--pfe-card--BorderWeight, 0) var(--pfe-card--BorderStyle, solid) var(--pfe-card--BorderColor, transparent);
  --pfe-card--BackgroundColor: var(--pfe-theme--color--surface--base, #dfdfdf);
  --pfe-card--BackgroundPosition: center center;
  --pfe-broadcasted--color--text:               var(--pfe-theme--color--surface--base--text, #333);
  --pfe-broadcasted--color--ui-link:            var(--pfe-theme--color--surface--base--link, #00538c);
  --pfe-broadcasted--color--ui-link--visited:   var(--pfe-theme--color--surface--base--link--visited, #7551a6);
  --pfe-broadcasted--color--ui-link--hover:     var(--pfe-theme--color--surface--base--link--hover, #00305b);
  --pfe-broadcasted--color--ui-link--focus:     var(--pfe-theme--color--surface--base--link--focus, #00305b);
  --pfe-card__header--BackgroundColor: rgba(45, 45, 45, var(--pfe-theme--opacity, 0.3));
  --pfe-card__header--Color:           var(--pfe-broadcasted--color--text);
  --pfe-card--padding:      var(--pfe-card--Padding);
  --pfe-card--bg:           var(--pfe-card--BackgroundColor);
}

:host([pfelement]) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: flex-start;
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
          align-self: stretch;
  padding: var(--pfe-card--Padding);
  border: var(--pfe-card--Border);
  border-radius: var(--pfe-card--BorderRadius);
  overflow: hidden;
  background-color: var(--pfe-card--BackgroundColor);
  background-position: var(--pfe-card--BackgroundPosition);
  color: var(--pfe-broadcasted--color--text);
}

:host([color="dark"]),
:host([pfe-color="dark"]) {
  --pfe-card--BackgroundColor:                  var(--pfe-theme--color--surface--darker, #464646);
  --pfe-broadcasted--color--text:               var(--pfe-theme--color--surface--darker--text, #fff);
  --pfe-broadcasted--color--ui-link:            var(--pfe-theme--color--surface--darker--link, #99ccff);
  --pfe-broadcasted--color--ui-link--visited:   var(--pfe-theme--color--surface--darker--link--visited, #b38cd9);
  --pfe-broadcasted--color--ui-link--hover:     var(--pfe-theme--color--surface--darker--link--hover, #cce6ff);
  --pfe-broadcasted--color--ui-link--focus:     var(--pfe-theme--color--surface--darker--link--focus, #cce6ff);
}

:host([color="darker"]),
:host([pfe-color="darker"]) {
  --pfe-card--BackgroundColor:                  var(--pfe-theme--color--surface--darker, #464646);
  --pfe-broadcasted--color--text:               var(--pfe-theme--color--surface--darker--text, #fff);
  --pfe-broadcasted--color--ui-link:            var(--pfe-theme--color--surface--darker--link, #99ccff);
  --pfe-broadcasted--color--ui-link--visited:   var(--pfe-theme--color--surface--darker--link--visited, #b38cd9);
  --pfe-broadcasted--color--ui-link--hover:     var(--pfe-theme--color--surface--darker--link--hover, #cce6ff);
  --pfe-broadcasted--color--ui-link--focus:     var(--pfe-theme--color--surface--darker--link--focus, #cce6ff);
}

:host([color="darkest"]),
:host([pfe-color="darkest"]) {
  --pfe-card--BackgroundColor:                  var(--pfe-theme--color--surface--darkest, #131313);
  --pfe-broadcasted--color--text:               var(--pfe-theme--color--surface--darkest--text, #fff);
  --pfe-broadcasted--color--ui-link:            var(--pfe-theme--color--surface--darkest--link, #99ccff);
  --pfe-broadcasted--color--ui-link--visited:   var(--pfe-theme--color--surface--darkest--link--visited, #b38cd9);
  --pfe-broadcasted--color--ui-link--hover:     var(--pfe-theme--color--surface--darkest--link--hover, #cce6ff);
  --pfe-broadcasted--color--ui-link--focus:     var(--pfe-theme--color--surface--darkest--link--focus, #cce6ff);
}

:host([color="light"]),
:host([pfe-color="light"]) {
  --pfe-card--BackgroundColor:                  var(--pfe-theme--color--surface--lighter, #ececec);
  --pfe-broadcasted--color--text:               var(--pfe-theme--color--surface--lighter--text, #333);
  --pfe-broadcasted--color--ui-link:            var(--pfe-theme--color--surface--lighter--link, #06c);
  --pfe-broadcasted--color--ui-link--visited:   var(--pfe-theme--color--surface--lighter--link--visited, rebeccapurple);
  --pfe-broadcasted--color--ui-link--hover:     var(--pfe-theme--color--surface--lighter--link--hover, #003366);
  --pfe-broadcasted--color--ui-link--focus:     var(--pfe-theme--color--surface--lighter--link--focus, #003366);
}

:host([color="lighter"]),
:host([pfe-color="lighter"]) {
  --pfe-card--BackgroundColor:                  var(--pfe-theme--color--surface--lighter, #ececec);
  --pfe-broadcasted--color--text:               var(--pfe-theme--color--surface--lighter--text, #333);
  --pfe-broadcasted--color--ui-link:            var(--pfe-theme--color--surface--lighter--link, #06c);
  --pfe-broadcasted--color--ui-link--visited:   var(--pfe-theme--color--surface--lighter--link--visited, rebeccapurple);
  --pfe-broadcasted--color--ui-link--hover:     var(--pfe-theme--color--surface--lighter--link--hover, #003366);
  --pfe-broadcasted--color--ui-link--focus:     var(--pfe-theme--color--surface--lighter--link--focus, #003366);
}

:host([color="lightest"]),
:host([pfe-color="lightest"]) {
  --pfe-card--BackgroundColor:                  var(--pfe-theme--color--surface--lightest, #fff);
  --pfe-broadcasted--color--text:               var(--pfe-theme--color--surface--lightest--text, #333);
  --pfe-broadcasted--color--ui-link:            var(--pfe-theme--color--surface--lightest--link, #06c);
  --pfe-broadcasted--color--ui-link--visited:   var(--pfe-theme--color--surface--lightest--link--visited, rebeccapurple);
  --pfe-broadcasted--color--ui-link--hover:     var(--pfe-theme--color--surface--lightest--link--hover, #003366);
  --pfe-broadcasted--color--ui-link--focus:     var(--pfe-theme--color--surface--lightest--link--focus, #003366);
}

:host([color="complement"]),
:host([pfe-color="complement"]) {
  --pfe-card--BackgroundColor:                  var(--pfe-theme--color--surface--complement, #0477a4);
  --pfe-broadcasted--color--text:               var(--pfe-theme--color--surface--complement--text, #fff);
  --pfe-broadcasted--color--ui-link:            var(--pfe-theme--color--surface--complement--link, #99ccff);
  --pfe-broadcasted--color--ui-link--visited:   var(--pfe-theme--color--surface--complement--link--visited, #b38cd9);
  --pfe-broadcasted--color--ui-link--hover:     var(--pfe-theme--color--surface--complement--link--hover, #cce6ff);
  --pfe-broadcasted--color--ui-link--focus:     var(--pfe-theme--color--surface--complement--link--focus, #cce6ff);
}

:host([color="accent"]),
:host([pfe-color="accent"]) {
  --pfe-card--BackgroundColor:                  var(--pfe-theme--color--surface--accent, #fe460d);
  --pfe-broadcasted--color--text:               var(--pfe-theme--color--surface--accent--text, #fff);
  --pfe-broadcasted--color--ui-link:            var(--pfe-theme--color--surface--accent--link, #99ccff);
  --pfe-broadcasted--color--ui-link--visited:   var(--pfe-theme--color--surface--accent--link--visited, #b38cd9);
  --pfe-broadcasted--color--ui-link--hover:     var(--pfe-theme--color--surface--accent--link--hover, #cce6ff);
  --pfe-broadcasted--color--ui-link--focus:     var(--pfe-theme--color--surface--accent--link--focus, #cce6ff);
}

:host([size="small"]),
:host([pfe-size="small"]) {
  --pfe-card--PaddingTop:     var(--pfe-theme--container-spacer, 16px);
  --pfe-card--PaddingRight:   var(--pfe-theme--container-spacer, 16px);
  --pfe-card--PaddingBottom:  var(--pfe-theme--container-spacer, 16px);
  --pfe-card--PaddingLeft:    var(--pfe-theme--container-spacer, 16px);
}

::slotted([pfe-overflow~="top"]) {
  z-index: 1;
  margin-top: -2rem;
  margin-top: calc(-1 * var(--pfe-card--PaddingTop)) !important;
}

:host([has_header]) ::slotted([pfe-overflow~="top"]) {
  padding-top: var(--pfe-card--spacing);
}

::slotted([pfe-overflow~="right"]) {
  margin-right: -2rem;
  margin-right: calc(-1 * var(--pfe-card--PaddingRight));
}

::slotted([pfe-overflow~="bottom"]) {
  margin-bottom: -2rem;
  margin-bottom: calc(-1 * calc(var(--pfe-card--PaddingBottom) + var(--pfe-card--BorderRadius)));
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
}

::slotted([pfe-overflow~="left"]) {
  margin-left: -2rem;
  margin-left: calc(-1 * var(--pfe-card--PaddingLeft));
}

::slotted(img) {
  max-width: 100%;
}

::slotted(img[pfe-overflow~="right"]) {
  max-width: calc(100% + 2rem);
  max-width: calc(100% + var(--pfe-card--PaddingRight));
}

::slotted(img[pfe-overflow~="left"]) {
  max-width: calc(100% + 2rem);
  max-width: calc(100% + var(--pfe-card--PaddingLeft));
}

::slotted(img[pfe-overflow~="right"][pfe-overflow~="left"]) {
  max-width: calc(100% + 4rem);
  max-width: calc(100% + calc(var(--pfe-card--PaddingRight) + var(--pfe-card--PaddingLeft)));
}

::slotted(p) {
  margin-top: 0;
}

::slotted(h1) {
  margin-top: 0;
}

::slotted(h2) {
  margin-top: 0;
}

::slotted(h3) {
  margin-top: 0;
}

::slotted(h4) {
  margin-top: 0;
}

::slotted(h5) {
  margin-top: 0;
}

::slotted(h6) {
  margin-top: 0;
}

::slotted([slot="pfe-card--header"]) {
  display: block;
  z-index: 2;
  background-color: var(--pfe-card__header--BackgroundColor);
  color: var(--pfe-card__header--Color);
  margin-top: -2rem;
  margin-top: calc(-1 * var(--pfe-card--PaddingTop)) !important;
  margin-right: -2rem;
  margin-right: calc(-1 * var(--pfe-card--PaddingRight));
  margin-bottom: var(--pfe-card--spacing);
  margin-left: -2rem;
  margin-left: calc(-1 * var(--pfe-card--PaddingLeft));
  padding-top: var(--pfe-card--spacing);
  padding-right: var(--pfe-card--PaddingRight);
  padding-left: var(--pfe-card--PaddingLeft);
  padding-bottom: var(--pfe-card--spacing);
}

::slotted(:not([slot])) {
  display: block;
  margin-bottom: var(--pfe-card--spacing);
}

::slotted([slot="pfe-card--footer"]) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  margin-top: auto;
  justify-self: flex-end;
}

.pfe-card__header:last-child, .pfe-card__body:last-child {
  margin-bottom: 0;
}
