@import "../../rh-sass/rh-sass";

/// ===========================================================================
/// Component Specific SASS Vars
/// ===========================================================================

$rh-accordion_button--LineHeight:      1.5;
$rh-accordion_chevron--size:           0.313em;
$rh-accordion_chevron--weight:         0.15em;
$rh-accordion_chevron--placement:      ($rh-accordion_button--LineHeight / 2) - ($rh-accordion_chevron--size / 2);
$rh-accordion_button--padding-factor:  0.75;


/// ===========================================================================
/// DEFUALT ACCORDION HEADING
/// ===========================================================================
:host {
  --rh-accordion--main:         #{rh-color(surface--lighter)};
  --rh-accordion--aux:          #{rh-color(surface--lighter--text)};
  --rh-accordion--focus:        #{rh-color(surface--lighter--link--focus)};

  display: block;
  background: var(--rh-accordion--main);
  color: var(--rh-accordion--aux);

  button {
    padding: calc(#{rh-var(container-spacer)} * #{$rh-accordion_button--padding-factor});
    margin: 0;
    width: 100%;
    height: auto;
    border: 1px solid transparent;
    font-family: inherit;
    font-size: #{rh-var(font-size)};
    line-height: $rh-accordion_button--LineHeight;
    text-align: left;
    background: none;
    cursor: pointer;
    color: var(--rh-accordion--aux);

    &:focus {
      outline: 1px solid var(--rh-accordion--focus);
    }

    &::-moz-focus-inner {
      border: 0;
    }

    &[aria-expanded] {
      position: relative;
      display: block;
      font-weight: normal;
      padding-left: calc(#{rh-var(container-spacer)} * 2.5);
    }

    &[aria-expanded="false"]::before {
      content: "";
      position: absolute;
      left: #{rh-var(container-spacer)};
      top: calc((#{rh-var(container-spacer)} * #{$rh-accordion_button--padding-factor}) + #{$rh-accordion_chevron--placement} );
      display: block;
      border-style: solid;
      border-width: $rh-accordion_chevron--weight $rh-accordion_chevron--weight 0 0;
      height: $rh-accordion_chevron--size;
      width: $rh-accordion_chevron--size;
      text-align: center;
      transition: transform 0.15s;
      transform: rotate(45deg);
    }

    &[aria-expanded="true"]::before {
      content: "";
      position: absolute;
      left: #{rh-var(container-spacer)};
      top: calc((#{rh-var(container-spacer)} * #{$rh-accordion_button--padding-factor}) + #{$rh-accordion_chevron--placement} );
      display: block;
      width: $rh-accordion_chevron--size;
      height: $rh-accordion_chevron--size;
      border-style: solid;
      border-width: $rh-accordion_chevron--weight $rh-accordion_chevron--weight 0 0;
      text-align: center;
      transition: all 0.15s;
      transform: rotate(135deg);
    }
  }
}

:host(.animating) {
  transition: transform 0.3s #{rh-var(animation-timing)};
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1px; // Gives the 1px spacing between each + room for focus border.
}



/// ===========================================================================
/// COLOR OVERRIDES
/// ===========================================================================

:host([color="lightest"]),
:host([color="striped"].even) {
  --rh-accordion--main:         #{rh-color(surface--lightest)};
  --rh-accordion--aux:          #{rh-color(surface--lightest--text)};
  --rh-accordion--focus:        #{rh-color(surface--lightest--link--focus)};

  button[aria-expanded="true"] {
    border-top-color: #{rh-color(surface--border--lightest)};
    border-left-color: #{rh-color(surface--border--lightest)};
    border-right-color: #{rh-color(surface--border--lightest)};
  }
}

:host([color="base"]) {
  --rh-accordion--main:         #{rh-color(surface--base)};
  --rh-accordion--aux:          #{rh-color(surface--base--text)};
  --rh-accordion--focus:        #{rh-color(surface--base--link--focus)};
}

:host([color="dark"]) {
  --rh-accordion--main:         #{rh-color(surface--darker)};
  --rh-accordion--aux:          #{rh-color(surface--darker--text)};
  --rh-accordion--focus:        #{rh-color(surface--darker--link--focus)};
}

:host([color="darkest"]) {
  --rh-accordion--main:         #{rh-color(surface--darkest)};
  --rh-accordion--aux:          #{rh-color(surface--darkest--text)};
  --rh-accordion--focus:        #{rh-color(surface--darkest--link--focus)};
}

:host([color="accent"]) {
  --rh-accordion--main:         #{rh-color(surface--accent)};
  --rh-accordion--aux:          #{rh-color(surface--accent--text)};
  --rh-accordion--focus:        #{rh-color(surface--accent--link--focus)};
}

:host([color="complement"]) {
  --rh-accordion--main:         #{rh-color(surface--complement)};
  --rh-accordion--aux:          #{rh-color(surface--complement--text)};
  --rh-accordion--focus:        #{rh-color(surface--complement--link--focus)};
}
