@import "../../rh-sass/rh-sass";

:host {
  display: none;
  overflow: hidden;
  background: #{rh-color(surface--lightest)};
  will-change: height;
}

:host([expanded]) {
  display: block;
  position: relative;
}

:host(.animating) {
  display: block;
  transition: height 0.3s ease-in-out;
}

.container {
  margin: 0 1px; // align with 1px margin on header
  border: 1px solid #{rh-color(surface--border--lightest)};
  border-top: none;
  padding: #{rh-var(container-spacer)};
}
