//
// Typography vars
//

// ========================================================================
// Base Typography
// ========================================================================

$pfe-global--FontSize:        #{$pfe-global--font-size-root}px !default;

// Line heights
$pfe-global--LineHeight--sm:  1.2 !default;
$pfe-global--LineHeight:      1.5 !default; // base
$pfe-global--LineHeight--lg:  1.8 !default;

// Font weights
$pfe-global--FontWeight--light:      300;
$pfe-global--FontWeight--normal:     500; // base
$pfe-global--FontWeight--semi-bold:  600;
$pfe-global--FontWeight--bold:       700;

// Font families
$pfe-global--FontFamily--sans-serif:    "Overpass", Overpass, Helvetica, helvetica, arial, sans-serif;
$pfe-global--FontFamily--monospace:     "Overpass Mono", Consolas, Monaco, 'Andale Mono', monospace;


// ========================================================================
// Headings
// ========================================================================

// Heading sizes for Apps
$pfe-global--FontSize--heading--xxl:     pfe-size-prem(32px) !default;
$pfe-global--FontSize--heading--xl:      pfe-size-prem(28px) !default;
$pfe-global--FontSize--heading--lg:      pfe-size-prem(24px) !default;
$pfe-global--FontSize--heading--md:      pfe-size-prem(20px) !default;
$pfe-global--FontSize--heading--sm:      pfe-size-prem(18px) !default;
$pfe-global--FontSize--heading--xs:      pfe-size-prem(16px) !default;
$pfe-global--FontSize--heading--xxs:     pfe-size-prem(14px) !default;

// $pf-global--hero-title--FontSize:       pf-font-prem(48px) !default;
// $pf-global--main-title--FontSize:       pf-font-prem(32px) !default;
// $pf-global--secondary-title--FontSize:  pf-font-prem(24px) !default;
// $pf-global--sub-title--FontSize:        pf-font-prem(19px) !default;
// $pf-global--body--FontSize:             pf-font-prem(16px) !default;
// $pf-global--caption--FontSize:          pf-font-prem(12px) !default;


// ========================================================================
// Icons Sizes
// ========================================================================

$pfe-global--icon-size--xl:              pfe-size-prem(64px) !default;
$pfe-global--icon-size--lg:              pfe-size-prem(48px) !default;
$pfe-global--icon-size--md:              pfe-size-prem(32px) !default;
$pfe-global--icon-size--sm:              pfe-size-prem(16px) !default;
$pfe-global--icon-size--xs:              pfe-size-prem(14px) !default;
