// ============================================================================
// Note: There should be no direct HEX or other values in this file.
// Please reference CP-SASS variables.
// ============================================================================
//
// Global vars are named:
// `$rh-global--concept--PropertyTitleCase--modifier--state`
// For example:
// * $rh-global--color--primary
// * $rh-global--FontSize
// * --rhe-theme--FontSize--heading--xs

// Component/Element vars are named:
// `$rh-c-block__element--modifier--state--PropertyTitleCase`
// For example:
// * --rh-dropdown--heading--FontSize
// * --cp-accordion--heading--FontSize

:root {
  /* TYPOGRAPHY */
  --rhe-theme--FontSize:                    $rh-global--FontSize;

  --rhe-theme--LineHeight:                  $rh-global--LineHeight;
  --rhe-theme--LineHeight--sm:              $rh-global--LineHeight--sm;
  --rhe-theme--LineHeight--lg:              $rh-global--LineHeight--lg;

  --rhe-theme--FontWeight--light:           $rh-global--FontWeight--light;
  --rhe-theme--FontWeight--normal:          $rh-global--FontWeight--normal;
  --rhe-theme--FontWeight--semi-bold:       $rh-global--FontWeight--semi-bold;
  --rhe-theme--FontWeight--bold:            $rh-global--FontWeight--bold;

  --rhe-theme--FontFamily--sans-serif:      $rh-global--FontFamily--sans-serif;
  --rhe-theme--FontFamily--monospace:       $rh-global--FontFamily--monospace;
  // Headings
  --rhe-theme--FontSize--heading--xxl:      $rh-global--FontSize--heading--xxl;
  --rhe-theme--FontSize--heading--xl:       $rh-global--FontSize--heading--xl;
  --rhe-theme--FontSize--heading--lg:       $rh-global--FontSize--heading--lg;
  --rhe-theme--FontSize--heading--md:       $rh-global--FontSize--heading--md;
  --rhe-theme--FontSize--heading--sm:       $rh-global--FontSize--heading--sm;
  --rhe-theme--FontSize--heading--xs:       $rh-global--FontSize--heading--xs;
  --rhe-theme--FontSize--heading--xxs:      $rh-global--FontSize--heading--xxs;
}

body {
  font-family: var(--rhe-theme--FontFamily--sans-serif, $rh-global--FontFamily--sans-serif);
  font-size: var(--rhe-theme--FontSize, $rh-global--FontSize);
  line-height: var(--rhe-theme--LineHeight, $rh-global--LineHeight);
  font-weight: var(--rhe-theme--FontWeight--normal, --rhe-theme--FontWeight--normal);
  color: var(--rhe-theme--text-color, $rh-global--text-color);

  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

p {
  margin-top: 0; // Thinking about whether this should be 0 or not.
  margin-bottom: var(--rhe-theme--spacer, $rh-global--spacer);
}

h1, h2, h3, h4, h5, h6 {
  margin-top: var(--rhe-theme--spacer, $rh-global--spacer); // Thinking about whether this should be 0 or not.
  margin-bottom: var(--rhe-theme--spacer, $rh-global--spacer);
  font-weight: var(--rhe-theme--FontWeight--bold, $rh-global--FontWeight--bold);
  text-rendering: auto;
}

h1 {
  font-size: var(--rhe-theme--FontSize--heading--xl, $rh-global--FontSize--heading--xl);
  line-height: var(--rhe-theme--LineHeight--sm, $rh-global--LineHeight--sm);
  font-weight: var(--rhe-theme--FontWeight--normal, $rh-global--FontWeight--normal);
}

h2 {
  font-size: var(--rhe-theme--FontSize--heading--lg, $rh-global--FontSize--heading--lg);
  line-height: var(--rhe-theme--LineHeight--sm, $rh-global--LineHeight--sm);
  font-weight: var(--rhe-theme--FontWeight--normal, $rh-global--FontWeight--normal);
}

h3 {
  font-size: var(--rhe-theme--FontSize--heading--md, $rh-global--FontSize--heading--md);
  line-height: var(--rhe-theme--LineHeight--sm, $rh-global--LineHeight--sm);
}

h4 {
  font-size: var(--rhe-theme--FontSize--heading--sm, $rh-global--FontSize--heading--sm);
  line-height: var(--rhe-theme--LineHeight--sm, $rh-global--LineHeight--sm);
}

h5 {
  font-size: var(--rhe-theme--FontSize--heading--xs, $rh-global--FontSize--heading--xs);
  line-height: var(--rhe-theme--LineHeight, $rh-global--LineHeight);
}

h6 {
  font-size: var(--rhe-theme--FontSize--heading--xxs, $rh-global--FontSize--heading--xxs);
  line-height: var(--rhe-theme--LineHeight, $rh-global--LineHeight);
}
