$rh-global--color-map--block: (
    band-background: (
        white: $rh-global--color--white,
        black: $rh-global--color--black,
        black-soft: $rh-global--color--black-soft,
        red: $rh-global--color--red,
        red-dark: $rh-global--color--red-brick,
        gray: $rh-global--color--gray-platinum,
        light: $rh-global--color--gray-platinum,
        navy: $rh-global--color--blue-navy,
        blue: $rh-global--color--blue-peacock,
        blue-dark: $rh-global--color--blue-rain,
        charcoal: $rh-global--color--gray-charcoal
    )
);
