// Please see the pfe-sass README for guidance on using these tools
@import "../../pfe-sass/pfe-sass";



$LOCAL: progress-stepper-item;

// Example local variable, using BEM format
// --pfe-progress-stepper__region--Property: value;

// This variable is global so that helper functions can reference it
$LOCAL-VARIABLES: (
  // width needs to be definitively set to ensure
  // the line is calculated properly.
  Width: auto,
);

:host {
  // Avoid printing local variables on host, instead use the pfe-local() function to set property values
  // Example: color: pfe-local(Color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #151515;
  font-size: 16px;
  width: pfe-local(Width);
}

:host([hidden]) {
  display: none;
}

.pfe-progress-stepper-item {
  &__circle-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 32px;
    height: 32px;
    margin: auto;
  }
  &__circle--inner {
    display: block;
    position: absolute;
    content: "";
    border-radius: 50%;
    border: 2px solid #D2D2D2;
    background: white;
    height: 15px;
    width: 15px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
  &__circle--outer {
    display: none;
    position: absolute;
    content: "";
    border-radius: 50%;
    background: #0066CC;
    opacity: 0.15;
    height: 32px;
    width: 32px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__circle--icon {
    height: 20px;
    width: 20px;
    background: white;
  }
  &__title,
  &__title slot::slotted(*) {
    font-size: 16px;
  }
}

:host([state="current"]) {
  .pfe-progress-stepper-item {
    &__circle--inner {
      height: 20px;
      width: 20px;
      border: none;
      background-color: #0066CC;
    }
    &__circle--outer {
      display: block;
    }
  }
}

:host([state="done"]) {
  .pfe-progress-stepper-item {
    &__circle--inner {
      display: none;
    }
    &__circle--icon {
      display: block;
      --pf-global--success-color--100: #3E8635;
    }
  }
}

:host([state="error"]) {
  .pfe-progress-stepper-item {
    &__circle--inner {
      display: none;
    }
    &__circle--icon {
      display: block;
      --pf-global--danger-color--100: #C9190B;
    }
  }
}