@import "../../pfe-sass/pfe-sass";
@include include-contexts; // imports on="light" etc support

:host {
  display: block;
  position: relative;
}

.input-box-wrapper {
  position: relative;
  display:flex;
}

.sr-only {
  @extend %sr-only;
}

#input-box-wrapper {
  ::slotted(input) {
    width: 100%;
    flex: 1;
    box-shadow: #{pfe-var(box-shadow--inset)} !important;
    padding-left: 10px;
    padding-right: 30px;
    border-radius: 0;
    background-color: #fff;
    border: #{pfe-var(ui--border-width)} #{pfe-var(ui--border-style)} #{pfe-color(surface--border)};
    font-size: #{pfe-var(font-size)};
    height: calc(#{pfe-var(ui--element--size)} * 2);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    opacity: 1;
    outline: 0;
  }
  button:focus,
  ::slotted(input:focus) {
    border-color: #{pfe-color(feedback--info)};
    outline: 0;
  }
  ::slotted([type="search"]::-ms-clear) {
    display: none;
  }
  ::slotted(input[type="search"]::-webkit-search-cancel-button),
  ::slotted(input[type="search"]::-webkit-search-decoration) {
    -webkit-appearance: none;
  }
}

#input-box-wrapper ::slotted(input:disabled),
button:disabled {
  cursor: not-allowed;
  background-color: transparent;
  color: #{pfe-color(feedback--default)};
  opacity: 0.5;
}

#input-box-wrapper ::slotted(input),
button {
  -webkit-appearance: none;
}

button {
  @extend %reset-button;
  color: #{pfe-color(feedback--default)};
  position: absolute;
  top: 0;
  bottom: 0;
  cursor: pointer;

  &.clear-search {
    background-color: #{pfe-color(surface--lightest)};
    right: 30px;
    width: 20px;
    margin: 2px 1px;
    &:hover {
      color: #{pfe-color(feedback--default)};
    }
    svg {
      width: 12px;
      stroke: #{pfe-color(feedback--default)};
    }
    &:hover svg,
    &:focus svg {
      opacity: 1;
      stroke: #{pfe-color(feedback--info)};
    }
  }

  &[disabled].clear-search:hover svg,
  &[disabled].clear-search:focus svg {
    stroke: #{pfe-color(feedback--default)};
  }

  &.search-button {
    right: 1px;
    width: 30px;
    &:disabled svg {
      fill: #{pfe-color(feedback--default)};
    }
    svg {
      fill: #{pfe-color(feedback--info)};
      width: 16px;
    }
    &:hover svg,
    &:focus svg {
      fill: #004080;
    }
  }
}

.loading {
  position: absolute;
  width: 30px;
  right: 52px;
  top: 0px;
  bottom: 0px;
  svg {
    width: 26px;
    padding-top: 7px;
  }
}
