@import "../pfe-sass/pfe-sass";

:host {
  position: relative;
  display: none;
  font-family: pfe-var(font-family);
  font-size: pfe-var(font-size);
  line-height: pfe-var(line-height);
}

:host([open]) {
  display: block;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.droplist {
  position: absolute;
  top: 100%;
  left: 0px;
  right: 0px;
  max-height: 250px;
  z-index: 9999;
  overflow-y: scroll;
  overflow-x: hidden;
  // @TODO: Remove hardcoded values
  border: 1px solid #ccc;
  background-color: #fff;
}

ul {
  font-family: pfe-var(font-family);
  font-size: pfe-var(font-size);
  line-height: pfe-var(line-height);
  border-top: none;
  margin: 0;
  padding: 0;
  list-style: none;
  cursor: pointer;

  li {
      display: list-item;
      cursor: pointer;
      padding: 10px;
      margin: 0; // margin needs to be zero otherwise we have blind area on click
      &.active {
          background-color: pfe-var(surface--lighter);
      }
  }
}
