@import "../../pfe-sass/pfe-sass";
$LOCAL: autocomplete;

@include pfe-theme-contexts; // imports on="light" etc support

:host {
  --pfe-autocomplete--BoxShadow: #{pfe-var(box-shadow--inset)};
  --pfe-autocomplete--BackgroundColor: #{pfe-color(surface--lightest)};
  --pfe-autocomplete--Border:  #{pfe-var(ui--border-width)}  #{pfe-var(ui--border-style)}  #{pfe-color(surface--border)};

  display: block;
  position: relative;
  font-family: #{pfe-var(font-family)};
}

.sr-only {
  @extend %sr-only;
}

#input-box-wrapper {
  ::slotted(input) {
    width: 100%;
    flex: 1;
    box-shadow: #{pfe-local(BoxShadow)} !important;
    padding-left: 10px;
    padding-right: 30px;
    border-radius: pfe-var(ui--border-radius);
    background-color: #{pfe-local(BackgroundColor)};
    border: #{pfe-local(Border)};
    font-size: #{pfe-var(font-size)};
    height: calc(#{pfe-var(ui--element--size)} * 2);
    transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
    opacity: 1;
    outline: 0;
  }
    border-color: #{pfe-color(feedback--info)};

  ::slotted(input:disabled),
  button:disabled {
    cursor: not-allowed;
    background-color: transparent;
    color: #ccc;
    opacity: 0.5;
  }

  button:focus,
  ::slotted(input:focus) {
    outline: 0;
  }

  ::slotted(input),
  button {
    -webkit-appearance: none;
  }

  ::slotted([type="search"]::-ms-clear) {
    display: none;
  }

  ::slotted(input[type="search"]::-webkit-search-cancel-button),
  ::slotted(input[type="search"]::-webkit-search-decoration) {
    -webkit-appearance: none;
  }
}

button {
  color: pfe-color(ui-complement);
  background-color: transparent;
  border: none;
  position: absolute;
  top: 0;
  bottom: 0;
  cursor: pointer;

  &.clear-search {
    right: 30px;
    width: 20px;
    margin: 2px 1px;
    background-color: pfe-color(surface--lightest);
  }

  &.clear-search svg {
    width: 12px;
    stroke: pfe-color(surface--border);
  }

  &.clear-search:hover svg,
  &.clear-search:focus svg {
    opacity: 1;
    stroke: pfe-color(link);
  }

  &[disabled].clear-search:hover svg,
  &[disabled].clear-search:focus svg {
    stroke: pfe-color(surface--border);
  }

  &.search-button {
    right: 1px;
    width: 30px;
  }

  &.search-button svg {
    fill: pfe-color(link);
    width: 16px;
  }

  &.search-button:hover svg,
  &.search-button:focus svg {
    fill: pfe-color(link--hover);
  }

  &.clear-search:hover {
    color: pfe-color(ui-complement);
  }

  &.search-button:disabled svg {
    fill: pfe-color(ui-disabled);
  }
}

.loading {
  position: absolute;
  width: 30px;
  right: 52px;
  top: 0px;
  bottom: 0px;
  svg {
    width: 26px;
    padding-top: 7px;
  }
}
