[data-demo] {
  padding: 1em;
}

output ul {
  --g: repeat(auto-fit, var(--pf-global--icon--FontSize--xl, 3.375rem));
  display: grid;
  grid-template: var(--g) / var(--g);
  gap: 1em;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#styled-icon-demo-output [icon=redhat]     { color: var(--rh-color-brand-red-on-light, #ee0000); }
#styled-icon-demo-output [icon=patternfly] { color: var(--pf-global--link--Color--hover, #004080); }

#styled-icon-demo-output,
#custom-icon-demo-output {
  --size: var(--pf-global--icon--FontSize--lg, 1.5rem);
}

li button {
  padding: 0;
  background: none;
  border: none;
}

li button:focus {
  color: gray;
}

dl {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: start;
}

#colors dt { text-transform: capitalize; }
.danger { color: var(--pf-global--danger-color--200, #a30000); }
.default { color: var(--pf-global--default-color--200, #009596); }
.info { color: var(--pf-global--info-color--100, #2b9af3); }
.success { color: var(--pf-global--success-color--100, #3e8635); }
.warning { color: var(--pf-global--warning-color--100, #f0ab00); }
.disabled { color: var(--pf-global--disabled-color--100, #6a6e73); }
