#root {
    margin: 5px 10px;
}

.sb-show-main pre {
    font-family: "Overpass Mono", Consolas, Monaco, 'Andale Mono', monospace;
    white-space: pre-wrap;
    padding: 10px 20px;
    background-color: #ddd;
    border: 1px solid #bbb;
    margin: 20px 10px;
}

hr {
    border: 1px solid #f0f0f0;
    margin: 20px 0;
}

[on="dark"] {
    --pfe-broadcasted--text: var(--pfe-theme--color--text--on-dark, #fff);
    --pfe-broadcasted--link: var(--pfe-theme--color--link--on-dark, #73bcf7);
    --pfe-broadcasted--link--hover: var(--pfe-theme--color--link--hover--on-dark, #bee1f4);
    --pfe-broadcasted--link--focus: var(--pfe-theme--color--link--focus--on-dark, #bee1f4);
    --pfe-broadcasted--link--visited: var(--pfe-theme--color--link--visited--on-dark, #bee1f4);
    --pfe-broadcasted--link-decoration: var(--pfe-theme--link-decoration--on-dark, none);
    --pfe-broadcasted--link-decoration--hover: var(--pfe-theme--link-decoration--hover--on-dark, underline);
    --pfe-broadcasted--link-decoration--focus: var(--pfe-theme--link-decoration--focus--on-dark, underline);
    --pfe-broadcasted--link-decoration--visited: var(--pfe-theme--link-decoration--visited--on-dark, none);
  }

  [on="saturated"] {
    --pfe-broadcasted--text: var(--pfe-theme--color--text--on-saturated, #fff);
    --pfe-broadcasted--link: var(--pfe-theme--color--link--on-saturated, #fff);
    --pfe-broadcasted--link--hover: var(--pfe-theme--color--link--hover--on-saturated, #fafafa);
    --pfe-broadcasted--link--focus: var(--pfe-theme--color--link--focus--on-saturated, #fafafa);
    --pfe-broadcasted--link--visited: var(--pfe-theme--color--link--visited--on-saturated, #8476d1);
    --pfe-broadcasted--link-decoration: var(--pfe-theme--link-decoration--on-saturated, underline);
    --pfe-broadcasted--link-decoration--hover: var(--pfe-theme--link-decoration--hover--on-saturated, underline);
    --pfe-broadcasted--link-decoration--focus: var(--pfe-theme--link-decoration--focus--on-saturated, underline);
    --pfe-broadcasted--link-decoration--visited: var(--pfe-theme--link-decoration--visited--on-saturated, underline);
  }