[pfelement] {
    font-family: var(--pfe-theme--font-family);
    color: var(--pfe-broadcasted--text);
}
[pfelement] a {
    color: var(--pfe-broadcasted--link);
    text-decoration: var(--pfe-broadcasted--link-decoration);
}
[pfelement] a:visited {
    color: var(--pfe-broadcasted--link--visited);
    text-decoration: var(--pfe-broadcasted--link-decoration--visited);
}
[pfelement] a:hover {
    color: var(--pfe-broadcasted--link--hover);
    text-decoration: var(--pfe-broadcasted--link-decoration--hover);
}
[pfelement] a:focus {
    color: var(--pfe-broadcasted--link--focus);
    text-decoration: var(--pfe-broadcasted--link-decoration--focus);
}
[pfelement] > *:first-child {
    margin-top: 0;
}
[pfelement] h1,
[pfelement] h2,
[pfelement] h3,
[pfelement] h4,
[pfelement] h5,
[pfelement] h6 {
    font-family: var(--pfe-theme--font-family--heading);
}
[pfelement] pre,
[pfelement] code {
    font-family: var(--pfe-theme--font-family--code);
}
