@import "../rh-sass/rh-sass";

:host {
  @include rh-box-sizing();

  ul {
    position: absolute;
    left: 0;
    // top: calc($box-padding-xs + $base-line-height + $box-padding-xs);
    margin: 0;
    padding: 0;
    list-style: none;
    box-shadow: 0 0 3px rgba(0, 0, 0, .25);
    border: $rh-global--border--BorderWidth $rh-global--border--BorderStyle $rh-global--border--BorderColor;
    background: $rh-global--color--white;
    width: 100%;
    min-width: 10em;

    li {
      margin: 0;
      padding: 0;
    }

    a {
      display: block;
      padding: $rh-global--spacer--sm $rh-global--spacer;
      text-decoration: none;
      color: $rh-global--text-color;
      line-height: $rh-global--LineHeight;

      &:hover,
      &:focus {
        background: $rh-global--color--gray-platinum;
      }

      &:active {
        background: $rh-global--link-color;
        color: $rh-global--color--white;
      }
    }
  }
}
