@import "../../pfe-sass/pfe-sass";
@include pfe-theme-contexts;

$LOCAL: icon;
$LOCAL-VARIABLES: (
  theme: light,
  size: pfe-var(icon-size),
  spacing: pfe-var(container-spacer),
  color: transparent,
  Padding: 0,
  BackgroundColor: transparent,
  BorderWidth: 0,
);

// Nested internal variables (pfe-local calls), maps cannot "self-reference"
$LOCAL-VARIABLES: map-deep-merge($LOCAL-VARIABLES, (
  Color: pfe-local(color, $fallback: pfe-broadcasted(text)),
  BorderColor: pfe-local(color),
));

/// ===========================================================================
/// Component Specific SASS Vars
/// ===========================================================================

@mixin greyscale-fallback() {
  background-color: white !important;

  & svg filter feFlood {
      flood-color: black !important;
  }
}

:host {
  --theme: #{pfe-local(theme)};  

  position: relative;
  display:  inline-block;

  // Supports sizing while preserving aspect ratio (despite layout)
  max-width:   calc(#{pfe-local(size)} + #{pfe-local(Padding)} * 2);
  width:       fit-content !important;
  max-height:  calc(#{pfe-local(size)} + #{pfe-local(Padding)} * 2);
  height:      fit-content !important;
  line-height: 0;

  @at-root #{&}([data-block]) {
    display: block;
    margin-bottom: pfe-local(spacing);
    margin-top:    pfe-local(spacing);

    &:first-child {
      margin-top: 0;
    }
  }

  svg {
    width:  pfe-local(size);
    height: pfe-local(size);
  }
}

:host(:not(.load-failed)) {
  vertical-align: middle;
  border-radius: 50%;
  background-color: pfe-local(BackgroundColor);
  border: pfe-local(BorderWidth) pfe-var(ui--border-style) pfe-local(BorderColor);
  padding: pfe-local(Padding);

  @include browser-query(ie11) {
      @include greyscale-fallback();
  }


  // Edge 12+ CSS
  @include browser-query(edge12) {
      @include greyscale-fallback();
  }

  svg image {
    @include browser-query(ie11) {
      filter: none;
    }
  }

  filter feFlood {
    flood-color: pfe-local(Color);
  }

  .pfe-icon--fallback {
    display: none;
  }
}

@for $num from 2 through 4 {
  :host([pfe-size="#{$num}x"]) {
    @include pfe-print-local((size: #{$num}em));
  }
}

// TODO: Sort out sizing
:host([pfe-size="xl"]) {
  @include pfe-print-local((size: 100px));
}

:host([pfe-size="lg"]) {
  @include pfe-print-local((size: 64px));
}

:host([pfe-size="md"]) {
  @include pfe-print-local((size: 32px));
}

:host([pfe-size="sm"]) {
  @include pfe-print-local((size: 14px));
}

@each $level in (critical, important, moderate, success, info, default) {
  :host([pfe-color="#{$level}"]) {
    @include pfe-print-local((color: #{pfe-var(feedback--#{$level})}));
    @if $level != "moderate" {
      @include pfe-print-local((theme: dark));
    }
  }
}

@each $color in (lightest, base, darker, darkest, complement, accent) {
  :host([pfe-color="#{$color}"]) {
    $theme: map-deep-get($pfe-colors, surface--#{$color}--theme);
    @include pfe-print-local((color:  #{pfe-var(surface--#{$color})}));
    @include pfe-print-local((theme: #{$theme}));
  }
}

// May need Feedback Darkest colors too.

:host([pfe-circled]:not([pfe-circled="false"])) {
  @include pfe-print-local((
    BackgroundColor: pfe-local(color, $fallback: pfe-var(surface--lightest)),
    Color:           pfe-broadcasted(text),
    Padding:         .5em,
    BorderWidth:     pfe-var(ui--border-width),
    BorderColor:     pfe-local(color, $fallback: pfe-var(surface--border))
  ));
}

:host(.load-failed) svg image {
  display: none;
}

:host(.load-failed.has-fallback) svg,
:host(.load-failed[on-fail="collapse"]) svg {
  display: none;
}

:host(.load-failed[on-fail="collapse"]) {
  @include pfe-print-local((size: 0));
}
