@import "../../pfe-sass/pfe-sass";
@include pfe-contexts;

$LOCAL: icon;

$LOCAL-VARIABLES: (
  context: light,
  size: pfe-var(icon-size),
  spacing: pfe-var(container-spacer),
  Padding: 0,
  BackgroundColor: transparent,
  BorderWidth: 0,
  // Legacy variable for changing icon color
  Color: pfe-broadcasted(text),
);

// Nested internal variables (pfe-local calls), maps cannot "self-reference"
$LOCAL-VARIABLES: map-deep-merge($LOCAL-VARIABLES, (
  // Current variable for updating icon color
  color: pfe-local(Color),
));

// Nested internal variables (pfe-local calls), maps cannot "self-reference"
$LOCAL-VARIABLES: map-deep-merge($LOCAL-VARIABLES, (
  BorderColor: pfe-local(color),
));

/// ===========================================================================
/// Component Specific SASS Vars
/// ===========================================================================

@mixin greyscale-fallback() {
  background-color: white !important;

  & svg filter feFlood {
      flood-color: black !important;
  }
}

:host {
  --context: #{pfe-local(context)};

  position: relative;
  display:  inline-block;

  // Content-box model supports sizing while preserving aspect ratio (despite layout)
  box-sizing: content-box!important;
  max-width:   pfe-local(size);
  width:       fit-content !important;
  max-height:  pfe-local(size);
  height:      fit-content !important;
  line-height: 0;

  @at-root #{&}([block]) {
    display: block;
    margin-bottom: pfe-local(spacing);
    margin-top:    pfe-local(spacing);

    &:first-child {
      margin-top: 0;
    }
  }

  svg {
    width:  pfe-local(size);
    height: pfe-local(size);
  }
}

:host(:not(.load-failed)) {
  vertical-align: middle;
  border-radius: 50%;
  background-color: pfe-local(BackgroundColor);
  border: pfe-local(BorderWidth) pfe-var(ui--border-style) pfe-local(BorderColor);
  padding: pfe-local(Padding);

  @include browser-query(ie11) {
      @include greyscale-fallback();
  }


  // Edge 12+ CSS
  @include browser-query(edge12) {
      @include greyscale-fallback();
  }

  svg image {
    @include browser-query(ie11) {
      filter: none;
    }
  }

  filter feFlood {
    flood-color: pfe-local(color);
  }

  .pfe-icon--fallback {
    display: none;
  }
}

@for $num from 2 through 4 {
  :host([size="#{$num}x"]) {
    --pfe-icon--size: #{$num}em;
  }
}

$sizing: (
  xl: 100px,
  lg: 64px,
  md: 32px,
  sm: 14px
);

// @TODO: Sort out sizing
@each $label, $size in $sizing {
  :host([size="#{$label}"]) {
    // Respect var if user set CSS var, but fallback to sizing property map
    $desired-size: pfe-local(size, $fallback: $size);
    max-width:   $desired-size;
    max-height:  $desired-size;

    svg {
      width:  $desired-size;
      height: $desired-size;
    }
  }
}

@each $level in (critical, important, moderate, success, info, default) {
  :host([color="#{$level}"]) {
    filter feFlood {
      flood-color: pfe-local(
        color,
        $fallback: pfe-var(feedback--#{$level})
      );
    }
    @if $level != "moderate" {
      --pfe-icon--context: dark;
    }
  }
}

@each $color in (lightest, base, darker, darkest, complement, accent) {
  :host([color="#{$color}"]) {
    --pfe-icon--context: #{pfe-var(surface--#{$color}--context)};

    filter feFlood {
      flood-color: pfe-local(
        color,
        $fallback: pfe-var(surface--#{$color})
      );
    }
  }
}

// May need Feedback Darkest colors too.

:host([circled]:not([circled="false"])) {
  padding: pfe-local(Padding, $fallback: .5em);
  border-width: pfe-local(BorderWidth, $fallback: pfe-var(ui--border-width));
  border-color: pfe-local(color, $fallback: pfe-var(surface--border));
  background-color: pfe-local(BackgroundColor, pfe-local(color, $fallback: pfe-var(surface--lightest)));

  filter feFlood {
    flood-color: pfe-local(color);
  }
}

/**
 * Override circled items with color set to named property
 */
@each $color in (lightest, base, darker, darkest, complement, accent) {
  :host([color=#{$color}][circled]:not([circled="false"])) {
    // Respect var if user set CSS var, but fallback to property
    $desired-color: pfe-local(color, $fallback: pfe-var(surface--#{$color}));
    background-color: $desired-color;
    border-color: $desired-color;
  }
}
@each $level in (critical, important, moderate, success, info, default) {
  :host([color="#{$level}"][circled]:not([circled="false"])) {
    // Respect var if user set CSS var, but fallback to property
    $desired-color: pfe-local(backgroundColor, $fallback: pfe-var(feedback--#{$level}));
    background-color: $desired-color;
    border-color: $desired-color;
  }
}

:host(.load-failed) svg image {
  display: none;
}

:host(.load-failed.has-fallback) svg,
:host(.load-failed[on-fail="collapse"]) svg {
  display: none;
}

:host(.load-failed[on-fail="collapse"]) {
  --pfe-icon--size: 0;
}
