{
  "presets": [["env"]],
  "plugins": [
    [
      "transform-es2015-modules-umd",
      {
        "globals": {
          "../rhelement/rhelement.umd.js": "RHElement",
          "./rh-button.js": "RHElement.Rhbutton",
          "RhButton": "RHElement.RhButton"
        },
        "exactGlobals": true
      }
    ]
  ],
  "moduleId": "RhButton"
}
