//
// Color vars
//

// ========================================================================
// CORPORATE "CRAYOLA" COLORS
// ========================================================================
$pf-global--color--white:             $pf-color-white !default;
$pf-global--color--black:             #1a1a1a !default; // We don't use true black on the web.
$pf-global--color--red:               $pf-color-red-100 !default; // Not to be used as a background color (except in site footer) or as an error color.

$pf-global--color--gray-gainsboro:    #dcdcdc !default;  // Official color name
$pf-global--color--gray-space:        #4c4c4c !default;  // Official color name Outer Space.


// ========================================================================
// SECONDARY, ACCENT & "CRAYOLA" COLORS
// ========================================================================
$pf-global--color--blue-sky:          #a3dbe8 !default;
$pf-global--color--blue-sky-deep:     $pf-color-light-blue-400 !default;
$pf-global--color--gold:              $pf-color-gold-400 !default;
$pf-global--color--green:             $pf-color-light-green-400 !default;
$pf-global--color--purple:            #7551a6 !default;
$pf-global--color--teal:              $pf-color-cyan-400 !default;
$pf-global--color--teal-dark:         #004153 !default;     // Brand as "Dark Blue"

// RH-specific Accents
$pf-global--color--blue-peacock:      $pf-color-blue-400 !default;
$pf-global--color--orange:            $pf-color-orange-400 !default; // Near match to "Tangerine"
$pf-global--color--green-verde:       #75a117 !default;
$pf-global--color--gray-charcoal:     #37424a !default;     // Or Big Stone
$pf-global--color--gray-nickel:       #7a858b !default;     // Or Regent Gray
$pf-global--color--black-soft:        #252527 !default;     // Or Jaguar?

// RH Reds
$pf-global--color--red-brick:         $pf-color-red-200 !default; // Or Bright Blood Red
$pf-global--color--red-maroon:        #820000 !default;     // Or Burgundy, or Dark Red
$pf-global--color--red-garnet:        #6e0000 !default;     // Or Rosewood or Blood or Currant
$pf-global--color--red-morello:       #5a0000 !default;     // Near match to Chocolate Cosmos
$pf-global--color--red-red-wine:      #460000 !default;
$pf-global--color--red-daredevil:     #320000 !default;

// RH Grays
$pf-global--color--gray-moon:         #f0f0f0 !default;      // Made up name.
$pf-global--color--gray-platinum:     #e7e7e7 !default;      // Personal choice, close to Gainsboro. Was #e6e6e6, but fails contrast ratio w/ link colors.
$pf-global--color--gray-mercury:      #d2d2d2 !default;      // Official name: Light Gray
$pf-global--color--gray-fog:          #bebebe !default;
$pf-global--color--gray-stone:        #aaa !default;
$pf-global--color--gray-storm:        #969696 !default;      // Near official name: Spanish Gray
$pf-global--color--gray-battleship:   #828282 !default;      // Near official name: Battleship Gray
$pf-global--color--gray-batman:       #6e6e6e !default;      // Official name: Dim Gray
$pf-global--color--gray-umbra:        #5a5a5a !default;      // Near official name: Davy's Gray Or Mortar
$pf-global--color--gray-iron:         #464646 !default;      // Near Sherwin Williams.
$pf-global--color--gray-night:        #333 !default;         // Used to be #323232. Simplified to match text-color.
$pf-global--color--black-nero:        #1e1e1e !default;      // Vader?

// CP Grays
$pf-global--color--gray-nimbus:       $pf-color-black-200 !default; // Border-color!
$pf-global--color--gray-silver:       #ccc !default;         // Used to be called $misty

// CP-specific
$pf-global--color--blue-rain:         #264a60 !default;
$pf-global--color--blue-denim:        #06c !default;         // Or navy-bright?
$pf-global--color--blue-navy:         #004080 !default;
$pf-global--color--blue-azure:        #0076e0 !default;

$pf-global--color--blue-maya:         #73bcf7 !default;      // Link
$pf-global--color--blue-dodger:       #2b9af3 !default;      // Hover
$pf-global--color--purple-amethyst:   #967abd !default;
$pf-global--color--purple-rain:       #3b0083 !default;      // Old RH purple.


// ========================================================================
// PRODUCT COLORS
// ========================================================================
$pf-global--color--product-lines: (
  default:             $pf-global--color--black-soft,
  storage:             $pf-global--color--gold,
  storage--dark:       $pf-global--color--orange,
  infrastructure:      $pf-global--color--blue-sky-deep, // Used to be linux-platforms
  infrastructure--dark:$pf-global--color--blue-peacock,
  app-dev:             $pf-global--color--green,
  app-dev--dark:       $pf-global--color--green-verde,
  support:             $pf-global--color--gray-nickel,
  support--dark:       $pf-global--color--gray-charcoal
) !default;


// ========================================================================
//  PALETTES
// ========================================================================

// PALETTE REDS
$pf-global--color--red-dark1:         $pf-global--color--red-brick !default;
$pf-global--color--red-dark2:         $pf-global--color--red-maroon !default;
$pf-global--color--red-dark3:         $pf-global--color--red-garnet !default;
$pf-global--color--red-dark4:         $pf-global--color--red-morello !default;
$pf-global--color--red-dark5:         $pf-global--color--red-red-wine !default;
$pf-global--color--red-dark6:         $pf-global--color--red-daredevil !default;

// PALETTE GRAYS: lightest to darkest
$pf-global--color--gray1:             $pf-global--color--gray-moon !default;
$pf-global--color--gray2:             $pf-global--color--gray-platinum !default;
$pf-global--color--gray3:             $pf-global--color--gray-mercury !default;
$pf-global--color--gray4:             $pf-global--color--gray-fog !default;
$pf-global--color--gray5:             $pf-global--color--gray-stone !default;
$pf-global--color--gray6:             $pf-global--color--gray-storm !default;
$pf-global--color--gray7:             $pf-global--color--gray-battleship !default;
$pf-global--color--gray8:             $pf-global--color--gray-batman !default;
$pf-global--color--gray9:             $pf-global--color--gray-umbra !default;
$pf-global--color--gray10:            $pf-global--color--gray-iron !default;
$pf-global--color--gray11:            $pf-global--color--gray-night !default;
$pf-global--color--gray12:            $pf-global--color--black-nero !default;


// ========================================================================
// UI Colors
// Where context switches...
// ========================================================================

$pf-global--text-color:           $pf-global--color--gray-night !default; // #333
$pf-global--text-color--inverted: $pf-global--color--white !default;

// Text links on _white_ or _light_ backgrounds
$pf-global--link-color:           $pf-global--color--blue-denim !default;    // Link
$pf-global--link-color--hover:    $pf-global--color--blue-navy !default;     // Hover
$pf-global--link-color--focus:    $pf-global--color--blue-navy !default;     // Focus
$pf-global--link-color--active:   $pf-global--color--blue-navy !default;     // Active
$pf-global--link-color--visited:  $pf-global--color--purple !default;        // :Visited

// Text links on _dark grey_ or _black_ backgrounds
$pf-global--link-color--inverted:          $pf-global--color--blue-maya !default; // Link
$pf-global--link-color--inverted--hover:   $pf-global--color--blue-dodger !default; // Hover
$pf-global--link-color--inverted--focus:   $pf-global--color--blue-dodger !default; // Focus
$pf-global--link-color--inverted--active:  $pf-global--color--blue-dodger !default; // Active
$pf-global--link-color--inverted--visited: $pf-global--color--purple-amethyst !default;

// UI elements, like buttons
$pf-global--ui-element-color:           $pf-global--color--blue-azure !default;   // Smaller elements, like solid buttons
$pf-global--ui-element-color--hover:    $pf-global--color--blue-navy !default;
$pf-global--ui-element-color--focus:    $pf-global--color--blue-navy !default;
$pf-global--ui-element-color--active:   $pf-global--color--blue-navy !default;

// States, e.g. Filter button on search.
// Questions here...
$pf-global--hover-state--Color:               $pf-global--color--red !default;
$pf-global--hover-state--BackgroundColor:     $pf-global--color--red-maroon !default;
$pf-global--hover-state--BorderColor:         $pf-global--color--red-maroon !default;
// Questions here...
$pf-global--active-state--Color:              $pf-global--color--blue-navy !default;
$pf-global--active-state--BackgroundColor:    $pf-color-blue-100 !default;
$pf-global--active-state--BorderColor:        $pf-color-blue-100 !default;
// Questions here...
$pf-global--disabled-state--Color:              $pf-global--color--gray-stone !default;
$pf-global--disabled-state--BackgroundColor:    $pf-global--color--gray-mercury !default;
$pf-global--disabled-state--BorderColor:        $pf-global--color--gray-mercury !default;


// ========================================================================
// Theme colors
// ========================================================================

// @TODO I think these are misplaced. Should be in the theme instead.
// $pf-global--primary-color:         $pf-global--color--red !default;
// $pf-global--secondary-color:       $pf-color-black-600 !default;
//
// $pf-global--light-color:         $pf-color-black-100 !default;
// $pf-global--dark-color:          $pf-color-black-800 !default;

$pf-global--success-color:         $pf-color-green-100 !default;
$pf-global--success-color--dark:   $pf-global--color--green !default;
$pf-global--info-color:            $pf-color-cyan-100 !default;
$pf-global--info-color--dark:      $pf-global--color--teal !default;
$pf-global--warning-color:         $pf-color-orange-100 !default;
$pf-global--warning-color--dark:   $pf-global--color--orange !default;
$pf-global--danger-color:          $pf-global--color--red !default;
$pf-global--danger-color--dark:    $pf-global--color--red-maroon !default;
