// ============================================================================
// Note: There should be no direct HEX or other values in this file.
// Please reference CP-SASS variables.
// ============================================================================
//
// Global vars are named:
// `$pfe-global--concept--PropertyTitleCase--modifier--state`
// For example:
// * $pfe-global--color--primary
// * $pfe-global--FontSize
// * --pfe-theme--FontSize--heading--xs

// Component/Element vars are named:
// `$pfe-c-block__element--modifier--state--PropertyTitleCase`
// For example:
// * --pfe-dropdown--heading--FontSize
// * --cp-accordion--heading--FontSize

:root {
  /* TYPOGRAPHY */
  --pfe-theme--FontSize:                    $pfe-global--FontSize;

  --pfe-theme--LineHeight:                  $pfe-global--LineHeight;
  --pfe-theme--LineHeight--sm:              $pfe-global--LineHeight--sm;
  --pfe-theme--LineHeight--lg:              $pfe-global--LineHeight--lg;

  --pfe-theme--FontWeight--light:           $pfe-global--FontWeight--light;
  --pfe-theme--FontWeight--normal:          $pfe-global--FontWeight--normal;
  --pfe-theme--FontWeight--semi-bold:       $pfe-global--FontWeight--semi-bold;
  --pfe-theme--FontWeight--bold:            $pfe-global--FontWeight--bold;

  --pfe-theme--FontFamily--sans-serif:      $pfe-global--FontFamily--sans-serif;
  --pfe-theme--FontFamily--monospace:       $pfe-global--FontFamily--monospace;
  // Headings
  --pfe-theme--FontSize--heading--xxl:      $pfe-global--FontSize--heading--xxl;
  --pfe-theme--FontSize--heading--xl:       $pfe-global--FontSize--heading--xl;
  --pfe-theme--FontSize--heading--lg:       $pfe-global--FontSize--heading--lg;
  --pfe-theme--FontSize--heading--md:       $pfe-global--FontSize--heading--md;
  --pfe-theme--FontSize--heading--sm:       $pfe-global--FontSize--heading--sm;
  --pfe-theme--FontSize--heading--xs:       $pfe-global--FontSize--heading--xs;
  --pfe-theme--FontSize--heading--xxs:      $pfe-global--FontSize--heading--xxs;
}

body {
  // font-family: var(--pfe-theme--FontFamily--sans-serif, $pfe-global--FontFamily--sans-serif);
  font-size: var(--pfe-theme--FontSize, $pfe-global--FontSize);
  line-height: var(--pfe-theme--LineHeight, $pfe-global--LineHeight);
  font-weight: var(--pfe-theme--FontWeight--normal, --pfe-theme--FontWeight--normal);
  color: var(--pfe-theme--text-color, $pfe-global--text-color);

  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

p {
  margin-bottom: var(--pfe-theme--spacer, $pfe-global--spacer);
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: var(--pfe-theme--spacer, $pfe-global--spacer);
  font-weight: var(--pfe-theme--FontWeight--semi-bold, $pfe-global--FontWeight--semi-bold);
  text-rendering: auto;
}

// h1 {
//   font-size: var(--pfe-theme--FontSize--heading--xl, $pfe-global--FontSize--heading--xl);
//   line-height: var(--pfe-theme--LineHeight--sm, $pfe-global--LineHeight--sm);
//   font-weight: var(--pfe-theme--FontWeight--normal, $pfe-global--FontWeight--normal);
// }
// 
// h2 {
//   font-size: var(--pfe-theme--FontSize--heading--lg, $pfe-global--FontSize--heading--lg);
//   line-height: var(--pfe-theme--LineHeight--sm, $pfe-global--LineHeight--sm);
//   font-weight: var(--pfe-theme--FontWeight--normal, $pfe-global--FontWeight--normal);
// }
// 
// h3 {
//   font-size: var(--pfe-theme--FontSize--heading--md, $pfe-global--FontSize--heading--md);
//   line-height: var(--pfe-theme--LineHeight--sm, $pfe-global--LineHeight--sm);
// }
// 
// h4 {
//   font-size: var(--pfe-theme--FontSize--heading--sm, $pfe-global--FontSize--heading--sm);
//   line-height: var(--pfe-theme--LineHeight--sm, $pfe-global--LineHeight--sm);
// }
// 
// h5 {
//   font-size: var(--pfe-theme--FontSize--heading--xs, $pfe-global--FontSize--heading--xs);
//   line-height: var(--pfe-theme--LineHeight, $pfe-global--LineHeight);
// }
// 
// h6 {
//   font-size: var(--pfe-theme--FontSize--heading--xxs, $pfe-global--FontSize--heading--xxs);
//   line-height: var(--pfe-theme--LineHeight, $pfe-global--LineHeight);
// }
