@import "reset";
@import "colors";
@import "layout";
@import "style";
@import "typography";


////////////////////////////////////
///  Global CSS - Site Design
//////////////////////////////////

* {
  -webkit-font-smoothing: subpixel-antialiased;
  color: #252525;
  font-size: 16px;
}

a {
  letter-spacing: .2px;
  color: #0d5b98;
  // text-underline-position: under;   //limited support
  
  &:hover,
  &:focus {
    color: #1177c5;
  }
}

#action-buttons {
  
  a, button, .button {
    margin: 0 .5rem;
    
    &.primary {
      background-color: #0477a4;
    }
    
    &.primary:hover,
    &.primary:focus {
      background-color: darken(#0477a4, 5%);
    }
    
    &.outline {
      border-color: #0477a4;
      color: #0477a4;
    }
    
    &.outline:hover,
    &.outline:focus {
      background-color: $pfe-global--color--gray-gainsboro;
      border-color: darken(#0477a4, 5%);
      color: darken(#0477a4, 5%);
    }
  }
}

.label {
  background-color: $pfe-global--color--purple-amethyst;
  border-color: $pfe-global--color--purple-amethyst;
  color: #fff;
  font-weight: 600;
  letter-spacing: .2px;
  
  &.big {
    padding: 2px 15px;
  }
}


////////////////////////////////////
///  Global CSS - Layout
//////////////////////////////////

html {
  height: 100%;
  
  body {
    display: grid;
    height: 100%;
    grid-template-areas:
            "nav"
            "main"
            "footer";
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-auto-flow: row;
    grid-template-rows: 80px auto 70px;
  }
}

header {
  grid-area: header;
  grid-column: col-start/span 12;
  grid-row: 1;
  
  #top {
    margin-bottom: 0;
    padding: 2rem 1.5rem 2rem 1.2rem;
    height: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.35);
    background-color: #fcfcfc;
    box-shadow: 4px 2px 6px rgba(0,0,0,.05);
    
    #top-nav-main {
      float: right;
      padding-left: 10px;
      border-left: none;
      
      a {
        font-size: 1.05rem;
        
        &:hover {
          color: #1177c5;
          transition: all .3s;
        }
      }
    }

    #top-nav-extra {
      li a {
        margin-right: .5rem;
      }
    }
    
    #top-brand {
      margin-right: 0;
      
      a {
        background: url(/img/logo/png/pfelements-icon-blue.png) no-repeat 0 50%;
        background-size: 65px;
        padding: 2rem 2rem 2rem 3.6rem;
        font-size: 1.4rem;
        text-decoration: none;
        color: #252525;
        
        span {
          font-weight: bold;
          font-size: inherit;
        }
      }
    }
  }
  
  #top-sm {
    box-shadow: 4px 2px 6px rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.35);
    background-color: #fcfcfc;
    
    #nav-toggle-box {
      padding: 1.5rem .9rem;
      font-size: 1.2rem;
      
      #top-brand-sm {
        a {
          background: url(/img/logo/png/pfelements-icon-blue.png) no-repeat 0 50%;
          background-size: 65px;
          padding: 2rem 2rem 2rem 3.6rem;
          font-size: 1.4rem;
          font-weight: 400;
          text-decoration: none;
          color: #252525;
          
          span {
            font-weight: bold;
            font-size: inherit;
          }
        }
      }
      
      #nav-toggle {
        .kube-menu::before {
          font-size: 1.4rem;
        }
      }
    }
  }
  
  #mobile-toc {
    // position: absolute;
    // top: 0;
    // padding: 2rem;
    // background-color: #fff;
    // width: 50%;
    // height: 100%;
    
    @media (min-width: 768px) {
      display: none;
    }
  }
}

footer {
  grid-area: footer;
  grid-column: col-start / span 12;
  grid-row: 3;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 1.3rem 2rem;
  font-size: .8rem;
  border: none;
  background-color: #313439;
  color: #fff;
  
  @media (min-width: 700px) {
    flex-direction: row;
    align-items: center;
  }
  
  & * {
    margin-bottom: 0;
  }
  
  nav {
    order: 2;
    
    @media (min-width: 700px) {
      margin-left: auto;
    }
  }
  
  nav ul {
    order: 2;
    display: flex;
    flex-direction: row;
    
    & > * {
      margin-right: .9rem;
      white-space: nowrap;
    }
    
    & > *:last-child {
      margin-right: 0;
    }
  }
  
  & nav ul li span {
    color: #b3b3b3;
    font-size: .9rem;
    margin-right: 1rem;
  }
  
  & nav ul li a {
    color: #d9d9d9;
  }
  
  small {
    color: #b3b3b3;
    font-size: .8rem;
  }
}

main {
  grid-area: main;
  grid-column: 1 / span 12;
  grid-row: 2 / 3;
  
  ////////////////////////////////////
  ///  Homepage - Content
  //////////////////////////////////
  
  #homepage {
    
    header {
      margin-top: 0;
      
      @media (min-width: 600px){
        padding: 2rem 4rem 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
    
    #hero {
      background-color: #e7f0fd;
      padding: 1.5rem;
      
      h1 {
        width: max-content;
        margin-bottom: 0;
        display: flex;
        align-items: center;
        padding: 2rem 0;
        font-size: 3rem;
        font-weight: 400;
        
        @media (min-width: 768px){
          font-size: 3.5rem;
        }
        
        @media (min-width: 768px){
          font-size: 4rem;
        }
        
        .hero-logo {
          width: 110px;
          background-size: contain;
          margin-right: 10px;
          display: none;
          
          @media (min-width: 992px) {
            display: block;
          }
        }
        
        span {
          font-weight: 800;
          font-size: inherit;
        }
      }
      
      p {
        max-width: none;
        margin-top: 0;
        margin-bottom: 3rem;
        padding-top: 2rem;
        line-height: 1.4;
        font-size: 1.4rem;
        
        @media (min-width: 768px){
          font-size: 1.7rem;
        }
        
        &::before {
          background-color: #4f7599;
        }
      }
    }
    
    #kube-features {
      margin-top: 0;
      padding: 3rem 2rem;
      
      ul {
        list-style-type: none;
        margin-left: 0;
        margin-bottom: 0;
      }
      
      h2 {
        font-size: 1.7rem;
      }
      
      p {
        margin-bottom: 0;
        font-size: 1.4rem;
        font-weight: 300;
        max-width: 90%;
        margin: .8rem auto;
        line-height: 1.4;
      }
    }
    
    & > .pfe-l-grid {
      height: 100% !important;
      margin-bottom: 0;
    }
  }
  
  #content {
    max-width: 100vw;
    padding: 2.5rem 2.5rem 0 2.5rem;
    
    @media (min-width: 768px) {
      max-width: 65vw;
    }
    
    @media (min-width: 992px) {
      max-width: 70vw;
    }
    
    @media (min-width: 1200px) {
      max-width: 55vw;
    }
    
    #posts {
      max-width: 100%;
      margin-top: 0;
      padding: 0;
      text-align: left;
      
      html, body, div, span, object, iframe, p, blockquote, pre,
      a, abbr, acronym, del, dfn, em, img, ins, kbd, q, s, samp,
      strike, strong, sub, sup, tt, var, b, u, i, center,
      dl, dt, dd, ol, ul, li, table, caption, tbody, tfoot, 
      thead, tr, th, td, article, aside, canvas, details, embed, 
      figure, figcaption, output, section, summary, time, mark, 
      audio, video {
        font-size: 1.15rem;
      }
      
      ul, ol {
        margin: 1rem 2rem;
        
        li {
          margin-bottom: 0;
          
          ul, ol {
            margin-bottom: 1rem;
            
            li {
              margin-top: .25rem;
            }
            li~li {
              margin-top: .5rem;
            }
          }
        }
        li~li {
          margin-top: 1rem;
        }
      }
      img {
        padding: .5rem 0 1rem 0;
        // border: 1px solid #e5e5e5;
      }
    }
    
    h2 {
      margin-top: 3rem;
      margin-bottom: 1.4rem;
      font-size: 1.7rem;
      font-weight: 800 !important;
      letter-spacing: .4px;
      color: #094774;
      
      &:first-child {
        margin-top: 0;
      }
    }
    

    
    code {
      color: #313439;
      background-color: #f5fce8; //#eaf4fb or #f5fce8
    }
    
    pre {
      margin-top: 1.5rem;
      border: 1px solid #e4e4e7;
      border-radius: 0;
      background-color: #f6fafd;
      
      code {
        background-color: #f6fafd;
        color: #525760;
        font-size: 16px;
      }
    }
    
    blockquote, q {
      margin-top: 1.5rem;
      border-color: rgba(136, 186, 38, 0.5);
    }
    
    p {
      margin-bottom: 0;
      font-weight: 400;
      letter-spacing: .2px;
      line-height: 1.6;
    }

    h1, h2, h3, h4, h5, h6, pre {
      ~ p {
        margin-top: 1.5rem;
      }
    }

    table {
      margin: 2rem 0;
    }

    span {
      font-size: inherit;
    }
  }
  
  ////////////////////////////////////
  ///  Single & List - Content
  //////////////////////////////////
  
  .page-header {
    margin-bottom: 2.5rem;
    padding-bottom: .5rem;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    
    h1 {
      max-width: none;
      margin-bottom: .8rem;
      font-size: 2rem;
      letter-spacing: .4px;
      font-weight: 700;
      text-align: left;
      line-height: normal;
      color: #8665b3; // Green: #6f9c0a
      
      @media (min-width: 768px) {
        font-size: 3rem;
        line-height: 1;
      }
    }
    
    p {
      margin: 1rem 0 !important;
      font-size: 1.6rem;
      font-weight: 400;
      letter-spacing: .4px;
      line-height: 1.3;
      color: #4d4d4d;
    }
  }
  
  #main-toc, #mobile-toc {
    padding: 2.5rem 1rem 2.5rem 2.5rem;
    background-color: $pfe-global--color--gray-moon;
    min-width: 300px;
    min-height: 85vh;
    display: none;
    
    @media (min-width: 768px) {
      display: block;
    }
    
    .inner-toc {
      //position: sticky; The nav is too long for this
      top: 20px;
    }
    
    h3 {
      margin-top: 0;
      margin-bottom: .4rem;
      color: #0a4775;
      font-size: 1.3rem;
      font-weight: 700;
      letter-spacing: .2px;
      line-height: 1.3;
      
      a {
        text-decoration: none;
        color: #0a4775;
        font-size: 1.3rem;
        font-weight: 700;
        letter-spacing: .2px;
        line-height: 1.3;
        
        &:hover {
          color: #1177c5;
        }
      }
    }
    
    ul {
      margin-bottom: 2rem;
      
      li {
        margin-bottom: .4rem;
      }
    }
    
    .toc-desktop {
      list-style-type: none;
    }
  }


  .page-toc {
    padding: 2.5rem 2rem 0 0;
    display: none;
    list-style-type: none;
    width: 24vw;
    margin-left: auto;
    height: max-content;
    
    @media (min-width: 1200px) {
      display: block;
    }
    
    h3 {
      margin-bottom: .9rem;
      font-size: 1.3rem;
      font-weight: 700;
      letter-spacing: .2px;
      color: #4d4d4d;
    }
    
    .js-toc .toc-list {
      margin: 0;
      list-style-type: none;
      
      li {
        margin-bottom: .6rem;
        padding-left: 2rem;
        position: relative;
        line-height: 1.4;
        
        &::before {
          content: "";
          background: url(/img/logo/svg/pfelements-icon-blue.svg) 100% 100% no-repeat;
          position: absolute;
          top: 1px;
          left: 0;
          width: 20px;
          height: 20px;
        }
        
        a {
          font-size: 1rem;
          color: #0d5b98;
          
          &:hover {
            color: #1177c5;
          }
        }
      }
    }
  }
}
