@import "../../rh-sass/rh-sass";

:host {
  display: flex;
  align-content: flex-start;
  flex-direction: column;

  @media (min-width: $rh-global--grid-breakpoint--sm) {
		flex-direction: row;
	}
}

:host rh-icon {
  margin-right: var(--rh-icon-panel__icon--MarginRight, $rh-global--spacer);
  font-size: var(--rh-icon-panel__icon--size, $rh-global--icon-size--xl);
  line-height: var(--rh-icon-panel__icon--size, $rh-global--icon-size--xl);
  // restrict size
  min-width: 1em;
  max-width: 1em;
}

:host ::slotted([slot="header"]),
:host ::slotted([slot="footer"]) {
  display: block;
}

:host ::slotted([slot="footer"]) {
  margin-top: var(--rhe-icon-panel__footer--MarginTop, $rh-global--FontSize);
}

// Layout Styles
:host([stacked]) {
  flex-direction: column !important;
}

:host([stacked][centered]) {
  align-items: center;
  text-align: center;
}
