@import "../../rh-sass/rh-sass";

/// ===========================================================================
/// Component Specific SASS Vars
/// ===========================================================================

// Todo: convert these also
$rh-icon-panel__icon-size:           64px;
$rh-icon-panel__icon-padding:        .05em;


/// ===========================================================================
/// DEFUALT RH ICON PANEL
/// ===========================================================================

:host {
  display: flex;
  align-content: flex-start;
  flex-direction: column;

  @media (min-width: $rh-global--grid-breakpoint--sm) {
		flex-direction: row;
	}
}

:host rh-icon {
  --rh-icon--spacing:                 #{rh-var(container-spacer)};
  --rh-icon--size:                    var(--rh-theme--icon-size, #{$rh-icon-panel__icon-size});

  margin-right: var(--rh-icon--spacing);
  font-size: var(--rh-icon--size);
  line-height: var(--rh-icon--size);
  padding: $rh-icon-panel__icon-padding;
  min-width: var(--rh-icon--size);
  max-width: var(--rh-icon--size);
}

:host ::slotted([slot="header"]),
:host ::slotted([slot="footer"]) {
  display: block;
}

:host ::slotted([slot="footer"]) {
  margin-top: 1em;
}

// Layout Styles
:host([stacked]) {
  flex-direction: column !important;
}

:host([stacked][centered]) {
  align-items: center;
  text-align: center;
}
