:host {
  display: block;
  padding: 30px;
  background: #252527;
  color: white;
  border: 1px solid #252527; }

:host(.light) {
  background: #f0f0f0;
  color: #252525;
  border-color: #f0f0f0; }

:host(.accent) {
  background: #08c0fc;
  border-color: #08c0fc; }

:host(.bordered) {
  background: none;
  border-color: #d1d1d1;
  color: #252525; }