:host {
  display: block;
  padding: 29px;
  border: 1px solid transparent; }
  :host > h3 {
    margin: 0 0 10px; }

:host([data-theme="dark"]) {
  background: #252527;
  border-color: #252527;
  color: #fff; }

:host([data-theme="red"]) {
  background: #a30000;
  border-color: #a30000;
  color: #fff; }

:host([data-theme="white"]) {
  background: #fff;
  border-color: #fff; }

:host([data-theme="light"]) {
  background: #f0f0f0;
  border-color: #f0f0f0; }

:host([data-border="dark"]) {
  border-color: #252527; }

:host([data-border="light"]) {
  border-color: #ccc; }

:host([data-border="gray"]) {
  border-color: #d2d3d5; }