// @import "node_modules/@rhelements/cp-sass/cp-sass";
@import "../cp-sass/cp-sass";

$card-colors: (
  white: ('--white', $white, '--gray-night', $gray-night), // name: (CSS Var, SASS var, text-color CSS Var, text-color SASS var),
  black: ('--black', $black, '--white', $white),
  dark: ('--gray-space', $gray-space, '--white', $white),
  light: ('--gray-platinum', $gray-platinum, '--gray-night', $gray-night)
);

$border-colors: (
  white: ('--white', $white), // name: (CSS Var, SASS var),
  black: ('--black', $black),
  gray: ('--border-color', $border-color),
  dark: ('--gray-space', $gray-space),
  light: ('--gray-platinum', $gray-platinum)
);

:host {
  display: block;
  padding: ($box-padding - 1); // -1 for border.
  border: 1px solid transparent;
  color: var(--text-color, $text-color);
  fill: var(--text-color, $text-color); // Needed at this level fro IE11
}

::slotted(h1:first-child),
::slotted(h2:first-child),
::slotted(h3:first-child),
::slotted(h4:first-child),
::slotted(h5:first-child),
::slotted(h6:first-child) {
  // margin: 0 0 $heading-bottom-margin;
  --heading-margin-top: 0;
}

// Theme / BG colors
@each $color, $value in $card-colors {
  $cssvar: nth($value, 1);
  $sass: nth($value, 2);
  $text-cssvar: nth($value, 3);
  $text-sass: nth($value, 4);

  :host([data-theme="#{$color}"]) {
    background: var(#{$cssvar}, #{$sass});
    border-color: var(#{$cssvar}, #{$sass});
    --text-color: var(#{$text-cssvar}, #{$text-sass});
    fill: var(#{$text-cssvar}, #{$text-sass});
  }
}

// Border options
@each $color, $value in $border-colors {
  $cssvar: nth($value, 1);
  $sass: nth($value, 2);

  :host([data-border="#{$color}"]) {
    border-color: var(#{$cssvar}, #{$sass});
  }
}

:host([data-border="transparent"]),
:host([data-border="none"]) {
  border-color: transparent;
}
