<section class="band overview">

  ## Overview

  <div class="example-preview">
    {{ content | safe }}
  </div>

</section>

<section class="band">

  ## Installation

```shell
npm install {{ package.name }}
```

</section>
