@font-face {
  font-family: "RedHatDisplayUpdated";
  src: url(https://patternfly.org/v4/fonts/RedHatDisplay-updated-Regular.woff2) format("woff2");
  font-style: normal;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "RedHatDisplayUpdated";
  src: url(https://patternfly.org/v4/fonts/RedHatDisplay-updated-Medium.woff2) format("woff2");
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "RedHatDisplayUpdated";
  src: url(https://patternfly.org/v4/fonts/RedHatDisplay-updated-Bold.woff2) format("woff2");
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

:host {
  --pf-modal--MinWidth: 800px;
  --pf-modal--MaxWidth: 800px;
  --pf-modal--MaxHeight: 800px;
}

#external-lots::part(body) {
  display: flex;
  gap: 24px;
}
