<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <title>PatternFly Element | <%= elementName %> Demo</title>

    <noscript>
      <link href="../../pfelement/dist/pfelement-noscript.min.css" rel="stylesheet">
    </noscript>

    <link href="../../pfelement/dist/pfelement.min.css" rel="stylesheet">

    <!-- Stylesheets for testing light DOM styles.
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/typebase.css/0.5.0/typebase.css">
    -->
    
    <link rel="stylesheet" href="../../pfe-styles/dist/pfe-base.css" />
    <link rel="stylesheet" href="../../pfe-styles/dist/pfe-context.css" />
    <link rel="stylesheet" href="../../pfe-styles/dist/pfe-layouts.css" />

    <!-- uncomment the es5-adapter if you're using the umd version -->
    <script src="https://unpkg.com/@webcomponents/webcomponentsjs@2.4.1/custom-elements-es5-adapter.js"></script>

    <!-- IE11 test: use bundle + require with umd files -->
    <!-- Use webcomponents-bundle when supporting much older browsers like IE11 -->
    <script src="https://unpkg.com/@webcomponents/webcomponentsjs@2.4.1/webcomponents-bundle.js"></script>

    <!-- Tests require pulling in the UMD version of the files -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.5/require.min.js"></script>

    <script>require([
      "../dist/<%= elementName %>.umd.js"
    ])</script>
  </head>
  <body unresolved>
    <h1><code><%= elementName %></code></h1>

    <<%= elementName %>>
      <h2>This is <%= elementName %></h2><% if(slots.length > 0 ) { %>
      <!-- Slots --><% for(let i = 0; i < slots.length; i++) { %>
      <div slot="<%= elementName %>--<%= slots[i] %>"><%= _.capitalize(slots[i]) %> slot</div><% } } %>
    </<%= elementName %>>

    <% if (attributes.length > 0) { %><!-- Preview different properties --><% for(let i = 0; i < attributes.length; i++) { %>
    <<%= elementName %> pfe-<%= attributes[i] %>>
      <h2>This is <%= elementName %></h2><% for(let i = 0; i < slots.length; i++) { %>
      <div slot="<%= elementName %>--<%= slots[i] %>"><%= _.capitalize(slots[i]) %> slot</div><% } %>
    </<%= elementName %>>
    <% } } %>
  </body>
</html>
