:host {
  display: block;
  border: 1px solid #ddd;
  padding: 10px 0;
}

slot {
  display: flex;
  flex-direction: column;
}

:host([aria-orientation="horizontal"]) slot {
  flex-direction: row;
}

::slotted(*) {
  padding: 2px 10px;
}

:host(:focus-within) ::slotted([active-descendant]) {
  background-color: #e8f7ff;
}
