:host {
  display: block;
}

:host([hidden]),
:host([hidden-by-filter]) {
  display: none !important;
}

:host:after,
:host:before {
  content: '\2713 ';
  opacity: 0;
}

:host([aria-selected="true"]):before {
  opacity: 1;
}