/*
 * Copyright 2018 Red Hat, Inc.
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 */
/* Palette of Border Colors */
/* Palette of Feedback Colors */
:host, .pfe-band__container, .pfe-band__header, .pfe-band__body, .pfe-band__aside, .pfe-band__footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.pfe-band__container, .pfe-band__header, .pfe-band__body, .pfe-band__aside, .pfe-band__footer {
  display: grid;
  grid-row-gap: var(--pfe-band--gutter--vertical);
  grid-column-gap: var(--pfe-band--gutter--horizontal);
  margin-bottom: 0;
}

:host {
  display: block;
  --pfe-band--Padding--vertical:               calc( var(--pfe-theme--container-spacer, 1rem) * 4);
  --pfe-band--Padding--horizontal:             calc( var(--pfe-theme--container-spacer, 1rem) * 1);
  --pfe-band--Padding:                         var(--pfe-band--Padding--vertical)  var(--pfe-band--Padding--horizontal);
  --pfe-band--BackgroundColor:                 var(--pfe-theme--color--surface--base, #dfdfdf);
  --pfe-band--BackgroundPosition:              center center;
  --pfe-band--Border:                          var(--pfe-theme--surface--border-width, 1px) var(--pfe-theme--surface--border-style, solid) transparent;
  --pfe-band--layout:                           1fr;
  --pfe-band__header--layout:                   1fr;
  --pfe-band__body--layout:                     1fr;
  --pfe-band__footer--layout:                   1fr;
  --pfe-band__aside--layout:                    1fr;
  --pfe-band--gutter--vertical:                 var(--pfe-theme--container-spacer, 1rem);
  --pfe-band--gutter--horizontal:               calc(var(--pfe-theme--container-spacer, 1rem) * 3);
  --pfe-broadcasted--color--text:              var(--pfe-theme--color--surface--base--text, #333);
  --pfe-broadcasted--color--ui-link:           var(--pfe-theme--color--surface--base--link, #00538c);
  --pfe-broadcasted--color--ui-link--visited:  var(--pfe-theme--color--surface--base--link--visited, #7551a6);
  --pfe-broadcasted--color--ui-link--hover:    var(--pfe-theme--color--surface--base--link--hover, #00305b);
  --pfe-broadcasted--color--ui-link--focus:    var(--pfe-theme--color--surface--base--link--focus, #00305b);
  --pfe-band--Width: auto;
  --pfe-band--Width__aside--sm: 240px;
  --pfe-band--Width__aside--lg: 300px;
  position: relative;
  padding: calc(var(--pfe-band--Padding--vertical) / 2) var(--pfe-band--Padding--horizontal);
  border: var(--pfe-band--Border);
  background-color: var(--pfe-band--BackgroundColor);
  background-position: var(--pfe-band--BackgroundPosition);
  color: var(--pfe-broadcasted--color--text);
}

@media screen and (min-width: 768px) {
  :host {
    --pfe-band--Width: calc( 768px - calc(var(--pfe-band--Padding--horizontal) * 4) );
  }
}

@media screen and (min-width: 992px) {
  :host {
    --pfe-band--Width: calc( 992px - calc(var(--pfe-band--Padding--horizontal) * 4) );
  }
}

@media screen and (min-width: 1200px) {
  :host {
    --pfe-band--Width: calc( 1200px - calc(var(--pfe-band--Padding--horizontal) * 4) );
  }
}

@media print {
  :host {
    --pfe-band--Padding: calc(var(--pfe-band--Padding--vertical) / 2) var(--pfe-band--Padding--horizontal);
  }
}

@media (min-width: 576px) {
  :host {
    padding: var(--pfe-band--Padding);
  }
}

@media print {
  :host {
    background-color: white !important;
    background-image: none !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
}

:host *, :host *::before, :host *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:host([pfe-color="darker"]) {
  --pfe-band--BackgroundColor:                  var(--pfe-theme--color--surface--darker, #464646);
  --pfe-broadcasted--color--text:               var(--pfe-theme--color--surface--darker--text, #fff);
  --pfe-broadcasted--color--ui-link:            var(--pfe-theme--color--surface--darker--link, #99ccff);
  --pfe-broadcasted--color--ui-link--visited:   var(--pfe-theme--color--surface--darker--link--visited, #b38cd9);
  --pfe-broadcasted--color--ui-link--hover:     var(--pfe-theme--color--surface--darker--link--hover, #cce6ff);
  --pfe-broadcasted--color--ui-link--focus:     var(--pfe-theme--color--surface--darker--link--focus, #cce6ff);
}

:host([pfe-color="darkest"]) {
  --pfe-band--BackgroundColor:                  var(--pfe-theme--color--surface--darkest, #131313);
  --pfe-broadcasted--color--text:               var(--pfe-theme--color--surface--darkest--text, #fff);
  --pfe-broadcasted--color--ui-link:            var(--pfe-theme--color--surface--darkest--link, #99ccff);
  --pfe-broadcasted--color--ui-link--visited:   var(--pfe-theme--color--surface--darkest--link--visited, #b38cd9);
  --pfe-broadcasted--color--ui-link--hover:     var(--pfe-theme--color--surface--darkest--link--hover, #cce6ff);
  --pfe-broadcasted--color--ui-link--focus:     var(--pfe-theme--color--surface--darkest--link--focus, #cce6ff);
}

:host([pfe-color="accent"]) {
  --pfe-band--BackgroundColor:                  var(--pfe-theme--color--surface--accent, #fe460d);
  --pfe-broadcasted--color--text:               var(--pfe-theme--color--surface--accent--text, #fff);
  --pfe-broadcasted--color--ui-link:            var(--pfe-theme--color--surface--accent--link, #99ccff);
  --pfe-broadcasted--color--ui-link--visited:   var(--pfe-theme--color--surface--accent--link--visited, #b38cd9);
  --pfe-broadcasted--color--ui-link--hover:     var(--pfe-theme--color--surface--accent--link--hover, #cce6ff);
  --pfe-broadcasted--color--ui-link--focus:     var(--pfe-theme--color--surface--accent--link--focus, #cce6ff);
}

:host([pfe-color="complement"]) {
  --pfe-band--BackgroundColor:                  var(--pfe-theme--color--surface--complement, #0477a4);
  --pfe-broadcasted--color--text:               var(--pfe-theme--color--surface--complement--text, #fff);
  --pfe-broadcasted--color--ui-link:            var(--pfe-theme--color--surface--complement--link, #99ccff);
  --pfe-broadcasted--color--ui-link--visited:   var(--pfe-theme--color--surface--complement--link--visited, #b38cd9);
  --pfe-broadcasted--color--ui-link--hover:     var(--pfe-theme--color--surface--complement--link--hover, #cce6ff);
  --pfe-broadcasted--color--ui-link--focus:     var(--pfe-theme--color--surface--complement--link--focus, #cce6ff);
}

:host([pfe-color="lighter"]) {
  --pfe-band--BackgroundColor:                  var(--pfe-theme--color--surface--lighter, #ececec);
  --pfe-broadcasted--color--text:               var(--pfe-theme--color--surface--lighter--text, #333);
  --pfe-broadcasted--color--ui-link:            var(--pfe-theme--color--surface--lighter--link, #06c);
  --pfe-broadcasted--color--ui-link--visited:   var(--pfe-theme--color--surface--lighter--link--visited, rebeccapurple);
  --pfe-broadcasted--color--ui-link--hover:     var(--pfe-theme--color--surface--lighter--link--hover, #003366);
  --pfe-broadcasted--color--ui-link--focus:     var(--pfe-theme--color--surface--lighter--link--focus, #003366);
}

:host([pfe-color="lightest"]) {
  --pfe-band--BackgroundColor:                  var(--pfe-theme--color--surface--lightest, #fff);
  --pfe-broadcasted--color--text:               var(--pfe-theme--color--surface--lightest--text, #333);
  --pfe-broadcasted--color--ui-link:            var(--pfe-theme--color--surface--lightest--link, #06c);
  --pfe-broadcasted--color--ui-link--visited:   var(--pfe-theme--color--surface--lightest--link--visited, rebeccapurple);
  --pfe-broadcasted--color--ui-link--hover:     var(--pfe-theme--color--surface--lightest--link--hover, #003366);
  --pfe-broadcasted--color--ui-link--focus:     var(--pfe-theme--color--surface--lightest--link--focus, #003366);
}

:host([pfe-size="small"]) {
  --pfe-band--Padding:   calc(var(--pfe-band--Padding--vertical) / 4)  var(--pfe-band--Padding--horizontal);
}

.pfe-band__container {
  --pfe-band_region--width: calc(calc(1fr - var(--pfe-band--Width__aside--sm)) - var(--pfe-band--gutter--horizontal));
  --pfe-band--gridTemplateArea_mobile: "body";
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: var(--pfe-band--Width);
}

.pfe-band__container[pfe-has-aside] {
  --pfe-band--gridTemplateArea_mobile:
        "body" "aside";
  --pfe-band--gridTemplateArea_desktop:
        "body aside";
}

@media (min-width: 768px) {
  .pfe-band__container[pfe-has-aside] {
    --pfe-band--layout: 1fr var(--pfe-band--Width__aside--sm);
  }
}

@media (min-width: 992px) {
  .pfe-band__container[pfe-has-aside] {
    --pfe-band--layout: 1fr var(--pfe-band--Width__aside--lg);
  }
}

.pfe-band__container[pfe-has-aside][pfe-aside-mobile="top"] {
  --pfe-band--gridTemplateArea_mobile:
          "aside" "body";
}

.pfe-band__container[pfe-has-aside][pfe-aside-desktop="left"] {
  --pfe-band--gridTemplateArea_desktop:
          "aside body";
}

@media (min-width: 768px) {
  .pfe-band__container[pfe-has-aside][pfe-aside-desktop="left"] {
    --pfe-band--layout: var(--pfe-band--Width__aside--sm) 1fr;
  }
}

@media (min-width: 992px) {
  .pfe-band__container[pfe-has-aside][pfe-aside-desktop="left"] {
    --pfe-band--layout: var(--pfe-band--Width__aside--lg) 1fr;
  }
}

.pfe-band__container[pfe-has-header] {
  --pfe-band--gridTemplateArea_mobile:
        "header" "body";
}

.pfe-band__container[pfe-has-header][pfe-has-aside] {
  --pfe-band--gridTemplateArea_mobile:  
          "header" 
          "body" "aside";
  --pfe-band--gridTemplateArea_desktop: 
          "header header" 
          "body aside";
}

.pfe-band__container[pfe-has-header][pfe-aside-mobile="top"] {
  --pfe-band--gridTemplateArea_mobile:  
          "aside" 
          "header" 
          "body";
}

.pfe-band__container[pfe-has-header][pfe-aside-height="full"] {
  --pfe-band--gridTemplateArea_desktop:
          "header aside"
          "body aside";
}

.pfe-band__container[pfe-has-header][pfe-aside-desktop="left"] {
  --pfe-band--gridTemplateArea_desktop:
          "header header"
          "aside body";
}

.pfe-band__container[pfe-has-header][pfe-aside-desktop="left"][pfe-aside-height="full"] {
  --pfe-band--gridTemplateArea_desktop:
            "aside header"
            "aside body";
}

.pfe-band__container[pfe-has-footer] {
  --pfe-band--gridTemplateArea_mobile:
        "body"
        "footer";
}

.pfe-band__container[pfe-has-footer][pfe-has-aside] {
  --pfe-band--gridTemplateArea_mobile:
          "body"
          "aside"
          "footer";
  --pfe-band--gridTemplateArea_desktop:
          "body aside"
          "footer footer";
}

.pfe-band__container[pfe-has-footer][pfe-aside-mobile="top"] {
  --pfe-band--gridTemplateArea_mobile:
          "aside"
          "body"
          "footer";
}

.pfe-band__container[pfe-has-footer][pfe-aside-height="full"] {
  --pfe-band--gridTemplateArea_desktop:
          "body aside"
          "footer aside" ;
}

.pfe-band__container[pfe-has-footer][pfe-aside-desktop="left"] {
  --pfe-band--gridTemplateArea_desktop:
          "aside body"
          "footer footer";
}

.pfe-band__container[pfe-has-footer][pfe-aside-desktop="left"][pfe-aside-height="full"] {
  --pfe-band--gridTemplateArea_desktop:
            "aside body"
            "aside footer";
}

.pfe-band__container[pfe-has-header][pfe-has-footer] {
  --pfe-band--gridTemplateArea_mobile:
        "header"
        "body"
        "footer";
}

.pfe-band__container[pfe-has-header][pfe-has-footer][pfe-has-aside] {
  --pfe-band--gridTemplateArea_mobile:
          "header"
          "body"
          "footer"
          "aside";
  --pfe-band--gridTemplateArea_desktop:
          "header header"
          "body aside"
          "footer footer";
}

.pfe-band__container[pfe-has-header][pfe-has-footer][pfe-aside-mobile="top"] {
  --pfe-band--gridTemplateArea_mobile:
          "aside"
          "header"
          "body"
          "footer";
}

.pfe-band__container[pfe-has-header][pfe-has-footer][pfe-aside-height="full"] {
  --pfe-band--gridTemplateArea_desktop:
          "header aside"
          "body aside"
          "footer aside" ;
}

.pfe-band__container[pfe-has-header][pfe-has-footer][pfe-aside-desktop="left"] {
  --pfe-band--gridTemplateArea_desktop:
          "header header"
          "aside body"
          "footer footer";
}

.pfe-band__container[pfe-has-header][pfe-has-footer][pfe-aside-desktop="left"][pfe-aside-height="full"] {
  --pfe-band--gridTemplateArea_desktop:
            "aside header"
            "aside body"
            "aside footer";
}

@supports (display: grid) {
  .pfe-band__container {
    grid-template-columns: var(--pfe-band--layout);
    grid-template-rows: -webkit-max-content;
    grid-template-rows: max-content;
    grid-template-areas: var(--pfe-band--gridTemplateArea_mobile);
  }
  @media (min-width: 768px) {
    .pfe-band__container {
      grid-template-areas: var(--pfe-band--gridTemplateArea_desktop);
    }
  }
}

.pfe-band__header {
  margin-bottom: var(--pfe-band--gutter--vertical);
}

@supports (display: grid) {
  .pfe-band__header {
    grid-area: header;
    grid-template-columns: var(--pfe-band__header--layout);
  }
}

.pfe-band__body {
  margin-bottom: var(--pfe-band--gutter--vertical);
}

@supports (display: grid) {
  .pfe-band__body {
    grid-area: body;
    grid-template-columns: var(--pfe-band__body--layout);
  }
}

.pfe-band__aside {
  margin-bottom: var(--pfe-band--gutter--vertical);
}

@supports (display: grid) {
  .pfe-band__aside {
    grid-area: aside;
    grid-template-columns: var(--pfe-band__aside--layout);
  }
}

.pfe-band__footer {
  margin-bottom: var(--pfe-band--gutter--vertical);
}

@supports (display: grid) {
  .pfe-band__footer {
    grid-area: footer;
    grid-template-columns: var(--pfe-band__footer--layout);
  }
}

.pfe-band__aside {
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
          align-self: stretch;
}

/*# sourceMappingURL=pfe-band.css.map */
