[data-demo] {
  display: contents;
}

pf-jump-links {
  position: sticky;
  top: 1em;
}

main {
  display: grid;
  grid-template-rows: max-content auto;
  grid-template-columns: 300px auto;
  grid-template-areas:
    'head head'
    'side body';
}

main :is(header, aside, article) {
  padding: 24px;
}

main :is(aside, article) {
  background-color: var(--pf-global--BackgroundColor--light-300, #f0f0f0);
}

main header {
  grid-area: head;
}

main aside {
  grid-area: side;
}

main article {
  grid-area: body;
  padding-inline-start: 48px;
}

main:is(.mobile, .horizontal) {
  grid-template-rows: repeat(auto-fill, auto);
  grid-template-columns: 100%;
  grid-template-areas:
    'head'
    'side'
    'body';
}

main:is(.mobile, .horizontal) aside {
  position: sticky;
  top: 0;
  box-shadow: rgba(3, 3, 3, 0.16) 0px 4px 4px -4px;
  z-index: 1;
}


pf-switch + label,
pf-switch + label + label {
  margin-inline-start: 12px;
}
