body {
    font-size: 1.2em;
}

hr {
    margin: 40px 10px;
    border-color: transparent;
    border-bottom-color: #ccc;
}

code {
    color: #d75511;
    font-weight: 100;
    text-transform: lowercase;
}

.faux-container {
    border: 1px dashed #ccc;
    padding: 30px;
    max-width: 100%;
    resize: horizontal;
    overflow-x: auto;
}

.width-sm {
    width: 600px;
}

.width-lg {
    width: 900px;
}

.floating-card {
    float: left;
    width: 48%;
    margin-right: 2%;
    border: #eee solid 1px;
    padding: 20px;
}

.custom-styles {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-weight: bolder;
    color: orangered;
}

.btn-panel {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 30px;
    gap: 10px;
}

.select-panel {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 30px;
    gap: 10px;
}

.select-panel label + pfe-select {
    margin-top: 5px;
}
