@import "../../rh-sass/rh-sass";

:host {
  display: block;
  padding: var(--rhe-theme--spacer, $rh-global--spacer);
  border: var(--rhe-theme--border--BorderWidth, $rh-global--border--BorderWidth)
          var(--rhe-theme--border--BorderStyle, $rh-global--border--BorderStyle)
          transparent;
}

:host([theme="dark"]) {
  background: var(--rhe-theme--bg-color--shade7, $rh-global--color--black-soft);
  color: var(--rhe-theme--text-color--shade7, $rh-global--text-color--inverted);
}

:host([theme="light"]) {
  background: var(--rhe-theme--bg-color--shade2, $rh-global--color--gray-platinum);
  color: var(--rhe-theme--text-color--shade2, $rh-global--text-color);
}

:host .rh-card__header::slotted(h1:first-child),
:host .rh-card__header::slotted(h2:first-child),
:host .rh-card__header::slotted(h3:first-child),
:host .rh-card__header::slotted(h4:first-child),
:host .rh-card__header::slotted(h5:first-child),
:host .rh-card__header::slotted(h6:first-child) {
  margin-top: 0 !important; // Specificity issue. Why?!
}
