@import "../../rh-sass/rh-sass";

:host {
  --rh-card--padding:                          calc(#{rh-var(container-spacer)} * 2); // 2x `container-spacer`
  --rh-card--paddingTop:                       var(--rh-card--padding);
  --rh-card--paddingRight:                     var(--rh-card--padding);
  --rh-card--paddingBottom:                    var(--rh-card--padding);
  --rh-card--paddingLeft:                      var(--rh-card--padding);
  // Spacing between elements inside the card
  --rh-card--spacing:                          #{rh-var(container-spacer)};

  // bg is deprecated but still supported
  --rh-card--bg:                               #{rh-color(surface--base)};

  // Color properties
  --rh-card--backgroundColor:                  var(--rh-card--bg);
  --rh-card--borderColor:                      transparent;

  // Header properties
  --rh-card__header--size:                     #{rh-var(font-size--heading--delta)};
  --rh-card__header--fontWeight:               #{rh-var(font-weight--heading--delta)};
  --rh-card__header--textTransform:            uppercase;
  --rh-card__header--backgroundColor:          #{rh-color(surface--base--harmony)};

  // Broadcasted color properties
  --rh-broadcasted--color--text:               #{rh-color(surface--base--text)};
  --rh-broadcasted--color--ui-link:            #{rh-color(surface--base--link)};
  --rh-broadcasted--link--text-decoration:     underline;
  --rh-broadcasted--color--ui-link--visited:   #{rh-color(surface--base--link--visited)};
  --rh-broadcasted--color--ui-link--hover:     #{rh-color(surface--base--link--hover)};
  --rh-broadcasted--color--ui-link--focus:     #{rh-color(surface--base--link--focus)};

  display: flex;
  flex-direction: column;
  justify-items: flex-start;

  border-width: 0; //rh-var(surface--border-width)
  border-style: rh-var(surface--border-style);
  border-color: var(--rh-card--borderColor, transparent);
  border-radius: rh-var(surface--border-radius);

  // Base colors
  background: var(--rh-card--backgroundColor);
  color: var(--rh-broadcasted--color--text);
  padding: var(--rh-card--paddingTop) var(--rh-card--paddingRight) var(--rh-card--paddingBottom) var(--rh-card--paddingLeft);
}

slot:last-child {
  margin-bottom: 0;
}

:host([color="dark"]) {
  --rh-card--backgroundColor:                  #{rh-color(surface--darker)};
  --rh-broadcasted--color--text:               #{rh-color(surface--darker--text)};
  --rh-broadcasted--color--ui-link:            #{rh-color(surface--darker--link)};
  --rh-broadcasted--color--ui-link--visited:   #{rh-color(surface--darker--link--visited)};
  --rh-broadcasted--color--ui-link--hover:     #{rh-color(surface--darker--link--hover)};
  --rh-broadcasted--color--ui-link--focus:     #{rh-color(surface--darker--link--focus)};
  // Header colors
  .rh-card__header {
    --rh-card__header--backgroundColor:         #{rh-color(surface--darker--harmony)};
    --rh-broadcasted--color--text:              #{rh-color(surface--darker--harmony--text)};
    --rh-broadcasted--color--ui-link:           #{rh-color(surface--darker--harmony--text)};
    --rh-broadcasted--color--ui-link--visited:  #{rh-color(surface--darker--harmony--text)};
    --rh-broadcasted--color--ui-link--hover:    #{rh-color(surface--darker--harmony--link--hover)};
    --rh-broadcasted--color--ui-link--focus:    #{rh-color(surface--darker--harmony--link--focus)};
  }
}

:host([color="darkest"]) {
  --rh-card--backgroundColor:                  #{rh-color(surface--darkest)};
  --rh-broadcasted--color--text:               #{rh-color(surface--darkest--text)};
  --rh-broadcasted--color--ui-link:            #{rh-color(surface--darkest--link)};
  --rh-broadcasted--color--ui-link--visited:   #{rh-color(surface--darkest--link--visited)};
  --rh-broadcasted--color--ui-link--hover:     #{rh-color(surface--darkest--link--hover)};
  --rh-broadcasted--color--ui-link--focus:     #{rh-color(surface--darkest--link--focus)};
  // Header colors
  .rh-card__header {
    --rh-card__header--backgroundColor:            #{rh-color(surface--darkest--harmony)};
    --rh-broadcasted--color--text:                 #{rh-color(surface--darkest--harmony--text)};
    --rh-broadcasted--color--ui-link:              #{rh-color(surface--darkest--harmony--text)};
    --rh-broadcasted--color--ui-link--visited:     #{rh-color(surface--darkest--harmony--text)};
    --rh-broadcasted--color--ui-link--hover:       #{rh-color(surface--darkest--harmony--link--hover)};
    --rh-broadcasted--color--ui-link--focus:       #{rh-color(surface--darkest--harmony--link--focus)};
  }
}

:host([color="light"]) {
  --rh-card--backgroundColor:                  #{rh-color(surface--lighter)};
  --rh-broadcasted--color--text:               #{rh-color(surface--lighter--text)};
  --rh-broadcasted--color--ui-link:            #{rh-color(surface--lighter--link)};
  --rh-broadcasted--color--ui-link--visited:   #{rh-color(surface--lighter--link--visited)};
  --rh-broadcasted--color--ui-link--hover:     #{rh-color(surface--lighter--link--hover)};
  --rh-broadcasted--color--ui-link--focus:     #{rh-color(surface--lighter--link--focus)};
  // Header colors
  .rh-card__header {
    --rh-card__header--backgroundColor:         #{rh-color(surface--lighter--harmony)};
    --rh-broadcasted--color--text:              #{rh-color(surface--lighter--harmony--text)};
    --rh-broadcasted--color--ui-link:           #{rh-color(surface--lighter--harmony--text)};
    --rh-broadcasted--color--ui-link--visited:  #{rh-color(surface--lighter--harmony--text)};
    --rh-broadcasted--color--ui-link--hover:    #{rh-color(surface--lighter--harmony--link--hover)};
    --rh-broadcasted--color--ui-link--focus:    #{rh-color(surface--lighter--harmony--link--focus)};
  }
}

:host([color="lightest"]) {
  --rh-card--backgroundColor:                  #{rh-color(surface--lightest)};
  --rh-broadcasted--color--text:               #{rh-color(surface--lightest--text)};
  --rh-broadcasted--color--ui-link:            #{rh-color(surface--lightest--link)};
  --rh-broadcasted--color--ui-link--visited:   #{rh-color(surface--lightest--link--visited)};
  --rh-broadcasted--color--ui-link--hover:     #{rh-color(surface--lightest--link--hover)};
  --rh-broadcasted--color--ui-link--focus:     #{rh-color(surface--lightest--link--focus)};
  // Header colors
  .rh-card__header {
    --rh-card__header--backgroundColor:         #{rh-color(surface--lightest--harmony)};
    --rh-broadcasted--color--text:              #{rh-color(surface--lightest--harmony--text)};
    --rh-broadcasted--color--ui-link:           #{rh-color(surface--lightest--harmony--text)};
    --rh-broadcasted--color--ui-link--visited:  #{rh-color(surface--lightest--harmony--text)};
    --rh-broadcasted--color--ui-link--hover:    #{rh-color(surface--lightest--harmony--link--hover)};
    --rh-broadcasted--color--ui-link--focus:    #{rh-color(surface--lightest--harmony--link--focus)};
  }
}

:host([color="complement"]) {
  --rh-card--backgroundColor:                  #{rh-color(surface--complement)};
  --rh-broadcasted--color--text:               #{rh-color(surface--complement--text)};
  --rh-broadcasted--color--ui-link:            #{rh-color(surface--complement--text)};
  --rh-broadcasted--color--ui-link--visited:   #{rh-color(surface--complement--link--visited)};
  --rh-broadcasted--color--ui-link--hover:     #{rh-color(surface--complement--link--hover)};
  --rh-broadcasted--color--ui-link--focus:     #{rh-color(surface--complement--link--focus)};
  // Header colors
  .rh-card__header {
    --rh-card__header--backgroundColor:         #{rh-color(surface--complement--harmony)};
    --rh-broadcasted--color--text:              #{rh-color(surface--complement--harmony--text)};
    --rh-broadcasted--color--ui-link:           #{rh-color(surface--complement--harmony--text)};
    --rh-broadcasted--color--ui-link---visited: #{rh-color(surface--complement--harmony--text)};
    --rh-broadcasted--color--ui-link--hover:    #{rh-color(surface--complement--harmony--link--hover)};
    --rh-broadcasted--color--ui-link--focus:    #{rh-color(surface--complement--harmony--link--focus)};
  }
}

:host([color="accent"]) {
  --rh-card--backgroundColor:                  #{rh-color(surface--accent)};
  --rh-broadcasted--color--text:               #{rh-color(surface--accent--text)};
  --rh-broadcasted--color--ui-link:            #{rh-color(surface--accent--link)};
  --rh-broadcasted--color--ui-link--visited:   #{rh-color(surface--accent--link--visited)};
  --rh-broadcasted--color--ui-link--hover:     #{rh-color(surface--accent--link--hover)};
  --rh-broadcasted--color--ui-link--focus:     #{rh-color(surface--accent--link--focus)};
  // Header colors
  .rh-card__header {
    --rh-card__header--backgroundColor:         #{rh-color(surface--accent--harmony)};
    --rh-broadcasted--color--text:              #{rh-color(surface--accent--harmony--text)};
    --rh-broadcasted--color--ui-link:           #{rh-color(surface--accent--harmony--text)};
    --rh-broadcasted--color--ui-link--visited:  #{rh-color(surface--accent--harmony--text)};
    --rh-broadcasted--color--ui-link--hover:    #{rh-color(surface--accent--harmony--link--hover)};
    --rh-broadcasted--color--ui-link--focus:    #{rh-color(surface--accent--harmony--link--focus)};
  }
}

:host([size="small"]) {
  --rh-card--padding:        #{rh-var(container-spacer)};
}

// Remove top margin from typography inside the component
@each $tag in (p, h1, h2, h3, h4, h5, h6) {
  ::slotted(#{$tag}) {
    margin-top: 0 !important;
  }
}

.rh-card__header,
.rh-card__body,
.rh-card__footer {
  display: block;
  &:not(:last-child) {
    margin-bottom: var(--rh-card--spacing);
  }
}

.rh-card__header {
  --rh-broadcasted--color--text:              #{rh-color(surface--base--harmony--text)};
  --rh-broadcasted--color--ui-link:           #{rh-color(surface--base--harmony--link)};
  --rh-broadcasted--link--text-decoration:    none;
  --rh-broadcasted--color--ui-link--visited:  #{rh-color(surface--base--harmony--link--visited)};
  --rh-broadcasted--color--ui-link--hover:    #{rh-color(surface--base--harmony--link--hover)};
  --rh-broadcasted--color--ui-link--focus:    #{rh-color(surface--base--harmony--link--focus)};
  // Set the header background color
  background-color: var(--rh-card__header--backgroundColor);
  // Margin style only on top and sides
  margin-top: calc(-1 * var(--rh-card--paddingTop));
  margin-right: calc(-1 * var(--rh-card--paddingRight));
  margin-left: calc(-1 * var(--rh-card--paddingLeft));
  // Padding for the header region
  padding-top: var(--rh-card--spacing); // Top padding differs if background color applied
  padding-right: var(--rh-card--paddingRight);
  padding-left: var(--rh-card--paddingLeft);
  // Heading styles
  @for $n from 1 to 6 {
    &::slotted(h#{$n}:first-child) {
      font-size: var(--rh-card__header--size);
      text-transform: var(--rh-card__header--textTransform);
      color: var(--rh-broadcasted--color--text);
    }
  }
}

.rh-card__footer {
  margin-top: auto; // This allows the footer to move to the very bottom
  justify-self: flex-end;
}
