@import "../../rh-sass/rh-sass";

:host {
  --rh-card--padding:                          calc(#{rh-var(container-spacer)} * 2); // 2x `container-spacer`
  --rh-card_header--size:                      #{rh-var(font-size--heading--gamma)};
  --rh-card--bg:                               #{rh-color(surface--base)};
  --rh-broadcasted--color--text:               #{rh-color(surface--base--text)};
  --rh-broadcasted--color--ui-link:            #{rh-color(surface--base--link)};
  --rh-broadcasted--color--ui-link--visited:   #{rh-color(surface--base--link--visited)};
  --rh-broadcasted--color--ui-link--hover:     #{rh-color(surface--base--link--hover)};
  --rh-broadcasted--color--ui-link--focus:     #{rh-color(surface--base--link--focus)};

  display: flex;
  flex-direction: column;
  justify-items: flex-start;
}
:host .container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-items: flex-start;
  padding: var(--rh-card--padding);
  border: rh-var(surface--border-width)
          rh-var(surface--border-style)
          transparent;
  border-radius: rh-var(surface--border-radius);

  // Base colors
  background: var(--rh-card--bg);
  color: var(--rh-broadcasted--color--text);
}

a {
  color: var(--rh-broadcasted--color--ui-link);
}

a:visited {
  color: var(--rh-broadcasted--color--ui-link--visited);
}

a:hover {
  color: var(--rh-broadcasted--color--ui-link--hover);
}

a:focus {
  color: var(--rh-broadcasted--color--ui-link--focus);
}

:host([color="dark"]) .container  {
  --rh-card--bg:                               #{rh-color(surface--darker)};
  --rh-broadcasted--color--text:               #{rh-color(surface--darker--text)};
  --rh-broadcasted--color--ui-link:            #{rh-color(surface--darker--link)};
  --rh-broadcasted--color--ui-link--visited:   #{rh-color(surface--darker--link--visited)};
  --rh-broadcasted--color--ui-link--hover:     #{rh-color(surface--darker--link--hover)};
  --rh-broadcasted--color--ui-link--focus:     #{rh-color(surface--darker--link--focus)};
}

:host([color="darkest"]) .container  {
  --rh-card--bg:                               #{rh-color(surface--darkest)};
  --rh-broadcasted--color--text:               #{rh-color(surface--darkest--text)};
  --rh-broadcasted--color--ui-link:            #{rh-color(surface--darkest--link)};
  --rh-broadcasted--color--ui-link--visited:   #{rh-color(surface--darkest--link--visited)};
  --rh-broadcasted--color--ui-link--hover:     #{rh-color(surface--darkest--link--hover)};
  --rh-broadcasted--color--ui-link--focus:     #{rh-color(surface--darkest--link--focus)};
}

:host([color="light"]) .container  {
  --rh-card--bg:                               #{rh-color(surface--lighter)};
  --rh-broadcasted--color--text:               #{rh-color(surface--lighter--text)};
  --rh-broadcasted--color--ui-link:            #{rh-color(surface--lighter--link)};
  --rh-broadcasted--color--ui-link--visited:   #{rh-color(surface--lighter--link--visited)};
  --rh-broadcasted--color--ui-link--hover:     #{rh-color(surface--lighter--link--hover)};
  --rh-broadcasted--color--ui-link--focus:     #{rh-color(surface--lighter--link--focus)};
}

:host([color="lightest"]) .container  {
  --rh-card--bg:                               #{rh-color(surface--lightest)};
  --rh-broadcasted--color--text:               #{rh-color(surface--lightest--text)};
  --rh-broadcasted--color--ui-link:            #{rh-color(surface--lightest--link)};
  --rh-broadcasted--color--ui-link--visited:   #{rh-color(surface--lightest--link--visited)};
  --rh-broadcasted--color--ui-link--hover:     #{rh-color(surface--lightest--link--hover)};
  --rh-broadcasted--color--ui-link--focus:     #{rh-color(surface--lightest--link--focus)};
}

:host([color="complement"]) .container  {
  --rh-card--bg:                               #{rh-color(surface--complement)};
  --rh-broadcasted--color--text:               #{rh-color(surface--complement--text)};
  --rh-broadcasted--color--ui-link:            #{rh-color(surface--complement--link)};
  --rh-broadcasted--color--ui-link--visited:   #{rh-color(surface--complement--link--visited)};
  --rh-broadcasted--color--ui-link--hover:     #{rh-color(surface--complement--link--hover)};
  --rh-broadcasted--color--ui-link--focus:     #{rh-color(surface--complement--link--focus)};
}

:host([color="accent"]) .container  {
  --rh-card--bg:                               #{rh-color(surface--accent)};
  --rh-broadcasted--color--text:               #{rh-color(surface--accent--text)};
  --rh-broadcasted--color--ui-link:            #{rh-color(surface--accent--link)};
  --rh-broadcasted--color--ui-link--visited:   #{rh-color(surface--accent--link--visited)};
  --rh-broadcasted--color--ui-link--hover:     #{rh-color(surface--accent--link--hover)};
  --rh-broadcasted--color--ui-link--focus:     #{rh-color(surface--accent--link--focus)};
}

:host([size="small"]) .container  {
  --rh-card--padding:        #{rh-var(container-spacer)};
}

.rh-card__header,
.rh-card__body,
.rh-card__footer {
  display: block;
  margin: 0;
}

.rh-card__header::slotted(h1:first-child),
.rh-card__header::slotted(h2:first-child),
.rh-card__header::slotted(h3:first-child),
.rh-card__header::slotted(h4:first-child),
.rh-card__header::slotted(h5:first-child),
.rh-card__header::slotted(h6:first-child) {
  margin-top: 0 !important; // Specificity issue. Why?!
  font-size: var(--rh-card_header--size);
}

.rh-card__body::slotted(*:nth-child(2)) { // child pseudo-selectors appear to be based on slotted code before upgrade.
  margin-top: 0 !important;
}

.rh-card__footer {
  // margin-top: rh-var(container-spacer);
  margin-top: auto; // This allows the footer to move to the very bottom
  justify-self: flex-end;
}
