[slot="logo"] > a {
  color: white;
  text-decoration: none;
  display: inline-block;
}

.redhat-logo {
  max-width: 110px;
  max-height: 36px;
}

@media (min-width: 992px) {
  .redhat-logo {
    max-width: 135px;
  }
}

.site-title {
  position: relative;
  line-height: 48px;
  font-size: .75rem;
  text-transform: uppercase;
  letter-spacing: .025em;
  text-decoration: none;
}

.site-title:before {
  position: absolute;
  left: 20px;
  top: 6px;
  content: "";
  height: 34px;
  width: 1px;
  background: rgba(255,255,255,0.3)
}

.gray {
  background-color: #ccc;
  margin-top: 16px;
  padding: 16px;
}

.container {
  grid-template-columns: 1fr;
  max-width: var(--pfe-navigation--Width);
  margin: 0 auto;
  display: grid;
  text-align: left;
}

@media screen and (min-width: 900px) {
  .container {
    grid-template-columns: 1fr 300px;
  }
}

[columns="3"] {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

[stacked] {
  display: flex;
  flex-flow: column nowrap;
}

[stacked] > *:not(:last-child) {
  flex-grow: 1;
  margin-bottom: 10px;
}
