[slot="logo"] h2 a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 5px 5px 0;
}

.redhat-logo {
  max-width: 110px;
  max-height: 36px;
}

@media (min-width: 992px) {
  .redhat-logo {
    max-width: 135px;
  }
}

.site-title {
  position: relative;
  line-height: 48px;
  font-size: .75rem;
  text-transform: uppercase;
  letter-spacing: .025em;
  text-decoration: none;
}

.site-title:before {
  position: absolute;
  left: 20px;
  top: 6px;
  content: "";
  height: 34px;
  width: 1px;
  background: rgba(255,255,255,0.3)
}

.gray {
  background-color: #ccc;
  margin-top: 16px;
  padding: 16px;
}
