@import "../../pfe-sass/pfe-sass";

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: #{pfe-var(font-weight--normal)};
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

img,
embed,
iframe,
object,
audio,
video {
  max-width: 100%;
  height: auto;
}

iframe {
  border: 0;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td,
th {
  padding: 0;
  text-align: left;
}

// Patternfly base styles
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: #{pfe-var(line-height)};
}


body {
  font-family: #{pfe-var(font-family)};
  font-size: #{pfe-var(font-size)};
  font-weight: #{pfe-var(font-weight--normal)};
  line-height: #{pfe-var(line-height)};
  color: #{pfe-color(text)};
  text-align: left;
}

// Links styles
a {
  color: var(--pfe-broadcasted--color--ui-link, #{map-get($pfe-colors, 'ui-link')});
  text-decoration: #{pfe-var(link--text-decoration)};

  &:visited {
    color: var(--pfe-broadcasted--color--ui-link--visited, #{map-get($pfe-colors, 'ui-link--visited')});
  }

  &:hover {
    color: var(--pfe-broadcasted--color--ui-link--hover, #{map-get($pfe-colors, 'ui-link--hover')});
    text-decoration: #{pfe-var(link--text-decoration--hover)};
  }

  &:focus {
    color: var(--pfe-broadcasted--color--ui-link--focus, #{map-get($pfe-colors, 'ui-link--focus')});
  }
}

button,
a {
  cursor: pointer;
}
