$icon-color-map: (
    icon: (
        dark: $white,
        light: $black,
    ),
    // icon-hover: (
    //     dark: $stone,
    //     light: $stone,
    // ),
    // icon-background: (
    //     white: $white,
    //     red: $red,
    //     gray: $iron,
    //     orange: $orange,
    //     black: $black,
    //     rich-black: $rich-black,
    //     subtle: $fog,
    //     dark: $white,
    //     dark-subtle: $iron,
    //     light: $black,
    //     light-subtle: $fog,
    // ),
    // icon-background-hover: (
    //     white: $white,
    //     red: $brick-red,
    //     gray: $silver,
    //     orange: $fog,
    //     blue: $denim-blue,
    //     subtle: darken($fog, 10%),
    //     dark: darken($white, 10%),
    //     dark-subtle: lighten($iron, 10%),
    //     light: lighten($black, 10%),
    //     light-subtle: darken($fog, 10%),
    // ),
    // icon-fill: (
    //     white: $white,
    //     red: $white,
    //     gray: $black,
    //     orange: $white,
    //     black: $black,
    //     rich-black: $rich-black,
    //     subtle: $fog,
    //     dark: $white,
    //     dark-subtle: $iron,
    //     light: $black,
    //     light-subtle: $fog,
    // ),
    // icon-fill-hover: (
    //     red: $white,
    //     gray: $black,
    //     orange: $white,
    //     subtle: darken($fog, 10%),
    //     dark: darken($white, 10%),
    //     dark-subtle: lighten($iron, 10%),
    //     light: lighten($black, 10%),
    //     light-subtle: darken($fog, 10%),
    // ),
    // social-icon-link: (
    //     dark: $white,
    //     light: $black,
    // ),
    // social-icon-link-hover: (
    //     dark: $blue,
    //     light: $blue,
    // ),
);
