//
// Global vars are named:
// `$rh-global--concept--PropertyTitleCase--modifier--state`
// For example:
// * $rh-global--color--primary
// * $rh-global--FontSize
// * --rh-global--FontSize--heading--xs

// Component/Element vars are named:
// `$rh-c-block__element--modifier--state--PropertyTitleCase`
// For example:
// * --rh-dropdown--heading--FontSize
// * --cp-accordion--heading--FontSize

$rh-global--color-map--link: (
    default-link: (
        dark: $rh-global--link-color--inverted,
        dark-desaturated: $rh-global--text-color--inverted,
        light: $rh-global--link-color
    ),
    default-link-hover: (
        dark: $rh-global--link-color--inverted--hover,
        dark-desaturated: $rh-global--color--gray-mercury,
        light: $rh-global--color--link--hover
    ),
    default-link-visited: (
        dark: $rh-global--link-color--inverted--visited,
        dark-desaturated: $rh-global--color--gray-stone,
        light: $rh-global--link-color--visited
    ),
    default-link-active: (
        dark: $rh-global--link-color--inverted--hover,
        dark-desaturated: $rh-global--color--gray-mercury,
        light: $rh-global--color--link--hover
    ),
    default-link-focus: (
        dark: $rh-global--link-color--inverted--hover,
        dark-desaturated: $rh-global--color--gray-mercury,
        light: $rh-global--color--link--hover
    )
);
