$table-color-map: (
    table-border: (
        light: $gray-platinum,
    ),
    // table-label: (
    //     light: $stone,
    // ),
    // table-strong-label: (
    //     light: $rich-black,
    // ),
    // table-data: (
    //     light: $rich-black,
    // ),
);
