//
// Global vars are named:
// `$rh-global--concept--PropertyTitleCase--modifier--state`
// For example:
// * $rh-global--color--primary
// * $rh-global--FontSize
// * --rh-global--FontSize--heading--xs

// Component/Element vars are named:
// `$rh-c-block__element--modifier--state--PropertyTitleCase`
// For example:
// * --rh-dropdown--heading--FontSize
// * --cp-accordion--heading--FontSize

$rh-global--color-map--table: (
    table-border: (
        default: $rh-global--border--BorderColor,
        light: $rh-global--border--BorderColor--light,
        dark: $rh-global--border--BorderColor--dark
    )
);
