/// Repositor prefix
$repo: pfe !default;

/// Default font size
$pfe-global--font-size-root: 16 !default;

/// Use Fallback
$USE-FALLBACK: true;

/// Supported default broadcast variables
$BROADCAST-VARS: text link link-decoration;

/// List of supported themes
$THEMES: dark saturated light;

/// List of supported surfaces
$SURFACE: darker darkest base lighter lightest accent complement;
