$repo: pfe !default;
$pfe-global--font-size-root: 16 !default; // root for fonts and everything else

$USE-FALLBACK: true; // default for use-fallback is true
$BROADCAST-VARS: text link link-decoration; // supported default broadcast variables
$CONTEXTS: dark saturated light; // supported contexts
$SURFACE: darker darkest base lightest accent complement;
$LOCAL-VARIABLES: ();
