@import "../../../node_modules/@patternfly/patternfly/sass-utilities/colors";
// ========================================================================
// CRAYON COLORS for PFElements
//
// Basic named colors to be assigned to context in _colors.scss
//
// While these are available for styling PFElements, it's recommended
//    that developers try to utilize the context-based colors in
//    $pf-colors in _maps.scss first, and _colors.scss second.
//
// ========================================================================


// ========================================================================
// PFElement Brand Colors
// Namespaced with $pfelements-- to separate from colors below, which will
//    be based on these colors.
// ========================================================================


$pfelements--blue:              #0477a4 !default; 

// Other tertiary named colors to be used below
$pfelements--red:               #e00 !default; // Was #c00
$pf-color-red-600:             darken($pfelements--red, 10%) !default;
$pf-color-red-800:             darken($pfelements--red, 30%) !default;

 
