// ========================================================================
// CRAYON COLORS for PFElements
//
// Basic named colors to be assigned to context in _colors.scss
//
// While these are available for styling PFElements, it's recommended
//    that developers try to utilize the context-based colors in
//    $pfe-colors in _maps.scss first, and _colors.scss second.
//
// ========================================================================


// ========================================================================
// PFElement Brand Colors
// Namespaced with $pfelements-- to separate from colors below, which will
//    be based on these colors.
// ========================================================================

$pfelements--orange:            #fe460d !default;
$pfelements--orange-dark:       #e23b0e !default;
$pfelements--orange-darkest:    #ad2b0c !default;

$pfelements--blue:              #0477a4 !default;
$pfelements--blue-dark:         #046a89 !default;
$pfelements--blue-darkest:      #044554 !default;

$pfelements--green:             #aee339 !default;
$pfelements--green-dark:        #a2c935 !default;
$pfelements--green-darkest:     #7c9328 !default;

$pfelements--gray:              #797979 !default;
$pfelements--gray-light:        #d2d2d2 !default;
$pfelements--gray-dark:         #333 !default;

// Other tertiary named colors to be used below
$pfelements--red:               #e00 !default; // Was #c00
$pfelements--yellow:            #f0ab00 !default;
$pfelements--cyan:              #007a87 !default;
$pfelements--purple:            rebeccapurple !default; // Was #703fec

// ========================================================================
// B&W, Gray Values
// ========================================================================

$pfe-var--white:               #fff !default;
$pfe-var--gray-50:             lighten($pfelements--gray, 48%) !default;
$pfe-var--gray-100:            lighten($pfelements--gray, 45%) !default;
$pfe-var--gray-200:            lighten($pfelements--gray, 40%) !default;
$pfe-var--gray-250:            $pfelements--gray-light !default;
$pfe-var--gray-300:            lighten($pfelements--gray, 30%) !default;
$pfe-var--gray-400:            lighten($pfelements--gray, 20%) !default;
$pfe-var--gray-500:            lighten($pfelements--gray, 10%) !default;
$pfe-var--gray-600:            $pfelements--gray !default;                 // Aliased
$pfe-var--gray-700:            darken($pfelements--gray, 10%) !default;
$pfe-var--gray-800:            darken($pfelements--gray, 20%) !default;
$pfe-var--gray-900:            darken($pfelements--gray, 30%) !default;
$pfe-var--gray-1000:           darken($pfelements--gray, 40%) !default;
$pfe-var--black:               $pfe-var--gray-1000 !default;               // Aliased

// ========================================================================
// Hue Rainbow Values!
// ========================================================================

$pfe-var--red-50:              lighten($pfelements--red, 50%) !default;
$pfe-var--red-100:             lighten($pfelements--red, 40%) !default;
$pfe-var--red-200:             lighten($pfelements--red, 30%) !default;
$pfe-var--red-300:             lighten($pfelements--red, 20%) !default;
$pfe-var--red-400:             lighten($pfelements--red, 10%) !default;
$pfe-var--red-500:             $pfelements--red !default;                // Aliased
$pfe-var--red-600:             darken($pfelements--red, 10%) !default;
$pfe-var--red-700:             darken($pfelements--red, 20%) !default;
$pfe-var--red-800:             darken($pfelements--red, 30%) !default;

$pfe-var--orange-50:           lighten($pfelements--orange, 40%) !default;
$pfe-var--orange-100:          lighten($pfelements--orange, 30%) !default;
$pfe-var--orange-200:          lighten($pfelements--orange, 20%) !default;
$pfe-var--orange-300:          lighten($pfelements--orange, 10%) !default;
$pfe-var--orange-400:          $pfelements--orange !default;              // Aliased
$pfe-var--orange-500:          darken($pfelements--orange, 10%) !default;
$pfe-var--orange-600:          darken($pfelements--orange, 20%) !default;
$pfe-var--orange-700:          darken($pfelements--orange, 30%) !default;
$pfe-var--orange-800:          darken($pfelements--orange, 40%) !default;

$pfe-var--yellow-50:           lighten($pfelements--yellow, 50%) !default;
$pfe-var--yellow-100:          lighten($pfelements--yellow, 40%) !default;
$pfe-var--yellow-200:          lighten($pfelements--yellow, 30%) !default;
$pfe-var--yellow-300:          lighten($pfelements--yellow, 20%) !default;
$pfe-var--yellow-400:          lighten($pfelements--yellow, 10%) !default;
$pfe-var--yellow-500:          $pfelements--yellow !default;              // Aliased
$pfe-var--yellow-600:          darken($pfelements--yellow, 10%) !default;
$pfe-var--yellow-700:          darken($pfelements--yellow, 20%) !default;
$pfe-var--yellow-800:          darken($pfelements--yellow, 30%) !default;

$pfe-var--green-50:            lighten($pfelements--green, 40%) !default;
$pfe-var--green-100:           lighten($pfelements--green, 30%) !default;
$pfe-var--green-200:           lighten($pfelements--green, 20%) !default;
$pfe-var--green-300:           lighten($pfelements--green, 10%) !default;
$pfe-var--green-400:           $pfelements--green !default;              // Aliased
$pfe-var--green-500:           darken($pfelements--green, 10%) !default;
$pfe-var--green-600:           darken($pfelements--green, 20%) !default;
$pfe-var--green-700:           darken($pfelements--green, 30%) !default;
$pfe-var--green-800:           darken($pfelements--green, 40%) !default;

$pfe-var--cyan-50:             lighten($pfelements--cyan, 60%) !default;
$pfe-var--cyan-100:            lighten($pfelements--cyan, 50%) !default;
$pfe-var--cyan-200:            lighten($pfelements--cyan, 40%) !default;
$pfe-var--cyan-300:            lighten($pfelements--cyan, 30%) !default;
$pfe-var--cyan-400:            lighten($pfelements--cyan, 20%) !default;
$pfe-var--cyan-500:            lighten($pfelements--cyan, 10%) !default;
$pfe-var--cyan-600:            $pfelements--cyan !default;              // Aliased
$pfe-var--cyan-700:            darken($pfelements--cyan, 10%) !default;
$pfe-var--cyan-800:            darken($pfelements--cyan, 20%) !default;

$pfe-var--blue-50:             lighten($pfelements--blue, 60%) !default;
$pfe-var--blue-100:            lighten($pfelements--blue, 50%) !default;
$pfe-var--blue-200:            lighten($pfelements--blue, 40%) !default;
$pfe-var--blue-300:            lighten($pfelements--blue, 30%) !default;
$pfe-var--blue-400:            lighten($pfelements--blue, 20%) !default;
$pfe-var--blue-500:            lighten($pfelements--blue, 10%) !default;
$pfe-var--blue-600:            $pfelements--blue !default;              // Aliased
$pfe-var--blue-700:            darken($pfelements--blue, 10%) !default;
$pfe-var--blue-800:            darken($pfelements--blue, 20%) !default;

$pfe-var--purple-50:           lighten($pfelements--purple, 40%) !default;
$pfe-var--purple-100:          lighten($pfelements--purple, 30%) !default;
$pfe-var--purple-200:          lighten($pfelements--purple, 20%) !default;
$pfe-var--purple-300:          lighten($pfelements--purple, 10%) !default;
$pfe-var--purple-400:          $pfelements--purple !default;            // Aliased
$pfe-var--purple-500:          darken($pfelements--purple, 10%) !default;
$pfe-var--purple-600:          darken($pfelements--purple, 20%) !default;
$pfe-var--purple-700:          darken($pfelements--purple, 30%) !default;
$pfe-var--purple-800:          darken($pfelements--purple, 40%) !default;
