@import "@patternfly/patternfly/sass-utilities/colors";
// ========================================================================
// CRAYON COLORS for PFElements
//
// Basic named colors to be assigned to context in _colors.scss
//
// While these are available for styling PFElements, it's recommended
//    that developers try to utilize the context-based colors in
//    $pfe-colors in _maps.scss first, and _colors.scss second.
//
// ========================================================================


// ========================================================================
// PFElement Brand Colors
// Namespaced with $pfelements-- to separate from colors below, which will
//    be based on these colors.
// ========================================================================

$pfelements--orange:            #fe460d !default;
$pfelements--orange-dark:       #e23b0e !default;
$pfelements--orange-darkest:    #ad2b0c !default;

$pfelements--blue:              $pf-color-blue-400 !default;
$pfelements--blue-dark:         #046a89 !default;
$pfelements--blue-darkest:      #044554 !default;

$pfelements--green:             #aee339 !default;
$pfelements--green-dark:        #a2c935 !default;
$pfelements--green-darkest:     #7c9328 !default;

$pfelements--gray:              #797979 !default;
$pfelements--gray-light:        #d2d2d2 !default;
$pfelements--gray-dark:         #333 !default;

// Other tertiary named colors to be used below
$pfelements--red:               #e00 !default; // Was #c00
$pfelements--yellow:            #f0ab00 !default;
$pfelements--cyan:              #007a87 !default;
$pfelements--purple:            rebeccapurple !default; // Was #703fec

// ========================================================================
// B&W, Gray Values
// ========================================================================

$pfe-color--white:               $pf-color-white !default;
$pfe-color--black:               $pf-color-black-1000 !default;               // Aliased

// ========================================================================
// Hue Rainbow Values!
// ========================================================================

$pfe-color--red-50:              $pf-color-red-50;
$pfe-color--red-100:             $pf-color-red-100;
$pfe-color--red-200:             $pf-color-red-200;
$pfe-color--red-300:             $pf-color-red-300;
$pfe-color--red-400:             $pf-color-red-400;
$pfe-color--red-500:             $pf-color-red-500;   
$pfe-color--red-600:             darken($pfelements--red, 10%) !default;
$pfe-color--red-700:             darken($pfelements--red, 20%) !default;
$pfe-color--red-800:             darken($pfelements--red, 30%) !default;

$pfe-color--orange-50:           lighten($pfelements--orange, 40%) !default;
$pfe-color--orange-100:          lighten($pfelements--orange, 30%) !default;
$pfe-color--orange-200:          lighten($pfelements--orange, 20%) !default;
$pfe-color--orange-300:          lighten($pfelements--orange, 10%) !default;
$pfe-color--orange-400:          $pfelements--orange !default;              // Aliased
$pfe-color--orange-500:          darken($pfelements--orange, 10%) !default;
$pfe-color--orange-600:          darken($pfelements--orange, 20%) !default;
$pfe-color--orange-700:          darken($pfelements--orange, 30%) !default;
$pfe-color--orange-800:          darken($pfelements--orange, 40%) !default;

$pfe-color--yellow-50:           lighten($pfelements--yellow, 50%) !default;
$pfe-color--yellow-100:          lighten($pfelements--yellow, 40%) !default;
$pfe-color--yellow-200:          lighten($pfelements--yellow, 30%) !default;
$pfe-color--yellow-300:          lighten($pfelements--yellow, 20%) !default;
$pfe-color--yellow-400:          lighten($pfelements--yellow, 10%) !default;
$pfe-color--yellow-500:          $pfelements--yellow !default;              // Aliased
$pfe-color--yellow-600:          darken($pfelements--yellow, 10%) !default;
$pfe-color--yellow-700:          darken($pfelements--yellow, 20%) !default;
$pfe-color--yellow-800:          darken($pfelements--yellow, 30%) !default;

$pfe-color--green-50:            lighten($pfelements--green, 40%) !default;
$pfe-color--green-100:           lighten($pfelements--green, 30%) !default;
$pfe-color--green-200:           lighten($pfelements--green, 20%) !default;
$pfe-color--green-300:           lighten($pfelements--green, 10%) !default;
$pfe-color--green-400:           $pfelements--green !default;              // Aliased
$pfe-color--green-500:           darken($pfelements--green, 10%) !default;
$pfe-color--green-600:           darken($pfelements--green, 20%) !default;
$pfe-color--green-700:           darken($pfelements--green, 30%) !default;
$pfe-color--green-800:           darken($pfelements--green, 40%) !default;

$pfe-color--cyan-50:             lighten($pfelements--cyan, 60%) !default;
$pfe-color--cyan-100:            lighten($pfelements--cyan, 50%) !default;
$pfe-color--cyan-200:            lighten($pfelements--cyan, 40%) !default;
$pfe-color--cyan-300:            lighten($pfelements--cyan, 30%) !default;
$pfe-color--cyan-400:            lighten($pfelements--cyan, 20%) !default;
$pfe-color--cyan-500:            lighten($pfelements--cyan, 10%) !default;
$pfe-color--cyan-600:            $pfelements--cyan !default;              // Aliased
$pfe-color--cyan-700:            darken($pfelements--cyan, 10%) !default;
$pfe-color--cyan-800:            darken($pfelements--cyan, 20%) !default;

$pfe-color--blue-50:             lighten($pfelements--blue, 60%) !default;
$pfe-color--blue-100:            lighten($pfelements--blue, 50%) !default;
$pfe-color--blue-200:            lighten($pfelements--blue, 40%) !default;
$pfe-color--blue-300:            lighten($pfelements--blue, 30%) !default;
$pfe-color--blue-400:            $pf-color-blue-400;
//$pfe-color--blue-400:            lighten($pfelements--blue, 20%) !default;
$pfe-color--blue-500:            lighten($pfelements--blue, 10%) !default;
$pfe-color--blue-600:            $pfelements--blue !default;              // Aliased
$pfe-color--blue-700:            darken($pfelements--blue, 10%) !default;
$pfe-color--blue-800:            darken($pfelements--blue, 20%) !default;

$pfe-color--purple-50:           lighten($pfelements--purple, 40%) !default;
$pfe-color--purple-100:          lighten($pfelements--purple, 30%) !default;
$pfe-color--purple-200:          lighten($pfelements--purple, 20%) !default;
$pfe-color--purple-300:          lighten($pfelements--purple, 10%) !default;
$pfe-color--purple-400:          $pfelements--purple !default;            // Aliased
$pfe-color--purple-500:          darken($pfelements--purple, 10%) !default;
$pfe-color--purple-600:          darken($pfelements--purple, 20%) !default;
$pfe-color--purple-700:          darken($pfelements--purple, 30%) !default;
$pfe-color--purple-800:          darken($pfelements--purple, 40%) !default;
