////
/// @group color
/// @link https://www.patternfly.org/v4/guidelines/colors#color-palette
////

@import "@patternfly/patternfly/sass-utilities/colors.scss";

/// Text color, mapped to PatternFly color
$pfe-color--text: $pf-color-black-800;
/// Link color, mapped to PatternFly color
$pfe-color--link: $pf-color-blue-400;
/// Visited link color, mapped to PatternFly color
$pfe-color--link--visited: $pf-color-purple-500;
/// Hover link color, mapped to PatternFly color
$pfe-color--link--hover: $pf-color-blue-500;
/// Focus link color, mapped to PatternFly color
$pfe-color--link--focus: $pf-color-blue-500;

/// Text color on a dark context, mapped to PatternFly color
$pfe-color--text--on-dark: $pf-color-white;
/// Link color on a dark context, mapped to PatternFly color
$pfe-color--link--on-dark: $pf-color-blue-200;
/// Visited link color on a dark context, mapped to PatternFly color
$pfe-color--link--visited--on-dark: $pf-color-blue-100;
/// Hover link color on a dark context, mapped to PatternFly color
$pfe-color--link--hover--on-dark: $pf-color-blue-100;
/// Focus link color on a dark context, mapped to PatternFly color
$pfe-color--link--focus--on-dark: $pf-color-blue-100;

/// Text color on a saturated context, mapped to PatternFly color
$pfe-color--text--on-saturated: $pf-color-white;
/// Link color on a saturated context, mapped to PatternFly color
$pfe-color--link--on-saturated: $pf-color-white;
/// Visited link color on a saturated context, mapped to PatternFly color
$pfe-color--link--visited--on-saturated: $pf-color-white;
/// Hover link color on a saturated context, mapped to PatternFly color
$pfe-color--link--hover--on-saturated: $pf-color-black-100;
/// Focus link color on a saturated context, mapped to PatternFly color
$pfe-color--link--focus--on-saturated: $pf-color-black-100;
