// TODO: Reconcile with _maps.scss so there's only one file and no middleman.

// ========================================================================
// COLORS for PFElements
//
// Context-based colors to be used in styling PFElements along with _maps.scss
// @requires _crayola.scss
//
// ========================================================================


// ========================================================================
// Base Text Colors
// ========================================================================

$pfe-color--text:                               $pfelements--gray-dark !default;
$pfe-color--text--on-dark:                      $pfe-color--white !default;
$pfe-color--text--on-saturated:                 $pfe-color--white !default;


// ========================================================================
// Base UI Link Colors to be used below
// ========================================================================

$pfe-color--ui-link:                            #06c !default;
$pfe-color--ui-link--visited:                   $pfelements--purple !default;             // Was #7551a6
$pfe-color--ui-link--hover:                     darken($pfe-color--ui-link, 20%) !default; // Was #004080
$pfe-color--ui-link--focus:                     darken($pfe-color--ui-link, 20%) !default; // Was #004080

$pfe-color--ui-link--on-dark:                   lighten($pfe-color--ui-link, 40%) !default;          // Was #97daff
$pfe-color--ui-link--on-dark--visited:          lighten($pfe-color--ui-link--visited, 30%) !default; // Was #d8c0ff
$pfe-color--ui-link--on-dark--hover:            lighten($pfe-color--ui-link--on-dark, 10%) !default; // Was #c0ecff
$pfe-color--ui-link--on-dark--focus:            lighten($pfe-color--ui-link--on-dark, 10%) !default; // Was #c0ecff

$pfe-color--ui-link--on-saturated:              $pfe-color--white;               // Was #97daff
$pfe-color--ui-link--on-saturated--visited:     lighten($pfe-color--ui-link--visited, 30%) !default;      // Was #d8c0ff
$pfe-color--ui-link--on-saturated--hover:       lighten($pfe-color--ui-link--on-saturated, 10%) !default; // Was #c0ecff
$pfe-color--ui-link--on-saturated--focus:       lighten($pfe-color--ui-link--on-saturated, 10%) !default; // Was #c0ecff


// ========================================================================
// Base UI Colors for Buttons, CTAs, and actionable UI elements
// ========================================================================

$pfe-color--ui-base:                            $pfelements--blue !default;
$pfe-color--ui-base--hover:                     darken($pfelements--blue, 20%) !default;
$pfe-color--ui-base--focus:                     darken($pfelements--blue, 20%) !default;
$pfe-color--ui-base--visited:                   $pfelements--blue !default;
$pfe-color--ui-base--text:                      $pfe-color--text--on-dark !default;
$pfe-color--ui-base--text--hover:               $pfe-color--text--on-dark !default;
$pfe-color--ui-base--text--focus:               $pfe-color--text--on-dark !default;
$pfe-color--ui-base--text--visited:             $pfe-color--text--on-dark !default;

$pfe-color--ui-complement:                      $pfe-color--gray-800 !default;
$pfe-color--ui-complement--hover:               $pfe-color--gray-1000 !default;
$pfe-color--ui-complement--focus:               $pfe-color--gray-1000 !default;
$pfe-color--ui-complement--visited:             $pfe-color--gray-800 !default;
$pfe-color--ui-complement--text:                $pfe-color--text--on-dark !default;
$pfe-color--ui-complement--text--hover:         $pfe-color--text--on-dark !default;
$pfe-color--ui-complement--text--focus:         $pfe-color--text--on-dark !default;
$pfe-color--ui-complement--text--visited:       $pfe-color--text--on-dark !default;

$pfe-color--ui-accent:                          $pfelements--orange !default;
$pfe-color--ui-accent--hover:                   darken($pfelements--orange, 20%) !default;
$pfe-color--ui-accent--focus:                   $pfelements--orange !default;
$pfe-color--ui-accent--visited:                 $pfelements--orange !default;
$pfe-color--ui-accent--text:                    $pfe-color--text--on-dark !default;
$pfe-color--ui-accent--text--hover:             $pfe-color--text--on-dark !default;
$pfe-color--ui-accent--text--focus:             $pfe-color--text--on-dark !default;
$pfe-color--ui-accent--text--visited:           $pfe-color--text--on-dark !default;

$pfe-color--ui-disabled:                        $pfelements--gray-light !default;
$pfe-color--ui-disabled--hover:                 $pfelements--gray-light !default;
$pfe-color--ui-disabled--focus:                 $pfelements--gray-light !default;
$pfe-color--ui-disabled--visited:               $pfelements--gray-light !default;
$pfe-color--ui-disabled--text:                  $pfe-color--gray-600 !default;
$pfe-color--ui-disabled--text--hover:           $pfelements--gray !default;
$pfe-color--ui-disabled--text--focus:           $pfelements--gray !default;
$pfe-color--ui-disabled--text--visited:         $pfelements--gray !default;


// ========================================================================
// Base Surface Colors for Container elements
// ========================================================================

// Lightest group
$pfe-color--surface--lightest:                  $pfe-color--white !default;
$pfe-color--surface--lightest--text:            $pfe-color--text !default;
$pfe-color--surface--lightest--link:            $pfe-color--ui-link !default;
$pfe-color--surface--lightest--link--visited:   $pfe-color--ui-link--visited !default;
$pfe-color--surface--lightest--link--hover:     $pfe-color--ui-link--hover !default;
$pfe-color--surface--lightest--link--focus:     $pfe-color--ui-link--focus !default;

// Lighter group
$pfe-color--surface--lighter:                   $pfe-color--gray-100 !default;
$pfe-color--surface--lighter--text:             $pfe-color--text !default;
$pfe-color--surface--lighter--link:             $pfe-color--ui-link !default;
$pfe-color--surface--lighter--link--visited:    $pfe-color--ui-link--visited !default;
$pfe-color--surface--lighter--link--hover:      $pfe-color--ui-link--hover !default;
$pfe-color--surface--lighter--link--focus:      $pfe-color--ui-link--focus !default;

// Base group
$pfe-color--surface--base:                      $pfe-color--gray-200 !default;
$pfe-color--surface--base--text:                $pfe-color--text !default;
$pfe-color--surface--base--link:                #00538c !default;  // Contrast with $pfe-color--ui-link doesn't meet WCAG2 AA
$pfe-color--surface--base--link--visited:       #7551a6 !default;
$pfe-color--surface--base--link--hover:         #00305b !default;
$pfe-color--surface--base--link--focus:         #00305b !default;

// Darker group
$pfe-color--surface--darker:                    $pfe-color--gray-800 !default;
$pfe-color--surface--darker--text:              $pfe-color--text--on-dark !default;
$pfe-color--surface--darker--link:              $pfe-color--ui-link--on-dark !default;
$pfe-color--surface--darker--link--visited:     $pfe-color--ui-link--on-dark--visited !default;
$pfe-color--surface--darker--link--hover:       $pfe-color--ui-link--on-dark--hover !default;
$pfe-color--surface--darker--link--focus:       $pfe-color--ui-link--on-dark--focus !default;

// Darkest group
$pfe-color--surface--darkest:                   $pfe-color--gray-1000 !default;
$pfe-color--surface--darkest--text:             $pfe-color--text--on-dark !default;
$pfe-color--surface--darkest--link:             $pfe-color--ui-link--on-dark !default;
$pfe-color--surface--darkest--link--visited:    $pfe-color--ui-link--on-dark--visited !default;
$pfe-color--surface--darkest--link--hover:      $pfe-color--ui-link--on-dark--hover !default;
$pfe-color--surface--darkest--link--focus:      $pfe-color--ui-link--on-dark--focus !default;

// Complement group
$pfe-color--surface--complement:                $pfelements--blue;
$pfe-color--surface--complement--text:          $pfe-color--text--on-dark !default;
$pfe-color--surface--complement--link:          $pfe-color--ui-link--on-dark !default;
$pfe-color--surface--complement--link--visited: $pfe-color--ui-link--on-dark--visited !default;
$pfe-color--surface--complement--link--hover:   $pfe-color--ui-link--on-dark--hover !default;
$pfe-color--surface--complement--link--focus:   $pfe-color--ui-link--on-dark--focus !default;


// Accent group
$pfe-color--surface--accent:                    $pfelements--orange;
$pfe-color--surface--accent--text:              $pfe-color--text--on-dark !default;
$pfe-color--surface--accent--link:              $pfe-color--ui-link--on-dark !default;
$pfe-color--surface--accent--link--visited:     $pfe-color--ui-link--on-dark--visited !default;
$pfe-color--surface--accent--link--hover:       $pfe-color--ui-link--on-dark--hover !default;
$pfe-color--surface--accent--link--focus:       $pfe-color--ui-link--on-dark--focus !default;


// Palette of Border Colors
$pfe-color--surface--border:                    $pfelements--gray-light !default;  // Was #dfdfdf
$pfe-color--surface--border--lightest:          $pfe-color--gray-100 !default;  // Was #e7e7e7
$pfe-color--surface--border--lighter:           $pfe-color--gray-100 !default;
$pfe-color--surface--border--darkest:           $pfe-color--gray-800 !default;
$pfe-color--surface--border--darker:            $pfe-color--gray-300 !default;

// Palette of Feedback Colors
$pfe-color--feedback--critical:                 $pfe-color--red-600 !default;
$pfe-color--feedback--critical--lightest:       $pfe-color--red-50 !default;
$pfe-color--feedback--critical--darkest:        $pfe-color--red-800 !default;

$pfe-color--feedback--important:                $pfe-color--orange-500 !default;
$pfe-color--feedback--important--lightest:      $pfe-color--orange-50 !default;
$pfe-color--feedback--important--darkest:       $pfe-color--orange-700 !default;

$pfe-color--feedback--moderate:                 $pfe-color--yellow-400 !default;
$pfe-color--feedback--moderate--lightest:       $pfe-color--yellow-50 !default;
$pfe-color--feedback--moderate--darkest:        $pfe-color--yellow-700 !default;

$pfe-color--feedback--success:                  #2e7d32 !default;
$pfe-color--feedback--success--lightest:        $pfe-color--green-50 !default;
$pfe-color--feedback--success--darkest:         #1b5e20 !default;

$pfe-color--feedback--info:                     #0277bd !default;
$pfe-color--feedback--info--lightest:           $pfe-color--blue-50 !default;
$pfe-color--feedback--info--darkest:            #01579b !default;

$pfe-color--feedback--default:                  $pfe-color--gray-700 !default;
$pfe-color--feedback--default--lightest:        $pfe-color--gray-100 !default;
$pfe-color--feedback--default--darkest:         $pfe-color--gray-800 !default;
