// using these instead of PF core because the variables store rem units 
$pf-global--FontSize--6xl: 48px; 
$pf-global--FontSize--5xl: 40px; 
$pf-global--FontSize--4xl: 36px;
$pf-global--FontSize--3xl: 28px;
$pf-global--FontSize--2xl: 24px;
$pf-global--FontSize--xl: 20px;
$pf-global--FontSize--lg: 18px;
$pf-global--FontSize--md: 16px;
$pf-global--FontSize--sm: 14px;
$pf-global--FontSize--xs: 12px;