$pfe-colors: (

  // ========================================================================
  // Base Text Colors
  // ========================================================================

  text:                               $pfelements--gray-dark,
  text--on-dark:                      $pfe-color--white,
  text--on-saturated:                 $pfe-color--white,


  // ========================================================================
  // Base UI Link Colors to be used below
  // ========================================================================

  ui-link:                            #06c,
  ui-link--visited:                   $pfelements--purple,
  ui-link--hover:                     darken(#06c, 20%),
  ui-link--focus:                     darken(#06c, 20%),

  ui-link--on-dark:                   lighten(#06c, 40%),
  ui-link--on-dark--visited:          lighten($pfelements--purple, 30%),
  ui-link--on-dark--hover:            lighten(#06c, 50%),
  ui-link--on-dark--focus:            lighten(#06c, 50%),

  ui-link--on-saturated:              lighten(#06c, 40%),
  ui-link--on-saturated--visited:     lighten($pfelements--purple, 30%),
  ui-link--on-saturated--hover:       lighten(#06c, 50%),
  ui-link--on-saturated--focus:       lighten(#06c, 50%),


  // ========================================================================
  // Base UI Colors for Buttons, CTAs, and actionable UI elements
  // ========================================================================

  ui-base:                            $pfelements--blue,
  ui-base--hover:                     darken($pfelements--blue, 20%),
  ui-base--text:                      $pfe-color--white,
  ui-base--text--hover:               $pfe-color--white,

  ui-complement:                      $pfe-color--gray-800,
  ui-complement--hover:               $pfe-color--gray-1000,
  ui-complement--text:                $pfe-color--white,
  ui-complement--text--hover:         $pfe-color--white,

  ui-accent:                          $pfelements--orange,
  ui-accent--hover:                   darken($pfelements--orange, 20%),
  ui-accent--text:                    $pfe-color--white,
  ui-accent--text--hover:             $pfe-color--white,

  ui-disabled:                        $pfelements--gray-light,
  ui-disabled--hover:                 $pfelements--gray-light,
  ui-disabled--text:                  $pfelements--gray,
  ui-disabled--text--hover:           $pfelements--gray,

  // ========================================================================
  // Base Surface Colors for Container elements
  // ========================================================================

  // Lightest group
  surface--lightest:                  $pfe-color--white,
  surface--lightest--theme:           light,

  // Lighter group
  surface--lighter:                   $pfe-color--gray-100,
  surface--lighter--theme:            light,
  
  // Base group
  surface--base:                      $pfe-color--gray-200,
  surface--base--theme:               light,

  // Darker group
  surface--darker:                    $pfe-color--gray-800,
  surface--darker--theme:             dark,

  // Darkest group
  surface--darkest:                   $pfe-color--gray-1000,
  surface--darkest--theme:            dark,

  // Complement group
  surface--complement:                $pfelements--blue,
  surface--complement--theme:         saturated,

  // Accent group
  surface--accent:                    $pfelements--orange,
  surface--accent--theme:             saturated,

  /* Palette of Border Colors */
  surface--border--lightest:          $pfe-color--gray-100,
  surface--border--lighter:           $pfe-color--gray-100,
  surface--border:                    $pfe-color--gray-200,
  surface--border--darker:            $pfe-color--gray-300,
  surface--border--darkest:           $pfe-color--gray-800,


  // ========================================================================
  // Base Feedback Colors for messaging, errors, etc.
  // ========================================================================

  /* Palette of Feedback Colors */
  feedback--critical:                 $pfe-color--red-600,
  feedback--critical--lightest:       $pfe-color--red-600,
  feedback--critical--darkest:        $pfe-color--red-800,

  feedback--important:                $pfe-color--orange-500,
  feedback--important--lightest:      $pfe-color--orange-50,
  feedback--important--darkest:       $pfe-color--orange-700,

  feedback--moderate:                 $pfe-color--yellow-400,
  feedback--moderate--lightest:       $pfe-color--yellow-50,
  feedback--moderate--darkest:        $pfe-color--yellow-700,

  feedback--success:                  #2e7d32,
  feedback--success--lightest:        $pfe-color--green-50,
  feedback--success--darkest:         #1b5e20,

  feedback--info:                     #0277bd,
  feedback--info--lightest:           $pfe-color--blue-50,
  feedback--info--darkest:            #01579b,

  feedback--default:                  $pfe-color--gray-700,
  feedback--default--lightest:        $pfe-color--gray-100,
  feedback--default--darkest:         $pfe-color--gray-800,

);


$pfe-vars: (
  container-spacer:              pfe-size-prem(16px),
  container-padding:             pfe-size-prem(16px),
  content-spacer:                pfe-size-prem(16px),

  font-size:                     16px,
  line-height:                   1.5,

  font-family:                   '"Overpass", Overpass, Helvetica, helvetica, arial, sans-serif',
  font-family--heading:          '"Overpass", Overpass, Helvetica, helvetica, arial, sans-serif',
  font-family--code:             '"Overpass Mono", Consolas, Monaco, 'Andale Mono', monospace',

  font-size--heading--alpha:     32px,
  font-size--heading--beta:      24px,
  font-size--heading--gamma:     21px,
  font-size--heading--delta:     18px,
  font-size--heading--epsilon:   16px,
  font-size--heading--zeta:      14px,

  font-weight--light:            300,
  font-weight--normal:           500,
  font-weight--semi-bold:        600,
  font-weight--bold:             700,

  link--text-decoration:         underline,
  link--text-decoration--hover:  underline,

  surface--border-width:         1px,
  surface--border-width--heavy:  3px,
  surface--border-style:         solid,
  surface--border-radius:        0,
  ui--border-width:              1px,
  ui--border-style:              solid,
  ui--border-radius:             2px,

  ui--focus-outline-width:       1px,
  ui--focus-outline-style:       solid,

  grid-breakpoint--xs:           0,
  grid-breakpoint--sm:           576px,
  grid-breakpoint--md:           768px,
  grid-breakpoint--lg:           992px,
  grid-breakpoint--xl:           1200px,

  box-shadow--sm:                '0  #{pfe-size-prem(1)}  #{pfe-size-prem(2)} 0 rgba(#{$pfe-color--gray-1000}, .2)',
  box-shadow--md:                '0  #{pfe-size-prem(2)}  #{pfe-size-prem(1)} #{pfe-size-prem(1)} rgba(#{$pfe-color--gray-1000}, .12), 0  #{pfe-size-prem(4)}  #{pfe-size-prem(11)} #{pfe-size-prem(6)} rgba(#{$pfe-color--gray-1000}, .05)',
  box-shadow--lg:                '0  #{pfe-size-prem(3)}  #{pfe-size-prem(7)} #{pfe-size-prem(3)} rgba(#{$pfe-color--gray-1000}, .13), 0  #{pfe-size-prem(11)}  #{pfe-size-prem(24)} #{pfe-size-prem(16)} rgba(#{$pfe-color--gray-1000}, .12)',
  box-shadow--inset:             'inset 0 0 #{pfe-size-prem(10)} 0 rgba(#{$pfe-color--gray-1000}, .25)',

  animation-timing:              cubic-bezier(0.465, 0.183, 0.153, 0.946),
);
