/*doc
---
title: Global
category: Global - Variables

*/
// Repository class prefix
$repo: cp !default;

// ========================================================================
// Typography
// ========================================================================

$base-font-px:     16;
$base-line-height: 1.5em;
$base-font-family: "Overpass", Overpass, Helvetica, helvetica, arial, sans-serif;
$code-font-family: Consolas, Monaco, 'Andale Mono', monospace;
$base-font-size:   #{$base-font-px}px;
$base-font-weight: 400;
$heading-font-weight: 600;

/*doc
---
title: Colors
category: Global - Colors

Name that color tool: http://chir.ag/projects/name-that-color/#F0F0F0
Use this tool to determine the name of your new color!
*/

// ========================================================================
// CORPORATE COLORS
// ========================================================================
$white:             #fff;
$black:             #1a1a1a;        // We don't use true black on the web.
$red:               #c00;           // Not to be used as a background color (except in site footer) or as an error color.
$brand-primary:     $red;           // "Red Hat red"

$gray-gainsboro:    #dcdcdc;        // Official color name
$gray-space:        #4c4c4c;        // Official color name Outer Space.

// ========================================================================
// SECONDARY, ACCENT & CRAYOLA COLORS
// ========================================================================
$blue-sky:          #a3dbe8;
$blue-sky-deep:     #00b9e4;
$gold:              #f0ab00;
$green:             #92d400;
$purple:            #7551A6;
$teal:              #007a87;
$teal-dark:         #004153;        // Brand as "Dark Blue"

// RH-specific Accents
$blue-peacock:      #0088ce;
$orange:            #ec7a08;     // Near match to "Tangerine"
$green-verde:       #3f9c35;
$gray-charcoal:     #37424a;     // Or Big Stone
$gray-nickel:       #7a858b;     // Or Regent Gray
$black-soft:        #252527;     // Or Jaguar?

// RH Reds
$red-brick:         #a30000;     // Or Bright Blood Red
$red-maroon:        #820000;     // Or Burgundy, or Dark Red
$red-garnet:        #6e0000;     // Or Rosewood or Blood or Currant
$red-morello:       #5a0000;     // Near match to Chocolate Cosmos
$red-red-wine:      #460000;
$red-daredevil:     #320000;

// RH Grays
$gray-moon:         #f0f0f0;      // Made up name.
$gray-platinum:     #e7e7e7;      // Personal choice, close to Gainsboro. Was #e6e6e6, but fails contrast ratio w/ link colors.
$gray-mercury:      #d2d2d2;      // Official name: Light Gray
$gray-storm:        #bebebe;
$gray-stone:        #aaa;
$gray-fog:          #969696;      // Near official name: Spanish Gray
$gray-battleship:   #828282;      // Near official name: Battleship Gray
$gray-batman:       #6e6e6e;      // Official name: Dim Gray
$gray-umbra:        #5a5a5a;      // Near official name: Davy's Gray Or Mortar
$gray-iron:         #464646;      // Near Sherwin Williams.
$gray-night:        #333;         // Used to be #323232. Simplified to match text-color.
$black-nero:        #1e1e1e;      // Vader?

// CP Grays
$gray-nimbus:       #ededed;      // Border-color!
$gray-silver:       #ccc;         // Used to be called $misty

// CP-specific
$blue-rain:         #264a60;
$blue-denim:        #06c;         // Or navy-bright?
$blue-navy:         #004080;
$blue-azure:        #0076e0;

$blue-maya:         #73bcf7;      // Link
$blue-dodger:       #2b9af3;      // Hover
$purple-amethyst:   #967abd;
$purple-rain:       #3b0083;      // Old RH purple.


// ========================================================================
// PRODUCT COLORS
// ========================================================================
$product-line-colors: (
    default:        $black-soft,
    storage1:       $orange,
    storage2:       $gold,
    infrastructure1:$blue-peacock, // Used to be linux-platforms
    infrastructure2:$blue-sky-deep,
    app-dev1:       $green-verde,
    app-dev2:       $green,
    support1:       $gray-charcoal,
    support2:       $gray-nickel
);

// ========================================================================
//  PALETTES
// ========================================================================

// PALETTE REDS
$red-dark1:         $red-brick;
$red-dark2:         $red-maroon;
$red-dark3:         $red-garnet;
$red-dark4:         $red-morello;
$red-dark5:         $red-red-wine;
$red-dark6:         $red-daredevil;

// PALETTE GRAYS: lightest to darkest
$gray1:             $gray-moon;
$gray2:             $gray-platinum;
$gray3:             $gray-mercury;
$gray4:             $gray-storm;
$gray5:             $gray-stone;
$gray6:             $gray-fog;
$gray7:             $gray-battleship;
$gray8:             $gray-batman;
$gray9:             $gray-umbra;
$gray10:            $gray-iron;
$gray11:            $gray-night;
$gray12:            $black-nero;


// ========================================================================
// UI Colors
// ========================================================================

$text-color:          $gray-night;    // #333
$inverted-text-color: $white;

// Text links on _white_ or _light_ backgrounds
$link-color:         $blue-denim;    // Link
$link-color-hover:   $blue-navy;     // Hover
$link-color-visited: $purple;        // :Visited

// Text links on _dark grey_ or _black_ backgrounds
$inverted-link-color:         $blue-maya; // Link
$inverted-link-color-hover:   $blue-dodger; // Hover
$inverted-link-color-visited: $purple-amethyst;

// UI elements
$ui-element:           $blue-azure;   // Smaller elements, like solid buttons
$ui-element-hover:     $blue-navy;



/*doc
---
title: Spacing
category: Global - Spacing
--- */

// Factors of 1em or 16px;
$base-gutter:         32px;

$box-padding:         $base-gutter;
$box-padding-sm:      ($box-padding / 2);
$box-padding-xs:      ($box-padding-sm / 2);

$band-padding:        $box-padding;
$mobile-edge:         $box-padding-xs;
$accordion-indicator-indent: $base-gutter;


// push - pull layout:
$pull-hero-bottom-padding: 0;
$min-aside-height: 130px;
$aside-bottom-padding: ($base-gutter / 2);
$pull-margin: $min-aside-height + $aside-bottom-padding + $pull-hero-bottom-padding;
$push-margin: $min-aside-height + $aside-bottom-padding;

// typography:
$heading-margin-bottom: 10px;
$heading-margin-top: 1em;

$h1-font-size:						24px;
$h2-font-size:						21px;
$h3-font-size:						18px;
$h4-font-size:						$base-font-size;
$h5-font-size:						$base-font-size;
$h6-font-size:						14px;

$alt-h1-font-size:			30px; // was 42px
$alt-h2-font-size:			26px; // was 22px
$alt-h3-font-size:			20px; // was 22px
$alt-h4-font-size:			18px;
$alt-h5-font-size:			$base-font-size;
$alt-h6-font-size:			14px; // was 16px


/*doc
---
title: Borders
category: Global - Borders
--- */
$border-width: 1px;
$border-thin: $border-width; // Deprecate? Poorly named.

$border-style: solid;
$border-color: $gray-nimbus;

/*doc
---
title: Breakpoints
category: Global - Breakpoints
---
|Variable Name | Value
|---------|-------|
|$breakpoint-xs-min | 480px |
|$breakpoint-sm-min | 768px |
|$breakpoint-md-min | 992px |
|$breakpoint-lg-min | 1200px |
|---------|-------|
|$breakpoint-xxs-max | 479px |
|$breakpoint-xs-max | 767px |
|$breakpoint-sm-max | 991px |
|$breakpoint-md-max | 1199px |
*/

$breakpoint-zero:   0;
$breakpoint-xs-min: 480px;
$breakpoint-sm-min: 768px;
$breakpoint-md-min: 992px;
$breakpoint-lg-min: 1200px;

$breakpoint-xxs-max: $breakpoint-xs-min - 1;
$breakpoint-xs-max: $breakpoint-sm-min - 1;
$breakpoint-sm-max: $breakpoint-md-min - 1;
$breakpoint-md-max: $breakpoint-lg-min - 1;

/* SOLP variables */
$hero-min-height:  205px;
$aside-wide:       340px;




$cubic-bezier:    cubic-bezier(0.465, 0.183, 0.153, 0.946);
