#home-header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: white;
  background-color: var(--pf-theme--color--accent, #0066cc);
  justify-content: center;
  text-align: center;
  padding: 4rem 0;
}

#home-header h1 {
  display: flex;
  justify-content: center;
  text-align: center;
}

#home-header h1 img {
  width: 650px;
  max-width: 100%;
  padding: 0 1rem;
}

#home-header p {
  font-family: "Red Hat Display", sans-serif;
  font-size: var(--pf-c-title--m-xl--FontSize, var(--pf-global--FontSize--xl, 1.25rem));
  font-weight: var(--pf-c-title--m-xl--FontWeight, var(--pf-global--FontWeight--normal, 500));
  line-height: var(--pf-c-title--m-xl--LineHeight, var(--pf-global--LineHeight--md, 1.5));
}

.cta-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

#home-header a {
  font-size: var(--pf-global--FontSize--lg, 1.125rem);
}

#home-header a.cta.primary {
  --pf-cta--Color: #06c;
}

#home-header a.cta.primary:hover {
  --pf-cta--Color--hover: white;
  --pf-cta--BackgroundColor: transparent;
}

#home-header a.cta.secondary:hover {
  --pf-cta--Color--hover: #06c;
}


#lightw {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr;
  grid-template-areas:
    'h'
    'tag'
    'p'
    'snip'
    'card'
    'step'
    'link';
}

#lightw > .subtitle { grid-area: tag; }
#lightw > a { grid-area: link; }
#lightw > h2 { grid-area: h; }
#lightw > p:not(.subtitle) { grid-area: p; }
#lightw > pf-card { grid-area: card; }
#lightw > pf-progress-stepper { grid-area: step; }
#lightw > pre { grid-area: snip; margin-block: 0; }

#lightw,
#univ {
  padding: var(--pf-global--spacer--xl, 2rem) var(--pf-global--spacer--md, 1rem);
}

#univ {
  width: 100vw;
  max-width: 100vw;
}

#univ ul {
  display: flex;
  gap: 1em;
  align-items: center;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#univ svg {
  width: 16px;
}

#lightw,
.max-width-container {
  max-width: 1440px;
  margin: 0 auto;
}

rh-global-footer {
  width: 100vw !important;
  translate: none !important;
  transform: none;
}

@media (min-width: 820px) {
  #lightw,
  .max-width-container {
    padding: var(--pf-global--spacer--3xl, 4rem) var(--pf-global--spacer--3xl, 4rem);
  }
}

@media screen and (min-width: 768px) {
  .cta-group {
    flex-direction: row;
  }

  #lightw {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'h h'
      'tag tag'
      'p p'
      'snip snip'
      'card step'
      'link link';
  }
}
