#home-header {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 16px;
  background-color: #004080;
  color: white;
  padding-block-end: 0;
  padding-inline: 1rem;
  max-width: 100%;
}

#home-header h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#home-header h1 img {
  width: 6rem;
  translate: 0 2rem;
  object-fit: none;
}

@media (min-width: 767px) {
  #home-header h1 {
    flex-direction: row;
    gap: 0;
  }

  #home-header h1 img {
    translate: 0;
  }
}

#home-header > :is(h1, p) {
  width: 100%;
  max-width: 100%;
}

#home-header pf-icon {
 color: #666
}

#home-header section {
  margin-block-start: 48px;
  color: black;
  width: calc(100% + 2rem);
  margin-inline: -2rem;
}

#lightw {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'h h'
    'tag tag'
    'p p'
    'snip snip'
    'card step'
    'link link';
}

#lightw > .subtitle { grid-area: tag; }
#lightw > a { grid-area: link; }
#lightw > h2 { grid-area: h; }
#lightw > p:not(.subtitle) { grid-area: p; }
#lightw > pf-card { grid-area: card; }
#lightw > pf-progress-stepper { grid-area: step; }
#lightw > pre { grid-area: snip; margin-block: 0; }

#lightw,
#univ {
  padding: var(--pf-global--spacer--xl, 2rem) var(--pf-global--spacer--md, 1rem);
}

#univ {
  width: 100vw;
  max-width: 100vw;
}

#univ ul {
  display: flex;
  gap: 1em;
  align-items: center;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
}


#univ svg {
  width: 16px;
}

#lightw,
.max-width-container {
  max-width: 1440px;
  margin: 0 auto;
}

rh-global-footer {
  width: 100vw !important;
  translate: none !important;
  transform: none;
}

@media (min-width: 820px) {
  #lightw,
  #univ {
    padding: var(--pf-global--spacer--3xl, 4rem) var(--pf-global--spacer--3xl, 4rem);
  }
}
