@import "../../rh-sass/rh-sass";

/// ===========================================================================
/// Component Specific SASS Vars
/// ===========================================================================

$rh-health--width: 10px;
$rh-health--height: $rh-health--width * 2;

$rh-health--color-bg: #fff;

$rh-health--color-a: #3f9c35;
$rh-health--color-b: #92d400;
$rh-health--color-c: #efaa00;
$rh-health--color-d: #ec7a08;
$rh-health--color-e: #cc0000;
$rh-health--color-f: #a30000;

/// ===========================================================================
/// WHATEVER
/// ===========================================================================

:host {
  display: inline-flex;
  align-items: center;
}

:host([hidden]) {
  display: none;
}

.box-container {
  display: flex;
  border: 1px solid #{rh-color(surface--border)};
  margin-left: #{rh-var(container-spacer--xs)};

  .box {
    background: $rh-health--color-bg;
    width: $rh-health--width;
    height: $rh-health--height;
    border-right: 1px solid #{rh-color(surface--border)};

    &:last-child {
      border-right: 0;
    }

    &.active {
      &.a {
        background-color: $rh-health--color-a;
      }

      &.b {
        background-color: $rh-health--color-b;
      }

      &.c {
        background-color: $rh-health--color-c;
      }

      &.d {
        background-color: $rh-health--color-d;
      }

      &.e {
        background-color: $rh-health--color-e;
      }

      &.f {
        background-color: $rh-health--color-f;
      }
    }
  }
}
