@use "@patternfly/pfe-sass" as *;

// TITLES
@each $size in ('6xl', '5xl', '4xl', '3xl', '2xl', 'xl', 'lg', 'md', 'sm', 'xs') {
  .pfe-title--#{$size} {
    // Capture the values of properties to use directly or wrapped in the pfe-local function below
    // Initialize variables at the $pf-title-set--tiny size
    // $size == "lg" or "md" or "sm" or "xs"
    $line-height: pfe-var(line-height);
    $font-weight: pfe-var(font-weight--normal);
    $margin-bottom: pfe-var(content-spacer--heading--sm);

    @if index($pf-title-set--mega, "#{$size}") != null {
        $line-height: pfe-var(line-height--heading-mega);
        $font-weight: pfe-var(font-weight--light);
        $margin-bottom: pfe-var(content-spacer--heading--md);
    }

    // $size == "4xl" or "3xl" or "2xl"
    @else if index($pf-title-set--regular, "#{$size}") != null {
        $line-height: pfe-var(line-height--heading);
        $font-weight: pfe-var(font-weight--normal);
        $margin-bottom: pfe-var(content-spacer--heading--sm);
    }

    // If this value was not found in the tiny set, it's likely not supported
    @else if index($pf-title-set--tiny, "#{$size}") == null {
        @warn "#{$size} was not found in $pf-title-set--mega, $pf-title-set--regular, or $pf-title-set--tiny.";
    }

    // include title var and global var in stack
    font-family: pfe-var(font-family--heading) !important;
    font-size: pfe-var(title--m-#{$size}--FontSize) !important;
    line-height: $line-height !important;
    font-weight: $font-weight !important;
    &:not(:last-child) {
        margin-bottom: $margin-bottom !important;
    }
  }
}

// TEXT
@each $size in (xl, lg, md, sm, xs) {
  .pfe-text--#{$size}  {
    // include text var and global var in stack
    font-size:   pfe-var(text--m-#{$size}--FontSize) !important;
    font-family: pfe-var(font-family) !important;
    line-height: pfe-var(line-height) !important;
    font-weight: pfe-var(font-weight--normal) !important;
    &:not(:last-child):not(:empty) {
        margin-bottom: pfe-var(content-spacer--body--sm) !important; //16px
    }
  }
}

// List Styles
// @todo concider breaking these into their own file or renaming this
//       file to not be just typography focused but more "style utilities" focused.
@include configure($name: 'list-ol--primary');

ol.pfe-list--primary {
  @include ordered-list-primary;
}

