/// ===========================================================================
/// Accordion Specific SASS Vars
/// ===========================================================================

$pfe-expand_button--LineHeight:      1.5;
$pfe-expand_button--padding:         #{pfe-var(container-spacer)};
$pfe-expand_button--padding--factor: .75;
$pfe-expand_button--padding--wide:   calc(#{$pfe-expand_button--padding} * 1.5);

$pfe-expand_chevron--size:           .4em;
$pfe-expand_chevron--weight:         .1em;
$pfe-expand_chevron--padding:        3em;
$pfe-expand_chevron--placement:      #{$pfe-expand_button--LineHeight / 2 - $pfe-expand_chevron--size / 2};


/// ===========================================================================
/// Chevrons
/// ===========================================================================

@mixin pfe-chevron-expanded($state: true, $position: after) {
  content: "";
  position: absolute;
  top: calc((#{pfe-var(container-spacer)} * #{$pfe-expand_button--padding--factor}) + #{$pfe-expand_chevron--placement} );
  display: block;
  border-style: #{pfe-var(surface--border-style)};
  height: #{$pfe-expand_chevron--size};
  width:  #{$pfe-expand_chevron--size};
  text-align: center;
  transition: transform 0.15s;
  @if $state {
    border-width: #{$pfe-expand_chevron--weight} #{$pfe-expand_chevron--weight} 0 0;
    border-bottom: 0;
    transform: rotate(-45deg);
    @if $position == before {
      left: #{$pfe-expand_button--padding--wide};
    }
    @else {
      right: #{$pfe-expand_button--padding--wide};
    }
  }
  @else {
    border-width: 0 #{$pfe-expand_chevron--weight} #{$pfe-expand_chevron--weight} 0;
    transform: rotate(45deg);
    @if $position == before {
      left: #{$pfe-expand_button--padding--wide};
    }
    @else {
      right: #{$pfe-expand_button--padding--wide};
    }
  }
}
