// $boxSize = any box-sizing property, default is border-box
@mixin pfe-box-sizing($boxSize: border-box) {
  *, *::before, *::after {
    box-sizing: $boxSize;
  }
}

@mixin pfe-clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

@mixin pfe-reset-list() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin pfe-reset-box() {
  margin: 0;
  padding: 0;
}

@mixin pfe-sr-only() {
  position: absolute;
  overflow: hidden;
  clip: rect(0,0,0,0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

@mixin pfe-transition($properties...) {
  $return: null;
  @each $property in $properties {
    @if length($property) == 1 {
      $return: append($return, #{$property} 250ms $pfe-global--animation-timing, comma);
    }
    @else if length($property) == 2 {
      $return: append($return, nth($property, 1) nth($property, 2), comma);
    }
  }
  transition: $return;
}

// Make a CSS arrow
@mixin pfe-arrow($type, $color, $width: 8px, $height: 5px, $pseudo: false) {
  $direction: (
    up: 180deg,
    down: 0deg,
    right: -90deg,
    left: 90deg,
  );
  border-style: #{pfe-var(surface--border-style)};
  border-width: $width $height 0;
  border-color: transparent;
  border-top-color: $color;
  transform: rotate(map-get($direction, $type));
  @if $pseudo {
    display: inline-block;
    content: "";
    @content;
  }
}

@mixin pfe-arrow-color($color) {
  border-top-color: $color;
}

@mixin pfe-print-media {
  @media print {
    @content;
  }
}

@mixin pfe-print-background {
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
}
// scss-lint:disable ImportantRule
@mixin pfe-no-print-background {
  @include pfe-print-media {
    background-color: white !important;
    background-image: none !important;
    box-shadow: none !important;
  }
}
// scss-lint:enable ImportantRule

@mixin pfe-pipe( $position: right, $padding: 0, $margin: 0, $color: $border-color) {
  border: #{pfe-var(surface--border-width)} #{pfe-var(surface--border-style)} transparent;
  border-#{$position}-color: $color;
  @if $position == right {
    padding-left: $padding;
    margin-right: $margin;
  }
  @else if $position == left {
    padding-right: $padding;
    margin-left: $margin;
  }
}

@mixin pfe-retina {
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    @content;
  }
}

// New broadcast function, for use with content components
//  1st arg:  lookup surface value from theme
//  2nd arg:  list of broadcast variable  (1 of 6) - optional
//
//  usage:
//    :host {
//      #{pfe-set-broadcast(base)};
//    }
//  result:
//    :host {
//      --pfe-broadcasted--color--text:               #{pfe-color(surface--base--text)};
//      --pfe-broadcasted--color--ui-link:            #{pfe-color(surface--base--ui-link)};
//      --pfe-broadcasted--color--ui-link--visited:   #{pfe-color(surface--base--ui-link--visited)};
//      --pfe-broadcasted--color--ui-link--hover:     #{pfe-color(surface--base--ui-link--hover)};
//      --pfe-broadcasted--color--ui-link--focus:     #{pfe-color(surface--base--ui-link--focus)};
//    }

@mixin pfe-set-broadcast($color, $broadcast: $BROADCAST-VARS) {
  @each $type in $broadcast {
    @if not index($BROADCAST-VARS, $type) {
      @error "--#{$repo}-broadcasted--color--#{$broadcast} variable is not currently supported.";
    }
    @else if type-of(map-get($pfe-colors, surface--#{$color}--#{$type})) != "color" {
      @error "surface--#{$color}--#{$type} value does not currently exist.";
    }
    @else {
      --#{$repo}-broadcasted--color--#{$type}: #{pfe-color(surface--#{$color}--#{$type})};
    }
  }
}