html {
    scroll-behavior: smooth;
}

body {
    color: var(--pfe-broadcasted--text, var(--pfe-theme--color--text, #151515));
}

pfe-tabs {
    margin-bottom: 5em;
}

@media screen and (max-width: 899px) {
    a[href="#top"] {
        display: none;
    }
}

@media screen and (min-width: 900px) {
    .scroll-up {
        display: none;
    }
    .toc {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 5;
    }
}

.scroll-up {
    border-radius: 3px;
    padding: 3px;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.scroll-up pfe-icon {
    --pfe-icon--Color: #fff;
}

.form-ui+.form-ui {
    margin-top: var(--pfe-theme--content-spacer, 16px);
}

.form {
    width: fit-content;
    margin-top: 10px;
}

.form-ui label {
    display: block;
}

.form-ui input {
    width: 100%;
    height: 2em;
    font-size: 1em;
    padding: 2px 5px;
}

.light-background {
    background-color: rgb(252, 250, 244);
    --context: light;
}

.toc {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;
    width: 250px;
}
