main {
  display: block;
  grid: unset;
}

.example {
  margin: 0 auto;
  padding: 0 16px 32px;
  width: 100%;
  max-width: 1008px;
}

.example:last-of-type {
  padding-block-end: 64px;
}

.input {
  margin-block-start: 16px;
}

@media screen and (min-width: 768px) {
  .example {
    padding: 0 32px 32px;
  }
}
