<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <script src="/components/@webcomponents/webcomponentsjs/webcomponents-bundle.js"></script>
  <script src="/components/web-component-tester/browser.js"></script>
  <script src="/components/vue/dist/vue.min.js"></script>
  <script type="module" src="<%= testFileLocation %>"></script>
</head>

<body>
  <div id="root"></div>
  <script>
    const app = new Vue({
      el: "#root",
      template: `
    <<%= elementName %>>
      <!-- Default slot -->
      <h2>This is <%= elementName %></h2>
      <% if (slots.length > 0) { %>
      <!-- Named slots --><% for(let i = 0; i < slots.length; i++) { %>
      <div slot="<%= slots[i] %>"><%= slots[i].toUpperCase() %> slot</div><% } } %>
    </<%= elementName %>>

    <% if (attributes.length > 0) { %>
    <!-- Preview different properties --><% for(let i = 0; i < attributes.length; i++) { %>
    <<%= elementName %> <%= attributes[i] %>>
      <h2>This is <%= elementName %></h2><% for(let i = 0; i < slots.length; i++) { %>
      <div slot="<%= slots[i] %>"><%= slots[i].toUpperCase() %> slot</div><% } %>
    </<%= elementName %>>
    <%_ } } _%>
        `
    });

  </script>
  <script src="<%= elementName %>_test.js"></script>
</body>

</html>
