:host {
  display: inline-block;
  height: max-content;
}

:host([hidden]) {
  display: none !important;
}

[hidden] {
  display: none !important;
}

button {
  cursor: pointer;
  position: relative;
  font-family: inherit;
}

button {
  border-width: 0;
  border-style: solid;
}

button::after {
  position: absolute;
  inset: 0 0 0 0;
  content: "";
  border-style: solid;
}

:host(:is(:disabled, [aria-disabled=true])),
:host(:is(:disabled, [aria-disabled=true])) #container,
:host(:is(:disabled, [aria-disabled=true])) button,
:host(:is(:disabled, [aria-disabled=true])[danger]) button,
:host(:is(:disabled, [aria-disabled=true])[variant=link]) button {
  pointer-events: none;
  cursor: default;
}

[part=icon] {
  display: none;
  pointer-events: none;
}

.hasIcon {
  position: relative;
  display: flex;
  align-items: center;
}

.hasIcon [part=icon] {
  display: inline-flex;
  align-items: center;
  position: absolute;
  width: 16px;
}

:host(:not([disabled])) .hasIcon [part=icon] {
  cursor: pointer;
}

[part=icon] ::slotted(*) {
  width: 16px;
  max-width: 16px;
  height: 16px;
  max-height: 16px;
}

.hasIcon button {
  position: absolute;
  inset: 0;
}
