@import "../../pfe-sass/pfe-sass";
@include pfe-theme-contexts; // imports on="light" etc support

:host {
  display: block;
  color: #{pfe-broadcasted(text)};
}

:host([hidden]) {
  display: none;
}
