:host(:is([on=dark])) { --context: dark; }
:host(:is([on=light])) { --context: light; }
:host(:is([on=saturated])) { --context: saturated; }

/**
 * It's important for `color-palette` to take precedence over `on`
 * when setting `--context`, because a `dark` card that's on a `light`
 * background must create a new `dark` context for its descendents
 */

 :host(:is([color-palette=darker],[color-palette=darkest])) {
  --context: dark;
  --pfe-broadcasted--text: var(--pfe-theme--color--text--on-dark, #fff);
  --pfe-broadcasted--text--muted: var(--pfe-theme--color--text--muted--on-dark, #d2d2d2);
  --pfe-broadcasted--link: var(--pfe-theme--color--link--on-dark, #73bcf7);
  --pfe-broadcasted--link--hover: var(--pfe-theme--color--link--hover--on-dark, #bee1f4);
  --pfe-broadcasted--link--focus: var(--pfe-theme--color--link--focus--on-dark, #bee1f4);
  --pfe-broadcasted--link--visited: var(--pfe-theme--color--link--visited--on-dark, #bee1f4);
  --pfe-broadcasted--link-decoration: var(--pfe-theme--link-decoration--on-dark, none);
  --pfe-broadcasted--link-decoration--hover: var(--pfe-theme--link-decoration--hover--on-dark, underline);
  --pfe-broadcasted--link-decoration--focus: var(--pfe-theme--link-decoration--focus--on-dark,  underline);
  --pfe-broadcasted--link-decoration--visited: var(--pfe-theme--link-decoration--visited--on-dark, none);
}

:host(:is([color-palette=lighter],[color-palette=lightest],[color-palette=base])) {
  --context: light;
  --pfe-broadcasted--text: var(--pfe-theme--color--text, #151515);
  --pfe-broadcasted--text--muted: var(--pfe-theme--color--text--muted, #6a6e73);
  --pfe-broadcasted--link: var(--pfe-theme--color--link, #06c);
  --pfe-broadcasted--link--hover: var(--pfe-theme--color--link--hover, #004080);
  --pfe-broadcasted--link--focus: var(--pfe-theme--color--link--focus, #004080);
  --pfe-broadcasted--link--visited: var(--pfe-theme--color--link--visited, #6753ac);
  --pfe-broadcasted--link-decoration: var(--pfe-theme--link-decoration, none);
  --pfe-broadcasted--link-decoration--hover: var(--pfe-theme--link-decoration--hover, underline);
  --pfe-broadcasted--link-decoration--focus: var(--pfe-theme--link-decoration--focus, underline);
  --pfe-broadcasted--link-decoration--visited: var(--pfe-theme--link-decoration--visited, none);
}

:host(:is([color-palette=accent],[color-palette=complement],[color-palette=saturated])) {
  --context: saturated;
  --pfe-broadcasted--text: var(--pfe-theme--color--text--on-saturated, #fff);
  --pfe-broadcasted--text--muted: var(--pfe-theme--color--text--muted--on-saturated, #d2d2d2);
  --pfe-broadcasted--link: var(--pfe-theme--color--link--on-saturated, #fff);
  --pfe-broadcasted--link--hover: var(--pfe-theme--color--link--hover--on-saturated, #fafafa);
  --pfe-broadcasted--link--focus: var(--pfe-theme--color--link--focus--on-saturated, #fafafa);
  --pfe-broadcasted--link--visited: var(--pfe-theme--color--link--visited--on-saturated, #d2d2d2);
  --pfe-broadcasted--link-decoration: var(--pfe-theme--link-decoration--on-saturated, underline);
  --pfe-broadcasted--link-decoration--hover: var(--pfe-theme--link-decoration--hover--on-saturated, underline);
  --pfe-broadcasted--link-decoration--focus: var(--pfe-theme--link-decoration--focus--on-saturated, underline);
  --pfe-broadcasted--link-decoration--visited: var(--pfe-theme--link-decoration--visited--on-saturated, underline);
}

:host(:is([color-palette="lightest"])) {
  --pfe-context-background-color: var(--pfe-theme--color--surface--lightest, #fff);
}

:host(:is([color-palette="lighter"])) {
  --pfe-context-background-color: var(--pfe-theme--color--surface--lighter, #ededed);
}

:host(:is([color-palette="base"])) {
  --pfe-context-background-color: var(--pfe-theme--color--surface--base, #ededed);
}

:host(:is([color-palette="darker"])) {
  --pfe-context-background-color: var(--pfe-theme--color--surface--darker, #393f44);
}

:host(:is([color-palette="darkest"])) {
  --pfe-context-background-color: var(--pfe-theme--color--surface--darkest, #292e34);
}

:host(:is([color-palette="complement"])) {
  --pfe-context-background-color: var(--pfe-theme--color--surface--complement, #004368);
}

:host(:is([color-palette="accent"])) {
  --pfe-context-background-color: var(--pfe-theme--color--surface--accent, #00659c);
}

:host(:is([color-palette])) {
  background-color: var(--pfe-context-background-color, var(--pfe-theme--color--surface--base));
}

