// TODO: Reconcile with _maps.scss so there's only one file and no middleman.

// ========================================================================
// COLORS for RHElements
//
// Context-based colors to be used in styling RHElements along with _maps.scss
// @requires _crayola.scss
//
// ========================================================================


// ========================================================================
// Base Text Colors
// ========================================================================

$rh-color--text:                               $rhelements--gray-dark !default;
$rh-color--text--on-dark:                      $rh-color--white !default;
$rh-color--text--on-saturated:                 $rh-color--white !default;


// ========================================================================
// Base UI Link Colors to be used below
// ========================================================================

$rh-color--ui-link:                            #06c !default;
$rh-color--ui-link--visited:                   $rhelements--purple !default;             // Was #7551a6
$rh-color--ui-link--hover:                     darken($rh-color--ui-link, 20%) !default; // Was #004080
$rh-color--ui-link--focus:                     darken($rh-color--ui-link, 20%) !default; // Was #004080

$rh-color--ui-link--on-dark:                   lighten($rh-color--ui-link, 40%) !default;          // Was #97daff
$rh-color--ui-link--on-dark--visited:          lighten($rh-color--ui-link--visited, 30%) !default; // Was #d8c0ff
$rh-color--ui-link--on-dark--hover:            lighten($rh-color--ui-link--on-dark, 10%) !default; // Was #c0ecff
$rh-color--ui-link--on-dark--focus:            lighten($rh-color--ui-link--on-dark, 10%) !default; // Was #c0ecff

$rh-color--ui-link--on-saturated:              lighten($rh-color--ui-link, 40%) !default;               // Was #97daff
$rh-color--ui-link--on-saturated--visited:     lighten($rh-color--ui-link--visited, 30%) !default;      // Was #d8c0ff
$rh-color--ui-link--on-saturated--hover:       lighten($rh-color--ui-link--on-saturated, 10%) !default; // Was #c0ecff
$rh-color--ui-link--on-saturated--focus:       lighten($rh-color--ui-link--on-saturated, 10%) !default; // Was #c0ecff


// ========================================================================
// Base UI Colors for Buttons, CTAs, and actionable UI elements
// ========================================================================

$rh-color--ui-base:                            $rhelements--blue !default;
$rh-color--ui-base--hover:                     darken($rhelements--blue, 20%) !default;
$rh-color--ui-base--text:                      $rh-color--text--on-dark !default;
$rh-color--ui-base--text--hover:               $rh-color--text--on-dark !default;

$rh-color--ui-complement:                      $rh-color--gray-800 !default;
$rh-color--ui-complement--hover:               $rh-color--gray-1000 !default;
$rh-color--ui-complement--text:                $rh-color--text--on-dark !default;
$rh-color--ui-complement--text--hover:         $rh-color--text--on-dark !default;

$rh-color--ui-accent:                          $rhelements--orange !default;
$rh-color--ui-accent--hover:                   darken($rhelements--orange, 20%) !default;
$rh-color--ui-accent--text:                    $rh-color--text--on-dark !default;
$rh-color--ui-accent--text--hover:             $rh-color--text--on-dark !default;

$rh-color--ui-disabled:                        $rhelements--gray-light !default;
$rh-color--ui-disabled--hover:                 $rhelements--gray-light !default;
$rh-color--ui-disabled--text:                  $rhelements--gray !default;
$rh-color--ui-disabled--text--hover:           $rhelements--gray !default;


// ========================================================================
// Base Surface Colors for Container elements
// ========================================================================

// Lightest group
$rh-color--surface--lightest:                  $rh-color--white !default;
$rh-color--surface--lightest--text:            $rh-color--text !default;
$rh-color--surface--lightest--link:            $rh-color--ui-link !default;
$rh-color--surface--lightest--link--visited:   $rh-color--ui-link--visited !default;
$rh-color--surface--lightest--link--hover:     $rh-color--ui-link--hover !default;
$rh-color--surface--lightest--link--focus:     $rh-color--ui-link--focus !default;

// Lighter group
$rh-color--surface--lighter:                   $rh-color--gray-100 !default;
$rh-color--surface--lighter--text:             $rh-color--text !default;
$rh-color--surface--lighter--link:             $rh-color--ui-link !default;
$rh-color--surface--lighter--link--visited:    $rh-color--ui-link--visited !default;
$rh-color--surface--lighter--link--hover:      $rh-color--ui-link--hover !default;
$rh-color--surface--lighter--link--focus:      $rh-color--ui-link--focus !default;

// Light group - @TODO this is a dupe of lighter until lighter can be deprecated
$rh-color--surface--light:                   $rh-color--gray-100 !default;
$rh-color--surface--light--text:             $rh-color--text !default;
$rh-color--surface--light--link:             $rh-color--ui-link !default;
$rh-color--surface--light--link--visited:    $rh-color--ui-link--visited !default;
$rh-color--surface--light--link--hover:      $rh-color--ui-link--hover !default;
$rh-color--surface--light--link--focus:      $rh-color--ui-link--focus !default;

// Base group
$rh-color--surface--base:                      $rh-color--gray-200 !default;
$rh-color--surface--base--text:                $rh-color--text !default;
$rh-color--surface--base--link:                #00538c !default;  // Contrast with $rh-color--ui-link doesn't meet WCAG2 AA
$rh-color--surface--base--link--visited:       #7551a6 !default;
$rh-color--surface--base--link--hover:         #00305b !default;
$rh-color--surface--base--link--focus:         #00305b !default;

// Darker group
$rh-color--surface--darker:                    $rh-color--gray-800 !default;
$rh-color--surface--darker--text:              $rh-color--text--on-dark !default;
$rh-color--surface--darker--link:              $rh-color--ui-link--on-dark !default;
$rh-color--surface--darker--link--visited:     $rh-color--ui-link--on-dark--visited !default;
$rh-color--surface--darker--link--hover:       $rh-color--ui-link--on-dark--hover !default;
$rh-color--surface--darker--link--focus:       $rh-color--ui-link--on-dark--focus !default;

// Dark group - @TODO this is a dupe of lighter until lighter can be deprecated
$rh-color--surface--dark:                    $rh-color--gray-800 !default;
$rh-color--surface--dark--text:              $rh-color--text--on-dark !default;
$rh-color--surface--dark--link:              $rh-color--ui-link--on-dark !default;
$rh-color--surface--dark--link--visited:     $rh-color--ui-link--on-dark--visited !default;
$rh-color--surface--dark--link--hover:       $rh-color--ui-link--on-dark--hover !default;
$rh-color--surface--dark--link--focus:       $rh-color--ui-link--on-dark--focus !default;

// Darkest group
$rh-color--surface--darkest:                   $rh-color--gray-1000 !default;
$rh-color--surface--darkest--text:             $rh-color--text--on-dark !default;
$rh-color--surface--darkest--link:             $rh-color--ui-link--on-dark !default;
$rh-color--surface--darkest--link--visited:    $rh-color--ui-link--on-dark--visited !default;
$rh-color--surface--darkest--link--hover:      $rh-color--ui-link--on-dark--hover !default;
$rh-color--surface--darkest--link--focus:      $rh-color--ui-link--on-dark--focus !default;

// Complement group
$rh-color--surface--complement:                $rhelements--blue;
$rh-color--surface--complement--text:          $rh-color--text--on-dark !default;
$rh-color--surface--complement--link:          $rh-color--ui-link--on-dark !default;
$rh-color--surface--complement--link--visited: $rh-color--ui-link--on-dark--visited !default;
$rh-color--surface--complement--link--hover:   $rh-color--ui-link--on-dark--hover !default;
$rh-color--surface--complement--link--focus:   $rh-color--ui-link--on-dark--focus !default;


// Accent group
$rh-color--surface--accent:                    $rhelements--orange;
$rh-color--surface--accent--text:              $rh-color--text--on-dark !default;
$rh-color--surface--accent--link:              $rh-color--ui-link--on-dark !default;
$rh-color--surface--accent--link--visited:     $rh-color--ui-link--on-dark--visited !default;
$rh-color--surface--accent--link--hover:       $rh-color--ui-link--on-dark--hover !default;
$rh-color--surface--accent--link--focus:       $rh-color--ui-link--on-dark--focus !default;



/* Palette of Border Colors */
$rh-color--surface--border:                    $rh-color--gray-200 !default;  // Was #ccc
$rh-color--surface--border--lightest:          $rh-color--gray-100 !default;  // Was #e7e7e7
$rh-color--surface--border--darkest:           $rh-color--gray-800 !default;

/* Palette of Feedback Colors */
$rh-color--feedback--critical:                 $rh-color--red-600 !default;
$rh-color--feedback--critical--lightest:       $rh-color--red-50 !default;
$rh-color--feedback--critical--darkest:        $rh-color--red-800 !default;

$rh-color--feedback--important:                $rh-color--orange-500 !default;
$rh-color--feedback--important--lightest:      $rh-color--orange-50 !default;
$rh-color--feedback--important--darkest:       $rh-color--orange-700 !default;

$rh-color--feedback--moderate:                 $rh-color--yellow-400 !default;
$rh-color--feedback--moderate--lightest:       $rh-color--yellow-50 !default;
$rh-color--feedback--moderate--darkest:        $rh-color--yellow-700 !default;

$rh-color--feedback--success:                  #2e7d32 !default;
$rh-color--feedback--success--lightest:        $rh-color--green-50 !default;
$rh-color--feedback--success--darkest:         #1b5e20 !default;

$rh-color--feedback--info:                     #0277bd !default;
$rh-color--feedback--info--lightest:           $rh-color--blue-50 !default;
$rh-color--feedback--info--darkest:            #01579b !default;

$rh-color--feedback--default:                  $rh-color--gray-700 !default;
$rh-color--feedback--default--lightest:        $rh-color--gray-100 !default;
$rh-color--feedback--default--darkest:         $rh-color--gray-800 !default;
