// ========================================================================
// DEPRECATED VARS!
//
// Note: If your RHElements is relying on any of these vars, please
//       upgrade it to utilize the $rh-vars map!
//
// ========================================================================

// ========================================================================
// Base Typography
// ========================================================================

$rh-global--font-size:                   #{$rh-global--font-size-root}px !default;
$rh-global--font-size--sm:               12px;
$rh-global--font-size--lg:               18px;

$rh-global--font-family:                 "Overpass", Overpass, Helvetica, helvetica, arial, sans-serif !default;
$rh-global--font-family--heading:        "Overpass", Overpass, Helvetica, helvetica, arial, sans-serif !default;
$rh-global--font-family--code:           "Overpass Mono", Consolas, Monaco, 'Andale Mono', monospace !default;

$rh-global--line-height:                 1.5;
$rh-global--line-height--for-sm:         1.5;
$rh-global--line-height--for-lg:         1.2;

$rh-global--font-size--heading--alpha:   32px;
$rh-global--font-size--heading--beta:    24px;
$rh-global--font-size--heading--gamma:   21px;
$rh-global--font-size--heading--delta:   18px;
$rh-global--font-size--heading--epsilon: 16px;
$rh-global--font-size--heading--zeta:    14px;

// ========================================================================
// Needs to be resolved! DO NOT USE!
// ========================================================================

$rh-global--FontSize:         $rh-global--font-size;
$rh-global--FontSize--sm:     $rh-global--font-size--sm;
$rh-global--FontSize--lg:     $rh-global--font-size--lg;

// Line heights
$rh-global--LineHeight--sm:  1.2 !default;
$rh-global--LineHeight:      1.5 !default; // base
$rh-global--LineHeight--lg:  1.8 !default;

// Font weights
$rh-global--FontWeight--light:      300;
$rh-global--FontWeight--normal:     500; // base
$rh-global--FontWeight--semi-bold:  600;
$rh-global--FontWeight--bold:       700;

// Font families
$rh-global--FontFamily--sans-serif:    "Overpass", Overpass, Helvetica, helvetica, arial, sans-serif;
$rh-global--FontFamily--monospace:     "Overpass Mono", Consolas, Monaco, 'Andale Mono', monospace;


// ========================================================================
// Headings
// ========================================================================

// Heading sizes for Apps
$rh-global--FontSize--heading--xxl:     rh-size-prem(32px) !default;
$rh-global--FontSize--heading--xl:      rh-size-prem(28px) !default;
$rh-global--FontSize--heading--lg:      rh-size-prem(24px) !default;
$rh-global--FontSize--heading--md:      rh-size-prem(20px) !default;
$rh-global--FontSize--heading--sm:      rh-size-prem(18px) !default;
$rh-global--FontSize--heading--xs:      rh-size-prem(16px) !default;
$rh-global--FontSize--heading--xxs:     rh-size-prem(14px) !default;

// $pf-global--hero-title--FontSize:       pf-font-prem(48px) !default;
// $pf-global--main-title--FontSize:       pf-font-prem(32px) !default;
// $pf-global--secondary-title--FontSize:  pf-font-prem(24px) !default;
// $pf-global--sub-title--FontSize:        pf-font-prem(19px) !default;
// $pf-global--body--FontSize:             pf-font-prem(16px) !default;
// $pf-global--caption--FontSize:          pf-font-prem(12px) !default;


// ========================================================================
// Icons Sizes
// ========================================================================

$rh-global--icon-size--xl:              rh-size-prem(64px) !default;
$rh-global--icon-size--lg:              rh-size-prem(48px) !default;
$rh-global--icon-size--md:              rh-size-prem(32px) !default;
$rh-global--icon-size--sm:              rh-size-prem(16px) !default;
$rh-global--icon-size--xs:              rh-size-prem(14px) !default;

// ========================================================================
// Spacers / Gutters
// ========================================================================

$rh-global--container-spacer:               rh-size-prem(16px) !default;
$rh-global--content-spacer:                 rh-size-prem(4px) !default;

$rh-global--containter-spacer:              $rh-global--container-spacer; // stupid containter.

// ========================================================================
// Needs to be resolved! DO NOT USE!
// ========================================================================


$rh-global--space-size-root: $rh-global--font-size-root !default; // for spaces

// ========================================================================
// Grid Breakpoints
// ========================================================================

$rh-global--grid-breakpoint--xs: 0 !default;
$rh-global--grid-breakpoint--sm: 576px !default;
$rh-global--grid-breakpoint--md: 768px !default;
$rh-global--grid-breakpoint--lg: 992px !default;
$rh-global--grid-breakpoint--xl: 1200px !default;

$rh-global--grid-breakpoints: (
  xs: $rh-global--grid-breakpoint--xs,
  sm: $rh-global--grid-breakpoint--sm,
  md: $rh-global--grid-breakpoint--md,
  lg: $rh-global--grid-breakpoint--lg,
  xl: $rh-global--grid-breakpoint--xl
) !default;

$rh-global--grid-breakpoint--xs--max: $rh-global--grid-breakpoint--sm - 1 !default;
$rh-global--grid-breakpoint--sm--max: $rh-global--grid-breakpoint--md - 1 !default;
$rh-global--grid-breakpoint--md--max: $rh-global--grid-breakpoint--lg - 1 !default;
$rh-global--grid-breakpoint--lg--max: $rh-global--grid-breakpoint--xl - 1 !default;


// ========================================================================
// Spacers / Gutters
// ========================================================================

// Factors of 1em or 16px;
$rh-global--spacer--xxs:    rh-size-prem(4px) !default;
$rh-global--spacer--xs:     rh-size-prem(8px) !default;
$rh-global--spacer--sm:     rh-size-prem(12px) !default; // NEW. Not in PF
$rh-global--spacer:         $rh-global--containter-spacer; // base
$rh-global--spacer--md:     rh-size-prem(24px) !default;
$rh-global--spacer--lg:     rh-size-prem(32px) !default;
$rh-global--spacer--xl:     rh-size-prem(48px) !default;
$rh-global--spacer--xxl:    rh-size-prem(64px) !default;



// ========================================================================
// UI Styles
// ========================================================================

$rh-global--link--TextDecoration: underline;
$rh-global--link--TextDecoration--hover: underline;

// ========================================================================
// Borders
// ========================================================================

$rh-global--border-width:                    1px !default;
$rh-global--border-style:                    solid !default;
$rh-global--border-radius:                   2px;
// For border color, see _colors.scss

// ========================================================================
// Shadows
// ========================================================================

$rh-global--box-shadow--sm:                  0  rh-size-prem(1)  rh-size-prem(2) 0 rgba($rh-color--gray-1000, .2) !default;
$rh-global--box-shadow--md:                  0  rh-size-prem(2)  rh-size-prem(1) rh-size-prem(1) rgba($rh-color--gray-1000, .12), 0  rh-size-prem(4)  rh-size-prem(11) rh-size-prem(6) rgba($rh-color--gray-1000, .05) !default;
$rh-global--box-shadow--lg:                  0  rh-size-prem(3)  rh-size-prem(7) rh-size-prem(3) rgba($rh-color--gray-1000, .13), 0  rh-size-prem(11)  rh-size-prem(24) rh-size-prem(16) rgba($rh-color--gray-1000, .12) !default;
$rh-global--box-shadow--inset:               inset 0 0 rh-size-prem(10) 0 rgba($rh-color--gray-1000, .25) !default;

// ========================================================================
// Animations
// ========================================================================

$rh-global--animation-timing:                cubic-bezier(0.465, 0.183, 0.153, 0.946);


// ========================================================================
// Needs to be resolved! DO NOT USE!
// ========================================================================

$rh-global--border--BorderWidth:         $rh-global--border-width;
$rh-global--border--BorderWidth--thin:   $rh-global--border-width;

$rh-global--border--BorderStyle:         $rh-global--border-style;
$rh-global--border--BorderColor:         $rh-color--surface--border;
$rh-global--border--BorderColor--light:  $rh-color--surface--border--lightest;
$rh-global--border--BorderColor--dark:   $rh-color--surface--border--darkest;

$rh-global--border--BorderRadius:         $rh-global--border-radius;
$rh-global--button-border--BorderRadius:  $rh-global--border-radius;




// ========================================================================
// Shadows
// ========================================================================

$rh-global--shadow--BoxShadow--sm:  $rh-global--box-shadow--sm;
$rh-global--shadow--BoxShadow--md:  $rh-global--box-shadow--md;
$rh-global--shadow--BoxShadow--lg:  $rh-global--box-shadow--lg;

$rh-global--shadow--BoxShadow--sm-right:  rh-size-prem(4)  0  rh-size-prem(10) rh-size-prem(-4) rgba($pf-color-black-1000, .12) !default;
$rh-global--shadow--BoxShadow--sm-left:   rh-size-prem(-4) 0 rh-size-prem(10) rh-size-prem(-4) rgba($pf-color-black-1000, .12) !default;
$rh-global--shadow--BoxShadow--sm-bottom: 0 rh-size-prem(4) 0 rh-size-prem(10) rh-size-prem(-4) rgba($pf-color-black-1000, .12) !default;
$rh-global--shadow--BoxShadow--sm-top:    0 rh-size-prem(-4) 0 rh-size-prem(10) rh-size-prem(-4) rgba($pf-color-black-1000, .12) !default;
$rh-global--shadow--BoxShadow--md-right:  rh-size-prem(5) 0 rh-size-prem(10) rh-size-prem(-4) rgba($pf-color-black-1000, .25) !default;
$rh-global--shadow--BoxShadow--md-left:   rh-size-prem(-5) 0 rh-size-prem(10) rh-size-prem(-4) rgba($pf-color-black-1000, .25) !default;
$rh-global--shadow--BoxShadow--md-bottom: 0 rh-size-prem(5) rh-size-prem(10) rh-size-prem(-4) rgba($pf-color-black-1000, .25) !default;
$rh-global--shadow--BoxShadow--md-top:    0 rh-size-prem(-5) rh-size-prem(10) rh-size-prem(-4) rgba($pf-color-black-1000, .25) !default;
$rh-global--shadow--BoxShadow--lg-right:  rh-size-prem(12) 0 rh-size-prem(10) rh-size-prem(-4) rgba($pf-color-black-1000, .07) !default;
$rh-global--shadow--BoxShadow--lg-left:   rh-size-prem(-12) 0 rh-size-prem(10) rh-size-prem(-4) rgba($pf-color-black-1000, .07) !default;
$rh-global--shadow--BoxShadow--lg-bottom: 0 rh-size-prem(12) rh-size-prem(10) rh-size-prem(-4) rgba($pf-color-black-1000, .07) !default;
$rh-global--shadow--BoxShadow--lg-top:    0 rh-size-prem(-12) rh-size-prem(10) rh-size-prem(-4) rgba($pf-color-black-1000, .07) !default;

$rh-global--shadow--BoxShadow--inset:     $rh-global--box-shadow--inset;
