//
// NEEDS TO BE CLEANED UP


// See _maps.scss
// Use #{rh-var($cssvar)}







































// ========================================================================
// Base Typography
// ========================================================================

$rh-global--font-size:                   #{$rh-global--font-size-root}px !default;
$rh-global--font-size--sm:               12px;
$rh-global--font-size--lg:               18px;

$rh-global--font-family:                 "Overpass", Overpass, Helvetica, helvetica, arial, sans-serif !default;
$rh-global--font-family--heading:        "Overpass", Overpass, Helvetica, helvetica, arial, sans-serif !default;
$rh-global--font-family--code:           "Overpass Mono", Consolas, Monaco, 'Andale Mono', monospace !default;

$rh-global--line-height:                 1.5;
$rh-global--line-height--for-sm:         1.5;
$rh-global--line-height--for-lg:         1.2;

$rh-global--font-size--heading--alpha:   32px;
$rh-global--font-size--heading--beta:    24px;
$rh-global--font-size--heading--gamma:   21px;
$rh-global--font-size--heading--delta:   18px;
$rh-global--font-size--heading--epsilon: 16px;
$rh-global--font-size--heading--zeta:    14px;


















// ========================================================================
// Needs to be resolved! DO NOT USE!
// ========================================================================

$rh-global--FontSize:         $rh-global--font-size;
$rh-global--FontSize--sm:     $rh-global--font-size--sm;
$rh-global--FontSize--lg:     $rh-global--font-size--lg;

// Line heights
$rh-global--LineHeight--sm:  1.2 !default;
$rh-global--LineHeight:      1.5 !default; // base
$rh-global--LineHeight--lg:  1.8 !default;

// Font weights
$rh-global--FontWeight--light:      300;
$rh-global--FontWeight--normal:     500; // base
$rh-global--FontWeight--semi-bold:  600;
$rh-global--FontWeight--bold:       700;

// Font families
$rh-global--FontFamily--sans-serif:    "Overpass", Overpass, Helvetica, helvetica, arial, sans-serif;
$rh-global--FontFamily--monospace:     "Overpass Mono", Consolas, Monaco, 'Andale Mono', monospace;


// ========================================================================
// Headings
// ========================================================================

// Heading sizes for Apps
$rh-global--FontSize--heading--xxl:     rh-size-prem(32px) !default;
$rh-global--FontSize--heading--xl:      rh-size-prem(28px) !default;
$rh-global--FontSize--heading--lg:      rh-size-prem(24px) !default;
$rh-global--FontSize--heading--md:      rh-size-prem(20px) !default;
$rh-global--FontSize--heading--sm:      rh-size-prem(18px) !default;
$rh-global--FontSize--heading--xs:      rh-size-prem(16px) !default;
$rh-global--FontSize--heading--xxs:     rh-size-prem(14px) !default;

// $pf-global--hero-title--FontSize:       pf-font-prem(48px) !default;
// $pf-global--main-title--FontSize:       pf-font-prem(32px) !default;
// $pf-global--secondary-title--FontSize:  pf-font-prem(24px) !default;
// $pf-global--sub-title--FontSize:        pf-font-prem(19px) !default;
// $pf-global--body--FontSize:             pf-font-prem(16px) !default;
// $pf-global--caption--FontSize:          pf-font-prem(12px) !default;


// ========================================================================
// Icons Sizes
// ========================================================================

$rh-global--icon-size--xl:              rh-size-prem(64px) !default;
$rh-global--icon-size--lg:              rh-size-prem(48px) !default;
$rh-global--icon-size--md:              rh-size-prem(32px) !default;
$rh-global--icon-size--sm:              rh-size-prem(16px) !default;
$rh-global--icon-size--xs:              rh-size-prem(14px) !default;
