@import "../cp-sass/cp-sass";

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: $rh-global--FontWeight--normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

img,
embed,
iframe,
object,
audio,
video {
  max-width: 100%;
  height: auto;
}

iframe {
  border: 0;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td,
th {
  padding: 0;
  text-align: left;
}

// Patternfly base styles

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
}


body {
  font-family: $rh-global--FontFamily--sans-serif;
  font-size: $rh-global--FontSize;
  font-weight: $rh-global--FontWeight--normal;
  line-height: $rh-global--LineHeight;
  color: $rh-global--text-color;
  text-align: left;
}

// Links styles

a {
  color: $rh-global--link-color;
  text-decoration: $rh-global--link--TextDecoration;

  &:hover {
    color: $rh-global--link-color--hover;
    text-decoration: $rh-global--link--TextDecoration--hover;
  }
}

button,
a {
  cursor: pointer;
}
