html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 500; }

ul {
  list-style: none; }

button,
input,
select,
textarea {
  margin: 0; }

img,
embed,
iframe,
object,
audio,
video {
  max-width: 100%;
  height: auto; }

iframe {
  border: 0; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

td,
th {
  padding: 0;
  text-align: left; }

*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  line-height: 1.15; }

body {
  font-family: "Overpass", Overpass, Helvetica, helvetica, arial, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: #333;
  text-align: left; }

a {
  color: #06c;
  text-decoration: underline; }
  a:hover {
    color: #004080;
    text-decoration: underline; }

button,
a {
  cursor: pointer; }