:root {
  
  --rhe-theme--color--white: #fff;
  --rhe-theme--color--black: #1a1a1a;
  
  --rhe-theme--color--primary: #c00;
  --rhe-theme--color--primary-shade2: #a30000;
  --rhe-theme--color--primary-shade3: #820000;
  --rhe-theme--color--primary-shade4: #6e0000;
  --rhe-theme--color--primary-shade5: #5a0000;
  --rhe-theme--color--primary-shade6: #460000;
  --rhe-theme--color--primary-shade7: #320000;
  
  --rhe-theme--color--secondary: #e7e7e7;
  --rhe-theme--color--secondary-shade2: #dcdcdc;
  --rhe-theme--color--secondary-shade3: #ccc;
  --rhe-theme--color--secondary-shade4: #828282;
  --rhe-theme--color--secondary-shade5: #6e6e6e;
  --rhe-theme--color--secondary-shade6: #5a5a5a;
  --rhe-theme--color--secondary-shade7: #4c4c4c;
  
  --rhe-theme--color--gray-100: #f0f0f0;
  --rhe-theme--color--gray-150: #ededed;
  --rhe-theme--color--gray-200: #e7e7e7;
  --rhe-theme--color--gray-250: #dcdcdc;
  --rhe-theme--color--gray-300: #d2d2d2;
  --rhe-theme--color--gray-400: #bebebe;
  --rhe-theme--color--gray-450: #ccc;
  --rhe-theme--color--gray-500: #aaa;
  --rhe-theme--color--gray-600: #969696;
  --rhe-theme--color--gray-700: #828282;
  --rhe-theme--color--gray-750: #7a858b;
  --rhe-theme--color--gray-800: #6e6e6e;
  --rhe-theme--color--gray-900: #5a5a5a;
  --rhe-theme--color--gray-950: #4c4c4c;
  --rhe-theme--color--gray-1000: #464646;
  --rhe-theme--color--gray-1050: #37424a;
  --rhe-theme--color--gray-1100: #333;
  --rhe-theme--color--gray-1150: #252527;
  --rhe-theme--color--gray-1200: #1e1e1e;
  
  
  --rhe-theme--color--red-100: #c00;
  --rhe-theme--color--red-200: #a30000;
  --rhe-theme--color--red-300: #820000;
  --rhe-theme--color--red-400: #6e0000;
  --rhe-theme--color--red-500: #5a0000;
  --rhe-theme--color--red-600: #460000;
  --rhe-theme--color--red-700: #320000;
  
  --rhe-theme--color--orange-100: #fbdebf;
  --rhe-theme--color--orange-200: #f7bd7f;
  --rhe-theme--color--orange-300: #f39d3c;
  --rhe-theme--color--orange-400: #ec7a08;
  --rhe-theme--color--orange-500: #b35c00;
  --rhe-theme--color--orange-600: #773d00;
  --rhe-theme--color--orange-700: #3b1f00;
  
  --rhe-theme--color--gold-100: #fbeabc;
  --rhe-theme--color--gold-200: #f9d67a;
  --rhe-theme--color--gold-300: #f5c12e;
  --rhe-theme--color--gold-400: #f0ab00;
  --rhe-theme--color--gold-500: #b58100;
  --rhe-theme--color--gold-600: #795600;
  --rhe-theme--color--gold-700: #3d2c00;
  
  --rhe-theme--color--light-green-100: #e4f5bc;
  --rhe-theme--color--light-green-200: #c8eb79;
  --rhe-theme--color--light-green-300: #ace12e;
  --rhe-theme--color--light-green-400: #92d400;
  --rhe-theme--color--light-green-500: #6ca100;
  --rhe-theme--color--light-green-600: #486b00;
  --rhe-theme--color--light-green-700: #253600;
  
  --rhe-theme--color--green-100: #cfe7cd;
  --rhe-theme--color--green-200: #9ecf99;
  --rhe-theme--color--green-300: #6ec664;
  --rhe-theme--color--green-400: #3f9c35;
  --rhe-theme--color--green-500: #2d7623;
  --rhe-theme--color--green-600: #1e4f18;
  --rhe-theme--color--green-700: #0f280d;
  
  --rhe-theme--color--teal-100: #bedee1;
  --rhe-theme--color--teal-200: #7dbdc3;
  --rhe-theme--color--teal-300: #3a9ca6;
  --rhe-theme--color--teal-400: #007a87;
  --rhe-theme--color--teal-500: #005c66;
  --rhe-theme--color--teal-600: #004153;
  --rhe-theme--color--teal-700: #264a60;
  
  --rhe-theme--color--light-blue-100: #a3dbe8;
  --rhe-theme--color--light-blue-200: #7cdbf3;
  --rhe-theme--color--light-blue-300: #35caed;
  --rhe-theme--color--light-blue-400: #00b9e4;
  --rhe-theme--color--light-blue-500: #008bad;
  --rhe-theme--color--light-blue-600: #005c73;
  --rhe-theme--color--light-blue-700: #002d39;
  
  --rhe-theme--color--blue-100: #bee1f4;
  --rhe-theme--color--blue-200: #73bcf7;
  --rhe-theme--color--blue-300: #2b9af3;
  --rhe-theme--color--blue-350: #00b9e4;
  --rhe-theme--color--blue-400: #0088ce;
  --rhe-theme--color--blue-500: #0076e0;
  --rhe-theme--color--blue-600: #06c;
  --rhe-theme--color--blue-700: #004080;
  
  --rhe-theme--color--purple-100: #c7bfff;
  --rhe-theme--color--purple-200: #a18fff;
  --rhe-theme--color--purple-300: #967abd;
  --rhe-theme--color--purple-400: #7551a6;
  --rhe-theme--color--purple-500: #582fc0;
  --rhe-theme--color--purple-600: #3b0083;
  --rhe-theme--color--purple-700: #1f0066;
  
  
  --rhe-theme--bg-color: #fff;
  --rhe-theme--bg-color--shade2: #e7e7e7;
  --rhe-theme--bg-color--shade3: #d2d2d2;
  --rhe-theme--bg-color--shade4: #ccc;
  --rhe-theme--bg-color--shade5: #969696;
  --rhe-theme--bg-color--shade6: #333;
  --rhe-theme--bg-color--shade7: #252527;
  
  --rhe-theme--text-color: #333;
  --rhe-theme--text-color--shade2: #333;
  --rhe-theme--text-color--shade3: #1a1a1a;
  --rhe-theme--text-color--shade4: #1a1a1a;
  --rhe-theme--text-color--shade5: #fff;
  --rhe-theme--text-color--shade6: #fff;
  --rhe-theme--text-color--shade7: #fff;
  --rhe-theme--text-color--inverted: #fff;
  
  --rhe-theme--link-color: #06c;
  --rhe-theme--link-color--hover: #004080;
  --rhe-theme--link-color--focus: #004080;
  --rhe-theme--link-color--active: #004080;
  --rhe-theme--link-color--visited: #7551a6;
  
  --rhe-theme--link-color--inverted: #73bcf7;
  --rhe-theme--link-color--inverted--hover: #2b9af3;
  --rhe-theme--link-color--inverted--focus: #2b9af3;
  --rhe-theme--link-color--inverted--active: #2b9af3;
  --rhe-theme--link-color--inverted--visited: #967abd;
  
  --rhe-theme--link-color--desaturated: #333;
  --rhe-theme--link-color--desaturated--hover: #1a1a1a;
  --rhe-theme--link-color--desaturated--focus: #1a1a1a;
  --rhe-theme--link-color--desaturated--active: #1a1a1a;
  --rhe-theme--link-color--desaturated--visited: #1a1a1a;
  
  --rhe-theme--ui-element-color--Color: #fff;
  --rhe-theme--ui-element-color: #0076e0;
  --rhe-theme--ui-element-color--hover: #004080;
  --rhe-theme--ui-element-color--focus: #004080;
  --rhe-theme--ui-element-color--active: #004080;
  
  --rhe-theme--ui-element-color-dark--Color: #fff;
  --rhe-theme--ui-element-color-dark: #264a60;
  --rhe-theme--ui-element-color-dark--hover: #004080;
  --rhe-theme--ui-element-color-dark--focus: #004080;
  --rhe-theme--ui-element-color-dark--active: #004080;
  --rhe-theme--hover-state--Color: #fff;
  --rhe-theme--hover-state--BackgroundColor: #004080;
  --rhe-theme--hover-state--BorderColor: #004080;
  --rhe-theme--active-state--Color: #fff;
  --rhe-theme--active-state--BackgroundColor: #004080;
  --rhe-theme--active-state--BorderColor: #004080;
  --rhe-theme--disabled-state--Color: #828282;
  --rhe-theme--disabled-state--BackgroundColor: #d2d2d2;
  --rhe-theme--disabled-state--BorderColor: #d2d2d2;
  --rh-theme--success-color: #cfe7cd;
  --rh-theme--success-color--dark: #92d400;
  --rh-theme--info-color: #bedee1;
  --rh-theme--info-color--dark: #007a87;
  --rh-theme--warning-color: #fbdebf;
  --rh-theme--warning-color--dark: #ec7a08;
  --rh-theme--danger-color: #c00;
  --rh-theme--danger-color--dark: #8b0000; }

:root {
  
  --rhe-theme--grid-breakpoint--xs: 0;
  --rhe-theme--grid-breakpoint--sm: 576px;
  --rhe-theme--grid-breakpoint--md: 768px;
  --rhe-theme--grid-breakpoint--lg: 992px;
  --rhe-theme--grid-breakpoint--xl: 1200px;
  --rhe-theme--grid-breakpoint--xs--max: 575px;
  --rhe-theme--grid-breakpoint--sm--max: 767px;
  --rhe-theme--grid-breakpoint--md--max: 991px;
  --rhe-theme--grid-breakpoint--lg--max: 1199px;
  
  --rhe-theme--spacer--xs: 0.25rem;
  --rhe-theme--spacer--sm: 0.5rem;
  --rhe-theme--spacer: 1rem;
  --rhe-theme--spacer--md: 1.5rem;
  --rhe-theme--spacer--lg: 2rem;
  --rhe-theme--spacer--xl: 3rem;
  --rhe-theme--spacer--xxl: 4rem; }

:root {
  
  --rhe-theme--animation-timing: cubic-bezier(0.465, 0.183, 0.153, 0.946);
  
  --rhe-theme--border--BorderWidth: 1px;
  --rhe-theme--border--BorderWidth--thin: 1px;
  --rhe-theme--border--BorderStyle: solid;
  --rhe-theme--border--BorderColor: #ccc;
  --rhe-theme--border--BorderColor--light: #e7e7e7;
  --rhe-theme--border--BorderColor--dark: #333;
  --rhe-theme--border--BorderRadius: 0;
  --rhe-theme--button-border--BorderRadius: 2px;
  
  --rhe-theme--shadow--BoxShadow--sm: 0 0.0625rem 0.125rem 0 rgba(3, 3, 3, 0.2);
  --rhe-theme--shadow--BoxShadow--md: 0 0.125rem 0.0625rem 0.0625rem rgba(3, 3, 3, 0.12), 0 0.25rem 0.6875rem 0.375rem rgba(3, 3, 3, 0.05);
  --rhe-theme--shadow--BoxShadow--lg: 0 0.1875rem 0.4375rem 0.1875rem rgba(3, 3, 3, 0.13), 0 0.6875rem 1.5rem 1rem rgba(3, 3, 3, 0.12);
  --rhe-theme--shadow--BoxShadow--sm-right: 0.25rem 0 0.625rem -0.25rem rgba(3, 3, 3, 0.12);
  --rhe-theme--shadow--BoxShadow--sm-left: -0.25rem 0 0.625rem -0.25rem rgba(3, 3, 3, 0.12);
  --rhe-theme--shadow--BoxShadow--sm-bottom: 0 0.25rem 0 0.625rem -0.25rem rgba(3, 3, 3, 0.12);
  --rhe-theme--shadow--BoxShadow--sm-top: 0 -0.25rem 0 0.625rem -0.25rem rgba(3, 3, 3, 0.12);
  --rhe-theme--shadow--BoxShadow--md-right: 0.3125rem 0 0.625rem -0.25rem rgba(3, 3, 3, 0.25);
  --rhe-theme--shadow--BoxShadow--md-left: -0.3125rem 0 0.625rem -0.25rem rgba(3, 3, 3, 0.25);
  --rhe-theme--shadow--BoxShadow--md-bottom: 0 0.3125rem 0.625rem -0.25rem rgba(3, 3, 3, 0.25);
  --rhe-theme--shadow--BoxShadow--md-top: 0 -0.3125rem 0.625rem -0.25rem rgba(3, 3, 3, 0.25);
  --rhe-theme--shadow--BoxShadow--lg-right: 0.75rem 0 0.625rem -0.25rem rgba(3, 3, 3, 0.07);
  --rhe-theme--shadow--BoxShadow--lg-left: -0.75rem 0 0.625rem -0.25rem rgba(3, 3, 3, 0.07);
  --rhe-theme--shadow--BoxShadow--lg-bottom: 0 0.75rem 0.625rem -0.25rem rgba(3, 3, 3, 0.07);
  --rhe-theme--shadow--BoxShadow--lg-top: 0 -0.75rem 0.625rem -0.25rem rgba(3, 3, 3, 0.07);
  --rhe-theme--shadow--BoxShadow--inset: inset 0 0 0.625rem 0 rgba(3, 3, 3, 0.25); }

:root {
  
  --rhe-theme--FontSize: 16px;
  --rhe-theme--LineHeight: 1.5;
  --rhe-theme--LineHeight--sm: 1.2;
  --rhe-theme--LineHeight--lg: 1.8;
  --rhe-theme--FontWeight--light: 300;
  --rhe-theme--FontWeight--normal: 500;
  --rhe-theme--FontWeight--semi-bold: 600;
  --rhe-theme--FontWeight--bold: 700;
  --rhe-theme--FontFamily--sans-serif: "Overpass", Overpass, Helvetica, helvetica, arial, sans-serif;
  --rhe-theme--FontFamily--monospace: "Overpass Mono", Consolas, Monaco, "Andale Mono", monospace;
  --rhe-theme--FontSize--heading--xxl: 2rem;
  --rhe-theme--FontSize--heading--xl: 1.75rem;
  --rhe-theme--FontSize--heading--lg: 1.5rem;
  --rhe-theme--FontSize--heading--md: 1.25rem;
  --rhe-theme--FontSize--heading--sm: 1.125rem;
  --rhe-theme--FontSize--heading--xs: 1rem;
  --rhe-theme--FontSize--heading--xxs: 0.875rem; }

body {
  font-family: var(--rhe-theme--FontFamily--sans-serif, "Overpass", Overpass, Helvetica, helvetica, arial, sans-serif);
  font-size: var(--rhe-theme--FontSize, 16px);
  line-height: var(--rhe-theme--LineHeight, 1.5);
  font-weight: var(--rhe-theme--FontWeight--normal, --rhe-theme--FontWeight--normal);
  color: var(--rhe-theme--text-color, #333);
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

p {
  margin-top: 0;
  margin-bottom: var(--rhe-theme--spacer, 1rem); }

h1, h2, h3, h4, h5, h6 {
  margin-top: var(--rhe-theme--spacer, 1rem);
  margin-bottom: var(--rhe-theme--spacer, 1rem);
  font-weight: var(--rhe-theme--FontWeight--bold, 700);
  text-rendering: auto; }

h1 {
  font-size: var(--rhe-theme--FontSize--heading--xl, 1.75rem);
  line-height: var(--rhe-theme--LineHeight--sm, 1.2);
  font-weight: var(--rhe-theme--FontWeight--normal, 500); }

h2 {
  font-size: var(--rhe-theme--FontSize--heading--lg, 1.5rem);
  line-height: var(--rhe-theme--LineHeight--sm, 1.2);
  font-weight: var(--rhe-theme--FontWeight--normal, 500); }

h3 {
  font-size: var(--rhe-theme--FontSize--heading--md, 1.25rem);
  line-height: var(--rhe-theme--LineHeight--sm, 1.2); }

h4 {
  font-size: var(--rhe-theme--FontSize--heading--sm, 1.125rem);
  line-height: var(--rhe-theme--LineHeight--sm, 1.2); }

h5 {
  font-size: var(--rhe-theme--FontSize--heading--xs, 1rem);
  line-height: var(--rhe-theme--LineHeight, 1.5); }

h6 {
  font-size: var(--rhe-theme--FontSize--heading--xxs, 0.875rem);
  line-height: var(--rhe-theme--LineHeight, 1.5); }