//
// Overrides for https://github.com/JohnAlbin/normalize-scss pulled in via NPM.
//

// The font size set on the root html element.
$base-font-size: $pfe-global--FontSize;

// The base line height determines the basic unit of vertical rhythm.
$base-line-height: $pfe-global--LineHeight;

// The length unit in which to output vertical rhythm values.
// Supported values: px, em, rem.
$base-unit: 'rem';

// The default font family.
$base-font-family: null !default;

// The font sizes for h1-h6.
$h1-font-size: $pfe-global--FontSize--heading--xxl;
$h2-font-size: $pfe-global--FontSize--heading--xl;
$h3-font-size: $pfe-global--FontSize--heading--lg;
$h4-font-size: $pfe-global--FontSize--heading--md;
$h5-font-size: $pfe-global--FontSize--heading--sm;
$h6-font-size: $pfe-global--FontSize--heading--xs;

// The amount lists and blockquotes are indented.
$indent-amount: $pfe-global--space-size-root * 2;

// The following variable controls whether normalize-scss will output
// font-sizes, line-heights and block-level top/bottom margins that form a basic
// vertical rhythm on the page, which differs from the original Normalize.css.
// However, changing any of the variables above will cause
// $normalize-vertical-rhythm to be automatically set to true.
$normalize-vertical-rhythm: false;
