//
// Typography vars
//

// ========================================================================
// Base Typography
// ========================================================================

$pfe-global--FontSize:        $pfe-global--font-size-root + 0px !default;

// Line heights
$pfe-global--LineHeight--sm:  1.2 !default;
$pfe-global--LineHeight:      1.5 !default; // base
$pfe-global--LineHeight--lg:  1.8 !default;

// Font weights
$pfe-global--FontWeight--light:      300;
$pfe-global--FontWeight--normal:     500; // base
$pfe-global--FontWeight--semi-bold:  600;
$pfe-global--FontWeight--bold:       700;

// Font families
$pfe-global--FontFamily--sans-serif:    "Overpass", Overpass, Helvetica, helvetica, arial, sans-serif;
$pfe-global--FontFamily--monospace:     "Overpass Mono", Consolas, Monaco, 'Andale Mono', monospace;


// ========================================================================
// Headings
// ========================================================================

// Heading sizes for Apps
$pfe-global--FontSize--heading--xxl:     pfe-size-prem($pfe-global--FontSize * 2)    !default;   // 32px
$pfe-global--FontSize--heading--xl:      pfe-size-prem($pfe-global--FontSize * 1.75) !default;   // 28px
$pfe-global--FontSize--heading--lg:      pfe-size-prem($pfe-global--FontSize * 1.5)  !default;   // 24px
$pfe-global--FontSize--heading--md:      pfe-size-prem($pfe-global--FontSize * 1.25) !default;   // 20px
$pfe-global--FontSize--heading--sm:      pfe-size-prem($pfe-global--FontSize * 1.125) !default;  // 18px
$pfe-global--FontSize--heading--xs:      pfe-size-prem($pfe-global--FontSize * 1) !default;      // 16px
$pfe-global--FontSize--heading--xxs:     pfe-size-prem($pfe-global--FontSize * 0.875) !default;  // 14px


// ========================================================================
// Icons Sizes
// ========================================================================

$pfe-global--icon-size--xl:              pfe-size-prem($pfe-global--FontSize * 4) !default;      // 64px
$pfe-global--icon-size--lg:              pfe-size-prem($pfe-global--FontSize * 3) !default;      // 48px
$pfe-global--icon-size--md:              pfe-size-prem($pfe-global--FontSize * 2) !default;      // 32px
$pfe-global--icon-size--sm:              pfe-size-prem($pfe-global--FontSize * 1) !default;      // 16px
$pfe-global--icon-size--xs:              pfe-size-prem($pfe-global--FontSize * 0.875) !default;  // 14px
