name: Release

on:
  push:
    branches:
      - main

jobs:
  release:
    # Prevents changesets action from creating a PR on forks
    if: github.repository == 'patternfly/patternfly-elements'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 16
          cache: npm

      - run: npm i --prefer-offline
      - run: npm run build

      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          publish: npx changeset publish
          commit: "chore: version packages"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      # changesets action outputs `publishedPackages` in the format
      # [{"name": "@xx/xx", "version": "1.2.0"}, {"name": "@xx/xy", "version": "0.8.9"}]
      # The following step converts that list of objects to a list of strings (git tags for github releases)
      # ["@xx/xx@1.2.0", "@xx/xy@0.8.9"]
      - id: get-tags
        if: ${{ steps.changesets.outputs.published == 'true' }}
        run: |
          tags=$( echo '${{ steps.changesets.outputs.publishedPackages }}' | jq -c 'map([.name,.version]) | map(join("@")) | join(", ")' )
          echo "::set-output name=tags::$tags"

      - name: Bundle
        id: bundle
        if: ${{ steps.changesets.outputs.published == 'true' }}
        uses: actions/github-script@v6
        with:
          debug: ${{ secrets.ACTIONS_RUNNER_DEBUG }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            await github.rest.actions.createWorkflowDispatch({
              owner: 'patternfly',
              repo: 'patternfly-elements',
              workflow_id: 'bundle.yml',
              ref: 'main',
              inputs: {
                tags: '${{ steps.get-tags.outputs.tags }}'
              },
            });


