@function rh-strip-unit($num) {
    @return $num / ($num * 0 + 1);
}

@function rh-size-pem($pxval, $base: $rh-global--font-size-root) {
    @return rh-strip-unit($pxval) / $base * 1em;
}

@function rh-size-prem($pxval, $base: $rh-global--font-size-root) {
    @return rh-strip-unit($pxval) / $base * 1rem;
}

/// Map deep get
/// @author Hugo Giraudel
/// @access public
/// @param {Map} $map - Map
/// @param {Arglist} $keys - Key chain
/// @return {*} - Desired value
@function map-deep-get($map, $keys...) {
    @each $key in $keys {
        @if type-of($map) == "map" {
            $map: map-get($map, $key);
        }
        @else {
            @warn "Map provided is not a map."
        }
    }
    @return $map;
}

// Collect all maps and merge them together
@function map-collect($maps...) {
    $collection: ();
    @each $map in $maps {
        $collection: map-merge($collection, $map);
    }
    @return $collection;
}

// New color function to only return theme colors
@function color( $name, $theme: "light", $opacity: 1 ) {
    $map: map-get($color-map, $name);
    $error: false;
    $color: null;
    @if $map != null {
        $color: map-get($map, $theme);
    }
    @else {
        $error: true;
    }
    @if type-of($color) == color {
        @if $opacity == 1 {
            @return $color;
        }
        @if $opacity < 1 {
            @return rgba( $color, $opacity );
        }
    }
    @else {
        $error: true;
    }
    @if $error {
        @warn "#{$name} is not a valid color";
    }
}

// https://hugogiraudel.com/2013/08/08/advanced-sass-list-functions/
// Get the first item in a list
@function first($list) {
    @return nth($list, 1);
}

// Get the last item in a list
@function last($list) {
    @return nth($list, length($list));
}

@function str-replace($string, $search, $replace: "") {
    @if type-of($string) == "string" and type-of($search) == "string" {
        $index: str-index($string, $search);
        @if $index {
            @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
        }
    }
    @return $string;
}

@function to-string($list, $glue: '', $is-nested: false) {
    $result: null;

    @for $i from 1 through length($list) {
        $e: nth($list, $i);

        @if type-of($e) == list {
        $result: $result#{to-string($e, $glue, true)};
        } @else {
        $result: if(
            $i != length($list) or $is-nested,
            $result#{$e}#{$glue},
            $result#{$e}
        );
        }
    }

    @return $result;
}

@function str-split($string, $separator) {
    // empty array/list
    $split-arr: ();
    // first index of separator in string
    $index: str-index("#{$string}", $separator);
    // loop through string
    @while $index != null {
        // get the substring from the first character to the separator
        $item: str-slice($string, 1, $index - 1);
        // push item to array
        $split-arr: append($split-arr, $item);
        // remove item and separator from string
        $string: str-slice($string, $index + 1);
        // find new index of separator
        $index: str-index($string, $separator);
    }
    // add the remaining string to list (the last item) and return
    @return append($split-arr, $string);
}

// https://github.com/HugoGiraudel/SassyStrings/blob/master/dist/_SassyStrings.scss
/// Check whether `$string` stars with `$needle`.
/// @param {String} $string - string to check
/// @param {String} $needle - substring to check
/// @return {Bool}
@function str-starts-with($string, $needle) {
    @return str-slice($string, 1, str-length($needle)) == $needle;
}

// https://hugogiraudel.com/2013/08/08/advanced-sass-list-functions/#removing-values-from-list
@function remove($list, $value, $recursive: false) {
    $result: ();
    @for $i from 1 through length($list) {
        @if type-of(nth($list, $i)) == list and $recursive {
            $result: append($result, remove(nth($list, $i), $value, $recursive));
        }
        @else if nth($list, $i) != $value {
            $result: append($result, nth($list, $i));
        }
    }
    @return $result;
}



/// RH Var
///
/// Returns CSS Var stack with exposed theme Var and respective SCSS fallback
///
/// @param {String} $cssvar - Variable name to be used and prepended with --rh-theme
/// @param {String} $category - Category name to be appended to variables within the map/system
/// @param {Map} $map - SASS Map of variables
/// @requires {String} $repo - Name of repo, which is "rh"
/// @use -
///
///     1.look up a color: /elements/rh-sass/variables/_maps.scss
///         (FYI, maps references: /elements/rh-sass/variables/_colors.scss)
///
///     2. use like this:
///         ```
///         .my-element {
///           padding:     #{rh-var(  container-spacer  )};
///           font-size:   #{rh-var(  font-size  )};
///         }
///         ```
@function rh-var($cssvar, $category: '', $map: $rh-vars) {
    @if $category != "" {
      $category: "#{$category}--";
    }

    @return var( --#{$repo}-theme--#{$category}#{$cssvar}, #{map-get($map, $cssvar)});
}



/// RH Var Fallback
///
/// Returns the SCSS fallback value only
///
/// @param {String} $size - Variable name to be used and prepended with --rh-theme
/// @use -
/// ```
/// @media screen and (min-width: rh-breakpoint(sm)) {
///    --rh-band--width: #{rh-breakpoint(sm) - $box-padding * 2};
/// }
/// ```
@function rh-breakpoint($size) {
    @return #{map-get($rh-vars, grid-breakpoint--#{$size})};
}

/// RH Color
///
/// Returns CSS Var stack with exposed theme Var and respective SCSS fallback
///
/// @param {String} $cssvar - Variable name to be used and prepended with --rh-theme
/// @param {String} $category - Category name to be appended to variables within the map/system, default is "color"
/// @param {Map} $map - SASS Map of variables
/// @requires {String} $repo - Name of repo, which is "rh"
/// @use -
///
///     1.look up a color: /elements/rh-sass/variables/_maps.scss
///         (FYI, maps references: /elements/rh-sass/variables/_colors.scss)
///
///     2. use like this:
///         ```
///         .my-element {
///           color:       #{rh-color(  surface--base--text  )};
///           background:  #{rh-color(  surface--base )};
///         }
///         ```
@function rh-color($cssvar, $category: 'color', $map: $rh-colors) {
    @if $category != "" {
      $category: "#{$category}--";
    }

    @return var( --#{$repo}-theme--#{$category}#{$cssvar}, #{map-get($map, $cssvar)});
}

/// RH Local
///
/// Returns CSS Var for the local component-scoped variable
///
/// @param {String} $cssvar - Variable identifiers which are postfixed and combined using '--'
/// @requires {String} $repo - Name of repo, which is "rh"
/// @requires {String} $LOCAL - Name of component, this is defined at the top of the sass file for the component
/// @use -
///     ```
///     :host {
///         padding-top:      #{rh-local(paddingTop`)};
///         padding-bottom:   #{rh-local(paddingBottom)};
///     }
///     ```

// @TODO Still needs fallback
$rh-local-spacer: "";

@function rh-local($cssvar) {
    @if $SLOT != "" {
      $SLOT: #{$SLOT};
      $rh-local-spacer: "_" !global;
    }
    @else {
      $SLOT: null;
    }
    @return var( --#{$repo}-#{$LOCAL}#{$rh-local-spacer}#{$SLOT}--#{to-string($cssvar, '--')});
}

/// RH Radio
///
/// Returns CSS Var for a broadcasted variable
///
/// @param {String} $cssvar - Variable identifiers which are postfixed and combined using '--'
/// @requires {String} $repo - Name of repo, which is "rh"
/// @use -
///     ```
///     a:visited {
///         color:       #{rh-radio(  ui-link, visited  )};
///     }
///     ```
@function rh-radio($cssvar...) {
    @return var( --#{$repo}-broadcasted--#{to-string($cssvar, '--')});
}
