$cp-colors: (

  // ========================================================================
  // Base Text Colors
  // ========================================================================

  text:                               $pfe-global--text-color,
  text--on-dark:                      $pfe-global--text-color--inverted,
  text--on-saturated:                 $pfe-global--text-color--inverted,


  // ========================================================================
  // Base UI Link Colors to be used below
  // ========================================================================

  ui-link:                            $pfe-global--link-color,
  ui-link--visited:                   $pfe-global--link-color--visited,
  ui-link--hover:                     $pfe-global--link-color--hover,
  ui-link--focus:                     $pfe-global--link-color--focus,

  ui-link--on-dark:                   $pfe-global--link-color--inverted,
  ui-link--on-dark--visited:          $pfe-global--link-color--inverted--visited,
  ui-link--on-dark--hover:            $pfe-global--link-color--inverted--hover,
  ui-link--on-dark--focus:            $pfe-global--link-color--inverted--focus,

  ui-link--on-saturated:              $pfe-global--link-color--inverted,
  ui-link--on-saturated--visited:     $pfe-global--link-color--inverted--visited,
  ui-link--on-saturated--hover:       $pfe-global--link-color--inverted--hover,
  ui-link--on-saturated--focus:       $pfe-global--link-color--inverted--focus,


  // ========================================================================
  // Base UI Colors for Buttons, CTAs, and actionable UI elements
  // ========================================================================

  ui-base:                            $pfe-global--ui-element-color,
  ui-base--hover:                     $pfe-global--ui-element-color--hover,
  ui-base--text:                      $pfe-global--color--white,
  ui-base--text--hover:               $pfe-global--color--white,

  ui-complement:                      $pfe-global--color--gray-iron,
  ui-complement--hover:               $pfe-global--color--black-nero,
  ui-complement--text:                $pfe-global--color--white,
  ui-complement--text--hover:         $pfe-global--color--white,

  ui-accent:                          $pfe-global--color--red,
  ui-accent--hover:                   $pfe-global--color--red-maroon,
  ui-accent--text:                    $pfe-global--color--white,
  ui-accent--text--hover:             $pfe-global--color--white,

  ui-disabled:                        $pfe-global--disabled-state--BackgroundColor,
  ui-disabled--hover:                 $pfe-global--disabled-state--BackgroundColor,
  ui-disabled--text:                  $pfe-global--disabled-state--Color,
  ui-disabled--text--hover:           $pfe-global--disabled-state--Color,


  // ========================================================================
  // Base Surface Colors for Container elements
  // ========================================================================

  // Lightest group
  surface--lightest:                  $pfe-global--color--white,
  surface--lightest--text:            $pfe-global--text-color,
  surface--lightest--link:            $pfe-global--link-color,
  surface--lightest--link--visited:   $pfe-global--link-color--visited,
  surface--lightest--link--hover:     $pfe-global--link-color--hover,
  surface--lightest--link--focus:     $pfe-global--link-color--focus,

  // Lighter group
  surface--lighter:                   $pfe-global--color--gray-moon,
  surface--lighter--text:             $pfe-global--text-color,
  surface--lighter--link:             $pfe-global--link-color,
  surface--lighter--link--visited:    $pfe-global--link-color--visited,
  surface--lighter--link--hover:      $pfe-global--link-color--hover,
  surface--lighter--link--focus:      $pfe-global--link-color--focus,

  // Base group
  surface--base:                      $pfe-global--color--gray-mercury,
  surface--base--text:                $pfe-global--text-color,
  surface--base--link:                $pfe-global--link-color,
  surface--base--link--visited:       $pfe-global--link-color--visited,
  surface--base--link--hover:         $pfe-global--link-color--hover,
  surface--base--link--focus:         $pfe-global--link-color--focus,

  // Darker group
  surface--darker:                    $pfe-global--color--gray-iron,
  surface--darker--text:              $pfe-global--text-color--inverted,
  surface--darker--link:              $pfe-global--link-color--inverted,
  surface--darker--link--visited:     $pfe-global--link-color--inverted--visited,
  surface--darker--link--hover:       $pfe-global--link-color--inverted--hover,
  surface--darker--link--focus:       $pfe-global--link-color--inverted--focus,

  // Darkest group
  surface--darkest:                   $pfe-global--color--black-nero,
  surface--darkest--text:             $pfe-global--text-color--inverted,
  surface--darkest--link:             $pfe-global--link-color--inverted,
  surface--darkest--link--visited:    $pfe-global--link-color--inverted--visited,
  surface--darkest--link--hover:      $pfe-global--link-color--inverted--hover,
  surface--darkest--link--focus:      $pfe-global--link-color--inverted--focus,

  // Complement group
  surface--complement:                $pfe-global--color--blue-rain,
  surface--complement--text:          $pfe-global--text-color--inverted,
  surface--complement--link:          $pfe-global--text-color--inverted,
  surface--complement--link--visited: $pfe-global--text-color--inverted,
  surface--complement--link--hover:   darken($pfe-global--text-color--inverted, 10%),
  surface--complement--link--focus:   darken($pfe-global--text-color--inverted, 10%),


  // Accent group
  surface--accent:                    $pfe-global--color--red,
  surface--accent--text:              $pfe-global--text-color--inverted,
  surface--accent--link:              $pfe-global--text-color--inverted,
  surface--accent--link--visited:     $pfe-global--text-color--inverted,
  surface--accent--link--hover:       darken($pfe-global--text-color--inverted, 10%),
  surface--accent--link--focus:       darken($pfe-global--text-color--inverted, 10%),


  /* Palette of Border Colors */
  surface--border:                    $pfe-global--border--BorderColor,
  surface--border--lightest:          $pfe-global--border--BorderColor--light,
  surface--border--darkest:           $pfe-global--border--BorderColor--dark,


  // ========================================================================
  // Base Feedback Colors for messaging, errors, etc.
  // ========================================================================

  /* Palette of Feedback Colors */
  feedback--critical:                 #f44336,
  feedback--critical--lightest:       #ffebee,
  feedback--critical--darkest:        #b71c1c,

  feedback--important:                #ff5722,
  feedback--important--lightest:      #fbe9e7,
  feedback--important--darkest:       #bf360c,

  feedback--moderate:                 #ff8f00,
  feedback--moderate--lightest:       #fff8e1,
  feedback--moderate--darkest:        #bd5200,

  feedback--success:                  #2e7d32,
  feedback--success--lightest:        #e8f5e9,
  feedback--success--darkest:         #1b5e20,

  feedback--info:                     #0277bd,
  feedback--info--lightest:           #e1f5fe,
  feedback--info--darkest:            #01579b,

  feedback--default:                  #606060,
  feedback--default--lightest:        #dfdfdf,
  feedback--default--darkest:         #464646,

);

$cp-vars: (
  container-spacer:              pfe-size-prem(16px),
  container-padding:             pfe-size-prem(16px),
  content-spacer:                pfe-size-prem(16px),

  font-size:                     16px,
  line-height:                   1.5,

  font-family:                   '"Overpass", Overpass, Helvetica, helvetica, arial, sans-serif',
  font-family--heading:          '"Overpass", Overpass, Helvetica, helvetica, arial, sans-serif',
  font-family--code:             '"Overpass Mono", Consolas, Monaco, 'Andale Mono', monospace',

  font-size--heading--alpha:     $pfe-global--FontSize--heading--xxl,
  font-size--heading--beta:      $pfe-global--FontSize--heading--xl,
  font-size--heading--gamma:     $pfe-global--FontSize--heading--lg,
  font-size--heading--delta:     $pfe-global--FontSize--heading--md,
  font-size--heading--epsilon:   $pfe-global--FontSize--heading--sm,
  font-size--heading--zeta:      $pfe-global--FontSize--heading--xs,

  link--text-decoration:         underline,
  link--text-decoration--hover:  underline,

  surface--border-width:         1px,
  surface--border-style:         solid,
  surface--border-radius:        0,
  ui--border-width:              1px,
  ui--border-style:              solid,
  ui--border-radius:             2px,

  box-shadow--sm:                '0  #{pfe-size-prem(1)}  #{pfe-size-prem(2)} 0 rgba(#{$pfe-global--color--gray12}, .2)',
  box-shadow--md:                '0  #{pfe-size-prem(2)}  #{pfe-size-prem(1)} #{pfe-size-prem(1)} rgba(#{$pfe-global--color--gray12}, .12), 0  #{pfe-size-prem(4)}  #{pfe-size-prem(11)} #{pfe-size-prem(6)} rgba(#{$pfe-global--color--gray12}, .05)',
  box-shadow--lg:                '0  #{pfe-size-prem(3)}  #{pfe-size-prem(7)} #{pfe-size-prem(3)} rgba(#{$pfe-global--color--gray12}, .13), 0  #{pfe-size-prem(11)}  #{pfe-size-prem(24)} #{pfe-size-prem(16)} rgba(#{$pfe-global--color--gray12}, .12)',
  box-shadow--inset:             'inset 0 0 #{pfe-size-prem(10)} 0 rgba(#{$pfe-global--color--gray12}, .25)',

  animation-timing:              cubic-bezier(0.465, 0.183, 0.153, 0.946),
);
