@import "../red-hat-sass/red-hat";
@import "./cp-maps";
// @import "../node_modules/normalize-scss/sass/normalize";

:root {
  @each $cssvar, $varstack in $cp-colors {

    --rh-theme--color--#{$cssvar}: #{$varstack};
  }

  @each $cssvar, $varstack in $cp-vars {

    --rh-theme--#{$cssvar}: #{$varstack};
  }
}

// Normalize
// @include normalize();


*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: var(--rh-theme--font-family);
  font-size: var(--rh-theme--font-size);
  line-height: var(--rh-theme--line-height);
}

a {
  color: var(--rh-broadcasted--color--ui-link, #{map-get($cp-colors, 'ui-link')});
}

a:visited {
  color: var(--rh-broadcasted--color--ui-link--visited, var(--rh-broadcasted--color--ui-link, #{map-get($cp-colors, 'ui-link--visited')}));
}

a:hover {
  color: var(--rh-broadcasted--color--ui-link--hover, var(--rh-broadcasted--color--ui-link, #{map-get($cp-colors, 'ui-link--hover')}));
}

a:focus {
  color: var(--rh-broadcasted--color--ui-link--focus, var(--rh-broadcasted--color--ui-link, #{map-get($cp-colors, 'ui-link--focus')}));
}

p {
  margin: 1em 0;
}
